@model WebUI.Areas.UserManagement.Models.UserFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="form-horizontal">
    @Html.HiddenFor(model => model.UserId)

    <div class="form-group" style="border-bottom: 1px solid #eee">
        <p>Assign roles to <b>@Model.UserName</b></p>
    </div>

    <div class="form-group">
        <div class="full-width gutter-left gutter-right ">
            <div class="half-width pull-left w-50" for="optional">
                <div>Available Roles</div>
                <select id="optional" ></select>
            </div>
            
            <div class="half-width pull-right gutter-left-5 w-50" for="selected">
                <div>Selected Roles</div>
                <select id="selected" ></select>
            </div>
            
        </div>
    </div>
</div>
