@model WebUI.Areas.UserManagement.Models.UserFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.User);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", ViewBag.Breadcrumb, TitleSite.Edit);
    }

    backLink = Url.Action(ActionSite.Index);
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins minimalize-analysis">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                @*<div class="mb-2"><small>@Html.Raw(Resources.AppGlobalMessage.FillRequiredField)</small></div>*@
                @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.CurrentUserName)
                    @Html.HiddenFor(model => model.Approve)
                    @Html.HiddenFor(model => model.ConfirmPassword)
                    @Html.HiddenFor(model => model.CurrentEmail)
                    @Html.HiddenFor(model => model.CurrentUserName)
                    @Html.HiddenFor(model => model.RequireSecretQuestionAndAnswer)
                    @Html.HiddenFor(model => model.SecretAnswer)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.SecretQuestion)
                    @Html.HiddenFor(model => model.UserName)
                  
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control always-validate", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AreaId, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.AreaId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

					<div class="form-group">
						@Html.LabelFor(model => model.FullName, new { @class = "col-xs-2 control-label" })
						<div class="col-xs-4">
							@Html.TextBoxFor(model => model.FullName, new { @class = "form-control always-validate" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Position, new { @class = "col-xs-2 control-label" })
						<div class="col-xs-4">
							@Html.TextBoxFor(model => model.Position, new { @class = "form-control always-validate" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.EmployeeNo, new { @class = "col-xs-2 control-label" })
						<div class="col-xs-4">
							@Html.TextBoxFor(model => model.EmployeeNo, new { @class = "form-control always-validate" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.SignatureFilePath, new { @class = "col-xs-2 control-label" })
						<div class="col-xs-4">
							@if (Model.SignatureFilePath != null)
							{
								<a target="_blank" href="@Url.Content(Model.SignatureFilePath)">@Model.SignatureFileName</a>
							}
							@Html.TextBox("files", "", new
						    {
							    @class = "form-control-upload",
							    type = "file",
							    id = "files",
							    accept = "image/*"
						    })
						</div>
					</div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label"></label>
                        <div class="col-xs-10">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <a href="@backLink" class="btn btn-link">Batal</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section styles
{
    <style>
        .remove-padding {
            padding-left: 0;
        }
    </style>
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            initElement();
        });

        function initElement() {
			dropdownListGenerator($("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA_USER", "@Field.Name", "@Component.OptionLabelAreaAll");
			bindSignatureFileUpload();
		}

		function bindSignatureFileUpload() {
            var upload = $("#files").data("kendoUpload");

            if (upload != null) {
                upload.bind({
					success: onSuccess,
					upload: (function (e) {
						var guid;
						guid = e.files[0].uid;
						e.data = {
							ids: guid
						};
					})
				});
            }
        }

        function onSuccess(e) {
            if (e.operation == "upload") {
                e.response.forEach(function (response, idx) {
					$.ajax({
                        url: "@Url.Action(ActionSite.CreateSignatureFile)",
						type: "POST",
						data: { userId: "@Model.UserId", userName: "@Model.UserName", filePath: response.FilePath },
						success: function (result) {
                            if (result.Success === true) {

                            }
                            else {
                                swal("Error", data.Message, "error");
                            }
                        },
						error: function (xhr, ajaxOptions, thrownError) {
                            swal("Server Error. Harap hubungi administrator");
                        }
                    });
                });
            }
        }

    </script>
}
