﻿@using WebUI.Models
@model WebUI.Areas.OperationData.Models.InputPlanFormStub
@{
	string currentController = (string)ViewContext.RouteData.Values["controller"];
	string currentAction = (string)ViewContext.RouteData.Values["action"];
	var thisController = (WebUI.Areas.OperationData.Controllers.InputPlanController)ViewContext.Controller;

	ViewBag.Title = TitleSite.InputPlan;

	string backLink = Url.Action(ActionSite.Index);
	var user = User as Principal;
}

@Html.Raw(thisController.GetMessage())

<div class="ibox">
	<div class="ibox-title">
		<h5>Input Plan @(Model.PowerPlant != null ? "- " + Model.PowerPlant.Name + " Tahun " + Model.Year : "")</h5>
	</div>
	<div class="ibox-content">
		@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "CreateForm" }))
		{
			@Html.ValidationSummary(true)

			@Html.HiddenFor(model => model.IsReadyInput)

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="col-xs-2 control-label">Area</label>
						<div class="col-xs-3">
							@Html.TextBoxFor(model => model.PowerPlant.AreaId, new { @id = "AreaId" })
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">Power Plant</label>
						<div class="col-xs-3">
							@Html.TextBoxFor(model => model.PowerPlantId, new { @class = "always-validate" })
							@Html.ValidationMessageFor(model => model.PowerPlantId)
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">Tahun</label>
						<div class="col-xs-3">
							@Html.TextBoxFor(model => model.Year, new { @class = "always-validate" })
							@Html.ValidationMessageFor(model => model.Year)
						</div>
					</div>
				</div>
			</div>
			
			<div class="row" id="inputPlanDetail" style="@(Model.IsReadyInput ? "" : "display: none")">
				<div class="col-xs-12">
					<div class="form-group">
						@foreach (Month month in (Month[])Enum.GetValues(typeof(Month)))
						{
							string curPopupId = "popup-" + (int)month;
							int daysInMonth = DateTime.DaysInMonth(Model.Year, (int)month);
							ProductionPlanDetailFormStub curProductionPlanDetailSteam = Model.ProductionPlanSteam.ProductionPlanDetails.FirstOrDefault(y => y.Month == (int)month);
							ProductionPlanDetailFormStub curProductionPlanDetailElectric = Model.ProductionPlanElectric.ProductionPlanDetails.FirstOrDefault(y => y.Month == (int)month);

							for (int i = 0; i < daysInMonth; i++)
							{
								ProductionPlanDailyFormStub curProductionPlanDailySteam = curProductionPlanDetailSteam.ProductionPlanDailies.First(y => y.Day == i + 1);
								ProductionPlanDailyFormStub curProductionPlanDailyElectric = curProductionPlanDetailElectric.ProductionPlanDailies.First(y => y.Day == i + 1);

								@Html.HiddenFor(x => curProductionPlanDailySteam.Id, new { namer = "ProductionPlanSteam.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanDailies[" + i + "].Id", @nameRebind = "true", @month = (int)month })
								@Html.HiddenFor(x => curProductionPlanDailySteam.ProductionPlanDetailId, new { namer = "ProductionPlanSteam.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanDailies[" + i + "].ProductionPlanDetailId", @nameRebind = "true", @month = (int)month })
								@Html.HiddenFor(x => curProductionPlanDailySteam.Day, new { namer = "ProductionPlanSteam.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanDailies[" + i + "].Day", @nameRebind = "true", @month = (int)month })
								@Html.HiddenFor(x => curProductionPlanDailySteam.Value, new { id = "U-" + ((int)month) + "-" + (i + 1), namer = "ProductionPlanSteam.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanDailies[" + i + "].Value", @nameRebind = "true", @month = (int)month })
								@Html.HiddenFor(x => curProductionPlanDailyElectric.Id, new { namer = "ProductionPlanElectric.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanDailies[" + i + "].Id", @nameRebind = "true", @month = (int)month })
								@Html.HiddenFor(x => curProductionPlanDailyElectric.ProductionPlanDetailId, new { namer = "ProductionPlanElectric.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanDailies[" + i + "].ProductionPlanDetailId", @nameRebind = "true", @month = (int)month })
								@Html.HiddenFor(x => curProductionPlanDailyElectric.Day, new { namer = "ProductionPlanElectric.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanDailies[" + i + "].Day", @nameRebind = "true", @month = (int)month })
								@Html.HiddenFor(x => curProductionPlanDailyElectric.Value, new { id = "L-" + ((int)month) + "-" + (i + 1), namer = "ProductionPlanElectric.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanDailies[" + i + "].Value", @nameRebind = "true", @month = (int)month })
							}

							<div id="@curPopupId" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">@month.ToDescription()</h4>
										</div>
										<div class="modal-body form-horizontal">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th scope="col">Tanggal</th>
														<th scope="col">Uap (Ton)</th>
														<th scope="col">Listrik (MWh)</th>
														<th scope="col">Effective</th>
													</tr>
												</thead>
												<tbody>
													@{			bool IsEffectiveAll = false;
													}
													@for (int i = 0; i < daysInMonth; i++)
													{
														ProductionPlanDailyFormStub curProductionPlanDailySteam = curProductionPlanDetailSteam.ProductionPlanDailies.First(y => y.Day == i + 1);
														ProductionPlanDailyFormStub curProductionPlanDailyElectric = curProductionPlanDetailElectric.ProductionPlanDailies.First(y => y.Day == i + 1);
														bool IsEffective = curProductionPlanDailySteam.Value + curProductionPlanDailyElectric.Value > 0;
														<tr>
															<th>@(i + 1)</th>
															<td scope="row">
																<input type="text" id="popup-U-daily-@((int)month)-@(i + 1)" class="form-control-decimal-n4" month=@((int)month) day=@(i + 1) @(IsEffective ? "" : "readonly='readonly'") value="@curProductionPlanDailySteam.Value" />
															</td>
															<td scope="row">
																<input type="text" id="popup-L-daily-@((int)month)-@(i + 1)" class="form-control-decimal-n4" month=@((int)month) day=@(i + 1) @(IsEffective ? "" : "readonly='readonly'") value="@curProductionPlanDailyElectric.Value" />
															</td>
															<td scope="row">
																<input type="checkbox" name="IsEffective" id="@("popup-IsEffective-" + (int)month + "-" + (i + 1))" month="@((int)month)" day="@(i + 1)" @(IsEffective ? "checked='checked'" : "") />
															</td>
														</tr>
														IsEffectiveAll |= IsEffective;
													}
												</tbody>
												<tfoot>
													<tr>
														<th></th>
														<td scope="row">
															<input type="text" id="popup-U-monthly-@((int)month)" class="form-control-decimal-n4" month=@((int)month) @(IsEffectiveAll ? "" : "readonly='readonly'") value="@curProductionPlanDetailSteam.Value" />
														</td>
														<td scope="row">
															<input type="text" id="popup-L-monthly-@((int)month)" class="form-control-decimal-n4" month=@((int)month) @(IsEffectiveAll ? "" : "readonly='readonly'") value="@curProductionPlanDetailElectric.Value" />
														</td>
														<td scope="row">
															<input type="checkbox" name="IsEffectiveAll" id="@("popup-IsEffectiveAll-" + (int)month)" month="@((int)month)" @(IsEffectiveAll ? "checked='checked'" : "") />
														</td>
													</tr>
												</tfoot>
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary btnSetDaily" month="@((int)month)" curPopupId="@curPopupId">OK</button>
										</div>
									</div>
								</div>
							</div>
						}
					</div>

					<hr />

					@Html.HiddenFor(x => x.ProductionPlanSteam.Id)
					@Html.HiddenFor(x => x.ProductionPlanElectric.Id)
					@Html.HiddenFor(x => x.ProductionPlanDaysEffective.Id)
					@Html.HiddenFor(x => x.ProductionPlanSteam.PowerPlantId)
					@Html.HiddenFor(x => x.ProductionPlanElectric.PowerPlantId)
					@Html.HiddenFor(x => x.ProductionPlanDaysEffective.PowerPlantId)
					@Html.HiddenFor(x => x.ProductionPlanSteam.Year)
					@Html.HiddenFor(x => x.ProductionPlanElectric.Year)
					@Html.HiddenFor(x => x.ProductionPlanDaysEffective.Year)
					@Html.HiddenFor(x => x.ProductionPlanSteam.UtilType)
					@Html.HiddenFor(x => x.ProductionPlanElectric.UtilType)
					@Html.HiddenFor(x => x.ProductionPlanDaysEffective.UtilType)

					<div id="gridInputPlan">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th scope="col">Bulan</th>
									@foreach (Month month in (Month[])Enum.GetValues(typeof(Month)))
									{
										<th scope="col">
											@month.ToDescription()
											<a class="k-button-icon" href="#" onclick="$('#popup-@((int)month)').modal('show');">
												<span data-toggle="tooltip" data-placement="auto bottom" title="Edit" class="glyphicon glyphicon-edit"></span>
											</a>
										</th>
									}
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Uap (Ton)</th>
									@foreach (Month month in (Month[])Enum.GetValues(typeof(Month)))
									{
										<td scope="row">
											@Html.HiddenFor(x => x.ProductionPlanSteam.ProductionPlanDetails.First(y => y.Month == (int)month).Id, new { namer = "ProductionPlanSteam.ProductionPlanDetails[" + ((int)month - 1) + "].Id", @nameRebind = "true" })
											@Html.HiddenFor(x => x.ProductionPlanSteam.ProductionPlanDetails.First(y => y.Month == (int)month).ProductionPlanId, new { namer = "ProductionPlanSteam.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanId", @nameRebind = "true" })
											@Html.HiddenFor(x => x.ProductionPlanSteam.ProductionPlanDetails.First(y => y.Month == (int)month).Month, new { namer = "ProductionPlanSteam.ProductionPlanDetails[" + ((int)month - 1) + "].Month", @nameRebind = "true" })
											@Html.TextBoxFor(x => x.ProductionPlanSteam.ProductionPlanDetails.First(y => y.Month == (int)month).Value, new { id = ((int)month) + "-U", namer = "ProductionPlanSteam.ProductionPlanDetails[" + ((int)month - 1) + "].Value", @class = "form-control-decimal-n4", @nameRebind = "true", @readonly = "readonly" })
										</td>
									}
								</tr>
								<tr>
									<th>Listrik (MWh)</th>
									@foreach (Month month in (Month[])Enum.GetValues(typeof(Month)))
									{
										<td scope="row">
											@Html.HiddenFor(x => x.ProductionPlanElectric.ProductionPlanDetails.First(y => y.Month == (int)month).Id, new { namer = "ProductionPlanElectric.ProductionPlanDetails[" + ((int)month - 1) + "].Id", @nameRebind = "true" })
											@Html.HiddenFor(x => x.ProductionPlanElectric.ProductionPlanDetails.First(y => y.Month == (int)month).ProductionPlanId, new { namer = "ProductionPlanElectric.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanId", @nameRebind = "true" })
											@Html.HiddenFor(x => x.ProductionPlanElectric.ProductionPlanDetails.First(y => y.Month == (int)month).Month, new { namer = "ProductionPlanElectric.ProductionPlanDetails[" + ((int)month - 1) + "].Month", @nameRebind = "true" })
											@Html.TextBoxFor(x => x.ProductionPlanElectric.ProductionPlanDetails.First(y => y.Month == (int)month).Value, new { id = ((int)month) + "-L", namer = "ProductionPlanElectric.ProductionPlanDetails[" + ((int)month - 1) + "].Value", @class = "form-control-decimal-n4", @nameRebind = "true", @readonly = "readonly" })
										</td>
									}
								</tr>
								<tr>
									<th>Days Effective (Day)</th>
									@foreach (Month month in (Month[])Enum.GetValues(typeof(Month)))
									{
										<td scope="row">
											@Html.HiddenFor(x => x.ProductionPlanDaysEffective.ProductionPlanDetails.First(y => y.Month == (int)month).Id, new { namer = "ProductionPlanDaysEffective.ProductionPlanDetails[" + ((int)month - 1) + "].Id", @nameRebind = "true" })
											@Html.HiddenFor(x => x.ProductionPlanDaysEffective.ProductionPlanDetails.First(y => y.Month == (int)month).ProductionPlanId, new { namer = "ProductionPlanDaysEffective.ProductionPlanDetails[" + ((int)month - 1) + "].ProductionPlanId", @nameRebind = "true" })
											@Html.HiddenFor(x => x.ProductionPlanDaysEffective.ProductionPlanDetails.First(y => y.Month == (int)month).Month, new { namer = "ProductionPlanDaysEffective.ProductionPlanDetails[" + ((int)month - 1) + "].Month", @nameRebind = "true" })
											@Html.TextBoxFor(x => x.ProductionPlanDaysEffective.ProductionPlanDetails.First(y => y.Month == (int)month).Value, new { id = ((int)month) + "-D", namer = "ProductionPlanDaysEffective.ProductionPlanDetails[" + ((int)month - 1) + "].Value", @class = "form-control-numeric", @nameRebind = "true", @min = 1, @max = 31, @readonly = "readonly" })
										</td>
									}
								</tr>
							</tbody>
						</table>
					</div>
					<br />
					<div class="form-group">
						<div class="col-xs-10">
							<button id="btnSave" type="button" class="btn btn-warning">Simpan</button>
							<a href="@backLink" class="btn btn-link">Kembali</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@section scripts
{
	<script type="text/javascript">

		$(function () {
			initElement();
		});

		function initElement() {
			// form functions
			bindAreaId();
			bindPowerPlantId();
			bindYear();
			bindBtnSave();

			// popup functions
			bindBtnSetDaily();
			bindChangePlanDaily();
			bindChangeEffective();
			bindChangePlanMonthly();
			bindChangeEffectiveAll();
		}

        function bindAreaId() {
            var optionLabel = "@Component.OptionLabel";
            @if (!user.AreaId.HasValue || user.AreaId == 0)
            {
                @:optionLabel = "@Component.OptionLabelAreaAll";
            }

            var dropdown = dropdownListGenerator($("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA", "@Field.Name", optionLabel);
			bindChangeAreaId();
		}

		function bindPowerPlantId() {
			var dropdown = dropdownListGenerator($("#@Field.PowerPlantId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.POWERPLANT", "@Field.Name", "@Component.OptionLabel", false, [$("#@Field.AreaId").val(), null, null, null]);
			bindChangePowerPlantId();
		}

		function bindYear() {
			var dropdown = dropdownListGenerator($("#@Field.Year"), "@Url.Action(ActionSite.BindingYear)", "", "@Field.Name", "@Component.OptionLabel", false, [@Model.Year]);
			bindChangeYear();
		}

        function bindChangeAreaId() {
            var dropdownlist = $("#@Field.AreaId").data("kendoDropDownList");

			dropdownlist.bind("change", function () {
				if ($("#@Field.AreaId").val() != "") {
					bindPowerPlantId();
				} else {

				}
			});
		}

		function bindChangePowerPlantId() {
			var dropdownlist = $("#@Field.PowerPlantId").data("kendoDropDownList");

			dropdownlist.bind("change", function () {
				if ($("#@Field.PowerPlantId").val() != "") {
					bindYear();
				} else {

				}
				checkDropdownChange();
			});
		}

        function bindChangeYear() {
			$("#@Field.Year").on("change", function () {
				checkDropdownChange();
			});
		}

		function checkDropdownChange() {
			if (($("#@Field.PowerPlantId").val() != "0") && ($("#@Field.Year").val() != "")) {
				window.location.href = "@Url.Action(ActionSite.Check)" + "?powerPlantId=" + $("#@Field.PowerPlantId").val() + "&year=" + $("#@Field.Year").val();
			}
		}

		function bindBtnSave() {
			$("#btnSave").click(function (e) {
				e.preventDefault();

				$("[id|=U], [id|=L], [id$=U], [id$=L]").each(function (index, elem) {
					var fixedVal = $(elem).val().replace('.', ',');
					$(elem).val(fixedVal);
				});

				$("#CreateForm").submit();
			})
		}

		function bindBtnSetDaily() {
			$(".btnSetDaily").on("click", function (e) {
				e.preventDefault();

				var month = $(this).attr("month");
				var curPopupId = $(this).attr("curPopupId");

				var plan = 0;
				var effectiveDay = 0;
				$("[id|=popup-U-daily-" + month + "]").each(function (index, elem) {
					var dailyValue = parseFloat($(elem).val().replace(',', '.'));
					var curDay = $(elem).attr("day");
					plan += dailyValue;
					$("#U-" + month + "-" + curDay).val(dailyValue);

					if ($("#popup-IsEffective-" + month + "-" + curDay).is(":checked")) {
						effectiveDay++;
					}
				});
				$("#" + month + "-U").data("kendoNumericTextBox").value(plan);

				plan = 0;
				$("[id|=popup-L-daily-" + month + "]").each(function (index, elem) {
					var dailyValue = parseFloat($(elem).val().replace(',', '.'));
					var curDay = $(elem).attr("day");
					plan += dailyValue;
					$("#L-" + month + "-" + curDay).val(dailyValue);
				});
				$("#" + month + "-L").data("kendoNumericTextBox").value(plan);

				$("#" + month + "-D").data("kendoNumericTextBox").value(effectiveDay);

				$("#" + curPopupId).modal('hide');
			});
		}

		function bindChangePlanDaily() {
			$("[id|=popup-U-daily], [id|=popup-L-daily]").on("change", function () {
				var curMonth = $(this).attr("month");
				calculatePlan(curMonth);
			});
		}

		function bindChangePlanMonthly() {
			// uap
			$("[id|=popup-U-monthly]").on("change", function () {
				var curMonth = $(this).attr("month");

				// hitung jumlah hari efektif nya
				var effectiveDay = 0;
				$("[id|=popup-U-daily-" + curMonth + "]").each(function (index, elem) {
					var curDay = $(elem).attr("day");
					if ($("#popup-IsEffective-" + curMonth + "-" + curDay).is(":checked")) {
						effectiveDay++;
					}
				});

				if (effectiveDay > 0) {
					// hitung daily plan nya
					var monthlyValue = parseFloat($(this).val().replace(',', '.'));
					var dailyValue = Math.floor(100 * monthlyValue / effectiveDay) / 100;
					var valueDifference = monthlyValue - (dailyValue * effectiveDay);

					// masukin value nya
					$("[id|=popup-U-daily-" + curMonth + "]").each(function (index, elem) {
						var curDay = $(elem).attr("day");
						if ($("#popup-IsEffective-" + curMonth + "-" + curDay).is(":checked")) {
							$(elem).data("kendoNumericTextBox").value(dailyValue);
						}
					});
					//while (valueDifference > 0) {
						$("[id|=popup-U-daily-" + curMonth + "]").each(function (index, elem) {
							var curDay = $(elem).attr("day");
							if ($("#popup-IsEffective-" + curMonth + "-" + curDay).is(":checked")) {
								var curValue = $(elem).data("kendoNumericTextBox").value();
								$(elem).data("kendoNumericTextBox").value(curValue + (valueDifference >= 0.009 ? 0.01 : 0));
								valueDifference = valueDifference - 0.01;
							}
						});
					//}

					calculatePlan(curMonth);
				} else {
					$(this).data("kendoNumericTextBox").value(0);
				}
			});

			// listrik
			$("[id|=popup-L-monthly]").on("change", function () {
				var curMonth = $(this).attr("month");

				// hitung jumlah hari efektif nya
				var effectiveDay = 0;
				$("[id|=popup-L-daily-" + curMonth + "]").each(function (index, elem) {
					var curDay = $(elem).attr("day");
					if ($("#popup-IsEffective-" + curMonth + "-" + curDay).is(":checked")) {
						effectiveDay++;
					}
				});

				if (effectiveDay > 0) {
					// hitung daily plan nya
					var monthlyValue = Math.floor(100 * parseFloat($(this).val().replace(',', '.'))) / 100;
					var dailyValue = Math.floor(100 * monthlyValue / effectiveDay) / 100;
					var valueDifference = monthlyValue - (dailyValue * effectiveDay);

					// masukin value nya
					$("[id|=popup-L-daily-" + curMonth + "]").each(function (index, elem) {
						var curDay = $(elem).attr("day");
						if ($("#popup-IsEffective-" + curMonth + "-" + curDay).is(":checked")) {
							$(elem).data("kendoNumericTextBox").value(dailyValue);
						}
					});
					//while (valueDifference > 0) {
						$("[id|=popup-L-daily-" + curMonth + "]").each(function (index, elem) {
							var curDay = $(elem).attr("day");
							if ($("#popup-IsEffective-" + curMonth + "-" + curDay).is(":checked")) {
								var curValue = $(elem).data("kendoNumericTextBox").value();
								$(elem).data("kendoNumericTextBox").value(curValue + (valueDifference >= 0.009 ? 0.01 : 0));
								valueDifference = valueDifference - 0.01;
							}
						});
					//}

					calculatePlan(curMonth);
				} else {
					$(this).data("kendoNumericTextBox").value(0);
				}
			});
		}

		function bindChangeEffective() {
			$("[id|='popup-IsEffective']").on("change", function () {
				var curMonth = $(this).attr("month");
				var curDay = $(this).attr("day");

				if ($(this).is(":checked")) {
					$("#popup-U-daily-" + curMonth + "-" + curDay).data("kendoNumericTextBox").readonly(false);
					$("#popup-L-daily-" + curMonth + "-" + curDay).data("kendoNumericTextBox").readonly(false);
				} else {
					$("#popup-U-daily-" + curMonth + "-" + curDay).data("kendoNumericTextBox").value(0);
					$("#popup-U-daily-" + curMonth + "-" + curDay).data("kendoNumericTextBox").readonly(true);
					$("#popup-L-daily-" + curMonth + "-" + curDay).data("kendoNumericTextBox").value(0);
					$("#popup-L-daily-" + curMonth + "-" + curDay).data("kendoNumericTextBox").readonly(true);
				}

				calculatePlan(curMonth);
			});
		}

		function bindChangeEffectiveAll() {
			$("[id|='popup-IsEffectiveAll']").on("change", function () {
				var curMonth = $(this).attr("month");

				if ($(this).is(":checked")) {
					$("[id|=popup-IsEffective-" + curMonth + "]").prop("checked", true);
					$("#popup-U-monthly-" + curMonth).data("kendoNumericTextBox").readonly(false);
					$("#popup-L-monthly-" + curMonth).data("kendoNumericTextBox").readonly(false);
					$("[id|=popup-U-daily-" + curMonth + "], [id|=popup-L-daily-" + curMonth + "]").each(function (index, elem) {
						$(elem).data("kendoNumericTextBox").readonly(false);
					});
				} else {
					$("[id|=popup-IsEffective-" + curMonth + "]").prop("checked", false);
					$("#popup-U-monthly-" + curMonth).data("kendoNumericTextBox").value(0);
					$("#popup-U-monthly-" + curMonth).data("kendoNumericTextBox").readonly(true);
					$("#popup-L-monthly-" + curMonth).data("kendoNumericTextBox").value(0);
					$("#popup-L-monthly-" + curMonth).data("kendoNumericTextBox").readonly(true);
					$("[id|=popup-U-daily-" + curMonth + "], [id|=popup-L-daily-" + curMonth + "]").each(function (index, elem) {
						$(elem).data("kendoNumericTextBox").value(0);
						$(elem).data("kendoNumericTextBox").readonly(true);
					});
				}
			});
		}

		function calculatePlan(curMonth) {
			var plan = 0;
			$("[id|=popup-U-daily-" + curMonth + "]").each(function (index, elem) {
				var dailyValue = parseFloat($(elem).val().replace(',', '.'));
				plan += dailyValue;
			});
			$("#popup-U-monthly-" + curMonth).data("kendoNumericTextBox").value(plan);

			plan = 0;
			$("[id|=popup-L-daily-" + curMonth + "]").each(function (index, elem) {
				var dailyValue = parseFloat($(elem).val().replace(',', '.'));
				plan += dailyValue;
			});
			$("#popup-L-monthly-" + curMonth).data("kendoNumericTextBox").value(plan);
		}

		$(document).ready(function () {
			inputNameRebind();
		});

		function inputNameRebind() {
			$("[nameRebind=true]").each(function (idx, elem) {
				$(this).attr("name", $(this).attr("namer"));
			});
		}
	</script>
}
