﻿@{
	string currentController = (string)ViewContext.RouteData.Values["controller"];
	string currentAction = (string)ViewContext.RouteData.Values["action"];
	var thisController = (WebUI.Areas.OperationData.Controllers.InputPlanController)ViewContext.Controller;

	Principal user = User as Principal;
	ViewBag.Title = TitleSite.InputPlan;

}

<div class="row">
	<div class="form-group">
		@Html.Raw(thisController.GetMessage())
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12">
							<button id="btnCreate" type="button" class="btn btn-primary">Tambah Plan</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12">
							<div id="gridInputPlan"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts
{
    <script type="text/javascript">

		$(function () {
			initElement();
		});

		function initElement() {
			bindGridInputPlan();
			bindBtnCreate();
		}

		function bindGridInputPlan() {
			$("#gridInputPlan").kendoGrid({
				dataSource: {
					transport: {
						read:
						{
							url: "@Url.Action(ActionSite.BindingPlanSummary)",
							dataType: "@DataSource.DataType.Json",
							type: "@DataSource.Type.Post"
						},
						@*parameterMap: function(options, operation) {
							if (operation !== "@DataSource.Operation.Read" && options.models)
							{
								return kendo.stringify(options);
							}
							else
							{
								if (options.filter)
								{
									var filters = options.filter.filters;

									for (var i in filters)
									{
                                        var filter = filters[i];
                                        if (filter.field == "Area")
                                            filter.field = "Area.Name";
                                        else if (filter.field == "PowerPlant")
                                            filter.field = "Name";
									}
								}

								if (options.sort)
								{
									var sorts = options.sort;

									for (var i in sorts)
									{
                                        var sort = sorts[i];                                        
									}
								}

								options.args = [];

								return options;
							}
						}*@
					},
					schema:
					{
						@*data: "@DataSource.Schema.Property.Data",
						total: "@DataSource.Schema.Property.Total",*@
						model:
						{
							fields:
							{
								"Area": { type: "@DataSource.Schema.Type.String" },
								"PowerPlantId": { type: "@DataSource.Schema.Type.Number" },
								"PowerPlant": { type: "@DataSource.Schema.Type.String" },
								"@Field.Year": { type: "@DataSource.Schema.Type.Number" },
								"ElectricValue": { type: "@DataSource.Schema.Type.Number" },
								"SteamValue": { type: "@DataSource.Schema.Type.Number" },
								"DaysEffective": { type: "@DataSource.Schema.Type.Number" },
							}
						}
					},
					pageSize: 10,
					serverFiltering: false,
                    serverPaging: false,
                    serverSorting: false,
					sort: { field: "@Field.Year", dir: "@SortOrder.Descending.ToDescription()" }
				},
				filterable: kendoGridFilterable,
				pageable: { refresh: true,  pageSizes: true,  },
				sortable: true,
				dataBound: dataBoundInputPlan,
				columns: [
					{
						command: [
							{
								name: "edit",
								text: "@Component.Grid.Command.Edit",
								click: editItem,
								imageClass: "glyphicon glyphicon-edit",
								template: GRID_COMMAND_TEMPLATE
							},
							{
								name: "delete",
								text: "@Component.Grid.Command.Delete",
								click: deleteItem,
								imageClass: "glyphicon glyphicon-trash",
								template: GRID_COMMAND_TEMPLATE
							}
						],
						width: "70px",
						attributes: { "class": "command" }
					},
					{
						field: "Area",
						title: "Area",
						width: "120px",
					},
					{
						field: "PowerPlant",
						title: "Power Plant",
						width: "180px",
					},
					{
						field: "@Field.Year",
						title: "Tahun",
						width: "120px",
					},
					{
						template: $("#PlanValueTemplate").html(),
						title: "Value"
					}
				],
			});
		}

		function editItem(e) {
            e.preventDefault();
			var data = this.dataItem(getDataRowGrid(e));
			window.location.href = "@Url.Action(ActionSite.Edit)" + "?powerPlantId=" + data.PowerPlantId + "&year=" + data.Year;
		}

		function deleteItem(e) {
			e.preventDefault();
			var data = this.dataItem(getDataRowGrid(e));
			postToDeletePage("@Url.Action(ActionSite.DeletePlan)", { powerPlantId: data.PowerPlantId, year: data.Year }, this.dataSource);
			//deleteThenRedirect("@Url.Action(ActionSite.DeletePlan)", { powerPlantId: data.PowerPlantId, year: data.Year }, "@Url.Action(ActionSite.Index)");
		}

		function dataBoundInputPlan(e) {
			var grid = $("#gridInputPlan").data("kendoGrid");

			grid.tbody.find("tr[role=\"row\"]").each(function (i) {
				var data = grid.dataItem(this);
				var isEditable = false;
                var isDeletable = false;

				if ((data.Year + 1 >= @DateTime.Now.Year) || ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.Superadmin }).ToString()" === "True"))
				{
					isEditable = true;
					isDeletable = true;
				}

				if (!isEditable) {
					$(this).find(".k-grid-edit")
						.removeClass("k-grid-edit")
						.children().eq(0)
						.addClass("k-state-disabled")
						.attr("title", "Data tidak dapat diubah")
						.attr("data-html", true);
				}

				if (!isDeletable) {
					$(this).find(".k-grid-delete")
						.removeClass("k-grid-delete")
						.children().eq(0)
						.addClass("k-state-disabled")
						.attr("title", "Data tidak dapat dihapus")
						.attr("data-html", true);
				}
			});
		}

		function bindBtnCreate() {
			$("#btnCreate").on("click", function () {
				window.location.href = "@Url.Action(ActionSite.Create)";
			});
		}

    </script>   

	<script id="PlanValueTemplate" type="text/x-kendo-template">
		Listrik: #= Electric # MWh<br/>
		Uap: #= Steam # Ton
	</script> 
}