@{ 
    var user = User == null ? "" : User.Identity.Name;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/SecurityGuard/securityguard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/SecurityGuard/pagination.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/SecurityGuard/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="inner">
                <div class="title">
                    Security Guard Dashboard <span>powered by <a href="http://www.gizmobeach.com" target="_blank">Gizmo Beach</a></span></div>
                <div id="menu">
                    Welcome <strong>@user</strong>! [ @using (Html.BeginForm("LogOff", "SGAccount", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                                                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                                                    } ] | 
                    <a href="https://github.com/kahanu/Security-Guard" target="_blank">Help</a>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="inner">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
