﻿<div class="footer">
    @*<div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>*@
    <div>
        <strong>Copyright</strong> PT Rekadia Solusi Teknologi &copy; @DateTime.Now.Year
    </div>
</div>

