﻿@{
    var absoluteUri = HttpContext.Current.Request.Url.AbsoluteUri;
    var absolutePath = HttpContext.Current.Request.Url.AbsolutePath;
    var aplicationPath = HttpContext.Current.Request.ApplicationPath;
    var queryPath = HttpContext.Current.Request.Url.PathAndQuery;
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
    Request.ApplicationPath.TrimEnd('/') + "/";

    string host = Request.Url.Host;

    Uri uri = new Uri(absoluteUri);
    string hostUri = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port;
    string removeQuery = uri.GetLeftPart(UriPartial.Path);


    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <link href="~/logo.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/inspinia/css")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/sweet-alert/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>

<body class="top-navigation">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">
            <div class="row box-shadow white-bg">
                <!-- Navigation -->
                @Html.Partial("Inspinia/_Navigation")
            </div>
            <div class="wrapper wrapper-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox float-e-margins">
                                <!-- Breadcrumb and Title  -->
                                @{Html.RenderPartial("Inspinia/_Breadcrumb"); }
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="ibox float-e-margins">
                                <!-- Main view  -->
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                @{Html.RenderPartial("Inspinia/_Footer"); }
            </div>
        </div>
        <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->

    @Html.Partial("_GlobalObjectJs")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/sweet-alert")
    @Scripts.Render("~/plugins/metsiMenu")
    @Scripts.Render("~/plugins/slimScroll")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/inspinia")

    @Scripts.Render("~/bundles/webapp")
    @Scripts.Render("~/bundles/chart-js")
    @RenderSection("scripts", required: false)
</body>
</html>
