﻿
<ul class="nav navbar-top-links navbar-right">
    <li>
        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, @(User is Principal ? User.UserName : string.Empty)<span class="caret"></span></a>
        <ul class="dropdown-menu multi-level">
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i>Sign Out</a>

                @using (Html.BeginForm("LogOff", "Authentication", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                {
                    if (User != null)
                    {
                        @Html.AntiForgeryToken()
                    }
                }
            </li>
        </ul>
    </li>
   
</ul>