﻿@{
    string mobileView = "mobile";
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    bool isMobile = currentAction.ToLower() == mobileView;

}
<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle toggle-custom collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="#" class="navbar-brand">
            I-PGE
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="@Html.IsSelected(controller: ControllerSite.Home)">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span> <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                        <li><a href="@Url.Action(ActionSite.Executive, ControllerSite.Home, new { area = "" })">Executive</a></li> 
                        <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Home, new { area=""})">Operation</a></li>
                        <li><a href="@Url.Action(ActionSite.Financial, ControllerSite.Home, new { area=""})">Financial</a></li>
                    </ul>
            </li>
            @if (User != null && User.HasAccess(new UserRole?[] { UserRole.OPERATION_ADMIN, UserRole.OPERATION_OPERATOR, UserRole.OPERATION_SUPERVISOR, UserRole.RESERVOIR, UserRole.Superadmin }))
            {
                <li class="dropdown @Html.IsSelected(controller: ControllerSite.DataHistory, area: AreaSite.OperationData)">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-table"></i> <span class="nav-label">Data</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu multi-level">
                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.OPERATION_ADMIN, UserRole.OPERATION_OPERATOR, UserRole.OPERATION_SUPERVISOR, UserRole.Superadmin }))
                        {
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operation Data</a>
                                <ul class="dropdown-menu">
                                    @if (User != null && User.HasAccess(new UserRole?[] { UserRole.OPERATION_ADMIN, UserRole.Superadmin }))
                                    {
                                        <li><a href="@Url.Action(ActionSite.Index, ControllerSite.ReliabilityPlan, new { area = AreaSite.OperationData })">Reliability Plan</a></li>
                                        <li><a href="@Url.Action(ActionSite.Index, ControllerSite.InputPlan, new { area = AreaSite.OperationData })">Input Plan</a></li>
                                    }
                                    <li><a href="@Url.Action(ActionSite.Index, ControllerSite.InputData, new { area = AreaSite.OperationData })">Input Actual</a></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data History</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Action(ActionSite.PowerPlantHistory, ControllerSite.DataHistory, new { area = AreaSite.OperationData })">Power Plant</a></li>
                                            <li><a href="@Url.Action(ActionSite.DkpHistory, ControllerSite.DataHistory, new { area = AreaSite.OperationData })">Data Kondisi Pembangkit</a></li>
                                            <li><a href="@Url.Action(ActionSite.WellHistory, ControllerSite.DataHistory, new { area = AreaSite.OperationData })">Sumur</a></li>
                                            <li><a href="@Url.Action(ActionSite.SeparatorHistory, ControllerSite.DataHistory, new { area = AreaSite.OperationData })">Separator</a></li>
                                            <li><a href="@Url.Action(ActionSite.InterfaceScrubberHistory, ControllerSite.DataHistory, new { area = AreaSite.OperationData })">Interface Scrubber</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Monitoring, new { area = AreaSite.OperationData })">@TitleSite.Monitoring</a></li>
                                    <li><a href="@Url.Action("DownloadData", ControllerSite.InputData, new { area = AreaSite.OperationData })">Download Data</a></li>
                                </ul>
                            </li>
                        }
                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.RESERVOIR, UserRole.Superadmin }))
                        {
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Data, new { area = "" })">Reservoir Data</a></li>
                        }
                    </ul>
                </li>
            }
            @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.ASMEN, UserRole.MANAGER_AREA, UserRole.FINANCE_AREA, UserRole.PARTNERSHIP }))
            {
                <li>
                    <a href="@Url.Action(ActionSite.Index, ControllerSite.SalesOrder, new { area = AreaSite.SalesOrder })"><i class="fa fa-calendar-check-o"></i> <span class="nav-label">Sales Order</span></a>
                </li>
            }
            @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.FINANCE_CONTROLLER, UserRole.FINANCE_TREASURY }))
            {
                <li>
                    <a href="@Url.Action(ActionSite.Index, ControllerSite.Invoice, new { area = AreaSite.Invoice })"><i class="fa fa-money"></i> <span class="nav-label">Invoice</span></a>
                </li>
            }
            @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.ASMEN, UserRole.MANAGER_AREA, UserRole.OE_VERIFICATION, UserRole.MANAGER_OE, UserRole.OPERATION_OPERATOR, UserRole.OPERATION_SUPERVISOR }))
            {
                <li>
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-database"></i> <span class="nav-label">Data Master</span> <span class="caret"></span></a>

                    <ul class="dropdown-menu multi-level">
                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.ASMEN, UserRole.MANAGER_AREA, UserRole.OE_VERIFICATION, UserRole.MANAGER_OE }))
                        {
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintain Harga</a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action(ActionSite.Index, ControllerSite.MaintainPriceElectric, new { area = AreaSite.DataMaster })">Listrik</a></li>
                                    <li><a href="@Url.Action(ActionSite.Index, ControllerSite.MaintainPriceSteam, new { area = AreaSite.DataMaster })">Uap</a></li>
                                </ul>
                            </li>
                        }
                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin }))
                        {
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.ShipToParty, new { area = AreaSite.DataMaster })">Ship to Party</a></li>
                        }
                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.OPERATION_SUPERVISOR, UserRole.OPERATION_OPERATOR }))
                        { 
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Cluster, new { area = AreaSite.DataMaster })">Cluster</a></li>
                        }
                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.OPERATION_SUPERVISOR, UserRole.OPERATION_OPERATOR }))
                        {
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.Well, new { area = AreaSite.DataMaster })">Well</a></li>
                        }
                    </ul>
                </li>
            }
            @if (User != null && !User.HasAccess(new UserRole?[] { UserRole.MANAGEMENT}))
            {
                <li>
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-line-chart"></i> <span class="nav-label">Reporting</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu multi-level">
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financial Report</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action(ActionSite.Sales, ControllerSite.Report, new { area = AreaSite.Reporting })">Sales</a></li>
                                <li><a href="@Url.Action(ActionSite.BonusProduction, ControllerSite.Report, new { area = AreaSite.Reporting })">Bonus Production</a></li>
                                <li><a href="@Url.Action(ActionSite.KpiCollection, ControllerSite.Report, new { area = AreaSite.Reporting })">Invoice & Collect Periods</a></li>
                            </ul>
                        </li>

                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.OPERATION_ADMIN, UserRole.OPERATION_OPERATOR, UserRole.OPERATION_SUPERVISOR }))
                        {
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operation Report</a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action(ActionSite.DailyMonthly, ControllerSite.Report, new { area = AreaSite.Reporting })">Daily and Monthly Report</a></li>
                                    <li><a href="@Url.Action(ActionSite.Reliability, ControllerSite.Report, new { area = AreaSite.Reporting })">Reliability Report</a></li>
                                    <li><a href="@Url.Action(ActionSite.Management, ControllerSite.Report, new { area = AreaSite.Reporting })">Management Report</a></li>
                                </ul>
                            </li>
                        }
                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.RESERVOIR }))
                        {
                            <li><a href="@Url.Action(ActionSite.Geoscience, ControllerSite.Report, new { area = AreaSite.Reporting })">P&T Report</a></li>
                        }

                        @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.RESERVOIR }))
                        {
                            <li><a href="@Url.Action(ActionSite.Index, ControllerSite.ReservoirReport, new { area = AreaSite.Reporting })">@TitleSite.ReservoirReport</a></li>
                        }

                    </ul>
                </li>
            }
            @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin }))
            {
                <li><a href="@Url.Action(ActionSite.Index, ControllerSite.DownloadFormMiro, new { area = "" })">Download Form Miro</a></li>
            }

            @if (User != null && User.HasAccess(new UserRole?[] { UserRole.Superadmin }))
            {
                <li>
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="nav-label">Administration</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu multi-level">
                        <li>
                            <a href="@Url.Action(ActionSite.Index, ControllerSite.User, new { area = AreaSite.UserManagement })">User Management</a>
                        </li>
                        <li><a href="~/Download/User Manual IPGE.pdf" download>User Manual</a></li>

                    </ul>
                </li>
            }
        </ul>
        @{Html.RenderPartial("Inspinia/_LoginPartial"); }
    </div>
</nav>

