﻿<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pilih Target</h4>
            </div>
            <div class="modal-body">
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio_target" id="radio125" value="125" />
                        <label for="radio125">PTG dan PTGN</label>
                    </div>
                    <div class="funkyradio-primary">
                        <input type="radio" name="radio_target" id="radio150" value="150" />
                        <label for="radio150">Full AP/JV</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" onclick="submit('@ViewBag.urlCookies')" id="btnSubmit">Pilih</button>
            </div>
        </div>

    </div>
</div>