@model WebUI.Areas.UserManagement.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}
<h2>
    Forgot Password</h2>
<p>
    Enter your email address and your password will be reset and emailed to you.</p>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Reset your password</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <p>
            @Html.HiddenFor(model => model.RequireSecretQuestionAndAnswer)
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    $("#Email").focus();
</script>