@model WebUI.Areas.UserManagement.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password Success";
}

<h2>Password Reset Success</h2>

<p>Your new password has been emailed to you.</p>

<p>@Html.ActionLink("Login", "Login", "Authentication")</p>
