@model WebUI.Areas.Reporting.Models.ReportDailyMonthlyStub
@using WebUI.Models
@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc
@using WebUI.Controllers

@{
	ViewBag.Title = "Daily Monthly Report";
	//string baseUrl = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority;
	RouteValueDictionary route = new RouteValueDictionary(new { Area = "Reporting" });
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Parameter</h5>
            </div>
            <div class="panel-body">
				<div class="form-group row">
					<label class="col-xs-2">Report Type</label>
					<div class="col-xs-6 col-lg-3">
						<select id="reportType" class="form-control">
							<option value="daily">Daily</option>
							<option value="monthly">Monthly</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2">Area</label>
					<div class="col-xs-6 col-lg-3">
						@Html.DropDownListFor(model => model.AreaId, Model.AreaDropdown, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group row" id="dropdownPeriodeDaily">
					<label class="col-xs-2">Periode</label>
					<div class="col-xs-6">
						@Html.TextBoxFor(model => model.Date, new { @class = "form-control-datepicker-ymd" })
					</div>
				</div>
				<div class="form-group row" id="dropdownPeriodeMonthly" style="display: none;">
					<label class="col-xs-2">Periode</label>
					<div class="col-xs-6 col-lg-3">
						@Html.DropDownListFor(model => model.Year, Model.YearDropdown, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2"></label>
					<div class="col-xs-6">
						<button type="button" id="btnSearch" class="btn btn-warning">Cari</button>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
				<div class="row">
					<div id="reportDaily" class="col-xs-12">
												@{
							Dictionary<string, object> dailyParameters = new Dictionary<string, object>();
							dailyParameters.Add("areaId", Model.AreaId);
							dailyParameters.Add("date", Model.Date);
							dailyParameters.Add("urlUap", Url.Action("BindingOperationDailyUap", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
							dailyParameters.Add("urlDkp", Url.Action("BindingOperationDailyDKP", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
							dailyParameters.Add("urlProduction", Url.Action("BindingOperationDailySumurProduksi", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
							dailyParameters.Add("urlReinjection", Url.Action("BindingOperationDailySumurInjeksi", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
							dailyParameters.Add("urlInterface", Url.Action("BindingOperationDailyInterfaceScrubber", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
							dailyParameters.Add("urlMonitoring", Url.Action("BindingOperationDailySumurMonitoring", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
							dailyParameters.Add("urlListrik", Url.Action("BindingOperationDailyListrik", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
												}
						@(Html.TelerikReporting().ReportViewer()
							.Id("reportViewerDaily")
							.ServiceUrl(Url.Content("~/api/reports"))
							.TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
							.ReportSource("OperationDaily.trdp", dailyParameters)
							.ViewMode(ViewMode.Interactive)
							.ScaleMode(ScaleMode.FitPageWidth)
							.Scale(1.0)
							.PersistSession(false)
							.PrintMode(PrintMode.AutoSelect)
							.SendEmail(new SendEmail { Enabled = false })
							.EnableAccessibility(false)
							.Deferred()
						)
					</div>
					<div id="reportMonthly" class="col-xs-12" style="display: none;">
												@{
							Dictionary<string, object> monthlyParameters = new Dictionary<string, object>();
							monthlyParameters.Add("areaId", Model.AreaId);
							monthlyParameters.Add("year", Model.Year);
							monthlyParameters.Add("urlPowerPlant", Url.Action("BindingOperationMonthlyPowerPlants", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
							monthlyParameters.Add("urlSummary", Url.Action("BindingOperationMonthlySummary", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
												}
						@(Html.TelerikReporting().ReportViewer()
							.Id("reportViewerMonthly")
							.ServiceUrl(Url.Content("~/api/reports"))
							.TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
							.ReportSource("OperationMonthly.trdp", monthlyParameters)
							.ViewMode(ViewMode.Interactive)
							.ScaleMode(ScaleMode.FitPageWidth)
							.Scale(1.0)
							.PersistSession(false)
							.PrintMode(PrintMode.AutoSelect)
							.SendEmail(new SendEmail { Enabled = false })
							.EnableAccessibility(false)
							.Deferred()
						)
					</div>
				</div>
			</div>
        </div>
    </div>
</div>


@section scripts{

@Scripts.Render("~/bundles/telerik-report")

<script type="text/javascript">

	$(function () {
		initElement();
	});

	function initElement() {
		bindBtnSearch();
		bindDropdownTypeChange();
	}

	function bindBtnSearch() {
		$("#btnSearch").on("click", function () {
			var viewer;
			if ($("#reportType").val() == "daily") {
				viewer = $("#reportViewerDaily").data("telerik_ReportViewer");
				$("#reportDaily").show();
				$("#reportMonthly").hide();
				viewer.reportSource({
					report: viewer.reportSource().report,
					parameters:
					{
						areaId: $("#AreaId :selected").val(),
						date: $("#Date").val(),
						year: $("#Year").val(),
						urlUap		  : viewer.reportSource().parameters.urlUap,
						urlDkp		  : viewer.reportSource().parameters.urlDkp,
						urlProduction : viewer.reportSource().parameters.urlProduction,
						urlReinjection: viewer.reportSource().parameters.urlReinjection,
						urlInterface  : viewer.reportSource().parameters.urlInterface,
						urlMonitoring : viewer.reportSource().parameters.urlMonitoring,
						urlListrik	  : viewer.reportSource().parameters.urlListrik	  
					}
				});
			} else if ($("#reportType").val() == "monthly") {
				viewer = $("#reportViewerMonthly").data("telerik_ReportViewer");
				$("#reportDaily").hide();
				$("#reportMonthly").show();
				viewer.reportSource({
					report: viewer.reportSource().report,
					parameters:
					{
						areaId: $("#AreaId :selected").val(),
						date: $("#Date").val(),
						year: $("#Year").val(),
						urlPowerPlant: viewer.reportSource().parameters.urlPowerPlant,
						urlSummary: viewer.reportSource().parameters.urlSummary,
					}	
				});
			}
		});     
	}

	function bindDropdownTypeChange() {
		$("#reportType").on("change", function () {
			if ($(this).val() == "daily") {
				$("#dropdownPeriodeDaily").show();
				$("#dropdownPeriodeMonthly").hide();
			} else if ($(this).val() == "monthly") {
				$("#dropdownPeriodeDaily").hide();
				$("#dropdownPeriodeMonthly").show();
			}
		});
	}

</script>

	@(
		Html.TelerikReporting().DeferredScripts()
	)

}

@section styles{

	<style>
		#reportViewerDaily {
			position: static;
			display: block;
			width: 100%;
			height: 600px;
			padding-bottom: 20px;
			padding-top: 20px;
		}
		#reportViewerMonthly {
			position: static;
			display: block;
			width: 100%;
			height: 600px;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	</style>
}


