@model WebUI.Areas.Reporting.Models.ReportGeoscienceStub
@using WebUI.Models
@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc
@using WebUI.Controllers

@{
	ViewBag.Title = "P & T Report";
	//string baseUrl = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority;
	RouteValueDictionary route = new RouteValueDictionary(new { Area = "Reporting" });
	var user = User as Principal;
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Parameter</h5>
            </div>
            <div class="panel-body">
				<div class="form-group row">
					<label class="col-xs-2">Report Type</label>
					<div class="col-xs-6 col-lg-3">
						<select id="reportType" class="form-control">
							<option value="md">PT MD</option>
							<option value="tvd">PT TVD</option>
							<option value="elevation">PT Elevation</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2">Area</label>
					<div class="col-xs-6 col-lg-3">
						@Html.DropDownListFor(model => model.AreaId, Model.AreaDropdown, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2">Cluster</label>
					<div class="col-xs-6 col-lg-3">
						@Html.TextBoxFor(model => model.ClusterId, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2">Sumur</label>
					<div class="col-xs-6 col-lg-3">
						@Html.TextBoxFor(model => model.WellId, new { @class = "form-control" })
						<span class="text-danger" id="messageWell"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2">Periode</label>
					<div class="col-xs-2">
						@Html.TextBoxFor(model => model.StartDate, new { @class = "form-control-datepicker-ymd" })
					</div>
					<div class="col-xs-1 text-center">
						<label class="text-center">s.d.</label>
					</div>
					<div class="col-xs-2">
						@Html.TextBoxFor(model => model.EndDate, new { @class = "form-control-datepicker-ymd" })
					</div>
				</div>
				<div class="form-group row">
					<label class="col-xs-2"></label>
					<div class="col-xs-6">
						<button type="button" id="btnSearch" class="btn btn-warning" disabled="disabled">Cari</button>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
				<div class="row">
					<div id="reportMD" class="col-xs-12" style="display: none;">
												@{
							Dictionary<string, object> mdParameters = new Dictionary<string, object>();
							mdParameters.Add("wellId", Model.WellId);
							mdParameters.Add("startDate", Model.StartDate);
							mdParameters.Add("endDate", Model.EndDate);
							mdParameters.Add("url", Url.Action("BindingGeoscienceMD", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host) );
												}
						@(Html.TelerikReporting().ReportViewer()
							.Id("reportViewerMD")
							.ServiceUrl(Url.Content("~/api/reports"))
							.TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
							.ReportSource("GeoscienceMD.trdp", mdParameters)
							.ViewMode(ViewMode.Interactive)
							.ScaleMode(ScaleMode.FitPageWidth)
							.Scale(1.0)
							.PersistSession(false)
							.PrintMode(PrintMode.AutoSelect)
							.SendEmail(new SendEmail { Enabled = false })
							.EnableAccessibility(false)
							.Deferred()
						)
					</div>
					<div id="reportTVD" class="col-xs-12" style="display: none;">
												@{
							Dictionary<string, object> tvdParameters = new Dictionary<string, object>();
							tvdParameters.Add("wellId", Model.WellId);
							tvdParameters.Add("startDate", Model.StartDate);
							tvdParameters.Add("endDate", Model.EndDate);
							tvdParameters.Add("url", Url.Action("BindingGeoscienceTVD", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host) );
												}
						@(Html.TelerikReporting().ReportViewer()
							.Id("reportViewerTVD")
							.ServiceUrl(Url.Content("~/api/reports"))
							.TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
							.ReportSource("GeoscienceTVD.trdp", tvdParameters)
							.ViewMode(ViewMode.Interactive)
							.ScaleMode(ScaleMode.FitPageWidth)
							.Scale(1.0)
							.PersistSession(false)
							.PrintMode(PrintMode.AutoSelect)
							.SendEmail(new SendEmail { Enabled = false })
							.EnableAccessibility(false)
							.Deferred()
						)
					</div>
					<div id="reportElevation" class="col-xs-12" style="display: none;">
												@{
							Dictionary<string, object> elevationParameters = new Dictionary<string, object>();
							elevationParameters.Add("wellId", Model.WellId);
							elevationParameters.Add("startDate", Model.StartDate);
							elevationParameters.Add("endDate", Model.EndDate);
							elevationParameters.Add("url", Url.Action("BindingGeoscienceElevation", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host) );
												}
						@(Html.TelerikReporting().ReportViewer()
							.Id("reportViewerElevation")
							.ServiceUrl(Url.Content("~/api/reports"))
							.TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
							.ReportSource("GeoscienceElevation.trdp", elevationParameters)
							.ViewMode(ViewMode.Interactive)
							.ScaleMode(ScaleMode.FitPageWidth)
							.Scale(1.0)
							.PersistSession(false)
							.PrintMode(PrintMode.AutoSelect)
							.SendEmail(new SendEmail { Enabled = false })
							.EnableAccessibility(false)
							.Deferred()
						)
					</div>
				</div>
			</div>
        </div>
    </div>
</div>


@section scripts{

@Scripts.Render("~/bundles/telerik-report")

<script type="text/javascript">

	$(function () {
		initElement();
	});

	function initElement() {
		reportTypeDropdown();
		bindAreaId();
		bindClusterId();
		bindWellId();
		bindBtnSearch();
	}

	function reportTypeDropdown() {
		$("#reportType").kendoDropDownList();
	}

	function bindAreaId() {
        var optionLabel = "@Component.OptionLabel";
        @if (!user.AreaId.HasValue || user.AreaId == 0)
        {
            @:optionLabel = "@Component.OptionLabelAreaAll";
        }

        var dropdown = dropdownListGenerator($("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA", "@Field.Name", "@Component.OptionLabel");
		bindChangeAreaId();
	}

	function bindClusterId() {
		var dropdown = dropdownListGenerator($("#@Field.ClusterId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.CLUSTER", "@Field.Name", "@Component.OptionLabel", false, [$("#@Field.AreaId").val()]);
		bindChangeClusterId();
	}

	function bindWellId() {
		var dropdown = dropdownListGenerator($("#@Field.WellId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.WELL", "@Field.Name", "@Component.OptionLabel", false, [$("#@Field.ClusterId").val()]);
		bindChangeWellId();
	}

    function bindChangeAreaId() {
        var dropdownlist = $("#@Field.AreaId").data("kendoDropDownList");

		dropdownlist.bind("change", function () {
			if ($("#@Field.AreaId").val() != "") {
				bindClusterId();
			} else {
				$("#btnSearch").prop("disabled", true);
			}
		});
	}

	function bindChangeClusterId() {
		var dropdownlist = $("#@Field.ClusterId").data("kendoDropDownList");

		dropdownlist.bind("change", function () {
			if ($("#@Field.ClusterId").val() != "") {
				bindWellId();
			} else {
				$("#btnSearch").prop("disabled", true);
			}
		});
	}

    function bindChangeWellId() {
        var dropdownlist = $("#@Field.WellId").data("kendoDropDownList");

		dropdownlist.bind("change", function () {
			if ($("#@Field.WellId").val() != "") {
				$("#btnSearch").prop("disabled", false);
			} else {
				$("#btnSearch").prop("disabled", true);
			}
		});
	}

	function bindBtnSearch() {
		$("#btnSearch").on("click", function () {
			console.log("clicked");
			if (($("#WellId").val() != 0) && ($("#WellId").val() != "")) {
				console.log("well id: "); console.log($("#WellId").val());
				var viewer;
				if ($("#reportType").val() == "md") {
					viewer = $("#reportViewerMD").data("telerik_ReportViewer");
					$("#reportMD").show();
					$("#reportTVD").hide();
					$("#reportElevation").hide();
				} else if ($("#reportType").val() == "tvd") {
					viewer = $("#reportViewerTVD").data("telerik_ReportViewer");
					$("#reportMD").hide();
					$("#reportTVD").show();
					$("#reportElevation").hide();
				} else if ($("#reportType").val() == "elevation") {
					viewer = $("#reportViewerElevation").data("telerik_ReportViewer");
					$("#reportMD").hide();
					$("#reportTVD").hide();
					$("#reportElevation").show();
				}
				viewer.reportSource({
					report: viewer.reportSource().report,
					parameters:
					{
						wellId: $("#WellId").val(),
						endDate: $("#EndDate").val(),
						startDate: $("#StartDate").val(),
						url: viewer.reportSource().parameters.url
					}
				});
				console.log("url: "); console.log(viewer.reportSource().parameters.url);
				console.log("report source: "); console.log(viewer.reportSource());
			} else { // well blm di select
				$("#messageWell").html("Pilih sumur terlebih dahulu");
			}
		});
	}

</script>

	@(
		Html.TelerikReporting().DeferredScripts()
	)

}

@section styles{

	<style>
		#reportViewerMD {
			position: static;
			display: block;
			width: 100%;
			height: 600px;
			padding-bottom: 20px;
			padding-top: 20px;
		}
		#reportViewerTVD {
			position: static;
			display: block;
			width: 100%;
			height: 600px;
			padding-bottom: 20px;
			padding-top: 20px;
		}
		#reportViewerElevation {
			position: static;
			display: block;
			width: 100%;
			height: 600px;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	</style>
}


