@model WebUI.Areas.Reporting.Models.ReportParamStub
@using WebUI.Models
@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc
@using WebUI.Controllers

@{
    ViewBag.Title = "Invoice & Collect Periods Report";
    RouteValueDictionary route = new RouteValueDictionary(new { Area = "Reporting" });
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Parameter</h5>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label class="col-xs-1">Area</label>
                    <div class="col-xs-6 col-lg-3">
                        @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-1">Tahun</label>
                    <div class="col-xs-6">
                        @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-1">Bulan</label>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.StartMonth, new { @class = "form-control" })
                        <span style="padding-left:15px; padding-right:15px;">s/d</span> @Html.TextBoxFor(model => model.EndMonth, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-offset-1 col-xs-6">
                        <button type="button" id="btnPreview" class="btn btn-warning">Preview</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        @{
                            Dictionary<string, object> param = new Dictionary<string, object>();
                            param.Add("areaId", Model.AreaId);
                            param.Add("year", Model.Year);
                            param.Add("startMonth", Model.StartMonth);
                            param.Add("endMonth", Model.EndMonth);
                            param.Add("kpiUrl", Url.Action(ActionSite.BindingKpi, ControllerSite.Report, route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
                            //param.Add("transmitionUrl", Url.Action(ActionSite.BindingKpiTransmition, ControllerSite.Report, route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host));
                            param.Add("areaName", Model.AreaName);
                            param.Add("startMonthName", Model.StartMonthName);
                            param.Add("endMonthName", Model.EndMonthName);
                    }
                    @(
                        Html.TelerikReporting().ReportViewer()
                        .Id("rvKpi")
                        .ServiceUrl(Url.Content("~/api/reports"))
                        .TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
                        .ReportSource("InvoiceCollectPeriodsKpi.trdp", param)
                        .ViewMode(ViewMode.Interactive)
                        .ScaleMode(ScaleMode.Specific)
                        .Scale(1.0)
                        .PersistSession(false)
                        .PrintMode(PrintMode.AutoSelect)
                        .SendEmail(new SendEmail { Enabled = false })
                        .EnableAccessibility(false)
                        .Deferred()
                    )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/telerik-report")

    <script type="text/javascript">
    var areaDropdown = $().data("kendoDropDownList"),
        yearDropdown = $().data("kendoDropDownList"),
        startMonthDropdown = $().data("kendoDropDownList"),
        endMonthDropdown = $().data("kendoDropDownList");

        $(function () {
            initElement();
        });

        function initElement() {
            initDropdown();

            $("#btnPreview").on("click", function () {
                var reportViewer;

                viewer = $("#rvKpi").data("telerik_ReportViewer");
                viewer.reportSource({
                    report: viewer.reportSource().report,
                    parameters:
                        {
                            areaId: areaDropdown.value(),
                            year: yearDropdown.value(),
                            startMonth: startMonthDropdown.value(),
                            endMonth: endMonthDropdown.value(),
                            kpiUrl: viewer.reportSource().parameters.kpiUrl,
                            areaName: areaDropdown.text(),
                            startMonthName: startMonthDropdown.text(),
                            endMonthName: endMonthDropdown.text()
                        }
                });
            });
        }

        function initDropdown() {
            var dsOptionArea =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@WebUI.Infrastructure.DataSource.DataType.Json",
                        type: "@WebUI.Infrastructure.DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@WebUI.Infrastructure.DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.Value";
                                        filter.value = filter.value;
                                    }

                                    if (filter.field === "@Field.Text") {
                                        filter.field = "@Field.Text";
                                        filter.operator = "@Common.Enums.FilterOperator.Contains.ToDescription()";
                                        filter.value = filter.Text;
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.Text";
                                    }
                                }
                            }

                            options.optionType = "@OptionType.AREA_REPORT";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@WebUI.Infrastructure.DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@WebUI.Infrastructure.DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Value", dir: "@SortOrder.Ascending.ToDescription()" }
            });
            areaDropdown = $("#@Field.AreaId").kendoDropDownList({
                dataSource: dsOptionArea,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value"
            }).data("kendoDropDownList");

            yearDropdown = dropdownListGenerator(
                $("#@Field.Year"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.YEAR", "@Field.Text", false, null);

            var dsOption =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@WebUI.Infrastructure.DataSource.DataType.Json",
                        type: "@WebUI.Infrastructure.DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@WebUI.Infrastructure.DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.Value";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.Text";
                                    }
                                }
                            }

                            options.optionType = "@OptionType.MONTH";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@WebUI.Infrastructure.DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@WebUI.Infrastructure.DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Value", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            startMonthDropdown = $("#@Field.StartMonth").kendoDropDownList({
                dataSource: dsOption,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value"
            }).data("kendoDropDownList");

            endMonthDropdown = $("#@Field.EndMonth").kendoDropDownList({
                dataSource: dsOption,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value"
            }).data("kendoDropDownList");
        }
    </script>

    @(
        Html.TelerikReporting().DeferredScripts()
    )
}

@section styles{

    <style>
        #rvKpi {
            position: static;
            display: block;
            width: 100%;
            height: 600px;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    </style>
}