@model WebUI.Areas.Reporting.Models.ReportManagementStub
@using Telerik.ReportViewer.Mvc
@{
	ViewBag.Title = "Management Report";
	//string baseUrl = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority;
	RouteValueDictionary route = new RouteValueDictionary(new { Area = "Reporting" });
}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Parameter</h5>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group row">
						<label class="col-xs-2">Area</label>
						<div class="col-xs-6 col-lg-3">
							@Html.DropDownListFor(model => model.AreaId, Model.AreaDropdown, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group row">
						<label class="col-xs-2">Periode</label>
						<div class="col-xs-6">
							@Html.TextBoxFor(model => model.Date, new { @class = "form-control-datepicker-ymd" })
						</div>
					</div>
					<div class="form-group row">
						<label class="col-xs-2"></label>
						<div class="col-xs-6">
							<button type="button" id="btnSearch" class="btn btn-warning">Cari</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<h5>Keterangan</h5>
				<div class="row m-b-md">
					<div class="col-xs-6">
						<div class="col-xs-12">
							<div class="rectangle col-xs-1" style="background-color:green;height:20px;"></div>
							<div class="col-xs-6">Realisasi >= target</div>
						</div>
						<div class="col-xs-12">
							<div class="rectangle col-xs-1" style="background-color:yellow;height:20px;"></div>
							<div class="col-xs-6">Realisasi antara 95%  - 99.99%</div>
						</div>
						<div class="col-xs-12">
							<div class="rectangle col-xs-1" style="background-color:red;height:20px;"></div>
							<div class="col-xs-6">Realisasi < 95% target</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="col-xs-12">
							<div class="rectangle col-xs-1" style="background-color:green;height:20px;"></div>
							<div class="col-xs-6">CF > 90%</div>
						</div>
						<div class="col-xs-12">
							<div class="rectangle col-xs-1" style="background-color:yellow;height:20px;"></div>
							<div class="col-xs-6">CF antara 80% - 90%</div>
						</div>
						<div class="col-xs-12">
							<div class="rectangle col-xs-1" style="background-color:red;height:20px;"></div>
							<div class="col-xs-6">CF < 80%</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						@{
							Dictionary<string, object> managementParameters = new Dictionary<string, object>();
							managementParameters.Add("areaId", Model.AreaId);
							managementParameters.Add("date", Model.Date);
							managementParameters.Add("url", Url.Action("BindingOperationManagement", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host) );
						}
						@(Html.TelerikReporting().ReportViewer()
							.Id("reportViewerManagement")
							.ServiceUrl(Url.Content("~/api/reports"))
							.TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
							.ReportSource("OperationManagement.trdp", managementParameters)
							.ViewMode(ViewMode.Interactive)
							.ScaleMode(ScaleMode.FitPageWidth)
							.Scale(1.0)
							.PersistSession(false)
							.PrintMode(PrintMode.AutoSelect)
							.SendEmail(new SendEmail { Enabled = false })
							.EnableAccessibility(false)
							.Deferred()
						)
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


@section scripts{
	@Scripts.Render("~/bundles/telerik-report")

	<script type="text/javascript">

		$(function () {
			initElement();
		});

		function initElement() {
			bindBtnSearch();
		}

		function bindBtnSearch() {
			$("#btnSearch").on("click", function () {
				viewer = $("#reportViewerManagement").data("telerik_ReportViewer");
				viewer.reportSource({
					report: viewer.reportSource().report,
					parameters:
					{
						areaId: $("#AreaId :selected").val(),
						date: $("#Date").val(),
						url: viewer.reportSource().parameters.url
					}
				});
			});
		}

	</script>

	@(
		Html.TelerikReporting().DeferredScripts()
	)

}

@section styles{

	<style>
		#reportViewerManagement {
			position: static;
			display: block;
			width: 100%;
			height: 600px;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	</style>
}
