@model WebUI.Areas.Reporting.Models.ReportReliabilityStub
@using Telerik.ReportViewer.Mvc
@{
	ViewBag.Title = "Reliability Report";
	//string baseUrl = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority;
	RouteValueDictionary route = new RouteValueDictionary(new { Area = "Reporting" });
}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Parameter</h5>
			</div>
			<div class="panel-body">
				<form>
					<div class="form-group row">
						<div class="col-lg-2">
							@Html.DropDownListFor(model => model.Month, Model.MonthDropdown)
						</div>
						<div class="col-lg-2">
							@Html.DropDownListFor(model => model.Year, Model.YearDropdown)
						</div>
						<div class="col-lg-2">
							<button type="button" id="btnSearch" class="btn btn-warning">Cari</button>
						</div>
					</div>
					<div class="form-group row">
                        <div class="col-lg-2">
                            @Html.CheckBoxFor(model => model.IsCumulative)
                            @Html.LabelFor(model => model.IsCumulative, new { @class = "control-label" })
                        </div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<div class="row m-b-md">
					<div class="alert alert-info" role="alert">
						<p>
							EAF (Equivalent Availability Factor) adalah faktor kesiapan berproduksi uap dan atau listrik di masing masing area yang dihitung berdasarkan jumlah jam siap dengan besaran energy tertimbang.
							EAF dihitung dengan persamaan sebagai berikut:
						</p>
						<table class="m-t-xs">
							<tr>
								<td><strong>EAF </strong></td>
								<td>&nbsp;=&nbsp;</td>
								<td>
									<strong> 100 % x </strong>
								</td>
								<td>
									<center><strong>&nbsp;&nbsp;<u>[AH-(EPDH+EFDH+EMDH)] </u></strong></center>
									<center><strong>PH</strong></center>
								</td>
							</tr>
						</table>
						<p>
							Dimana  :
						</p>
						<table>
							<tr>
								<td><i>AH	 : Available Hour</i></td>
								<td width="20px"></td>
								<td><i>PH	 : Period Hour</i></td>
							</tr>
							<tr>
								<td><i>EFDH  : Equivalent Forced Derating Hour</i></td>
								<td width="20px"></td>
								<td><i>EMDH  : Equivalent Maintenance Derating Hour</i></td>
							</tr>
							<tr>
								<td><i>EPDH  : Equivalent Planned Derating Hour</i></td>
							</tr>
						</table>
						<p class="m-t-md">
							EFOR (Equivalent Forced Outage Rate) digunakan untuk mengetahui tingkat unscheduled shutdown dari fasilitas produksi dan pembangkit, yang dihitung dengan menggunakan persamaan sebagai berikut:
						</p>
						<table class="m-t-xs">
							<tr>
								<td><strong>EFOR </strong></td>
								<td>&nbsp;=&nbsp;</td>
								<td>
									<strong> 100 % x </strong>
								</td>
								<td>
									<center><strong>&nbsp;&nbsp;<u>FOH + EFDH</u></strong></center>
									<center><strong>FOH + SH</strong></center>
								</td>
							</tr>
						</table>
						<p>
							Dimana :
						</p>
						<table>
							<tr>
								<td><i>FOH	 : Force Outage Hour</i></td>
								<td width="20px"></td>
								<td><i>SH    : Service Hour</i></td>
							</tr>
							<tr>
								<td><i>EFDH  : Equivalent Force Derating Hour</i></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						@{
							Dictionary<string, object> reliabilityParameters = new Dictionary<string, object>();
							reliabilityParameters.Add("month", Model.Month);
							reliabilityParameters.Add("year", Model.Year);
							reliabilityParameters.Add("isCumulative", Model.IsCumulative);
							reliabilityParameters.Add("url", Url.Action("BindingOperationReliability", "Report", route, HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Host) );
						}
						@(Html.TelerikReporting().ReportViewer()
							.Id("reportViewerReliability")
							.ServiceUrl(Url.Content("~/api/reports"))
							.TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
							.ReportSource("OperationReliability.trdp", reliabilityParameters)
							.ViewMode(ViewMode.Interactive)
							.ScaleMode(ScaleMode.FitPageWidth)
							.Scale(1.0)
							.PersistSession(false)
							.PrintMode(PrintMode.AutoSelect)
							.SendEmail(new SendEmail { Enabled = false })
							.EnableAccessibility(false)
							.Deferred()
						)
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


@section scripts{
	@Scripts.Render("~/bundles/telerik-report")

	<script type="text/javascript">

		$(function () {
			initElement();
		});

		function initElement() {
			initDropdowns();
			bindBtnSearch();
		}

		function initDropdowns() {
			$("#Month, #Year").kendoDropDownList();
		}

		function bindBtnSearch() {
			$("#btnSearch").on("click", function () {
				viewer = $("#reportViewerReliability").data("telerik_ReportViewer");
				viewer.reportSource({
					report: viewer.reportSource().report,
					parameters:
                    {
                        isCumulative: $("#IsCumulative").is(":checked"),
						month: $("#Month").val(),
						year: $("#Year").val(),
						url: viewer.reportSource().parameters.url
					}
				});
			});
		}

	</script>

	@(
		Html.TelerikReporting().DeferredScripts()
	)

}

@section styles{

	<style>
		#reportViewerReliability {
			position: static;
			display: block;
			width: 100%;
			height: 600px;
			padding-bottom: 20px;
			padding-top: 20px;
		}
	</style>
}
