@using WebUI.Infrastructure
@using Common.Enums
@using WebUI.Models
@model WebUI.Areas.SalesOrder.Models.SalesOrderFormStub
@{
	string currentController = (string)ViewContext.RouteData.Values["controller"];
	string currentAction = (string)ViewContext.RouteData.Values["action"];
	string backLink = "";

	ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.SalesOrder);
	string err = Model.ValidationMessages != null ? string.Join("<br />", Model.ValidationMessages) : "";

	string readonlyIsValidAttr = Model.IsValid ? " readonly " : " ";
	string readonlyRevisableAttr = Model.IsEditable ? " " : " readonly ";

	WebUI.Models.WorkflowPresentationStub curWorkflow = new WebUI.Models.WorkflowPresentationStub();
	if (Model.Workflows.Count > 0) { curWorkflow = Model.Workflows.Where(x => x.Active == true).First(); }

	backLink = Url.Action(ActionSite.Index);

	PopupFormStub popupForm = new PopupFormStub()
	{
		PopupTitle = "Revisi",
		FormMethod = "post",
		FormAction = Url.Action(ActionSite.ReviseSalesOrder),
		ButtonLabel = "Revisi",

		FormFields = new List<PopupFormStub.FormElement>()
		{
			new PopupFormStub.FormElement()
			{
				Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
				Name = "id",
				Value = Model.Id.ToString()
			},
			new PopupFormStub.FormElement()
			{
				Type = PopupFormStub.FormElement.ElementType.TEXTAREA,
				Label = "Pesan",
				Name = "message"
			}
		}
	};
}

@{Html.RenderPartial("App/_workflow", Model.Workflows);}
@{Html.RenderPartial("App/_PopupForm", popupForm);}

@if (err != ""){
    <div class="alert alert-danger alert-normal m-b-n" role="alert">
        <h3 class="alert-heading">Error</h3>
        @Html.Raw(err)
    </div>
}

@if ((Model.LastSalesOrderApproval != null) && (Model.LastSalesOrderApproval.Notes != ""))
{
	<div class="alert alert-warning alert-normal m-b-n" role="alert">
		<h3 class="alert-heading">Revisi</h3>
		@Html.Raw(Model.LastSalesOrderApproval.Notes)
	</div>
}

<div class="ibox">
    <div class="ibox-title">
        <h5>Create Sales Order <small><em>*Please Choose Ship To Party</em></small></h5>
    </div>
    <div class="ibox-content">
        @using (@Html.BeginForm(ActionSite.LoadCreateZPGE, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "ChooseForm" }))
        {
            <div class="form-group">
                @Html.Label("SO Type", new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4 p-xxs m-l-sm">
                    <label class="radio-inline">
                        <input type="radio" name="SOType" value="@Common.Enums.SOType.ZPGE" @(Model.SOType==Common.Enums.SOType.ZPGE.ToString()?"checked":"")> @Common.Enums.SOType.ZPGE
					</label>

					<label class="radio-inline">
                        <input type="radio" name="SOType" value="@Common.Enums.SOType.ZTS" @(Model.SOType==Common.Enums.SOType.ZTS.ToString()?"checked":"")> @Common.Enums.SOType.ZTS
					</label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Periode, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.Periode, new { @class = "form-control form-control-monthpicker always-validate" })
                    @Html.ValidationMessageFor(model => model.Periode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShipToPartyId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.ShipToPartyId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.ShipToPartyId)
                </div>
            </div>
        }



		@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "CreateForm" }))
        {
            @Html.ValidationSummary(true)
            if (Model.IsValid)
            {
				<hr>

				@Html.HiddenFor(x => x.Id);
				@Html.HiddenFor(x => x.SOType);
				@Html.HiddenFor(x => x.Periode);
				@Html.HiddenFor(x => x.ShipToPartyId);
				@Html.HiddenFor(x => x.WorkflowId);
				@Html.HiddenFor(x => x.Quantity);
				@Html.HiddenFor(x => x.NetPrice);
				@Html.HiddenFor(x => x.NetValue);
				@Html.HiddenFor(x => x.Currency);

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							@Html.LabelFor(model => model.PowerPlant.SoldToParty, new { @class = "col-xs-4 control-label" })
							<div class="col-xs-8">
								@Html.TextBoxFor(model => model.PowerPlant.SoldToParty, new { @class = "form-control", @readonly = "readonly" })
								@Html.ValidationMessageFor(model => model.PowerPlant.SoldToParty)
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.PowerPlant.SalesGroup, new { @class = "col-xs-4 control-label" })
							<div class="col-xs-8">
								@Html.TextBoxFor(model => model.PowerPlant.SalesGroup, new { @class = "form-control", @readonly = "readonly" })
								@Html.ValidationMessageFor(model => model.PowerPlant.SalesGroup)
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Notes, new { @class = "col-xs-4 control-label" })
							<div class="col-xs-8">
								@Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Notes)
							</div>
						</div>

						@*<div class="form-group">
							@Html.Label("BAST", new { @class = "col-xs-4 control-label" })
							<div class="col-xs-8">
								<button type="submit" class="btn btn-default">Attach File</button>
							</div>
						</div>*@
					</div>

					<div class="col-xs-6">
						<div class="form-group">
							@Html.LabelFor(model => model.PowerPlant.ShippingPoint, new { @class = "col-xs-4 control-label" })
							<div class="col-xs-8">
								@Html.TextBoxFor(model => model.PowerPlant.ShippingPoint, new { @class = "form-control", @readonly = "readonly" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.PowerPlant.StrMaterial, new { @class = "col-xs-4 control-label" })
							<div class="col-xs-8">
								@Html.TextBoxFor(model => model.PowerPlant.StrMaterial, new { @class = "form-control", @readonly = "readonly" })
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						@Html.LabelFor(model => model.BastFiles, new { @class = "col-xs-2 control-label" })
						<div class="col-xs-4 m-l-sm">
							@if (Model.IsEditable)
							{
								@Html.Hidden("BastFilesCount", 0, new { id = "BastFilesCount" })
								@Html.TextBox("files", "", new
								{
									@class = "form-control-upload",
									type = "file",
									id = "files",
									accept = "application/pdf"
								})
								@Html.ValidationMessageFor(model => model.BastFiles, "File BAST wajib diisi", new { @class = "text-danger" })
								@Html.Hidden("BastFileSigneds")
							}
							<div id="gridBastFiles"></div>
						</div>
						<div class="col-xs-4">
							<ul class="small">
								<li>Max File Size. 10 MB</li>
								<li>File Type Allow .pdf</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-xs-offset-2 col-xs-10">
						<div class="panel panel-default">
							<!-- Default panel contents -->
							<div class="panel-heading">Total Produksi</div>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">Confirm Quantity (KWH)</th>
										<th scope="col">Net Price</th>
										<th scope="col">Net Value</th>
										<th scope="col">Currency</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row" class="text-center"><a href="#modalForm" id="viewProductionDetail" class="glyphicon glyphicon-eye-open"></a></th>
										<td class="align-right">@DisplayFormat.NumberFormat(Model.Quantity)</td>
										<td class="align-right">@DisplayFormat.NumberFormatFiveDecimal(Model.NetPrice)</td>
										<td class="align-right">@DisplayFormat.NumberFormatFiveDecimal(Model.NetValue)</td>
										<td>USDN</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>

				if (curWorkflow.IsBastDownloadable)
				{
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label class="col-xs-4 control-label">Template BAST</label>
								<div class="col-xs-8">
									<a id="btnDownloadBastTemplate" href="@ActionSite.DownloadBastTemplate?id=@Model.Id" target="_blank" class="btn btn-primary">Download Template BAST</a>
								</div>
							</div>
						</div>
					</div>
				}

				if (curWorkflow.IsSapDownloadable)
				{
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label class="col-xs-4 control-label">Excel SAP</label>
								<div class="col-xs-8">
									<button id="btnDownloadSAP" type="button" class="btn btn-primary">Download SAP</button>
								</div>
							</div>
						</div>
					</div>
				}

				if (curWorkflow.IsBastSignedUploadable)
				{
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Upload BAST Ttd</label>
                                <div class="col-xs-8">
                                    @Html.Hidden("BastFilesCount", 0, new { id = "BastFilesCount" })
                                    @Html.TextBox("files", "", new
                                    {
                                        @class = "form-control-upload-pdf",
                                        type = "file",
                                        id = "files",
                                        accept = "application/pdf"
                                    })
                                    @Html.ValidationMessageFor(model => model.BastFileSigneds, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <ul class="small">
                                <li>Max File Size. 10 MB</li>
                                <li>File Type Allow .pdf</li>
                            </ul>
                        </div>
                    </div>
				}

				//if ((curWorkflow.IsBastSignedUploadable) || (curWorkflow.IsBastSignedDownloadable))
				if ((Model.BastFileSigneds != null) && (Model.BastFileSigneds.Count > 0))
				{
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label class="col-xs-4 control-label">File BAST Ttd</label>
								<div class="col-xs-8">
									<div id="gridBastFileSigneds"></div>
								</div>
							</div>
						</div>
					</div>
				}

				<br />
				<div class="form-group">
					<div class="col-xs-10">
						@if (Model.IsApprovable)
						{
								<button id="btnApprove" type="submit" class="btn btn-primary">@curWorkflow.Approver</button>
						}
						@if (Model.IsRevisable)
						{
								<button id="btnRevise" type="button" class="btn btn-danger">Revise</button>
						}
						<a href="@backLink" class="btn btn-link">Kembali</a>
					</div>
				</div>

				<!-- Modal Form -->
				<div id="modalForm" class="modal" role="dialog" style="vertical-align: middle;">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header label-primary">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title" style="color: white">Produksi Harian</h4>
							</div>
							<div class="modal-body" style="min-height: 100px;">
								<div id="gridDetailProduction">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th scope="col">Tanggal</th>
												<th scope="col">Confirm Quantity</th>
												<th scope="col">Unit</th>
											</tr>
										</thead>
										<tbody>
											@foreach (Business.Entities.Pltp pltp in Model.Pltps)
											{
												<tr>
													<th scope="row" class="text-center">@pltp.TaskReport.Periode.Value.ToString(" d ")</th>
													<td class="align-right">@DisplayFormat.NumberFormat(pltp.EnergyNett)</td>
													<td>@(((Common.Enums.EnergyUnit)Enum.Parse(typeof(Common.Enums.EnergyUnit), pltp.EnergyNettUnit)).ToDescription())</td>
												</tr>
											}
											<tr>
												<th scope="col"></th>
												<th scope="col" class="align-right">@DisplayFormat.NumberFormat(Model.Quantity)</th>
												<th scope="col"></th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
							</div>
						</div>
					</div>
				</div>
			}
		}
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

		var BastFiles = [];

       $(function () {
           initElement();
        });

        function bindChangePeriod() {
            var datepicker = $("#@Field.Periode").data("kendoDatePicker");

            datepicker.bind("change", showDetailSO);
        }

        function bindChangeShipToParty() {
            var dropdownlist = $("#@Field.ShipToPartyId").data("kendoDropDownList");

            dropdownlist.bind("change", showDetailSO);
        }

        function bindBAST() {
            var upload = $("#files").data("kendoUpload");

            if (upload != null) {
                upload.bind({
					success: onSuccess,
					remove: onRemove,
                    upload: (function (e) {
                        var guid;
                        guid = e.files[0].uid;
                        e.data = {
                            ids: guid
                        };
                    })
                });
            }
        }

        function showDetailSO() {
            var periode = $("#@Field.Periode").val();
            var shipToParty = $("#@Field.ShipToPartyId").val();
            if (periode != "" && shipToParty != "") {
                $("#FilterForm").submit();
            }
        }

		function onSuccess(e) {
			if (e.operation == "upload") {
				//console.log(e);
				//var file0Uid = e.files[0].uid;
				//var filepath = e.response[0].FilePath;
				var BastFilesCount = parseInt($("#BastFilesCount").val());
				var curIdx;
				e.response.forEach(function (response, idx) {
					curIdx = BastFilesCount + idx;
					var bastFile = [];
					bastFile["FilePath"] = response.FilePath;
					bastFile["UId"] = response.UId;
					BastFiles.push(bastFile);

					if ("@curWorkflow.IsBastSignedUploadable" == "True") {
						$.ajax({
							url: "@Url.Action(ActionSite.CreateBastFileSigned)",
							type: "POST",
							data: { id: @Model.Id, filePath: response.FilePath },
							success: function (result) {
								if (result.Success === true) {
									$("#gridBastFileSigneds").data("kendoGrid").dataSource.read();
								}
								else {
									swal("Error", data.Message, "error");
								}
							},
							error: function (xhr, ajaxOptions, thrownError) {
								swal("Server Error. Harap hubungi administrator");
							}
						});
					}
				});
				$("#BastFilesCount").val(curIdx + 1);
				//$("#DocumentFilePath").val(filepath);
				//$(".k-file[data-uid='" + file0Uid + "']").find(".k-file-name").text("New Filename");
			}
		}

		function onRemove(e) {

			e.files.forEach(function (file, idx) {
				BastFiles.forEach(function (bastFile, jdx) {
					if (bastFile["UId"] == file.uid) {
						BastFiles.splice(jdx, 1);

						if ("@curWorkflow.IsBastSignedUploadable" == "True") {
							$.ajax({
								url: "@Url.Action(ActionSite.DeleteBastFileSigned)",
								type: "POST",
								data: { filePath: bastFile["FilePath"] },
								success: function (result) {
									if (result.Success === true) {
										$("#gridBastFileSigneds").data("kendoGrid").dataSource.read();
									}
									else {
										swal("Error", data.Message, "error");
									}
								},
								error: function (xhr, ajaxOptions, thrownError) {
									swal("Server Error. Harap hubungi administrator");
								}
							});
						}
					}
				});


				var BastFilesIdx = $("[value=" + file.uid + "]").attr("bastfilesidx");
				$("[bastfilesidx=" + BastFilesIdx + "]").remove();
			});

		}

        function deleteBastFile(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.DeleteBastFile)" + "?id=" + data.id, this.dataSource);
        }

        function deleteBastFileSigned(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.DeleteBastFileSigned)" + "?id=" + data.id, this.dataSource);
		}

		function bindViewProductionDetail() {
			$("#viewProductionDetail").on("click", function () {
				$("#modalForm").modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
			});
		}

        function initElement() {
            //kamus


            $(".form-control-upload-pdf").kendoUpload({
                async: {
                    saveUrl: urlAction("/FileManagement/Save"),
                    removeUrl: urlAction("/FileManagement/Remove"),
                    batch: true,
                    autoUpload: true,
                    multiple: true,
                },
                validation: {
                    allowedExtensions: [".pdf"],
                    maxFileSize: 10000000
                },
                localization: {
                    select: "Select File...",
                },
                multiple: true,
                //showFileList: true,
            });
            //algo
            $('input[type=radio][name=SOType]').change(function () {
                if (this.value == '@Common.Enums.SOType.ZPGE') {
                    window.location.href = "@Url.Action("CreateSOZPGE", "SalesOrder")";
                }
                else if (this.value == '@Common.Enums.SOType.ZTS') {
                    window.location.href = "@Url.Action("CreateSOZTS", "SalesOrder")";
                }
			});

			@*if ("@Model.IsValid" == "True") {
				$("input[type=radio][name=SOType]").attr("disabled", true);
				$("#@Field.ShipToPartyId").attr("readonly", true);
				var datepicker = $("#@Field.Periode").data("kendoDatePicker");
				datepicker.readonly();
			}*@

			if ("@Model.IsEditable" == "False") {
				$("[name='Notes']").attr("readonly", true);
			}

            dropdownListGenerator($("#@Field.ShipToPartyId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.SHIP_TO_PARTY", "@Field.Name", "@Component.OptionLabel");

            bindChangePeriod();
            bindChangeShipToParty();
			bindBAST();
			bindViewProductionDetail();

			$("#btnApprove").click(function (e) {
				var bastFileElement = "BastFiles";
				if ("@curWorkflow.IsBastSignedUploadable" == "True") {
					bastFileElement = "BastFileSigneds";
				}
                e.preventDefault();
				BastFiles.forEach(function (bastFile, idx) {
					var insertHtml =
						"<input type='hidden' name='" + bastFileElement + "[" + idx + "].FilePath' id='" + bastFileElement + "[" + idx + "].FilePath' value='" + bastFile["FilePath"] + "' />" +
						"<input type='hidden' name='" + bastFileElement + "[" + idx + "].UId' id='" + bastFileElement + "[" + idx + "].UId' value='" + bastFile["UId"] + "' />";
					$("#BastFilesCount").after(insertHtml);
				});
				//alert('sudah');
				$("#CreateForm").submit();
			})

			$("#btnRevise").click(function (e) {
				e.preventDefault();
				$("#@popupForm.PopupId").modal("show");
			})
        }
    </script>

	@if (Model.BastFiles != null)
	{
		if (Model.BastFiles.Count > 0)
		{
			<script type="text/javascript">
				var ds = new kendo.data.DataSource({
					transport: {
						read:
						{
							url: "@Url.Action(ActionSite.BindingBastFiles)",
							dataType: "@DataSource.DataType.Json",
							type: "@DataSource.Type.Post"
						},
						parameterMap: function(options, operation) {
							if (operation !== "@DataSource.Operation.Read" && options.models)
							{
								return kendo.stringify(options);
							}
							else
							{
								if (options.filter)
								{
									var filters = options.filter.filters;

									for (var i in filters)
									{
										var filter = filters[i];
									}
								}

								if (options.sort)
								{
									var sorts = options.sort;

									for (var i in sorts)
									{
										var sort = sorts[i];
									}
								}

								options.args = [];

								return options;
							}
						}
					},
					schema:
					{
						data: "@DataSource.Schema.Property.Data",
						total: "@DataSource.Schema.Property.Total",
						model:
						{
							id: "@Field.Id",
							fields:
							{
								"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
								"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
								"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
							}
						}
					},
					pageSize: 10,
					serverFiltering: true,
					serverPaging: true,
					serverSorting: true,
					filter: { field: "@Field.SalesOrderId", operator: "eq", value: "@Model.Id" },
					sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
				});

				$("#gridBastFiles").kendoGrid({
					dataSource: ds,
					dataBound: dataBoundBastFiles,
					filterable: kendoGridFilterable,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                    },
					sortable: true,
					columns: [
						{
							command: [
								{
									name: "delete",
									text: "@Component.Grid.Command.Delete",
									click: deleteBastFile,
									imageClass: "glyphicon glyphicon-trash",
									template: GRID_COMMAND_TEMPLATE
								},
							],
							width: "40px",
							attributes: { "class": "command" }
						},
						{
							field: "@Field.FilePath",
							title: "File",
							template: "<a href='#=AbsolutePath#' target='_blank'>#=FriendlyName#</a>",
						}
					],
				});

				function dataBoundBastFiles(e) {
					var grid = $("#gridBastFiles").data("kendoGrid");

					grid.tbody.find("tr[role=\"row\"]").each(function (i) {
						if ("@Model.IsEditable" == "False") {
							$(this).find(".k-grid-delete")
								.removeClass("k-grid-delete")
								.children().eq(0)
								.addClass("k-state-disabled")
								.attr("title", "Can't be deleted, data already used")
								.attr("data-html", true);
						}
					});
				}
			</script>
		}
	}

	@*@if (curWorkflow.IsBastSignedUploadable || curWorkflow.IsBastSignedDownloadable)*@
@if ((Model.BastFileSigneds != null) && (Model.BastFileSigneds.Count > 0))
{
		<script type="text/javascript">
			var dsSigned = new kendo.data.DataSource({
				transport: {
					read:
					{
						url: "@Url.Action(ActionSite.BindingBastFileSigneds)",
						dataType: "@DataSource.DataType.Json",
						type: "@DataSource.Type.Post"
					},
					parameterMap: function(options, operation) {
						if (operation !== "@DataSource.Operation.Read" && options.models)
						{
							return kendo.stringify(options);
						}
						else
						{
							if (options.filter)
							{
								var filters = options.filter.filters;

								for (var i in filters)
								{
									var filter = filters[i];
								}
							}

							if (options.sort)
							{
								var sorts = options.sort;

								for (var i in sorts)
								{
									var sort = sorts[i];
								}
							}

							options.args = [];

							return options;
						}
					}
				},
				schema:
				{
					data: "@DataSource.Schema.Property.Data",
					total: "@DataSource.Schema.Property.Total",
					model:
					{
						id: "@Field.Id",
						fields:
						{
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
						}
					}
				},
				pageSize: 10,
				serverFiltering: true,
				serverPaging: true,
				serverSorting: true,
				filter: { field: "@Field.SalesOrderId", operator: "eq", value: "@Model.Id" },
				sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
			});

			$("#gridBastFileSigneds").kendoGrid({
				dataSource: dsSigned,
				dataBound: dataBoundBastFileSigneds,
				filterable: kendoGridFilterable,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
				sortable: true,
				columns: [
					{
						command: [
							{
								name: "delete",
								text: "@Component.Grid.Command.Delete",
								click: deleteBastFileSigned,
								imageClass: "glyphicon glyphicon-trash",
								template: GRID_COMMAND_TEMPLATE
							},
						],
						width: "40px",
						attributes: { "class": "command" }
					},
					{
						field: "@Field.FilePath",
						title: "File",
						template: "<a href='#=AbsolutePath#' target='_blank'>#=FriendlyName#</a>",
					}
				],
			});

			function dataBoundBastFileSigneds(e) {
				if ("@curWorkflow.IsBastSignedDownloadable" == "True") {
					var grid = $("#gridBastFileSigneds").data("kendoGrid");

					grid.tbody.find("tr[role=\"row\"]").each(function (i) {
							$(this).find(".k-grid-delete")
								.removeClass("k-grid-delete")
								.children().eq(0)
								.addClass("k-state-disabled")
								.attr("title", "Can't be deleted, data already used")
								.attr("data-html", true);
					});
				}
			}
		</script>
	}
}

