@model WebUI.Areas.Invoice.Models.EditInvoiceStub
@using WebUI.Infrastructure
@using WebUI.Extension
@using Common.Enums
@using WebUI.Models
@{
    //const string defaultAdditionalText = "<p>Pembayaran harap dilakukan melalui: <br><b>Bank MANDIRI KCP. JKT KP PERTAMINA</b>" +
    //    "<br> <strong>Rekening PT. Pertamina Geothermal Energy</strong>" +
    //    "<br> <strong>QQ Penerimaan USD</strong>" +
    //    "<br> <strong>Nomor Rekening: 119-00-0468535-8</strong>" +
    //    "<br> <strong>SWIFT Code: BMRIIDJAAXXX</strong></p> ";

    string currentAdditionalText = Model.CurrentAdditionalText;

    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.Invoice.Controllers.InvoiceController)ViewContext.Controller;
    string backLink;
    bool hasAccess = false;
    Principal user = User as Principal;

    ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.Invoice);

    WebUI.Models.WorkflowPresentationStub curWorkflow = new WebUI.Models.WorkflowPresentationStub();
    if ((Model.WorkflowPanel != null) && (Model.WorkflowPanel.Workflows.Count > 0)) { curWorkflow = Model.WorkflowPanel.Workflows.Where(x => x.Active == true).First(); }

    backLink = Url.Action(ActionSite.Index);

    PopupFormStub popupRevisi = new PopupFormStub()
    {
        PopupTitle = "Revisi",
        FormMethod = "post",
        FormAction = Url.Action(ActionSite.Revise),

        FormFields = new List<PopupFormStub.FormElement>()
{
new PopupFormStub.FormElement()
{
Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
Name = "id",
Value = Model.Id.ToString()
},
new PopupFormStub.FormElement()
{
Type = PopupFormStub.FormElement.ElementType.TEXTAREA,
Label = "Pesan",
Name = "message"
}
},

        FormButtons = new List<PopupFormStub.FormElement>()
{
new PopupFormStub.FormElement()
{
Type = PopupFormStub.FormElement.ElementType.SUBMIT,
Class = "btn btn-primary",
Value = "Revisi"
}
}
    };

    PopupFormStub popupSuratPengantar = new PopupFormStub()
    {
        PopupTitle = "Print Surat Pengantar",
        FormMethod = "post",
        FormAction = Url.Action(ActionSite.GenerateCoverLetter),

        FormFields = new List<PopupFormStub.FormElement>()
        {
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
        Name = "Id",
        Value = Model.Id.ToString()
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
        Name = "SalesOrderId",
        Value = Model.SalesOrderId.ToString()
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
        Name = "WorkflowId",
        Value = Model.WorkflowId.ToString()
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_TEXT,
        Label = "No. Invoice",
        Name = "InvoiceNo",
        IsReadOnly = true
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_TEXT,
        Label = "Penanda tangan",
        Name = "SignatureName",
        Id = "SignatureName"
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_TEXT,
        Label = "No Pekerja",
        Name = "SignatureEmployeeNo",
        Id = "SignatureEmployeeNo",
        IsReadOnly = true
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_TEXT,
        Label = "Nama Lengkap",
        Name = "SignatureFullName",
        Id = "SignatureFullName",
        IsReadOnly = true
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_TEXT,
        Label = "Jabatan",
        Name = "SignaturePosition",
        Id = "SignaturePosition",
        IsReadOnly = true
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.TEXTAREA,
        Label = "Additional Text",
        Name = "AdditionalText",
        Id = "AdditionalText",
        Class = "form-control-editor"
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
        Name = "SignatureFilePath",
        Id = "SignatureFilePath"
        },
        new PopupFormStub.FormElement()
        {
        Type = PopupFormStub.FormElement.ElementType.BUTTON,
        Id = "btnPrintSuratPengantar",
        Name = "btnPrintSuratPengantar",
        Class = "btn btn-primary",
        Label = "Surat Pengantar",
        Value = "Download Surat Pengantar",
        IsDisabled = true
        }
},

        FormButtons = new List<PopupFormStub.FormElement>()
        {

        }
    };
}

@if (Model.WorkflowPanel != null)
{ Html.RenderPartial("App/_workflow", Model.WorkflowPanel.Workflows); }
@{Html.RenderPartial("App/_PopupForm", popupRevisi);}
@{Html.RenderPartial("App/_PopupForm", popupSuratPengantar);}

<div class="row">
    <div class="form-group">
        @Html.Raw(thisController.GetMessage())
    </div>
</div>

@if ((Model.LastInvoiceApproval != null) && (Model.LastInvoiceApproval.Notes != ""))
{
    <div class="alert alert-warning alert-normal m-b-n" role="alert">
        <h3 class="alert-heading">Revisi</h3>
        @Html.Raw(Model.LastInvoiceApproval.Notes)
    </div>
}

    <div class="ibox">
        <div class="ibox-title">
            <h5>Pilih</h5>
        </div>
        <div class="ibox-content">
            @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id="FilterForm" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.ChooseInvoice.SOType, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @if (Model.IsAllArea || Model.ChooseInvoice.SOType == SOType.ZPGE.ToString())
                        {
                            <label class="radio-inline">
                                <input type="radio" name="sotype" value="@SOType.ZPGE" @(Model.ChooseInvoice.SOType == SOType.ZPGE.ToString() ? "checked" : "")> ZPGE
                            </label>
                        }
                        @if (Model.IsAllArea || Model.ChooseInvoice.SOType == SOType.ZTS.ToString())
                        {
                            <label class="radio-inline">
                                <input type="radio" name="sotype" value="@SOType.ZTS" @(Model.ChooseInvoice.SOType == SOType.ZTS.ToString() ? "checked" : "")> ZTS
                            </label>
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ChooseInvoice.Periode, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.ChooseInvoice.Periode, new { @class = "form-control form-control-monthpicker always-validate" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">Ship To Party</label>
                    @*@Html.LabelFor(model => model.ChooseInvoice.PowerPlantId, new { @class = "col-xs-2 control-label" })*@
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.ChooseInvoice.PowerPlantId, new { @class = "form-control always-validate" })
                    </div>
                </div>
            }
        </div>

        @if (Model.SalesOrder != null)
        {
            <div class="ibox-content">
                <form class="form-horizontal">
                    @if (Model.SalesOrder.SOType == SOType.ZPGE.ToString())
                    {
                        <div class="row">
                            <div class="col-xs-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.PowerPlant.ShipToPartyName, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.SalesOrder.PowerPlant.ShipToPartyName, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.Periode, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.SalesOrder.Periode, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.PowerPlant.SoldToParty, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.SalesOrder.PowerPlant.SoldToParty, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.PowerPlant.SalesGroup, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.SalesOrder.PowerPlant.SalesGroup, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.BastFileSigneds, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        <div id="gridBastFileSigneds"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.PowerPlant.ShippingPoint, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.SalesOrder.PowerPlant.ShippingPoint, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.PowerPlant.Material, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.SalesOrder.PowerPlant.StrMaterial, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-10">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Total Produksi</div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Confirm Quantity (KWH)</th>
                                                <th scope="col">Net Price</th>
                                                <th scope="col">Net Value</th>
                                                <th scope="col">Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="align-right">@DisplayFormat.NumberFormatFiveDecimal(Model.SalesOrder.Quantity)</td>
                                                <td class="align-right">@DisplayFormat.NumberFormatFiveDecimal(Model.SalesOrder.NetPrice)</td>
                                                <td class="align-right">@DisplayFormat.NumberFormatFiveDecimal(Model.SalesOrder.NetValue)</td>
                                                <td>USDN</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    }
                    else // if (Model.SalesOrder.SOType == SOType.ZTS.ToString())
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.PowerPlant.ShipToPartyName, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.SalesOrder.PowerPlant.ShipToPartyName, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalesOrder.PowerPlant.Material, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.SalesOrder.PowerPlant.StrMaterial, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-10">
                                <div id="gridSalesOrders"></div>
                            </div>
                        </div>

                        <div class="row transmition" style="margin-top: 15px; display: none">
                            <div class="col-xs-offset-2 col-xs-10">
                                <div id="gridTransmition"></div>
                            </div>
                        </div>
                    }
                </form>
            </div>

            using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", @id = "FormInvoice" }))
            {
                @Html.HiddenFor(model => model.Id);
                @Html.HiddenFor(model => model.WorkflowId);
                @Html.HiddenFor(model => model.SalesOrderId);
                @Html.HiddenFor(model => model.IsDraft)
                @Html.HiddenFor(model => model.CurrentAdditionalText)

                <div class="ibox-content">
                    @if (curWorkflow.IsBastDownloadable) // if ada tombol Print Surat Pengantar
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.InvoiceNo, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.InvoiceNo, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">Surat Pengantar</label>
                                    <div class="col-xs-8">
                                        <button id="btnPrePrintSuratPengantar" type="button" class="btn btn-primary">Print Surat Pengantar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.InvoiceNo);
                    }

                    @if ((curWorkflow.IsSapDownloadable) || ((Model.EFakturFiles != null) && (Model.EFakturFiles.Count > 0))) // if ada Form Upload E-Faktur
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">E-Faktur</label>
                                    <div class="col-xs-8">
                                        @if (curWorkflow.IsSapDownloadable)
                                        {
                                            @Html.TextBox("files", "", new
                                            {
                                                @class = "form-control-upload-static",
                                                type = "file",
                                                id = "files",
                                                accept = "application/pdf",
                                            })
                                            @Html.ValidationMessageFor(model => model.EFakturFiles, "", new { @class = "text-danger" })
                                        }
                                        <div id="gridEFakturFiles"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (!curWorkflow.IsSapDownloadable) // supaya ngelewatin validasi
                    {
                        @Html.HiddenFor(model => model.EFakturFiles)
                    }

                    @if ((curWorkflow.IsBastSignedUploadable) || ((Model.InvoiceFiles != null) && (Model.InvoiceFiles.Count > 0)) || ((Model.InvoiceSentDate != null) || (Model.InvoiceUploadDate != null))) // if ada Form Upload Invoice & tanggal kirim
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" hidden>
                                    <label class="col-xs-4 control-label">Invoice</label>
                                    <div class="col-xs-8">
                                        @if (curWorkflow.IsBastSignedUploadable)
                                        {
                                            @Html.TextBox("files", "", new
                                            {
                                                @class = "form-control-upload-static",
                                                type = "file",
                                                id = "files",
                                                accept = "application/pdf"
                                            })
                                        }
                                        <div id="gridInvoiceFiles"></div>
                                        @Html.ValidationMessageFor(model => model.InvoiceFiles, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                 <div class="form-group">
                                    @Html.LabelFor(model => model.InvoiceUploadDate, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.InvoiceUploadDate, new { @class = "form-control form-control-datepicker-ymd always-validate " })
                                        @Html.ValidationMessageFor(model => model.InvoiceUploadDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.InvoiceSentDate, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @*@Html.TextBoxFor(model => model.InvoiceSentDate, new { @class = "form-control form-control-datepicker-ymd always-validate" + (curWorkflow.IsBastSignedUploadable ? "" : " readonly") })*@
                                        @Html.TextBoxFor(model => model.InvoiceSentDate, new { @class = "form-control form-control-datepicker-ymd always-validate"})
                                        @Html.ValidationMessageFor(model => model.InvoiceSentDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.InvoiceSentDate)
                        @Html.HiddenFor(model => model.InvoiceUploadDate)
                    }
                    @if (!curWorkflow.IsBastSignedUploadable) // supaya ngelewatin validasi
                    {
                        @Html.HiddenFor(model => model.InvoiceFiles)
                    }

                    @if (curWorkflow.IsBastSignedDownloadable || (Model.InvoiceAcceptDate != null) || (Model.ClearingDocDate != null)) // (curWorkflow.IsBastSignedDownloadable) // if ada Form Acceptance Date & Kliring
                    {
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Additional File</label>
                                        <div class="col-xs-8">
                                            @if (curWorkflow.IsBastSignedDownloadable)
                                            {
                                                @Html.TextBox("files", "", new
                                                {
                                                    @class = "form-control-upload-static",
                                                    type = "file",
                                                    id = "files",
                                                    accept = "application/pdf"
                                                })
                                            }
                                            <div id="gridAdditionalFile"></div>
                                            @Html.ValidationMessageFor(model => model.AdditionalFiles, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InvoiceAcceptDate, new { @class = "col-xs-4 control-label" })
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(model => model.InvoiceAcceptDate, new { @class = "form-control form-control-datepicker-ymd always-validate" + (curWorkflow.IsBastSignedDownloadable ? "" : " readonly") })
                                            @Html.ValidationMessageFor(model => model.InvoiceAcceptDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ClearingDocDate, new { @class = "col-xs-4 control-label" })
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(model => model.ClearingDocDate, new { @class = "form-control form-control-datepicker-ymd always-validate" + (curWorkflow.IsBastSignedDownloadable ? "" : " readonly") })
                                            @Html.ValidationMessageFor(model => model.ClearingDocDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AcceptedDateBy, new { @class = "col-xs-4 control-label" })
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(model => model.AcceptedDateBy, new { @class = "form-control form-control-datepicker-ymd always-validate" + (curWorkflow.IsBastSignedDownloadable ? "" : " readonly") })
                                            @Html.ValidationMessageFor(model => model.AcceptedDateBy, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.TargetSendBackDate, new { @class = "col-xs-4 control-label" })
                                        <div class="col-xs-8">
                                            <div class="row">
                                                <div class="col-xs-7">
                                                    @Html.TextBoxFor(model => model.TargetSendBackDate, new { @class = "form-control form-control-datepicker-ymd always-validate" + (curWorkflow.IsBastSignedDownloadable ? "" : " readonly") })
                                                </div>
                                                <div class="col-xs-5">
                                                    <span>30 hari dari tanggal kirim invoice ke PLN</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ActualSendBackDate, new { @class = "col-xs-4 control-label" })
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(model => model.ActualSendBackDate, new { @class = "form-control form-control-datepicker-ymd always-validate" + (curWorkflow.IsBastSignedDownloadable ? "" : " readonly") })
                                            @Html.ValidationMessageFor(model => model.ActualSendBackDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.InvoiceAcceptDate, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.InvoiceAcceptDate, new { @class = "form-control form-control-datepicker-ymd always-validate" + (curWorkflow.IsBastSignedDownloadable ? "" : " readonly") })
                                        @Html.ValidationMessageFor(model => model.InvoiceAcceptDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClearingDocDate, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextBoxFor(model => model.ClearingDocDate, new { @class = "form-control form-control-datepicker-ymd always-validate" + (curWorkflow.IsBastSignedDownloadable ? "" : " readonly") })
                                        @Html.ValidationMessageFor(model => model.ClearingDocDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.InvoiceAcceptDate)
                        @Html.HiddenFor(model => model.ClearingDocDate)
                        @Html.HiddenFor(model => model.AcceptedDateBy)
                        @Html.HiddenFor(model => model.TargetSendBackDate)
                        @Html.HiddenFor(model => model.ActualSendBackDate)
                        @Html.HiddenFor(model => model.AdditionalFiles)
                    }

                    <hr />

                    <div class="form-group">
                        <div class="col-xs-10">
                            @if (curWorkflow.IsFirst && user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.FINANCE_CONTROLLER }))
                            {
                                <button id="btnSaveDraft" class="btn btn-warning">Save as Draft</button>
                            }


                            @if (Model.SalesOrder.PowerPlant.Material == Material.ELECTRIC_POWER.ToString())
                            {
                                switch (curWorkflow.Id)
                                {
                                    case 1019:
                                    case 1021:
                                        hasAccess = user.HasAccess(new UserRole?[] { UserRole.FINANCE_CONTROLLER, UserRole.Superadmin });
                                        break;
                                    case 1020:
                                    case 1022:
                                        hasAccess = user.HasAccess(new UserRole?[] { UserRole.FINANCE_TREASURY, UserRole.Superadmin }); ;
                                        break;
                                    default:
                                        break;
                                }
                            }
                            else
                            {
                                switch (curWorkflow.Id)
                                {
                                    case 1026:
                                    case 1027:
                                        hasAccess = user.HasAccess(new UserRole?[] { UserRole.FINANCE_CONTROLLER, UserRole.Superadmin });
                                        break;
                                    case 1028:
                                        hasAccess = user.HasAccess(new UserRole?[] { UserRole.FINANCE_TREASURY, UserRole.Superadmin }); ;
                                        break;
                                    default:
                                        break;
                                }
                            }

                            @if (curWorkflow.IsApprovable && hasAccess)
                            {
                                <button id="btnSubmit" type="submit" class="btn btn-primary">@curWorkflow.Approver</button>
                            }

                            @if (curWorkflow.IsRevisable && hasAccess)
                            {
                                <button id="btnRevise" type="submit" class="btn btn-danger">Revisi</button>
                            }
                            <a href="@backLink" class="btn btn-link">Batal</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

@section scripts
                        {
    <script type="text/javascript">

       $(function () {
           initElement();
           
           if ($("#InvoiceUploadDate").val() == null || $("#InvoiceUploadDate").val() == "") {
               var initDateEnd = kendo.toString(kendo.parseDate(new Date()), 'yyyy/MM/dd');
               $("#InvoiceUploadDate").val(initDateEnd);
           }

           if ($("#InvoiceSentDate").val() == null || $("#InvoiceSentDate").val() == "") {
               var initDateEnd = kendo.toString(kendo.parseDate(new Date()), 'yyyy/MM/dd');
               $("#InvoiceSentDate").val(initDateEnd);
           }
        });

        function initElement() {
            //InvoiceNo       
            var transmitionPrice = "@Model.TransmitionPrice";

            if (transmitionPrice > "0") {
                initGridTransmition();
                $(".transmition").show();
            }

            if ("@currentAction.Contains("Edit")" == "@true") {
                $("#FilterForm input").prop("disabled", true);
                $("#ChooseInvoice_Periode").data("kendoDatePicker").readonly(true);
            }

            $('input[type=input][name=InvoiceNo]').prop("disabled", "disabled");
                                $("")
                                bindSOType();
                                bindChangePeriod();
                                bindPowerPlantId();
                                bindBtnSubmit();
                                bindBtnSaveDraft();
                                bindBtnRevise();
                            }

                            function bindSOType() {
            $('input[type=radio][name=sotype]').change(function () {
                                    bindPowerPlantId();
                                });
                            }

                            function bindChangePeriod() {
                                var datepicker = $("#ChooseInvoice_Periode").data("kendoDatePicker");

                                datepicker.bind("change", checkInvoice);
                            }

                            function bindPowerPlantId() {
                                var dropdown = dropdownListGenerator($("#ChooseInvoice_PowerPlantId"), "@Url.Action(ActionSite.BindingPowerPlant)", "", "@Field.Name", "@Component.OptionLabel", false, [$('input[type=radio][name=sotype]:checked').val()]);
                                bindChangePowerPlantId();
                            }

                            function bindChangePowerPlantId() {
                                var dropdownlist = $("#ChooseInvoice_PowerPlantId").data("kendoDropDownList");

                                dropdownlist.bind("change", checkInvoice);
                            }

                            function bindBtnSubmit() {
			$("#btnSubmit").on("click", function (e) {
                                    e.preventDefault();
				$("#IsDraft").val(false);
				$("#FormInvoice").submit();
                                });
                            }

                            function bindBtnSaveDraft() {
			$("#btnSaveDraft").on("click", function (e) {
                                    e.preventDefault();
				$("#IsDraft").val(true);
				$("#FormInvoice").submit();
                                });
                            }

                            function bindBtnRevise() {
			$("#btnRevise").click(function (e) {
                                    e.preventDefault();
				$("#@popupRevisi.PopupId").modal("show");
                                })
		}

                            function checkInvoice() {
                                var periode = $("#ChooseInvoice_Periode").val();
                                var powerPlantId = $("#ChooseInvoice_PowerPlantId").val();
                                if ((periode != "") && (powerPlantId != "")) {
                                    periode = $("#ChooseInvoice_Periode").data("kendoDatePicker").value();
                                    periode = new Date(periode);
                                    window.location.href = "@Url.Action(ActionSite.Check, currentController, new { Area = "Invoice" })?periode=" + periode.toLocaleDateString("en-US") + "&powerPlantId=" + powerPlantId;
                                }
                            }

		$(document).ready(function () {

                            });
    </script>

    @if (Model.SalesOrder != null)
    {
        if (Model.SalesOrder.SOType == SOType.ZPGE.ToString())
        {
            <script type="text/javascript">
                        				$(function () {
                                        initElementZPGE();
                                    });

                                    function initElementZPGE() {
                                        initGridBastFileSigneds();
                                    }

                                    function initGridBastFileSigneds() {
                                        var dsBastFileSigneds = new kendo.data.DataSource({
                        transport: {
                                    read:
                                        {
                                        url: "@Url.Action(ActionSite.BindingBastFileSigneds)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"


                            },
							parameterMap: function(options, operation) {
                                            if (operation !== "@DataSource.Operation.Read" && options.models)
                                            {
                                                return kendo.stringify(options);
                                            }
                                            else
                                            {
                                                if (options.filter)
                                                {
                                                    var filters = options.filter.filters;

										for (var i in filters)
                                                    {
                                                        var filter = filters[i];
                                                    }
                                                }

                                                if (options.sort)
                                                {
                                                    var sorts = options.sort;

										for (var i in sorts)
                                                    {
                                                        var sort = sorts[i];
                                                    }
                                                }

                                                options.args = [];

                                                return options;
                                            }
                                        }
                                    },
						schema:
                                    {
                                    data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
                                        {
                                        id: "@Field.Id",
								fields:
                                            {
                                                "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
									"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
								}
                                        }
                                    },
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: { field: "@Field.SalesOrderId", operator: "eq", value: "@Model.SalesOrderId" },
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
                                });

					$("#gridBastFileSigneds").kendoGrid({
                                dataSource: dsBastFileSigneds,
						filterable: kendoGridFilterable,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                        },
						sortable: true,
						columns: [

                            {
                                    field: "@Field.FilePath",
								title: "File",
								template: "<a href='#=AbsolutePath#' target='_blank'>#=FriendlyName#</a>",
							}
						],
					});
                            }
            </script>
        }
        else // if (Model.SalesOrder.SOType == SOType.ZTS.ToString())
        {
            <script type="text/javascript">
				$(function () {
					initElementZTS();
				});

				function initElementZTS() {
                    initGridSalesOrders();
				}

				function initGridSalesOrders() {
					var dsSalesOrders = new kendo.data.DataSource({
						transport: {
							read:
							{
								url: "@Url.Action(ActionSite.BindingSalesOrders)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"
							},
							parameterMap: function (options, operation) {
								if (operation !== "@DataSource.Operation.Read" && options.models) {
									return kendo.stringify(options);
								}
								else {
									if (options.filter) {
										var filters = options.filter.filters;

										for (var i in filters) {
											var filter = filters[i];
										}
									}

									if (options.sort) {
										var sorts = options.sort;

										for (var i in sorts) {
											var sort = sorts[i];
										}
									}

									options.args = [];

									return options;
								}
							}
						},
						schema:
						{
							data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
							{
								id: "@Field.Id",
								fields:
								{
									"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"PeriodeDate": { type: "@DataSource.Schema.Type.String" },
									"@Field.Quantity": { type: "@DataSource.Schema.Type.String" },
									"@Field.NetPrice": { type: "@DataSource.Schema.Type.String" },
									"@Field.NetValue": { type: "@DataSource.Schema.Type.String" },
								}
							}
						},
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: [
							{
								field: "@Field.PowerPlantId",
								operator: "eq",
								value: "@Model.SalesOrder.PowerPlant.Id"
							},
							{
								field: "@Field.Periode",
								operator: "gte",
								value: "@(new DateTime(Model.SalesOrder.PeriodeValue.Year, Model.SalesOrder.PeriodeValue.Month, 1))"
							},
							{
								field: "@Field.Periode",
								operator: "lt",
								value: "@(new DateTime(Model.SalesOrder.PeriodeValue.Year, Model.SalesOrder.PeriodeValue.Month, 1).AddMonths(1))"
							},
						],
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
					});

					$("#gridSalesOrders").kendoGrid({
						dataSource: dsSalesOrders,
						filterable: kendoGridFilterable,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                        },
						sortable: true,
						columns: [
							{
								field: "PeriodeDate",
								title: "Document Date",
								width: "100px",
							},
							{
								field: "@Field.Quantity",
								title: "Confirm Qty(kWh)",
								width: "100px",
							},
							{
								field: "NetPrice",
								title: "Net Price",
								width: "100px",
							},
							{
								field: "NetValue",
								title: "Net Value",
								width: "100px",
							},
						],
					});
                }

                function initGridTransmition() {
					var dsSalesOrders = new kendo.data.DataSource({
						transport: {
							read:
							{
								url: "@Url.Action(ActionSite.BindingSalesOrders)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"
							},
							parameterMap: function (options, operation) {
								if (operation !== "@DataSource.Operation.Read" && options.models) {
									return kendo.stringify(options);
								}
								else {
									if (options.filter) {
										var filters = options.filter.filters;

										for (var i in filters) {
											var filter = filters[i];
										}
									}

									if (options.sort) {
										var sorts = options.sort;

										for (var i in sorts) {
											var sort = sorts[i];
										}
									}

									options.args = [];

									return options;
								}
							}
						},
						schema:
						{
							data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
							{
								id: "@Field.Id",
								fields:
								{
									"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"PeriodeDate": { type: "@DataSource.Schema.Type.String" },
									"@Field.Quantity": { type: "@DataSource.Schema.Type.String" },
									"@Field.TransmitionPrice": { type: "@DataSource.Schema.Type.Number" },
									"@Field.TransmitionNetValue": { type: "@DataSource.Schema.Type.Number" },
								}
							}
						},
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: [
							{
								field: "@Field.PowerPlantId",
								operator: "eq",
								value: "@Model.SalesOrder.PowerPlant.Id"
							},
							{
								field: "@Field.Periode",
								operator: "gte",
								value: "@(new DateTime(Model.SalesOrder.PeriodeValue.Year, Model.SalesOrder.PeriodeValue.Month, 1))"
							},
							{
								field: "@Field.Periode",
								operator: "lt",
								value: "@(new DateTime(Model.SalesOrder.PeriodeValue.Year, Model.SalesOrder.PeriodeValue.Month, 1).AddMonths(1))"
							},
						],
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
					});

					$("#gridTransmition").kendoGrid({
						dataSource: dsSalesOrders,
						filterable: kendoGridFilterable,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                        },
						sortable: true,
						columns: [
							{
								field: "PeriodeDate",
								title: "Document Date",
								width: "100px",
							},
							{
								field: "@Field.Quantity",
								title: "Confirm Qty(kWh)",
								width: "100px",
							},
							{
								field: "@Field.TransmitionPrice",
								title: "Transmition Price",
                                width: "100px",
                                format: "{0:n5}"
							},
							{
								field: "@Field.TransmitionNetValue",
								title: "Net Value",
                                width: "100px",
                                format: "{0:n5}"
							},
						],
					});
                }
            </script>
        }

        if (curWorkflow.IsBastDownloadable) // if ada tombol Print Surat Pengantar
        {
            <script type="text/javascript">
				$(function () {
					initElementSuratPengantar();
				});

				function initElementSuratPengantar() {
					initBtnPrePrintSuratPengantar();
					initBtnPrintSuratPengantar();
					initKeyPressInvoiceNo();
					checkBtnPrePrintSuratPengantar();
                    bindChangeDropdownSignature();

                    $("#AdditionalText").kendoEditor({
                        //tools: [
                        //    { name: "insertLineBreak", shift: false },
                        //    { name: "insertParagraph", shift: true }
                        //],
                        tools: [
                            "bold", "italic", "underline",
                            //{ name: "insertLineBreak", shift: false }
                            //{ name: "insertParagraph", shift: true }

                        ],
                        encoded: false,
                        content: true,
                        toolbar: true,
                        paste: function (ev) {
                            var pText = "<span>" + ev.html + "</span>";
                            ev.html = $(pText).text();
                        }
                    })
				}

				function initBtnPrePrintSuratPengantar() {
                    $("#btnPrePrintSuratPengantar").on("click", function () {
						$("#@popupSuratPengantar.PopupId").modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
						dropdownListGenerator($("#SignatureName"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.USERINFO", "@Field.UserName", "@Component.OptionLabel", true);

                        $("#@popupSuratPengantar.PopupId [name=@Field.InvoiceNo]").val($("#FormInvoice [name=@Field.InvoiceNo]").val());
                        $("#SignatureFullName").val("");
                        $("#SignatureEmployeeNo").val("");

                        if ($("#FormInvoice [name=CurrentAdditionalText]").val() !== "" ||
                            $("#FormInvoice [name=CurrentAdditionalText]").val() !== null) {
                            var currentDocede = "@Html.Raw(HttpUtility.HtmlDecode(currentAdditionalText))";
                            console.log(currentDocede)
                            $("#@Field.AdditionalText").data("kendoEditor").value(currentDocede);
                        }

						checkBtnPrintSuratPengantar();
					});
				}

                function initBtnPrintSuratPengantar() {
					$("#btnPrintSuratPengantar").on("click", function (e) {
                        e.preventDefault();

                        $("#FormInvoice [name=@Field.InvoiceNo]").val($("#@popupSuratPengantar.PopupId [name=@Field.InvoiceNo]").val());
                        var formData = $("#@popupSuratPengantar.FormId").serialize();

                        @*swal({
                            title: "Downloading",
                            text: "Please wait...",
                            imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                            closeOnConfirm: false,
                            confirmButtonClass: "hide"
                        });*@

                        $.ajax({
                            url: "@Url.Action(ActionSite.DownloadCoverLetter)",
                            type: "POST",
                            data: formData,
                            success: function (result) {
                                if (result.Success === true) {
                                    $("#@popupSuratPengantar.FormId").submit();
                                }
                                else {
                                    $("#@popupSuratPengantar.FormId [name='messageArea']").html(result.Message);
                                    $("#@popupSuratPengantar.FormId [name='messageArea']").show();
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Server Error. Harap hubungi administrator");
                            }
                        });
					})
				}

				function initKeyPressInvoiceNo() {
					$("#FormInvoice [name=@Field.InvoiceNo]").on("keyup change", function (e) {
						checkBtnPrePrintSuratPengantar();
					});
					$("#@popupSuratPengantar.PopupId [name=@Field.InvoiceNo]").on("keyup change", function (e) {
						checkBtnPrintSuratPengantar();
					});
				}

                function checkBtnPrePrintSuratPengantar() {
                    console.log($("#FormInvoice [name=@Field.SignatureName]").val());
					if ($("#FormInvoice [name=@Field.InvoiceNo]").val() != ""  &&  $("#FormInvoice [name=@Field.SignatureName]").val() != "") {
						$("#btnPrePrintSuratPengantar").prop("disabled", false);
					} else {
						$("#btnPrePrintSuratPengantar").prop("disabled", true);
					}
				}

                function checkBtnPrintSuratPengantar() {

                    $("#btnPrintSuratPengantar").prop("disabled", "disabled");

					if ($("#@popupSuratPengantar.PopupId [name=@Field.InvoiceNo]").val() != "" && $("#FormInvoice [name=@Field.SignatureName]").val() != "") {
						$("#btnPrintSuratPengantar").prop("disabled", false);
					} else {
						$("#btnPrintSuratPengantar").prop("disabled", true);
					}
				}

				function bindChangeDropdownSignature() {
                    $("#SignatureName").on("change", function (e) {
						$.ajax({
							url: "@Url.Action(ActionSite.GetUserInfo, ControllerSite.User, new { Area = AreaSite.UserManagement })",
							type: "POST",
							data:
							{
								employeeNo: $(this).val()
							},
							success: function (result) {
								if (result.Success === true) {
									$("#SignatureFullName").val(result.data.FullName);
									$("#SignaturePosition").val(result.data.Position);
									$("#SignatureEmployeeNo").val(result.data.EmployeeNo);
									$("#SignatureFilePath").val(result.data.SignatureFilePath);
								}
								else {

								}
							},
							error: function (xhr, ajaxOptions, thrownError) {
								swal("Server Error. Harap hubungi administrator");
							}
						});
					});
				}
            </script>
        }

        //if ((Model.EFakturFiles != null) && (Model.EFakturFiles.Count > 0))
        if ((curWorkflow.IsSapDownloadable) || ((Model.EFakturFiles != null) && (Model.EFakturFiles.Count > 0))) // if ada Form Upload E-Faktur
        {
            <script type="text/javascript">
				$(function () {
					initElementEFakturFile();
				});

				function initElementEFakturFile() {
					initGridEFakturFiles();
					bindOnSuccessEFakturFile();
				}

				function initGridEFakturFiles() {
					var dsEFakturFiles = new kendo.data.DataSource({
						transport: {
							read:
							{
								url: "@Url.Action(ActionSite.BindingEFakturFiles)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"
							},
							parameterMap: function(options, operation) {
								if (operation !== "@DataSource.Operation.Read" && options.models)
								{
									return kendo.stringify(options);
								}
								else
								{
									if (options.filter)
									{
										var filters = options.filter.filters;

										for (var i in filters)
										{
											var filter = filters[i];
										}
									}

									if (options.sort)
									{
										var sorts = options.sort;

										for (var i in sorts)
										{
											var sort = sorts[i];
										}
									}

									options.args = [];

									return options;
								}
							}
						},
						schema:
						{
							data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
							{
								id: "@Field.Id",
								fields:
								{
									"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
									"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
								}
							}
						},
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: { field: "@Field.InvoiceId", operator: "eq", value: "@Model.Id" },
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
					});

					$("#gridEFakturFiles").kendoGrid({
						dataSource: dsEFakturFiles,
						dataBound: dataBoundEFakturFiles,
						filterable: kendoGridFilterable,
                        pageable: { refresh: true, pageSizes: true, },
						sortable: true,
						columns: [
							{
								command: [
									{
										name: "delete",
										text: "@Component.Grid.Command.Delete",
										click: deleteEFakturFile,
										imageClass: "glyphicon glyphicon-trash",
										template: GRID_COMMAND_TEMPLATE
									},
								],
								width: "40px",
								attributes: { "class": "command" }
							},
							{
								field: "@Field.FilePath",
								title: "File",
								template: "<a href='#=AbsolutePath#' target='_blank'>#=FriendlyName#</a>",
							}
						],
					});

					function dataBoundEFakturFiles(e) {
						var grid = $("#gridEFakturFiles").data("kendoGrid");

						grid.tbody.find("tr[role=\"row\"]").each(function (i) {

							//var model = grid.dataItem(this);
							if ("@curWorkflow.IsSapDownloadable" === "False") {
								$(this).find(".k-grid-delete")
									.removeClass("k-grid-delete")
									.children().eq(0)
									.addClass("k-state-disabled")
									.attr("title", "Can't be deleted, data already used")
									.attr("data-html", true);
							}
						});
					}
				}

				function bindOnSuccessEFakturFile() {
					if ("@curWorkflow.IsSapDownloadable" === "True") {
						var upload = $("#files").data("kendoUpload");

						if (upload != null) {
							upload.bind({
								success: onSuccessEFakturFile,
								upload: (function (e) {
									var guid;
									guid = e.files[0].uid;
									e.data = {
										ids: guid
									};
								})
							});
						}
					}
				}

				function onSuccessEFakturFile(e) {
					if (e.operation == "upload") {
						e.response.forEach(function (response, idx) {
							$.ajax({
								url: "@Url.Action(ActionSite.CreateEFakturFile)",
								type: "POST",
								data: { id: @Model.Id, filePath: response.FilePath },
								success: function (result) {
									if (result.Success === true) {
										$("#gridEFakturFiles").data("kendoGrid").dataSource.read();
									}
									else {
										swal("Error", data.Message, "error");
									}
								},
								error: function (xhr, ajaxOptions, thrownError) {
									swal("Server Error. Harap hubungi administrator");
								}
							});
						});
					}
				}

				function deleteEFakturFile(e) {
					e.preventDefault();
					var data = this.dataItem(getDataRowGrid(e));
					goToDeletePage("@Url.Action(ActionSite.DeleteEFakturFile)" + "?id=" + data.id, this.dataSource);
				}
            </script>
        }

        //if ((Model.InvoiceFiles != null) && (Model.InvoiceFiles.Count > 0))
        if ((curWorkflow.IsBastSignedUploadable) || ((Model.InvoiceFiles != null) && (Model.InvoiceFiles.Count > 0)) || ((Model.InvoiceSentDate != null) || (Model.InvoiceUploadDate != null))) // if ada Form Upload Invoice & tanggal kirim
        {
            <script type="text/javascript">
				$(function () {
					initElementInvoiceFile();
				});

				function initElementInvoiceFile() {
					initGridInvoiceFiles();
					bindOnSuccessInvoiceFile();
					setReadonlySentUpload();
				}

				function initGridInvoiceFiles() {
					var dsInvoiceFiles = new kendo.data.DataSource({
						transport: {
							read:
							{
								url: "@Url.Action(ActionSite.BindingInvoiceFiles)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"
							},
							parameterMap: function(options, operation) {
								if (operation !== "@DataSource.Operation.Read" && options.models)
								{
									return kendo.stringify(options);
								}
								else
								{
									if (options.filter)
									{
										var filters = options.filter.filters;

										for (var i in filters)
										{
											var filter = filters[i];
										}
									}

									if (options.sort)
									{
										var sorts = options.sort;

										for (var i in sorts)
										{
											var sort = sorts[i];
										}
									}

									options.args = [];

									return options;
								}
							}
						},
						schema:
						{
							data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
							{
								id: "@Field.Id",
								fields:
								{
									"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
									"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
								}
							}
						},
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: { field: "@Field.InvoiceId", operator: "eq", value: "@Model.Id" },
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
					});

					$("#gridInvoiceFiles").kendoGrid({
						dataSource: dsInvoiceFiles,
						dataBound: dataBoundInvoiceFiles,
						filterable: kendoGridFilterable,
						pageable: { refresh: true,  pageSizes: true,  },
						sortable: true,
						columns: [
							{
								command: [
									{
										name: "delete",
										text: "@Component.Grid.Command.Delete",
										click: deleteInvoiceFile,
										imageClass: "glyphicon glyphicon-trash",
										template: GRID_COMMAND_TEMPLATE
									},
								],
								width: "40px",
								attributes: { "class": "command" }
							},
							{
								field: "@Field.FilePath",
								title: "File",
								template: "<a href='#=AbsolutePath#' target='_blank'>#=FriendlyName#</a>",
							}
						],
					});

					function dataBoundInvoiceFiles(e) {
						var grid = $("#gridInvoiceFiles").data("kendoGrid");

						grid.tbody.find("tr[role=\"row\"]").each(function (i) {

							//var model = grid.dataItem(this);
							if ("@curWorkflow.IsBastSignedUploadable" === "False") {
								$(this).find(".k-grid-delete")
									.removeClass("k-grid-delete")
									.children().eq(0)
									.addClass("k-state-disabled")
									.attr("title", "Can't be deleted, data already used")
									.attr("data-html", true);
							}
						});
					}
				}

				function bindOnSuccessInvoiceFile() {
					if ("@curWorkflow.IsBastSignedUploadable" === "True") {
						var upload = $("#files").data("kendoUpload");

						if (upload != null) {
							upload.bind({
								success: onSuccessInvoiceFile,
								upload: (function (e) {
									var guid;
									guid = e.files[0].uid;
									e.data = {
										ids: guid
									};
								})
							});
						}
					}
				}

				function setReadonlySentUpload() {
                    if ("@curWorkflow.IsBastSignedUploadable" === "@false") {
                        var invoiceSentDate = $("#InvoiceSentDate").data("kendoDatePicker"),
                            invoiceUploadDate = $("#InvoiceUploadDate").data("kendoDatePicker");

                        //invoiceSentDate.enable(false);
                        //invoiceUploadDate.enable(false);
						//var datepicker;
						//datepicker = $("#InvoiceSentDate").data("kendoDatePicker");
						//datepicker.readonly();
						//datepicker = $("#InvoiceUploadDate").data("kendoDatePicker");
						//datepicker.readonly();
                        
					}
				}

				function onSuccessInvoiceFile(e) {
					if (e.operation == "upload") {
						e.response.forEach(function (response, idx) {
							$.ajax({
								url: "@Url.Action(ActionSite.CreateInvoiceFile)",
								type: "POST",
								data: { id: @Model.Id, filePath: response.FilePath },
								success: function (result) {
									if (result.Success === true) {
										$("#gridInvoiceFiles").data("kendoGrid").dataSource.read();
									}
									else {
										swal("Error", data.Message, "error");
									}
								},
								error: function (xhr, ajaxOptions, thrownError) {
									swal("Server Error. Harap hubungi administrator");
								}
							});
						});
					}
				}

				function deleteInvoiceFile(e) {
					e.preventDefault();
					var data = this.dataItem(getDataRowGrid(e));
					goToDeletePage("@Url.Action(ActionSite.DeleteInvoiceFile)" + "?id=" + data.id, this.dataSource);
				}

            </script>
        }

        if (curWorkflow.IsBastSignedDownloadable || Model.AcceptedDateBy != null)
        {
            <script type="text/javascript">
                $(function () {
                    var acceptedDateBy = $("#AcceptedDateBy").data("kendoDatePicker"),
                        targetDate = $("#TargetSendBackDate").data("kendoDatePicker");

                    targetDate.enable(false);

                    initGridAdditionalFiles();
                    bindOnSuccessAdditionalInvoiceFile();

                    acceptedDateBy.bind("change", acceptedDateByOnChange);
                })

                function acceptedDateByOnChange(e) {
                    var selDate = this.value(),
                        targetDateVal = kendo.date.addDays(selDate, 30),
                        targetDate = $("#TargetSendBackDate").data("kendoDatePicker");

                    targetDate.value(targetDateVal);
                }

				function initGridAdditionalFiles() {
					var ds = new kendo.data.DataSource({
						transport: {
							read:
							{
								url: "@Url.Action(ActionSite.BindingAdditionalInvoiceFiles)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"
							},
							parameterMap: function(options, operation) {
								if (operation !== "@DataSource.Operation.Read" && options.models)
								{
									return kendo.stringify(options);
								}
								else
								{
									if (options.filter)
									{
										var filters = options.filter.filters;

										for (var i in filters)
										{
											var filter = filters[i];
										}
									}

									if (options.sort)
									{
										var sorts = options.sort;

										for (var i in sorts)
										{
											var sort = sorts[i];
										}
									}

									return options;
								}
							}
						},
						schema:
						{
							data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
							{
								id: "@Field.Id",
								fields:
								{
									"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"@Field.InvoiceId": { type: "@DataSource.Schema.Type.Number" },
									"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
								}
							}
						},
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: { field: "@Field.InvoiceId", operator: "eq", value: "@Model.Id" },
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
					});

					$("#gridAdditionalFile").kendoGrid({
                        dataSource: ds,
                        dataBound: gridAdditionalFileOnDataBound,
						filterable: kendoGridFilterable,
						pageable: { refresh: true,  pageSizes: true,  },
						sortable: true,
						columns: [
							{
								command: [
									{
										name: "delete",
										text: "@Component.Grid.Command.Delete",
                                        click: deleteAdditionalInvoiceFile,
										imageClass: "glyphicon glyphicon-trash",
										template: GRID_COMMAND_TEMPLATE
									},
								],
								width: "40px",
								attributes: { "class": "command" }
							},
							{
								field: "@Field.FilePath",
								title: "File",
								template: "<a href='#=AbsolutePath#' target='_blank'>#=FriendlyName#</a>",
							}
						],
					});
                }

				function onSuccessAdditionalFile(e) {
					if (e.operation == "upload") {
						e.response.forEach(function (response, idx) {
							$.ajax({
								url: "@Url.Action(ActionSite.CreateAdditionalInvoiceFile)",
								type: "POST",
								data: { id: @Model.Id, filePath: response.FilePath },
								success: function (result) {
									if (result.Success === true) {
										$("#gridAdditionalFile").data("kendoGrid").dataSource.read();
									}
									else {
										swal("Error", data.Message, "error");
									}
								},
								error: function (xhr, ajaxOptions, thrownError) {
									swal("Server Error. Harap hubungi administrator");
								}
							});
						});
					}
                }

				function bindOnSuccessAdditionalInvoiceFile() {
					if ("@curWorkflow.IsBastSignedDownloadable" === "True") {
						var upload = $("#files").data("kendoUpload");

						if (upload != null) {
							upload.bind({
                                success: onSuccessAdditionalFile,
								upload: (function (e) {
									var guid;
									guid = e.files[0].uid;
									e.data = {
										ids: guid
									};
								})
							});
						}
					}
                }

				function deleteAdditionalInvoiceFile(e) {
					e.preventDefault();
					var data = this.dataItem(getDataRowGrid(e));
					goToDeletePage("@Url.Action(ActionSite.DeleteAdditionalInvoiceFile)" + "?id=" + data.id, this.dataSource);
                }

				function gridAdditionalFileOnDataBound(e) {
                    var grid = $("#gridAdditionalFile").data("kendoGrid");

					grid.tbody.find("tr[role=\"row\"]").each(function (i) {

						//var model = grid.dataItem(this);
						if ("@Model.AcceptedDateBy" !== "") {
							$(this).find(".k-grid-delete")
								.removeClass("k-grid-delete")
								.children().eq(0)
								.addClass("k-state-disabled")
								.attr("title", "Can't be deleted, data already used")
								.attr("data-html", true);
						}
                    });
				}
            </script>
        }

        //@if (curWorkflow.IsBastSignedDownloadable || (Model.InvoiceAcceptDate != null) || (Model.ClearingDocDate != null)) // (curWorkflow.IsBastSignedDownloadable) // if ada Form Acceptance Date & Kliring
        if ((Model.InvoiceAcceptDate != null) || (Model.ClearingDocDate != null))
        {
            <script type="text/javascript">

                $(function () {
					initElementAcceptClearing();
				});

				function initElementAcceptClearing() {
					setReadonlyAcceptClearing();
				}

				function setReadonlyAcceptClearing() {
					if ("@curWorkflow.IsBastSignedDownloadable" === "False") {
						//var datepicker;
						//datepicker = $("#InvoiceAcceptDate").data("kendoDatePicker");
						//datepicker.readonly();
						//datepicker = $("#ClearingDocDate").data("kendoDatePicker");
						//datepicker.readonly();
                        var invoiceAcceptedDate = $("#InvoiceAcceptDate").data("kendoDatePicker"),
                            clearingDate = $("#ClearingDocDate").data("kendoDatePicker");

                        invoiceAcceptedDate.enable(false);
                        clearingDate.enable(false);
					}
                }
            </script>
        }

        if (Model.WorkflowId.ToString() == "1029") //FINISH
        {
            <script type="text/javascript">
                $(function () {
                    var acceptedDateBy = $("#AcceptedDateBy").data("kendoDatePicker"),
                        actualSendBackDate = $("#ActualSendBackDate").data("kendoDatePicker");

                    acceptedDateBy.enable(false);
                    actualSendBackDate.enable(false);
                })
            </script>
        }
    }
}