﻿@using Common.Enums
@using WebUI.Infrastructure
@{
	ViewBag.Title = "Invoice";
	string currentController = (string)ViewContext.RouteData.Values["controller"];
	string currentAction = (string)ViewContext.RouteData.Values["action"];
    Principal user = User as Principal;
}

<div class="tabs-container">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">My Tasks</a></li>
		<li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Ongoing Document</a></li>
	</ul>
	<div class="tab-content">
		<div id="tab-1" class="tab-pane active">
			<div class="panel-body">
                @if (user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.FINANCE_CONTROLLER }))
                {
				<div class="tab-title">
					<a href="@Url.Action(ActionSite.Create)" class="btn btn-primary">Create Invoice</a>
				</div>
                }
				<div id="grid"></div>
			</div>
		</div>
		<div id="tab-2" class="tab-pane">
			<div class="panel-body">
				<div id="grid-approval"></div>
			</div>
		</div>
	</div>
</div>

@section scripts{
<script type="text/javascript">
        $(function () {
            initElement();
        });

		function initElement() {
			bindGrids();
		}

		function bindGrids() {
            var dataMyTasks = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                    if (filter.field == "@Field.SOType") {
                                        filter.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.SalesOrder, Field.SOType)";
                                    }
                                    else if (filter.field == "PeriodValue") {
                                        filter.field = "@Field.InvoiceOrderMonth";
                                    }
                                    else if (filter.field == "@Field.Unit") {
                                        filter.field = "@Field.InvoiceUnit";
                                    }
                                    else if (filter.field == "@Field.Status") {
                                        filter.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.Workflow, Field.Name)";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;
                                for (var i in sorts) {
                                    var sort = sorts[i];
                                    if (sort.field == "@Field.SOType") {
                                        sort.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.SalesOrder, Field.SOType)";
                                    }
                                    if (sort.field == "PeriodValue") {
                                        sort.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.SalesOrder, Field.Periode)";
                                    }
                                    if (sort.field == "@Field.Unit") {
                                        sort.field = "@Field.InvoiceUnit";
                                    }
                                    if (sort.field == "@Field.Status") {
                                        sort.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.Workflow, Field.Name)";
                                    }
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SOType": { type: "@DataSource.Schema.Type.String" },
							"@Field.Material": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Period": { type: "@DataSource.Schema.Type.String" },
                            "PeriodValue": { type: "@DataSource.Schema.Type.Date" },
							"@Field.Unit": { type: "@DataSource.Schema.Type.String" },
							"@Field.Status": { type: "@DataSource.Schema.Type.String" },
							"@Field.CreatedBy": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Id", dir: "@SortOrder.Descending.ToDescription()" }
            });

            $("#grid").kendoGrid({
				dataSource: dataMyTasks,
				filterable: kendoGridFilterable,
				dataBound: dataBoundMyTasks,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "delete",
                                text: "@Component.Grid.Command.Delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "approve",
                                text: "@Component.Grid.Command.Approve",
								click: approveItem,
                                imageClass: "glyphicon glyphicon-thumbs-up",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "60px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.SOType",
                        title: "SO Type",
                        width: "50px",
                    },
                    {
                        field: "PeriodValue",
                        title: "Period",
                        width: "100px",
                        template: "#= kendo.toString(PeriodValue, 'MMMM yyyy') #",
                        filterable: monthDateFilterable
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "150px",
                    },
                    {
                        field: "@Field.CreatedBy",
                        title: "Created By",
                        width: "100px",
                    }
                ],
			});

			function dataBoundMyTasks(e) {
				var grid = $("#grid").data("kendoGrid");
                var hasAccess = false;
				grid.tbody.find("tr[role=\"row\"]").each(function (i) {

					var model = grid.dataItem(this);
					if (model.IsFirst.toString() === "false") {
						$(this).find(".k-grid-delete")
							.removeClass("k-grid-delete")
							.children().eq(0)
							.addClass("k-state-disabled")
							.attr("title", "Can't be deleted, data already used")
							.attr("data-html", true);
                    }

                    if (model.Material == "@Common.Enums.Material.ELECTRIC_POWER") {
                        switch (model.WorkflowId) {
                            case 1021:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.FINANCE_CONTROLLER, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            case 1020:
                            case 1022:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.FINANCE_TREASURY, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            default:
                                break;
                        }
                    }
                    else {
                         switch (model.WorkflowId) {
                            case 1027:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.FINANCE_CONTROLLER, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            case 1028:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.FINANCE_TREASURY, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            default:
                                break;
                        }
                    }
                    if (model.IsApprovable.toString() === "false" || hasAccess == false) {

						$(this).find(".k-grid-approve")
							.removeClass("k-grid-approve")
							.children().eq(0)
							.addClass("k-state-disabled")
							.attr("title", "Approved")
							.attr("data-html", true);
					}
				});
			}

            var dataApproval = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingApproval)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                    if (filter.field == "@Field.SOType") {
                                        filter.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.SalesOrder, Field.SOType)";
                                    }
                                    else if (filter.field == "PeriodValue") {
                                        filter.field = "@Field.InvoiceOrderMonth";
                                    }
                                    else if (filter.field == "@Field.Unit") {
                                        filter.field = "@Field.InvoiceUnit";
                                    }
                                    else if (filter.field == "@Field.Status") {
                                        filter.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.Workflow, Field.Name)";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;
                                for (var i in sorts) {
                                    var sort = sorts[i];
                                    if (sort.field == "@Field.SOType") {
                                        sort.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.SalesOrder, Field.SOType)";
                                    }
                                    if (sort.field == "PeriodValue") {
                                        sort.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.SalesOrder, Field.Periode)";
                                    }
                                    if (sort.field == "@Field.Unit") {
                                        sort.field = "@Field.InvoiceUnit";
                                    }
                                    if (sort.field == "@Field.Status") {
                                        sort.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.Workflow, Field.Name)";
                                    }
                                }
                            }

                            options.args = "@WorkflowStatus.FINISH";
                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SOType": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Period": { type: "@DataSource.Schema.Type.String" },
                            "PeriodValue": { type: "@DataSource.Schema.Type.Date" },
							"@Field.Unit": { type: "@DataSource.Schema.Type.String" },
							"@Field.Status": { type: "@DataSource.Schema.Type.String" },
							"@Field.CreatedBy": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Id", dir: "@SortOrder.Descending.ToDescription()" }
            });

            $("#grid-approval").kendoGrid({
				dataSource: dataApproval,
				dataBound: dataBoundApproval,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "delete",
                                text: "@Component.Grid.Command.Delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "approve",
                                text: "@Component.Grid.Command.Approve",
								click: approveItem,
                                imageClass: "glyphicon glyphicon-thumbs-up",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "60px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.SOType",
                        title: "SO Type",
                        width: "50px",
                    },
                    {
                        field: "PeriodValue",
                        title: "Period",
                        width: "100px",
                        template: "#= kendo.toString(PeriodValue, 'MMMM yyyy') #",
                        filterable: monthDateFilterable
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "150px",
                    },
                    {
                        field: "@Field.CreatedBy",
                        title: "Created By",
                        width: "100px",
                    }
                ],
			});

			function dataBoundApproval(e) {
				var grid = $("#grid-approval").data("kendoGrid");

				grid.tbody.find("tr[role=\"row\"]").each(function (i) {

					var model = grid.dataItem(this);
					if (model.IsFirst.toString() === "false") {
						$(this).find(".k-grid-delete")
							.removeClass("k-grid-delete")
							.children().eq(0)
							.addClass("k-state-disabled")
							.attr("title", "Can't be deleted, data already used")
							.attr("data-html", true);
					}
					if (model.IsApprovable.toString() === "false") {
						$(this).find(".k-grid-approve")
							.removeClass("k-grid-approve")
							.children().eq(0)
							.addClass("k-state-disabled")
							.attr("title", "Approved")
							.attr("data-html", true);
					}
				});
			}
        }

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function detailItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
			window.location.href = "@Url.Action(ActionSite.Edit)" + "?id=" + data.id;
        }

        function approveItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
			goToApprovePage("@Url.Action(ActionSite.Approve)" + "?id=" + data.id, this.dataSource);
		}

		function goToApprovePage(url, datasource, callback = null) {
			if (callback !== null && typeof (callback) !== "function") {
				throw "callback must be function";
			}

			swal(
				{
					title: "Terima Sales Order",
					text: "Apakah anda yakin untuk menerima invoice ini?",
					type: "warning",
					cancelButtonText: "Batal",
					showCancelButton: true,
					confirmButtonClass: "btn btn-primary",
					confirmButtonText: "Ya",
					closeOnConfirm: false
				},
				function () {
					swal({
						title: "Loading",
						text: "Harap Menunggu...",
						imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
						closeOnConfirm: false,
						confirmButtonClass: "hidden",
						//imageSize: "80x80"
					});

					$.ajax({
						url: url,
						type: "POST",
						success: function (data) {
							if (data.Success === true) {
								if (datasource !== null) {
									datasource.read();
								}

								swal("Status", "Invoice telah diterima", "success");
								//callback(data);
							}
							else {
								swal("Error", data.Message, "error");
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							swal("Server Error. Harap hubungi administrator");
						}
					});
				});
		}
</script>
}