@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.SalesOrder);
   

    backLink = Url.Action(ActionSite.Index);
}

<div class="row form-group">
    <div class="wizard col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            <li class="disabled">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">Upload Sales Order</p>
                </a>
            </li>
            <li class="active">
                <a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">Area Ops. Mgr. Verification</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-3">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text">Area Finance Verification</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-4">
                    <h4 class="list-group-item-heading">Step 4</h4>
                    <p class="list-group-item-text">Asst. Mgr. Verification</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-5">
                    <h4 class="list-group-item-heading">Step 5</h4>
                    <p class="list-group-item-text">FAR Mgr. Verification</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-6">
                    <h4 class="list-group-item-heading">Step 6</h4>
                    <p class="list-group-item-text">Finish</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <h5>Approval Sales Order <small></small></h5>
    </div>
    <div class="ibox-content">
        @using (@Html.BeginForm("Approval", currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.Label("Period", new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBox("Period", "Januari 2018", new { @class = "form-control", @readonly = "readonly"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Ship to Party", new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBox("ShipToParty", "751201 - PLN LAHENDONG AREA II", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Sold to Party", new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBox("SoldToParty", "70019 - PT PLN", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Sales Group", new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBox("SalesGroup", "825", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("BAST", new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            <label class="control-label"><a href="#">Berita Acara.docx</a></label>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.Label("Shipping Point", new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBox("ShippingPoint", "E038", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Material", new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBox("Material", "Gheotermal Steam", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("SO Type", new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBox("SOType", "ZPGE", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>

            <div id="grid"></div>
            <br />
            <div class="form-group">
                <div class="col-xs-10">
                    <button type="submit" class="btn btn-primary">Approve</button>
                    <button type="submit" class="btn btn-danger">Revise</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

       $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function detailItem(e) {
            e.preventDefault();
            $("#content").empty();
            var data = this.dataItem(getDataRowGrid(e));

            $('#myModal').modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
        }

        function approvedItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function initElement() {
            var data = [{
                DocDate: "Jan-2018",
                Status: "Operate",
                ConfirmQty: "1680.000",
                NetPrice: "62,42 USD",
                NetValue: "229.700,56 USD",
                Notes: ""
            }
                //{
                //    DocDate: "02-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "03-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "04-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "05-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "06-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "07-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "08-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "09-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "10-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "11-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "12-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "13-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "14-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "15-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //},
                //{
                //    DocDate: "16-Jan-2018",
                //    Status: "Operate",
                //    ConfirmQty: "168.000",
                //    NetPrice: "62,42 USD",
                //    NetValue: "22.970,56 USD",
                //    Notes: ""
                //}
            ];

            $("#grid").kendoGrid({
                dataSource: data,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "40px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.DocDate",
                        title: "Document Date",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "100px",
                    },
                    {
                        field: "@Field.ConfirmQty",
                        title: "Confirm Qty(KWH)",
                        width: "100px",
                    },
                    {
                        field: "@Field.NetPrice",
                        title: "Net Price",
                        width: "100px",
                    },
                    {
                        field: "@Field.NetValue",
                        title: "Net Value",
                        width: "100px",
                    },
                    {
                        field: "@Field.Notes",
                        title: "Notes",
                        width: "100px",
                    }
                ],
            });
        }
    </script>
}

