@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";

    ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.Invoice);
   

    backLink = Url.Action(ActionSite.Index);
}

<div class="row form-group">
    <div class="wizard col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            <li class="active">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">Print Surat Pengantar</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">Upload E-Faktur</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-3">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text">Upload Invoice</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-4">
                    <h4 class="list-group-item-heading">Step 4</h4>
                    <p class="list-group-item-text">Update Acceptace & Kliring Doc.</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-5">
                    <h4 class="list-group-item-heading">Step 5</h4>
                    <p class="list-group-item-text">Finish</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <h5>Create Invoice</h5>
    </div>
    <div class="ibox-content m-b">
@using (@Html.BeginForm("Approval", currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change" }))
{
        <div class="form-group">
            @Html.Label("Period", new { @class = "col-xs-2 control-label" })
            <div class="col-xs-4">
                @Html.TextBox("Period", "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("SO Type", new { @class = "col-xs-2 control-label" })
            <div class="col-xs-4">
                <label class="radio-inline">
                    <input type="radio" name="sotype" value="zpge"> ZPGE
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sotype" value="zts" checked> ZTS
                </label>
            </div>
        </div>
}
    </div>
@using (@Html.BeginForm("Approval", currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change" }))
{
    @Html.ValidationSummary(true)
    <div class="ibox-title">
        <div class="row">
            <div class="col-xs-6">
                <h5>SEG DARAJAT UNIT 1</h5>
            </div>
            <div class="col-xs-6">
                <label class="checkbox-inline control-label pull-right">
                    <input type="checkbox" value=""> Contain Additional SO Detail
                </label>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    @Html.Label("Material", new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        @Html.TextBox("Material", "A200900006 - Geothermal Steam", new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>

        <div id="grid"></div>
        <br />
    </div>

    <div class="ibox-title">
        <div class="row">
            <div class="col-xs-6">
                <h5>SEG SALAK UNIT I-III</h5>
            </div>
            <div class="col-xs-6">
                <label class="checkbox-inline control-label pull-right">
                    <input type="checkbox" value="" checked> Contain Additional SO Detail
                </label>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    @Html.Label("Material", new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        @Html.TextBox("Material", "A200900006 - Geothermal Steam", new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>

        <div id="grid-second"></div>
        <br />
    </div>

    <div class="form-group">
        <div class="col-xs-10">
            <button type="submit" class="btn btn-primary">Print Surat Pengantar & Send</button>
            <button type="submit" class="btn btn-warning">Print Surat Pengantar</button>
            <a href="@backLink" class="btn btn-link">Batal</a>
        </div>
    </div>
}
</div>

@section scripts
{
    <script type="text/javascript">

       $(function () {
           initElement();

            $('input[type=radio][name=sotype]').change(function () {
                if (this.value == 'zpge') {
                    window.location.href = "@Url.Action("CreateInvoice","Invoice")";
                }
                else if (this.value == 'zts') {
                    window.location.href = "@Url.Action("CreateInvoiceZTS", "Invoice")";
                }
            });
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function detailItem(e) {
            e.preventDefault();
            $("#content").empty();
            var data = this.dataItem(getDataRowGrid(e));

            $('#myModal').modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
        }

        function approvedItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function initElement() {
            var data = [{
                DocDate: "31-Jan-2018",
                Status: "",
                ConfirmQty: "",
                NetPrice: "62,42 USD",
                NetValue: "",
                Notes : ""
            }];

            var data2 = [{
                DocDate: "30-Jan-2018",
                Status: "",
                ConfirmQty: "",
                NetPrice: "62,42 USD",
                NetValue: "",
                Notes: ""
            },
            {
                DocDate: "31-Jan-2018",
                Status: "",
                ConfirmQty: "",
                NetPrice: "62,42 USD",
                NetValue: "",
                Notes: ""
            }];

            $("#grid").kendoGrid({
                dataSource: data,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "40px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.DocDate",
                        title: "Document Date",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "100px",
                    },
                    {
                        field: "@Field.ConfirmQty",
                        title: "Confirm Qty(KWH)",
                        width: "100px",
                    },
                    {
                        field: "@Field.NetPrice",
                        title: "Net Price",
                        width: "100px",
                    },
                    {
                        field: "@Field.NetValue",
                        title: "Net Value",
                        width: "100px",
                    },
                    {
                        field: "@Field.Notes",
                        title: "Notes",
                        width: "100px",
                    }
                ],
            });

            $("#grid-second").kendoGrid({
                dataSource: data2,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "40px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.DocDate",
                        title: "Document Date",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "100px",
                    },
                    {
                        field: "@Field.ConfirmQty",
                        title: "Confirm Qty(KWH)",
                        width: "100px",
                    },
                    {
                        field: "@Field.NetPrice",
                        title: "Net Price",
                        width: "100px",
                    },
                    {
                        field: "@Field.NetValue",
                        title: "Net Value",
                        width: "100px",
                    },
                    {
                        field: "@Field.Notes",
                        title: "Notes",
                        width: "100px",
                    }
                ],
            });
        }
    </script>
}

