﻿@using Common.Enums
@using System.Reflection
@{
    ViewBag.Title = "Invoice";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">My Tasks</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Ongoing Document</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <div class="tab-title">
                    <a href="@Url.Action("CreateInvoice")" class="btn btn-primary">Create Invoice</a>
                </div>
                <div id="grid"></div>
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body">
                <div id="grid-approval"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function detailItem(e) {
            e.preventDefault();
            $("#content").empty();
            var data = this.dataItem(getDataRowGrid(e));

            $('#myModal').modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
        }

        function approvedItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function initElement() {
            // contoh remote data
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                }
                            }

                            options.args = [isOnDuty];

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.WhitelistId",
                        fields: {
							"@Field.WhitelistId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.CrewId": { type: "@DataSource.Schema.Type.String" },
							"@Field.AirportId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.AirportName": { type: "@DataSource.Schema.Type.String" },
							"@Field.StartDate": { type: "@DataSource.Schema.Type.Date" },
							"@Field.EndDate": { type: "@DataSource.Schema.Type.Date" },
							"@Field.CrewName": { type: "@DataSource.Schema.Type.String" },
							"@Field.Status": { type: "@DataSource.Schema.Type.String" },
							"@Field.CompanyId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.CompanyName": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				//filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
				sort: { field: "@Field.StartDate", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var data = [{
                SOType: "ZPGE",
                Period: "Jan 2018",
                Unit: "UBL - Unit 2(PLN)",
                Status: "Print Surat Pengantar",
                CreatedBy: "Chandra Salim"
            },
            {
                SOType: "ZPGE",
                Period: "Jan 2018",
                Unit: "KMJ - Unit 5(PGE)",
                Status: "Upload E-Invoice",
                CreatedBy: "Chandra Salim"
            },
            {
                SOType: "ZPGE",
                Period: "Jan 2018",
                Unit: "KMJ - Unit 4(PGE)",
                Status: "Upload E-Invoice",
                CreatedBy: "Chandra Salim"
            },
            {
                SOType: "ZTS",
                Period: "Jan 2018",
                Unit: "-",
                Status: "Upload E-Faktur",
                CreatedBy: "Chandra Salim"
            },
            {
                SOType: "ZPGE",
                Period: "Jan 2018",
                Unit: "KMJ - Unit 2(PLN)",
                Status: "Upload E-Acceptance & Kliring Doc",
                CreatedBy: "Chandra Salim"
            }];

            var data2 = [{
                SOType: "ZPGE",
                Period: "Feb 2018",
                Unit: "UBL - Unit 2(PLN)",
                Status: "Upload E-Invoice",
                CreatedBy: "Chandra Salim"
            },
            {
                SOType: "ZPGE",
                Period: "Feb 2018",
                Unit: "KMJ - Unit 5(PGE)",
                Status: "Upload E-Invoice",
                CreatedBy: "Chandra Salim"
            },
            {
                SOType: "ZPGE",
                Period: "Feb 2018",
                Unit: "KMJ - Unit 4(PGE)",
                Status: "Upload E-Invoice",
                CreatedBy: "Chandra Salim"
            },
            {
                SOType: "ZTS",
                Period: "Feb 2018",
                Unit: "-",
                Status: "Upload E-Acceptance & Kliring Doc",
                CreatedBy: "Chandra Salim"
            },
            {
                SOType: "ZPGE",
                Period: "Feb 2018",
                Unit: "KMJ - Unit 2(PLN)",
                Status: "Finish",
                CreatedBy: "Chandra Salim"
            }];

            $("#grid").kendoGrid({
                dataSource: data,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "delete",
                                text: "@Component.Grid.Command.Delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "delete",
                                text: "@Component.Grid.Command.Approve",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-thumbs-up",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "60px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.SOType",
                        title: "SO Type",
                        width: "50px",
                    },
                    {
                        field: "@Field.Period",
                        title: "Period",
                        width: "100px",
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "150px",
                    },
                    {
                        field: "@Field.CreatedBy",
                        title: "Created By",
                        width: "100px",
                    }@*,
                    {
                        field: "UploadedDate",
                        title: "Date",
                        width: "100px",
                        format: "@DisplayFormat.JsCompactDateFormat",
                        filterable: rangeDateFilterable
                    }*@
                ],
            });

            $("#grid-approval").kendoGrid({
                dataSource: data2,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-eye-open",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "history",
                                text: "@Component.Grid.Command.History",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-time",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "40px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.SOType",
                        title: "SO Type",
                        width: "50px",
                    },
                    {
                        field: "@Field.Period",
                        title: "Period",
                        width: "100px",
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "150px",
                    },
                    {
                        field: "@Field.CreatedBy",
                        title: "Created By",
                        width: "100px",
                    }@*,
                    {
                        field: "UploadedDate",
                        title: "Date",
                        width: "100px",
                        format: "@DisplayFormat.JsCompactDateFormat",
                        filterable: rangeDateFilterable
                    }*@
                ],
            });
        }

        //init Status Data Option
        function statusOption(element) {
            var ds = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.DATASTATUS",
                "@Field.Text",
                null
            );

            element.kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel",
                filter: "@FilterOperator.Contains.ToDescription()"
            });
        }
    </script>
}