﻿@model WebUI.Models.ErrorPageViewModel
@{
    ViewBag.Title = "Akses Terbatas";
}

<p>Maaf, Anda tidak memiliki akses ke halaman ini. Silakan menghubungi customer service kami.</p>
<a href="@Model.ReferrerUrl" class="btn btn-primary">kembali</a>