﻿@model WebUI.Areas.OperationData.Models.ReliabilityPlanStub
@using WebUI.Areas.OperationData.Models
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.OperationData.Controllers.ReliabilityPlanController)ViewContext.Controller;

    ViewBag.Title = TitleSite.ReliabilityPlan;

    string backLink = Url.Action(ActionSite.Index);
    var user = User as Principal;
}

@Html.Raw(thisController.GetMessage())


<div class="ibox">
    <div class="ibox-title">
        <h5>Reliability Plan</h5>
    </div>
    <div class="ibox-content">
        @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", @id = "ReliabilityPlanForm" }))
        {
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Area</label>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(model => model.AreaId, new { @class = "always-validate" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Power Plant</label>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(model => model.PowerPlantId, new { @class = "always-validate" })
                            @Html.ValidationMessageFor(model => model.PowerPlantId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Tahun</label>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(model => model.Year, new { @class = "always-validate" })
                            @Html.ValidationMessageFor(model => model.Year)
                        </div>
                    </div>
                </div>                
            </div>

            <hr />
            <div class="row" id="reliabilityPlanDetail" style="@(Model.IsReadyInput ? "" : "display: none")">
                <div class="col-xs-12">

                    <div class="form-group">
                        @foreach (ReliabilityPlanFormStub reliabilityPlan in Model.MonthlyPlans)
                        {
                            @Html.HiddenFor(x => reliabilityPlan.Id, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].Id", @nameRebind = "true" })
                            @Html.HiddenFor(x => reliabilityPlan.PowerPlantId, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].PowerPlantId", @nameRebind = "true" })
                            @Html.HiddenFor(x => reliabilityPlan.Periode, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].Periode", @nameRebind = "true" })
                        }
                        <div id="gridReliabilityPlan">
                            <p><i>Satuan nilai dalam (%)</i></p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Bulan</th>
                                        @foreach (ReliabilityPlanFormStub reliabilityPlan in Model.MonthlyPlans)
                                        {
                                            <th scope="col">
                                                @reliabilityPlan.MonthStr
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>FOH</th>
                                        @foreach (ReliabilityPlanFormStub reliabilityPlan in Model.MonthlyPlans)
                                        {
                                            <td scope="row">
                                                @Html.TextBoxFor(x => reliabilityPlan.FOH, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].FOH", @class = "auto-percent form-control-decimal-n3", @nameRebind = "true" })
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>MOH</th>
                                        @foreach (ReliabilityPlanFormStub reliabilityPlan in Model.MonthlyPlans)
                                        {
                                            <td scope="row">
                                                @Html.TextBoxFor(x => reliabilityPlan.MOH, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].MOH", @class = "auto-percent form-control-decimal-n3", @nameRebind = "true" })
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>POH</th>
                                        @foreach (ReliabilityPlanFormStub reliabilityPlan in Model.MonthlyPlans)
                                        {
                                            <td scope="row">
                                                @Html.TextBoxFor(x => reliabilityPlan.POH, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].POH", @class = "auto-percent form-control-decimal-n3", @nameRebind = "true" })
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>EFDH</th>
                                        @foreach (ReliabilityPlanFormStub reliabilityPlan in Model.MonthlyPlans)
                                        {
                                            <td scope="row">
                                                @Html.TextBoxFor(x => reliabilityPlan.EFDH, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].EFDH", @class = "auto-percent form-control-decimal-n3", @nameRebind = "true" })
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>EMDH</th>
                                        @foreach (ReliabilityPlanFormStub reliabilityPlan in Model.MonthlyPlans)
                                        {
                                            <td scope="row">
                                                @Html.TextBoxFor(x => reliabilityPlan.EMDH, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].EMDH", @class = "auto-percent form-control-decimal-n3", @nameRebind = "true" })
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <th>EPDH</th>
                                        @foreach (ReliabilityPlanFormStub reliabilityPlan in Model.MonthlyPlans)
                                        {
                                            <td scope="row">
                                                @Html.TextBoxFor(x => reliabilityPlan.EPDH, new { namer = "MonthlyPlans[" + (reliabilityPlan.Month - 1) + "].EPDH", @class = "auto-percent form-control-decimal-n3", @nameRebind = "true" })
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-xs-10">
                                <button id="btnSave" type="button" class="btn btn-warning">Simpan</button>
                                <a href="@backLink" class="btn btn-link">Kembali</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
		$(function () {
			initElement();
		});

		function initElement() {
			// form functions
			bindAreaId();
			bindPowerPlantId();
			bindYear();
			bindBtnSave();
			bindChangeValue();
		}

        function bindAreaId() {
            var optionLabel = "@Component.OptionLabel";
            @if (!user.AreaId.HasValue || user.AreaId == 0)
            {
                @:optionLabel = "@Component.OptionLabelAreaAll";
            }

            var dropdown = dropdownListGenerator($("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA", "@Field.Name", optionLabel);
			bindChangeAreaId();
		}

		function bindPowerPlantId() {
			var dropdown = dropdownListGenerator($("#@Field.PowerPlantId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.POWERPLANT", "@Field.Name", "@Component.OptionLabel", false, [$("#@Field.AreaId").val(), null, null, null]);
			bindChangePowerPlantId();
		}

		function bindYear() {
			var dropdown = dropdownListGenerator($("#@Field.Year"), "@Url.Action(ActionSite.BindingYear)", "", "@Field.Name", "@Component.OptionLabel", false, [@Model.Year]);
			bindChangeYear();
		}

        function bindChangeAreaId() {
            var dropdownlist = $("#@Field.AreaId").data("kendoDropDownList");

			dropdownlist.bind("change", function () {
				if ($("#@Field.AreaId").val() != "") {
					bindPowerPlantId();
				} else {

				}
			});
		}

		function bindChangePowerPlantId() {
			var dropdownlist = $("#@Field.PowerPlantId").data("kendoDropDownList");

			dropdownlist.bind("change", function () {
				if ($("#@Field.PowerPlantId").val() != "") {
					bindYear();
				} else {

				}
				checkDropdownChange();
			});
		}

        function bindChangeYear() {
			$("#@Field.Year").on("change", function () {
				checkDropdownChange();
			});
		}

		function bindChangeValue() {
			//$(".auto-percent").on("change", function () {
			//	var curVal = parseFloat($(this).val());
			//	if (curVal > 1
			//});
		}

		function checkDropdownChange() {
			if (($("#@Field.PowerPlantId").val() != "") && ($("#@Field.Year").val() != "")) {
				window.location.href = "@Url.Action(ActionSite.Check)" + "?powerPlantId=" + $("#@Field.PowerPlantId").val() + "&year=" + $("#@Field.Year").val();
			}
		}

		function bindBtnSave() {
			$("#btnSave").click(function (e) {
				e.preventDefault();

				//$(".auto-percent").each(function (idx, elem) {
				//	$(elem).val($(elem).val().replace(',', '.'));
				//});

				$("#ReliabilityPlanForm").submit();
			})
		}

		$(document).ready(function () {
			inputNameRebind();
		});

		function inputNameRebind() {
			$("[nameRebind=true]").each(function (idx, elem) {
				$(this).attr("name", $(this).attr("namer"));
			});
		}
    </script>
}