@using WebUI.Infrastructure
@using Common.Enums
@using WebUI.Areas.SalesOrder.Models
@model WebUI.Areas.SalesOrder.Models.FormZtsStub
@{
	string currentController = (string)ViewContext.RouteData.Values["controller"];
	string currentAction = (string)ViewContext.RouteData.Values["action"];
	string backLink = "";

	ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.SalesOrder);
	string err = Model.ValidationMessages != null ? string.Join("<br />", Model.ValidationMessages) : "";

	string readonlyIsValidAttr = Model.IsValid ? " readonly " : " ";
	string readonlyRevisableAttr = Model.IsRevisable ? " " : " readonly ";
	
	backLink = Url.Action(ActionSite.Index);
}

@{Html.RenderPartial("App/_workflow", Model.Workflows);}

@if (err != "")
{
	<div class="alert alert-danger alert-normal m-b-n" role="alert">
		<h3 class="alert-heading">Error</h3>
		@Html.Raw(err)
	</div>
}

<div class="ibox">
    <div class="ibox-title">
        <h5>Create Sales Order <small><em>*Please Choose Period</em></small></h5>
    </div>
    <div class="ibox-content m-b">
		@using (@Html.BeginForm(ActionSite.LoadCreateZTS, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "FilterForm" }))
		{
			<div class="form-group">
				@Html.Label("SO Type", new { @class = "col-xs-2 control-label" })
				<div class="col-xs-4 p-xxs m-l-sm">
					<label class="radio-inline">
						<input type="radio" name="SOType" value="@Common.Enums.SOType.ZPGE"> @Common.Enums.SOType.ZPGE
					</label>
					<label class="radio-inline">
						<input type="radio" name="SOType" value="@Common.Enums.SOType.ZTS" checked> @Common.Enums.SOType.ZTS
					</label>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Periode, new { @class = "col-xs-2 control-label" })
				<div class="col-xs-4">
					@Html.TextBoxFor(model => model.Periode, new { @class = "form-control form-control-monthpicker always-validate" })
					@Html.ValidationMessageFor(model => model.Periode)
				</div>
			</div>
		}
    </div>
	@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "CreateForm" }))
	{
		@Html.ValidationSummary(true)
		<div id="salesOrderData"></div>

		@Html.HiddenFor(model => model.Periode)
		@Html.HiddenFor(model => model.SOType)

		if (Model.SalesOrders != null)
		{
			for (int i = 0; i < Model.SalesOrders.Count(); i++)
			{
				@*
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).Id				, new { @name = "SalesOrders[" + i + "].Id" });
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).SOType			, new { @name = "SalesOrders[" + i + "].SOType" });
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).Periode			, new { @name = "SalesOrders[" + i + "].Periode" });
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).ShipToPartyId	, new { @name = "SalesOrders[" + i + "].ShipToPartyId" });
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).WorkflowId		, new { @name = "SalesOrders[" + i + "].WorkflowId" });
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).Quantity		, new { @name = "SalesOrders[" + i + "].Quantity" });
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).NetPrice		, new { @name = "SalesOrders[" + i + "].NetPrice" });
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).NetValue		, new { @name = "SalesOrders[" + i + "].NetValue" });
				@Html.HiddenFor(model => model.SalesOrders.ElementAt(i).Currency		, new { @name = "SalesOrders[" + i + "].Currency" });
				*@

				<div class="ibox-title">
					<div class="row">
						<div class="col-xs-6">
							<h5>@Model.SalesOrders.ElementAt(i).PowerPlant.Name</h5>
						</div>
						<div class="col-xs-6">
							<label class="checkbox-inline control-label pull-right">
								<input type="checkbox" name="isAdditionalSODetail" id="isAdditionalSODetail-@Model.SalesOrders.ElementAt(i).PowerPlant.Id" salesOrderId="@Model.SalesOrders.ElementAt(i).PowerPlant.Id"> Contain Additional SO Detail
							</label>
						</div>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								@Html.LabelFor(model => model.SalesOrders.ElementAt(i).PowerPlant.Material, new { @class = "col-xs-4 control-label" })
								<div class="col-xs-8">
									@Html.TextBoxFor(model => model.SalesOrders.ElementAt(i).PowerPlant.Material, new { @class = "form-control", @readonly = "readonly" })
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								@Html.LabelFor(model => model.SalesOrders.ElementAt(i).Notes, new { @class = "col-xs-4 control-label" })
								<div class="col-xs-8">
									@Html.TextAreaFor(model => model.SalesOrders.ElementAt(i).Notes, new { @class = "form-control", @name = "SalesOrders[" + i + "].Notes" })
									@Html.ValidationMessageFor(model => model.SalesOrders.ElementAt(i).Notes)
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							@Html.LabelFor(model => model.SalesOrders.ElementAt(i).BastFiles, new { @class = "col-xs-2 control-label", @name = "SalesOrders[" + i + "].BastFiles" })
							<div class="col-xs-4 m-l-sm">
								@if (Model.IsRevisable)
								{
									@Html.Hidden("BastFilesCount[" + i + "]", 0, new { @id = "BastFilesCount-" + Model.SalesOrders.ElementAt(i).PowerPlant.Id, @index = i })
									@Html.TextBox("files", "", new
									{
										@class = "form-control-upload",
										type = "file",
										id = "files-" + Model.SalesOrders.ElementAt(i).PowerPlant.Id,
										accept = "application/pdf"
									})
									@Html.ValidationMessageFor(model => model.SalesOrders.ElementAt(i).BastFiles, "", new { @class = "text-danger" })
								}
								<div name="gridBastFiles" id="gridBastFiles-@Model.SalesOrders.ElementAt(i).PowerPlant.Id" salesOrderId="@Model.SalesOrders.ElementAt(i).PowerPlant.Id"></div>
							</div>
							<div class="col-xs-4">
								@if (Model.IsRevisable)
								{
									<ul class="small">
										<li>Max File Size. 10 MB</li>
										<li>File Type Allow .pdf</li>
									</ul>
								}
							</div>
						</div>
					</div>

					<div name="grid" salesOrderId="@Model.SalesOrders.ElementAt(i).PowerPlant.Id"></div>
					<br />
				</div>
			}
			<div class="form-group m-t">
				<div class="col-xs-10">
					@if (Model.IsRevisable)
					{
						<button id="btnApprove" type="submit" class="btn btn-primary">Send to @Model.Workflows.Where(x => x.Active == true).First().Approver</button>
					}
					<button type="button" class="btn btn-warning">Save as Draft</button>
					<a href="@backLink" class="btn btn-link">Batal</a>
				</div>
			</div>

			<!-- Modal Form -->
			<div id="modalForm" class="modal" role="dialog" style="vertical-align: middle;">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header label-primary">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title" style="color: white">Ubah Data</h4>
						</div>
						<div class="modal-body" style="min-height: 100px;">
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										@Html.LabelFor(model => model.SalesOrders.FirstOrDefault().Quantity, new { @class = "col-xs-4 control-label" })
										<div class="col-xs-6">
											@Html.TextBox("QuantityEdit", "", new { @class = "form-control" })
										</div>
										<div class="col-xs-2">kWh</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="btnSaveQty" type="button" class="btn btn-primary">Save</button>
							<button id="btnCancel" type="button" class="btn btn-default">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		}
	}
</div>

@section scripts
{
    <script type="text/javascript">
		var SalesOrders = [];
		var BastFiles = [];

		var SODetailDate = "@((Model.Periode.HasValue ? new DateTime(Model.Periode.Value.Year, Model.Periode.Value.Month, DateTime.DaysInMonth(Model.Periode.Value.Year, Model.Periode.Value.Month)) : new DateTime()).ToString(Business.Infrastructure.DateTimeFormat.CompactDateFormat))";
		var SODetailDateAdditional = "@((Model.Periode.HasValue ? new DateTime(Model.Periode.Value.Year, Model.Periode.Value.Month, DateTime.DaysInMonth(Model.Periode.Value.Year, Model.Periode.Value.Month) - 1) : new DateTime()).ToString(Business.Infrastructure.DateTimeFormat.CompactDateFormat))";

		var curEditSalesOrder;

       $(function () {
           initElement();
		});

		function bindChangePeriod() {
            var datepicker = $("#@Field.Periode").data("kendoDatePicker");

            datepicker.bind("change", showDetailSO);
		}

		function bindChangeSOType() {
			$('input[type=radio][name=SOType]').change(function () {
                if (this.value == '@Common.Enums.SOType.ZPGE') {
                    window.location.href = "@Url.Action("CreateSOZPGE", "SalesOrder")";
                }
                else if (this.value == '@Common.Enums.SOType.ZTS') {
                    window.location.href = "@Url.Action("CreateSOZTS", "SalesOrder")";
                }
			});
		}

		function bindBtnApprove() {
			$("#btnApprove").click(function (e) {
				e.preventDefault();

				//BastFiles.forEach(function (bastFiles, salesOrderId) {
				//	bastFiles.forEach(function (bastFile, idx) {
				//		var htmlIndex = $("#BastFilesCount-" + salesOrderId).attr("index");
				//		var insertHtml =
				//			"<input type='hidden' name='SalesOrder[" + htmlIndex + "].BastFiles[" + idx + "].FilePath' id='SalesOrder[" + htmlIndex + "].BastFiles[" + idx + "].FilePath' value='" + bastFile["FilePath"] + "' />" +
				//			"<input type='hidden' name='SalesOrder[" + htmlIndex + "].BastFiles[" + idx + "].UId' id='SalesOrder[" + htmlIndex + "].BastFiles[" + idx + "].UId' value='" + bastFile["UId"] + "' />";
				//		$("#BastFilesCount-" + salesOrderId).after(insertHtml);
				//	});
				//});

				var curIdx = 0;
				SalesOrders.forEach(function (salesOrders, powerPlantId) {
					salesOrders.forEach(function (salesOrder, idx) {
						var insertHtml =
							"<input type='hidden' name='SalesOrders[" + curIdx + "].Id' value='" + salesOrder.Id + "' />"+
							"<input type='hidden' name='SalesOrders[" + curIdx + "].SOType' value='" + salesOrder.SOType + "' />"+
							"<input type='hidden' name='SalesOrders[" + curIdx + "].Periode' value='" + salesOrder.Periode + "' />"+
							"<input type='hidden' name='SalesOrders[" + curIdx + "].ShipToPartyId' value='" + salesOrder.ShipToPartyId + "' />"+
							"<input type='hidden' name='SalesOrders[" + curIdx + "].WorkflowId' value='" + salesOrder.WorkflowId + "' />"+
							"<input type='hidden' name='SalesOrders[" + curIdx + "].Quantity' value='" + salesOrder.Quantity + "' />"+
							"<input type='hidden' name='SalesOrders[" + curIdx + "].NetPrice' value='" + salesOrder.NetPrice + "' />"+
							"<input type='hidden' name='SalesOrders[" + curIdx + "].NetValue' value='" + salesOrder.NetValue + "' />"+
							"<input type='hidden' name='SalesOrders[" + curIdx + "].Currency' value='" + salesOrder.Currency + "' />";
							"<input type='hidden' name='SalesOrders[" + curIdx + "].Notes' value='" + salesOrder.Notes + "' />";

						BastFiles[powerPlantId].forEach(function (bastFile, jdx) {
							insertHtml +=
								"<input type='hidden' name='SalesOrders[" + curIdx + "].BastFiles[" + jdx + "].FilePath' id='SalesOrder[" + curIdx + "].BastFiles[" + jdx + "].FilePath' value='" + bastFile["FilePath"] + "' />" +
							"<input type='hidden' name='SalesOrders[" + curIdx + "].BastFiles[" + jdx + "].UId' id='SalesOrder[" + curIdx + "].BastFiles[" + jdx + "].UId' value='" + bastFile["UId"] + "' />";
						});

						$("#salesOrderData").after(insertHtml);
						curIdx++;
					});
				});

				$("#CreateForm").submit();
			})
		}

		function bindBtnSaveQty() {
			$('#btnSaveQty').click(function () {
				SalesOrders.forEach(function (salesOrders, powerPlantId) {
					salesOrders.forEach(function (salesOrder, idx) {
						if ((salesOrder.Periode == curEditSalesOrder.Periode) &&
							(salesOrder.ShipToPartyId = curEditSalesOrder.ShipToPartyId)) {
							salesOrder.Quantity = parseFloat($("#QuantityEdit").val());
							salesOrder.NetValue = parseFloat($("#QuantityEdit").val()) * parseFloat(salesOrder.NetPrice.replace(',', '.'));
							salesOrder.NetValue = salesOrder.NetValue.toString().replace('.', ',');
							$("[name=grid][salesOrderId=" + salesOrder.ShipToPartyId + "]").data("kendoGrid").dataSource.read();
							$("#modalForm").modal("hide");
						}
					});
				});
			});
		}

		function bindBtnCancel() {
			$("#btnCancel").on("click", function (e) {
				$("#modalForm").modal("hide");
			});
		}

        function showDetailSO() {
            var periode = $("#@Field.Periode").val();
            if (periode != "") {
                $("#FilterForm").submit();
            }
		}

		function initElement() {
			bindChangePeriod();
			bindChangeSOType();
			bindBtnApprove();
			bindBtnSaveQty();
			bindBtnCancel();
		}

		function dataBoundBastFiles(e) {
			if ($("[name=gridBastFiles]").data("kendoGrid") != undefined) {
				var grid = $("[name=gridBastFiles]").data("kendoGrid");

				grid.tbody.find("tr[role=\"row\"]").each(function (i) {
					if ("@Model.IsRevisable" == "False") {
						$(this).find(".k-grid-delete")
							.removeClass("k-grid-delete")
							.children().eq(0)
							.addClass("k-state-disabled")
							.attr("title", "Can't be deleted, data already used")
							.attr("data-html", true);
					}
				});
			}
		}



		function onRemove(e) {
			e.files.forEach(function (file, idx) {
				BastFiles.forEach(function (bastFiles, jdx) {
					bastFiles.forEach(function (bastFile, kdx) {
						if (bastFile["UId"] == file.uid) {
							bastFiles.splice(kdx, 1);
						}
					});
				});
			});
		}

        function deleteBastFile(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.DeleteBastFile)" + "?id=" + data.id, this.dataSource);
        }

		if ("@Model.IsValid" == "True") {
			$("input[type=radio][name=SOType]").attr("disabled", true);
			var datepicker = $("#@Field.Periode").data("kendoDatePicker");
			datepicker.readonly();
		}

		if ("@Model.IsRevisable" == "False") {
			$("[name='Notes']").attr("readonly", true);
		}
	</script>

	@if (Model.SalesOrders != null)
	{
		foreach (SalesOrderFormStub salesOrder in Model.SalesOrders)
		{
			<script type="text/javascript">
				BastFiles["@salesOrder.PowerPlant.Id"] = [];
			
				SalesOrders["@salesOrder.PowerPlant.Id"] = [{
					DocDate: SODetailDate,
					Quantity: "@salesOrder.Quantity",
					NetPrice: "@salesOrder.NetPrice",
					NetValue: "@salesOrder.NetValue",
					Notes: "@salesOrder.Notes",
					Currency: "@salesOrder.Currency",
					Id: "@salesOrder.Id",
					SOType: "@Model.SOType",
					Periode: SODetailDate,
					ShipToPartyId: "@salesOrder.PowerPlant.Id",
					WorkflowId: "@salesOrder.WorkflowId",
				}];
				$("#isAdditionalSODetail-" + @salesOrder.PowerPlant.Id).change(function () {
					var salesOrderId = $(this).attr("salesOrderId");
					if ($("#isAdditionalSODetail-" + @salesOrder.PowerPlant.Id).prop('checked')) {
						SalesOrders["@salesOrder.PowerPlant.Id"].push({
							DocDate: SODetailDateAdditional,
							Quantity: "@salesOrder.Quantity",
							NetPrice: "@salesOrder.NetPrice",
							NetValue: "@salesOrder.NetValue",
							Notes : "@salesOrder.Notes",
							Currency: "@salesOrder.Currency",
							Id: "@salesOrder.Id",
							SOType: "@Model.SOType",
							Periode: SODetailDateAdditional,
							ShipToPartyId: "@salesOrder.PowerPlant.Id",
							WorkflowId: "@salesOrder.WorkflowId",
						});
					} else {
						SalesOrders["@salesOrder.PowerPlant.Id"].pop();
					}
					$("[name=grid][salesOrderId=@salesOrder.PowerPlant.Id]").data("kendoGrid").dataSource.read();
				});

				$("[name=grid][salesOrderId=@salesOrder.PowerPlant.Id]").kendoGrid({
					dataSource: SalesOrders["@salesOrder.PowerPlant.Id"],
					filterable: kendoGridFilterable,
					pageable: true,
					sortable: true,
					columns: [
						{
							command: [
								{
									name: "edit",
									text: "@Component.Grid.Command.Edit",
									click: function (e) {
										var data = this.dataItem(getDataRowGrid(e));
										curEditSalesOrder = data;
										$("#QuantityEdit").val(curEditSalesOrder.Quantity);
										$('#modalForm').modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
									},
									imageClass: "glyphicon glyphicon-edit",
									template: GRID_COMMAND_TEMPLATE
								}
							],
							width: "40px",
							attributes: { "class": "command" }
						},
						{
							field: "@Field.DocDate",
							title: "Document Date",
							width: "100px",
						},
						{
							field: "@Field.Quantity",
							title: "Confirm Qty(kWh)",
							width: "100px",
						},
						{
							field: "@Field.NetPrice",
							title: "Net Price",
							width: "100px",
						},
						{
							field: "@Field.NetValue",
							title: "Net Value",
							width: "100px",
						},
						{
							field: "@Field.Notes",
							title: "Notes",
							width: "100px",
						}
					],
				});

				$(function () {
					var upload = $("#files-"+@salesOrder.PowerPlant.Id).data("kendoUpload");
					if (upload != null) {
						upload.bind({
							success: function(e) {
								if (e.operation == "upload") {
									var BastFilesCount = parseInt($("#BastFilesCount-"+@salesOrder.PowerPlant.Id).val());
									var curIdx;
									e.response.forEach(function (response, idx) {
										curIdx = BastFilesCount + idx;
										var bastFile = [];
										bastFile["FilePath"] = response.FilePath;
										bastFile["UId"] = response.UId;
										BastFiles["@salesOrder.PowerPlant.Id"].push(bastFile);
									});
									$("#BastFilesCount-"+@salesOrder.PowerPlant.Id).val(curIdx + 1);
								}
							},
							remove: onRemove,
							upload: (function (e) {
								var guid;
								guid = e.files[0].uid;
								e.data = {
									ids: guid
								};
							})
						});
					}
				});
			</script>

			if (salesOrder.BastFiles != null)
			{
				if (salesOrder.BastFiles.Count > 0)
				{
					<script type="text/javascript">
						var ds = new kendo.data.DataSource({
							transport: {
								read:
								{
									url: "@Url.Action(ActionSite.BindingBastFiles)",
									dataType: "@DataSource.DataType.Json",
									type: "@DataSource.Type.Post"
								},
								parameterMap: function(options, operation) {
									if (operation !== "@DataSource.Operation.Read" && options.models)
									{
										return kendo.stringify(options);
									}
									else
									{
										if (options.filter)
										{
											var filters = options.filter.filters;

											for (var i in filters)
											{
												var filter = filters[i];
											}
										}

										if (options.sort)
										{
											var sorts = options.sort;

											for (var i in sorts)
											{
												var sort = sorts[i];
											}
										}

										options.args = [];

										return options;
									}
								}
							},
							schema:
							{
								data: "@DataSource.Schema.Property.Data",
								total: "@DataSource.Schema.Property.Total",
								model:
								{
									id: "@Field.Id",
									fields:
									{
										"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
										"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
										"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
									}
								}
							},
							pageSize: 10,
							serverFiltering: true,
							serverPaging: true,
							serverSorting: true,
							filter: { field: "@Field.SalesOrderId", operator: "eq", value: "@salesOrder.Id" },
							sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
						});

						$("#gridBastFiles-"+@salesOrder.PowerPlant.Id).kendoGrid({
							dataSource: ds,
							dataBound: dataBoundBastFiles,
							filterable: kendoGridFilterable,
							pageable: true,
							sortable: true,
							columns: [
								{
									command: [
										{
											name: "delete",
											text: "@Component.Grid.Command.Delete",
											click: deleteBastFile,
											imageClass: "glyphicon glyphicon-trash",
											template: GRID_COMMAND_TEMPLATE
										},
									],
									width: "40px",
									attributes: { "class": "command" }
								},
								{
									field: "@Field.FilePath",
									title: "File",
								}
							],
						});
					</script>
				}
			}
		}
	}
}

