@using WebUI.Infrastructure
@using Common.Enums
@using WebUI.Areas.SalesOrder.Models
@using WebUI.Models
@model WebUI.Areas.SalesOrder.Models.FormZtsStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = "";
    Principal user = User as Principal;
    bool hasAccess = false;

    ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.SalesOrder);
    string err = Model.ValidationMessages != null ? string.Join("<br />", Model.ValidationMessages) : "";

    string readonlyIsValidAttr = Model.IsValid ? " readonly " : " ";
    string readonlyRevisableAttr = Model.IsEditable ? " " : " readonly ";

    WebUI.Models.WorkflowPresentationStub curWorkflow = new WebUI.Models.WorkflowPresentationStub();
    if (Model.Workflows.Count > 0) { curWorkflow = Model.Workflows.Where(x => x.Active == true).First(); }

    backLink = Url.Action(ActionSite.Index);

    PopupFormStub popupPreSAP = new PopupFormStub();
    int curSalesOrderId = 0;

    PopupFormStub popupForm = new PopupFormStub()
    {
        PopupTitle = "Revisi",
        FormMethod = "post",
        FormAction = Url.Action(ActionSite.ReviseSalesOrderZTS),

        FormFields = new List<PopupFormStub.FormElement>()
        {
            new PopupFormStub.FormElement()
        {
            Type = PopupFormStub.FormElement.ElementType.TEXTAREA,
            Label = "Pesan",
            Name = "message"
        }
    },

        FormButtons = new List<PopupFormStub.FormElement>()
{
new PopupFormStub.FormElement()
{
Type = PopupFormStub.FormElement.ElementType.SUBMIT,
Class = "btn btn-primary",
Value = "Revisi"
}
}
    };
}

@{Html.RenderPartial("App/_workflow", Model.Workflows);}
@if ((Model.PowerPlants != null) &&
     (Model.PowerPlants.Count() > 0) &&
     (Model.PowerPlants.ElementAt(0).SalesOrders != null) &&
     (Model.PowerPlants.ElementAt(0).SalesOrders.Count() > 0))
{
    curSalesOrderId = Model.PowerPlants.ElementAt(0).SalesOrders.ElementAt(0).Id;

    popupForm.FormFields.Add(new PopupFormStub.FormElement()
    {
        Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
        Name = "id",
        Value = curSalesOrderId.ToString()
    });

    Html.RenderPartial("App/_PopupForm", popupForm);

    popupPreSAP = new PopupFormStub()
    {
        PopupTitle = "Download SAP",
        FormMethod = "post",
        FormAction = "",

        FormMessage = "Pesan Download SAP",

        FormButtons = new List<PopupFormStub.FormElement>()
{
new PopupFormStub.FormElement()
{
Type = PopupFormStub.FormElement.ElementType.A,
Href = ActionSite.DownloadSAP + "?id=" + curSalesOrderId,
Class = "btn btn-primary",
Value = "Download"
}
}
    };
    Html.RenderPartial("App/_PopupForm", popupPreSAP);
}

@if (err != "")
{
    <div class="alert alert-danger alert-normal m-b-n" role="alert">
        <h3 class="alert-heading">Error</h3>
        @Html.Raw(err)
    </div>
}

@if ((Model.LastSalesOrderApproval != null) && (Model.LastSalesOrderApproval.Notes != ""))
{
    <div class="alert alert-warning alert-normal m-b-n" role="alert">
        <h3 class="alert-heading">Revisi</h3>
        @Html.Raw(Model.LastSalesOrderApproval.Notes)
    </div>
}

<div class="ibox">
    <div class="ibox-title">
        <h5>Create Sales Order <small><em>*Please Choose Period</em></small></h5>
    </div>
    <div class="ibox-content m-b">
        @using (@Html.BeginForm(ActionSite.LoadCreateZTS, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "FilterForm" }))
        {
            <div class="form-group">
                @Html.Label("SO Type", new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4 p-xxs m-l-sm">
                    <label class="radio-inline">
                        <input type="radio" name="SOType" value="@Common.Enums.SOType.ZPGE"> @Common.Enums.SOType.ZPGE
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="SOType" value="@Common.Enums.SOType.ZTS" checked> @Common.Enums.SOType.ZTS
                    </label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Periode, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.Periode, new { @class = "form-control form-control-monthpicker always-validate" })
                    @Html.ValidationMessageFor(model => model.Periode)
                </div>
            </div>
        }
    </div>

    @if (curWorkflow.IsSapDownloadable)
    {
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-6">
                    <h5>Files</h5>
                </div>
            </div>
        </div>
        <div class="ibox-content m-b">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Excel SAP</label>
                        <div class="col-xs-8">
                            <button type="button" id="btnPreDownloadSAP" class="btn btn-primary">Download SAP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "CreateForm" }))
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.IsDraft)
        @Html.HiddenFor(model => model.Periode)
        @Html.HiddenFor(model => model.SOType)

        if (Model.PowerPlants != null)
        {
            int i = 0;
            foreach (PowerPlantFormStub powerPlant in Model.PowerPlants)
            {
                @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).Id, new { @id = "PowerPlants[" + i + "].Id", @nameRebind = "true" })
                @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).Name, new { @id = "PowerPlants[" + i + "].Name", @nameRebind = "true" })
                @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).Material, new { @id = "PowerPlants[" + i + "].Material", @nameRebind = "true" })
                @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).StrMaterial, new { @id = "PowerPlants[" + i + "].StrMaterial", @nameRebind = "true" })
                @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SOType, new { @id = "PowerPlants[" + i + "].SOType", @nameRebind = "true" })
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5>@powerPlant.Name</h5>
                        </div>
                        <div class="col-xs-6">
                            <label class="checkbox-inline control-label pull-right">
                                @Html.CheckBoxFor(model => model.PowerPlants.ElementAt(i).IsAdditionalSODetail, new { @id = "PowerPlants[" + i + "].IsAdditionalSODetail", @name = "PowerPlants[" + i + "].IsAdditionalSODetail", @powerPlantId = powerPlant.Id, @idx = i, @nameRebind = "true" })
                                @Html.LabelFor(model => model.PowerPlants.ElementAt(i).IsAdditionalSODetail)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PowerPlants.ElementAt(i).StrMaterial, new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(model => model.PowerPlants.ElementAt(i).StrMaterial, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.PowerPlants.ElementAt(i).SalesOrders != null)
                    {
                        <div>
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[0].Id", Model.PowerPlants[i].SalesOrders[0].Id, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].Id", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).SOType, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].SOType", @name = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].SOType", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[0].Periode", Model.PowerPlants[i].SalesOrders[0].Periode, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].Periode", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[0].PeriodeStr", Model.PowerPlants[i].SalesOrders[0].PeriodeStr, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].PeriodeStr", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[0].StrNetPrice", Model.PowerPlants[i].SalesOrders[0].NetPrice.Value.ToString("0.00000"), new { @id = "PowerPlants[" + i + "].SalesOrders[0].StrNetPrice", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[0].StrNetValue", Model.PowerPlants[i].SalesOrders[0].NetValue.Value.ToString("0.00000"), new { @id = "PowerPlants[" + i + "].SalesOrders[0].StrNetValue", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).ShipToPartyId, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].ShipToPartyId", @name = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].ShipToPartyId", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).WorkflowId, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].WorkflowId", @name = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].WorkflowId", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).Quantity, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].Quantity", @name = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].Quantity", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).NetPrice, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].NetPrice", @name = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].NetPrice", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).NetValue, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].NetValue", @name = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].NetValue", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).Currency, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].Currency", @name = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].Currency", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).IsValid, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].IsValid", @name = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].IsValid", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 0 + "].Idx", i, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].Idx", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 0 + "].Jdx", 0, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 0 + "].Jdx", @nameRebind = "true" })

                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 1 + "].Id", Model.PowerPlants[i].SalesOrders[1].Id, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].Id", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(1).SOType, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].SOType", @name = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].SOType", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 1 + "].Periode", Model.PowerPlants[i].SalesOrders[1].Periode, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].Periode", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 1 + "].PeriodeStr", Model.PowerPlants[i].SalesOrders[1].PeriodeStr, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].PeriodeStr", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 1 + "].StrNetPrice", Model.PowerPlants[i].SalesOrders[1].NetPrice.Value.ToString("0.00000"), new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].StrNetPrice", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 1 + "].StrNetValue", Model.PowerPlants[i].SalesOrders[1].NetValue.Value.ToString("0.00000"), new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].StrNetValue", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(1).ShipToPartyId, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].ShipToPartyId", @name = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].ShipToPartyId", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(1).WorkflowId, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].WorkflowId", @name = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].WorkflowId", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(1).Quantity, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].Quantity", @name = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].Quantity", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(1).NetPrice, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].NetPrice", @name = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].NetPrice", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(1).NetValue, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].NetValue", @name = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].NetValue", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(1).Currency, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].Currency", @name = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].Currency", @nameRebind = "true" })
                            @Html.HiddenFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(1).IsValid, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].IsValid", @name = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].IsValid", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 1 + "].Idx", i, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].Idx", @nameRebind = "true" })
                            @Html.Hidden("PowerPlants[" + i + "].SalesOrders[" + 1 + "].Jdx", 1, new { @id = "PowerPlants[" + i + "].SalesOrders[" + 1 + "].Jdx", @nameRebind = "true" })

                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PowerPlants.ElementAt(i).SalesOrders.FirstOrDefault().Notes, new { @class = "col-xs-4 control-label" })
                                    <div class="col-xs-8">
                                        @Html.TextAreaFor(model => model.PowerPlants.ElementAt(i).SalesOrders.FirstOrDefault().Notes, new { @class = "form-control", @id = "PowerPlants[" + i + "].SalesOrders[0].Notes", @nameRebind = "true" })
                                        @Html.ValidationMessageFor(model => model.PowerPlants.ElementAt(i).SalesOrders.FirstOrDefault().Notes)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PowerPlants.ElementAt(i).SalesOrders.FirstOrDefault().BastFiles, new { @class = "col-xs-2 control-label", @id = "PowerPlants[" + i + "].SalesOrders[0].BastFiles" })
                                <div class="col-xs-4 m-l-sm">
                                    @if (Model.IsEditable)
                                    {
                                        @Html.Hidden("BastFilesCount[" + i + "]", 0, new { @id = "BastFilesCount-" + powerPlant.Id, @index = i })
                                        @Html.TextBox("files", "", new
                                   {
                                       @class = "form-control-upload-pdf",
                                       type = "file",
                                       id = "files-" + powerPlant.Id,
                                       accept = "application/pdf"
                                   })
                                        @Html.ValidationMessageFor(model => model.PowerPlants.ElementAt(i).SalesOrders.FirstOrDefault().BastFiles, "File BAST wajib diisi", new { @class = "text-danger" })
                                    }
                                    <div name="gridBastFiles" id="gridBastFiles-@powerPlant.Id" powerPlantId="@powerPlant.Id" idx="@i"></div>
                                </div>
                                <div class="col-xs-4">
                                    @if (Model.IsEditable)
                                    {
                                        <ul class="small">
                                            <li>Max File Size. 10 MB</li>
                                            <li>File Type Allow .pdf</li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>



                        if (curWorkflow.IsBastSignedDownloadable) // fungsinya utk "isTampilkan No PO, No PR, dan No SO"
                        {
                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PowerPlants.ElementAt(i).SalesOrders.FirstOrDefault().ScreenshotSaps, new { @class = "col-xs-2 control-label", @id = "PowerPlants[" + i + "].SalesOrders[0].ScreenshotSaps" })
                                    <div class="col-xs-4 m-l-sm">
                                        @if (Model.Workflows[2].Active == true)
                                        {
                                            @Html.Hidden("ScreenshotSapsCount[" + i + "]", 0, new { @id = "ScreenshotSapsCount-" + powerPlant.Id, @index = i })
                                            @Html.TextBox("files", "", new
                                       {
                                           @class = "form-control-upload-img",
                                           type = "file",
                                           id = "sfiles-" + powerPlant.Id,
                                           accept = "image/*"
                                       })
                                            @Html.ValidationMessageFor(model => model.PowerPlants.ElementAt(i).SalesOrders.FirstOrDefault().ScreenshotSaps, "Screenshot SAP wajib diisi", new { @class = "text-danger" })
                                        }
                                        <div name="gridScreenshotSaps" id="gridScreenshotSaps-@powerPlant.Id" powerPlantId="@powerPlant.Id" idx="@i"></div>
                                    </div>
                                    <div class="col-xs-4">
                                        @if (Model.Workflows[2].Active == true)
                                        {
                                            <ul class="small">
                                                <li>Max File Size. 10 MB</li>
                                                <li>File Type Allow Image Extension</li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">No PO</label>
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).NoPo, new { @class = "form-control", @id = "PowerPlants[" + i + "].SalesOrders[0].NoPo", @name = "PowerPlants[" + i + "].SalesOrders[0].NoPo", @nameRebind = "true" })
                                            @*@Html.ValidationMessageFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).NoPo, "No PO wajib diisi", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">No PR</label>
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).NoPr, new { @class = "form-control", @id = "PowerPlants[" + i + "].SalesOrders[0].NoPr", @name = "PowerPlants[" + i + "].SalesOrders[0].NoPr", @nameRebind = "true" })
                                            @*@Html.ValidationMessageFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).NoPr, "No PR wajib diisi", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">No SO</label>
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).NoSo, new { @class = "form-control", @id = "PowerPlants[" + i + "].SalesOrders[0].NoSo", @name = "PowerPlants[" + i + "].SalesOrders[0].NoSo", @nameRebind = "true" })
                                            @*@Html.ValidationMessageFor(model => model.PowerPlants.ElementAt(i).SalesOrders.ElementAt(0).NoSo, "No SO wajib diisi", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div name="grid" powerPlantId="@powerPlant.Id" idx="@i" isInit="false"></div>
                        <br />
                    }
                </div>
                i++;
            }

            <div class="form-group m-t">
                <div class="col-xs-10">
                    @if (Model.IsEditable)
                    {
                        <button id="btnSaveDraft" type="button" class="btn btn-warning">Save as Draft</button>
                    }

                    @if (Model.LastSalesOrderApproval != null)
                    {
                        switch (Model.LastSalesOrderApproval.WorkflowId)
                        {
                            case 7:
                            case 9:
                                hasAccess = user.HasAccess(new UserRole?[] { UserRole.ASMEN_PARTNERSHIP, UserRole.Superadmin });
                                break;
                            case 8:
                                hasAccess = user.HasAccess(new UserRole?[] { UserRole.PARTNERSHIP, UserRole.Superadmin });
                                break;
                        }
                    }
                    else
                    {
                        hasAccess = true;
                    }
                    @if (Model.LastSalesOrderApproval != null)
                    {
                        switch (Model.LastSalesOrderApproval.WorkflowId)
                        {
                            case 7:
                            case 9:
                                hasAccess = user.HasAccess(new UserRole?[] { UserRole.ASMEN, UserRole.Superadmin });
                                break;
                            case 8:
                                hasAccess = user.HasAccess(new UserRole?[] { UserRole.PARTNERSHIP, UserRole.Superadmin });
                                break;
                        }
                    }



                    @if (Model.IsApprovable && hasAccess)
                    {
                        <button id="btnApprove" type="button" class="btn btn-primary">@curWorkflow.Approver</button>
                    }
                    @if (Model.IsRevisable && hasAccess)
                    {
                        <button id="btnRevise" type="button" class="btn btn-danger">Revise</button>
                    }
                    <a href="@backLink" class="btn btn-link">Kembali</a>
                </div>
            </div>

            <!-- Modal Form -->
            <div id="modalForm" class="modal" role="dialog" style="vertical-align: middle;">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header label-primary">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color: white">Ubah Data</h4>
                        </div>
                        <div class="modal-body" style="min-height: 100px;">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PowerPlants.FirstOrDefault(x => x.SalesOrders != null).SalesOrders.FirstOrDefault().Quantity, new { @class = "col-xs-4 control-label" })
                                        <div class="col-xs-6">
                                            @Html.TextBox("QuantityEdit", "", new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btnSaveQty" type="button" class="btn btn-primary">Save</button>
                            <button id="btnCancel" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section scripts
{
    <script type="text/javascript">
        $(".form-control-upload-pdf").kendoUpload({
            async: {
                saveUrl: urlAction("/FileManagement/Save"),
                removeUrl: urlAction("/FileManagement/Remove"),
                batch: true,
                autoUpload: true,
                multiple: true,
            },
            validation: {
                allowedExtensions: [".pdf"],
                maxFileSize: 10000000
            },
            localization: {
                select: "Select File...",
            },
            multiple: true,
            //showFileList: true,
        });

        $(".form-control-upload-img").kendoUpload({
            async: {
                saveUrl: urlAction("/FileManagement/Save"),
                removeUrl: urlAction("/FileManagement/Remove"),
                batch: true,
                autoUpload: true,
                multiple: true,
            },
            validation: {
                allowedExtensions: [".jpg", ".jpeg", ".png", ".bmp", ".gif"],
                maxFileSize: 1000000
            },
            localization: {
                select: "Select File...",
            },
            multiple: true,
            showFileList: true
        });
        

       $(function () {
		   initElementFilter();
	    });

		function initElementFilter() {
			bindChangePeriod();
            bindChangeSOType();
            
            if ("@currentAction.Contains("Edit")"=== "@true") {
                  console.log("ada")
                    $("#FilterForm input").prop("disabled", true);
                    $("#Periode").data("kendoDatePicker").readonly(true);
                }

			@*if ("@Model.IsValid" == "True") {
				$("input[type=radio][name=SOType]").attr("disabled", true);
				var datepicker = $("#@Field.Periode").data("kendoDatePicker");
				datepicker.readonly();
			}*@
		}

		function bindChangePeriod() {
            var datepicker = $("#@Field.Periode").data("kendoDatePicker");

            datepicker.bind("change", showDetailSO);
		}

		function bindChangeSOType() {
			$('input[type=radio][name=SOType]').change(function () {
                if (this.value == '@Common.Enums.SOType.ZPGE') {
                    window.location.href = "@Url.Action("CreateSOZPGE", "SalesOrder")";
                }
                else if (this.value == '@Common.Enums.SOType.ZTS') {
                    window.location.href = "@Url.Action("CreateSOZTS", "SalesOrder")";
                }
			});
		}

        function showDetailSO() {
            var periode = $("#@Field.Periode").val();
			if (periode != "") {
				$("#FilterForm").submit();
			}
		}
    </script>

    @if (curSalesOrderId != 0)
    {
        <script type="text/javascript">
            $(function () {
                initElementRevise();
            });

            function initElementRevise() {
                bindBtnRevise();
            }

        </script>
    }

    @if (Model.PowerPlants != null)
    {
        <script type="text/javascript">
			var curEditSalesOrder;
			$(function () {
				initElementForm();
			});

			$(document).ready(function () {
				inputNameRebind();
			});

			function initElementForm() {
				bindBtnPreDownloadSAP();
				bindBtnApprove();
				bindBtnSaveDraft();
				bindBtnSaveQty();
				bindBtnCancel();
				bindCheckboxIsAdditionalSODetail();

				if ("@Model.IsEditable" == "False") {
					$("[name='Notes']").attr("readonly", true);
				}

				if ("@Model.IsBastSignedUploadable" == "False") { // berfungsi sebagai pengecek No PO, No PR, No SO
					$("[name='NoPo']").attr("readonly", true);
					$("[name='NoPr']").attr("readonly", true);
					$("[name='NoSo']").attr("readonly", true);
				}
			}

			function bindBtnPreDownloadSAP() {
				$("#btnPreDownloadSAP").on("click", function () {
					$("#@popupPreSAP.PopupId").modal("show");
				});
			}

			function bindBtnApprove() {
				$("#btnApprove").on("click", function (e) {
					e.preventDefault();
					$("#IsDraft").val(false);
					$("#CreateForm").submit();
				});
			}

			function bindBtnSaveDraft() {
				$("#btnSaveDraft").on("click", function (e) {
					e.preventDefault();
					$("#IsDraft").val(true);
					$("#CreateForm").submit();
				});
			}

			function bindBtnRevise() {
				$("#btnRevise").click(function (e) {
					e.preventDefault();
					$("#@popupForm.PopupId").modal("show");
				});
			}

			function bindBtnSaveQty() {
				$('#btnSaveQty').on("click", function (e) {
					var selector = $.escapeSelector("PowerPlants[" + curEditSalesOrder.Idx + "].SalesOrders[" + curEditSalesOrder.Jdx + "].");
					var curNetPrice = $("#" + selector + "NetPrice").val();
					var editQuantity = parseFloat($("#QuantityEdit").val());
					var editNetValue = parseFloat($("#QuantityEdit").val()) * parseFloat(curNetPrice.replace(',', '.'));
					$("#" + selector + "Quantity").val(editQuantity.toString());
					$("#" + selector + "NetValue").val(editNetValue.toFixed(5).replace('.', ','));
					$("#" + selector + "StrNetValue").val($("#" + selector + "NetValue").val());
					refreshGrid(curEditSalesOrder.Idx);
					$("#modalForm").modal("hide");
				});
			}

			function bindBtnCancel() {
				$("#btnCancel").on("click", function (e) {
					$("#modalForm").modal("hide");
				});
			}

			function bindCheckboxIsAdditionalSODetail() {
				if ("@Model.IsEditable" == "False")
				{
					$("[name$=IsAdditionalSODetail]").prop("disabled", true);
				}
				$("[name$=IsAdditionalSODetail]").on("change", function (e) {
					var idx = $(this).attr("idx");
					var isAdditional = $(this).prop("checked");
					$("[name=" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[1].IsValid") + "]").val(isAdditional);

					// tuker tanggal document date nya
					var periode = $("#" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[0].Periode")).val();
					var periodeStr = $("#" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[0].PeriodeStr")).val();
					var periodeAdd = $("#" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[1].Periode")).val();
					var periodeStrAdd = $("#" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[1].PeriodeStr")).val();

					$("#" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[0].Periode")).val(periodeAdd);
					$("#" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[0].PeriodeStr")).val(periodeStrAdd);
					$("#" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[1].Periode")).val(periode);
					$("#" + $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[1].PeriodeStr")).val(periodeStr);

					refreshGrid(idx);
				});
			}

			function inputNameRebind() {
				$("[nameRebind=true]").each(function (idx, elem) {
					$(this).attr("name", $(this).attr("id"));
				});
			}

			function refreshGrid(idx) {
				var gridSelector = "[name=grid][idx=" + $.escapeSelector(idx) + "]";
				var initDataSource = new kendo.data.DataSource({
					data: dataSourceSalesOrder($(gridSelector).attr("idx"))
				});
				$(gridSelector).data("kendoGrid").setDataSource(initDataSource);
				$(gridSelector).data("kendoGrid").dataSource.read();
			}

			function dataBoundBastFiles(e) {
				$("[name=gridBastFiles]").each(function (idx) {
					if ($(this).data("kendoGrid") != undefined) {
						var grid = $(this).data("kendoGrid");

						grid.tbody.find("tr[role=\"row\"]").each(function (i) {
							if ("@Model.IsEditable" == "False") {
								$(this).find(".k-grid-delete")
									.removeClass("k-grid-delete")
									.children().eq(0)
									.addClass("k-state-disabled")
									.attr("title", "Can't be deleted, data already used")
									.attr("data-html", true);
							}
						});
					}
				});
            }

            function dataBoundScreenshotSaps(e) {
				$("[name=gridScreenshotSaps]").each(function (idx) {
					if ($(this).data("kendoGrid") != undefined) {
						var grid = $(this).data("kendoGrid");

						grid.tbody.find("tr[role=\"row\"]").each(function (i) {
							if ("@Model.IsEditable" == "False") {
								$(this).find(".k-grid-delete")
									.removeClass("k-grid-delete")
									.children().eq(0)
									.addClass("k-state-disabled")
									.attr("title", "Can't be deleted, data already used")
									.attr("data-html", true);
							}
						});
					}
				});
			}

			function deleteBastFile(e) {
				e.preventDefault();
				var data = this.dataItem(getDataRowGrid(e));
				goToDeletePage("@Url.Action(ActionSite.DeleteBastFile)" + "?id=" + data.id, this.dataSource);
            }

            function deleteScreenshotSap(e) {
				e.preventDefault();
				var data = this.dataItem(getDataRowGrid(e));
				goToDeletePage("@Url.Action(ActionSite.DeleteScreenshotSap)" + "?id=" + data.id, this.dataSource);
			}

			function dataSourceSalesOrder(idx) {
				var elemSelector = $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[0].");
				var salesOrders = [{
					Periode: $("#" + elemSelector + "Periode").val(),
					PeriodeStr: $("#" + elemSelector + "PeriodeStr").val(),
					Quantity: $("#" + elemSelector + "Quantity").val(),
					NetPrice: $("#" + elemSelector + "NetPrice").val(),
					NetValue: $("#" + elemSelector + "NetValue").val(),
					StrNetPrice: $("#" + elemSelector + "StrNetPrice").val(),
					StrNetValue: $("#" + elemSelector + "StrNetValue").val(),
					Notes: $("#" + elemSelector + "Notes").val(),
					Currency: $("#" + elemSelector + "Currency").val(),
					Id: $("#" + elemSelector + "Id").val(),
					SOType: $("#" + elemSelector + "SOType").val(),
					ShipToPartyId: $("#" + elemSelector + "ShipToPartyId").val(),
					WorkflowId: $("#" + elemSelector + "WorkflowId").val(),
					Idx: $("#" + elemSelector + "Idx").val(),
					Jdx: $("#" + elemSelector + "Jdx").val(),
				}];

				elemSelector = $.escapeSelector("PowerPlants[" + idx + "].SalesOrders[1].");
				if ($("#" + elemSelector + "IsValid").val() != undefined)
				if ($("#" + elemSelector + "IsValid").val().toLowerCase() == "true") {
					salesOrders.push({
						Periode: $("#" + elemSelector + "Periode").val(),
						PeriodeStr: $("#" + elemSelector + "PeriodeStr").val(),
						Quantity: $("#" + elemSelector + "Quantity").val(),
						NetPrice: $("#" + elemSelector + "NetPrice").val(),
						NetValue: $("#" + elemSelector + "NetValue").val(),
						StrNetPrice: $("#" + elemSelector + "StrNetPrice").val(),
						StrNetValue: $("#" + elemSelector + "StrNetValue").val(),
						Notes: $("#" + elemSelector + "Notes").val(),
						Currency: $("#" + elemSelector + "Currency").val(),
						Id: $("#" + elemSelector + "Id").val(),
						SOType: $("#" + elemSelector + "SOType").val(),
						ShipToPartyId: $("#" + elemSelector + "ShipToPartyId").val(),
						WorkflowId: $("#" + elemSelector + "WorkflowId").val(),
						Idx: $("#" + elemSelector + "Idx").val(),
						Jdx: $("#" + elemSelector + "Jdx").val(),
					});
				}
				return salesOrders;
			}
        </script>
        int i = 0;
        foreach (PowerPlantFormStub powerPlant in Model.PowerPlants)
        {
            <script type="text/javascript">
				$("[name=grid][idx=" + $.escapeSelector(@i) + "]").kendoGrid({
					dataSource: dataSourceSalesOrder(@i),
					dataBound: function () {
						if ($("[name=grid][idx=" + $.escapeSelector(@i) + "]").data("kendoGrid") != undefined) {
							var grid = $("[name=grid][idx=" + $.escapeSelector(@i) + "]").data("kendoGrid");

							grid.tbody.find("tr[role=\"row\"]").each(function (i) {
								if ("@Model.IsEditable" == "False") {
									$(this).find(".k-grid-edit")
										.removeClass("k-grid-edit")
										.children().eq(0)
										.addClass("k-state-disabled")
										.attr("title", "Can't be edited, data already used")
										.attr("data-html", true);
								}
							});
						}
					},
					columns: [
						{
							command: [
								{
									name: "edit",
									text: "@Component.Grid.Command.Edit",
									click: function (e) {
										var data = this.dataItem(getDataRowGrid(e));
										curEditSalesOrder = data;
										$("#QuantityEdit").val(curEditSalesOrder.Quantity);
										$('#modalForm').modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
									},
									imageClass: "glyphicon glyphicon-edit",
									template: GRID_COMMAND_TEMPLATE
								}
							],
							width: "40px",
							attributes: { "class": "command" }
						},
						{
							field: "PeriodeStr",
							title: "Document Date",
							width: "100px",
						},
						{
							field: "@Field.Quantity",
							title: "Confirm Qty",
							width: "100px",
						},
						{
							field: "StrNetPrice",
							title: "Net Price",
							width: "100px",
						},
						{
							field: "StrNetValue",
							title: "Net Value",
							width: "100px",
						},
					],
				});

                $(function () {
                    var upload = $("#files-" +@powerPlant.Id).data("kendoUpload");
                    var supload = $("#sfiles-" +@powerPlant.Id).data("kendoUpload");
                    if (upload != null) {
                        upload.bind({
                            success: function (e) {

                                if (e.operation == "upload") {
                                    var BastFilesCount = parseInt($("#BastFilesCount-" +@powerPlant.Id).val());
                                    var curIdx;
                                    e.response.forEach(function (response, idx) {
                                        curIdx = BastFilesCount + idx;

                                        var insertHtml =
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[0].BastFiles[" + curIdx + "].FilePath' id='PowerPlant[" + @i + "].SalesOrder[0].BastFiles[" + curIdx + "].FilePath' value='" + response.FilePath + "' uid='" + response.UId + "' />" +
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[0].BastFiles[" + curIdx + "].UId' id='PowerPlant[" + @i + "].SalesOrder[0].BastFiles[" + curIdx + "].UId' value='" + response.UId + "' uid='" + response.UId + "' />" +
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[0].BastFileSigneds' uid='" + response.UId + "' />" +
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[1].BastFiles[" + curIdx + "].FilePath' id='PowerPlant[" + @i + "].SalesOrder[1].BastFiles[" + curIdx + "].FilePath' value='" + response.FilePath + "' uid='" + response.UId + "' />" +
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[1].BastFiles[" + curIdx + "].UId' id='PowerPlant[" + @i + "].SalesOrder[1].BastFiles[" + curIdx + "].UId' value='" + response.UId + "' uid='" + response.UId + "' />" +
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[1].BastFileSigneds' uid='" + response.UId + "' />";

                                        $("#BastFilesCount-" +@powerPlant.Id).after(insertHtml);
                                    });
                                    $("#BastFilesCount-" +@powerPlant.Id).val(curIdx + 1);
                                }
                            },
                            remove: function (e) {
                                e.files.forEach(function (file, idx) {
                                    $("[uid=" + file.uid + "]").val("");
                                });
                            },
                            upload: (function (e) {
                                var guid;
                                guid = e.files[0].uid;
                                e.data = {
                                    ids: guid
                                };
                            })
                        });
                    }
                    if (supload != null) {
                        supload.bind({                            
                            success: function (e) {
                                
								if (e.operation == "upload") {
                                   
                                    var ScreenshotSapsCount = parseInt($("#ScreenshotSapsCount-"+@powerPlant.Id).val());
									var curIdx;
									e.response.forEach(function (response, idx) {
                                        curIdx = ScreenshotSapsCount + idx;

                                        var insertHtml =
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[0].ScreenshotSaps[" + curIdx + "].FilePath' id='PowerPlant[" + @i + "].SalesOrder[0].ScreenshotSaps[" + curIdx + "].FilePath' value='" + response.FilePath + "' uid='" + response.UId + "' />" +
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[0].ScreenshotSaps[" + curIdx + "].UId' id='PowerPlant[" + @i + "].SalesOrder[0].ScreenshotSaps[" + curIdx + "].UId' value='" + response.UId + "' uid='" + response.UId + "' />" +
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[1].ScreenshotSaps[" + curIdx + "].FilePath' id='PowerPlant[" + @i + "].SalesOrder[1].ScreenshotSaps[" + curIdx + "].FilePath' value='" + response.FilePath + "' uid='" + response.UId + "' />" +
                                            "<input type='hidden' name='PowerPlants[" + @i + "].SalesOrders[1].ScreenshotSaps[" + curIdx + "].UId' id='PowerPlant[" + @i + "].SalesOrder[1].ScreenshotSaps[" + curIdx + "].UId' value='" + response.UId + "' uid='" + response.UId + "' />";
                                        
                                            $("#ScreenshotSapsCount-"+@powerPlant.Id).after(insertHtml);
									});
                                   
                                    $("#ScreenshotSapsCount-" +@powerPlant.Id).val(curIdx + 1);
								}
							},
							remove: function (e) {
								e.files.forEach(function (file, idx) {
									$("[uid=" + file.uid + "]").val("");
								});
							},
                            upload: (function (e) {                                
								var guid;
								guid = e.files[0].uid;
								e.data = {
									ids: guid
								};
							})
						});
					}
                });
            </script>
            SalesOrderFormStub salesOrder = powerPlant.SalesOrders.ElementAt(0);
            <text>console.log(salesOrder.ScreenshotSap)</text>
            if (salesOrder.BastFiles != null)
            {
                if (salesOrder.BastFiles.Count > 0)
                {
                    <script type="text/javascript">
						var ds = new kendo.data.DataSource({
							transport: {
							read:
							{
								url: "@Url.Action(ActionSite.BindingBastFiles)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"
							},
							parameterMap: function(options, operation) {
								if (operation !== "@DataSource.Operation.Read" && options.models)
								{
									return kendo.stringify(options);
								}
								else
								{
									if (options.filter)
									{
										var filters = options.filter.filters;

													for (var i in filters)
										{
											var filter = filters[i];
										}
									}

									if (options.sort)
									{
										var sorts = options.sort;

													for (var i in sorts)
										{
											var sort = sorts[i];
										}
									}

									options.args = [];

									return options;
								}
							}
						},
						schema:
						{
							data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
							{
								id: "@Field.Id",
								fields:
								{
									"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
									"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
								}
							}
						},
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: { field: "@Field.SalesOrderId", operator: "eq", value: "@salesOrder.Id" },
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
					});

					$("#gridBastFiles-"+@powerPlant.Id).kendoGrid({
						dataSource: ds,
						dataBound: dataBoundBastFiles,
						filterable: kendoGridFilterable,
						pageable: { refresh: true,  pageSizes: true,  },
						sortable: true,
						columns: [
							{
								command: [
									{
										name: "delete",
										text: "@Component.Grid.Command.Delete",
										click: deleteBastFile,
										imageClass: "glyphicon glyphicon-trash",
										template: GRID_COMMAND_TEMPLATE
									},
								],
								width: "40px",
								attributes: { "class": "command" }
							},
							{
								field: "@Field.FilePath",
								title: "File",
								template: "<a href='#=AbsolutePath#' target='_blank'>#=FriendlyName#</a>",
							}
						],
                        });

                    ds = new kendo.data.DataSource({
							transport: {
							read:
							{
								url: "@Url.Action(ActionSite.BindingScreenshotSaps)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"
							},
							parameterMap: function(options, operation) {
								if (operation !== "@DataSource.Operation.Read" && options.models)
								{
									return kendo.stringify(options);
								}
								else
								{
									if (options.filter)
									{
										var filters = options.filter.filters;

													for (var i in filters)
										{
											var filter = filters[i];
										}
									}

									if (options.sort)
									{
										var sorts = options.sort;

													for (var i in sorts)
										{
											var sort = sorts[i];
										}
									}

									options.args = [];

									return options;
								}
							}
						},
						schema:
						{
							data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
							{
								id: "@Field.Id",
								fields:
								{
									"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
									"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
								}
							}
						},
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: { field: "@Field.SalesOrderId", operator: "eq", value: "@salesOrder.Id" },
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
					});

                    $("#gridScreenshotSaps-"+@powerPlant.Id).kendoGrid({
						dataSource: ds,
						dataBound: dataBoundScreenshotSaps,
						filterable: kendoGridFilterable,
						pageable: { refresh: true,  pageSizes: true,  },
						sortable: true,
						columns: [
							{
								command: [
									{
										name: "delete",
										text: "@Component.Grid.Command.Delete",
										click: deleteBastFile,
										imageClass: "glyphicon glyphicon-trash",
										template: GRID_COMMAND_TEMPLATE
									},
								],
								width: "40px",
								attributes: { "class": "command" }
							},
							{
								field: "@Field.FilePath",
								title: "File",
                                template: "<a href='#=AbsolutePath#' target='_blank'><img  class='img-thumbnail' src='#=AbsolutePath#' alt='#=FriendlyName#'></a>",
							}
						],
                        });

                    </script>
                }
            }

            if (salesOrder.ScreenshotSaps != null)
            {
                if (salesOrder.ScreenshotSaps.Count > 0)
                {
                    <script type="text/javascript">
						var ds = new kendo.data.DataSource({
							transport: {
							read:
							{
								url: "@Url.Action(ActionSite.BindingScreenshotSaps)",
								dataType: "@DataSource.DataType.Json",
								type: "@DataSource.Type.Post"
							},
							parameterMap: function(options, operation) {
								if (operation !== "@DataSource.Operation.Read" && options.models)
								{
									return kendo.stringify(options);
								}
								else
								{
									if (options.filter)
									{
										var filters = options.filter.filters;

													for (var i in filters)
										{
											var filter = filters[i];
										}
									}

									if (options.sort)
									{
										var sorts = options.sort;

													for (var i in sorts)
										{
											var sort = sorts[i];
										}
									}

									options.args = [];

									return options;
								}
							}
						},
						schema:
						{
							data: "@DataSource.Schema.Property.Data",
							total: "@DataSource.Schema.Property.Total",
							model:
							{
								id: "@Field.Id",
								fields:
								{
									"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
									"@Field.SalesOrderId": { type: "@DataSource.Schema.Type.Number" },
									"@Field.FilePath": { type: "@DataSource.Schema.Type.String" },
								}
							}
						},
						pageSize: 10,
						serverFiltering: true,
						serverPaging: true,
						serverSorting: true,
						filter: { field: "@Field.SalesOrderId", operator: "eq", value: "@salesOrder.Id" },
						sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
					});

					$("#gridScreenshotSaps-"+@powerPlant.Id).kendoGrid({
						dataSource: ds,
						dataBound: dataBoundScreenshotSaps,
						filterable: kendoGridFilterable,
						pageable: { refresh: true,  pageSizes: true,  },
						sortable: true,
						columns: [
							{
								command: [
									{
										name: "delete",
										text: "@Component.Grid.Command.Delete",
                                        click: deleteScreenshotSap,
										imageClass: "glyphicon glyphicon-trash",
										template: GRID_COMMAND_TEMPLATE
									},
								],
								width: "40px",
								attributes: { "class": "command" }
							},
							{
								field: "@Field.FilePath",
								title: "File",
                                template: "<a href='#=AbsolutePath#'  target='_blank'><img class='img-thumbnail' src='#=AbsolutePath#' alt='#=FriendlyName#'></a>",
							}
						],
					});

                    </script>
                }
            }
            i++;
        }
    }
}

