﻿@using Common.Enums
@using System.Reflection
@using WebUI.Infrastructure

@model WebUI.Areas.SalesOrder.Models.SalesOrderPresentationStub

@{
    ViewBag.Title = "History Sales Order";    
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-group row">
            <div class="col-md-12">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var grid;

        $(function () {
            initElement();
        });

        function initElement() {
            initGrid();
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingHistorySO)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Name") {
                                        filter.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.Workflow, Field.Name)";
                                        filter.value = filter.value;
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (j in sorts) {
                                    var sort = sorts[j];
                                    console.log(sort);
                                    if (sort.field === "@Field.Name") {
                                        sort.field = "@Business.Infrastructure.FieldHelper.ParseRelationField(Table.Workflow, Field.Name)";                                        
                                    }
                                }
                            }

                            options.args = ["@Model.Id"];

                            return options;
                        }
                    }
                },
                schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },                            
                            "@Field.CreatedDateTimeUtc": { type: "@DataSource.Schema.Type.Date" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sort: { field: "@Field.Id", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var columns = [
            {
                    field: "@Field.CreatedDateTimeUtc",
                    title: "Tanggal",
                    filterable: rangeDateFilterable,
                    format: "@DisplayFormat.JsCompactDateTimeFormat",
                    //width: "100px"
                },
                {
                    field: "@Field.Name",
                    title: "Status",
                    //width: "200px",
                },   
                 {
                    field: "@Field.Notes",
                    title: "Notes",
                    //width: "200px",
                }, 
                 {
                    field: "@Field.CreatedBy",
                    title: "User",
                    //width: "200px",
                },  
            ];

            grid1 = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: columns
            }).data("kendoGrid");
        }
    </script>
}
