﻿@using Common.Enums
@using System.Reflection
@using WebUI.Infrastructure
@{
    ViewBag.Title = "Sales Order";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    Principal user = User as Principal;
}

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">My Tasks</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Ongoing / Completed Tasks</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                @if(user != null && user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.ASMEN }))
                { 
                <div class="tab-title">
                    <a href="@Url.Action("CreateSOZPGE")" class="btn btn-primary">Create Sales Order</a>
                </div>
                }
                <div id="grid-salesorder"></div>
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body">
                <div id="grid-approval"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function detailItem(e) {
            e.preventDefault();
            //$("#content").html("test");
			var data = this.dataItem(getDataRowGrid(e));
			console.log(data);
			if (data.SOType == "@SOType.ZPGE.ToDescription()") {
				window.location.href = "@Url.Action(ActionSite.EditSOZPGE)" + "?id=" + data.id;
			} else if (data.SOType == "@SOType.ZTS.ToDescription()") {
				window.location.href = "@Url.Action(ActionSite.EditSOZTS)" + "?id=" + data.id;
			}
            //$('#myModal').modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
        }

        function historyItem(e) {
            e.preventDefault();
			var data = this.dataItem(getDataRowGrid(e));
            window.location.href = "@Url.Action(ActionSite.HistorySO)" + "?id=" + data.id;
        }
		function approveItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
			if (data.SOType == "@SOType.ZPGE.ToDescription()") {
				goToApprovePage("@Url.Action(ActionSite.ApproveSalesOrder)" + "?id=" + data.id, this.dataSource);
			} else if (data.SOType == "@SOType.ZTS.ToDescription()") {
				goToApprovePage("@Url.Action(ActionSite.ApproveSalesOrderZTS)" + "?id=" + data.id, this.dataSource);
			}
        }

        function initElement() {
            // contoh remote data
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                    if (filter.field == "Unit") {
                                        filter.field = "PowerPlant.ShipToPartyName";
                                    }
                                    else if (filter.field == "PeriodeValue") {
                                        filter.field = "SalesOrderMonth";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                    if (sort.field == "Unit") {
                                        sort.field = "PowerPlant.ShipToPartyName";
                                    }
                                    if (sort.field == "PeriodeValue") {
                                        sort.field = "Periode";
                                    }
                                }
                            }

                            options.args = [];

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SOType": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Period": { type: "@DataSource.Schema.Type.String" },
                            "PeriodeValue": { type: "@DataSource.Schema.Type.Date" },
							"@Field.Unit": { type: "@DataSource.Schema.Type.String" },
							"@Field.Status": { type: "@DataSource.Schema.Type.String" },
							"@Field.CreatedBy": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				//filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
				sort: { field: "@Field.Id", dir: "@SortOrder.Descending.ToDescription()" }
            });

			var ds2 = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

								for (var i in filters) {
									var filter = filters[i];
									if (filter.field == "Unit") {
                                        filter.field = "PowerPlant.ShipToPartyName";
                                    }
                                    else if (filter.field == "PeriodeValue") {
                                        filter.field = "SalesOrderMonth";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];
                                    if (sort.field == "Unit") {
                                        sort.field = "PowerPlant.ShipToPartyName";
                                    }
                                    if (sort.field == "PeriodeValue") {
                                        sort.field = "Periode";
                                    }
                                }
                            }

                            options.args = "@WorkflowStatus.FINISH";

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
							"@Field.SOType": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Period": { type: "@DataSource.Schema.Type.String" },
                            "PeriodeValue": { type: "@DataSource.Schema.Type.Date" },
							"@Field.Unit": { type: "@DataSource.Schema.Type.String" },
							"@Field.Status": { type: "@DataSource.Schema.Type.String" },
							"@Field.CreatedBy": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				//filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
				sort: { field: "@Field.Id", dir: "@SortOrder.Descending.ToDescription()" }
            });

			$("#grid-salesorder").kendoGrid({
				dataSource: ds,
				dataBound: dataBoundSalesOrder,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "delete",
                                text: "@Component.Grid.Command.Delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "approve",
                                text: "@Component.Grid.Command.Approve",
								click: approveItem,
                                imageClass: "glyphicon glyphicon-thumbs-up",
                                template: GRID_COMMAND_TEMPLATE,
                            },
                            {
                                name: "history",
                                text: "@Component.Grid.Command.History",
                                click: historyItem,
                                imageClass: "glyphicon glyphicon-time",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "60px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.SOType",
                        title: "SO Type",
                        width: "50px",
                    },
                    {
                        field: "PeriodeValue",
                        title: "Period",
                        width: "100px",
                        template: "#= kendo.toString(PeriodeValue, 'MMMM yyyy') #",
                        filterable: monthDateFilterable
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "150px",
                    },
                    {
                        field: "@Field.CreatedBy",
                        title: "Created By",
                        width: "100px",
                    }@*,
                    {
                        field: "UploadedDate",
                        title: "Date",
                        width: "100px",
                        format: "@DisplayFormat.JsCompactDateFormat",
                        filterable: rangeDateFilterable
                    }*@
                ],
            });

            $("#grid-approval").kendoGrid({
                dataSource: ds2,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-eye-open",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "history",
                                text: "@Component.Grid.Command.History",
                                click: historyItem,
                                imageClass: "glyphicon glyphicon-time",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "40px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.SOType",
                        title: "SO Type",
                        width: "50px",
                    },
                    {
                        field: "PeriodeValue",
                        title: "Period",
                        width: "100px",
                        template: "#= kendo.toString(PeriodeValue, 'MMMM yyyy') #",
                        filterable: monthDateFilterable
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "150px",
                    },
                    {
                        field: "@Field.CreatedBy",
                        title: "Created By",
                        width: "100px",
                    }@*,
                    {
                        field: "UploadedDate",
                        title: "Date",
                        width: "100px",
                        format: "@DisplayFormat.JsCompactDateFormat",
                        filterable: rangeDateFilterable
                    }*@
                ],
			});

			function dataBoundSalesOrder(e) {
				var grid = $("#grid-salesorder").data("kendoGrid");

				grid.tbody.find("tr[role=\"row\"]").each(function (i) {

                    var model = grid.dataItem(this);
                    var hasAccess = false;

                    if (model.IsRevisable.toString() == "false" || model.WorkflowId == 6 || model.WorkflowId == 10) {

						$(this).find(".k-grid-delete")
							.removeClass("k-grid-delete")
							.children().eq(0)
							.addClass("k-state-disabled")
							.attr("title", "Can't be deleted, data already used")
							.attr("data-html", true);
                    }

                    if (model.SOType == "@Common.Enums.SOType.ZPGE.ToDescription()") {
                        switch (model.WorkflowId) {
                            case 4:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.MANAGER_AREA, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            case 5:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.FINANCE_AREA, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            case 11:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.ASMEN, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            default:
                                break;
                        }
                    }
                    else {
                         switch (model.WorkflowId) {
                            case 8:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.PARTNERSHIP, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            case 9:
                                if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.ASMEN, Common.Enums.UserRole.Superadmin })" == "True")
                                    hasAccess = true;
                                break;
                            default:
                                break;
                        }
                    }

                    if (model.IsApprovable.toString() == "false" || hasAccess == false) {
                        approve = $(this).find(".k-grid-approve")
                            .removeClass("k-grid-approve")
                            .addClass("k-state-disabled")
                            .children().eq(0)
                            .attr("title", "Approved")
                            .attr("data-html", true);
					}
				});
			}
        }

        //init Status Data Option
        function statusOption(element) {
            var ds = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.DATASTATUS",
                "@Field.Text",
                null
            );

            element.kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel",
                filter: "@FilterOperator.Contains.ToDescription()"
            });
		}

		function goToApprovePage(url, datasource, callback = null) {
			if (callback !== null && typeof (callback) !== "function") {
				throw "callback must be function";
			}

			swal(
				{
					title: "Terima Sales Order",
					text: "Apakah anda yakin untuk menerima sales order ini?",
					type: "warning",
					cancelButtonText: "Batal",
					showCancelButton: true,
					confirmButtonClass: "btn btn-primary",
					confirmButtonText: "Ya",
					closeOnConfirm: false
				},
				function () {
					swal({
						title: "Loading",
						text: "Harap Menunggu...",
						imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
						closeOnConfirm: false,
						confirmButtonClass: "hidden",
						//imageSize: "80x80"
					});

					$.ajax({
						url: url,
						type: "POST",
						success: function (data) {
							if (data.Success === true) {
								if (datasource !== null) {
									datasource.read();
								}

								swal("Status", "Sales order telah diterima", "success");
								//callback(data);
							}
							else {
								swal("Error", data.Message, "error");
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							swal("Server Error. Harap hubungi administrator");
						}
					});
				});
		}
    </script>
}