﻿@{ 
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = ActionSite.Create;
}

@using (Html.BeginForm(currentController, currentAction, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.Label("Area", new { @class = "col-xs-4 control-label" })
        <div class="col-xs-4">
            @Html.TextBox("Area", "1", new { @class = "form-control" })
            @Html.ValidationMessage("Area", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Date", new { @class = "col-xs-4 control-label" })
        <div class="col-xs-4">
            @Html.Editor("Date", null, new { @class = "form-control-datepicker" })
            @Html.ValidationMessage("Date", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mku", new { @class = "col-xs-4 control-label" })
        <div class="col-xs-4">
            @Html.Editor("Mku", "0", new { @class = "form-control-numeric" })
            @Html.ValidationMessage("Mku", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mkt", new { @class = "col-xs-4 control-label" })
        <div class="col-xs-4">
            @Html.Editor("Mkt", "0", new { @class = "form-control-numeric" })
            @Html.ValidationMessage("Mkt", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Mdpl", new { @class = "col-xs-4 control-label" })
        <div class="col-xs-4">
            @Html.Editor("Mdpl", "0", new { @class = "form-control-numeric" })
            @Html.ValidationMessage("Mdpl", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-4 control-label">Sds (&deg;C)</label>
        <div class="col-xs-4">
            @Html.Editor("Sds", "0", new { @class = "form-control-decimal-n4" })
            @Html.ValidationMessage("Sds", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Tds (KSC)", new { @class = "col-xs-4 control-label" })
        <div class="col-xs-4">
            @Html.Editor("Tds", "0", new { @class = "form-control-decimal-n4" })
            @Html.ValidationMessage("Tds", "", new { @class = "text-danger" })
        </div>
    </div>
}
