﻿
@{
    ViewBag.Title = TitleS}

<div class="ibox float-e-margins">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">Data</h5>
        </div>
        <div class="panel-body">
            <div class="form-group row">
                <label class="col-xs-2 control-label">Area</label>
                <div class="col-xs-pull-1 col-xs-2">
                    @Html.TextBox("Area", "1", new { @class = "form-control" })
                </div>
                <div class="col-xs-pull-1 col-xs-2">
                    <button type="submit" class="btn btn-warning">Cari</button>
                </div>
            </div>
        </div>
    </div>
    <div id="grid"></div>
</div>

<!-- Modal Form -->
<div id="modalForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Modal Title</h4>
            </div>
            <div class="modal-body" style="min-height: 300px;"></div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">Cancel</button>
                <button id="btnSave" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var areas, now;
        var $grid = $("#grid");

        $(function () {
            initElement();
        });

       /**
         * Generate modal form
        */
        function showModal(title, url) {
            var $modal = $("#modalForm").clone(),
                $modalBody = $modal.find(".modal-body"),
                $btnCancel = $modal.find("#btnCancel"),
                $btnSave = $modal.find("#btnSave");

            $modal.find(".modal-title").text(title);

            //show loading progress
            kendo.ui.progress($modalBody, true);

            //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var $form = $modalBody.find(".form-horizontal");
                    var $inputArea = $form.find("#Area"),
                        $inputDate = $form.find("#Date"),
                        $inputMku = $form.find("#Mku"),
                        $inputMkt = $form.find("#Mkt"),
                        $inputMdpl = $form.find("#Mdpl"),
                        $inputSds = $form.find("#Sds"),
                        $inputTds = $form.find("#Tds");

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);

                    //set asterisk sign
                    requiredSign();

                    //set dropdown
                    $inputArea.kendoDropDownList({
                        dataSource: {
                            data: areas,
                            schema: {
                                model: {
                                    fields: {
                                        text: { type: "string" },
                                        value: { type: "string" }
                                    }
                                }
                            }
                        },
                        dataTextField: "text",
                        dataValueField: "value"
                    });

                    //set value of area in form based on selected area in index
                    $inputArea.data("kendoDropDownList").value($("#Area").data("kendoDropDownList").value());

                    //set control in form
                    now = new Date();
                    $inputDate.kendoDatePicker({format: "@DisplayFormat.ShortDateFormat", dateInput: true});
                    $inputDate.val(kendo.toString(now, "@DisplayFormat.ShortDateFormat"));

                    $inputMku.val(0);
                    $inputMku.kendoNumericTextBox({ format: "n0" });

                    $inputMkt.val(0);
                    $inputMkt.kendoNumericTextBox({ format: "n0" });

                    $inputMdpl.val(0);
                    $inputMdpl.kendoNumericTextBox({ format: "n0" });

                    $inputSds.val(0);
                    $inputSds.kendoNumericTextBox({ format: "n2" });

                    $inputTds.val(0);
                    $inputTds.kendoNumericTextBox({ format: "n2" });

                    //set validator
                    $.validator.unobtrusive.parse($form);

                    //remove default submit event
                    $form.off("submit");

                    //handle client validation on unsupported component. example : kendo dropdownlist, kendo editor, etc.
                    //to use this add class always-validate to component
                    var formValidator = $form.data("validator");
                    if (formValidator !== undefined && formValidator !== null) {
                        formValidator.settings.ignore = ":hidden:not(.always-validate)";
                    }

                    $form.find("input").on("keyup blur", validateForm);

                    //set submit event
                    $form.submit(function (e) {
                        e.preventDefault();

                        if (!($form.find("input").hasClass("input-validation-error"))) {
                            kendo.ui.progress($modalBody, true);

                            $.ajax({
                                type: $(this).attr("method"),
                                url: $(this).attr("action"),
                                data: $(this).serialize(),
                                success: function (data) {
                                    if (data.Success) {
                                        swal("Success", data.Message, "success");
                                        $modal.modal("hide");
                                        grid.dataSource.read();
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    swal("Error", "Server Error. Contact administrator", "error");
                                }
                            });
                        } else {
                            $btnSave.prop("disabled", "disabled");
                        }

                        return false;
                    });

                    //set btn save click event
                    $btnSave.on("click", function (e) {
                        $form.submit();
                    });


                });

                //set btn cancel click event
                $btnCancel.on("click", function (e) {
                    $modal.modal("hide");
                });
            });

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                setTimeout(function () {
                    e.target.remove();
                }, 1000);
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
        }

        function initElement() {
            areas = [
                { text: "Kamojang", value: "1" },
                { text: "Lahendong", value: "2" },
                { text: "Sibayak", value: "3" },
                { text: "Ulubelu", value: "4" }
            ];

            $("#Area").kendoDropDownList({
                dataSource: {
                    data: areas,
                    schema: {
                        model: {
                            fields: {
                                text: { type: "string" },
                                value: { type: "string" }
                            }
                        }
                    }
                },
                dataTextField: "text",
                dataValueField: "value"
            });

            var data = [
                {
                    DataId: 1,
                    DataDate: "2018-07-01",
                    Area: "Kamojang"
                },
                {
                    DataId: 2,
                    DataDate: "2018-07-02",
                    Area: "Kamojang"
                },
                {
                    DataId: 3,
                    DataDate: "2018-07-03",
                    Area: "Kamojang"
                },
                {
                    DataId: 4,
                    DataDate: "2018-07-04",
                    Area: "Kamojang"
                },
                {
                    DataId: 5,
                    DataDate: "2018-07-05",
                    Area: "Kamojang"
                },
                {
                    DataId: 6,
                    DataDate: "2018-07-06",
                    Area: "Kamojang"
                },
                {
                    DataId: 7,
                    DataDate: "2018-07-07",
                    Area: "Kamojang"
                },
                {
                    DataId: 8,
                    DataDate: "2018-07-08",
                    Area: "Kamojang"
                },
                {
                    DataId: 9,
                    DataDate: "2018-07-09",
                    Area: "Kamojang"
                },
                {
                    DataId: 10,
                    DataDate: "2018-07-10",
                    Area: "Kamojang"
                }
            ];

            var transactions = [
                {
                    TransactionId: 1,
                    DataId: 1,
                    DataDate: "2018-07-01",
                    Mku: 0,
                    Mkt: 0,
                    Mdpl: 907,
                    Sds: 23.60,
                    Tds: 0.12
                },
                {
                    TransactionId: 2,
                    DataId: 1,
                    DataDate: "2018-07-01",
                    Mku: 200,
                    Mkt: 200,
                    Mdpl: 707,
                    Sds: 23.43,
                    Tds: 0.12
                },
                {
                    TransactionId: 3,
                    DataId: 1,
                    DataDate: "2018-07-01",
                    Mku: 400,
                    Mkt: 400,
                    Mdpl: 508,
                    Sds: 27.15,
                    Tds: 0.12
                },
                {
                    TransactionId: 4,
                    DataId: 1,
                    DataDate: "2018-07-01",
                    Mku: 600,
                    Mkt: 599,
                    Mdpl: 309,
                    Sds: 34.43,
                    Tds: 0.24
                },
                {
                    TransactionId: 5,
                    DataId: 1,
                    DataDate: "2018-07-01",
                    Mku: 800,
                    Mkt: 790,
                    Mdpl: 117,
                    Sds: 57.14,
                    Tds: 0.36
                },
                {
                    TransactionId: 6,
                    DataId: 2,
                    DataDate: "2018-07-02",
                    Mku: 1000,
                    Mkt: 976,
                    Mdpl: -69,
                    Sds: 65.12,
                    Tds: 17.71
                },
                {
                    TransactionId: 7,
                    DataId: 2,
                    DataDate: "2018-07-02",
                    Mku: 1200,
                    Mkt: 1167,
                    Mdpl: -260,
                    Sds: 71.86,
                    Tds: 35.77
                },
                {
                    TransactionId: 8,
                    DataId: 2,
                    DataDate: "2018-07-02",
                    Mku: 1400,
                    Mkt: 1359,
                    Mdpl: -452,
                    Sds: 87.12,
                    Tds: 53.71
                },
                {
                    TransactionId: 9,
                    DataId: 3,
                    DataDate: "2018-07-03",
                    Mku: 1600,
                    Mkt: 1548,
                    Mdpl: -641,
                    Sds: 97.24,
                    Tds: 72.48
                },
                {
                    TransactionId: 10,
                    DataId: 3,
                    DataDate: "2018-07-03",
                    Mku: 1650,
                    Mkt: 1594,
                    Mdpl: -687,
                    Sds: 134.50,
                    Tds: 76.43
                },
                {
                    TransactionId: 11,
                    DataId: 4,
                    DataDate: "2018-07-04",
                    Mku: 1700,
                    Mkt: 1640,
                    Mdpl: -733,
                    Sds: 127.04,
                    Tds: 81.21
                },
                {
                    TransactionId: 12,
                    DataId: 4,
                    DataDate: "2018-07-04",
                    Mku: 1750,
                    Mkt: 1686,
                    Mdpl: -779,
                    Sds: 104.87,
                    Tds: 85.76
                },
                {
                    TransactionId: 13,
                    DataId: 4,
                    DataDate: "2018-07-04",
                    Mku: 1800,
                    Mkt: 1733,
                    Mdpl: -826,
                    Sds: 104.51,
                    Tds: 90.42
                },
                {
                    TransactionId: 14,
                    DataId: 4,
                    DataDate: "2018-07-04",
                    Mku: 1850,
                    Mkt: 1779,
                    Mdpl: -872,
                    Sds: 104.51,
                    Tds: 95.21
                }
            ];

            $grid.kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                DataId: {type: "number"},
                                DataDate: {type:"date"}
                            }
                        }
                    }
                },
                toolbar: kendo.template($("#template").html()),
                filterable: true,
                detailInit: detailInit,
                dataBound: function () {
                    this.expandRow(this.tbody.find("tr.k-master-row").first());
                },
                columns: [
                    {field: "DataDate", title: "Tanggal", format: "@DisplayFormat.JsCompactDateFormat"}
                ]
            });

            function detailInit(e) {
                //console.log(e.data.DataDate);
                $("<div/>").appendTo(e.detailCell).kendoGrid({
                    dataSource: {
                        data: transactions,
                        schema: {
                            model: {
                                fields: {
                                    TransactionId: { type: "number" },
                                    DataDate: { type: "date" },
                                    Mku: { type: "number" },
                                    Mkt: { type: "number" },
                                    Mdpl: { type: "number" },
                                    Sds: { type: "number" },
                                    Tds: { type: "number" }
                                }
                            }
                        },
                        filter: { field: "DataDate", operator: "eq", value: e.data.DataDate }
                        //filter: { field: "DataDate", operator: "eq", value: kendo.toString(e.data.DataDate,"yyyy-MM-dd") }

                    },
                    columns: [
                        {
                            field: "Mku",
                            headerAttributes: {style: "text-align: center"},
                            title: "mKU",
                            template: "<p class='text-right'>#= Mku #</p>"
                        },
                        {
                            field: "Mkt",
                            headerAttributes: { style: "text-align: center" },
                            title: "mKT",
                            template: "<p class='text-right'>#= Mkt #</p>"
                        },
                        {
                            field: "Mdpl",
                            headerAttributes: { style: "text-align: center" },
                            title: "mdpl",
                            template: "<p class='text-right'>#= Mdpl #</p>"
                        },
                        {
                            field: "Sds",
                            headerAttributes: { style: "text-align: center" },
                            title: "SDS (&deg;C)",
                            template: "<p class='text-right'>#= Sds #</p>"
                        },
                        {
                            field: "Tds",
                            headerAttributes: { style: "text-align: center" },
                            title: "TDS (KSC)",
                            template: "<p class='text-right'>#= Tds #</p>"
                        }
                    ]
                });
            }

            $grid.find(".k-grid-toolbar").on("click", ".btn-create", function (e) {
                e.preventDefault();

                showModal(
                    "Add Data",
                    "@Url.Action(ActionSite.Create)"
                );
            });
        }
    </script>

    <script type="text/template" id="template">
        <div class="text-right">
            <div class="createBtnContainer">
                <a href="\\#" class="btn btn-primary btn-create" title="Create New Data"><span class="k-icon k-i-add"></span>Create New Data</a>
            </div>
        </div>
    </script>
}

@section styles{
    <style>
        #grid .k-grid-toolbar {
            padding: .6em 1.3em .6em .4em;
        }

        .createBtnContainer {
            display: inline-block;
        }

        .toolbar {
            float: right;
        }
    </style>
}