﻿@model WebUI.Models.EEData.DownloadFilterStub

@Html.HiddenFor(model => model.AreaId)
@Html.HiddenFor(model => model.ClusterId)
@Html.HiddenFor(model => model.WellId)
<div class="row m-b">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <label style="margin-bottom: 0px;margin-top: 5px;">Area</label>
        </div>
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.AreaDescription, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <label style="margin-bottom: 0px;margin-top: 5px;">Cluster</label>
        </div>
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.ClusterDescription, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <label style="margin-bottom: 0px;margin-top: 5px;">Well</label>
        </div>
        <div class="col-xs-8">
            @Html.TextBoxFor(model => model.WellDescription, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <label style="margin-bottom: 0px;margin-top: 5px;">Start Date</label>
        </div>
        <div class="col-xs-8">
            <input id="startDate" style="width:100%;" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <label style="margin-bottom: 0px;margin-top: 5px;">End Date</label>
        </div>
        <div class="col-xs-8">
            <input id="endDate" style="width:100%;" />
        </div>
    </div>
</div>