﻿@model WebUI.Models.ExplorationFormStub
@{
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
    if (currentAction.ToLower() == "add")
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Add, TitleSite.EEData);
    }
    else
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Edit, ViewBag.Breadcrumb);
    }
}

@*<div class="wrapper wrapper-content">*@
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.AreaId)
                @Html.HiddenFor(model => model.ClusterId)
                @Html.HiddenFor(model => model.WellId)
                @Html.HiddenFor(model => model.ExplorationDetailId)

                <div class="form-group">
                    @Html.LabelFor(model => model.ExplorationDate, "Tanggal", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.ExplorationDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ExplorationDate)
                    </div>
                </div>

                @*<div class="hr-line-dashed"></div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.AreaDescription, "Area", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.AreaDescription, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.AreaDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ClusterDescription, "Cluster", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.ClusterDescription, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ClusterDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WellDescription, "Well", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.WellDescription, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.WellDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="hr-line-dashed"></div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Mku, "mKU", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.Mku, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mku, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="hr-line-dashed"></div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Mkt, "mKT", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.Mkt, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mkt, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="hr-line-dashed"></div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Mdpl, "mdpl", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.Mdpl, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mdpl, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="hr-line-dashed"></div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Sds, "SDS", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.Sds, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sds, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="hr-line-dashed"></div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Tds, "TDS", new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-4">
                        @Html.TextBoxFor(model => model.Tds, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Tds, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="hr-line-dashed"></div>*@
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@Url.Action(ActionSite.Index)" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
@*</div>*@

@section scripts
{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        function initElement() {
            //initNumber();
            if ("@currentAction" === "Add") {
                //set Exploration Date
                var explorationDate = $("#ExplorationDate").kendoDatePicker({
                    format: "{0:yyyy-MM-dd}"
                }).data("kendoDatePicker");
                $(explorationDate.element[0]).attr("readonly", "readonly");
                explorationDate.trigger("change");
            } else {
                $("#ExplorationDate").attr("readonly", "readonly");
            }

            // disabled tooltip
            $("#ExplorationDate").tooltip("disable");
            $("#Mku").tooltip("disable");
            $("#Mkt").tooltip("disable");
            $("#Mdpl").tooltip("disable");
            $("#Sds").tooltip("disable");
            $("#Tds").tooltip("disable");
        }
        
        function initNumber() {
            $("#@Field.Mku").kendoNumericTextBox({
                format: "n0"
            });
             $("#@Field.Mkt").kendoNumericTextBox({
                format: "n0"
            });
             $("#@Field.Mdpl").kendoNumericTextBox({
                format: "n0"
            });
             $("#@Field.Sds").kendoNumericTextBox({
                format: "n0"
            });
             $("#@Field.Tds").kendoNumericTextBox({
                format: "n0"
            });
        }
    </script>
}