﻿@model WebUI.Models.ExplorationPresentationStub
@{
    /**/

    ViewBag.Title = TitleSite.EEData;

    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Controllers.DataController)ViewContext.Controller;
    var user = User as Principal;
}
@Html.Raw(thisController.GetMessage())
<div class="row">
    <div class="col-lg-12">
        @if (Model.AreaId == 0 || Model.ClusterId == 0 || Model.WellId == 0)
        {
            <div class="alert alert-info alert-normal">
                <strong>Info!</strong> Pilih Area, Cluster dan Well terlebih dahulu untuk mendownload template excel
            </div>
        }
        <div class="panel panel-default m-t">
            <div class="panel-heading">
                <h5 class="panel-title">Parameter</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1">
                        <label class="dropdown-label">Area</label>
                    </div>
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control" })
                        @*<input id="areaId" />*@
                    </div>
                    <div class="col-xs-1">
                        <label class="dropdown-label">Cluster</label>
                    </div>
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.ClusterId, new { @class = "form-control" })
                        @*<input id="areaId" />*@
                    </div>
                    <div class="col-xs-1">
                        <label class="dropdown-label">Well</label>
                    </div>
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.WellId, new { @class = "form-control" })
                        @*<input id="areaId" />*@
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-right">
                            <a id="btnCreate" class="btn btn-primary">Tambah Reservoir Data</a>
                            <input id="files" name="files" type="file" style="display:none" accept=".xlsx">
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                    Excel Template <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a id="uploadData">Upload</a></li>
                                    <li><a id="downloadTemplate" href="javascript:downloadFilter()">Download Template</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Download Filter -->
<div id="modalDownloadFilter" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Download Template</h4>
            </div>
            <div class="modal-body" style="min-height: 50px;"></div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">Batal</button>
                <button id="btnDownload" type="button" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        .dropdown-label {
            margin-left: 40px;
            margin-bottom: 0px;
            margin-top: 5px;
        }
    </style>

}

@section scripts{
    <script type="text/javascript">
        var areaOptions = $().data("kendoDropDownList");
        var clusterOptions = $().data("kendoDropDownList");
        var wellOptions = $().data("kendoDropDownList");
        var grid, startDate = null, endDate = null;
        var gridCommandTemplate = "<a class=\"k-button-icon #=className#\" #=attr# href=\"javascript:void(0)\"> \
                                      <span data-toggle=\"tooltip\" data-placement=\"auto bottom\" title=\"#=text#\" class=\"#=imageClass#\"></span> \
                                </a>";
        var areaValue = "@Model.AreaId", wellValue="@Model.ClusterId", clusterValue="@Model.WellId";
        var ds;

        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function initElement() {
            $("#btnCreate").attr("disabled", "disabled");
            $("#btnCreate").removeAttr("href");
            $("#downloadTemplate").attr("style", "display:none;");

            @*$("#btnCreate").on("click", function () {
                window.location.href = kendo.format("{0}?areaId={1}&clusterId={2}&wellId={3}", "@Url.Action(ActionSite.Add)", areaOptions.value(), clusterOptions.value(), wellOptions.value());
            });*@

            initGrid();
            initArea();
            initCluster();
            initWell();

            //set upload data
            $("#files").kendoUpload({
                async: {
                    saveUrl: "@Url.Action(ActionSite.Upload)"
                },
                multiple: false,
                allowedExtensions: [".xlsx"],
                success: function (e) {
                    if (e.response.Success) {
                        areaOptions.value(e.response.Message);
                        areaOptions.trigger("change");

                        $(".sweet-alert").hide()
                            .prev().hide();
                        e.preventDefault();

                        swal("Success", "Upload Excel Success", "success");
                    } else {
                        swal("Warning", e.response.Message, "warning");
                        e.preventDefault();
                    }
                },
                upload: function (e) {
                    $(".sweet-alert").show()
					.prev().show();

                    swal({
                        title: "Uploading",
                        text: "Please wait...",
                        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden"
                    });

                    if (e.files[0].extension !== ".xlsx") {
                        swal("Warning", "Tipe file harus .xlsx", "warning");
                        e.preventDefault();
                    }
                },
                showFileList: false
            }).closest(".k-upload").hide();

            $("#uploadData").on("click", function (e) {
                $("#files").trigger("click");
            });
        }

        function initArea() {
            var optionLabel = "@Component.OptionLabel";
            @if (!user.AreaId.HasValue || user.AreaId == 0)
            {
                 @:optionLabel = "@Component.OptionLabelAreaAll";
            }

             areaOptions = dropdownListGenerator(
                $("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA",
                 "@Field.Name",
                 optionLabel, true, null);

            areaOptions.bind("dataBound", function (e) {
                areaOptions.bind("change", function (e){
                    initCluster();
                    if (areaOptions.text() !== "@Component.OptionLabelAreaAll") {
                        document.cookie = "AreaId=" + areaOptions.value();
                    } else {
                        document.cookie = "AreaId=0";
                    }

                });
                areaOptions.trigger("change");
            });

        }
        function initCluster() {
            clusterOptions = dropdownListGenerator(
                $("#@Field.ClusterId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.CLUSTER", "@Field.Name",
                "@Component.OptionLabelClusterAll", false, [areaOptions.value(), null, null, null]);

            clusterOptions.bind("dataBound", function (e) {
                clusterOptions.bind("change", function (e) {
                    initWell();
                    if (clusterOptions.text() !== "@Component.OptionLabelClusterAll") {
                        document.cookie = "ClusterId=" + clusterOptions.value();
                    } else {
                        document.cookie = "ClusterId=0";
                    }
                });
                clusterOptions.trigger("change");
            });

        }
        function initWell() {
            wellOptions = dropdownListGenerator(
                $("#@Field.WellId"),
                "@Url.Action(ActionSite.BindingOption)",
                 "@OptionType.WELL", "@Field.Name",
                "@Component.OptionLabelWellAll", false, [clusterOptions.value(), null, null, null]);

            wellOptions.bind("dataBound", function (e) {
                wellOptions.bind("change", function (e) {
                    enableButton();
                    reloadGrid();
                    if (wellOptions.text() !== "@Component.OptionLabelWellAll") {
                        document.cookie = "WellId=" + wellOptions.value();
                    } else {
                        document.cookie = "WellId=0";
                    }
                });
                wellOptions.trigger("change");
            });
        }

        function enableButton() {
            if (areaOptions.text() !== "@Component.OptionLabelAreaAll" && clusterOptions.text() !== "@Component.OptionLabelClusterAll" && wellOptions.text() !== "@Component.OptionLabelWellAll") {
                $("#btnCreate").removeAttr("disabled");
                 $("#btnCreate").attr("href", kendo.format("{0}?areaId={1}&clusterId={2}&wellId={3}", "@Url.Action(ActionSite.Add)", areaOptions.value(), clusterOptions.value(), wellOptions.value()));
                $("#downloadTemplate").removeAttr("style");

            } else {
                $("#btnCreate").attr("disabled", "disabled");
                $("#btnCreate").removeAttr("href");
                $("#downloadTemplate").attr("style", "display:none;");
            }


        }

        function reloadGrid() {
            //console.log(ds);
            //grid.setDataSource(ds);
            grid.dataSource.filter(
                [
                    { field: "@Field.AreaId", operator: "@FilterOperator.Equals.ToDescription()", value: areaOptions.value() },
                    { field: "@Field.ClusterId", operator: "@FilterOperator.Equals.ToDescription()", value: clusterOptions.value() },
                    { field: "@Field.WellId", operator: "@FilterOperator.Equals.ToDescription()", value: wellOptions.value() }

                ]
            );
            grid.dataSource.read();

        }

        function initGrid() {
            ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var s in sorts) {
                                    var sort = sorts[s];
                                }
                            }

                             @*if (grid !== undefined) {
                                putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                            }*@

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.AreaId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ClusterId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.WellId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.ExplorationDate": { type: "@DataSource.Schema.Type.Date" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                sort: { field: "@Field.ExplorationDate", dir: "@SortOrder.Descending.ToDescription()" }
            });

            grid = $("#grid").kendoGrid({
                autoBind: false,
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                detailTemplate: kendo.template($("#template-detail").html()),
                detailInit: detailInit,
                dataBound: function () {
                    this.expandRow(this.tbody.find("tr.k-master-row").first());
                },
                columns: [
                    {
                        field: "@Field.ExplorationDate",
                        title: "Tanggal",
                        format: "@DisplayFormat.JsCompactDateFormat"
                    }
                ]
            }).data("kendoGrid");
           // grid.dataSource.read();
        }

        function detailInit(e) {
            var detailRow = e.detailRow;
            detailRow.find(".sub-grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("BindingDetail")",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return options;
                            } else {

                                if (options.filter) {
                                    filter = options.filter.filters;
                                }

                                if (options.sort) {
                                    sort = options.sort;
                                }

                                return options;
                            }
                        },
                    },
                    schema: {
                        data: "@DataSource.Schema.Property.Data",
                        total: "@DataSource.Schema.Property.Total",
                        model: {
                            id: "@Field.Id",
                            fields:{
                                "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Mku": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Mkt": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Mdpl": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Sds": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Tds": { type: "@DataSource.Schema.Type.Number" }
                            },
                        },
                    },
                    pageSize: 15,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    filter: { field: "@Field.ExplorationId", operator: "@FilterOperator.Equals.ToDescription()", value: e.data.Id},
                    sort: { field: '@Field.Id', dir: "@SortOrder.Ascending.ToDescription()" }
                },
                //dataBound: function(e){
                //    //console.log(e);
                //},
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                resizable: true,
                columns: [
                     {
                        command: [
                            {
                                name: "edit",
                                text: "@Component.Grid.Command.Edit",
                                click: editItem,
                                imageClass: "fa fa-lg fa-pencil-square",
                                template: gridCommandTemplate
                            },
                            {
                                name: "delete",
                                text: "@Component.Grid.Command.Delete",
                                click: deleteItem,
                                imageClass: "fa fa-lg fa-trash",
                                template: gridCommandTemplate
                            }
                        ],
                        width: "80px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.Mku",
                        title: "Mku",
                        width: "200px"
                    },
                    {
                        field: "@Field.Mkt",
                        title: "Mkt",
                        width: "250px"
                    },
                    {
                        field: "@Field.Mdpl",
                        title: "mdpl",
                        width: "200px"
                    },
                    {
                        field: "@Field.Sds",
                        title: "SDS (&deg;C)",
                        width: "200px"
                    },
                    {
                        field: "@Field.Tds",
                        title: "TDS (KSC)",
                        width: "200px"
                    }
                ]
            });
        }

        function downloadFilter() {

            var $modal = $("#modalDownloadFilter").clone(),
                $modalBody = $modal.find(".modal-body"),
                $btnCancel = $modal.find("#btnCancel"),
                $btnDownload = $modal.find("#btnDownload");

            //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(kendo.format("{0}?areaId={1}&wellId={2}", "@Url.Action("DownloadFilter")", areaOptions.value(), wellOptions.value()), function (response, status, xhr) {
                    //set datepicker filter
                    var dateOptions = {
                        value: new Date(),
                        change: datePickerOnChange
                    };
                    startDate = $modalBody.find("#startDate").kendoDatePicker(dateOptions).data("kendoDatePicker");
                    endDate = $modalBody.find("#endDate").kendoDatePicker(dateOptions).data("kendoDatePicker");
                    triggerDatePicker(startDate, endDate);

                    $btnCancel.on("click", function (e) {
                        $modal.modal("hide");
                    });

                    //event download button
                    $btnDownload.on("click", function (e) {
                        $modal.modal("hide");
                        var model = {
                            AreaId: parseInt($modalBody.find("#AreaId").val()),
                            AreaDescription: $modalBody.find("#AreaDescription").val(),
                            ClusterId: parseInt($modalBody.find("#ClusterId").val()),
                            ClusterDescription: $modalBody.find("#ClusterDescription").val(),
                            WellId: parseInt($modalBody.find("#WellId").val()),
                            WellDescription: $modalBody.find("#WellDescription").val(),
                            StartDate: $(startDate.element[0]).val(),
                            EndDate: $(endDate.element[0]).val()
                        }

                        generateTemplate(model);
                    });
                });
            });

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                setTimeout(function () {
                    e.target.remove();
                }, 1000);
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
        }

        function datePickerOnChange(e) {
            startDate.max(endDate.value());
            endDate.min(startDate.value());
        }

        function triggerDatePicker(sd,ed) {
            $(sd.element[0]).attr("disabled", "disabled");
            $(ed.element[0]).attr("disabled", "disabled");

            sd.trigger("change");
            ed.trigger("change");
        }

        function generateTemplate(model) {
            $.ajax({
                url: "@Url.Action(ActionSite.GetTemplate)",
                type: "@DataSource.Type.Post",
                dataType: "@DataSource.DataType.Json",
                data: { "model": model },
                beforeSend: function(e){
					$(".sweet-alert").show()
					.prev().show();

                    swal({
                        title: "Loading",
                        text: "Please wait...",
                        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden"
					});
				},
                success: function (e) {
                    if (e.Success) {
                        //download
                        window.location.href = "@Url.Action(ActionSite.Download)";

                        $(".sweet-alert").hide()
                            .prev().hide();
                    } else {
                        swal("Warning", e.Message, "warning");
                    }
                },
                error: function () {
                    swal("Error", "Server Error. Contact administrator", "error");
                }
            });
        }
    </script>
    <script type="text/x-kendo-template" id="template-detail">
        <div class="sub-grid "></div>
    </script>
}