﻿@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    ViewBag.Title = TitleSite.FormMiro;

    var user = User as Principal;
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            @*<div class="ibox-title">
                <div class="row">
                    <div class="col-md-8 form-horizontal">
                        <label class="col-sm-2 control-label">Area</label>
                        <div class="col-sm-4">
                            <input id="AreaId" />
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="ibox-content">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Detail -->
<div id="detailModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1081px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Create Form MIRO</h4>
            </div>
            <div class="modal-body" style="min-height: 470px;">
                <div id="detailGrid"></div>
            </div>
            <div class="modal-footer">
                <button id="btnSave" type="button" class="btn btn-success">Save</button>
                <button id="btnDownload" type="button" class="btn btn-warning">Download</button>
                <button id="btnClose" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
        var areaOption = $().data("kendoDropDownList");
        var grid;

        function initPopupZts(e) {
            e.preventDefault();

            var data = this.dataItem(getDataRowGrid(e));
            var url;

            if (data.SOType === "@SOType.ZTS") {
                url = kendo.format("{0}?year={1}&&month={2}", "@Url.Action(ActionSite.BindingDataPopupZTS)", data.Year, data.Month);

                var $modal = $("#detailModal").clone(),
                    $modalBody = $modal.find(".modal-body"),
                    $btnSave = $modal.find("#btnSave")
                $btnDownload = $modal.find("#btnDownload"),
                    $btnClose = $modal.find("#btnClose");

                //modal on show event
                $modal.on("shown.bs.modal", function (e) {
                    var dataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: url,
                                dataType: "@DataSource.DataType.Json",
                                type: "@DataSource.Type.Post"
                            }
                        },
                        schema: {
                            model: {
                                id: "@Field.Id",
                                fields: {
                                    "@Field.PowerPlantName": { type: "@DataSource.Schema.Type.String" },
                                    "PeriodeValue": { type: "@DataSource.Schema.Type.Date" },
                                    "@Field.NoPo": { type: "@DataSource.Schema.Type.String" },
                                    "@Field.NoPr": { type: "@DataSource.Schema.Type.String" },
                                    "@Field.NoSo": { type: "@DataSource.Schema.Type.String" }
                                }
                            }
                        },
                        sort: { field: "@Field.PowerPlantName", dir: "@SortOrder.Ascending.ToDescription()" }
                    });

                    var columns = [
                        {
                            field: "@Field.PowerPlantName",
                            title: "Plant",
                            width: "250px"
                        },
                        {
                            field: "PeriodeValue",
                            title: "Doc. Date",
                            width: "100px",
                            format: "@DisplayFormat.JsCompactDateFormat"
                        },
                        {
                            field: "@Field.NoPo",
                            title: "Purchase Order No",
                            width: "150px"
                        },
                        {
                            field: "@Field.NoPr",
                            title: "Purchase Requisition No",
                            width: "150px"
                        },
                        {
                            field: "@Field.NoSo",
                            title: "SO Doc No",
                            width: "150px"
                        }
                    ];

                    var detailGrid = $modalBody.find("#detailGrid").kendoGrid({
                        dataSource: dataSource,
                        autoBind: false,
                        dataBound: function (e) {
                            mergeGridRowsType("detailGrid", "Plant");
                        },
                        columns: columns
                    }).data("kendoGrid");

                    detailGrid.dataSource.read();

                    $btnSave.on("click", function (e) {
                        swal({
                            title: "Creating form miro",
                            text: "Please wait...",
                            imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                            closeOnConfirm: false,
                            confirmButtonClass: "hide"
                        });

                        $.ajax({
                            url: kendo.format("{0}?year={1}&&month={2}&&soType={3}", "@Url.Action(ActionSite.CreateFormMiro)", data.Year, data.Month, data.SOType),
                            type: "@DataSource.Type.Post",
                            success: function (e) {
                                if (e.Success) {
                                    swal({
                                        title: "",
                                        text: "",
                                        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                                        closeOnConfirm: false,
                                        confirmButtonClass: "d-none",
                                        timer: 1
                                    });
                                } else {
                                    swal("Warning", e.Message, "warning");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Error", "Server Error. Contact administrator", "error");
                            }
                        });
                    });

                    $btnDownload.on("click", function (e) {
                         window.open(kendo.format("{0}?year={1}&&month={2}", "@Url.Action(ActionSite.DownloadZts)", data.Year, data.Month),'_blank');
                        @*swal({
                            title: "Downloading",
                            text: "Please wait...",
                            imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                            closeOnConfirm: false,
                            confirmButtonClass: "hide"
                        });

                        $.ajax({
                            url: kendo.format("{0}?year={1}&&month={2}", "@Url.Action(ActionSite.DownloadZts)", data.Year, data.Month),
                            type: "@DataSource.Type.Post",
                            success: function (e) {
                                if (e.Success) {
                                    swal({
                                        title: "",
                                        text: "",
                                        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                                        closeOnConfirm: false,
                                        confirmButtonClass: "d-none",
                                        timer: 1
                                    });

                                    //window.location.href = "@Url.Action(ActionSite.Download)";
                                } else {
                                    swal("Warning", e.Message, "warning");
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Error", "Server Error. Contact administrator", "error");
                            }
                        });*@
                    });

                    $btnClose.on("click", function (e) {
                        $modal.modal("hide");
                    });
                });

                //modal on hide event
                $modal.on("hide.bs.modal", function (e) {
                    setTimeout(function () {
                        e.target.remove();
                    }, 1000);
                });

                //show modal
                $modal.modal({
                    backdrop: "static"
                });
            } else {

                window.open(kendo.format("{0}?year={1}&&month={2}&&areaId={3}", "@Url.Action(ActionSite.DownloadZpge)", data.Year, data.Month, data.AreaId),'_blank');
                @*swal({
                    title: "Downloading",
                    text: "Please wait...",
                    imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                    closeOnConfirm: false,
                    confirmButtonClass: "hide"
                });

                $.ajax({
                    url: kendo.format("{0}?year={1}&&month={2}", "@Url.Action(ActionSite.DownloadZpge)", data.Year, data.Month),
                    type: "@DataSource.Type.Post",
                    success: function (e) {
                        if (e.Success) {
                            swal({
                                title: "",
                                text: "",
                                imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                                closeOnConfirm: false,
                                confirmButtonClass: "d-none",
                                timer: 1
                            });

                            window.location.href = "@Url.Action(ActionSite.Download)";
                        } else {
                            swal("Warning", e.Message, "warning");
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("Error", "Server Error. Contact administrator", "error");
                    }
                });*@
            }
        }

        $(function () {
            initElement();
        });

        function initElement() {
            var optionLabel = "@Component.OptionLabel";

            @if (!user.AreaId.HasValue || user.AreaId == 0)
            {
                @:optionLabel = "@Component.OptionLabelAreaAll";
            }

            areaOption = dropdownListGenerator(
            $("#@Field.AreaId"),
            "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA", "@Field.Name",
                optionLabel, false, null);

            initGrid();
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;
                                var removeFilter = null;

                                for (var i in filters) {
                                    var filter = filters[i];

                                   
                                }

                                
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            //put data source options into session
                            if (grid !== undefined) {
                                putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Year",
                        fields: {
                            "@Field.WorkflowType": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Period": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SOType": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Year": { type: "@DataSource.Schema.Type.Number" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Period", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var columns = [
                {
                    command: [
                        {
                            name: "download",
                            text: "@Component.Grid.Command.Download",
                            click: initPopupZts,
                            imageClass: "fa fa-lg fa-download",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "80px",
                    attributes: { "class": "command" }
                },
                {
                    field: "@Field.SOType",
                    title: "SO Type",
                    width: "150px"
                },
                {
                    field: "@Field.AreaName",
                    title: "Area",
                    width: "150px"
                },
                {
                    field: "@Field.Period",
                    title: "Period",
                    width: "150px",
                    format: "@DisplayFormat.JsMonthYearDateFormat"
                },             
                {
                    field: "@Field.CreatedBy",
                    title: "Created By",
                    width: "150px"
                }
            ];

            grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: columns
            }).data("kendoGrid");

            //areaOption.bind("dataBound", areaOptionsOnDataBound);
            //areaOption.bind("change", changeFilter);
        }

        function changeFilter(e) {
            //disabledButton(this.text());
            setFilter(this.value());
        }

        function setFilter(value) {
            grid = $("#grid").data("kendoGrid");

            grid.dataSource.filter({
                "field": "@Field.AreaId",
                "operator": "@FilterOperator.Equals",
                "value": value
            });
        }

        function areaOptionsOnDataBound(e) {
            //get datasource option from session
            if (stateOptions !== null) {
                //set selected value dropdownlist industry options
                $.each(stateOptions.Filter.filters, function (i, item) {
                    if (item.field === "@Field.AreaId") {
                        e.sender.value(item.value);dow
                    }
                });

                //disabledButton(this.text());

                var options = grid.getOptions();

                mapDataSourceOption(stateOptions, options.dataSource);

                grid.setOptions(options);
                grid.dataSource.read();
            } else {
                //disabledButton(this.text());
                setFilter(this.value());
            }
        }

        function mergeGridRowsType(gridId, colTitle) {
            $('#' + gridId + '>.k-grid-content>table').each(function (index, item) {

                var dimension_col = 1;
                // First, scan first row of headers for the "Dimensions" column.
                $('#' + gridId + '>.k-grid-header>.k-grid-header-wrap>table').find('th').each(function () {
                    if ($(this).text() === colTitle) {

                        // first_instance holds the first instance of identical td
                        var first_instance = null;

                        $(item).find('tr').each(function () {

                            // find the td of the correct column (determined by the colTitle)
                            var dimension_td = $(this).find('td:nth-child(' + dimension_col + ')');

                            if (first_instance === null) {
                                first_instance = dimension_td;
                            } else if (dimension_td.text() === first_instance.text()) {
                                // if current td is identical to the previous
                                // then remove the current td
                                dimension_td.remove();
                                // increment the rowspan attribute of the first instance
                                first_instance.attr('rowspan', typeof first_instance.attr('rowspan') === "undefined" ? 2 : first_instance.attr('rowspan') + 1);
                            } else {
                                // this cell is different from the last
                                first_instance = dimension_td;
                            }
                        });
                        return;
                    }
                    dimension_col++;
                });

            });
        }
</script>
}