@model WebUI.Models.PopupFormStub
@using WebUI.Models
<!-- Modal -->
<div id="@Model.PopupId" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form class="form-horizontal" action="@Model.FormAction" method="@Model.FormMethod" id="@Model.FormId">
				<div class="modal-header">
					<h4 class="modal-title">@Model.PopupTitle</h4>
				</div>
				<div class="modal-body form-horizontal">
					<div class="alert alert-warning alert-normal m-b-n" role="alert" name="messageArea" style="@((Model.FormMessage == "") ? "display: none" : "")">
						@Model.FormMessage
					</div>
					@foreach (PopupFormStub.FormElement formField in Model.FormFields)
					{
						if (formField.Type == PopupFormStub.FormElement.ElementType.INPUT_HIDDEN)
						{
							<input type="hidden" name="@formField.Name" id="@formField.Id" value="@formField.Value"/>
						}
						else if (formField.Type == PopupFormStub.FormElement.ElementType.INPUT_TEXT)
						{
							<div class="form-group">
								<label class="col-xs-2 control-label">@formField.Label</label>
								<div class="col-xs-10">
									<input type="text" class="form-control" name="@formField.Name" id="@formField.Id" value="@formField.Value" onchange="@formField.OnChange" @(formField.IsReadOnly ? "readonly='readonly'" : "") @(formField.IsDisabled ? "disabled='disabled'" : "") />
								</div>
							</div>
						}
						else if (formField.Type == PopupFormStub.FormElement.ElementType.TEXTAREA)
						{
							<div class="form-group">
								<label class="col-xs-2 control-label">@formField.Label</label>
								<div class="col-xs-10">
									<textarea class="form-control" name="@formField.Name" id="@formField.Id" onchange="@formField.OnChange" @(formField.IsReadOnly ? "readonly='readonly'" : "") @(formField.IsDisabled ? "disabled='disabled'" : "") >@formField.Value</textarea>
								</div>
							</div>
						}
						else if (formField.Type == PopupFormStub.FormElement.ElementType.A)
						{
							<div class="form-group">
								<label class="col-xs-2 control-label">@formField.Label</label>
								<div class="col-xs-10">
									<a class="@formField.Class" id="@formField.Id" name="@formField.Name" href="@formField.Href" target="@formField.Target" onclick="@formField.OnClick">
										@formField.Value
									</a>
								</div>
							</div>
						}
						else if (formField.Type == PopupFormStub.FormElement.ElementType.BUTTON)
						{
							<div class="form-group">
								<label class="col-xs-2 control-label">@formField.Label</label>
								<div class="col-xs-10">
									<button class="@formField.Class" id="@formField.Id" name="@formField.Name" type="button" onclick="@formField.OnClick" @(formField.IsDisabled ? "disabled='disabled'" : "") >
										@formField.Value
									</button>
								</div>
							</div>
						}
					}
				</div>
				<div class="modal-footer">
					@foreach (PopupFormStub.FormElement formButton in Model.FormButtons)
					{
						if (formButton.Type == PopupFormStub.FormElement.ElementType.BUTTON)
						{
							<button class="@formButton.Class" id="@formButton.Id" name="@formButton.Name" type="button" onclick="@formButton.OnClick" @(formButton.IsDisabled ? "disabled='disabled'" : "")>@formButton.Value</button>
						}
						else if (formButton.Type == PopupFormStub.FormElement.ElementType.SUBMIT)
						{
							<button class="@formButton.Class" id="@formButton.Id" name="@formButton.Name" type="submit" onclick="@formButton.OnClick" @(formButton.IsDisabled ? "disabled='disabled'" : "")>@formButton.Value</button>
						}
						else if (formButton.Type == PopupFormStub.FormElement.ElementType.A)
						{
							<a class="@formButton.Class" id="@formButton.Id" name="@formButton.Name" href="@formButton.Href" target="@formButton.Target" onclick="@formButton.OnClick">
								@formButton.Value
							</a>
						}
					}
					<button type="button" class="btn btn-default" onclick="$('#@Model.PopupId').modal('hide')">Tutup</button>
				</div>
			</form>
		</div>
	</div>
</div>