﻿@model List<WebUI.Models.WorkflowPresentationStub>
@using WebUI.Models
<div class="row form-group">
    <div class="wizard col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">

            @{
                int step = 1;
                foreach (WorkflowPresentationStub w in Model)
                {
                    string active;
                    if (w.Active == true)
                    {
                        active = "active";
                    }
                    else
                    {
                        active = "disabled";
                    }

                    <text>
                    <li class="@active">
                        <a href="#step-@step">
                            <h4 class="list-group-item-heading">Step @step</h4>
                            <p class="list-group-item-text">@w.Name</p>
                        </a>
                    </li>
                    </text>
                    step++;
                }

            }
            @*<li class="active">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">Upload Sales Order</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">Area Ops. Mgr. Verification</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-3">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text">Area Finance Verification</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-6">
                    <h4 class="list-group-item-heading">Step 4</h4>
                    <p class="list-group-item-text">Finish</p>
                </a>
            </li>*@
        </ul>
    </div>
</div>