﻿/* 1. form, link & button */
.form-horizontal.form-display .form-group {
    margin-bottom: 0;
}

.form-horizontal.form-display .form-control-static {
    min-height: 0;
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected,
.k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-button:active, .k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected, .k-marquee-color {
    color: #2e2e2e;
}
.form-control-datetimepicker {
    height: 32px !important;
}

.form-control-autocomplete {
    margin-bottom: 5px;
    width: 360px;
}
/*.form-horizontal .control-label { text-align: left; }*/
.control-text {
    font-weight: normal;
}
/*.form-group { margin-bottom: 10px; }*/
.ui-datepicker {
    font-size: 0.9em;
}

.form-control-datetimepicker[readonly] {
    background-color: transparent;
    cursor: pointer;
}

/*.form-inline-action { display: block; padding-top: 7px; vertical-align: middle; margin-left: -52px; }*/
.date-input {
    position: relative;
}

    .date-input .action-group {
        position: absolute;
        right: 21px;
        top: 7px;
    }

.form-inline .form-control-datetimepicker {
    height: 32px !important;
    width: 120px;
}

.form-horizontal.text-left label {
    text-align: left;
}

.form-horizontal .text-left {
    text-align: left;
}

.input-validation-error {
    border-color: #A94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.field-validation-error {
    color: #ff0000;
}

.form-horizontal .k-numerictextbox, .form-horizontal .k-datepicker, .form-horizontal .k-autocomplete,
.form-horizontal .k-combobox, .form-horizontal .k-dropdown, .form-horizontal .k-datetimepicker {
    width: 100%;
}

.form-horizontal .k-editor {
    height: auto;
}

    .form-horizontal .k-editor .k-content {
        height: 120px !important;
    }

textarea {
    resize: none;
}

/*      kendo image uploader */
.image-preview img {
    max-width: 100%;
}

/*      tooltip */
form .tooltip {
    z-index: 1;
}

    form .tooltip .tooltip-inner {
        max-width: none;
    }

/* 2. header */
/*      breadcrumb */
.breadcrumb {
    padding: 0;
    border: none;
    font-size: 0;
    margin-bottom: 10px;
}

    .breadcrumb li {
        color: #337ab7;
        font-size: 13px;
    }

    .breadcrumb > li + li::before {
        content: "/";
    }

/*      alert */
.alert {
    margin: 20px 15px 0;
}

.alert-normal {
    margin: 0 0 15px 0 !important;
}

/* 3. content */
.page-header {
    margin-top: 20px;
}

#grid .k-grid-content {
    /*min-height: 350px;*/
}

.no-gutter-left {
    padding-left: 0;
}

.no-gutter-bottom {
    padding-bottom: 0;
}

.gutter-left {
    padding-left: 15px;
}

.gutter-right {
    padding-right: 15px;
}

/* 4. footer */
.footer {
    text-align: center;
}

/* 5. misc */
/*      override bootstrap */
.table-no-bottom {
    margin-bottom: 0;
}

.panel {
    border-radius: 0;
}

.panel-heading-action .panel-title {
    padding-top: 7.5px;
}

.table thead th {
    text-align: center;
}

.table .has-feedback .form-control-feedback {
    top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

/*      override kendo */
.k-grid .k-grid-header table > thead > tr > th > .k-link {
    font-weight: 600;
    color: #337ab7;
}

    .k-grid .k-grid-header table > thead > tr > th,
    .k-grid .k-grid-header table > thead > tr > th > .k-link:hover {
        font-weight: 600;
        color: #23527c;
    }

.k-grid .k-grid-content > table > tbody > tr > td.command {
    text-align: center;
}

.k-picker-wrap .k-input {
    padding: 0;
}

.k-grouping-header, .k-grid-toolbar {
    padding: .5em;
}

.panel-heading-with-button h3 {
    padding-top: 7.5px;
}

.k-grid, .k-scheduler, .k-menu, .k-editor {
    border-radius: 0;
}

.k-popup .k-calendar {
    font-size: 13px !important;
}

.k-ff {
    overflow: inherit !important;
}

.k-filter-menu {
    font-weight: normal !important;
    width: 190px;
}

    .k-filter-menu .k-header,
    .k-filter-menu .k-numerictextbox {
        width: 100%;
    }

    .k-filter-menu .k-button.k-primary {
        background: #1ab394;
        border-color: #009d7e;
    }

.k-pager-wrap .k-pager-numbers .k-state-selected {
    background: #1ab394;
    border-color: #009d7e;
    color: #fff;
}

/*      bootstrap inside kendo window */
.k-window-content .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.k-window-content .col-xs-1, .k-window-content .col-xs-2, .k-window-content .col-xs-3, .k-window-content .col-xs-4, .k-window-content .col-xs-5, .col-sm-5, .k-window-content .col-xs-6, .col-sm-6, .k-window-content .col-xs-7, .col-sm-7, .k-window-content .col-xs-8, .col-sm-8, .k-window-content .col-xs-9, .col-sm-9, .k-window-content .col-xs-10, .col-sm-10, .k-window-content .col-xs-11, .col-sm-11, .k-window-content .col-xs-12, .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.form-group-datetimepicker {
    margin-bottom: 20px;
}

/*      loading animation */
.refresh-animation {
    -moz-animation: spin 5s linear 0s infinite;
    animation: spin 10s linear 0 infinite;
    -webkit-animation: spin 5s linear 0 infinite;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 6. printing */
/* override bootstrap print css */
@media print {
    a[href]:after {
        content: "";
    }

    @page {
        size: A4;
        margin: 0;
    }
}


/* 7. user management */
#grant-controls {
    margin-top: 56px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: initial;
}

.label-static {
    font-weight: normal;
    padding-top: 7px;
}

/* Dashboard */

.text-green {
    color: #6abd76;
}

.text-blue {
    color: #6290dc;
}

.text-red {
    color: #C77140;
}

.table-70 {
    width: 70%;
    margin: 0 auto;
    color: #8bc8ff;
}

.table-100 {
    margin: 10px;
    width: 100%;
}

.sup {
    position: absolute;
    margin-top: -5px;
    margin-left: 5px;
}

.status {
    padding: 20px 10px;
}

.text-bold {
    font-weight: bold;
}


.align-right {
    text-align: right;
}

.small-icon {
    font-size: 18px;
    margin-right: 10px;
}

h1.big {
    font-size: 27px;
}


td {
    padding: 5px 0px;
}

.custom-height-no-title {
    height: 146.6px;
}

h5 {
    font-weight: bold;
}

.to-right {
    text-align: right;
}

#chart-3 {
    display: none;
}

.no-padding-left {
    padding-left: 0px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.box-status {
    padding: 5px 0px;
    color: #d1e9fd;
}

/* View Index/Grid */

.top-navigation .navbar-static-top .nav > li.active > a {
    background: #fff;
    color: #0055b8;
    font-weight: bold;
}

.ibox-title.no-border {
    border: 0px;
}

#grid {
    /*width:500px;*/
}

.tab-title {
    margin-bottom: 10px;
}

/* View Form */
.breadcrumb {
    background-color: inherit;
}

.panel-body.form {
    padding-top: 50px;
}

.i-box-group {
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-bottom-width: 1px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}

.i-box-title-group {
    margin-left: 190px;
    margin-bottom: 20px;
}

h4.group-title {
    font-weight: bold;
}

/*wizard*/
.wizard > ul {
    margin-bottom: 0px;
}

.wizard > .nav > li.active {
    border: none;
    background: none;
}

.wizard > .nav-pills > li.active > a {
    color: #fff;
    background-color: #428bca;
}

.wizard > .nav-pills > li > a {
    border-radius: 5px;
}

.wizard > .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.wizard .list-group-item-heading {
    margin-top: 0px;
}

.wizard .list-group-item-text {
    margin-bottom: 0px;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 0px;
}


/*dropdown menu multi level*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.bluegradient-bg .k-checkbox-label:before {
    margin-top: 4px;
}

.bluegradient-bg .k-draghandle.k-state-selected:hover, .bluegradient-bg .k-ghost-splitbar-horizontal, .bluegradient-bg .k-ghost-splitbar-vertical, .bluegradient-bg .k-list > .k-state-highlight, .bluegradient-bg .k-list > .k-state-selected, .bluegradient-bg .k-marquee-color, .bluegradient-bg .k-panel > .k-state-selected, .bluegradient-bg .k-scheduler .k-scheduler-toolbar .k-state-selected, .bluegradient-bg .k-scheduler .k-today.k-state-selected, .bluegradient-bg .k-state-selected, .bluegradient-bg .k-state-selected:link, .bluegradient-bg .k-state-selected:visited {
    color: #fff;
    background-color: #1e454e;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-3 {
    margin-top: 20px;
}

.my-box {
    /*background: #f3f3f4;*/
    background: #efefef;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e2e2e2;
    width: 100%;
}

.my-box-title {
    margin-bottom: 0;
    border-bottom: none;
}

.col-align-bottom {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.my-box-clean {
    /*background: #f3f3f4;*/
    padding: 20px 0 20px 20px;
    width: 100%;
}

.w-50 {
    width: 50%;
}

.half-width .k-listbox {
    width: 100%;
}

.half-width .k-reset {
    margin-right: 5px;
}

.bluegradient-bg .k-grid.gridNoHover tr:hover {
    background: transparent;
}

.bluegradient-bg .k-grid.gridNoHover tr.k-alt:hover {
    background: #f1f1f1;
}


hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border-top: 1px solid #aeaeae;
}

.bluegradient-bg {
    background: #51ecc4;
    background: -moz-linear-gradient(top, #51ecc4 0%, #101578 100%);
    background: -webkit-linear-gradient(top, #51ecc4 0%,#101578 100%);
    background: linear-gradient(to bottom, #51ecc4 0%,#101578 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51ecc4', endColorstr='#101578',GradientType=0 );
}

.box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.color-white {
    color: #fff;
}

.pb-30 {
    padding-bottom: 30px;
}

.my-first-box-gradient {
    background: #162D85; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(22,45,133,0.6) 0%, #162D85 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(22,45,133,0.6) 0%,#162D85 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(22,45,133,0.6) 0%,#162D85 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e464e', endColorstr='#121f42',GradientType=0 );
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 6px;
}

.my-second-box-gradient {
    background: #162D85; /* Old browsers */
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 6px;
}

.box-title-custom {
    font-size: 14px;
    text-overflow: ellipsis;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

    .box-title-custom h5 {
        color: #d1e9fd;
    }

.blue-dark {
    background: #08203c;
}

.blue-light {
    background: #153252;
}

.label-custom {
    background: #0055b8;
    font-size: 12px;
    padding: 7px 15px;
    color: #dedede;
    border-radius: 3px;
    font-weight: 600;
}

.custom-content {
    border: none;
    border-radius: 5px;
    padding: 15px;
}

/* mobile */
.toggle-custom {
    padding: 0 12px;
    margin-top: 7px;
    margin-bottom: 7px;
    background: none;
    font-size: 24px;
}

.box-button {
    padding-bottom: 20px;
    font-style: italic;
}

.btn-custom {
    background-color: #0055b8;
    border-color: #0055b8;
    color: #FFFFFF;
}

    .btn-custom:hover {
        background-color: #0055b8;
        border-color: #0055b8;
        color: #FFFFFF;
        font-weight: bold;
    }

.pt-20 {
    padding-top: 20px !important;
}

.dropdown .k-dropdown .k-input, .dropdown .k-dropdown .k-state-default .k-input, .k-menu .k-popup {
    color: #d1e9fd;
}

.dropdown .k-panelbar .k-state-focused.k-state-selected {
    box-shadow: none;
}

.dropdown .k-dropdown-wrap.k-state-default {
    background: transparent;
    border: none;
    /*border-bottom: 2px solid #1e454e;*/
    border-radius: unset;
    color: #d1e9fd;
}

.dropdown .k-dropdown .k-input, .dropdown .k-dropdown .k-state-hover .k-input, .dropdown .k-dropdown .k-state-focused .k-input {
    color: #d1e9fd;
}

.dropdown .k-dropdown .k-state-hover:hover {
    border: none;
}

.dropdown .k-dropdown-wrap.k-state-focused {
    box-shadow: none;
}

.dropdown h5 {
    margin: 10px 0 5px;
    color: #d1e9fd;
    padding: 0 10px;
}

.dropdown .k-dropdown, .bg-transparent {
    background-color: transparent;
}

.dropdown .col-xs-6 {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.p-0 {
    padding: 0;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.dropdown.h3 .k-state-default > .k-select {
    right: 25%;
}

.chart h3, .dropdown.h3 {
    text-transform: uppercase;
    color: #d1e9fd;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.3;
    font-size: 16px;
    margin-bottom: 20px;
}

.dropdown.row {
    padding-bottom: 10px;
    border-bottom: 1px solid #8bc8ff;
    margin-bottom: 15px;
}

.cont-status {
    width: 250px;
    margin: 0 auto;
    line-height: 1.5;
    color: #d1e9fd;
}

.border {
    border: 1px solid #d1e9fd;
    border-radius: 5px;
    padding: 10px;
}

.dark-theme {
    color: #8bc8ff;
}

#page-wrapper.bluegradient-bg {
    padding: 0;
}

    #page-wrapper.bluegradient-bg .k-list-container.k-popup.k-group.k-reset.k-state-border-up {
        background: #5281aa;
    }

.top-navigation .navbar-static-top .nav > li a:hover, .top-navigation .navbar-static-top .nav > li a:focus {
    background: none;
    color: #0055B8;
    font-weight: 900;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
}

.top-navigation .navbar-nav .dropdown-menu {
    box-shadow: none;
    border: #FFF;
    color: #131A35;
    background: #FFF;
}

.d-flex {
    display: flex;
}

.mt-3 {
    margin-top: 20px;
}

.dropdown-border .k-dropdown-wrap.k-state-default, .dropdown-border .k-dropdown .k-state-hover:hover {
    border: 1px solid #d1e9fd;
}

.no-border {
    border: none !important;
}

.side-bg {
    border-radius: 5px;
    height: 480px;
}

h5.title {
    font-size: 14px;
    margin: 0 0 7px;
    padding: 15px 5px 5px;
    text-overflow: ellipsis;
    text-align: center;
    color: #d1e9fd;
    line-height: 1.5;
}

.button-place {
    padding-top: 15px;
    justify-content: center;
}

.pr-30 {
    padding-right: 30px;
}

.doughnuts .border {
    height: 400px;
}

.doughnuts .box-status {
    margin-top: 10px;
    padding-top: 25px;

}

.box-status.box-status-narrow {
	padding-top: 0;
}

.color-black {
    color: #2e2e2e;
    font-weight: bold;
}

.pt-50 {
    padding-top: 50px;
}

.text-left {
    text-align: left !important;
}

.bluegradient-bg .k-state-border-up {
    border-color: #8bc8ff !important;
    background-color: #121f42 !important;
}

.bluegradient-bg .k-grid .k-grid-header table > thead > tr > th, .bluegradient-bg .k-grid .k-grid-header table > thead > tr > th > .k-link:hover {
    color: #b8d5ef;
}

.bluegradient-bg .k-grid-header .k-header, .bluegradient-bg .gridNoHover.k-grid k-widget.k-display-block {
    background-color: #2d7299;
}

.bluegradient-bg .k-grid tr td {
    border-style: solid;
    border-color: #163252;
}

.bluegradient-bg .k-gantt-toolbar .k-state-default, .bluegradient-bg .k-grid .k-grouping-header, .bluegradient-bg .k-grid-header, .bluegradient-bg .k-grid-header-wrap, .bluegradient-bg .k-grouping-header .k-group-indicator, .bluegradient-bg .k-header, .bluegradient-bg .k-pager-wrap, .bluegradient-bg .k-pager-wrap .k-link, .bluegradient-bg .k-pager-wrap .k-textbox {
    border-color: #163252;
}

.bluegradient-bg .k-grid tr {
    background-color: #8bcbff;
}

.bluegradient-bg .k-grid {
    border: none;
    background: #2d7299;
}

    .bluegradient-bg .k-grid .k-grid-header table > thead > tr > th > .k-link {
        font-weight: 600;
        color: #96ceff;
    }

.bluegradient-bg .k-pager-wrap .k-pager-numbers .k-state-selected {
    background: #8bcbff;
    border-color: #163252;
    color: #040404;
}

.bluegradient-bg .k-grid.gridNoHover tr:hover {
    background: #b0d5f3;
}

.bluegradient-bg .k-pager-wrap {
    color: #c0d4e0;
    background-color: #2d7299;
    border: none;
}

.bluegradient-bg .footer {
    background: none repeat scroll 0 0 #101578;
    border-top: 1px solid #101578;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    color: #409cec;
}


.donut-inner {
    /*margin-top: -110px;*/
    margin-top: -58%;
    /*margin-bottom: 60px;*/
    margin-bottom: 50%;
    color: #d1e9fd;
    text-align: center;
}

    .donut-inner h5, .donut-inner-2 h5 {
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 22px;
    }

    .donut-inner span, .donut-inner-2 span {
        font-size: 16px;
    }

.donut-inner-2 {
    margin-top: -85px;
    color: #d1e9fd;
    text-align: center;
}

.mobile .donut-inner {
    margin-top: -95px;
}


.bluegradient-bg .footer {
    background: none repeat scroll 0 0 #101578;
    border-top: 1px solid #101578;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    color: #b8d5ef;
}

.top-navigation .nav > li > a {
    padding: 15px 17px;
    color: #131A35;
}

.img-thumbnail {
    height: 110px;
    width: 80px;
}