﻿@model WebUI.Areas.DataMaster.Models.Wells.WellHistoryFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.WellHistoryController)ViewContext.Controller;

    ViewBag.Title = TitleSite.WellHistory;

    var user = User as Principal;
    string backLink = Url.Action(ActionSite.Index, ControllerSite.Well);
}

<div class="row">
    <div class="form-group">
        @Html.Raw(thisController.GetMessage())
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                @using (Html.BeginForm(currentAction, currentController, Model.WellId, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.WellId)
                    @Html.HiddenFor(model => model.WellName)

                    <div class="form-group">
                        @Html.LabelFor(model => model.WellId, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-3">
                            @Html.DisplayFor(model => model.WellName, new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(model => model.Status, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.HistoryDateTimeUtc, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-4">
                            @Html.TextBoxFor(model => model.HistoryDateTimeUtc, new { @class = "form-control-datetimepicker" })
                            @Html.ValidationMessageFor(model => model.HistoryDateTimeUtc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn btn-primary" id="btnSave">Tambah</button>
                            <a href="@backLink" class="btn btn-link">Kembali</a>
                        </div>
                    </div>
                }
            </div>
            <div class="ibox-content">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
        var grid;
        var isHidden = false;

        var wellOption = $().data("kendoDropDownList");

        $(function () {
            initElement();
        });

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            window.location.href = kendo.format("{0}?wellId={1}&historyId={2}", "@Url.Action(ActionSite.History)", data.WellId, data.Id);
        }

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function initElement() {
            initWell();
            initGrid();
            console.log("@Model.Id")
            if ("@Model.Id" !== "0")
                $("#btnSave").text("Ubah");
            else
                $("#btnSave").text("Tambah");
        }

        function initWell(){
            wellOption = dropdownListGenerator($("#@Field.Status"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.DRAWWELL_STATUS", "@Field.Text",
                "@Component.OptionLabel", true, null);
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;
                                @*var removeFilter = null;
                                var removeFilterC = null;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.AreaId" && (filter.value === "" || filter.value === null)) {
                                        removeFilter = filter;
                                    }
                                   if (filter.field === "@Field.ClusterId" && (filter.value === "" || filter.value === null)) {
                                       removeFilterC = filter;
                                    }
                                }

                                if (removeFilter !== null) {
                                    var index = options.filter.filters.indexOf(removeFilter);
                                    options.filter.filters.splice(index, 1);
                                }
                                if (removeFilterC !== null) {
                                    var indexC = options.filter.filters.indexOf(removeFilterC);
                                    options.filter.filters.splice(indexC, 1);
                                }*@
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            @*//put data source options into session
                            if (grid !== undefined) {
                                putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                            }*@

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.WellId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.WellName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.StatusDesc": { type: "@DataSource.Schema.Type.String" },
                            "@Field.StartDate": { type: "@DataSource.Schema.Type.Date" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                filter: { field: "@Field.WellId", operator: "@FilterOperator.Equals", value:"@Model.WellId" },
				sort: { field: "@Field.StartDate", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var columns = [
                {
                    command: [
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "fa fa-lg fa-pencil-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "fa fa-lg fa-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "60px",
                    attributes: { "class": "command" }
                },
                {
                    field: "@Field.StartDate",
                    title: "Tanggal",
                    width: "100px",
                    format: "@DisplayFormat.JsCompactDateTimeFormat",
                        filterable: rangeDateFilterable
                },
                {
                    field: "@Field.ClusterName",
                    title: "Cluster",
                    width: "100px",
                },
                  {
                    field: "@Field.WellName",
                    title: "Well",
                    width: "100px",
                    hidden: isHidden
                },
                {
                    field: "@Field.Status",
                    title: "Status",
                    width: "100px"
                },
            ];

            grid = $("#grid").kendoGrid({
                dataSource: ds,
                //dataBound: gridOnDataBound,
                filterable: kendoGridFilterable,
                pageable: {
                    refresh: true,
                    pageSizes: true,                    
                },
                sortable: true,
                columns: columns
            }).data("kendoGrid");


        }

        @*function disabledButton(areaValue, clusterValue) {
            if ($("#AreaId").val() !== "@Component.OptionLabelAreaAll" && clusterValue !== "@Component.OptionLabelClusterAll") {
                $("#btnCreate").removeAttr("disabled");
                isHidden = true;
            } else {
                $("#btnCreate").attr("disabled", "disabled");
                isHidden = false;
            }

        }*@

        //function changeFilterCluster(e) {
        //    disabledButton(this.text(), clusterOption.text());
        //    setFilter(((areaOption.value() === "") ? 0 : areaOption.value()), this.value());
        //}

        //function gridOnDataBound(e) {
        //    grid.tbody.find("tr[role=\"row\"]").each(function (i) {
        //        var model = grid.dataItem(this);

        //        if (model.HasRelation) {
        //            $(this).find(".k-grid-delete")
        //                .removeClass("k-grid-delete")
        //                .children().eq(0)
        //                .addClass("k-state-disabled")
        //                .attr("title", "Data tidak dapat dihapus.\nKarena sudah digunakan oleh data lainnya.");
        //        }
        //    });

        //    dataBoundTooltip(e);
        //}


</script>
}