﻿@{
    ViewBag.Title = TitleSite.ReservoirReport;
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="ibox float-e-margins">
    <div class="ibox-content m-b">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Report</label>
                <div class="col-xs-4">
                    <input id="reportModule" class="form-control" />
                </div>
                <label class="col-xs-2 control-label">Dari Tanggal</label>
                <div class="col-xs-4">
                    <input id="startDate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Area</label>
                <div class="col-xs-4">
                    <input id="areaId" class="form-control" />
                </div>
                <label class="col-xs-2 control-label">Sampai Tanggal</label>
                <div class="col-xs-4">
                    <input id="endDate" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label id="relationLabel" class="col-xs-2 control-label">Relation</label>
                <div class="col-xs-4">
                    <div id="relationGrid">

                    </div>
                </div>
                <label class="col-xs-2 control-label">Kolom</label>
                <div class="col-xs-4">
                    <div id="kolomGrid">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <button id="showData" class="btn btn-primary">Lihat Data</button>
                </div>
            </div>
        </div>
    </div>

    <div id="iboxTabel" style="display:none; min-height:300px;" class="ibox-content m-b">
        <div class="table" style="overflow:scroll;width:100%;height:100%;">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th id="relationCol" style="min-width:250px; text-align:left; vertical-align:middle;" rowspan="2">
                            @*ubah text relation sesuai report terpilih*@
                            Relation
                        </th>
                        <th style="min-width:200px; text-align:left; vertical-align:middle;" rowspan="2">
                            Kolom
                        </th>

                        <th style="text-align:center;" id="dateHeaderParentCol" @*colspan="set kolom span disini"*@>
                            Tanggal
                        </th>
                    </tr>

                    <tr id="dateHeaderColumn">
                        @*set data tanggal disini contoh :
                            <th>
                                2019-01-01
                            </th>*@
                    </tr>
                </thead>

                <tbody id="bodyTable">
                    @*masukkan seperti di bawah ini contoh:
                        <tr>
                            <td rowspan>
                                Relation 1
                            </td>
                            <td>
                                Kolom1
                            </td>
                            <td style="text-align:right;">
                                123
                            </td>
                            <td style="text-align:right;">
                                456
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kolom2
                            </td>
                            <td style="text-align:right;">
                                789
                            </td>
                            <td style="text-align:right;">
                                1011
                            </td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>

    <div id="iboxChart" style="display:none;" class="ibox-content">
        <div id="chartPanel" class="m-b">

        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <button id="downloadData" class="btn btn-primary">Download Data</button>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">

        var reportModule = $().data("kendoDropDownList"),
            areaId = $().data("kendoDropDownList"),
            relationGrid = $().data("kendoGrid"),
            kolomGrid = $().data("kendoGrid"),
            startDate = $().data("kendoDatePicker"),
            endDate = $().data("kendoDatePicker");

        var kolomGridDS = [
            { Value: "1", Text: "Gross", ReportModule: "@ReportModule.PEL" },
            { Value: "2", Text: "Nett", ReportModule: "@ReportModule.PEL" },
            { Value: "3", Text: "Pemanfaatan Uap oleh Pembangkit", ReportModule: "@ReportModule.PU" },
            { Value: "4", Text: "TKS", ReportModule: "@ReportModule.SP" },
            { Value: "5", Text: "Tekanan Jalur", ReportModule: "@ReportModule.SP" },
            { Value: "6", Text: "Suhu Jalur", ReportModule: "@ReportModule.SP" },
            { Value: "7", Text: "Throttle Valve Opening", ReportModule: "@ReportModule.SP" },
            { Value: "8", Text: "Flow Rata-rata", ReportModule: "@ReportModule.SP" },
            { Value: "9", Text: "Flow Total 24 Jam", ReportModule: "@ReportModule.SP" },
            { Value: "10", Text: "Pressure Upstream", ReportModule: "@ReportModule.SP" },
            { Value: "11", Text: "Differential Pressure", ReportModule: "@ReportModule.SP" },
            { Value: "12", Text: "TKS", ReportModule: "@ReportModule.SI" },
            { Value: "13", Text: "Tekanan Jalur", ReportModule: "@ReportModule.SI" },
            { Value: "14", Text: "Suhu Jalur", ReportModule: "@ReportModule.SI" },
            { Value: "15", Text: "Ph", ReportModule: "@ReportModule.SI" },
            { Value: "16", Text: "Flow Rata-rata", ReportModule: "@ReportModule.SI" },
            { Value: "17", Text: "Flow Total 24 Jam", ReportModule: "@ReportModule.SI" },
            { Value: "19", Text: "TKS", ReportModule: "@ReportModule.SMA" },
            { Value: "20", Text: "Tekanan", ReportModule: "@ReportModule.INTERFACE" },
            { Value: "21", Text: "Suhu", ReportModule: "@ReportModule.INTERFACE" },
            { Value: "22", Text: "Tekanan", ReportModule: "@ReportModule.SCRUBBER" },
            { Value: "23", Text: "Suhu", ReportModule: "@ReportModule.SCRUBBER" },
            { Value: "24", Text: "Tekanan", ReportModule: "@ReportModule.SEPARATOR" },
            { Value: "25", Text: "Suhu", ReportModule: "@ReportModule.SEPARATOR" },
            { Value: "26", Text: "Level Brine", ReportModule: "@ReportModule.SEPARATOR" },
            { Value: "27", Text: "Throttle Valve Opening Brine", ReportModule: "@ReportModule.SEPARATOR" },
            { Value: "28", Text: "Throttle Valve Opening Stream", ReportModule: "@ReportModule.SEPARATOR" },
            { Value: "29", Text: "Steam Flow Rata-Rata", ReportModule: "@ReportModule.SEPARATOR" },
            { Value: "30", Text: "Brine Flow Rata-Rata", ReportModule: "@ReportModule.SEPARATOR" }
        ];

        $(function () {
            initReportModule();
            initDatepicker();

            $("#showData").on("click", function (e) {
                getDataByModelParameter(generateModelParameter());
            });

            $("#downloadData").on("click", function (e) {
                var model = generateModelParameter();
                var newModel;
                $("#chart").data("kendoChart").exportImage().done(function (dataImage) {
                    var newModel = {
                        "ReportModule": model.ReportModule,
                        "AreaId": model.AreaId,
                        "RelationId": model.RelationId,
                        "StartDate": model.StartDate,
                        "EndDate": model.EndDate,
                        "Column": model.Column,
                        "ChartImage": dataImage
                    };
                    downloadExcelReport(newModel);
                });
            });
        });

        function initReportModule() {
            reportModule = dropdownListGenerator(
                $("#reportModule"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.REPORT_MODULE",
                "@Field.Text",
                "",
                true,
                null
            );

            reportModule.bind("change", function (e) {
                switch (e.sender.value()) {
                    case "@ReportModule.PEL":
                        $("#relationLabel").text("Power Plant");
                        kolomGrid.dataSource.filter({ field: "ReportModule", operator: "@FilterOperator.Equals.ToDescription()", value: "@ReportModule.PEL"});
                        break;
                    case "@ReportModule.PU":
                        $("#relationLabel").text("Power Plant");
                        kolomGrid.dataSource.filter({ field: "ReportModule", operator: "@FilterOperator.Equals.ToDescription()", value: "@ReportModule.PU"});
                        break;
                    case "@ReportModule.SP":
                        $("#relationLabel").text("Well");
                        kolomGrid.dataSource.filter({ field: "ReportModule", operator: "@FilterOperator.Equals.ToDescription()", value: "@ReportModule.SP"});
                        break;
                    case "@ReportModule.SI":
                        $("#relationLabel").text("Well");
                        kolomGrid.dataSource.filter({ field: "ReportModule", operator: "@FilterOperator.Equals.ToDescription()", value: "@ReportModule.SI"});
                        break;
                    case "@ReportModule.SMA":
                        $("#relationLabel").text("Well");
                        kolomGrid.dataSource.filter({ field: "ReportModule", operator: "@FilterOperator.Equals.ToDescription()", value: "@ReportModule.SMA"});
                        break;
                    case "@ReportModule.INTERFACE":
                        $("#relationLabel").text("Interface");
                        kolomGrid.dataSource.filter({ field: "ReportModule", operator: "@FilterOperator.Equals.ToDescription()", value: "@ReportModule.INTERFACE"});
                        break;
                    case "@ReportModule.SCRUBBER":
                        $("#relationLabel").text("Scrubber");
                        kolomGrid.dataSource.filter({ field: "ReportModule", operator: "@FilterOperator.Equals.ToDescription()", value: "@ReportModule.SCRUBBER"});
                        break;
                    case "@ReportModule.SEPARATOR":
                        $("#relationLabel").text("Separator");
                        kolomGrid.dataSource.filter({ field: "ReportModule", operator: "@FilterOperator.Equals.ToDescription()", value: "@ReportModule.SEPARATOR"});
                        break;
                }

                relationGrid.thead.find("a.k-link").text($("#relationLabel").text());
                areaId.trigger("change");
            });

            reportModule.bind("dataBound", function (e) {
                relationGrid = generateGrid($("#relationGrid"));
                initArea();
                kolomGrid = generateGrid($("#kolomGrid"));
                kolomGrid.thead.find("a.k-link").text("Kolom");
                kolomGrid.setDataSource(generateKolomGridDS());
            });
        }

        function initArea() {
            areaId = dropdownListGenerator(
                $("#areaId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREAALL",
                "@Field.Name",
                "",
                true,
                null
            );

            areaId.bind("dataBound", function (e) {
                reportModule.trigger("change");

                areaId.bind("change", function (ev) {
                    var optionType, mapField;
                    switch (reportModule.value()) {
                        case "@ReportModule.PEL":
                        case "@ReportModule.PU":
                            optionType = "@OptionType.POWERPLANT_BY_AREA";
                            mapField = "@Field.Name";
                            break;
                        case "@ReportModule.SP":
                        case "@ReportModule.SI":
                        case "@ReportModule.SMA":
                            optionType = "@OptionType.WELL_BY_AREA";
                            mapField = "@Field.Description";
                            break;
                        case "@ReportModule.INTERFACE":
                            optionType = "@OptionType.INTERFACE_POINT_BY_AREA";
                            mapField = "@Field.Name";
                            break;
                        case "@ReportModule.SCRUBBER":
                            optionType = "@OptionType.SCRUBBER_BY_AREA";
                            mapField = "@Field.Name";
                            break;
                        case "@ReportModule.SEPARATOR":
                            optionType = "@OptionType.SEPARATOR_BY_AREA";
                            mapField = "@Field.Name";
                            break;
                    }

                    relationGrid.setDataSource(generateRelationGridDS(optionType, mapField, ev.sender.value()));
                    relationGrid.dataSource.read();
                });

                areaId.trigger("change");
            });
        }

        function generateGrid(element) {
            var columns = [
                {
                    selectable: true,
                    width: "32px"
                },
                {
                    field: "@Field.Text",
                    width: "100%"
                }
            ];

            return element.kendoGrid({
                autoBind: false,
                height: 300,
                filterable: kendoGridFilterable,
                sortable: true,
                columns: columns,
                noRecords: true
            }).data("kendoGrid");
        }

        function generateRelationGridDS(optionType, mapField, areaIdParam) {
            return new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            var i;

                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Text") {
                                        //mapField is database field
                                        filter.field = mapField;
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        //mapField is database field
                                        sort.field = mapField;
                                    }
                                }
                            }

                            options.optionType = optionType;

                            return options;
                        }
                    }
                },
                schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
                            "@Field.Text": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Value": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
                filter: { field: "@Field.AreaId", operator: "@FilterOperator.Equals.ToDescription()", value: areaIdParam },
                sort: { field: "@Field.Text", dir: "@SortDirection.Ascending.ToDescription()" }
            });
        }

        function generateKolomGridDS() {
            return new kendo.data.DataSource({
                data: kolomGridDS,
                schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
                            "@Field.Text": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Value": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            });
        }

        function initDatepicker() {
            startDate = $("#startDate").kendoDatePicker({
                value: new Date(),
                format: "@DisplayFormat.SqlDateFormat"
            }).data("kendoDatePicker");

            var dateNow = new Date();
            var dateNowPlus = new Date(dateNow.getFullYear(), dateNow.getMonth(), (dateNow.getDate() + 1))

            endDate = $("#endDate").kendoDatePicker({
                value: dateNowPlus,
                format: "@DisplayFormat.SqlDateFormat"
            }).data("kendoDatePicker");

            startDate.bind("change", onDatepickerChange);
            endDate.bind("change", onDatepickerChange);

            startDate.trigger("change");
        }

        function onDatepickerChange(e) {
            endDate.min(startDate.value());
            startDate.max(endDate.value());
        }

        function generateModelParameter() {
            var relationId = [], column = [];
            var sDate = startDate.value().getFullYear() + "-" + (startDate.value().getMonth() + 1) + "-" + startDate.value().getDate();
            var eDate = endDate.value().getFullYear() + "-" + (endDate.value().getMonth() + 1) + "-" + endDate.value().getDate();

            relationGrid.tbody.find("tr.k-state-selected[role=\"row\"]").each(function (i) {
                relationId.push(relationGrid.dataItem(this).Value);
            });

            kolomGrid.tbody.find("tr.k-state-selected[role=\"row\"]").each(function (i) {
                column.push(kolomGrid.dataItem(this).Text);
            });

            if (reportModule.value() !== "") {
                if (areaId.value() !== "") {
                    if (relationId.length !== 0) {
                        if (column.length !== 0) {
                            var modelParameter = {
                                "ReportModule": reportModule.value(),
                                "AreaId": areaId.value(),
                                "RelationId": relationId,
                                "StartDate": sDate,
                                "EndDate": eDate,
                                "Column": column
                            };

                            return modelParameter;
                        } else {
                            swal("Warning", "Pilih minimal satu kolom!", "warning");
                        }
                    } else {
                        swal("Warning", "Pilih minimal satu " + $("#relationLabel").text() + "!", "warning");
                    }
                } else {
                    swal("Warning", "Area tidak boleh kosong!", "warning");
                }
            } else {
                swal("Warning", "Report tidak boleh kosong!", "warning");
            }

            return null;
        }

        function getDataByModelParameter(modelParameter) {
            if (modelParameter !== null) {
                $.ajax({
                    url: "@Url.Action("GetDataReport")",
                    type: "@DataSource.Type.Post",
                    dataType: "@DataSource.DataType.Json",
                    beforeSend: function (e) {
                        $(".sweet-alert").show()
					        .prev().show();

					    swal({
					        title: "Loading",
					        text: "Please wait...",
					        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
					        closeOnConfirm: false,
                            confirmButtonClass: "hidden"
					    });
                    },
                    data: modelParameter,
                    success: function (data) {
                        setTable(data);
                        setChart(data);

                        $(".sweet-alert").hide()
                            .prev().hide();
                    },
                    error: function () {
                        swal("Error","Server Error. Harap hubungi administrator","error");
                    }
                });
            }
        }

        function setTable(data) {
            $("#iboxTabel").show();
            $("#relationCol").text($("#relationLabel").text());
            $("#dateHeaderParentCol").attr("colspan", data.DateColSpan);
            $("#dateHeaderColumn").empty();
            $.each(data.DateHeader, function (i, o) {
                var dateHeader = "<th>" + o + "</th>";
                $("#dateHeaderColumn").append(dateHeader);
            });
            $("#bodyTable").empty();
            $.each(data.DataRow, function (i, o) {
                var dataRow;
                if (o.Relation !== null) {
                    dataRow =
                        "<tr>" +
                        "<td style=\"vertical-align: middle;\" rowspan=\"" + o.RelationRowSpan + "\">" + o.Relation + "</td>" +
                        "<td>" + o.Column + "</td>";
                    $.each(o.ColumnValue, function (j, k) {
                        dataRow = dataRow +
                            "<td style=\"text-align: right;\">" + k + "</td>";
                    });
                    dataRow = dataRow + "</tr>";
                } else {
                    dataRow =
                        "<tr>" +
                        "<td>" + o.Column + "</td>";
                    $.each(o.ColumnValue, function (j, k) {
                        dataRow = dataRow +
                            "<td style=\"text-align: right;\">" + k + "</td>";
                    });
                    dataRow = dataRow + "</tr>";
                }
                $("#bodyTable").append(dataRow);
            });
        }

        function downloadExcelReport(modelParameter) {
            if (modelParameter !== null) {
                $.ajax({
                    url: "@Url.Action("ExcelReport")",
                    type: "@DataSource.Type.Post",
                    dataType: "@DataSource.DataType.Json",
                    beforeSend: function (e) {
                        $(".sweet-alert").show()
					        .prev().show();

					    swal({
					        title: "Loading",
					        text: "Please wait...",
					        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
					        closeOnConfirm: false,
                            confirmButtonClass: "hidden"
					    });
                    },
                    data: modelParameter,
                    success: function (e) {
                        if (e.Success) {
                            //download
                            window.location.href = "@Url.Action(ActionSite.Download)";

                            $(".sweet-alert").hide()
                                .prev().hide();
                        } else {
                            swal("Warning", e.Message, "warning");
                        }
                    },
                    error: function () {
                        swal("Error","Server Error. Harap hubungi administrator","error");
                    }
                });
            }
        }

        function setChart(dataModel) {
            console.log(dataModel);
            $("#iboxChart").show();

            var seriesChart = [], categoriesChart = [];
            categoriesChart = dataModel.DateHeader;
            var rel;
            $.each(dataModel.DataRow, function (i, dataRow) {
                if (dataRow.Relation !== null) {
                    rel = dataRow.Relation;
                }
                seriesChart.push({
                    name: rel,
                    stack: rel + " " + dataRow.Column,
                    data: dataRow.ColumnValue,
                    width: 100
                });
            });

            $("#chartPanel").empty();

            $("#chartPanel").append("<div id=\"chart\"></div>");

            $("#chart").kendoChart({
                title: {
                    text: $("#relationLabel").text()
                },
                legend: {
                    position: "right"
                },
                seriesDefaults: {
                    type: "column"
                },
                series: seriesChart,
                valueAxis: {
                    majorUnit : 100,
                    labels: {
                        template: "#= kendo.format('{0:N0}', value) #"
                    },
                    line: {
                        visible: false,
                    }
                },
                categoryAxis: {
                    categories: categoriesChart,
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        rotation: "auto"
                    }
                },
                pannable: {
                    lock: "y"
                },
                zoomable: {
                    mousewheel: {
                        lock: "y"
                    },
                    selection: {
                        lock: "y"
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= series.stack # : #=value#"
                }
            });
        }
    </script>
}