﻿@model WebUI.Areas.OperationData.Models.DataHistory.DataHistoryParamStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var user = User as Principal;
    ViewBag.Title = "Power Plant History";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.AreaId, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-0">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
    <div class="ibox-content">
        <div class="form-group row">
            <div class="col-md-2">
                <h4><strong>Power Plants</strong></h4>
                <div id="treeview"></div>
            </div>
            <div class="col-md-10">
                <div id="grid"></div>
            </div>
        </div>
    </div>
    </div>
@section scripts{
<script type="text/javascript">
        var grid, areaId, treeview,areaName = null,
            startDate, endDate;
        var area = $().data("kendoDropDownList"),
            start = $().data("kendoDatePicker"),
            end = $().data("kendoDatePicker");

        $(function () {
            initElement();
        });

    function initElement() {           
            
            area = dropdownListGenerator(
                $("#@Field.AreaId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA", "@Field.Name",
                false, null);

            $("#@Field.StartDate").tooltip("disable");
            $("#@Field.EndDate").tooltip("disable");

            start = $("#@Field.StartDate").kendoDatePicker({
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

            end = $("#@Field.EndDate").kendoDatePicker({
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

            initTreeView();
            initGrid();

            start.trigger("change");

            area.bind("dataBound", areaOnChange);
            area.bind("change", areaOnChange);
            area.trigger("change");
        }

        function areaOnChange(e) {
            //clear grid filter when event change was trigger
            var currentFilters = grid.dataSource.filter();
            if (currentFilters !== null || currentFilters !== undefined) {
                clearFilters();
            }

            treeview.dataSource.read();
            grid.dataSource.read();
        }

        function initTreeView() {
            var ds = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                }
                            }

                            options.optionType = "@OptionType.POWERPLANT";
                            options.args = [area.value(), null, "", ""]

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.Name": { type: "@DataSource.Schema.Type.String" },
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Name", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            treeview = $("#treeview").kendoTreeView({
                //checkboxes: true,
                dataSource: ds,
                dataTextField: "@Field.Text",
                select: treeviewOnSelect
                //check: treeviewOnCheck
            }).data("kendoTreeView");
        }

        function treeviewOnSelect(e) {
            grid = $("#grid").data("kendoGrid");

            grid.dataSource.filter({
                "field": "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)",
                "operator": "@FilterOperator.Equals",
                "value": this.text(e.node)
            });

        }

        function getCheckedNodeItem(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i].Text);
                    getCheckedNodeItem(nodes[i].Text, checkedNodes);
                }
            }
        }

        function treeviewOnCheck(e) {
            var values = [];
            var newFilter = { logic: "or", filters: [] };
            var tempFilter = [];

            treeView = $("#treeview").data("kendoTreeView");
            getCheckedNodeItem(treeView.dataSource.view(), values);

            if (values.length > 0) {
                $.each(values, function (i, value) {
                    console.log(value);

                    tempFilter.push({
                        field: "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)",
                        operator: "eq", value: value
                    });
                });

                newFilter.filters = tempFilter;

                var newObjectFilter = { logic: "and", filters: [] };
                newObjectFilter.filters.push(newFilter);
                grid.dataSource.filter(newObjectFilter);
            } else {
                clearFilters();
            }
        }

        function setFilter(filterField, filterValue) {
            // get the kendoGrid element.
            gird = $("#grid").data("kendoGrid");

            // get currently applied filters from the Grid.
            var currFilterObj = gird.dataSource.filter();

            // get current set of filters, which is supposed to be array.
            // if the oject we obtained above is null/undefined, set this to an empty array
            var currentFilters = currFilterObj ? currFilterObj.filters : [];

            // iterate over current filters array. if a filter for "filterField" is already
            // defined, remove it from the array
            // once an entry is removed, we stop looking at the rest of the array.
            if (currentFilters && currentFilters.length > 0) {
                for (var i = 0; i < currentFilters.length; i++) {
                    if (currentFilters[i].field == filterField) {
                        currentFilters.splice(i, 1);
                        break;
                    }
                }
            }

            // if "filterValue" is "0", meaning "-- select --" option is selected, we don't
            // do any further processing. That will be equivalent of removing the filter.
            // if a filterValue is selected, we add a new object to the currentFilters array.
            if (filterValue !== "0") {
                currentFilters.push({
                    field: filterField,
                    operator: "eq",
                    value: filterValue
                });
            }

            // finally, the currentFilters array is applied back to the Grid, using "and" logic.
            gird.dataSource.filter({
                logic: "or",
                filters: currentFilters
            });
        }

        function clearFilters() {
            grid = $("#grid").data("kendoGrid");
            grid.dataSource.filter({});
        }

        function changeDate(e) {
            if ($(this.element).is(start.element)) {
                start.max(end.value());
                end.min(this.value());
                startDate = start.value();
            } else {
                start.max(this.value());
                end.min(start.value());
                endDate = end.value();
            }

            area.trigger("change");
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingPltpHistory)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Periode") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                        filter.value = filter.value;
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];

                                    if (sort.field === "@Field.Periode") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";                                        
                                    }
                                }
                            }

                            options.args = [area.value(),
                                            kendo.toString(start.value(), "@DisplayFormat.SqlDateFormat"),
                                            kendo.toString(end.value(), "@DisplayFormat.SqlDateFormat")];

                            //putDataSourceOption("@Url.Action("PutOption")", grid.dataSource);

                            return options;
                        }
                    }
                },
			    schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
						    "@Field.TaskReportId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.PowerPlantId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
						    "@Field.EnergyGross": { type: "@DataSource.Schema.Type.Number" },
						    "@Field.EnergyNett": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.SteamUtilization": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.WasteRockMufller": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Ssc": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.GppsShutdown": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.SgssShutdown": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ImportEnergy": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Notes": { type: "@DataSource.Schema.Type.String" },
                            "@Field.HasApproved": { type: "@DataSource.Schema.Type.Boolean" },
                            "@Field.EnergyGrossUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.EnergyNettUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SteamUtilizationUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.WasteRockMufllerUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SscUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.GppsShutdownUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ImportEnergyUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SgssShutdownUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Periode": { type: "@DataSource.Schema.Type.Date" }

                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
                @*filter: {
                    field: "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)", operator: "eq", value: "KMJ Unit 1"
                }*@
                @*filter: {
                    logic: "and",
                    filters: [
                        { field: "@FieldHelper.ParseRelationField(Table.TaskReport, Field.AreaId)", operator: "eq", value: 1 },
                        { field: "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)", operator: "gte", value: "2018-08-01" },
                        { field: "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)", operator: "lte", value: "2018-08-31" },
                        {
                                logic: "or",
                                filters: [
                                    { field: "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)", operator: "eq", value: "KMJ Unit 1" },
                                    { field: "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)", operator: "eq", value: "KMJ Unit 2" },
                                    { field: "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)", operator: "eq", value: "KMJ Unit 3" }
                                ]
                            filter: {

                            }
                        }
                    ]
                },*@
			    sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                    {
                        field: "@Field.Name",
                        title: "Power Plant",
                        width: "200px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat",
                        width: "100px"
                    },                    
                    {
                        field: "@Field.EnergyGross",
                        title: "Energi Gross",
                        format: "{0:n5}",
                        width: "150px"
                    },
                    {
                        field: "@Field.EnergyGrossUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.EnergyNett",
                        title: "Energi Nett",
                        format: "{0:n5}",
                        width: "150px",

                    },
                    {
                        field: "@Field.EnergyNettUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.SteamUtilization",
                        title: "Pemanfaatan Uap Oleh Pembangkit",
                        format: "{0:n5}",
                        width: "300px"
                    },
                    {
                        field: "@Field.SteamUtilizationUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.WasteRockMufller",
                        title: "Buangan Rock Muffler",
                        format: "{0:n5}",
                        width: "200px"
                    },
                    {
                        field: "@Field.WasteRockMufllerUnit",
                        title: "Unit",
                        width: "80px"
                    },
                    {
                        field: "@Field.Ssc",
                        title: "SSC",
                        format: "{0:n5}",
                        width: "80px"
                    },
                    {
                        field: "@Field.SscUnit",
                        title: "Unit",
                        width: "100px"
                    },
                    {
                        field: "@Field.GppsShutdown",
                        title: "GPPS Shutdown Hour",
                        format: "{0:n5}",
                        width: "200px"
                    },
                    {
                        field: "@Field.GppsShutdownUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.ImportEnergy",
                        title: "Import Energy",
                        format: "{0:n5}",
                        width: "200px"
                    },
                    {
                        field: "@Field.ImportEnergyUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.SgssShutdown",
                        title: "SGGS Shutdown Hour",
                        format: "{0:n5}",
                        width: "200px"
                    },
                    {
                        field: "@Field.SgssShutdownUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.Notes",
                        title: "Keterangan",
                        width: "200px"
                    }
            ];

            grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: columns
            }).data("kendoGrid");
        }
</script>
}