﻿@model WebUI.Areas.OperationData.Models.DataHistory.DataHistoryParamStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    ViewBag.Title = "Data Kondisi Pembangkit (DKP) History";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.AreaId, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-0">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
    <div class="ibox-content">
        <div class="form-group row">
            <div class="col-md-2">
                <h4><strong>Power Plants</strong></h4>
                <div id="treeview"></div>
            </div>
            <div class="col-md-10">
                <div class="text-right">
                    <button id="btnDownload" class="btn btn-primary">Download Excel</button>
                </div>
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="/Scripts/kendo/jszip.min.js"></script>

    <script type="text/javascript">
        var grid, areaId, treeview,
            startDate, endDate;

        var area = $().data("kendoDropDownList"),
            start = $().data("kendoDatePicker"),
            end = $().data("kendoDatePicker");

        $(function () {
            initElement();
        });

        function initElement() {
            area = dropdownListGenerator(
                $("#@Field.AreaId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA", "@Field.Name",
                false, null);

            $("#@Field.StartDate").tooltip("disable");
            $("#@Field.EndDate").tooltip("disable");

            start = $("#@Field.StartDate").kendoDatePicker({
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

            end = $("#@Field.EndDate").kendoDatePicker({
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

            initTreeView();
            initGrid();

            start.trigger("change", changeDate);
            start.trigger("change", changeDate);

            area.bind("dataBound", areaOnChange);
            area.bind("change", areaOnChange);
            area.trigger("change", areaOnChange);
        }

        function areaOnChange(e) {
            //areaId = area.value();
            //startDate = start.value();
            //endDate = end.value();

            //clear grid filter when event change was trigger
            var currentFilters = grid.dataSource.filter();
            if (currentFilters !== null || currentFilters !== undefined) {
                grid.dataSource.filter({});
            }

            treeview.dataSource.read();
            grid.dataSource.read();
        }

        function initTreeView() {
            var ds = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];

                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (j in sorts) {
                                    var sort = sorts[j];

                                }
                            }

                            options.optionType = "@OptionType.POWERPLANT";
                            options.args = [area.value(), null, "", ""];

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.Name": { type: "@DataSource.Schema.Type.String" },
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Name", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            treeview = $("#treeview").kendoTreeView({
                //checkboxes: true,
                dataSource: ds,
                dataTextField: "@Field.Text",
                select: treeviewOnSelect
                //check: treeviewOnCheck
            }).data("kendoTreeView");
        }

        function treeviewOnSelect(e) {
            grid = $("#grid").data("kendoGrid");
            grid.dataSource.filter({
                "field": "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)",
                "operator": "@FilterOperator.Equals",
                "value": this.text(e.node)
            });
        }

        function treeviewOnCheck(e) {
            grid = $("#grid").data("kendoGrid");
            //var checkedNodesStation = [];

            //$("#treeview .k-item input[type=checkbox]:checked").closest(".k-item").each(function () {
            //    checkedNodesStation.push(this.textContent);
            //console.log(checkedNodesStation);
            //});
            @*var filter = { logic: "or", filters: [] };
            var values = this.text(e.node);
            $.each(values, function (i, v) {
                filter.filters.push({ field: "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)", operator: "contains", value: v });
            });

            grid.dataSource.filter(filter);*@
            @*grid.dataSource.filter({
                "field": "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)",
                "operator": "@FilterOperator.Equals",
                "value": this.text(e.node)
            })*@
        }

        function setFilter(e) {

        }

        function changeDate(e) {
            if ($(this.element).is(start.element)) {
                start.max(end.value());
                end.min(this.value());
                startDate = start.value();
            } else {
                start.max(this.value());
                end.min(start.value());
                endDate = end.value();
            }

            area.trigger("change");
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingDkpHistory)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Periode") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                        filter.value = filter.value;
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (j in sorts) {
                                    var sort = sorts[j];

                                    if (sort.field === "@Field.Periode") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                    }
                                }
                            }

                            options.args = [area.value(),
                                            kendo.toString(start.value(), "@DisplayFormat.SqlDateFormat"),
                                            kendo.toString(end.value(), "@DisplayFormat.SqlDateFormat")];


                            return options;
                        }
                    }
                },
			    schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
						    "@Field.TaskReportId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.PowerPlantId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Status": { type: "@DataSource.Schema.Type.String" },
						    "@Field.StartHour": { type: "@DataSource.Schema.Type.Date" },
						    "@Field.EndHour": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.Derating": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Location": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Cause": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Notes": { type: "@DataSource.Schema.Type.String" },
                            "@Field.HasApproved": { type: "@DataSource.Schema.Type.Boolean" },
                            "@Field.Periode": { type: "@DataSource.Schema.Type.Date" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
			    sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                    {
                        field: "@Field.Name",
                        title: "Power Plant",
                        width: "200px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat",
                        width: "100px"
                    },
                    {
                        field: "@Field.Status",
                        title: "Status Gangguan",
                        width: "150px",
                        filterable: dropDownListFilterable(statusOptionFilter)
                    },
                    {
                        field: "@Field.StartHour",
                        title: "Jam Awal Gangguan (HH:mm)",
                        filterable: {
                            ui: function (element) {
                                element.kendoTimePicker({
                                    format: "HH:mm",
                                    dateInput: true,
                                    interval: 1
                                });
                            }
                        },
                        width: "250px",
                        format: "@DisplayFormat.JsTimeFormat"
                    },
                    {
                        field: "@Field.EndHour",
                        title: "Jam Akhir Gangguan (HH:mm)",
                        width: "250px",
                        filterable: {
                            ui: function (element) {
                                element.kendoTimePicker({
                                    format: "HH:mm",
                                    dateInput: true,
                                    interval: 1
                                });
                            }
                        },
                        format: "@DisplayFormat.JsTimeFormat",
                        template: function (e) {
                            var endHour = kendo.toString(e.EndHour, "@DisplayFormat.SqlShortTimeFormat");
                            if (endHour === "00:00") {
                                endHour = "24:00";
                            }
                            return endHour;
                        }
                    },
                    {
                        field: "@Field.Derating",
                        title: "Derating (MW)",
                        format: "{0:n2}",
                        width: "135px"
                    },
                    {
                        field: "@Field.Location",
                        title: "Lokasi Gangguan",
                        width: "150px"
                    },
                    {
                        field: "@Field.Cause",
                        title: "Penyebab Gangguan",
                        width: "200px"
                    },
                    {
                        field: "@Field.Notes",
                        title: "Keterangan",
                        width: "200px"
                    }
            ];

            grid = $("#grid").kendoGrid({
                excel: {
                    allPages: true,
                    filterable: true,
                    fileName: "Data Kondisi Pembangkit (DKP) History.xlsx",
                    forceProxy: true,
                    proxyURL: "@Url.Action("ExportExcelGridDKP")"
                },
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: { refresh: true, pageSizes: true },
                sortable: true,
                columns: columns
            }).data("kendoGrid");

            $("#btnDownload").on("click", function (e) {
                $("#grid").data("kendoGrid").saveAsExcel();
            });
        }

         function statusOptionFilter(element) {
            var dataSource = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.INTERRUPTION_STATUS",
                "@Field.Text",
                [null]
            );

            element.kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel"
            });
        }
    </script>
}