﻿@model WebUI.Areas.OperationData.Models.DataHistory.DataHistoryParamStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    ViewBag.Title = "Sumur Produksi, Reinjeksi, dan Monitoring History";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-group row">
            <div class="col-md-9">
                @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.AreaId, new { @class = "control-label col-xs-3" })
                        <div class="col-xs-3">
                            @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-xs-3" })
                        <div class="col-xs-3">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-xs-3" })
                        <div class="col-xs-3">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3 form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.TargetWellHistory, new { @class = "control-label col-xs-3" })
                    <div class="col-xs-9">
                        @Html.TextBoxFor(model => model.TargetWellHistory, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="form-group row">
            <div class="col-md-2">
                <h4><strong>Wells</strong></h4>
                <div id="treeview"></div>
            </div>
            <div class="col-md-10">
                <div id="grid1"></div>
                <div id="grid2"></div>
                <div id="grid3"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var grid1, grid2, grid3,
            areaId, treeview,
            startDate, endDate, targetValue;

        var area = $().data("kendoDropDownList"),
            target = $().data("kendoDropDownList"),
            start = $().data("kendoDatePicker"),
            end = $().data("kendoDatePicker");

        var isAreaBounded = false, isTargetBounded = false, isTVInit = true;

        $(function () {
            initElement();
        });

        function initElement() {
            area = dropdownListGenerator(
                $("#@Field.AreaId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA", "@Field.Name",
                false, null);

            target = dropdownListGenerator(
                $("#@Field.TargetWellHistory"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.WELL_HISTORY_TARGET", "@Field.Text",
                false, null);

            $("#@Field.StartDate").tooltip("disable");
            $("#@Field.EndDate").tooltip("disable");

            start = $("#@Field.StartDate").kendoDatePicker({
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

            end = $("#@Field.EndDate").kendoDatePicker({
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

            area.bind("change", areaOnChange);
            area.bind("dataBound", function (e) {
                isAreaBounded = true;
                if (isAreaBounded && isTargetBounded) {
                    if (isTVInit) {
                        initTreeView();
                    }
                    area.select(area.ul.children().eq(0));
                    area.trigger("change");
                }
            });

            @*target.value("@WellHistoryTarget.PRODUCTION.ToString()");*@
            target.bind("change", targetOnChange);
            target.bind("dataBound", function (e) {
                isTargetBounded = true;
                if (isAreaBounded && isTargetBounded) {
                    if (isTVInit) {
                        initTreeView();
                    }
                    target.select(target.ul.children().eq(1));
                    target.trigger("change");
                }
            });

            //start.trigger("change", changeDate);
            //start.trigger("change", changeDate);

            //area.trigger("change");
            //target.trigger("change");
        }

        function targetOnChange(e) {
            targetValue = target.value();
            initGrid();

            if (targetValue === "@WellHistoryTarget.PRODUCTION.ToString()") {
                $("#grid1").show();
                $("#grid2").hide();
                $("#grid3").hide();
            }

            if (targetValue === "@WellHistoryTarget.MONITORING.ToString()") {
                $("#grid1").hide();
                $("#grid2").show();
                $("#grid3").hide();
            }

            if (targetValue === "@WellHistoryTarget.REINJECTION.ToString()") {
                $("#grid3").show();
                $("#grid1").hide();
                $("#grid2").hide();
            }

            area.trigger("change");
        }

        function areaOnChange(e) {
            areaId = area.value();
            //startDate = start.value();
            //endDate = end.value();

            //clear grid filter when event change was trigger
            var currentFilters = null;

            if (targetValue === "@WellHistoryTarget.PRODUCTION.ToString()") {
                currentFilters = grid1.dataSource.filter();

                if (currentFilters !== null || currentFilters !== undefined) {
                    grid1.dataSource.filter({});
                }

                grid1.dataSource.read();
            }

            if (targetValue === "@WellHistoryTarget.MONITORING.ToString()") {
                currentFilters = grid2.dataSource.filter();

                if (currentFilters !== null || currentFilters !== undefined) {
                    grid2.dataSource.filter({});
                }

                grid2.dataSource.read();
            }

            if (targetValue === "@WellHistoryTarget.REINJECTION.ToString()") {
                currentFilters = grid3.dataSource.filter();

                if (currentFilters !== null || currentFilters !== undefined) {
                    grid3.dataSource.filter({});
                }

                grid3.dataSource.read();
            }

            var tvDsFilter = {
                "logic": "@FilterLogic.And.ToDescription()",
                "filters": [
                    { "field": "@Field.AreaId", "operator": "@FilterOperator.Equals.ToDescription()", "value": area.value() },
                    { "field": "@Field.Status", "operator": "@FilterOperator.Equals.ToDescription()", "value": target.value() },
                    { "field": "@Field.StartDate", "operator": "@FilterOperator.LessThanOrEquals.ToDescription()", "value": start.value() },
                    { "field": "@Field.EndDate", "operator": "@FilterOperator.GreaterThanOrEquals.ToDescription()", "value": end.value() }
                ]
            };

            treeview.dataSource.filter(tvDsFilter);
        }

        function initTreeView() {
            var ds = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];

                                }
                            }

                            options.optionType = "@OptionType.DRAWWELL";
                            //options.args = [area.value(), "", "", ""];

                            return options;
                        }
                    }
                },
                schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
                            "@Field.Text": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Value": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
				@*sort: { field: "@Field.Name", dir: "@SortOrder.Ascending.ToDescription()" }*@
                sort: { field: "@Field.WellName", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            treeview = $("#treeview").kendoTreeView({
                dataSource: ds,
                autoBind: false,
                dataTextField: "@Field.Text",
                select: treeviewOnSelect
            }).data("kendoTreeView");

            isTVInit = true;
        }

        function treeviewOnSelect(e) {
            grid1 = $("#grid1").data("kendoGrid");
            grid2 = $("#grid2").data("kendoGrid");
            grid3 = $("#grid3").data("kendoGrid");

            if (targetValue === "@WellHistoryTarget.PRODUCTION.ToString()") {
                grid1.dataSource.filter({
                    "field": "@FieldHelper.ParseRelationField(Table.Well, Field.Name)",
                    "operator": "@FilterOperator.Equals",
                    "value": this.text(e.node)
                });
            }
            if (targetValue === "@WellHistoryTarget.MONITORING.ToString()") {
                grid2.dataSource.filter({
                    "field": "@FieldHelper.ParseRelationField(Table.Well, Field.Name)",
                    "operator": "@FilterOperator.Equals",
                    "value": this.text(e.node)
                });
            }
            if (targetValue === "@WellHistoryTarget.REINJECTION.ToString()") {
                grid3.dataSource.filter({
                    "field": "@FieldHelper.ParseRelationField(Table.Well, Field.Name)",
                    "operator": "@FilterOperator.Equals",
                    "value": this.text(e.node)
                });
            }
        }

        function treeviewOnCheck(e) {
        }

        function changeDate(e) {
            if ($(this.element).is(start.element)) {
                start.max(end.value());
                end.min(this.value());
                startDate = start.value();
            } else {
                start.max(this.value());
                end.min(start.value());
                endDate = end.value();
            }

            area.trigger("change");
        }

        function initGrid() {
            if (targetValue === "@WellHistoryTarget.PRODUCTION.ToString()") {
                var ds = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action(ActionSite.BindingProductionHistory)",
                            dataType: "@DataSource.DataType.Json",
                            type: "@DataSource.Type.Post"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "@DataSource.Operation.Read" && options.models) {
                                return kendo.stringify(options);
                            } else {
                                if (options.filter) {
                                    var filters = options.filter.filters;

                                    for (i in filters) {
                                        var filter = filters[i];

                                        if (filter.field === "@Field.Periode") {
                                            filter.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                            filter.value = filter.value;
                                        }
                                    }
                                }

                                if (options.sort) {
                                    var sorts = options.sort;

                                    for (j in sorts) {
                                        var sort = sorts[j];
                                        if (sort.field === "@Field.Periode") {                                            
                                            sort.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                        }
                                    }
                                }

                                options.args = [area.value(),
                                                kendo.toString(start.value(), "@DisplayFormat.SqlDateFormat"),
                                                kendo.toString(end.value(), "@DisplayFormat.SqlDateFormat")];

                                return options;
                            }
                        }
                    },
                    schema: {
                        data: "@DataSource.Schema.Property.Data",
                        total: "@DataSource.Schema.Property.Total",
                        model: {
                            id: "@Field.Id",
                            fields: {
                                "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.TaskReportId": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.WellId": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Tks": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.PressureLine": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Temperature": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.ThrottleValve": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.FlowRate": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.FlowTotal": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.PressureUpstream": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.DifferentialPressure": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Notes": { type: "@DataSource.Schema.Type.String" },
                                "@Field.HasApproved": { type: "@DataSource.Schema.Type.Boolean" },
                                "@Field.TksUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.PressureLineUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.TemperatureUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.ThrottleValveUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.FlowRateUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.FlowTotalUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.PressureUpstreamUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.DifferentialPressureUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Periode": { type: "@DataSource.Schema.Type.Date" }
                            }
                        }
                    },
                    pageSize: 10,
                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    sort: { field: "@Field.Periode", dir: "@SortOrder.Descending.ToDescription()" }
                });

                var columns = [
                    {
                        field: "@Field.Name",
                        title: "Sumur",
                        width: "200px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat",
                        width: "100px"
                    },
                    {
                        field: "@Field.Tks",
                        title: "TKS",
                        format: "{0:n2}",
                        width: "80px"
                    },
                    {
                        field: "@Field.TksUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(pressureUnitOptionFilter)
                    },
                    {
                        field: "@Field.PressureLine",
                        title: "Tekanan Jalur",
                        format: "{0:n2}",
                        width: "150px"
                    },
                    {
                        field: "@Field.PressureLineUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(pressureUnitOptionFilter)
                    },
                    {
                        field: "@Field.Temperature",
                        title: "Suhu Jalur",
                        format: "{0:n2}",
                        width: "120px"
                    },
                    {
                        field: "@Field.TemperatureUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(tempUnitOptionFilter)
                    },
                    {
                        field: "@Field.ThrottleValve",
                        title: "Trottle Valve Opening",
                        format: "{0:n2}",
                        width: "200px"
                    },
                    {
                        field: "@Field.ThrottleValveUnit",
                        title: "Unit",
                        width: "80px",
                        sortable: false,
                        filterable:false
                    },
                    {
                        field: "@Field.FlowRate",
                        title: "Flow Rata2",
                        format: "{0:n2}",
                        width: "120px"
                    },
                    {
                        field: "@Field.FlowRateUnit",
                        title: "Unit",
                        width: "80px",
                        sortable: false,
                        filterable: false
                    },
                    {
                        field: "@Field.FlowTotal",
                        title: "Flow Total 24 Jam",
                        format: "{0:n2}",
                        width: "170px"
                    },
                    {
                        field: "@Field.FlowTotalUnit",
                        title: "Unit",
                        width: "80px",
                        sortable: false,
                        filterable: false
                    },
                    {
                        field: "@Field.PressureUpstream",
                        title: "Pressure Upstream",
                        format: "{0:n2}",
                        width: "170px"
                    },
                    {
                        field: "@Field.PressureUpstreamUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(pressureUnitOptionFilter)
                    },
                    {
                        field: "@Field.DifferentialPressure",
                        title: "Differential Pressure",
                        format: "{0:n2}",
                        width: "180px"
                    },
                    {
                        field: "@Field.DifferentialPressureUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(pressureUnitOptionFilter)
                    },
                    {
                        field: "@Field.Status",
                        title: "Status Sumur",
                        width: "135px",
                        filterable: dropDownListFilterable(wellStatusOptionFilter)
                    },
                    {
                        field: "@Field.Notes",
                        title: "Keterangan",
                        width: "300px"
                    }
                ];

                grid1 = $("#grid1").kendoGrid({
                    dataSource: ds,
                    filterable: kendoGridFilterable,
                    pageable: { refresh: true,  pageSizes: true,  },
                    sortable: true,
                    columns: columns
                }).data("kendoGrid");
            }

            if (targetValue === "@WellHistoryTarget.MONITORING.ToString()") {
                var dsMonitoring = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action(ActionSite.BindingMonitoringHistory)",
                            dataType: "@DataSource.DataType.Json",
                            type: "@DataSource.Type.Post"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "@DataSource.Operation.Read" && options.models) {
                                return kendo.stringify(options);
                            } else {
                                if (options.filter) {
                                    var filters = options.filter.filters;

                                    for (i in filters) {
                                        var filter = filters[i];

                                        if (filter.field === "@Field.Periode") {
                                            filter.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                            filter.value = filter.value;
                                        }
                                    }
                                }

                                if (options.sort) {
                                    var sorts = options.sort;

                                    for (j in sorts) {
                                        var sort = sorts[j];
                                        if (sort.field === "@Field.Periode") {                                            
                                            sort.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                        }
                                    }
                                }

                                options.args = [area.value(),
                                                kendo.toString(start.value(), "@DisplayFormat.SqlDateFormat"),
                                                kendo.toString(end.value(), "@DisplayFormat.SqlDateFormat")];

                                return options;
                            }
                        }
                    },
                    schema: {
                        data: "@DataSource.Schema.Property.Data",
                        total: "@DataSource.Schema.Property.Total",
                        model: {
                            id: "@Field.Id",
                            fields: {
                                "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.TaskReportId": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.WellId": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Tks": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Notes": { type: "@DataSource.Schema.Type.String" },
                                "@Field.HasApproved": { type: "@DataSource.Schema.Type.Boolean" },
                                "@Field.TksUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Periode": { type: "@DataSource.Schema.Type.Date" }
                            }
                        }
                    },
                    pageSize: 10,
                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    sort: { field: "@Field.Periode", dir: "@SortOrder.Descending.ToDescription()" }
                });

                var columns1 = [
                    {
                        field: "@Field.Name",
                        title: "Sumur",
                        width: "200px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat",
                        width: "100px"
                    },
                    {
                        field: "@Field.Tks",
                        title: "TKS",
                        format: "{0:n2}",
                        width: "80px",
                    },
                    {
                        field: "@Field.TksUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(pressureUnitOptionFilter)
                    },
                    {
                        field: "@Field.Status",
                        title: "Status Sumur",
                        width: "135px",
                        filterable: dropDownListFilterable(wellStatusOptionFilter)
                    },
                    {
                        field: "@Field.Notes",
                        title: "Keterangan",
                        width: "300px"
                    }
                ];

                grid2 = $("#grid2").kendoGrid({
                    dataSource: dsMonitoring,
                    filterable: kendoGridFilterable,
                    pageable: { refresh: true,  pageSizes: true,  },
                    sortable: true,
                    columns: columns1
                }).data("kendoGrid");
            }

            if (targetValue === "@WellHistoryTarget.REINJECTION.ToString()") {
                var dsReinjection = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "@Url.Action(ActionSite.BindingReinjectionHistory)",
                            dataType: "@DataSource.DataType.Json",
                            type: "@DataSource.Type.Post"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "@DataSource.Operation.Read" && options.models) {
                                return kendo.stringify(options);
                            } else {
                                if (options.filter) {
                                    var filters = options.filter.filters;

                                    for (i in filters) {
                                        var filter = filters[i];

                                        if (filter.field === "@Field.Periode") {
                                            filter.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                            filter.value = filter.value;
                                        }
                                    }
                                }

                                if (options.sort) {
                                    var sorts = options.sort;

                                    for (j in sorts) {
                                        var sort = sorts[j];
                                        if (sort.field === "@Field.Periode") {                                            
                                            sort.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)";
                                        }
                                    }
                                }

                                options.args = [area.value(),
                                                kendo.toString(start.value(), "@DisplayFormat.SqlDateFormat"),
                                                kendo.toString(end.value(), "@DisplayFormat.SqlDateFormat")];

                                return options;
                            }
                        }
                    },
                    schema: {
                        data: "@DataSource.Schema.Property.Data",
                        total: "@DataSource.Schema.Property.Total",
                        model: {
                            id: "@Field.Id",
                            fields: {
                                "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.TaskReportId": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.WellId": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Tks": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.PressureLine": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Temperature": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Ph": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.FlowRate": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.FlowTotal": { type: "@DataSource.Schema.Type.Number" },
                                "@Field.Fluida": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Notes": { type: "@DataSource.Schema.Type.String" },
                                "@Field.HasApproved": { type: "@DataSource.Schema.Type.Boolean" },
                                "@Field.TksUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.PressureLineUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.FlowRateUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.FlowTotalUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.TemperatureUnit": { type: "@DataSource.Schema.Type.String" },
                                "@Field.Periode": { type: "@DataSource.Schema.Type.Date" }
                            }
                        }
                    },
                    pageSize: 10,
                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    sort: { field: "@Field.Periode", dir: "@SortOrder.Descending.ToDescription()" }
                });

                var columns2 = [
                    {
                        field: "@Field.Name",
                        title: "Sumur",
                        width: "200px",
                        filterable: false,
                        sortable: false
                    },
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        filterable: rangeDateFilterable,
                        format: "@DisplayFormat.JsCompactDateFormat",
                        width: "100px"
                    },
                    {
                        field: "@Field.Tks",
                        title: "TKS",
                        format: "{0:n2}",
                        width: "80px",
                    },
                    {
                        field: "@Field.TksUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(pressureUnitOptionFilter)
                    },
                    {
                        field: "@Field.PressureLine",
                        title: "Tekanan Jalur",
                        format: "{0:n2}",
                        width: "150px"
                    },
                    {
                        field: "@Field.PressureLineUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(pressureUnitOptionFilter)
                    },
                    {
                        field: "@Field.Temperature",
                        title: "Suhu Jalur",
                        format: "{0:n2}",
                        width: "120px"
                    },
                    {
                        field: "@Field.TemperatureUnit",
                        title: "Unit",
                        width: "80px",
                        filterable: dropDownListFilterable(tempUnitOptionFilter)
                    },
                    {
                        field: "@Field.Ph",
                        title: "Ph",
                        format: "{0:n2}",
                        width: "80px"
                    },
                    {
                        field: "@Field.FlowRate",
                        title: "Flow Rata2",
                        format: "{0:n2}",
                        width: "120px"
                    },
                    {
                        field: "@Field.FlowRateUnit",
                        title: "Unit",
                        width: "80px",
                        sortable: false,
                        filterable:false
                    },
                    {
                        field: "@Field.FlowTotal",
                        title: "Flow Total 24 Jam",
                        format: "{0:n2}",
                        width: "170px",

                    },
                    {
                        field: "@Field.FlowTotalUnit",
                        title: "Unit",
                        width: "80px",
                        sortable: false,
                        filterable: false
                    },
                    {
                        field: "@Field.Fluida",
                        title: "Fluida yg Diinjeksikan",
                        width: "200px"
                    },
                    {
                        field: "@Field.Status",
                        title: "Status Sumur",
                        width: "135px",
                        filterable: dropDownListFilterable(wellStatusOptionFilter)
                    },
                    {
                        field: "@Field.Notes",
                        title: "Keterangan",
                        width: "300px"
                    }
                ];

                grid3 = $("#grid3").kendoGrid({
                    dataSource: dsReinjection,
                    filterable: kendoGridFilterable,
                    pageable: { refresh: true,  pageSizes: true,  },
                    sortable: true,
                    columns: columns2
                }).data("kendoGrid");
            }
        }

        
         function pressureUnitOptionFilter(element) {
            var dataSource = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.PRESSURE_UNIT",
                "@Field.Text",
                [null]
            );

            element.kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel"
            });
        }

        function pressureUnitOptionFilter(element) {
            var dataSource = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.PRESSURE_UNIT",
                "@Field.Text",
                [null]
            );

            element.kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel"
            });
        }

        function tempUnitOptionFilter(element) {
            var dataSource = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.TEMPERATURE_UNIT",
                "@Field.Text",
                [null]
            );

            element.kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel"
            });
        }

        function wellStatusOptionFilter(element) {
            var dataSource = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.DRAWWELL_STATUS",
                "@Field.Text",
                [null]
            );

            element.kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel"
            });
        }
    </script>
}