﻿@model WebUI.Areas.OperationData.Models.DataHistory.DataHistoryParamStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    ViewBag.Title = "Interface Scrubber History";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.AreaId, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mb-0">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
    <div class="ibox-content">
        <div class="form-group row">
            <div class="col-md-2">
                <h4><strong>Interface Points</strong></h4>
                <div id="treeview"></div>
            </div>
            <div class="col-md-10">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var grid, areaId, treeview,
            startDate, endDate;

        var area = $().data("kendoDropDownList"),
            start = $().data("kendoDatePicker"),
            end = $().data("kendoDatePicker");

        $(function () {
            initElement();
        });

        function initElement() {
            area = dropdownListGenerator(
                $("#@Field.AreaId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA", "@Field.Name",
                false, null);

            $("#@Field.StartDate").tooltip("disable");
            $("#@Field.EndDate").tooltip("disable");

            start = $("#@Field.StartDate").kendoDatePicker({
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

            end = $("#@Field.EndDate").kendoDatePicker({
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

            initTreeView();
            initGrid();

            start.trigger("change", changeDate);
            start.trigger("change", changeDate);

            area.bind("dataBound", areaOnChange);
            area.bind("change", areaOnChange);
            area.trigger("change", areaOnChange);
        }

        function areaOnChange(e) {
            //areaId = area.value();
            //startDate = start.value();
            //endDate = end.value();

            //clear grid filter when event change was trigger
            var currentFilters = grid.dataSource.filter();
            if (currentFilters !== null || currentFilters !== undefined) {
                grid.dataSource.filter({});
            }

            treeview.dataSource.read();
            grid.dataSource.read();

        }

        function initTreeView() {
            var ds = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];

                                }
                            }

                            options.optionType = "@OptionType.INTERFACE_POINT";
                            options.args = [area.value(), "", ""];

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.Name": { type: "@DataSource.Schema.Type.String" },
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Name", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            treeview = $("#treeview").kendoTreeView({
                dataSource: ds,
                dataTextField: "@Field.Text",
                select: treeviewOnSelect
                //check: treeviewOnCheck
            }).data("kendoTreeView");
        }

        function treeviewOnSelect(e) {
            grid = $("#grid").data("kendoGrid");
            grid.dataSource.filter({
                "field": "@FieldHelper.ParseRelationField(Table.InterfacePoint, Field.Name)",
                "operator": "@FilterOperator.Equals",
                "value": this.text(e.node)
            });
        }

        function treeviewOnCheck(e) {
            grid = $("#grid").data("kendoGrid");
            //var checkedNodesStation = [];

            //$("#treeview .k-item input[type=checkbox]:checked").closest(".k-item").each(function () {
            //    checkedNodesStation.push(this.textContent);
            //console.log(checkedNodesStation);
            //});
            @*var filter = { logic: "or", filters: [] };
            var values = this.text(e.node);
            $.each(values, function (i, v) {
                filter.filters.push({ field: "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)", operator: "contains", value: v });
            });

            grid.dataSource.filter(filter);*@
            @*grid.dataSource.filter({
                "field": "@FieldHelper.ParseRelationField(Table.PowerPlant, Field.Name)",
                "operator": "@FilterOperator.Equals",
                "value": this.text(e.node)
            })*@
        }

        function changeDate(e) {
            if ($(this.element).is(start.element)) {
                start.max(end.value());
                end.min(this.value());
                startDate = start.value();
            } else {
                start.max(this.value());
                end.min(start.value());
                endDate = end.value();
            }

            area.trigger("change");
        };

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingInterfaceScrubberHistory)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Periode") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.TaskReport, Field.Periode)"
                                        filter.value = filter.value;
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            options.args = [area.value(),
                                kendo.toString(start.value(), "@DisplayFormat.SqlDateFormat"),
                                            kendo.toString(end.value(), "@DisplayFormat.SqlDateFormat")];

                            return options;
                        }
                    }
                },
			    schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.TaskReportId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.InterfaceId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ScrubberId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ScrubberName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.InterfacePressure": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.InterfaceTemperature": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ScrubberPressure": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ScrubberTemperature": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.HasApproved": { type: "@DataSource.Schema.Type.Boolean" },
                            "@Field.InterfacePressureUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.InterfaceTemperatureUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ScrubberPressureUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ScrubberTemperatureUnit": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Periode": { type: "@DataSource.Schema.Type.Date" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
			    sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                {
                    field: "@Field.Name",
                    title: "Interface Point",
                    width: "200px",
                    filterable: false,
                    sortable: false
                },
                {
                    field: "@Field.Periode",
                    title: "Periode",
                    filterable: rangeDateFilterable,
                    format: "@DisplayFormat.JsCompactDateFormat",
                    width: "100px"
                },
                {
                    field: "@Field.InterfacePressure",
                    title: "Tekanan Interface Point",
                    format: "{0:n2}",
                    width: "200px"
                },
                {
                    field: "@Field.InterfacePressureUnit",
                    title: "Unit",
                    width: "80px"
                },
                {
                    field: "@Field.InterfaceTemperature",
                    title: "Suhu Interface Point",
                    format: "{0:n2}",
                    width: "200px"
                },
                {
                    field: "@Field.InterfaceTemperatureUnit",
                    title: "Unit",
                    width: "80px"
                },
                {
                    field: "@Field.ScrubberName",
                    title: "Scrubber",
                    width: "170px"
                },
                {
                    field: "@Field.ScrubberPressure",
                    title: "Tekanan Scrubber",
                    format: "{0:n2}",
                    width: "170px"
                },
                {
                    field: "@Field.ScrubberPressureUnit",
                    title: "Unit",
                    width: "80px"
                },
                {
                    field: "@Field.ScrubberTemperature",
                    title: "Suhu Scrubber",
                    format: "{0:n2}",
                    width: "160px"
                },
                {
                    field: "@Field.ScrubberTemperatureUnit",
                    title: "Unit",
                    width: "80px"
                }
            ];

            grid = $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: columns
            }).data("kendoGrid");
        }
    </script>
}