﻿
@{
    Layout = "~/Views/Shared/Inspinia/_Layout.cshtml";
    ViewBag.Title = "Data History";

    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="row" style="margin-top:-20px; padding:0 5px">
    <div class="alert alert-info" role="alert">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="bs-callout bs-callout-warning">
                        <h4><a href="@Url.Action(ActionSite.PowerPlantHistory)" style="color:crimson">POWER PLANT</a></h4>
                        <p>Pembangkit & pemnafaatan uap</p>
                    </div>
                    <div class="bs-callout bs-callout-warning">
                        <h4><a href="@Url.Action(ActionSite.DkpHistory)" style="color:crimson">DATA KONDISI PEMBANGKIT</a></h4>
                        <p>Kondisi & gangguan power plant</p>
                    </div>
                    <div class="bs-callout bs-callout-warning">
                        <h4><a href="@Url.Action(ActionSite.WellHistory)" style="color:crimson">SUMUR PRODUKSI, REINJEKSI, MONITORING</a></h4>
                        <p>Data harian sumur produksi, reinjeksi, dan monitoring</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bs-callout bs-callout-warning">
                        <h4><a href="@Url.Action(ActionSite.SeparatorHistory)" style="color:crimson">SEPARATOR</a></h4>
                        <p>Data harian kondisi separator</p>
                    </div>
                    <div class="bs-callout bs-callout-warning">
                        <h4><a href="@Url.Action(ActionSite.InterfaceScrubberHistory)" style="color:crimson">INTERFACE & SCRUBBER</a></h4>
                        <p>Data kondisi harian interface & scrubber</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section script{
        <script type="text/javascript">

        </script>
    }*@

@section styles{
    <style>
        .bs-callout {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-callout-warning {
            border-left-color: #aa6708;
        }
    </style>
}