﻿@{
    ViewBag.Title = TitleSite.VehicleMaint;
    var currentController = (WebUI.Controllers.VehicleMaintController)ViewContext.Controller;
}

@Html.Raw(currentController.GetMessage())
<div id="window">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Detail Information</h4>
                </div>
                <div class="modal-body">
                    <div id="content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">

            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a href="@Url.Action(ActionSite.Create)" class="btn btn-primary">Add Vehicle</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
    $(function () {
        initElement();
    });

    function detailItem(e) {
        e.preventDefault();
        $("#content").empty();
        var data = this.dataItem(getDataRowGrid(e));

        $("#content").append("<div class='row'><div class='col-md-3'><label>Company</label></div>"
            + "<div class='col-md-9'>" + data.@Field.Company + "</div></div>");
        $("#content").append("<div class='row'><div class='col-md-3'><label>Vehicle Type</label></div>"
            + "<div class='col-md-9'>" + data.@Field.VehicleType + "</div></div>");
        $("#content").append("<div class='row'><div class='col-md-3'><label>Merk</label></div>"
            + "<div class='col-md-9'>" + data.@Field.Merk + "</div></div>");
        $("#content").append("<div class='row'><div class='col-md-3'><label>Color</label></div>"
            + "<div class='col-md-9'>" + data.@Field.Color + "</div></div>");
        $("#content").append("<div class='row'><div class='col-md-3'><label>Police Number</label></div>"
            + "<div class='col-md-9'>" + data.@Field.PoliceNumber + "</div></div>");
        $("#content").append("<div class='row'><div class='col-md-3'><label>Production Year</label></div>"
            + "<div class='col-md-9'>" + data.@Field.ProductionYear + "</div></div>");
        $("#content").append("<div class='row'><div class='col-md-3'><label>Department</label></div>"
            + "<div class='col-md-9'>" + data.@Field.Department + "</div></div>");
        $("#content").append("<div class='row'><div class='col-md-3'><label>Validity Type</label></div>"
            + "<div class='col-md-9'>" + data.@Field.ValidityType + "</div></div>");
        $("#content").append("<div class='row'><div class='col-md-3'><label>Vehicle Date</label></div>"
            + "<div class='col-md-9'>" + formatDate(data.ValidityStartDate) + " - " + formatDate(data.ValidityEndDate) +"</div></div>");

        $('#myModal').modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
    };

    function deleteItem(e) {
        e.preventDefault();
        var data = this.dataItem(getDataRowGrid(e));
        if (!data.HasRequests) {
            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }
    }

    function editItem(e) {
        e.preventDefault();
        var data = this.dataItem(getDataRowGrid(e));
        url = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        window.open(url, '_blank');
    }

    function initElement() {
        var ds = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action(ActionSite.Binding)",
                    dataType: "@DataSource.DataType.Json",
                    type: "@DataSource.Type.Post"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "@DataSource.Operation.Read" && options.models) {
                        return kendo.stringify(options);
                    } else {
                        if (options.filter) {
                            var filters = options.filter.filters;

                            for (var i in filters) {
                                var filter = filters[i];
                            }
                        }

                        if (options.sort) {
                            var sorts = options.sort;

                            for (var i in sorts) {
                                var sort = sorts[i];
                            }
                        }

                        return options;
                    }
                }
            },
            schema: {
                data: "@DataSource.Schema.Property.Data",
                total: "@DataSource.Schema.Property.Total",
                model: {
                    id: "@Field.VehicleMaintId",
                    fields: {
                        "@Field.Company": { type: "@DataSource.Schema.Type.String" },
                        "@Field.PoliceNumber": { type: "@DataSource.Schema.Type.String" },
                        "@Field.Department": { type: "@DataSource.Schema.Type.String" },
                        "@Field.ValidityType": { type: "@DataSource.Schema.Type.String" },
                        "@Field.ValidityStartDate": { type: "@DataSource.Schema.Type.Date" },
                        "@Field.ValidityEndDate": { type: "@DataSource.Schema.Type.Date" },
                    }
                }
            },
            pageSize: 10,
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true,
            //filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
            sort: { field: "@Field.VehicleMaintId", dir: "@SortOrder.Descending.ToDescription()" }
        });

        $("#grid").kendoGrid({
            dataSource: ds,
            dataBound: function (e) {
                var data = e.sender.dataSource.data();
                for (var i = 0; i < data.length; i++) {
                    if (data[i].HasRequests) {
                        $("tr").eq(i + 1).find(".k-button-icon.k-grid-delete").attr("data-toggle", "tooltip");
                        $("tr").eq(i + 1).find(".k-button-icon.k-grid-delete").attr("data-placement", "bottom");
                        $("tr").eq(i + 1).find(".k-button-icon.k-grid-delete").addClass("k-state-disabled");
                        $("tr").eq(i + 1).find(".k-button-icon.k-grid-delete").attr("title", "Record ini tidak bisa dihapus, sebab sudah dipakai di entitas Request.");
                        $("tr").eq(i + 1).find(".k-button-icon.k-grid-delete").attr("title", "Tidak bisa dihapus karena sudah terpakai di Request");
                    }
                }
                $('[data-toggle="tooltip"]').tooltip();
            },
            filterable: kendoGridFilterable,
            pageable: { refresh: true,  pageSizes: true,  },
            sortable: true,
            filterMenuInit: function (e) {
                if (e.field === "@Field.ValidityStartDate" || e.field === "@Field.ValidityEndDate") {
                    filterMenuInitRangeDate(e);
                }
            },
            columns: [
            
                {
                    command: [
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "glyphicon glyphicon-edit",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "glyphicon glyphicon-trash",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "detail",
                            text: "@Component.Grid.Command.Detail",
                            click: detailItem,
                            imageClass: "glyphicon glyphicon-list-alt",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "100px",
                    attributes: { "class": "command" }
                },
                {
                    field: "@Field.Company",
                    title: "Company",
                    filterable: {
                        ui: companyOption,
                        operators: {
                            string: {
                                eq: "Sama Dengan"
                            }
                        },
                        extra: false
                    },
                    width:"170px",

                },
                {
                    field: "@Field.PoliceNumber",
                    title: "Police Number",
                    width: "150px",
                },
                {
                    field: "@Field.Department",
                    title: "Department",
                    filterable: {
                        ui: departmentOption,
                        operators: {
                            string: {
                                eq: "Sama Dengan"
                            }
                        },
                        extra: false
                    },
                    width: "120px",
                },
                {
                    field: "@Field.ValidityType",
                    title: "Validity",
                    filterable: {
                        ui: validityOption,
                        operators: {
                            string: {
                                eq: "Sama Dengan"
                            }
                        },
                        extra: false
                    },
                    width: "120px",
                },
                {
                    field: "@Field.ValidityStartDate",
                    title: "Start",
                    filterable: rangeDateFilterable,
                    format: "@DisplayFormat.JsCompactDateFormat",
                    width: "100px",
                },
                {
                    field: "@Field.ValidityEndDate",
                    title: "End",
                    filterable: rangeDateFilterable,
                    format: "@DisplayFormat.JsCompactDateFormat",
                    width: "100px",
                }
            ],
        });
    }

    //init company option
    function companyOption(element) {
        var ds = generateOptionDataSource(
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.COMPANY_FUEL",
            "@Field.Text",
            null
        );

        element.kendoDropDownList({
            dataSource: ds,
            dataTextField: "@Field.Text",
            dataValueField: "@Field.Value",
            optionLabel: "@Component.OptionLabel",
            filter: "@FilterOperator.Contains.ToDescription()"
        });
    }

    function departmentOption(element) {
        var ds = generateOptionDataSource(
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.DEPARTMENT",
            "@Field.Text",
            null
        );

        element.kendoDropDownList({
            dataSource: ds,
            dataTextField: "@Field.Text",
            dataValueField: "@Field.Value",
            optionLabel: "@Component.OptionLabel",
            filter: "@FilterOperator.Contains.ToDescription()"
        });
    }

    function validityOption(element) {
        var ds = generateOptionDataSource(
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.VALIDITY",
            "@Field.Text",
            null
        );

        element.kendoDropDownList({
            dataSource: ds,
            dataTextField: "@Field.Text",
            dataValueField: "@Field.Value",
            optionLabel: "@Component.OptionLabel",
            filter: "@FilterOperator.Contains.ToDescription()"
        });
    }

    </script>
}
