﻿@{
    ViewBag.Title = "Executive";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    Layout = "~/Views/Shared/Inspinia/_LayoutDashboard.cshtml";
}

<div>
    <div class="row pb-30 dropdown dropdown-border no-border">
        <div class="col-md-2" style="margin-top:4px;">
            @Html.TextBox("areaId", new { @class = "form-control" })
        </div>
        <div class="col-md-2" style="margin-top:4px;">
            @Html.TextBox("rangeData", new { @class = "form-control" })
        </div>
        <div class="col-md-2" style="margin-top:4px;">
            @Html.TextBox("monthChart", new { @class = "form-control" })
        </div>
        <div class="col-md-2" style="margin-top:4px;">
            @Html.TextBox("yearChart", new { @class = "form-control" })
        </div>
    </div>

    <div id="loadingSpinner1" class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>

    <div id="row1" class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="box-title-custom d-flex">
                        <h5>Electricity Production Summary</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 m-t-md" style="padding-bottom: 20px;">
                            <canvas id="canvas-electric" width=50 height=50></canvas>
                            <div class="donut-inner">
                                <h1 id="energyPercent"></h1>
                                <h3 id="energyPlan" class="text-danger"></h3>
                                <h3 id="energyNett" class="text-success"></h3>

                            </div>
                        </div>
                        <div class="pull-right m-r-md">
                            <h3 class="text-danger">Plan RKAP</h3>
                            <h3 class="text-success">Actual</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="box-title-custom d-flex">
                        <h5>Steam Production Summary</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 m-t-md" style="padding-bottom: 20px;">
                            <canvas id="canvas-steam" width=50 height=50></canvas>
                            <div class="donut-inner">
                                <h1 id="steamPercent"></h1>
                                <h3 id="steamPlan" class="text-danger"></h3>
                                <h3 id="steamUtil" class="text-success"></h3>

                            </div>
                        </div>
                        <div class="pull-right m-r-md">
                            <h3 class="text-danger">Plan RKAP</h3>
                            <h3 class="text-success">Actual</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="box-title-custom d-flex">
                        <h5>Financial Summary</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 m-t-md" style="padding-bottom: 20px;">
                            <canvas id="canvas-financial" width=50 height=50></canvas>
                            <div class="donut-inner">
                                <h1 id="financialPercent"></h1>                                
                                <h3 id="financialPlan" class="text-danger"></h3>
                                <h3 id="financialValue" class="text-success"></h3>

                            </div>
                        </div>
                        <div class="pull-right m-r-md">
                            <h3 class="text-danger">Plan RKAP</h3>
                            <h3 class="text-success">Actual</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="row">
        @*<div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-content custom-content blue-light">
                        <div class="box-title-custom d-flex">
                            <h5>Capacity Factor</h5>
                        </div>
                        <div id="gauge-container">
                            <div id="gauge" style="height: 215px;"></div>
                            <div id="gaugeVal" class="gaugeVal"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="col-xs-4 box-title-custom d-flex">
                        <h5>Production Plan vs Actual</h5>
                    </div>
                    <div class="col-xs-2 col-xs-offset-4 pull-right no-border">
                        @Html.TextBox("puChart", new { @class = "form-control" })
                    </div>
                    <div id="loadingSpinner2" class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>

                    <div class="row">
                        <div id="row4" class="col-md-12" style="height: 265px;">
                            <div class="ibox float-e-margins">
                                <div class="col-md-8">
                                    @*<div id="chart-2" style="background: center no-repeat url('@Url.Content("~/Content/img/objectguide-10.png")'); background-size: contain;background-position-y: bottom;">*@
                                    <div id="chart-2">
                                    </div>
                                </div>
                                <div class="col-md-4 text-center m-t-xs">
                                    @*<div id="chart-2" style="background: center no-repeat url('@Url.Content("~/Content/img/objectguide-10.png")'); background-size: contain;background-position-y: bottom;">*@
                                    <canvas id="canvas-overview"></canvas>
                                    <div class="donut-inner">
                                        <h1 id="overviewPercent"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="row5" class="alert alert-warning" style="height: 260px; margin-top: 40px; background-color: transparent; border-style: none;" role="alert">
                            <p id="message">No Data plan or actual, please input data.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="row3" class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="box-title-custom d-flex">
                        <h5>Production By WKP</h5>
                    </div>
                    <div id="loadingSpinner3" class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>

                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var areaId = $("#areaId"),
            loading1 = $("#loadingSpinner1"),
            loading3 = $("#loadingSpinner3"),
            row1 = $("#row1"),
            pudtdDate = $("#pudtdDate"),
            canvasElectric = $("#canvas-electric"),
            energyNett = $("#energyNett"),
            energyPlan = $("#energyPlan"),
            energyPercent = $("#energyPercent"),
            financialValue = $("#financialValue"),
            financialPlan = $("#financialPlan"),
            financialPercent = $("#financialPercent"),
            steamUtil = $("#steamUtil"),
            steamPlan = $("#steamPlan"),
            steamPercent = $("#steamPercent"),
            energyGross = $("#energyGross"),
            energyGrossValue = $("#energyGrossValue"),
            suPPNett = $("#suPPNett"),
            suPPPrice = $("#suPPPrice"),
            suAPNett = $("#suAPNett"),
            suAPPrice = $("#suAPPrice"),
            plDTDDate = $("#plDTDDate"),
            canvasSteam = $("#canvas-steam"),
            euRatio = $("#euRatio"),
            euPPNett = $("#euPPNett"),
            euPPPrice = $("#euPPPrice"),
            euAPNett = $("#euAPNett"),
            euAPPrice = $("#euAPPrice"),
            row2 = $("#row2"),
            puKDate = $("#puKDate"),
            canvasFinancial = $("#canvas-financial"),
            scRatio = $("#scRatio"),
            scPPNett = $("#scPPNett"),
            scPPPrice = $("#scPPPrice"),
            scAPNett = $("#scAPNett"),
            scAPPrice = $("#scAPPrice"),
            plKDate = $("#plKDate"),
            canvas4 = $("#canvas4"),
            ecRatio = $("#ecRatio"),
            ecPPNett = $("#ecPPNett"),
            ecPPPrice = $("#ecPPPrice"),
            ecAPNett = $("#ecAPNett"),
            ecAPPrice = $("#ecAPPrice");

        var isTopDashboardRedraw = false;

        var myChart, myChart2, myChart3, myChart4;

        var drawing = kendo.drawing;
        var geometry = kendo.geometry;

        var puChart = $("#puChart"),
            rangeData = $("#rangeData"),
            monthChart = $("#monthChart"),
            yearChart = $("#yearChart"),
            row4 = $("#row4"),
            chart2 = $("#chart-2"),
            row5 = $("#row5"),
            row3 = $("#row3");

        var isPUChartBounded = false,
            isRangeDataBoudned = false,
            isYearChartBounded = false,
            isMonthChartBounded = false,
            isBottomDashboardRedraw = false;

        var loading2 = $("#loadingSpinner2");

        $(function () {
            hideTopDashboard();
            initTopDropdown();

            hideBottomDashboard();
            initBottomDropDown();

            //createChart();
            //createGauge();
        });

        //function createGauge(value) {
        //    $("#gauge").kendoRadialGauge({
        //        theme: "black",
        //        pointer: {
        //            value: value
        //        },
        //        scale: {
        //            startAngle: -30,
        //            endAngle: 210,
        //            rangeSize: 40,
        //            rangeDistance: -10,

        //            // Configure major and minor unit
        //            minorUnit: 5,
        //            //majorUnit: 0.25,
        //            //// Make major ticks same size than minor ticks
        //            //majorTicks: {
        //            //    size: 10
        //            //},
        //            // Define min and max (0% - 100%)
        //            min: 0,
        //            max: 100,
        //            // Labels outside the range and number as percentage with no decimals
        //            labels: {
        //                position: "outside",
        //                format: "{0:n0}%"
        //            },
        //            // Color ranges
        //            ranges: [
        //                {
        //                    from: 0,
        //                    to: 45,
        //                    color: "red"
        //                },
        //                {
        //                    from: 45,
        //                    to: 80,
        //                    color: "yellow"
        //                },
        //                {
        //                    from: 80,
        //                    to: 100,
        //                    color: "green"
        //                }
        //            ]
        //        }
        //    });
        //}

        //TOP DASHBOARD

        function initDoughnuts(model) {
            var temp = 0;
            var data = [];

            if (isTopDashboardRedraw) {
                myChart.destroy();
                myChart2.destroy();
                myChart3.destroy();
                myChart4.destroy();
            }

            //doughnut electric
            var ctx = document.getElementById("canvas-electric").getContext("2d");
            var gradientColors = [
                {
                    start: '#20c997',
                    end: '#20c997'
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients = [];

            gradientColors.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients.push(gradient);
            });

            temp = parseFloat(model.EnergyActual.toString().replace(',', '.'));
            if (temp > 100)
                data = [100, 0];
            else
                data = [temp, 100 - temp];
            console.log(temp)
            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data:data,
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    }
                },
            };
            myChart = new Chart(ctx, config);

            //doughnut steam
            var gradientColors2 = [
                {
                    start: '#20c997',
                    end: '#20c997'
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients2 = [];

            gradientColors2.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients2.push(gradient);
            });

            ctx = document.getElementById("canvas-steam").getContext("2d");

            temp = parseFloat(model.SteamActual.toString().replace(',', '.'));
            if (temp > 100)
                data = [100, 0];
            else
                data = [temp, 100 - temp];
            config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients2,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    }
                }
            };
            myChart2 = new Chart(ctx, config);

            //dougnut financial
            var gradientColors3 = [
                {
                    start: '#20c997',
                    end: '#20c997'
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients3 = [];

            gradientColors3.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients3.push(gradient);
            });

            ctx = document.getElementById("canvas-financial").getContext("2d");

            temp = parseFloat(model.FinancialActual.toString().replace(',', '.'));
            if (temp > 100)
                data = [100, 0];
            else
                data = [temp, 100 - temp];
            config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients3,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    }
                }
            };
            myChart3 = new Chart(ctx, config);


            //dougnut financial
            var gradientColors4 = [
                {
                    start: '#20c997',
                    end: '#20c997'
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients4 = [];

            gradientColors4.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients4.push(gradient);
            });

            ctx = document.getElementById("canvas-overview").getContext("2d");

            config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients4,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 50,
                    tooltips: {
                        enabled: false
                    }
                },
            };
            myChart4 = new Chart(ctx, config);            
        }

        function initTopDashboard(model) {
            row1.show();
            row2.show();
            row3.show();

            if (model.HasData) {
                //initDoughnuts(
                //    model.SumEnergyNett === null ? 0 : model.SumEnergyNett,
                //    model.SumEnergyGross === null ? 0 : model.SumEnergyGross
                //);

                initDoughnuts(model);

                energyNett.empty();
                energyNett.text((kendo.toString(model.SumEnergyNett === null ? 0 : model.SumEnergyNett, "n2")) + " MWH");

                energyPlan.empty();
                energyPlan.text((kendo.toString(model.SumEnergyPlan === null ? 0 : model.SumEnergyPlan, "n2")) + " MWH");

                energyPercent.empty();
                energyPercent.text((kendo.toString(model.EnergyActual === null ? 0 : model.EnergyActual, "n2")) + " %");


                financialValue.empty();
                financialValue.text("USD. " + (kendo.toString(model.EnergyNettValue === null ? 0 : model.EnergyNettValue, "n2")));

                financialPlan.empty();
                financialPlan.text("USD. " + (kendo.toString(model.SumFinancialPlan === null ? 0 : model.SumFinancialPlan, "n2")));

                financialPercent.empty();
                financialPercent.text((kendo.toString(model.FinancialActual === null ? 0 : model.FinancialActual, "n2")) + " %");


                steamUtil.empty();
                steamUtil.text((kendo.toString(model.SumSteamUtilization === null ? 0 : model.SumSteamUtilization, "n2")) + " TON");

                steamPlan.empty();
                steamPlan.text((kendo.toString(model.SumSteamPlan === null ? 0 : model.SumSteamPlan, "n2")) + " TON");

                steamPercent.empty();
                steamPercent.text((kendo.toString(model.SteamActual === null ? 0 : model.SteamActual, "n2")) + " %");


                energyGross.empty();
                energyGross.text((kendo.toString(model.SumEnergyGross === null ? 0 : model.SumEnergyGross, "n2")));

                energyGrossValue.empty();
                energyGrossValue.text("USD. " + (kendo.toString(model.EnergyGrossValue === null ? 0 : model.EnergyGrossValue, "n2")));
            } else {
                initDoughnuts(0);

                energyNett.empty();
                energyNett.text("0,00");

                energyNettValue.empty();
                energyNettValue.text("0,00");

                energyGross.empty();
                energyGross.text("0,00");

                energyGrossValue.empty();
                energyGrossValue.text("0,00");
            }

            //createGauge(model.Productivity);
            //$("#gauge").data("kendoRadialGauge").value(model.Productivity);
            //$("#gaugeVal").text(kendo.toString(model.Productivity, "n2") + "%");

            isTopDashboardRedraw = true;
        }

        function getTopDashboardModel(areaId, month, endYear, rangeData) {
            if (areaId === "") {
                areaId = 0;
            }

            $.ajax({
                url: "@Url.Action("GetTopDashboardExecutiveModel")",
                type: "POST",
                dataType: "json",
                data: { "areaId": areaId, "month": month, "endYear": endYear, "rangeData": rangeData},
                beforeSend: function () {
                    row1.hide();
                    row2.hide();
                    row3.hide();
                    loading1.show();
                    loading3.show();
                },
                success: function (model) {
                    loading1.hide();
                    loading3.hide();
                    initTopDashboard(model);
                    initGridProductivity(areaId, rangeData, endYear, month);
                    var grid = $("#grid").data("kendoGrid");
                    grid.dataSource.read();
                }
            });
        }

        function hideTopDashboard() {
            loading1.hide();
            row1.hide();
            row2.hide();
        }

        function initTopDropdown() {
            @*var $area = dropdownListGenerator(areaId, "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA_ZPGE", "@Field.Name", "@Component.OptionLabelAreaAll", true, null);
            console.log($area.value());

            $area.bind("change", function (e) {
                getTopDashboardModel(e.sender.value(), $monthChart.Value(), $yearChart.value(), "");
            });

            $area.bind("dataBound", function (e) {
                getTopDashboardModel(e.sender.value(), "1", "2019", "@RangeData.DAILY");
            });*@
        }

        //BOTTOM DASHBOARD

        function hideBottomDashboard() {
            loading2.hide();
            loading3.hide();
            row3.hide();
            row4.hide();
            row5.hide();
        }

        function createColumn(rect, color) {
            var origin = rect.origin;
            var center = rect.center();
            var bottomRight = rect.bottomRight();
            var radiusX = rect.width() / 2;
            var radiusY = radiusX / 3;
            var gradient = new drawing.LinearGradient({
                stops: [{
                    offset: 0,
                    color: color
                }, {
                    offset: 0.5,
                    color: color,
                    opacity: 0.9
                }, {
                    offset: 0.5,
                    color: color,
                    opacity: 0.9
                }, {
                    offset: 1,
                    color: color
                }]
            });

            var path = new drawing.Path({
                fill: gradient,
                stroke: {
                    color: "none"
                }
            }).moveTo(origin.x, origin.y)
                .lineTo(origin.x, bottomRight.y)
                .arc(180, 0, radiusX, radiusY, true)
                .lineTo(bottomRight.x, origin.y)
                .arc(0, 180, radiusX, radiusY);

            var topArcGeometry = new geometry.Arc([center.x, origin.y], {
                startAngle: 0,
                endAngle: 360,
                radiusX: radiusX,
                radiusY: radiusY
            });

            var topArc = new drawing.Arc(topArcGeometry, {
                fill: {
                    color: color
                },
                stroke: {
                    color: "#ebebeb"
                }
            });
            var group = new drawing.Group();
            group.append(path, topArc);
            return group;
        }

        function initDailyChart(jsonDailyPlanParam, jsonDailyActualParam, categoriesParam, puChartParam) {
            var plan = [];
            var listCategori = [];
            var title,flag = true;

            $.each(jsonDailyPlanParam, function (i, value) {
                plan.push((value.toString().replace(',', '.') * 1));
            });

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}",
                        background: "#20c997",
                        color: "#fff",
                        rotation: -65
                    },
                    data: plan,
                    style: "smooth",
                    color: "#000",
                    opacity: 0.5,
                    width: 1.5,
                    markers: {
                        visible: true,
                        background: "",
                        size: 5,
                        border: {
                            color: "#aad3fe"
                        }
                    }
                }
            ];

            $.each(jsonDailyActualParam, function (i, dailyActual) {
                var data = [];
                $.each(dailyActual.ActualValue, function (j, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                series.push({ type: "bar", stack: true, overlay: { gradient: "none" }, name: dailyActual.AreaName, data: data });
            });

            if (categoriesParam !== null) {
                $.each(categoriesParam, function (i, category) {
                    listCategori.push(category);
                });
            }

            if (puChartParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            if (isBottomDashboardRedraw) {
                chart2.data("kendoChart").destroy();
            }

            chart2.kendoChart({
                chartArea: {
                    height: 270,
                    //width:"100%",
                    background: ""
                },
                title: {
                    text: title,
                    color: "#000"
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'",
                        color: "#000"
                    },
                    orientation: "horizontal"
                },
                seriesColors: ["#ea6a42", "#65b7e5", "#f4c362", "#838fff", "#a9dd4e", "#fc4f5c", "#ead475"],
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        color: "#000"
                    },
                    categories: listCategori
                },
                seriesDefaults: {
                    type: "bar",
                    stack: true,
                    highlight: {
                        toggle: function (e) {
                            e.preventDefault();

                            //var visual = e.visual;
                            //var opacity = e.show ? 0.8 : 1;

                            //visual.opacity(opacity);
                        }
                    },
                    //visual: function (e) {
                    //    return createColumn(e.rect, e.options.color);
                    //}
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true,
                        color: "#000"
                    },
                    labels: {
                        format: "{0:n3}",
                        color: "#000"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                },
                dataBound: function () {
                    setTimeout(createSlave, 0);
                },
                //render: function (e) {
                //    if (flag) {
                //        flag = false;
                //        var max = getMaxSeriesValue(e.sender.options.series, "value");
                //        if (isNaN(max.value)) {
                //            max = max;
                //        } else {
                //            max = max.value;
                //        }
                //        e.sender.options.valueAxis.max = max + max * 0.2;

                //        e.sender.redraw();
                //    }
                //}
            }).data("kendoChart");

            if (chart2.children().length !== 0) {
                $(chart2.children()[0]).css("height", "110%");
            }

            //$(window).on("resize", function () {
            //    kendo.resize($(".chart"));
            //});
        }

        function initMonthlyChart(jsonMonthlyPlanParam,jsonMonthlyActualParam,puChartParam) {
            var plan = [];
            var title, flag = true;

            $.each(jsonMonthlyPlanParam, function (i, monthlyPlan) {
                plan.push((monthlyPlan.toString().replace(',', '.') * 1));
            });

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}",
                        background: "#000",
                        color: "#aad3fe"
                    },
                    data: plan,
                    style: "smooth",
                    color: "#20c997",
                    opacity: 0.5,
                    width: 1.5,
                    markers: {
                        visible: true,
                        background: "",
                        size: 5,
                        border: {
                            color: "#aad3fe"
                        }
                    }
                }
            ];

            $.each(jsonMonthlyActualParam, function (i, monthlyActual) {
                var data = [];
                $.each(monthlyActual.ActualValue, function (i, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                series.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: monthlyActual.AreaName, data: data });
            });

            if (puChartParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            if (isBottomDashboardRedraw) {
                chart2.data("kendoChart").destroy();
            }

            chart2.kendoChart({
                chartArea: {
                    height: 270,
                    background: ""
                },
                title: {
                    text: title,
                    color: "#000"
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'",
                        color: "#c6cace"
                    },
                    orientation: "horizontal"
                },
                seriesColors: ["#ea6a42", "#65b7e5", "#f4c362", "#838fff", "#a9dd4e", "#fc4f5c", "#ead475"],
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        color: "#000"
                    },
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                },
                seriesDefaults: {
                    type: "column",
                    stack: true,
                    highlight: {
                        toggle: function (e) {
                            e.preventDefault();

                            var visual = e.visual;
                            var opacity = e.show ? 0.8 : 1;

                            visual.opacity(opacity);
                        }
                    },
                    //visual: function (e) {
                    //    return createColumn(e.rect, e.options.color);
                    //}
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true,
                        color: "#20c997"
                    },
                    labels: {
                        format: "{0:n0}",
                        color: "#000"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                },
                dataBound: function () {
                    setTimeout(createSlave, 0);
                },
                //render: function (e) {
                //    if (flag) {
                //        flag = false;
                //        var max = getMaxSeriesValue(e.sender.options.series, "value");
                //        if (isNaN(max.value)) {
                //            max = max;
                //        } else {
                //            max = max.value;
                //        }
                //        e.sender.options.valueAxis.max = max + max * 0.2;

                //        e.sender.redraw();
                //    }
                //}
            }).data("kendoChart");

            if (chart2.children().length !== 0) {
                $(chart2.children()[0]).css("height","110%");
            }

            //$(window).on("resize", function () {
            //    kendo.resize($(".chart"));
            //});
        }

        function initYearlyChart(jsonYearlyPlanParam,listYearParam,jsonYearlyActualParam,puChartParam) {
            var planYearlyValue = [],
                planYearly = [],
                listYear = [],
                title,
                flag = true;

            $.each(jsonYearlyPlanParam, function (i, yearlyPlan) {
                planYearlyValue.push((yearlyPlan.Value.toString().replace(',', '.') * 1));
                planYearly.push(yearlyPlan.Year);
            });

            if (listYearParam !== null) {
                $.each(listYearParam, function (i, y) {
                    listYear.push(y);
                });
            }

            var seriesChartYear = [{
                type: "line",
                name: "Target",
                labels: {
                    visible: true,
                    format: "{0:n2}",
                    background: "#000",
                    color: "#aad3fe"
                },
                data: planYearlyValue,
                style: "smooth",
                color: "#20c997",
                opacity: 0.5,
                width: 1.5,
                markers: {
                    visible: true,
                    background: "",
                    size: 5,
                    border: {
                        color: "#aad3fe"
                    }
                }
            }];

            $.each(jsonYearlyActualParam, function (i, yearlyActual) {
                var data = [];
                $.each(yearlyActual.ActualValue, function (j, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                seriesChartYear.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: yearlyActual.AreaName, data: data});
            });

            if (puChartParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            if (isBottomDashboardRedraw) {
                chart2.data("kendoChart").destroy();
            }

            chart2.kendoChart({
                chartArea: {
                    height: 270,
                    background: ""
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'",
                        color: "#c6cace"
                    },
                    padding: {
                        right:10
                    },
                    orientation: "horizontal"
                },
                title: {
                    text: title,
                    color: "#000"
                },
                seriesColors: ["#ea6a42", "#65b7e5", "#f4c362", "#838fff", "#a9dd4e", "#fc4f5c", "#ead475"],
                series: seriesChartYear,
                seriesDefaults: {
                    type: "column",
                    stack: true,
                    highlight: {
                        toggle: function (e) {
                            e.preventDefault();

                            var visual = e.visual;
                            var opacity = e.show ? 0.8 : 1;

                            visual.opacity(opacity);
                        }
                    },
                    //visual: function (e) {
                    //    return createColumn(e.rect, e.options.color);
                    //}
                },
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        color: "#000"
                    },
                    categories: listYear
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true,
                        color: "#20c997"
                    },
                    labels: {
                        color: "#000",
                        format: "{0:n0}"
                    }
                },
                tooltip: {
                    format: "{0:n2}",
                    visible: true,
                },
                //render: function (e) {
                //    if (flag) {
                //        flag = false;

                //        var max = getMaxSeriesValue(e.sender.options.series, "value");
                //        if (isNaN(max.value)) {
                //            max = max;
                //        } else {
                //            max = max.value;
                //        }
                //        e.sender.options.valueAxis.max = max + (max * 0.4);

                //        e.sender.redraw();
                //    }
                //}
            }).data("kendoChart");

            if (chart2.children().length !== 0) {
                $(chart2.children()[0]).css("height", "110%");
            }

            //$(window).on("resize", function () {
            //    kendo.resize($(".chart"));
            //});

        }

        function initBottomDashboard(model) {
            if (model.ChartHasData) {
                row4.show();
                row5.hide();

                if (rangeData.data("kendoDropDownList").value() === "@RangeData.MONTHLY") {
                    initMonthlyChart(model.JsonMonthlyPlan, model.JsonMonthlyActual, model.ProductionUtilizationChart);
                    $(window).on("resize", function () {
                        kendo.resize($(".chart"));
                    });
                } else if (rangeData.data("kendoDropDownList").value() === "@RangeData.YEARLY") {
                    initYearlyChart(model.JsonYearlyPlan, model.ListYear, model.JsonYearlyActual, model.ProductionUtilizationChart);
                    $(window).on("resize", function () {
                        kendo.resize($(".chart"));
                    });
                } else {
                    initDailyChart(model.JsonDailyPlan, model.JsonDailyActual, model.Categories, model.ProductionUtilizationChart);
                    $(window).on("resize", function () {
                        kendo.resize($(".chart"));
                    });
                }

                isBottomDashboardRedraw = true;


            }
            else {
                row4.hide();
                row5.show();
            }
        }

        function getBottomDashboardModel(puChartParam, rangeDataParam, monthChartParam, yearChartParam) {
            $.ajax({
                url: "@Url.Action("GetBottomDashboardModel")",
                type: "POST",
                dataType: "json",
                data: { "puChart": puChartParam, "rangeData": rangeDataParam, "monthChart": monthChartParam, "yearChart": yearChartParam },
                beforeSend: function () {
                    row4.hide();
                    row5.hide();
                    loading2.show();
                },
                success: function (model) {
                    console.log(model)
                    loading2.hide();
                    initBottomDashboard(model);
                }
            });
        }

        function initBottomDropDown() {
            var $area = dropdownListGenerator(areaId, "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA_ZPGE", "@Field.Name", "@Component.OptionLabelAreaAll", false, null);
            var $puChart = dropdownListGenerator(puChart, "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRODUCT_UTILIZATION", "@Field.Name", "", false, ["Days Effective"]);
            var $rangeData = dropdownListGenerator(rangeData, "@Url.Action(ActionSite.BindingOption)", "@OptionType.RANGE_DATA", "@Field.Name", "", false, null);
            var $yearChart = dropdownListGenerator(yearChart, "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_TASK", "@Field.Name", "", false, null);
            var now = new Date();

            var monthChartDs =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.Value";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.Text"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.MONTH";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Value", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var $monthChart = monthChart.kendoDropDownList({
                dataSource: monthChartDs,
                dataBound: function (e) {
                    isMonthChartBounded = true;

                    if (isPUChartBounded && isRangeDataBoudned && isYearChartBounded && isMonthChartBounded) {
                        getBottomDashboardModel(
                            e.sender.value(),
                            $rangeData.value(),
                            $monthChart.value(),
                            $yearChart.value()
                        );
                    }
                },
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                change: function (e) {
                    getBottomDashboardModel(
                        $puChart.value(),
                        $rangeData.value(),
                        e.sender.value(),
                        $yearChart.value()
                    );

                    var area = areaId.data("kendoDropDownList").value(),
                        range = rangeData.data("kendoDropDownList").value(),
                        year = yearChart.data("kendoDropDownList").value();
                    if (area === "") area = "0";

                    getTopDashboardModel(area, e.sender.value(), year, range);
                    //initGridProductivity(area, range, year, e.sender.value());
                },
            }).data("kendoDropDownList");

            $puChart.bind("change", function (e) {
                getBottomDashboardModel(
                    e.sender.value(),
                    $rangeData.value(),
                    $monthChart.value(),
                    $yearChart.value()
                );
            });

            $rangeData.bind("change", function (e) {
                if (e.sender.value() === "@RangeData.DAILY") {
                    monthChart.parent().parent().show();
                    yearChart.parent().parent().show();
                } else if (e.sender.value() === "@RangeData.MONTHLY") {
                    monthChart.parent().parent().hide();
                    yearChart.parent().parent().show();
                } else {
                    monthChart.parent().parent().hide();
                    yearChart.parent().parent().hide();
                }

                getBottomDashboardModel(
                    $puChart.value(),
                    e.sender.value(),
                    $monthChart.value(),
                    $yearChart.value()
                );

                var area = areaId.data("kendoDropDownList").value(),
                    month = monthChart.data("kendoDropDownList").value(),
                    year = yearChart.data("kendoDropDownList").value();
                if (area === "") area = "0";

                getTopDashboardModel(area, month, year, e.sender.value());
                //initGridProductivity(area, e.sender.value(), year, month);
            });

            $yearChart.bind("change", function (e) {
                getBottomDashboardModel(
                    $puChart.value(),
                    $rangeData.value(),
                    $monthChart.value(),
                    e.sender.value()
                );

                var area = areaId.data("kendoDropDownList").value(),
                    month = monthChart.data("kendoDropDownList").value(),
                    range = rangeData.data("kendoDropDownList").value();
                if (area === "") area = "0";

                getTopDashboardModel(area, month, e.sender.value(), range);
                //initGridProductivity(area, range, e.sender.value(), month);
            });

            $puChart.bind("dataBound", function (e) {
                isPUChartBounded = true;
                getBottomDashboardModel(
                    e.sender.value(),
                    "@RangeData.DAILY",
                    "1",
                    now.getFullYear()
                );
            });


            //
            $area.bind("change", function (e) {
                var month = monthChart.data("kendoDropDownList").value(),
                    year = yearChart.data("kendoDropDownList").value(),
                    range = rangeData.data("kendoDropDownList").value();

                getTopDashboardModel(e.sender.value(), month, year, range);
                //initGridProductivity(e.sender.value(), range, year, month);
            });

            $area.bind("dataBound", function (e) {
                getTopDashboardModel(e.sender.value(), "1", now.getFullYear(), "@RangeData.DAILY");
                //initGridProductivity(e.sender.value(), "@RangeData.DAILY", now.getFullYear(), "1");
            });

            //Capacity factor dashboard
        }

        function initGridProductivity(areaId, rangeData, year, month) {
            if (areaId === "") {
                areaId = "0";
            }

            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action("BindingProductionByWkp")?areaId="+areaId+"&&rangeData="+rangeData+"&&year="+year+"&&month="+month,
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;
                                var removeFilter = null;

                                for (var i in filters) {
                                    var filter = filters[i];


                                }


                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            //put data source options into session
                            @*if (grid !== undefined) {
                                putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                            }*@

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.PowerPlantName",
                        fields: {
                            "@Field.AreaName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.PowerPlantName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Capacity": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Actual": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Productivity": { type: "@DataSource.Schema.Type.Number" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.AreaName", dir: "@SortOrder.Descending.ToDescription()" }
            });

            var columns = [
                {
                    field: "@Field.AreaName",
                    title: "WKP",
                    width: "150px"
                },
                {
                    field: "@Field.PowerPlantName",
                    title: "PLTP Unit",
                    width: "150px"
                },
                {
                    field: "@Field.Capacity",
                    title: "Capacity (MWh)",
                    format: "{0:n0}",
                    width: "150px",
                    filterable: false,
                    sortable: false
                },
                {
                    field: "@Field.Actual",
                    title: "Power Generated (MWh)",
                    format: "{0:n2}",
                    width: "150px",
                    filterable: false,
                    sortable: false
                },
                {
                    field: "StrProductivity",
                    title: "Productivity",
                    width: "150px",
                    filterable: false,
                    sortable: false
                }
            ];

            grid = $("#grid").kendoGrid({
                dataSource: ds,
                autoBind: false,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                columns: columns
            }).data("kendoGrid");
        }
    </script>
}

@section styles{
    <style>
        #gauge-container {
            width: 300px;
            text-align: center;
            margin: 0 auto 30px auto;
        }

        .gaugeVal {
            font-family: Roboto, Verdana, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: bold;
            color: white;
            position: relative;
            left: 0;
            right: 0;
            top: -40px;
            text-align: center;
        }

        #message {
            font-family: Roboto, Verdana, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: red;
            position: absolute;
            left: 30%;
            top: 45%;
        }
    </style>
}
