﻿@{
    ViewBag.Title = "Executive";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    Layout = "~/Views/Shared/Inspinia/_LayoutDashboard.cshtml";
}

<div class="my-first-box-gradient box-shadow container">
    <div class="row pb-30 dropdown dropdown-border no-border">
        <div class="col-md-6">
            <div class="border">
                <div class="text-bold" style="color:#d1e9fd;">
                    Data yang ditampilkan di bawah ini sesuai dengan data terakhir yang diinput.
                </div>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-4" style="margin-top:4px;">
            @Html.TextBox("areaId", new { @class = "form-control" })
        </div>
    </div>

    <div id="loadingSpinner1" class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>

    <div id="row1" class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="box-title-custom d-flex">
                        <h5>Pemanfaatan Uap (DTD)</h5>
                        <span id="pudtdDate" class="label-custom pull-right">
                            @*masukkan text Model.LastDateProductionStringDate*@
                        </span>
                    </div>
                    <div class="border">
                        <div class="row" style="padding-bottom:60px">
                            <div class="col-md-4 m-t-md">
                                <canvas id="canvas" width=100 height=100></canvas>
                                <div class="donut-inner-2">
                                    <h5 id="suRatio">
                                        @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.SteamUtilization.Ratio)%*@
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-4 pt-50">
                                <div class="box-status">
                                    <i class="fa fa-square text-green"></i>
                                    <span class="text-green text-uppercase text-bold">
                                        Plan
                                    </span>
                                    <div class="text-bold text-dark-blue">
                                        <div id="suPPNett">
                                            @*masukkan text string.Format("{0:N0}", Model.SteamUtilization.PlanProgress.Nett) ton*@
                                        </div>
                                        <div id="suPPPrice">
                                            @*masukkan text US $ string.Format("{0:N2}", Model.SteamUtilization.PlanProgress.Price)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-50">
                                <div class="box-status">
                                    <i class="fa fa-square text-blue"></i>
                                    <span class="text-blue text-uppercase text-bold">
                                        Actual
                                    </span>
                                    <div class="text-bold text-blue">
                                        <div id="suAPNett">
                                            @*masukkan text string.Format("{0:N0}", Model.SteamUtilization.ActualProgress.Nett) ton*@
                                        </div>
                                        <div id="suAPPrice">
                                            @*masukkan text US $ string.Format("{0:N2}", Model.SteamUtilization.ActualProgress.Price)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="box-title-custom d-flex">
                        <h5>Produksi Listrik (DTD)</h5>
                        <span id="plDTDDate" class="label-custom pull-right">
                            @*masukkan text Model.LastDateProductionStringDate*@
                        </span>
                    </div>
                    <div class="border">
                        <div class="row" style="padding-bottom:60px">
                            <div class="col-md-4 m-t-md">
                                <canvas id="canvas2" width=100 height=100></canvas>
                                <div class="donut-inner-2">
                                    <h5 id="euRatio">
                                        @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.EnergyUtilization.Ratio)%*@
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-4 pt-50">
                                <div class="box-status">
                                    <i class="fa fa-square text-green"></i>
                                    <span class="text-green text-uppercase text-bold">
                                        Plan
                                    </span>
                                    <div class="text-bold">
                                        <div id="euPPNett">
                                            @*masukkan text string.Format("{0:N0}", Model.EnergyUtilization.PlanProgress.Nett) MWh*@
                                        </div>
                                        <div id="euPPPrice">
                                            @*US $ string.Format("{0:N2}", Model.EnergyUtilization.PlanProgress.Price)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-50">
                                <div class="box-status">
                                    <i class="fa fa-square text-blue"></i>
                                    <span class="text-blue text-uppercase text-bold">
                                        Actual
                                    </span>
                                    <div class="text-bold">
                                        <div id="euAPNett">
                                            @*masukkan text string.Format("{0:N0}", Model.EnergyUtilization.ActualProgress.Nett) MWh*@
                                        </div>
                                        <div id="euAPPrice">
                                            @*masukkan text US $ string.Format("{0:N2}", Model.EnergyUtilization.ActualProgress.Price)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="box-title-custom d-flex">
                        <h5>Pemanfaatan Uap (Kumulatif)</h5>
                        <span id="puKDate" class="label-custom pull-right">
                            @*masukkan text Model.LastDateProductionStringDate*@
                        </span>
                    </div>
                    <div class="border">
                        <div class="row" style="padding-bottom:60px">
                            <div class="col-md-4 m-t-md">
                                <canvas id="canvas3" width=100 height=100></canvas>
                                <div class="donut-inner-2">
                                    <h5 id="scRatio">
                                        @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.SteamCumulative.Ratio)%*@
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-4 pt-50">
                                <div class="box-status">
                                    <i class="fa fa-square text-green"></i>
                                    <span class="text-green text-uppercase text-bold">
                                        Plan
                                    </span>
                                    <div class="text-bold">
                                        <div id="scPPNett">
                                            @*masukkan text string.Format("{0:N0}", Model.SteamCumulative.PlanProgress.Nett) ton*@
                                        </div>
                                        <div id="scPPPrice">
                                            @*masukkan text US $ string.Format("{0:N2}", Model.SteamCumulative.PlanProgress.Price)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-50">
                                <div class="box-status">
                                    <i class="fa fa-square text-blue"></i>
                                    <span class="text-blue text-uppercase text-bold">
                                        Actual
                                    </span>
                                    <div class="text-bold">
                                        <div id="scAPNett">
                                            @*masukkan text string.Format("{0:N0}", Model.SteamCumulative.ActualProgress.Nett) ton*@
                                        </div>
                                        <div id="scAPPrice">
                                            @*masukkan text US $ string.Format("{0:N2}", Model.SteamCumulative.ActualProgress.Price)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content custom-content blue-light">
                    <div class="box-title-custom d-flex">
                        <h5>Produksi Listrik (Kumulatif)</h5>
                        <span id="plKDate" class="label-custom pull-right">
                            @*masukkan text Model.LastDateProductionStringDate*@
                        </span>
                    </div>
                    <div class="border">
                        <div class="row" style="padding-bottom:60px">
                            <div class="col-md-4 m-t-md">
                                <canvas id="canvas4" width=100 height=100></canvas>
                                <div class="donut-inner-2">
                                    <h5 id="ecRatio">
                                        @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.EnergyCumulative.Ratio)%*@
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-4 pt-50">
                                <div class="box-status">
                                    <i class="fa fa-square text-green"></i>
                                    <span class="text-green text-uppercase text-bold">
                                        Plan
                                    </span>
                                    <div class="text-bold">
                                        <div id="ecPPNett">
                                            @*masukkan text string.Format("{0:N0}", Model.EnergyCumulative.PlanProgress.Nett) MWh*@
                                        </div>
                                        <div id="ecPPPrice">
                                            @*masukkan text US $ string.Format("{0:N2}", Model.EnergyCumulative.PlanProgress.Price)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pt-50">
                                <div class="box-status">
                                    <i class="fa fa-square text-blue"></i>
                                    <span class="text-blue text-uppercase text-bold">
                                        Actual
                                    </span>
                                    <div class="text-bold">
                                        <div id="ecAPNett">
                                            @*masukkan text string.Format("{0:N0}", Model.EnergyCumulative.ActualProgress.Nett) MWh*@
                                        </div>
                                        <div id="ecAPPrice">
                                            @*masukkan text US $ @string.Format("{0:N2}", Model.EnergyCumulative.ActualProgress.Price)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div class="row m-t-xs">
            <div class="col-xs-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content custom-content blue-light">
                        <div class="box-title-custom d-flex">
                            <h5>Grafik</h5>
                        </div>
                        <div id="chart" style="background: center no-repeat url('@Url.Content("~/Content/img/objectguide-10.png")'); background-size: contain;background-position-y: bottom;"></div>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<div class="my-second-box-gradient box-shadow container">
    <div class="row pb-30 dropdown dropdown-border no-border">
        <div class="col-xs-2 col-md-offset-6">
            @Html.TextBox("puChart", new { @class = "form-control" })
        </div>
        <div class="col-xs-2">
            @Html.TextBox("rangeData", new { @class = "form-control" })
        </div>
        <div class="col-xs-2">
            @Html.TextBox("monthChart", new { @class = "form-control" })
        </div>
        <div class="col-xs-2">
            @Html.TextBox("yearChart", new { @class = "form-control" })
        </div>
    </div>

    <div id="loadingSpinner2" class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>

    <div class="row">
        @*jika ada data tampilkan chart*@
        <div id="row4" class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="chart">
                    <div id="chart-2" style="background: center no-repeat url('@Url.Content("~/Content/img/objectguide-10.png")'); background-size: contain;background-position-y: bottom;">
                    </div>
                </div>
            </div>
        </div>
        @*jika tidak ada data tampilkan*@
        <div id="row5" class="alert alert-warning" role="alert">
            No Data plan or actual, please input data.
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var areaId = $("#areaId"),
            loading1 = $("#loadingSpinner1"),
            row1 = $("#row1"),
            pudtdDate = $("#pudtdDate"),
            canvas = $("#canvas"),
            suRatio = $("#suRatio"),
            suPPNett = $("#suPPNett"),
            suPPPrice = $("#suPPPrice"),
            suAPNett = $("#suAPNett"),
            suAPPrice = $("#suAPPrice"),
            plDTDDate = $("#plDTDDate"),
            canvas2 = $("#canvas2"),
            euRatio = $("#euRatio"),
            euPPNett = $("#euPPNett"),
            euPPPrice = $("#euPPPrice"),
            euAPNett = $("#euAPNett"),
            euAPPrice = $("#euAPPrice"),
            row2 = $("#row2"),
            puKDate = $("#puKDate"),
            canvas3 = $("#canvas3"),
            scRatio = $("#scRatio"),
            scPPNett = $("#scPPNett"),
            scPPPrice = $("#scPPPrice"),
            scAPNett = $("#scAPNett"),
            scAPPrice = $("#scAPPrice"),
            plKDate = $("#plKDate"),
            canvas4 = $("#canvas4"),
            ecRatio = $("#ecRatio"),
            ecPPNett = $("#ecPPNett"),
            ecPPPrice = $("#ecPPPrice"),
            ecAPNett = $("#ecAPNett"),
            ecAPPrice = $("#ecAPPrice");

        var isTopDashboardRedraw = false;

        var myChart, myChart2, myChart3, myChart4;

        var drawing = kendo.drawing;
        var geometry = kendo.geometry;

        var puChart = $("#puChart"),
            rangeData = $("#rangeData"),
            monthChart = $("#monthChart"),
            yearChart = $("#yearChart"),
            row4 = $("#row4"),
            chart2 = $("#chart-2"),
            row5 = $("#row5");

        var isPUChartBounded = false,
            isRangeDataBoudned = false,
            isYearChartBounded = false,
            isMonthChartBounded = false,
            isBottomDashboardRedraw = false;

        var loading2 = $("#loadingSpinner2");

        $(function () {
            hideTopDashboard();
            initTopDropdown();

            hideBottomDashboard();
            initBottomDropDown();
        });

        //TOP DASHBOARD

        function initDoughnuts(suRatioParam, euRatioParam, scRatioParam, ecRatioParam) {
            console.log(suRatioParam)
            if (isTopDashboardRedraw) {
                myChart.destroy();
                myChart2.destroy();
                myChart3.destroy();
                myChart4.destroy();
            }

            //doughnut 1
            var ctx = document.getElementById("canvas").getContext("2d");
            var gradientColors = [
                {
                    start: '#000',
                    end: '#000'
                },
                {
                    start: '#fcee21',
                    end: '#0000ff'
                }
            ];

            var gradients = [];

            gradientColors.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients.push(gradient);
            });

            var gradientColors2 = [
                {
                    start: '#000',
                    end: '#000'
                },
                {
                    start: '#3ddc9d',
                    end: '#f01056'
                }
            ];

            var gradients2 = [];

            gradientColors2.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients2.push(gradient);
            });
            console.log(suRatioParam.toString().replace(',', '.'));
            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [100 - suRatioParam.toString().replace(',', '.'),
                        suRatioParam.toString().replace(',', '.')],
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 70,
                    tooltips: {
                        enabled: false
                    }
                },
            };
            myChart = new Chart(ctx, config);

            //doughnut 2
            ctx = document.getElementById("canvas2").getContext("2d");
            config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [100 - euRatioParam.toString().replace(',', '.'),
                        euRatioParam.toString().replace(',', '.')],
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 70,
                    tooltips: {
                        enabled: false
                    }
                }
            };
            myChart2 = new Chart(ctx, config);

            //doughnut 3
            ctx = document.getElementById("canvas3").getContext("2d");
            config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [100 - scRatioParam.toString().replace(',', '.'),
                        scRatioParam.toString().replace(',', '.')],
                        backgroundColor: gradients2,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 70,
                    tooltips: {
                        enabled: false
                    }
                }
            };
            myChart3 = new Chart(ctx, config);

            //doughnut 4
            ctx = document.getElementById("canvas4").getContext("2d");
            config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [100 - ecRatioParam.toString().replace(',', '.'),
                        ecRatioParam.toString().replace(',', '.')],
                        backgroundColor: gradients2,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 70,
                    tooltips: {
                        enabled: false
                    }
                }
            };
            myChart4 = new Chart(ctx, config);
        }

        function initTopDashboard(model) {
            row1.show();
            row2.show();

            if (model.SteamUtilization !== null
                &&
                model.EnergyUtilization !== null
                &&
                model.SteamCumulative !== null
                &&
                model.EnergyCumulative !== null) {
                initDoughnuts(
                    model.SteamUtilization === null ? 0 : model.SteamUtilization.Ratio,
                    model.EnergyUtilization === null ? 0 :model.EnergyUtilization.Ratio,
                    model.SteamCumulative === null ? 0 :model.SteamCumulative.Ratio,
                    model.EnergyCumulative === null ? 0 :model.EnergyCumulative.Ratio
                );
            }

            pudtdDate.empty();
            pudtdDate.text(model.LastDateProductionStringDate);

            suRatio.empty();
            suRatio.text((kendo.toString(model.SteamUtilization === null ? 0 : model.SteamUtilization.Ratio, "n2") + "%"));

            suPPNett.empty();
            suPPNett.text((kendo.toString(model.SteamUtilization === null ? 0 : model.SteamUtilization.PlanProgress.Nett, "n3") + " ton"));

            suPPPrice.empty();
            suPPPrice.text(("US $ " + kendo.toString(model.SteamUtilization === null ? 0 :model.SteamUtilization.PlanProgress.Price, "n2")));

            suAPNett.empty();
            suAPNett.text((kendo.toString(model.SteamUtilization === null ? 0 : model.SteamUtilization.ActualProgress.Nett, "n3") + " ton"));

            suAPPrice.empty();
            suAPPrice.text(("US $ " + kendo.toString(model.SteamUtilization === null ? 0 :model.SteamUtilization.ActualProgress.Price, "n2")));

            plDTDDate.empty();
            plDTDDate.text(model.LastDateProductionStringDate);

            euRatio.empty();
            euRatio.text((kendo.toString(model.EnergyUtilization === null ? 0 :model.EnergyUtilization.Ratio, "n2") + "%"));

            euPPNett.empty();
            euPPNett.text((kendo.toString(model.EnergyUtilization === null ? 0 :model.EnergyUtilization.PlanProgress.Nett, "n3") + " MWh"));

            euPPPrice.empty();
            euPPPrice.text(("US $ " + kendo.toString(model.EnergyUtilization === null ? 0 :model.EnergyUtilization.PlanProgress.Price, "n2")));

            euAPNett.empty();
            euAPNett.text((kendo.toString(model.EnergyUtilization === null ? 0 : model.EnergyUtilization.ActualProgress.Nett, "n3") + " MWh"));

            euAPPrice.empty();
            euAPPrice.text(("US $ " + kendo.toString(model.EnergyUtilization === null ? 0 :model.EnergyUtilization.ActualProgress.Price, "n2")));

            puKDate.empty();
            puKDate.text(model.LastDateProductionStringDate);

            scRatio.empty();
            scRatio.text((kendo.toString(model.SteamCumulative === null ? 0 :model.SteamCumulative.Ratio, "n2") + "%"));

            scPPNett.empty();
            scPPNett.text((kendo.toString(model.SteamCumulative === null ? 0 : model.SteamCumulative.PlanProgress.Nett, "n3") + " ton"));

            scPPPrice.empty();
            scPPPrice.text(("US $ " + kendo.toString(model.SteamCumulative === null ? 0 :model.SteamCumulative.PlanProgress.Price, "n2")));

            scAPNett.empty();
            scAPNett.text((kendo.toString(model.SteamCumulative === null ? 0 : model.SteamCumulative.ActualProgress.Nett, "n3") + " ton"));

            scAPPrice.empty();
            scAPPrice.text(("US $ " + kendo.toString(model.SteamCumulative === null ? 0 :model.SteamCumulative.ActualProgress.Price, "n2")));

            plKDate.empty();
            plKDate.text(model.LastDateProductionStringDate);

            ecRatio.empty();
            ecRatio.text((kendo.toString(model.EnergyCumulative === null ? 0 :model.EnergyCumulative.Ratio, "n2") + "%"));

            ecPPNett.empty();
            ecPPNett.text((kendo.toString(model.EnergyCumulative === null ? 0 : model.EnergyCumulative.PlanProgress.Nett, "n3") + " MWh"));

            ecPPPrice.empty();
            ecPPPrice.text(("US $ " + kendo.toString(model.EnergyCumulative === null ? 0 :model.EnergyCumulative.PlanProgress.Price, "n2")));

            ecAPNett.empty();
            ecAPNett.text((kendo.toString(model.EnergyCumulative === null ? 0 : model.EnergyCumulative.ActualProgress.Nett, "n3") + " MWh"));

            ecAPPrice.empty();
            ecAPPrice.text(("US $ " + kendo.toString(model.EnergyCumulative === null ? 0 :model.EnergyCumulative.ActualProgress.Price, "n2")));

            isTopDashboardRedraw = true;
        }

        function getTopDashboardModel(areaId) {
            if (areaId === "") {
                areaId = 0;
            }

            $.ajax({
                url: "@Url.Action("GetTopDashboardExecutiveModel")",
                type: "POST",
                dataType: "json",
                data: { "areaId": areaId},
                beforeSend: function () {
                    row1.hide();
                    row2.hide();
                    loading1.show();
                },
                success: function (model) {
                    loading1.hide();
                    initTopDashboard(model);
                }
            });
        }

        function hideTopDashboard() {
            loading1.hide();
            row1.hide();
            row2.hide();
        }

        function initTopDropdown() {
            var $area = dropdownListGenerator(areaId, "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA_ZPGE", "@Field.Name", "@Component.OptionLabelAreaAll", true, null);
            
            $area.bind("change", function (e) {
                getTopDashboardModel(e.sender.value());
            });

            $area.bind("dataBound", function (e) {
                getTopDashboardModel(e.sender.value());
            });
        }

        //BOTTOM DASHBOARD

        function hideBottomDashboard() {
            loading2.hide();
            row4.hide();
            row5.hide();
        }

        function createColumn(rect, color) {
            var origin = rect.origin;
            var center = rect.center();
            var bottomRight = rect.bottomRight();
            var radiusX = rect.width() / 2;
            var radiusY = radiusX / 3;
            var gradient = new drawing.LinearGradient({
                stops: [{
                    offset: 0,
                    color: color
                }, {
                    offset: 0.5,
                    color: color,
                    opacity: 0.9
                }, {
                    offset: 0.5,
                    color: color,
                    opacity: 0.9
                }, {
                    offset: 1,
                    color: color
                }]
            });

            var path = new drawing.Path({
                fill: gradient,
                stroke: {
                    color: "none"
                }
            }).moveTo(origin.x, origin.y)
                .lineTo(origin.x, bottomRight.y)
                .arc(180, 0, radiusX, radiusY, true)
                .lineTo(bottomRight.x, origin.y)
                .arc(0, 180, radiusX, radiusY);

            var topArcGeometry = new geometry.Arc([center.x, origin.y], {
                startAngle: 0,
                endAngle: 360,
                radiusX: radiusX,
                radiusY: radiusY
            });

            var topArc = new drawing.Arc(topArcGeometry, {
                fill: {
                    color: color
                },
                stroke: {
                    color: "#ebebeb"
                }
            });
            var group = new drawing.Group();
            group.append(path, topArc);
            return group;
        }

        function initDailyChart(jsonDailyPlanParam, jsonDailyActualParam, categoriesParam, puChartParam) {
            var plan = [];
            var listCategori = [];
            var title,flag = true;

            $.each(jsonDailyPlanParam, function (i, value) {
                plan.push((value.toString().replace(',', '.') * 1));
            });

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}",
                        background: "#000",
                        color: "#aad3fe",
                        rotation: -65
                    },
                    data: plan,
                    style: "smooth",
                    color: "#fff",
                    opacity: 0.5,
                    width: 1.5,
                    markers: {
                        visible: true,
                        background: "",
                        size: 5,
                        border: {
                            color: "#aad3fe"
                        }
                    }
                }
            ];

            $.each(jsonDailyActualParam, function (i, dailyActual) {
                var data = [];
                $.each(dailyActual.ActualValue, function (j, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                series.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: dailyActual.AreaName, data: data });
            });

            if (categoriesParam !== null) {
                $.each(categoriesParam, function (i, category) {
                    listCategori.push(category);
                });
            }

            if (puChartParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            if (isBottomDashboardRedraw) {
                chart2.data("kendoChart").destroy();
            }

            chart2.kendoChart({
                chartArea: {
                    height: 500,
                    background: ""
                },
                title: {
                    text: title,
                    color: "#d1e9fd"
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'",
                        color: "#c6cace"
                    },
                    orientation: "horizontal"
                },
                seriesColors: ["#ea6a42", "#65b7e5", "#f4c362", "#838fff", "#a9dd4e", "#fc4f5c", "#ead475"],
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        color: "#d1e9fd"
                    },
                    categories: listCategori
                },
                seriesDefaults: {
                    type: "column",
                    stack: true,
                    highlight: {
                        toggle: function (e) {
                            e.preventDefault();

                            var visual = e.visual;
                            var opacity = e.show ? 0.8 : 1;

                            visual.opacity(opacity);
                        }
                    },
                    visual: function (e) {
                        return createColumn(e.rect, e.options.color);
                    }
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true,
                        color: "#fff"
                    },
                    labels: {
                        format: "{0:n0}",
                        color: "#d1e9fd"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                },
                dataBound: function () {
                    setTimeout(createSlave, 0);
                },
                //render: function (e) {
                //    if (flag) {
                //        flag = false;
                //        var max = getMaxSeriesValue(e.sender.options.series, "value");
                //        if (isNaN(max.value)) {
                //            max = max;
                //        } else {
                //            max = max.value;
                //        }
                //        e.sender.options.valueAxis.max = max + max * 0.2;

                //        e.sender.redraw();
                //    }
                //}
            }).data("kendoChart");

            if (chart2.children().length !== 0) {
                $(chart2.children()[0]).css("height", "110%");
            }
        }

        function initMonthlyChart(jsonMonthlyPlanParam,jsonMonthlyActualParam,puChartParam) {
            var plan = [];
            var title, flag = true;

            $.each(jsonMonthlyPlanParam, function (i, monthlyPlan) {
                plan.push((monthlyPlan.toString().replace(',', '.') * 1));
            });

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}",
                        background: "#000",
                        color: "#aad3fe"
                    },
                    data: plan,
                    style: "smooth",
                    color: "#fff",
                    opacity: 0.5,
                    width: 1.5,
                    markers: {
                        visible: true,
                        background: "",
                        size: 5,
                        border: {
                            color: "#aad3fe"
                        }
                    }
                }
            ];

            $.each(jsonMonthlyActualParam, function (i, monthlyActual) {
                var data = [];
                $.each(monthlyActual.ActualValue, function (i, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                series.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: monthlyActual.AreaName, data: data });
            });

            if (puChartParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            if (isBottomDashboardRedraw) {
                chart2.data("kendoChart").destroy();
            }

            chart2.kendoChart({
                chartArea: {
                    height: 500,
                    background: ""
                },
                title: {
                    text: title,
                    color: "#d1e9fd"
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'",
                        color: "#c6cace"
                    },
                    orientation: "horizontal"
                },
                seriesColors: ["#ea6a42", "#65b7e5", "#f4c362", "#838fff", "#a9dd4e", "#fc4f5c", "#ead475"],
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        color: "#d1e9fd"
                    },
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                },
                seriesDefaults: {
                    type: "column",
                    stack: true,
                    highlight: {
                        toggle: function (e) {
                            e.preventDefault();

                            var visual = e.visual;
                            var opacity = e.show ? 0.8 : 1;

                            visual.opacity(opacity);
                        }
                    },
                    visual: function (e) {
                        return createColumn(e.rect, e.options.color);
                    }
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true,
                        color: "#fff"
                    },
                    labels: {
                        format: "{0:n0}",
                        color: "#d1e9fd"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                },
                dataBound: function () {
                    setTimeout(createSlave, 0);
                },
                //render: function (e) {
                //    if (flag) {
                //        flag = false;
                //        var max = getMaxSeriesValue(e.sender.options.series, "value");
                //        if (isNaN(max.value)) {
                //            max = max;
                //        } else {
                //            max = max.value;
                //        }
                //        e.sender.options.valueAxis.max = max + max * 0.2;

                //        e.sender.redraw();
                //    }
                //}
            }).data("kendoChart");

            if (chart2.children().length !== 0) {
                $(chart2.children()[0]).css("height","110%");
            }
        }

        function initYearlyChart(jsonYearlyPlanParam,listYearParam,jsonYearlyActualParam,puChartParam) {
            var planYearlyValue = [],
                planYearly = [],
                listYear = [],
                title,
                flag = true;

            $.each(jsonYearlyPlanParam, function (i, yearlyPlan) {
                planYearlyValue.push((yearlyPlan.Value.toString().replace(',', '.') * 1));
                planYearly.push(yearlyPlan.Year);
            });

            if (listYearParam !== null) {
                $.each(listYearParam, function (i, y) {
                    listYear.push(y);
                });
            }

            var seriesChartYear = [{
                type: "line",
                name: "Target",
                labels: {
                    visible: true,
                    format: "{0:n2}",
                    background: "#000",
                    color: "#aad3fe"
                },
                data: planYearlyValue,
                style: "smooth",
                color: "#fff",
                opacity: 0.5,
                width: 1.5,
                markers: {
                    visible: true,
                    background: "",
                    size: 5,
                    border: {
                        color: "#aad3fe"
                    }
                }
            }];

            $.each(jsonYearlyActualParam, function (i, yearlyActual) {
                var data = [];
                $.each(yearlyActual.ActualValue, function (j, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                seriesChartYear.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: yearlyActual.AreaName, data: data});
            });

            if (puChartParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            if (isBottomDashboardRedraw) {
                chart2.data("kendoChart").destroy();
            }

            chart2.kendoChart({
                chartArea: {
                    height: 500,
                    background: ""
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'",
                        color: "#c6cace"
                    },
                    padding: {
                        right:10
                    },
                    orientation: "horizontal"
                },
                title: {
                    text: title,
                    color: "#d1e9fd"
                },
                seriesColors: ["#ea6a42", "#65b7e5", "#f4c362", "#838fff", "#a9dd4e", "#fc4f5c", "#ead475"],
                series: seriesChartYear,
                seriesDefaults: {
                    type: "column",
                    stack: true,
                    highlight: {
                        toggle: function (e) {
                            e.preventDefault();

                            var visual = e.visual;
                            var opacity = e.show ? 0.8 : 1;

                            visual.opacity(opacity);
                        }
                    },
                    visual: function (e) {
                        return createColumn(e.rect, e.options.color);
                    }
                },
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        color: "#d1e9fd"
                    },
                    categories: listYear
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true,
                        color: "#fff"
                    },
                    labels: {
                        color: "#d1e9fd",
                        format: "{0:n0}"
                    }
                },
                tooltip: {
                    format: "{0:n2}",
                    visible: true
                },
                //render: function (e) {
                //    if (flag) {
                //        flag = false;

                //        var max = getMaxSeriesValue(e.sender.options.series, "value");
                //        if (isNaN(max.value)) {
                //            max = max;
                //        } else {
                //            max = max.value;
                //        }
                //        e.sender.options.valueAxis.max = max + (max * 0.4);

                //        e.sender.redraw();
                //    }
                //}
            }).data("kendoChart");

            if (chart2.children().length !== 0) {
                $(chart2.children()[0]).css("height", "110%");
            }
        }

        function initBottomDashboard(model) {
            console.log(model)
            if (model.ChartHasData) {
                row4.show();
                row5.hide();

                if (rangeData.data("kendoDropDownList").value() === "@RangeData.MONTHLY") {
                    initMonthlyChart(model.JsonMonthlyPlan, model.JsonMonthlyActual, model.ProductionUtilizationChart);
                } else if (rangeData.data("kendoDropDownList").value() === "@RangeData.YEARLY") {
                    initYearlyChart(model.JsonYearlyPlan, model.ListYear, model.JsonYearlyActual, model.ProductionUtilizationChart);
                } else {
                    initDailyChart(model.JsonDailyPlan, model.JsonDailyActual, model.Categories, model.ProductionUtilizationChart);
                }

                isBottomDashboardRedraw = true;
            } else {
                row4.hide();
                row5.show();
            }
        }

        function getBottomDashboardModel(puChartParam, rangeDataParam, monthChartParam, yearChartParam) {
            $.ajax({
                url: "@Url.Action("GetBottomDashboardModel")",
                type: "POST",
                dataType: "json",
                data: { "puChart": puChartParam, "rangeData": rangeDataParam, "monthChart": monthChartParam, "yearChart": yearChartParam },
                beforeSend: function () {
                    row4.hide();
                    row5.hide();
                    loading2.show();
                },
                success: function (model) {
                    console.log(model)
                    loading2.hide();
                    initBottomDashboard(model);
                }
            });
        }

        function initBottomDropDown() {
            var $puChart = dropdownListGenerator(puChart, "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRODUCT_UTILIZATION", "@Field.Name", "", false, ["Days Effective"]);
            var $rangeData = dropdownListGenerator(rangeData, "@Url.Action(ActionSite.BindingOption)", "@OptionType.RANGE_DATA", "@Field.Name", "", false, null);
            var $yearChart = dropdownListGenerator(yearChart, "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_TASK", "@Field.Name", "", false, null);

            var monthChartDs =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.Value";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.Text"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.MONTH";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Value", dir: "@SortOrder.Ascending.ToDescription()" }
            });
            var $monthChart = monthChart.kendoDropDownList({
                dataSource: monthChartDs,
                dataBound: function (e) {
                    isMonthChartBounded = true;

                    if (isPUChartBounded && isRangeDataBoudned && isYearChartBounded && isMonthChartBounded) {
                        getBottomDashboardModel(
                            e.sender.value(),
                            $rangeData.value(),
                            $monthChart.value(),
                            $yearChart.value()
                        );
                    }
                },
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                change: function (e) {
                    getBottomDashboardModel(
                        $puChart.value(),
                        $rangeData.value(),
                        e.sender.value(),
                        $yearChart.value()
                    );
                },
            }).data("kendoDropDownList");

            $puChart.bind("change", function (e) {
                getBottomDashboardModel(
                    e.sender.value(),
                    $rangeData.value(),
                    $monthChart.value(),
                    $yearChart.value()
                );
            });

            $rangeData.bind("change", function (e) {
                if (e.sender.value() === "@RangeData.DAILY") {
                    monthChart.parent().parent().show();
                    yearChart.parent().parent().show();
                    puChart.parent().parent().removeClass();
                    puChart.parent().parent().addClass("col-xs-2 col-md-offset-4");
                } else if (e.sender.value() === "@RangeData.MONTHLY") {
                    monthChart.parent().parent().hide();
                    yearChart.parent().parent().show();
                    puChart.parent().parent().removeClass();
                    puChart.parent().parent().addClass("col-xs-2 col-md-offset-6");
                } else {
                    monthChart.parent().parent().hide();
                    yearChart.parent().parent().hide();
                    puChart.parent().parent().removeClass();
                    puChart.parent().parent().addClass("col-xs-2 col-md-offset-8");
                }

                getBottomDashboardModel(
                    $puChart.value(),
                    e.sender.value(),
                    $monthChart.value(),
                    $yearChart.value()
                );
            });

            $yearChart.bind("change", function (e) {
                getBottomDashboardModel(
                    $puChart.value(),
                    $rangeData.value(),
                    $monthChart.value(),
                    e.sender.value()
                );
            });

            $puChart.bind("dataBound", function (e) {
                isPUChartBounded = true;

                if (isPUChartBounded && isRangeDataBoudned && isYearChartBounded && isMonthChartBounded) {
                    getBottomDashboardModel(
                        e.sender.value(),
                        $rangeData.value(),
                        $monthChart.value(),
                        $yearChart.value()
                    );
                }
            });

            $rangeData.bind("dataBound", function (e) {
                if (e.sender.value() === "@RangeData.DAILY") {
                    monthChart.parent().parent().show();
                    yearChart.parent().parent().show();
                    puChart.parent().parent().removeClass();
                    puChart.parent().parent().addClass("col-xs-2 col-md-offset-4");
                } else if (e.sender.value() === "@RangeData.MONTHLY") {
                    monthChart.parent().parent().hide();
                    yearChart.parent().parent().show();
                    puChart.parent().parent().removeClass();
                    puChart.parent().parent().addClass("col-xs-2 col-md-offset-6");
                } else {
                    monthChart.parent().parent().hide();
                    yearChart.parent().parent().hide();
                    puChart.parent().parent().removeClass();
                    puChart.parent().parent().addClass("col-xs-2 col-md-offset-8");
                }

                isRangeDataBoudned = true;

                if (isPUChartBounded && isRangeDataBoudned && isYearChartBounded && isMonthChartBounded) {
                    getBottomDashboardModel(
                        $puChart.value(),
                        e.sender.value(),
                        $monthChart.value(),
                        $yearChart.value()
                    );
                }
            });

            $yearChart.bind("dataBound", function (e) {
                isYearChartBounded = true;

                if (isPUChartBounded && isRangeDataBoudned && isYearChartBounded && isMonthChartBounded) {
                    getBottomDashboardModel(
                        $puChart.value(),
                        $rangeData.value(),
                        $monthChart.value(),
                        e.sender.value()
                    );
                }
            });
        }
    </script>
}
