﻿@{
    ViewBag.Title = TitleSite.Executive;
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-3">
                    <input class="form-control" id="areaOptions" style="width:100%" />
                </div>
                <div class="col-xs-3">
                    <input class="form-control" id="rangeOptions" style="width:100%" />
                </div>
                <div class="col-xs-3">
                    <input class="form-control" id="monthOptions" style="width:100%" />
                </div>
                <div class="col-xs-3">
                    <input class="form-control" id="yearOptions" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-4">
            <div class="ibox-title">
                Electricity Production Summary
            </div>
            <div id="electricLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="electricIbox" class="ibox-content" style="display:none;">
                <div class="row" style="position: relative;">
                    <div class="col-xs-12" style="padding-right: 20%;padding-left: 20%;">
                        <canvas id="electricCanvas" width="1" height="1"></canvas>
                        <div class="donut-inner">
                            <div style="font-size:1.5vw;color:black"><strong id="electricPercent"></strong></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:orange">Plan RKAP:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="electricPlan" style="font-size:1vw 7vh;color:orange"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:green">Actual:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="electricActual" style="font-size:1vw 7vh;color:green"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ibox-title">
                Steam Production Summary
            </div>
            <div id="steamLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="steamIbox" class="ibox-content" style="display:none;">
                <div class="row">
                    <div class="col-xs-12" style="padding-right: 20%;padding-left: 20%;">
                        <canvas id="steamCanvas" width="1" height="1"></canvas>
                        <div class="donut-inner">
                            <div style="font-size:1.5vw;color:black"><strong id="steamPercent"></strong></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:orange">Plan RKAP:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="steamPlan" style="font-size:1vw 7vh;color:orange"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:green">Actual:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="steamActual" style="font-size:1vw 7vh;color:green"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ibox-title">
                Financial Summary
            </div>
            <div id="financialLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="financialIbox" class="ibox-content" style="display:none;">
                <div class="row">
                    <div class="col-xs-12" style="padding-right: 20%;padding-left: 20%;">
                        <canvas id="financialCanvas" width="1" height="1"></canvas>
                        <div class="donut-inner">
                            <div style="font-size:1.5vw;color:black"><strong id="financialPercent"></strong></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:orange">Plan RKAP:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="financialPlan" style="font-size:1vw 7vh;color:orange"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:green">Est Revenue:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="financialActual" style="font-size:1vw 7vh;color:green"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="row m-b-xs m-t-lg">
        <div class="col-xs-2">
            <input class="form-control" id="puOptions" style="width:100%" />
        </div>
    </div>
    <div class="row">
        <div id="poPanel" class="col-xs-4">
            <div class="ibox-title">
                Production Overview
            </div>
            <div id="poLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="poIbox" class="ibox-content" style="display:none;">
            </div>
        </div>
        <div id="ppaPanel" class="col-xs-8">
            <div class="ibox-title">
                Production Plan vs Actual
            </div>
            <div id="ppaLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="ppaIbox" class="ibox-content" style="display:none;">
            </div>
        </div>
        <div class="col-xs-12" id="ppapoWarning" style="display:none;">
            <div class="alert alert-warning text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 0px;">
                <p id="message">No Data plan or actual, please input data.</p>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins m-t-lg">
    <div class="ibox-title">
        Production by Area
    </div>
    <div id="pwkpLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
    <div id="pwkpIbox" class="ibox-content" style="display:none;">
        <div id="grid"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var areaOptions = $().data("kendoDropDownList"),
            rangeOptions = $().data("kendoDropDownList"),
            monthOptions = $().data("kendoDropDownList"),
            yearOptions = $().data("kendoDropDownList"),
            puOptions = $().data("kendoDropDownList");

        var isAreaOptionsBounded = false,
            isRangeOptionsBounded = false,
            isMonthOptionsBounded = false,
            isYearOptionsBounded = false,
            isPUOptionsBounded = false;

        var electricDoughnut,
            steamDoughnut,
            financialDoughnut;
        var isElectricDoughnutRedraw = false,
            isSteamDoughnutRedraw = false,
            isFinancialDoughnutRedraw = false;

        var ppaChart = $().data("kendoChart");

        var poChart = $().data("kendoChart");

        var grid = $().data("kendoGrid");

        $(function () {
            $("#monthOptions").val((new Date().getMonth() + 1));

            $("#electricIbox").hide();
            $("#steamIbox").hide();
            $("#financialIbox").hide();
            $("#pwkpIbox").hide();
            $("#electricLoading").hide();
            $("#steamLoading").hide();
            $("#financialLoading").hide();
            $("#pwkpLoading").hide();

            $("#ppaIbox").hide();
            $("#poIbox").hide();
            $("#ppaLoading").hide();
            $("#poLoading").hide();
            $("#ppapoWarning").hide();

            initAreaOptions();
            initRangeOptions();
            initMonthOptions();
            initYearOptions();
            initPUOptions();
            initPWKPGrid();

        });

        function initAreaOptions() {
            areaOptions = dropdownListGenerator($("#areaOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA_ZPGE", "@Field.Name", "@Component.OptionLabelAreaAll", false, null);

            areaOptions.bind("change", function (e) {
                if (e.sender.value() === "") {
                    $("#ppaPanel").removeClass("col-xs-12");
                    $("#ppaPanel").addClass("col-xs-8");
                    $("#poPanel").show();
                } else {
                    $("#poPanel").hide();
                    $("#ppaPanel").removeClass("col-xs-8");
                    $("#ppaPanel").addClass("col-xs-12");
                }

                setDoughnutGridData(
                    e.sender.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    yearOptions.value()
                );

                setPPAPOData(
                    e.sender.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    yearOptions.value(),
                    puOptions.value()
                )
            });

            areaOptions.bind("dataBound", function (e) {
                isAreaOptionsBounded = true;

                if (e.sender.value() === "") {
                    $("#ppaPanel").removeClass("col-xs-12");
                    $("#ppaPanel").addClass("col-xs-8");
                    $("#poPanel").show();
                } else {
                    $("#poPanel").hide();
                    $("#ppaPanel").removeClass("col-xs-8");
                    $("#ppaPanel").addClass("col-xs-12");
                }

                if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                    setDoughnutGridData(
                        e.sender.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );

                    setPPAPOData(
                        e.sender.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );
                }
            });
        }

        function initRangeOptions() {
            rangeOptions = dropdownListGenerator($("#rangeOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.RANGE_DATA", "@Field.Name", "", false, null);

            rangeOptions.bind("change", function (e) {
                if (e.sender.value() === "@RangeData.DAILY") {
                    $("#monthOptions").parent().parent().show();
                    $("#yearOptions").parent().parent().show();
                } else if (e.sender.value() === "@RangeData.MONTHLY") {
                    $("#monthOptions").parent().parent().hide();
                    $("#yearOptions").parent().parent().show();
                } else {
                    $("#monthOptions").parent().parent().hide();
                    $("#yearOptions").parent().parent().hide();
                }

                setDoughnutGridData(
                    areaOptions.value(),
                    e.sender.value(),
                    monthOptions.value(),
                    yearOptions.value()
                );

                setPPAPOData(
                    areaOptions.value(),
                    e.sender.value(),
                    monthOptions.value(),
                    yearOptions.value(),
                    puOptions.value()
                );
            });

            rangeOptions.bind("dataBound", function (e) {
                isRangeOptionsBounded = true;

                if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                    setDoughnutGridData(
                        areaOptions.value(),
                        e.sender.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );

                    setPPAPOData(
                        areaOptions.value(),
                        e.sender.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );
                }
            });
        }

        function initMonthOptions() {
            var monthOptionsDS =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.Value";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.Text"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.MONTH";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Value", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            monthOptions = $("#monthOptions").kendoDropDownList({
                dataSource: monthOptionsDS,
                dataBound: function (e) {
                    isMonthOptionsBounded = true;

                    if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                        setDoughnutGridData(
                            areaOptions.value(),
                            rangeOptions.value(),
                            e.sender.value(),
                            yearOptions.value()
                        );

                        setPPAPOData(
                            areaOptions.value(),
                            rangeOptions.value(),
                            e.sender.value(),
                            yearOptions.value(),
                            puOptions.value()
                        );
                    }
                },
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                change: function (e) {
                    setDoughnutGridData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        e.sender.value(),
                        yearOptions.value()
                    );

                    setPPAPOData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        e.sender.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );
                },
            }).data("kendoDropDownList");
        }

        function initYearOptions() {
            yearOptions = dropdownListGenerator($("#yearOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_TASK", "@Field.Name", "", false, null);

            yearOptions.bind("change", function (e) {
                setDoughnutGridData(
                    areaOptions.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    e.sender.value()
                );

                setPPAPOData(
                    areaOptions.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    e.sender.value(),
                    puOptions.value()
                );
            });

            yearOptions.bind("dataBound", function (e) {
                isYearOptionsBounded = true;

                if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                    setDoughnutGridData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        e.sender.value()
                    );

                    setPPAPOData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        e.sender.value(),
                        puOptions.value()
                    );
                }
            });
        }

        function initPUOptions() {
            puOptions = dropdownListGenerator($("#puOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRODUCT_UTILIZATION", "@Field.Name", "", false, ["Days Effective"]);

            puOptions.bind("change", function (e) {
                setPPAPOData(
                    areaOptions.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    yearOptions.value(),
                    e.sender.value()
                );
            });

            puOptions.bind("dataBound", function (e) {
                isPUOptionsBounded = true;

                if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                    setDoughnutGridData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );

                    setPPAPOData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        e.sender.value()
                    );
                }
            });
        }

        function initElectricDoughnut(model) {
            $("#electricPercent").empty();
            $("#electricPercent").text((kendo.toString(model.EnergyActual === null ? 0 : model.EnergyActual, "n2")) + " %");

            $("#electricPlan").empty();
            $("#electricPlan").text((kendo.toString(model.SumEnergyPlan === null ? 0 : model.SumEnergyPlan, "n2")) + " MWH");

            $("#electricActual").empty();
            $("#electricActual").text((kendo.toString(model.SumEnergyNett === null ? 0 : model.SumEnergyNett, "n2")) + " MWH");

            var temp = 0;
            var data = [];
            var color;

            temp = parseFloat(model.EnergyActual.toString().replace(',', '.'));

            if (temp >= 0 && temp <= 50) {
                color = "#f44336"
            } else if (temp > 50 && temp <= 70) {
                color = "#FFEB3B";
            } else {
                color = "#4CAF50";
            }

            if (isElectricDoughnutRedraw) {
                electricDoughnut.destroy();
            } else {
                isElectricDoughnutRedraw = true;
            }

            //doughnut electric
            var ctx = document.getElementById("electricCanvas").getContext("2d");
            var gradientColors = [
                {
                    start: color,
                    end: color
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients = [];

            gradientColors.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients.push(gradient);
            });

            if (temp > 100) {
                data = [100, 0];
            } else {
                data = [temp, 100 - temp];
            }

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    },
                    //layout: {
                    //    padding: {
                    //        left: 50,
                    //        right: 0,
                    //        top: 0,
                    //        bottom: 0
                    //    }
                    //}
                },
            };
            electricDoughnut = new Chart(ctx, config);
        }

        function initSteamDoughnut(model) {
            $("#steamPercent").empty();
            $("#steamPercent").text((kendo.toString(model.SteamActual === null ? 0 : model.SteamActual, "n2")) + " %");

            $("#steamPlan").empty();
            $("#steamPlan").text((kendo.toString(model.SumSteamPlan === null ? 0 : model.SumSteamPlan, "n2")) + " TON");

            $("#steamActual").empty();
            $("#steamActual").text((kendo.toString(model.SumSteamUtilization === null ? 0 : model.SumSteamUtilization, "n2")) + " TON");

            var temp = 0;
            var data = [];
            var color;

            temp = parseFloat(model.SteamActual.toString().replace(',', '.'));

            if (temp >= 0 && temp <= 50) {
                color = "#f44336"
            } else if (temp > 50 && temp <= 70) {
                color = "#FFEB3B";
            } else {
                color = "#4CAF50";
            }

            if (isSteamDoughnutRedraw) {
                steamDoughnut.destroy();
            } else {
                isSteamDoughnutRedraw = true;
            }

            //doughnut steam
            var ctx = document.getElementById("steamCanvas").getContext("2d");
            var gradientColors = [
                {
                    start: color,
                    end: color
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients = [];

            gradientColors.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients.push(gradient);
            });

            if (temp > 100) {
                data = [100, 0];
            } else {
                data = [temp, 100 - temp];
            }

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    }
                },
            };
            steamDoughnut = new Chart(ctx, config);
        }

        function initFinancialDoughnut(model) {
            $("#financialPercent").empty();
            $("#financialPercent").text((kendo.toString(model.FinancialActual === null ? 0 : model.FinancialActual, "n2")) + " %");

            $("#financialPlan").empty();
            $("#financialPlan").text("USD. " + (kendo.toString(model.SumFinancialPlan === null ? 0 : model.SumFinancialPlan, "n2")));

            $("#financialActual").empty();
            $("#financialActual").text("USD. " + (kendo.toString(model.SumFinancial === null ? 0 : model.SumFinancial, "n2")));

            var temp = 0;
            var data = [];
            var color;

            temp = parseFloat(model.FinancialActual.toString().replace(',', '.'));

            if (temp >= 0 && temp <= 50) {
                color = "#f44336"
            } else if (temp > 50 && temp <= 70) {
                color = "#FFEB3B";
            } else {
                color = "#4CAF50";
            }

            if (isFinancialDoughnutRedraw) {
                financialDoughnut.destroy();
            } else {
                financialDoughnut = true;
            }

            //doughnut financial
            var ctx = document.getElementById("financialCanvas").getContext("2d");
            var gradientColors = [
                {
                    start: color,
                    end: color
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients = [];

            gradientColors.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients.push(gradient);
            });

            if (temp > 100) {
                data = [100, 0];
            } else {
                data = [temp, 100 - temp];
            }

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    }
                },
            };
            financialDoughnut = new Chart(ctx, config);
        }

        function getPWKPGridDS(area, range, month, year) {
            return new kendo.data.DataSource({
                transport: {
                    read: {
                        beforeSend: function (e) {
                            $("#pwkpIbox").hide();
                            $("#pwkpLoading").show();
                        },
                        url: "@Url.Action("BindingProductionByWkp")?areaId="+area+"&&rangeData="+range+"&&year="+year+"&&month="+month,
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.PowerPlantName",
                        fields: {
                            "@Field.AreaName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.PowerPlantName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Capacity": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Actual": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Productivity": { type: "@DataSource.Schema.Type.Number" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.AreaName", dir: "@SortOrder.Descending.ToDescription()" }
            });
        }

        function initPWKPGrid() {
            var columns = [
                {
                    field: "@Field.AreaName",
                    title: "Area",
                    width: "150px"
                },
                {
                    field: "@Field.PowerPlantName",
                    title: "PLTP Unit",
                    width: "150px"
                },
                {
                    field: "@Field.Capacity",
                    title: "Plan Power Generated (MWh)",
                    format: "{0:n0}",
                    width: "150px",
                    filterable: false,
                    sortable: false
                },
                {
                    field: "@Field.Actual",
                    title: "Actual Power Generated (MWh)",
                    format: "{0:n2}",
                    width: "150px",
                    filterable: false,
                    sortable: false
                },
                {
                    field: "StrProductivity",
                    title: "Percentage",
                    width: "150px",
                    filterable: false,
                    sortable: false
                }
            ];

            grid = $("#grid").kendoGrid({
                autoBind: false,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: columns,
                dataBound: function (e) {
                    $("#pwkpIbox").show();
                    $("#pwkpLoading").hide();
                }
            }).data("kendoGrid");
        }

        function setDoughnutGridData(area, range, month, year) {
            if (area === "") {
                area = 0;
            }

            $.ajax({
                url: "@Url.Action("GetTopDashboardExecutiveModel")",
                type: "POST",
                dataType: "json",
                data: { "areaId": area, "month": month, "endYear": year, "rangeData": range},
                beforeSend: function () {
                    $("#electricIbox").hide();
                    $("#electricLoading").show();
                    $("#steamIbox").hide();
                    $("#steamLoading").show();
                    $("#financialIbox").hide();
                    $("#financialLoading").show();

                    grid.setDataSource(getPWKPGridDS(area, range, month, year));
                    grid.dataSource.read();
                },
                success: function (model) {
                    $("#electricLoading").hide();
                    $("#electricIbox").show();
                    $("#steamLoading").hide();
                    $("#steamIbox").show();
                    $("#financialLoading").hide();
                    $("#financialIbox").show();

                    initElectricDoughnut(model);
                    initSteamDoughnut(model);
                    initFinancialDoughnut(model);
                }
            });
        }

        function initPPADailyChart(jsonDailyPlanParam, jsonDailyActualParam, categoriesParam, puParam) {
            var plan = [];
            var listCategori = [];
            var title,flag = true;

            $.each(jsonDailyPlanParam, function (i, value) {
                plan.push((value.toString().replace(',', '.') * 1));
            });

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}",
                        rotation: -65
                    },
                    data: plan,
                    style: "smooth",
                    opacity: 0.5,
                    width: 1.5,
                    markers: {
                        visible: true,
                        background: "",
                        size: 5
                    }
                }
            ];

            $.each(jsonDailyActualParam, function (i, dailyActual) {
                var data = [];
                $.each(dailyActual.ActualValue, function (j, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                series.push({ type: "bar", stack: true, overlay: { gradient: "none" }, name: dailyActual.AreaName, data: data });
            });

            if (categoriesParam !== null) {
                $.each(categoriesParam, function (i, category) {
                    listCategori.push(category);
                });
            }

            if (puParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            $("#ppaIbox").empty();
            $("#ppaIbox").append("<div id=\"ppaChart\" style=\"width:100%;height:100%;\"></div>");

            ppaChart = $("#ppaChart").kendoChart({
                theme: 'material',
                chartArea: {
                    height: "400px"
                },
                title: {
                    text: title
                },
                legend: {
                    visible: true,
                    position: "bottom",
                    labels: {
                        font: "14px 'open sans'",
                        color: "#000"
                    },
                    orientation: "horizontal"
                },
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: listCategori
                },
                seriesDefaults: {
                    type: "bar",
                    stack: true
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n3}"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                },
                dataBound: function () {
                    setTimeout(createSlave, 0);
                }
            }).data("kendoChart");
        }

        function initPPAMonthlyChart(jsonMonthlyPlanParam, jsonMonthlyActualParam, puParam) {
            var plan = [];
            var title, flag = true;

            $.each(jsonMonthlyPlanParam, function (i, monthlyPlan) {
                plan.push((monthlyPlan.toString().replace(',', '.') * 1));
            });

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}"
                    },
                    data: plan,
                    style: "smooth",
                    opacity: 0.5,
                    width: 1.5,
                    markers: {
                        visible: true,
                        background: "",
                        size: 5
                    }
                }
            ];

            $.each(jsonMonthlyActualParam, function (i, monthlyActual) {
                var data = [];
                $.each(monthlyActual.ActualValue, function (i, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                series.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: monthlyActual.AreaName, data: data });
            });

            if (puParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            $("#ppaIbox").empty();
            $("#ppaIbox").append("<div id=\"ppaChart\" style=\"width:100%;height:100%;\"></div>");

            ppaChart = $("#ppaChart").kendoChart({
                theme: 'material',
                chartArea: {
                    height: "400px"
                },
                title: {
                    text: title
                },
                legend: {
                    visible: true,
                    position: "bottom",
                    labels: {
                        font: "14px 'open sans'"
                    },
                    orientation: "horizontal"
                },
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                },
                seriesDefaults: {
                    type: "column",
                    stack: true
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true,
                    },
                    labels: {
                        format: "{0:n0}"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                },
                dataBound: function () {
                    setTimeout(createSlave, 0);
                }
            }).data("kendoChart");
        }

        function initPPAYearlyChart(jsonYearlyPlanParam,listYearParam,jsonYearlyActualParam, puParam) {
            var planYearlyValue = [],
                planYearly = [],
                listYear = [],
                title,
                flag = true;

            $.each(jsonYearlyPlanParam, function (i, yearlyPlan) {
                planYearlyValue.push((yearlyPlan.Value.toString().replace(',', '.') * 1));
                planYearly.push(yearlyPlan.Year);
            });

            if (listYearParam !== null) {
                $.each(listYearParam, function (i, y) {
                    listYear.push(y);
                });
            }

            var seriesChartYear = [{
                type: "line",
                name: "Target",
                labels: {
                    visible: true,
                    format: "{0:n2}"
                },
                data: planYearlyValue,
                style: "smooth",
                opacity: 0.5,
                width: 1.5,
                markers: {
                    visible: true,
                    background: "",
                    size: 5
                }
            }];

            $.each(jsonYearlyActualParam, function (i, yearlyActual) {
                var data = [];
                $.each(yearlyActual.ActualValue, function (j, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                seriesChartYear.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: yearlyActual.AreaName, data: data});
            });

            if (puParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            $("#ppaIbox").empty();
            $("#ppaIbox").append("<div id=\"ppaChart\" style=\"width:100%;height:100%;\"></div>");

            ppaChart = $("#ppaChart").kendoChart({
                theme: 'material',
                chartArea: {
                    height: "400px",
                    background: ""
                },
                legend: {
                    visible: true,
                    position: "bottom",
                    labels: {
                        font: "14px 'open sans'"
                    },
                    orientation: "horizontal"
                },
                title: {
                    text: title
                },
                series: seriesChartYear,
                seriesDefaults: {
                    type: "column",
                    stack: true
                },
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: listYear
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    }
                },
                tooltip: {
                    format: "{0:n2}",
                    visible: true,
                }
            }).data("kendoChart");
        }

        function initPOChart(dataModel) {            
            var centerText = kendo.format('{0:N2}', (dataModel.TotalActualValue/1000));
            var centerPU;
            if (puOptions.value() === "@ProductionUtilization.ELECTRIC") {
                centerText += " GWh";
            } else {
                centerText += " TON";
            }
            var center;
            var radius;

            $("#poIbox").empty();
            $("#poIbox").append("<div id=\"poChart\"></div>");

            poChart = $("#poChart").kendoChart({
                theme: 'material',
                seriesColors: ["#03a9f4", "#4caf50", "#f9ce1d", "#ff9800", "#ff5722", "#3f51b5"],
                chartArea: {
                    height: "400px"
                },
                title: {
                    text: centerText,
                    font: "20px Verdana,Arial,sans-serif"
                },
                legend: {
                    position: "bottom"
                },
                legendItemClick: function (e) {
                    e.preventDefault();
                },
                seriesDefaults: {
                    labels: {
                        //template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                        position: "center",
                        template: "#= value > 0 ? kendo.format('{0:P}', percentage) : ''#",
                        visible: true,
                        background: "transparent",
                        color: "#000",
                        font: "10px Verdana,Arial,sans-serif"

                    }
                },
                series: [{
                    type: "pie",
                    startAngle: 150,
                    //visual: function (e) {
                    //    center = e.center;
                    //    radius = e.radius;

                    //    return e.createVisual();
                    //},
                    data: dataModel.DataActualValueByArea,
                }],
                tooltip: {
                    visible: true,
                    template: "#= category # - #= kendo.format('{0:P}', percentage) #"
                },
                //render: function (e) {
                //    var draw = kendo.drawing;
                //    var geom = kendo.geometry;
                //    var chart = e.sender;

                //    //var circleGeometry = new geom.Circle(center, radius);
                //    //var bbox = circleGeometry.bbox();
                //    //var text = new draw.Text(centerText, [0, 0], {
                //    //    font: "18px Verdana,Arial,sans-serif"
                //    //});

                //    //draw.align([text], bbox, "center");
                //    //draw.vAlign([text], bbox, "center");

                //    //e.sender.surface.draw(text);

                //    var centerNum = center.clone();
                //    centerNum.y = centerNum.y - 130;
                //    //var centermWh = center.clone();
                //    //centermWh.y = centermWh.y + 10;

                //    var circleGeometryNum = new geom.Circle(centerNum, radius);
                //    var bboxNum = circleGeometryNum.bbox();
                //    var textNum = new draw.Text(centerText, [0, 0], {
                //        font: "20px Verdana,Arial,sans-serif"
                //    });

                //    //var circleGeometrymWh = new geom.Circle(centermWh, radius);
                //    //var bboxmWh = circleGeometrymWh.bbox();
                //    //var textmWh = new draw.Text(centerPU, [0, 0], {
                //    //    font: "20px Verdana,Arial,sans-serif"
                //    //});

                //    draw.align([textNum], bboxNum, "center");
                //    draw.vAlign([textNum], bboxNum, "center");

                //    //draw.align([textmWh], bboxmWh, "center");
                //    //draw.vAlign([textmWh], bboxmWh, "center");

                //    e.sender.surface.draw(textNum);
                //    //e.sender.surface.draw(textmWh);
                //}
            });
        }

        function getPOChartDataModel(actualData) {
            console.log(actualData)
            var totalActualValue = 0;
            var data = [];

            $.each(actualData, function (i, actualObject) {
                $.each(actualObject.ActualValue, function (j, actualValue) {
                    var temp = actualValue * 1000;
                    totalActualValue += temp;
                });
            });

            $.each(actualData, function (i, actualObject) {
                var sumActualValue = 0;
                $.each(actualObject.ActualValue, function (j, actualValue) {
                    sumActualValue = sumActualValue + actualValue;
                });
                data.push({
                    category: actualObject.AreaName,
                    value: (sumActualValue / totalActualValue) * 100,
                    explode:true
                });
            });

            return {
                TotalActualValue: totalActualValue,
                DataActualValueByArea: data
            };
        }

        function setPPAPOData(area, range, month, year, pu) {
            if (area === "") {
                area = 0;
            }

            $.ajax({
                url: "@Url.Action("GetBottomDashboardModel")",
                type: "POST",
                dataType: "json",
                data: { "areaId":area, "puChart": pu, "rangeData": range, "monthChart": month, "yearChart": year },
                beforeSend: function () {
                    $("#ppapoWarning").hide();
                    $("#ppaIbox").hide();
                    $("#ppaLoading").show();
                    $("#poIbox").hide();
                    $("#poLoading").show();
                },
                success: function (model) {
                    $("#ppaLoading").hide();
                    $("#poLoading").hide();

                    if (model.ChartHasData) {
                        $("#ppaIbox").show();
                        $("#poIbox").show();

                        if (range === "@RangeData.MONTHLY") {
                            initPPAMonthlyChart(model.JsonMonthlyPlan, model.JsonMonthlyActual, model.ProductionUtilizationChart);
                            if (area === 0) {
                                initPOChart(getPOChartDataModel(model.JsonMonthlyActualPO));
                            }
                        } else if (range === "@RangeData.YEARLY") {
                            initPPAYearlyChart(model.JsonYearlyPlan, model.ListYear, model.JsonYearlyActual, model.ProductionUtilizationChart);
                            if (area === 0) {
                                initPOChart(getPOChartDataModel(model.JsonYearlyActualPO));
                            }
                        } else {
                            initPPADailyChart(model.JsonDailyPlan, model.JsonDailyActual, model.Categories, model.ProductionUtilizationChart);
                            if (area === 0) {
                                initPOChart(getPOChartDataModel(model.JsonDailyActualPO));
                            }
                        }
                    } else {
                        $("#ppapoWarning").show();
                    }
                }
            });
        }

    </script>
}