﻿
@{
    ViewBag.Title = "Financial";
    string date = DateTime.Now.ToString("dd MMM yyyy");
}

<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-2">
            <input class="form-control" id="areaOptions" style="width:100%" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="rangeOptions" style="width:100%" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="monthOptions" style="width:100%" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="yearOptions" style="width:100%" />
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-6">
            <div class="ibox-title">
                REGIONAL ACTUAL
            </div>

            <div id="regionalIbox" class="ibox-content">
                <div class="row">
                    <div id="regionalLoading" class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-bold">
                            <div id="electricPlan" style="text-align:center; margin-left:-25px"></div>
                        </div>
                    </div>
                    <div id="regionalChart">
                    </div>

                </div>
            </div>
            <div class="row m-t-xs">
                <div class="col-xs-12" id="regionalWarning" style="display:none;">
                    <div class="alert alert-warning text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 0px;">
                        <p id="message">No Data, please input data.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="ibox-title">
                PRODUCTION REVENUE : ESTIMATE vs. ACTUAL
            </div>

            <div id="revenueIbox" class="ibox-content">
                <div class="row">
                    <div id="revenueLoading" class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                    <div id="revenueChart">
                    </div>
                </div>
            </div>
            <div class="row m-t-xs">
                <div class="col-xs-12" id="revenueWarning" style="display:none;">
                    <div class="alert alert-warning text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 0px;">
                        <p id="message">No Data, please input data.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        INVOICE STATISTIC
    </div>
    <div id="productIbox" class="ibox-content">
        <div id="productLoading" class="sk-spinner sk-spinner-three-bounce">
            <div class="sk-bounce1"></div>
            <div class="sk-bounce2"></div>
            <div class="sk-bounce3"></div>
        </div>
        <div id="productChart"></div>
    </div>
    <div class="row m-t-xs">
        <div class="col-xs-12" id="productWarning" style="display:none;">
            <div class="alert alert-warning text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 0px;">
                <p id="message">No Data, please input data.</p>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        SALES REP STATISTIC
    </div>
    <div id="salesIbox" class="ibox-content">
        <div id="salesLoading" class="sk-spinner sk-spinner-three-bounce">
            <div class="sk-bounce1"></div>
            <div class="sk-bounce2"></div>
            <div class="sk-bounce3"></div>
        </div>
        <div id="salesChart"></div>
    </div>
    <div class="row m-t-xs">
        <div class="col-xs-12" id="salesWarning" style="display:none;">
            <div class="alert alert-warning text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 0px;">
                <p id="message">No Data, please input data.</p>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins m-t-lg">
    <div class="ibox-title">
        Invoice
    </div>
    <div id="pwkpLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
    <div id="pwkpIbox" class="ibox-content" style="display:none;">
        <div id="grid"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var range, areaId, year, month;
        var areaOptions = $().data("kendoDropDownList"),
            rangeOptions = $().data("kendoDropDownList"),
            monthOptions = $().data("kendoDropDownList"),
            yearOptions = $().data("kendoDropDownList"),
            puOptions = $().data("kendoDropDownList");
        var grid = $().data("kendoGrid");

        $(function () {
            initElement();
        });

        function initElement() {
            $("#monthOptions").val((new Date().getMonth() + 1));

            initPWKPGrid();
            initAreaOptions();
            initRangeOptions();
            initMonthOptions();
            initYearOptions();

            
            $("#productLoading").show();
            $("#salesLoading").show();
            $("#regionalLoading").show();
            $("#revenueLoading").show();

            initProductStatistic();
            initSalesStatistic();
            initRegionalActual();
            initRevenue();
           
        }

        function onChange(e) {
            areaId = $("#areaOptions").val();
            range = $("#rangeOptions").val();

            year = $("#yearOptions").val();
            month = $("#monthOptions").val();

            $("#productLoading").show();
            $("#salesLoading").show();
            $("#regionalLoading").show();
            $("#revenueLoading").show();

            if (range == "@RangeData.YEARLY") {
                initRegionalActual(range, areaId);
                initProductStatistic(range, areaId);
                initSalesStatistic(range, areaId);
                initRevenue(range, areaId);
                grid.setDataSource(getDataSourceGrid(range, areaId));
                grid.dataSource.read();
            }
            else if (range == "@RangeData.MONTHLY") {
                initRegionalActual(range, areaId, year);
                initProductStatistic(range, areaId, year);
                initSalesStatistic(range, areaId, year);
                initRevenue(range, areaId, year);
                grid.setDataSource(getDataSourceGrid(range, areaId, year));
                grid.dataSource.read();
            }
            else {
                initRegionalActual(range, areaId, year, month);
                initProductStatistic(range, areaId, year, month);
                initSalesStatistic(range, areaId, year, month);
                initRevenue(range, areaId, year, month);
                grid.setDataSource(getDataSourceGrid(range, areaId, year, month));
                grid.dataSource.read();
            }
        }

        function getDataSourceGrid(range, areaId, year, month) {
            return new kendo.data.DataSource({
                transport: {
                    read: {
                        beforeSend: function (e) {
                            $("#pwkpIbox").hide();
                            $("#pwkpLoading").show();
                        },
                         url: "@Url.Action("BindingTable")"+"?range="+range+"&areaId=" + areaId + "&year=" + year + "&month=" + month,
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.PowerPlantName",
                        fields: {
                            "@Field.AreaName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.PowerPlantName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.WorkflowCode": { type: "@DataSource.Schema.Type.String" },
                            "@Field.NetPrice": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ProductionPercent": { type: "@DataSource.Schema.Type.Number" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.AreaName", dir: "@SortOrder.Descending.ToDescription()" }
            });
        }

        function initPWKPGrid() {
            var columns = [
                {
                    field: "@Field.AreaName",
                    title: "Area",
                    width: "150px"
                },
                {
                    field: "@Field.PowerPlantName",
                    title: "PLTP Unit",
                    width: "150px"
                },
                {
                    field: "@Field.NetPrice",
                    title: "Total Invoice",
                    format: "{0:n5}",
                    width: "150px",
                    filterable: false,
                    sortable: false
                },
                {
                    field: "@Field.ProductionPercent",
                    title: "Percentage",
                    format: "{0:n0}",
                    width: "150px",
                    filterable: false,
                    sortable: false
                },
                {
                    field: "@Field.WorkflowCode",
                    title: "Status",
                    width: "150px"
                }
            ];

            grid = $("#grid").kendoGrid({
                autoBind: false,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: columns,
                dataBound: function (e) {
                    $("#pwkpIbox").show();
                    $("#pwkpLoading").hide();
                }
            }).data("kendoGrid");
        }

        function initAreaOptions() {
            areaOptions = dropdownListGenerator($("#areaOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA_ZPGE", "@Field.Name", "@Component.OptionLabelAreaAll", false, null);
            areaOptions.bind("change", onChange);
        }

        function initRangeOptions() {
            rangeOptions = dropdownListGenerator($("#rangeOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.RANGE_DATA", "@Field.Name", "", false, null);
            rangeOptions.bind("change", function (e) {
                $("#productLoading").show();
                $("#salesLoading").show();
                $("#regionalLoading").show();
                $("#revenueLoading").show();

                range = e.sender.value();
                if (e.sender.value() === "@RangeData.DAILY") {
                    $("#monthOptions").parent().parent().show();
                    $("#yearOptions").parent().parent().show();
                    initRegionalActual(range, areaId, year, month);
                    initProductStatistic(range, areaId, year, month);
                    initSalesStatistic(range, areaId, year, month);
                    grid.setDataSource(getDataSourceGrid(range, areaId, year, month));
                    grid.dataSource.read();
                    initRevenue(range, areaId, year, month);

                } else if (e.sender.value() === "@RangeData.MONTHLY") {
                    $("#monthOptions").parent().parent().hide();
                    $("#yearOptions").parent().parent().show();
                    initRegionalActual(range, areaId, year);
                    initProductStatistic(range, areaId, year);
                    initSalesStatistic(range, areaId, year);

                    grid.setDataSource(getDataSourceGrid(range, areaId, year));
                    grid.dataSource.read();

                    initRevenue(range, areaId, year);

                } else {
                    $("#monthOptions").parent().parent().hide();
                    $("#yearOptions").parent().parent().hide();
                    initRegionalActual(range, areaId);
                    initProductStatistic(range, areaId);
                    initSalesStatistic(range, areaId);

                    grid.setDataSource(getDataSourceGrid(range, areaId,));
                    grid.dataSource.read();

                    initRevenue(range, areaId);

                }
            });
        }

        function initMonthOptions() {
            var monthOptionsDS =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.Value";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.Text"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.MONTH";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Value", dir: "@SortOrder.Ascending.ToDescription()" }
            });
            monthOptions = $("#monthOptions").kendoDropDownList({
                dataSource: monthOptionsDS,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
            });
            monthOptions.bind("change", onChange);
        }

        function initYearOptions() {
            yearOptions = dropdownListGenerator($("#yearOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_TASK", "@Field.Name", "", false, null);
            yearOptions.bind("change", onChange);
            yearOptions.bind("dataBound", onChange);
        }

        function initProductStatistic(range, areaId, year, month) {
            $("#productLoading").show();
            if (range === undefined)
                range = "";            
            var ds =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action("BindingProduction")"+"?range="+range+"&areaId=" + areaId + "&year=" + year + "&month=" + month,
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        }
                    }
                },
                group: {
                    field: "AreaName",
                },                
                schema: {
                    model: {
                        fields: {
                            Periode: { type: "date" },
                            AreaId: { type: "number" },
                            Year: { type: "number" },
                            Month: { type: "number" },
                            Day: { type: "number" },
                            Production: { type: "number" },
                            ProductionPercent: { type: "number" },
                        }
                    }
                },
                sort: {
                    field: "AreaId",
                    dir: "desc"
                },
            });

            $("#productChart").kendoChart({
                theme: "material",
                seriesColors: ["#03a9f4", "#4caf50", "#f9ce1d", "#ff9800", "#ff5722", "#3f51b5"],
                //title: { text: "Product Statistic" },
                dataSource: ds,
                legend: {
                    position: "bottom"
                },
                series: [{
                    type:"column",
                    field: "Production",
                    categoryField: "PeriodeStr",
                    name: "#= group.value #"
                }],
                valueAxis: {
                    labels: {
                        format: "${0:N0}",
                    }
                },
                tooltip: {
                    visible: true,
                    format: "N2",
                    template: "#= dataItem.AreaName # - $#= kendo.format('{0:N2}', value)#"
                },                
                dataBound: function (e) {
                    var data = e.sender.dataSource._data;
                    var total = 0;
                    
                    $.each(data, function (i, val) {
                        total += val.Production;
                    });
 
                    if (total == 0) {
                        $("#productWarning").show();
                        $("#productIbox").hide();
                    }
                    else {
                        $("#productWarning").hide();
                        $("#productIbox").show();
                    }
                        
                    $("#productLoading").hide();

                }
            });
        }

        function initSalesStatistic(range, areaId, year, month) {
            $("#salesLoading").show();

            if (range === undefined)
                range = "";            
            var ds =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action("BindingSales")"+"?range="+range+"&areaId=" + areaId + "&year=" + year + "&month=" + month,
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        }
                    }
                },
                group: {
                    field: "AreaName",
                },                
                schema: {
                    model: {
                        fields: {
                            Periode: { type: "date" },
                            AreaId: { type: "number" },
                            Year: { type: "number" },
                            Month: { type: "number" },
                            Day: { type: "number" },
                            Production: { type: "number" },
                            ProductionPercent: { type: "number" },
                        }
                    }
                },
                sort: {
                    field: "AreaId",
                    dir: "desc"
                },
            });

            $("#salesChart").kendoChart({
                theme: "material",
                seriesColors: ["#03a9f4", "#4caf50", "#f9ce1d", "#ff9800", "#ff5722", "#3f51b5"],
                //title: { text: "Product Statistic" },
                dataSource: ds,
                legend: {
                    position: "bottom"
                },
                series: [{
                    type:"column",
                    field: "Production",
                    categoryField: "PeriodeStr",
                    name: "#= group.value #"
                }],
                valueAxis: {
                    labels: {
                        format: "${0:N0}",                        
                    }
                },
                tooltip: {
                    visible: true,
                    format: "N2",
                    template: "#= dataItem.AreaName # - $#= kendo.format('{0:N2}', value)#"
                },
                dataBound: function (e) {
                    var data = e.sender.dataSource._data;
                    var total = 0;                    

                    $.each(data, function (i, val) {
                        total += val.Production;
                    });
 
                    if (total == 0) {
                        $("#salesWarning").show();
                        $("#salesIbox").hide();
                    }
                    else {
                        $("#salesWarning").hide();
                        $("#salesIbox").show();
                    }
                        
                    $("#salesLoading").hide();

                }
            });
        }

        function initRegionalActual(range, areaId, year, month) {
            $("#regionalLoading").show();
            if (range === undefined)
                range = "";            
            var regionalDs =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action("BindingRegional")"+"?range="+range+"&areaId=" + areaId + "&year=" + year + "&month=" + month,
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        }
                    }
                },
                sort: {
                    field: "AreaName",
                    dir: "asc"
                },
                schema: {
                    model: {
                        fields: {
                            Periode: { type: "date" },
                            AreaId: { type: "number" },
                            Year: { type: "number" },
                            Month: { type: "number" },
                            Day: { type: "number" },
                            Production: { type: "number" },
                            ProductionPercent: { type: "number" },
                        }
                    }
                }
            });

            $("#regionalChart").kendoChart({
                theme: "material",
                seriesColors: ["#03a9f4", "#4caf50", "#f9ce1d", "#ff9800", "#ff5722", "#3f51b5"],               
                dataSource: regionalDs,
                legend: {
                    position: "bottom"
                },
                title: {
                   
                    //text: "textvaluetitle",
                    //font: "bold 14px  Arial,Helvetica,sans-serif",
                    //align: "center",
                },
                seriesDefaults: {
                    labels: {
                        position: "center",
                        template: "#= value > 0 ? kendo.format('{0:P}', percentage) : ''#",
                        visible: true,
                        background: "transparent",
                        color: "#000",
                    }
                },
                series: [{
                    type: "pie",
                    field: "Production",
                    categoryField: "AreaName",
                    startAngle: 150,
                    explodeField:"IsExplode",
                }],
                tooltip: {
                    visible: true,
                    format: "N0",
                    template: "#= category # - #= kendo.format('{0:N2}', value)#"
                },
                render: function (e) {
                    var data = e.sender.dataSource._data;
                    var netTotal = 0;
                    $.each(data, function (i, val) {
                        netTotal = val.TotalNetValue;
                    });
                    //var value = " $ " + (kendo.toString(netTotal === null ? 0 : netTotal, "n2"));
                    //var tph = e.sender.element.find("text:contains(textvaluetitle)");
                    //tph.text( value);
                },
                dataBound: function (e) {
                    var data = e.sender.dataSource._data;
                    var total = 0;
                    var netTotal = 0;
                    $.each(data, function (i, val) {
                        total += val.Production;
                        netTotal = val.TotalNetValue;
                    });
                    $("#electricPlan").empty();
                    $("#electricPlan").text("Total Net Value $ " + (kendo.toString(netTotal === null ? 0 : netTotal, "n2")));
                    if (total == 0) {
                        $("#regionalWarning").show();
                        $("#regionalIbox").hide();
                    }
                    else {
                        $("#regionalWarning").hide();
                        $("#regionalIbox").show();
                    }
                        
                    $("#regionalLoading").hide();

                }
            });
        }

        function initRevenue(range, areaId, year, month) {
            $("#revenueLoading").show();
            if (range === undefined)
                range = "";            
            var regionalDs =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action("BindingRevenue")"+"?range="+range+"&areaId=" + areaId + "&year=" + year + "&month=" + month,
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        }
                    }
                },
                //group: {
                //    field:"AreaName"
                //},
                sort: {
                    field: "AreaName",
                    dir: "asc"
                },
                schema: {
                    model: {
                        fields: {
                            Periode: { type: "date" },
                            AreaId: { type: "number" },
                            Year: { type: "number" },
                            Month: { type: "number" },
                            Day: { type: "number" },
                            Production: { type: "number" },
                            ProductionPercent: { type: "number" },
                        }
                    }
                }
            });

            $("#revenueChart").kendoChart({
                theme: "material",
                seriesColors: ["#03a9f4", "#4caf50", "#f9ce1d", "#ff9800", "#ff5722", "#3f51b5"],
                //title: { text: "Regional Actual" },
                dataSource: regionalDs,
                legend: {
                    position: "bottom"
                },
                series: [
                    {
                        type: "line",  
                        style: "smooth",
                        field: "Production",
                        categoryField: "AreaName",
                        name: "Estimate",
                        color:"#03a9f4"
                    },
                    {
                        type: "line",
                        style: "smooth",                   
                        field: "ProductionActual",
                        categoryField: "AreaName",
                        startAngle: 150,
                        name: "Actual",
                        color:"#ff9800"
                    },
                ],
                valueAxis: {
                    labels: {
                        format: "${0:N0}",                        
                    }
                },
                tooltip: {
                    visible: true,
                    format: "N0",
                    template: "#= category # - $#= kendo.format('{0:N2}', value)#"
                },
                dataBound: function (e) {
                    var data = e.sender.dataSource._data;
                    var total = 0;
                    $.each(data, function (i, val) {
                        total += val.Production;
                    });
 
                    if (total == 0) {
                        $("#revenueWarning").show();
                        $("#revenueIbox").hide();
                    }
                    else {
                        $("#revenueWarning").hide();
                        $("#revenueIbox").show();
                    }
                        
                    $("#revenueLoading").hide();

                }
            });
        }
    </script>
}
