﻿
@{
    ViewBag.Title = "Financial";
    string date = DateTime.Now.ToString("dd MMM yyyy");
}

<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">@date</span>
                <h5>Own Operation </h5>
            </div>
            <div class="ibox-content text-right">
                <h2 class="text-bold">US $ 136.782.931,-</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">@date</span>
                <h5>KOB</h5>
            </div>
            <div class="ibox-content text-right">
                <h2 class="text-bold">US $ 165.479.255,-</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">@date</span>
                <h5>Total</h5>
            </div>
            <div class="ibox-content text-right">
                <h2 class="text-bold">US $ 302.262.186,-</h2>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-xs">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">@date</span>
                <h5>Own Operation</h5>
            </div>
            <div class="ibox-content">
                <div id="chart-own"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">@date</span>
                <h5>KOB</h5>
            </div>
            <div class="ibox-content">
                <div id="chart-kob"></div>
            </div>
        </div>
    </div>
</div>

<div id="window">
    <div id="chart-detail"></div>
</div>

@section scripts{
    <script type="text/javascript">
        var myWindow;
        $(function () {
            myWindow = $("#window");
            initElement();
        });

        function initElement() {
            $("#chart-own").kendoChart({
                chartArea: {
                    height:"270px"
                },
                series: [
                    {
                        overlay: {
                            gradient: "none"
                        },
                        labels: {
                            visible: true,
                            format: "{0:n0}"
                        },
                        colorField: "valueColor",
                        data: [
                            { value: 36782931, valueColor: "#4e4141" },
                            { value: 35000000, valueColor: "#95AD7E" },
                            { value: 30000000, valueColor: "#7EAAAD" },
                            { value: 20000000, valueColor: "#705B48" },
                            { value: 15000000, valueColor: "#C77140" },
                        ]
                    }
                ],
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: ["Kamojang", "Lahendong", "Ulubelu", "Karaha", "Sibayak"]
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    },
                },
                tooltip: {
                    visible: true,
                    format: "{0:n0}"
                },
                seriesClick: function (e) {
                    var cat, ds, title;

                    if (e.category == "Kamojang") {
                        title = "Kamojang";
                        ds = [
                            { value: 6782931, valueColor: "#4e4141" },
                            { value: 10000000, valueColor: "#4e4141" },
                            { value: 7500000, valueColor: "#4e4141" },
                            { value: 7500000, valueColor: "#4e4141" },
                            { value: 5000000, valueColor: "#4e4141" },
                        ];
                        cat = ["Kamojang Unit 1", "Kamojang Unit 2", "Kamojang Unit 3", "Kamojang Unit 4", "Kamojang Unit 5"];
                    }
                    else if (e.category == "Lahendong") {
                        title = "Lahendong";
                        ds = [
                            { value: 10000000, valueColor: "#95AD7E" },
                            { value: 8000000, valueColor: "#95AD7E" },
                            { value: 7000000, valueColor: "#95AD7E" },
                            { value: 5000000, valueColor: "#95AD7E" },
                            { value: 5000000, valueColor: "#95AD7E" },
                        ];
                        cat = ["Lahendong Unit 1", "Lahendong Unit 2", "Lahendong Unit 3", "Lahendong Unit 4", "Lahendong Unit 5"];
                    }
                    else if (e.category == "Ulubelu") {
                        title = "Ulubelu";
                        cat = ["Ulubelu Unit 1", "Ulubelu Unit 2", "Ulubelu Unit 3", "Ulubelu Unit 4"];
                        ds = [
                            { value: 9000000, valueColor: "#7EAAAD" },
                            { value: 7000000, valueColor: "#7EAAAD" },
                            { value: 6000000, valueColor: "#7EAAAD" },
                            { value: 8000000, valueColor: "#7EAAAD" },
                        ];
                    }
                    else if (e.category == "Sibayak") {
                        title = "Sibayak";
                        cat = ["Sibayak Unit 1", "Sibayak Unit 2"];
                        ds = [
                            { value: 7000000, valueColor: "#C77140" },
                            { value: 8000000, valueColor: "#C77140" },
                        ];
                    }
                    else if (e.category == "Karaha") {
                        title = "Karaha";
                        cat = ["Karaha Unit 1"];
                        ds = [
                            { value: 20000000, valueColor: "#705B48" },
                        ];
                    }

                    initPopUp(ds, cat, title);

                }
            });

            $("#chart-kob").kendoChart({
                chartArea: {
                    height: "270px"
                },
                series: [
                    {
                        overlay: {
                            gradient: "none"
                        },
                        labels: {
                            visible: true,
                            format: "{0:n0}"
                        },
                        colorField: "valueColor",
                        data: [
                            { value: 85479255, valueColor: "#7EAAAD" },
                            { value: 80000000, valueColor: "#C77140" },
                        ]
                    }
                ],
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: ["Salak", "Darajat"]
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    },
                },
                tooltip: {
                    visible: true,
                    format: "{0:n0}"
                },
                seriesClick: function (e) {
                    var cat, ds, title;

                    if (e.category == "Salak") {
                        title = "Salak";
                        ds = [
                            { value: 20000000, valueColor: "#7EAAAD" },
                            { value: 25000000, valueColor: "#7EAAAD" },
                            { value: 15000000, valueColor: "#7EAAAD" },
                            { value: 25479255, valueColor: "#7EAAAD" },
                        ];
                        cat = ["Salak Unit 1", "Salak Unit 2", "Salak Unit 3", "Salak Unit 4"];
                    }
                    else if (e.category == "Darajat") {
                        title = "Darajat";
                        ds = [
                            { value: 30000000, valueColor: "#C77140" },
                            { value: 35000000, valueColor: "#C77140" },
                            { value: 15000000, valueColor: "#C77140" },
                        ];
                        cat = ["Darajat Unit 1", "Darajat Unit 2", "Darajat Unit 3"];
                    }

                    initPopUp(ds, cat, title);
                }
            });
        }

        function initPopUp(ds, categories, title) {
            $("#chart-detail").kendoChart({
                autoBind: true,
                series: [
                    {
                        overlay: {
                            gradient: "none"
                        },
                        labels: {
                            visible: true,
                            format: "{0:n0}"
                        },
                        colorField: "valueColor",
                        data: ds
                    },
                ],
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: categories
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    },
                },
                //tooltip: {
                //    visible: true,
                //    format: "{0:n0}"
                //},
            });

            myWindow.kendoWindow({
                width: "700px",
                visible: false,
                actions: [
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                //close: onClose
            }).data("kendoWindow").center().open();
            myWindow.data("kendoWindow").title(title);
            $("#window").data("kendoWindow").open();
        }

    </script>
}