﻿
@{
    ViewBag.Title = "Financial";
    string date = DateTime.Now.ToString("dd MMM yyyy");
}

<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-10">
            <input class="form-control" id="Year"  style="width:100%"/>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-6">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-xs-9 text-left">
                        Own Operation
                    </div>
                    <div class="col-xs-3 text-right">
                        <span class="label-custom" id="own-date"></span>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <h2 class="text-bold" id="own-value">US $0</h2>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="ibox-title">
                Total
            </div>
            <div class="ibox-content">
                <h2 class="text-bold" id="total-value">US $0</h2>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        Own Operation
    </div>
    <div class="ibox-content">
        <div id="chart-own"></div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-7">
            <input class="form-control" id="PowerPlantId" style="width:100%" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="docYear" style="width:100%" />
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        Dokumen Sales Order
    </div>
    <div class="ibox-content">
        <div id="salesOrderZPGETable"></div>
    </div>
</div>

<div id="invoiceElectric" class="ibox float-e-margins">
    <div class="ibox-title">
        Dokumen Invoice Listrik
    </div>
    <div class="ibox-content">
        <div id="invoiceElectricTable"></div>
    </div>
</div>

<div id="invoiceSteam" class="ibox float-e-margins">
    <div class="ibox-title">
        Dokumen Invoice Uap
    </div>
    <div class="ibox-content">
        <div id="invoiceSteamTable"></div>
    </div>
</div>

<div id="window">
    <div id="chart-detail"></div>
</div>

@section scripts{
    <script type="text/javascript">
        var myWindow;
        var ownData = [];
        var ownChart = $().data("kendoChart");
        var drawing = kendo.drawing;
        var geometry = kendo.geometry;
        var seriesColorss = ["#ea6a42", "#65b7e5", "#f4c362", "#838fff", "#a9dd4e", "#fc4f5c", "#ead475"];
        $(function () {
            myWindow = $("#window");
            initElement();
        });

        function colors(e) {
            if (e.index % 2 === 0) {
                return "#663333";
            }
            else {
                return "#374649";
            }
        }

        function getDataChart(e) {
            $.ajax({
                url: "@Url.Action("BindingFinance")",
                type: "POST",
                data: { year:e },
                success: function (data) {
                    kendo.culture("en-US");
                    var dataParse = JSON.parse(data).data;
                    if (dataParse.OwnDate !== null) {
                        $("#own-date").text(kendo.toString(new Date(dataParse.OwnDate), "dd MMM yyyy"));
                    }
                    
                    $("#own-value").text("US " + kendo.toString(dataParse.Own, "c0"));
                    $("#total-value").text("US " + kendo.toString(dataParse.Total, "c0"));
                    ownData = dataParse.OwnChart;
                    ownChart.dataSource.data(ownData);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("Server Error. Harap hubungi administrator");
                }
            });
		}

		function tableDocDataBound(e) {
			var grid = $(e.sender.element[0]).data("kendoGrid");

			grid.tbody.find("td[role=\"gridcell\"]").each(function (i) {
				$(this).css("vertical-align", "top");
			});

			grid.tbody.find("hr").each(function (i) {
				$(this).css("margin-bottom", "0");
			});
		}

        function bindSalesOrderZPGETable(salesOrderDocumentTable) {
            console.log(salesOrderDocumentTable)
			var ds = new kendo.data.DataSource({
				//data: salesOrderDocumentTable.Rows,
                data: salesOrderDocumentTable,
				pageSize: 5,
				sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
			});

			$("#salesOrderZPGETable").kendoGrid({
				dataSource: ds,
				filterable: kendoGridFilterable,
				dataBound: tableDocDataBound,
				pageable: { refresh: true,  pageSizes: true,  },
				sortable: true,
				columns: [
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        width: "150px",
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "180px",
					},
					{
						title: salesOrderDocumentTable.NameWF1,
						template: $("#salesOrderZPGETable_WF1").html(),
					},
					{
						title: salesOrderDocumentTable.NameWF2,
						template: $("#salesOrderZPGETable_WF2").html(),
					},
					{
						title: salesOrderDocumentTable.NameWF3,
						template: $("#salesOrderZPGETable_WF3").html(),
					},
					{
						title: salesOrderDocumentTable.NameWF4,
						template: $("#salesOrderZPGETable_WF4").html(),
					},
					{
						title: salesOrderDocumentTable.NameWF5,
						template: $("#salesOrderZPGETable_WF5").html(),
						width: "70px",
					}
				],
			});
		}

		function bindSalesOrderZTSTable(salesOrderDocumentTable) {
			var ds = new kendo.data.DataSource({
				data: salesOrderDocumentTable,
				pageSize: 5,
				sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
			});

			$("#salesOrderZTSTable").kendoGrid({
				dataSource: ds,
				filterable: kendoGridFilterable,
				dataBound: tableDocDataBound,
				pageable: { refresh: true,  pageSizes: true,  },
				sortable: true,
				columns: [
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        width: "150px",
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "180px",
					},
					{
						title: salesOrderDocumentTable.NameWF1,
						template: $("#salesOrderZTSTable_WF1").html(),
					},
					{
						title: salesOrderDocumentTable.NameWF2,
						template: $("#salesOrderZTSTable_WF2").html(),
					},
					{
						title: salesOrderDocumentTable.NameWF3,
						template: $("#salesOrderZTSTable_WF3").html(),
					},
					{
						title: salesOrderDocumentTable.NameWF4,
						template: $("#salesOrderZTSTable_WF4").html(),
						width: "70px",
					},
				],
			});
		}

		function bindInvoiceElectricTable(invoiceDocumentTable) {
			var ds = new kendo.data.DataSource({
				data: invoiceDocumentTable,
				pageSize: 5,
				sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
			});

			$("#invoiceElectricTable").kendoGrid({
				dataSource: ds,
				filterable: kendoGridFilterable,
				dataBound: tableDocDataBound,
				pageable: { refresh: true,  pageSizes: true,  },
				sortable: true,
				columns: [
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        width: "150px",
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "180px",
					},
					{
						title: invoiceDocumentTable.NameWF1,
						template: $("#invoiceElectricTable_WF1").html(),
					},
					{
						title: invoiceDocumentTable.NameWF2,
						template: $("#invoiceElectricTable_WF2").html(),
					},
					{
						title: invoiceDocumentTable.NameWF3,
						template: $("#invoiceElectricTable_WF3").html(),
					},
					{
						title: invoiceDocumentTable.NameWF4,
						template: $("#invoiceElectricTable_WF4").html(),
					},
					{
						title: invoiceDocumentTable.NameWF5,
						template: $("#invoiceElectricTable_WF5").html(),
						width: "70px",
					},
				],
			});
		}

		function bindInvoiceSteamTable(invoiceDocumentTable) {
			var ds = new kendo.data.DataSource({
				data: invoiceDocumentTable,
				pageSize: 5,
				sort: { field: "@Field.Id", dir: "@SortOrder.Ascending.ToDescription()" }
			});

			$("#invoiceSteamTable").kendoGrid({
				dataSource: ds,
				filterable: kendoGridFilterable,
				dataBound: tableDocDataBound,
				pageable: { refresh: true,  pageSizes: true,  },
				sortable: true,
				columns: [
                    {
                        field: "@Field.Periode",
                        title: "Periode",
                        width: "150px",
                    },
                    {
                        field: "@Field.Unit",
                        title: "Unit",
                        width: "180px",
					},
					{
						title: invoiceDocumentTable.NameWF1,
						template: $("#invoiceSteamTable_WF1").html(),
					},
					{
						title: invoiceDocumentTable.NameWF2,
						template: $("#invoiceSteamTable_WF2").html(),
					},
					{
						title: invoiceDocumentTable.NameWF3,
						template: $("#invoiceSteamTable_WF3").html(),
					},
					{
						title: invoiceDocumentTable.NameWF4,
						template: $("#invoiceSteamTable_WF4").html(),
						width: "70px",
					},
				],
			});
		}

        function filter(e) {
            getDataChart(this.dataItem().Value);
		}

        function mappingTitle(source, target) {
            target.NameWF1 = source.NameWF1;
            target.NameWF2 = source.NameWF2;
            target.NameWF3 = source.NameWF3;
            target.NameWF4 = source.NameWF4;
            target.NameWF5 = source.NameWF5;
        }

        function filterDocTables(e) {
			$.ajax({
				url: "@Url.Action(ActionSite.BindingDocumentFinancialDashboard)",
				type: "POST",
				data:
				{
					year: $("#docYear").val(),
                    powerPlantId: ($("#PowerPlantId").val() === "" ? 0 : $("#PowerPlantId").val())
				},
                success: function (result) {
                    console.log(result);
                    $("#invoiceSteam").hide();
                    $("#invoiceElectric").hide();
                    if ($("#PowerPlantId").val() === "") {
                        var salesOrderDocumentTable = [], invoiceDocumentTableElectric = [], invoiceDocumentTableSteam = [];
                        var isUndefined = false;
                        $.each(result, function (i, obj) {
                            console.log(obj)
                            if ((obj.salesOrderDocumentTable !== undefined) && (obj.invoiceDocumentTable !== undefined)) {
                                if (obj.soType === "@SOType.ZPGE") {
                                    $.each(obj.salesOrderDocumentTable.Rows, function (j, row) {
                                        mappingTitle(obj.salesOrderDocumentTable, salesOrderDocumentTable);
                                        salesOrderDocumentTable.push(row);
                                    });
                                }
                                if (obj.material === "@Material.ELECTRIC_POWER.ToString()") {
					        		$("#invoiceElectric").show();
                                    $.each(obj.invoiceDocumentTable.Rows, function (j, row) {
                                        mappingTitle(obj.invoiceDocumentTable, invoiceDocumentTableElectric);
                                        invoiceDocumentTableElectric.push(row);
                                    });
					        	} else {
					        		$("#invoiceSteam").show();
                                    $.each(obj.invoiceDocumentTable.Rows, function (j, row) {
                                        mappingTitle(obj.invoiceDocumentTable, invoiceDocumentTableSteam);
                                        invoiceDocumentTableSteam.push(row);
                                    });
					        	}
					        }
					        else {
                                isUndefined = true;
					        }
                        });

                        if (isUndefined) {
                            swal("Server Error. Harap hubungi administrator");
                        } else {
                            bindSalesOrderZPGETable(salesOrderDocumentTable);
                            bindInvoiceElectricTable(invoiceDocumentTableElectric);
                            bindInvoiceSteamTable(invoiceDocumentTableSteam);
                        }
                    } else {
                        if ((result.salesOrderDocumentTable !== undefined) && (result.invoiceDocumentTable !== undefined)) {
					    	// hide & show div SOType sales order yg bersangkutan
					    	if (result.soType === "@SOType.ZPGE") {
					    		$("#salesOrderZPGE").show();
					    		$("#salesOrderZTS").hide();
					    		bindSalesOrderZPGETable(result.salesOrderDocumentTable.Rows);
					    	} else { //if (result.soType == "@SOType.ZTS")
					    		$("#salesOrderZPGE").hide();
					    		$("#salesOrderZTS").show();
					    		bindSalesOrderZTSTable(result.salesOrderDocumentTable.Rows);
					    	}
					    	// hide & show div material invoice yg bersangkutan
					    	if (result.material === "@Material.ELECTRIC_POWER.ToString()") {
					    		$("#invoiceElectric").show();
					    		$("#invoiceSteam").hide();
					    		bindInvoiceElectricTable(result.invoiceDocumentTable.Rows);
					    	} else { //if (result.material == "@Material.GEOTHERMAL_STEAM.ToString()")
					    		$("#invoiceSteam").hide();
					    		$("#invoiceSteam").show();
					    		bindInvoiceSteamTable(result.invoiceDocumentTable.Rows);
					    	}
					    }
					    else {
					    	swal("Server Error. Harap hubungi administrator");
					    }
                    }
				},
				error: function (xhr, ajaxOptions, thrownError) {
					swal("Server Error. Harap hubungi administrator");
				}
			})
		}

		function bindChangeSOType(e) {
			var soType = this.dataItem().Value;//$("#@Field.SOType").val();
			if (soType === "ZPGE") {
				$("#documentZPGE").show();
				$("#documentZTS").hide();
			} else { // if (soType == "ZTS")
				$("#documentZPGE").hide();
				$("#documentZTS").show();
			}
			bindPowerPlantId(soType);
		}

		function bindPowerPlantId() {
			$powerPlant = dropdownListGenerator($("#@Field.PowerPlantId"), "@Url.Action(ActionSite.BindingPowerPlant)", "", "@Field.Name", "@Component.OptionLabelPowerPlantAll", false, null);
			$powerPlant.bind("change", filterDocTables);
            $powerPlant.bind("dataBound", function (e) {
                bindDocYear();
            });
        }

        function bindDocYear() {
			$docYear = dropdownListGenerator($("#docYear"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_INVOICE", "@Field.Name", "", false, null);
            $docYear.bind("change", filterDocTables);
            $docYear.bind("dataBound", filterDocTables);
		}

        function initElement() {
            $year = dropdownListGenerator($("#@Field.Year"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_INVOICE", "@Field.Name", "", false, null);
			$year.bind("change", filter);
            $year.bind("dataBound", filter);
            
			bindPowerPlantId();

            var flag2 = false;
            ownChart = $("#chart-own").kendoChart({
                dataSource: {
                    data: ownData,
                    schema: {
                        model: {
                            fields: {
                                AreaName: {
                                    type: "string"
                                },
                                NetValue: {
                                    type: "number"
                                },
                                LastInvoiceDate: {
                                    type: "date"
                                }
                            }
                        }
                    }
                },
                series: [
                    {
                        type: "column",
                        overlay: {
                            gradient: "none"
                        },
                        labels: {
                            visible: true,
                            format: "{0:n2}",
                        },
                        field: "NetValue",
                        categoryField: "AreaName"
                    }
                ],
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    }
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}",
                    }
                },
                tooltip: {
                    visible: true,
                    template: function (e) { return e.dataItem.NetValue + " - " + kendo.toString(new Date(e.dataItem.LastInvoiceDate), "dd-MMM-yyyy") }
                },
                seriesClick: function (e) {
                    var cat, ds, title;
                    ds = e.dataItem.SubArea;
                    title = e.dataItem.AreaName;
                    cat = "";
                    initPopUp(ds, cat, title);
                },
                seriesDefaults: {
                    type: "column",
                    stack: true,
                    highlight: {
                        toggle: function (e) {
                            e.preventDefault();

                            var visual = e.visual;
                            var opacity = e.show ? 0.8 : 1;

                            visual.opacity(opacity);
                        }
                    }
                },
                autoBind: false,
                render: function (e) {
                    if (flag2) {
                        flag2 = false;

                        var max = getMaxSeriesValue(e.sender.options.series, "value");

                        e.sender.options.valueAxis.max = max + (max * 0.3);

                        e.sender.redraw();
                    }
                }
            }).data("kendoChart");
        }

        function initPopUp(ds, categories, title) {
            var flag = true;
            $("#chart-detail").kendoChart({
                chartArea: {
                    height: "270px"
                },
                dataSource: {
                    data: ds,
                    schema: {
                        model: {
                            fields: {
                                AreaName: {
                                    type: "string"
                                },
                                NetValue: {
                                    type: "number"
                                },
                                LastInvoiceDate: {
                                    type: "date"
                                }
                            }
                        }
                    }
                },
                series: [
                    {
                        type: "column",
                        overlay: {
                            gradient: "none"
                        },
                        labels: {
                            visible: true,
                            format: "{0:n0}"
                        },
                        field: "NetValue",
                        categoryField: "AreaName",
                    }
                ],
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    }
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    },
                },
                tooltip: {
                    visible: true,
                    template: function (e) { return e.dataItem.NetValue + " - " + kendo.toString(new Date(e.dataItem.LastInvoiceDate), "dd-MMM-yyyy") }
                },
                autoBind: true,                
            });

            myWindow.kendoWindow({
                width: "700px",
                visible: false,
                actions: [
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
            }).data("kendoWindow").center().open();
            myWindow.data("kendoWindow").title(title);
            $("#window").data("kendoWindow").open();
        }

        function createColumn(rect, color) {
            var origin = rect.origin;
            var center = rect.center();
            var bottomRight = rect.bottomRight();
            var radiusX = rect.width() / 2;
            var radiusY = radiusX / 3;
            var gradient = new drawing.LinearGradient({
                stops: [{
                    offset: 0,
                    color: color
                }, {
                    offset: 0.5,
                    color: color,
                    opacity: 0.9
                }, {
                    offset: 0.5,
                    color: color,
                    opacity: 0.9
                }, {
                    offset: 1,
                    color: color
                }]
            });

            var path = new drawing.Path({
                fill: gradient,
                stroke: {
                    color: "none"
                }
            }).moveTo(origin.x, origin.y)
                .lineTo(origin.x, bottomRight.y)
                .arc(180, 0, radiusX, radiusY, true)
                .lineTo(bottomRight.x, origin.y)
                .arc(0, 180, radiusX, radiusY);

            var topArcGeometry = new geometry.Arc([center.x, origin.y], {
                startAngle: 0,
                endAngle: 360,
                radiusX: radiusX,
                radiusY: radiusY
            });

            var topArc = new drawing.Arc(topArcGeometry, {
                fill: {
                    color: color
                },
                stroke: {
                    color: "#ebebeb"
                }
            });
            var group = new drawing.Group();
            group.append(path, topArc);
            return group;
        }

        function createLegendItem(e) {
            var color = e.options.markers.background;
            var labelColor = e.options.labels.color;
            var rect = new geometry.Rect([0, 0], [120, 50]);
            var layout = new drawing.Layout(rect, {
                spacing: 1,
                alignItems: "center"
            });

            var overlay = drawing.Path.fromRect(rect, {
                fill: {
                    color: "#fff",
                    opacity: 0
                },
                stroke: {
                    color: "none"
                },
                cursor: "pointer"
            });

            var column = createColumn(new geometry.Rect([0, 0], [15, 10]), color);
            var label = new drawing.Text(e.series.name, [0, 0], {
                fill: {
                    color: labelColor
                }
            });

            layout.append(column, label);
            layout.reflow();

            var group = new drawing.Group().append(layout, overlay);
            return group;
        }

    </script>

	<script id="salesOrderZPGETable_WF1" type="text/x-kendo-template">
		# if (IsWF1) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="salesOrderZPGETable_WF2" type="text/x-kendo-template">
		# if (IsWF2) { #
			<i class="glyphicon glyphicon-ok"></i><hr/>
			<b>BA: </b>
			<ul>
				# BastFriendlyName.forEach(function(bastName, idx) { #
				<li><a href="#=BastAbsolutePath[idx]#">#=bastName#</a></li>
				# }); #
			</ul>
		# } #
	</script>

	<script id="salesOrderZPGETable_WF3" type="text/x-kendo-template">
		# if (IsWF3) { #
		<i class="glyphicon glyphicon-ok"></i><hr />
		<b>BAST Template: </b>
		<a href="@Url.Action(ActionSite.DownloadBastTemplate, ControllerSite.SalesOrder, new { Area = AreaSite.SalesOrder })?id=#=SalesOrderId#">Download</a><br/>
		<b>SAP: </b>
		<a href="@Url.Action(ActionSite.DownloadSAP, ControllerSite.SalesOrder, new { Area = AreaSite.SalesOrder })?id=#=SalesOrderId#">Download</a>
		# } #
	</script>

	<script id="salesOrderZPGETable_WF4" type="text/x-kendo-template">
		# if (IsWF4) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
			<b>BAST Ttd: </b>
			<ul>
				# BastSignedFriendlyName.forEach(function(bastName, idx) { #
					<li><a href="#=BastSignedAbsolutePath[idx]#">#=bastName#</a></li>
				# }); #
			</ul>
		# } #
	</script>

	<script id="salesOrderZPGETable_WF5" type="text/x-kendo-template">
		# if (IsWF5) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="salesOrderZTSTable_WF1" type="text/x-kendo-template">
		# if (IsWF1) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="salesOrderZTSTable_WF2" type="text/x-kendo-template">
		# if (IsWF2) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
			<b>BA: </b>
			<ul>
				# BastFriendlyName.forEach(function(bastName, idx) { #
				<li><a href="#=BastAbsolutePath[idx]#">#=bastName#</a> </li>
				# }); #
			</ul>
		# } #
	</script>

	<script id="salesOrderZTSTable_WF3" type="text/x-kendo-template">
		# if (IsWF3) { #
			<i class="glyphicon glyphicon-ok"></i><hr/>
			<b>SAP: </b><a href="@Url.Action(ActionSite.DownloadSAP, ControllerSite.SalesOrder, new { Area = AreaSite.SalesOrder })?id=#=SalesOrderId#">Download</a>
		# } #
	</script>

	<script id="salesOrderZTSTable_WF4" type="text/x-kendo-template">
		# if (IsWF4) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceElectricTable_WF1" type="text/x-kendo-template">
		# if ((IsWF2) && (IsCoverLetter)) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
			<b>Surat Pengantar: </b><a href="@Url.Action(ActionSite.GenerateCoverLetter, ControllerSite.Invoice, new { Area = AreaSite.Invoice })?Id=#=InvoiceId#&SalesOrderId=#=SalesOrderId#">Download</a>
		# } else if (IsWF1) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceElectricTable_WF2" type="text/x-kendo-template">
		# if (IsWF3) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
			<b>E-Faktur: </b>
			<ul>
				# EFakturFriendlyName.forEach(function(eFakturName, idx) { #
				<li><a href="#=EFakturAbsolutePath[idx]#">#=eFakturName#</a> </li>
				# }); #
			</ul>
		# } else if (IsWF2) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceElectricTable_WF3" type="text/x-kendo-template">
		# if (IsWF4) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
			<b>Invoice: </b>
			<ul>
				# InvoiceFriendlyName.forEach(function(invoiceName, idx) { #
				<li><a href="#=InvoiceAbsolutePath[idx]#">#=invoiceName#</a> </li>
				# }); #
			</ul>
		# } else if (IsWF3) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceElectricTable_WF4" type="text/x-kendo-template">
		# if (IsWF4) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceElectricTable_WF5" type="text/x-kendo-template">
		# if (IsWF5) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceSteamTable_WF1" type="text/x-kendo-template">
		# if ((IsWF2) && (IsCoverLetter)) { #
		<i class="glyphicon glyphicon-ok"></i><hr />
		<b>Surat Pengantar: </b><a href="@Url.Action(ActionSite.GenerateCoverLetter, ControllerSite.Invoice, new { Area = AreaSite.Invoice })?Id=#=InvoiceId#&SalesOrderId=#=SalesOrderId#">Download</a>
		# } else if (IsWF1) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceSteamTable_WF2" type="text/x-kendo-template">
		# if (IsWF3) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
			<b>Invoice: </b>
			<ul>
				# InvoiceFriendlyName.forEach(function(invoiceName, idx) { #
				<li><a href="#=InvoiceAbsolutePath[idx]#">#=invoiceName#</a> </li>
				# }); #
			</ul>
		# } else if (IsWF2) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceSteamTable_WF3" type="text/x-kendo-template">
		# if (IsWF3) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>

	<script id="invoiceSteamTable_WF4" type="text/x-kendo-template">
		# if (IsWF4) { #
			<i class="glyphicon glyphicon-ok"></i><hr />
		# } #
	</script>
}
