﻿@using Common.Enums
@model WebUI.Models.HomeFormStub
@{
    ViewBag.Title = "Input Data";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action(ActionSite.Index);
}

<div class="row form-group">
    <div class="wizard col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            <li class="active">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Step 1</h4>
                    <p class="list-group-item-text">Upload Data Operation</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-2">
                    <h4 class="list-group-item-heading">Step 2</h4>
                    <p class="list-group-item-text">Area Ops. Mgr. Verification</p>
                </a>
            </li>
            <li class="disabled">
                <a href="#step-3">
                    <h4 class="list-group-item-heading">Step 3</h4>
                    <p class="list-group-item-text">Finish</p>
                </a>
            </li>
        </ul>
    </div>
</div>

@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.PowerPlant, new { @class = "col-xs-2 padding-top-5" })
        <div class="col-xs-3">
            @Html.TextBoxFor(model => model.PowerPlant, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PowerPlant, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="hr-line-dashed"></div>
}

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">PLTP</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">DKP</a></li>
        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Data Checksheet Sumur</a></li>
        <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Data Checksheet Uap (IP)</a></li>
        <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">Rencana Realisasi</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body form">
             @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
             {

                @*<div class="form-group">
                    @Html.LabelFor(model => model.PowerPlant, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.PowerPlant, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PowerPlant, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed based-pp-1"></div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.NowSum, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.NowDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NowDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.NowSum, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NowSum, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.LastSum, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.LastDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.LastSum, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastSum, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed based-pp-1"></div>
                <div class="i-box-title-group based-pp-1"><h4 class="group-title">Pembangkitan</h4></div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.BebanJam, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.BebanJam, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BebanJam, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.FlowUap, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.FlowUap, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FlowUap, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.PemakaianSendiri, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.PemakaianSendiri, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PemakaianSendiri, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.HourKwh, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.HourKwh, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HourKwh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.AllKwh, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.AllKwh, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AllKwh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed based-pp-1"></div>
                <div class="i-box-title-group based-pp-1"><h4 class="group-title">KWh</h4></div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.Temperature, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.Temperature, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Temperature, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.TekananCondesasor, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.TekananCondesasor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TekananCondesasor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.SSC, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.SSC, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SSC, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group based-pp-1">
                    @Html.LabelFor(model => model.MVar, new { @class = "col-xs-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(model => model.MVar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MVar, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="row">
                <div class="col-xs-6">
                    @*Untuk Kamojang 4 dan 5*@
                    <div class="form-group based-pp-2">
                        @Html.LabelFor(model => model.EnergiListrikGross, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.EnergiListrikGross, new { @class = "form-control form-control-decimal-n4" })
                            @Html.ValidationMessageFor(model => model.EnergiListrikGross, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group based-pp-2">
                        @Html.LabelFor(model => model.EnergiListrikNett, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.EnergiListrikNett, new { @class = "form-control form-control-decimal-n4" })
                            @Html.ValidationMessageFor(model => model.EnergiListrikNett, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group based-pp-2">
                        @Html.LabelFor(model => model.UapPembangkit, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.UapPembangkit, new { @class = "form-control form-control-decimal-n4" })
                            @Html.ValidationMessageFor(model => model.UapPembangkit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    @*Ini untuk General*@
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Buangan, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.Buangan, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Buangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SSC2, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.SSC2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SSC2, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.GPPHour, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.GPPHour, new { @class = "form-control form-control-decimal-n4" })
                            @Html.ValidationMessageFor(model => model.GPPHour, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImportEnergy, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.ImportEnergy, new { @class = "form-control form-control-decimal-n4" })
                            @Html.ValidationMessageFor(model => model.ImportEnergy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SGSHour, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.SGSHour, new { @class = "form-control form-control-decimal-n4" })
                            @Html.ValidationMessageFor(model => model.SGSHour, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
             }
        </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body form">
                @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="row">
                        <div class="col-xs-6">
                            @*Untuk Kamojang 4 dan 5*@
                            <div class="form-group based-pp-2">
                                @Html.Label("Status Gangguan", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextBox("ProblemStatus", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group based-pp-2">
                                @Html.Label("Jam Awal", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextBox("StartDate", "", new { @class = "form-control form-control-datepicker" })
                                </div>
                            </div>
                            <div class="form-group based-pp-2">
                                @Html.Label("Jam Akhir", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextBox("EndDate", "", new { @class = "form-control form-control-datepicker" })
                                </div>
                            </div>
                            <div class="form-group based-pp-2">
                                @Html.Label("Derating", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextBox("Derating", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group based-pp-2">
                                @Html.Label("Lokasi", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextBox("Location", "", new { @class = "form-control " })
                                </div>
                            </div>
                            <div class="form-group based-pp-2">
                                @Html.Label("Penyebab", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextArea("Cause", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group based-pp-2">
                                @Html.Label("Keterangan", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextArea("Notes", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="tab-3" class="tab-pane">
            <div class="panel-body form">
                <div class="row">
                    <div class="col-xs-12">
                        <img style="width:700px" src="@Url.Content("~/Content/img/checksheet1.jpg")" />
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-4" class="tab-pane">
            <div class="panel-body form">
                <div class="row">
                    <div class="col-xs-12">
                        <img style="width:700px" src="@Url.Content("~/Content/img/checksheet2.jpg")" />
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-5" class="tab-pane">
            <div class="panel-body form">
                @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group based-pp-2">
                                @Html.Label("Rencana Pekerjaan", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextArea("WorkPlan", "", new { @class = "form-control " })
                                </div>
                            </div>
                            <div class="form-group based-pp-2">
                                @Html.Label("Realisasi Kemarin", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextArea("ActualYesterday", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group based-pp-2">
                                @Html.Label("Temuan Kemarin", new { @class = "col-xs-4 control-label" })
                                <div class="col-xs-8">
                                    @Html.TextArea("FindingYesterday", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group m-t">
        <div class="col-xs-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-warning">Save as Draft</button>
            <a href="@backLink" class="btn btn-link">Batal</a>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        function initElement() {
            $("#PowerPlant").kendoDropDownList({
                dataSource: generateOptionDataSource(
                    "@Url.Action(ActionSite.BindingOption)",
                    "@OptionType.POWERPLANT",
                    "@Field.Text",
                    null
                ),
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                dataBound: function () {
                    this.select(0);
                }
            });

            // init powerplant, hide kamojang 4 dan 5 fields
            //$(".based-pp-2").hide(500);
            
            dateWidgetOptions = {
                format: "@DisplayFormat.JsSqlDateFormat",
                value: new Date(),
            };

            numberWidgetOptions = {
                value: 0,
                min: 0,
                format: "n0"
            };

            // yesterday
            var dt = new Date();
            dt.setDate(dt.getDate() - 1);            

            $("#NowDate").kendoDatePicker(dateWidgetOptions);    

            dateWidgetOptions = {
                format: "@DisplayFormat.JsSqlDateFormat",
                value: dt,
            };

            //$("#LastDate").kendoDatePicker(dateWidgetOptions);
            //var datepicker = $("#LastDate").data("kendoDatePicker");
            //datepicker.enable(false);

            //$("#NowSum").kendoNumericTextBox(numberWidgetOptions);          
            //$("#LastSum").kendoNumericTextBox(numberWidgetOptions);
            //var numberlast = $("#LastSum").data("kendoNumericTextBox");
            //numberlast.enable(false);

            //$("#BebanJam").kendoNumericTextBox(numberWidgetOptions);
            //$("#FlowUap").kendoNumericTextBox(numberWidgetOptions);
            //$("#TekananUtama").kendoNumericTextBox(numberWidgetOptions);
            //$("#PemakaianSendiri").kendoNumericTextBox(numberWidgetOptions);

            //$("#AllKwh").prop('disabled', true);
            //$("#HourKwh").prop('disabled', true);

            //$("#Temperature").kendoNumericTextBox(numberWidgetOptions);            
            //$("#TekananCondesasor").kendoNumericTextBox(numberWidgetOptions);
            //$("#SSC").kendoNumericTextBox(numberWidgetOptions);
            //$("#MVar").kendoNumericTextBox(numberWidgetOptions);

            //$("#EnergiListrikGross").kendoNumericTextBox(numberWidgetOptions);
            //numberlast = $("#EnergiListrikGross").data("kendoNumericTextBox");
            //numberlast.enable(false);

            //$("#EnergiListrikNett").kendoNumericTextBox(numberWidgetOptions);
            //numberlast = $("#EnergiListrikNett").data("kendoNumericTextBox");
            //numberlast.enable(false);

            //$("#UapPembangkit").kendoNumericTextBox(numberWidgetOptions);
            //numberlast = $("#UapPembangkit").data("kendoNumericTextBox");
            //numberlast.enable(false);

            //$("#Buangan").kendoNumericTextBox(numberWidgetOptions);
            //numberlast = $("#Buangan").data("kendoNumericTextBox");
            //numberlast.enable(false);

            //$("#SSC2").kendoNumericTextBox(numberWidgetOptions);
            //numberlast = $("#Buangan").data("kendoNumericTextBox");
            //numberlast.enable(false);

            //$("#GPPHour").kendoNumericTextBox(numberWidgetOptions);
            //$("#ImportEnergy").kendoNumericTextBox(numberWidgetOptions);
            //numberlast = $("#ImportEnergy").data("kendoNumericTextBox");
            //numberlast.enable(false);

            //$("#SGSHour").kendoNumericTextBox(numberWidgetOptions);
            
             // hide and unhide fields
            $('input[type=text][name=PowerPlant]').change(function () {
                @*if (this.value === "@PowerPlant.KMJIP1" || this.value === "@PowerPlant.KMJIP2" || this.value === "@PowerPlant.KMJIP3") {
                    $(".based-pp-1").show(500);
                    $(".based-pp-2").hide(500);
                }
                else {
                    $(".based-pp-1").hide(500);
                    $(".based-pp-2").show(500);
                }*@
            });

            // disabled tooltip
            $("#NowDate").tooltip("disable");
            $("#LastDate").tooltip("disable");
            
        }


    </script>
}