﻿@using Common.Enums
@model WebUI.Models.HomeFormStub
@{
    ViewBag.Title = "Create Sales Order";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    string backLink = "";
    backLink = Url.Action(ActionSite.Index);
}

<div class="ibox-content">
    <form id="form" action="#" class="wizard-big">
        <h1>Upload Sales Order</h1>
        <fieldset>
            <h2>Upload Sales Order</h2>
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label>Username *</label>
                        <input id="userName" name="userName" type="text" class="form-control required">
                    </div>
                    <div class="form-group">
                        <label>Password *</label>
                        <input id="password" name="password" type="text" class="form-control required">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password *</label>
                        <input id="confirm" name="confirm" type="text" class="form-control required">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <div style="margin-top: 20px">
                            <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
        <h1>Area Operation Manager Approve</h1>
        <fieldset>
            <h2>
                Area Operation Manager Approve
            </h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>First name *</label>
                        <input id="name" name="name" type="text" class="form-control required">
                    </div>
                    <div class="form-group">
                        <label>Last name *</label>
                        <input id="surname" name="surname" type="text" class="form-control required">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Email *</label>
                        <input id="email" name="email" type="text" class="form-control required email">
                    </div>
                    <div class="form-group">
                        <label>Address *</label>
                        <input id="address" name="address" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </fieldset>

        <h1>
            Area Finance Approve
        </h1>
        <fieldset>
            <div class="text-center" style="margin-top: 120px">
                <h2>You did it Man :-)</h2>
            </div>
        </fieldset>

        <h1>
            AP/AR Assistant Manager Approve
        </h1>
        <fieldset>
            <h2>Terms and Conditions</h2>
            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
        </fieldset>
        <h1>
            FAR Manager Approve
        </h1>
        <fieldset>

        </fieldset>
    </form>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        function initElement() {
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });
        }
    </script>
}