﻿@using Common.Enums
@using System.Reflection
@using System.Globalization
@model WebUI.Models.DashboardOperationPresentationStub
@{
    ViewBag.Title = "Operation";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string date = Model.LastDateProduction.HasValue ? Model.LastDateProduction.Value.ToString("dd MMM yyyy") : "-";

    //if (currentAction == "Index")
    //{
    //    Layout = "~/Views/Shared/Inspinia/_LayoutDashboard.cshtml";
    //} else
    //{
    //   Layout = "~/Views/Shared/Inspinia/_Layout.cshtml";
    //}

}
@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", id = "FormFilter" }))
{
@*<div class="my-box-clean my-box-title container">
    <div class="row">
        <div class="col-md-2 col-md-offset-10">@Html.TextBoxFor(model => model.Year, new { @class = "form-control" })</div>
    </div>
</div>
<hr>*@
<div class="my-box my-box-title container">
    <div class="row">
        <div class="col-md-2 col-md-offset-4">@Html.TextBoxFor(model => model.SOType, new { @class = "form-control" })</div>
        <div class="col-md-2">@Html.TextBoxFor(model => model.ProductionUtilization, new { @class = "form-control" })</div>
        <div class="col-md-2">@Html.TextBoxFor(model => model.AreaId, new { @class = "form-control" })</div>
        <div class="col-md-2">@Html.TextBoxFor(model => model.Year, new { @class = "form-control" })</div>
    </div>
</div>
<div class="my-box container">
    <div class="row">     
        @if (Model.HasData)
        {
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">@date</span>
                    <h5>Produksi Setara Uap Harian</h5>
                </div>
                <div class="ibox-content">
                    <div class="align-right"><small>in Ton</small></div>
                    <div id="chart-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">@date</span>
                            <h5>Month To Date Production</h5>
                        </div>
                        <div class="ibox-content status custom-height-no-title">
                            <row>
                                <div class="col-md-6 padding-top-10">
                                    <h2>MTD</h2>
                                    <h1 class="big"><i class="fa fa-circle text-red small-icon"></i>@DisplayFormat.NumberFormatTwoDecimal(Model.PersenMonth)%</h1>
                                </div>
                                <div class="col-md-6 padding-top-5">
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-green text-uppercase text-bold">
                                            Plan
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        @DisplayFormat.NumberFormatTwoDecimal(Model.PlanMonthElectric) Ton
                                    </div>
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-blue text-uppercase text-bold">
                                            Actual
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        @DisplayFormat.NumberFormatTwoDecimal(Model.ActualMonthElectric) Ton
                                    </div>
                                </div>
                            </row>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">@date</span>
                            <h5>Year To Date Production</h5>
                        </div>
                        <div class="ibox-content status custom-height-no-title">
                            <row>
                                <div class="col-md-6 padding-top-10">
                                    <h2>YTD</h2>
                                    <h1 class="big"><i class="fa fa-circle text-red small-icon"></i>@DisplayFormat.NumberFormatTwoDecimal(Model.PersenYear)%</h1>
                                </div>
                                <div class="col-md-6 padding-top-5">
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-green text-uppercase text-bold">
                                            Plan
                                        </span>
                                        <div class="text-bold">
                                           @DisplayFormat.NumberFormatTwoDecimal(Model.PlanYearElectric) Ton
                                        </div>
                                    </div>
                                    <div class="box-status">
                                        <i class="fa fa-square text-blue"></i>
                                        <span class="text-blue text-uppercase text-bold">
                                            Actual
                                        </span>
                                        <div class="text-bold">
                                            @DisplayFormat.NumberFormatTwoDecimal(Model.ActualYearElectric) Ton
                                        </div>
                                    </div>
                                </div>
                            </row>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">@date</span>
                            <h5>Financial Production</h5>
                        </div>
                        <div class="ibox-content status custom-height-no-title">
                            <row>
                                <div class="col-md-6 padding-top-10">
                                    <h2>MTD</h2>
                                    <h1 class="big"><i class="fa fa-circle text-red small-icon"></i>80%</h1>
                                </div>
                                <div class="col-md-6 padding-top-5">
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-green text-uppercase text-bold">
                                            Plan
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        @*Rp 125.000.000,-*@
                                        @Model.PlanMonthElectricFinance.ToString("C3", CultureInfo.CreateSpecificCulture("en-US"))
                                    </div>
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-blue text-uppercase text-bold">
                                            Actual
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        @Model.ActualMonthElectricFinance.ToString("C3", CultureInfo.CreateSpecificCulture("en-US"))
                                    </div>
                                </div>
                            </row>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">@date</span>
                            <h5>Financial Production </h5>
                        </div>
                        <div class="ibox-content status custom-height-no-title">
                            <row>
                                <div class="col-md-6 padding-top-10">
                                    <h2>YTD</h2>
                                    <h1 class="big"><i class="fa fa-circle text-red small-icon"></i>111%</h1>
                                </div>
                                <div class="col-md-6 padding-top-5">
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-green text-uppercase text-bold">
                                            Plan
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        @*Rp 225.000.000,-*@
                                        @Model.PlanYearElectricFinance.ToString("C3", CultureInfo.CreateSpecificCulture("en-US"))
                                    </div>
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-blue text-uppercase text-bold">
                                            Actual
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        @*Rp 250.000.000,-*@
                                        @Model.ActualYearElectricFinance.ToString("C3", CultureInfo.CreateSpecificCulture("en-US"))
                                    </div>
                                </div>
                            </row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No Data plan or actual, please input data.
            </div>
        }
    </div>
</div>

<div class="my-box my-box-title container">
    <div class="row">
        <div class="col-md-2 col-md-offset-8">@Html.TextBoxFor(model => model.ProductionUtilizationChart, new { @class = "form-control" })</div>
        <div class="col-md-2">@Html.TextBoxFor(model => model.RangeData, new { @class = "form-control" })</div>
    </div>
</div>
<div class="my-box container">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">      
                    @if (Model.HasData)
                    {
                    <div id="chart-2">
                    </div>
                    <div id="chart-3">
                    </div>
                    }
                    else
                    {
                    <div class="alert alert-warning" role="alert">
                        No Data plan or actual, please input data.
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

}
@section scripts{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        function filter(e) {            
            $("#FormFilter").submit();
        }

        function initElement() {
            //init dropdown area
            $area = dropdownListGenerator($("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA", "@Field.Name", "@Component.OptionLabelAreaAll", true, null);
            $year = dropdownListGenerator($("#@Field.Year"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_TASK", "@Field.Name", "", false, null);
            $soType = dropdownListGenerator($("#@Field.SOType"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.SO_TYPE", "@Field.SOType", "SOType", true, null);
            $prodUtil = dropdownListGenerator($("#ProductionUtilization"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRODUCT_UTILIZATION", "@Field.Name","", false, null);
            $productionUtilChart = dropdownListGenerator($("#ProductionUtilizationChart"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRODUCT_UTILIZATION", "@Field.Name","", false, null);
            @*$year = dropdownListGenerator($("#@Field.UtilType"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.util", "@Field.Name", "", false, null);*@

            $rangeData = dropdownListGenerator($("#@Field.RangeData"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.RANGE_DATA", "@Field.Name", "", false, null);

            $area.bind("change", filter);
            $year.bind("change", filter);
            $soType.bind("change", filter);
            $prodUtil.bind("change", filter);
            $productionUtilChart.bind("change", filter);

            $rangeData.bind("change", changeChart);
            console.log($productionUtilChart.value());
            function changeChart() {
                var value = this.value();
                var chart = $().data("kendoChart");
                var util = $productionUtilChart.value();
                var title;

                if (value === "@RangeData.YEARLY") {
                    $("#chart-2").hide();
                    $("#chart-3").show();
                    chart = $("#chart-3").data("kendoChart");
                } else {
                    $("#chart-3").hide();
                    $("#chart-2").show();
                    chart = $("#chart-2").data("kendoChart");
                }

                if (util == "@Common.Enums.ProductionUtilization.ELECTRIC")
                    title = "in GWh";
                else
                    title = "in Ton";

                chart.setOptions({
                    title: {
                        text: title
                  }
                });    
                //chart.redraw();
                chart.refresh();
            }

            $("#chart-1").kendoChart({
                chartArea: {
                    height: 234
                },
                series: [
                    {
                        overlay: {
                            gradient: "none"
                        },
                        labels: {
                            visible: true,
                            format: "{0:n2}"
                        },
                        colorField: "valueColor",
                        data: [
                            { value: "@Model.PlanElectric".replace(',', '.')*1, valueColor: "#95AD7E" },
                            { value: "@Model.ActualElectric".replace(',', '.')*1, valueColor: "#7EAAAD" }
                        ]
                    }
                ],
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: ["Plan", "Actual"]
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    }
                }
            });

            var plan = [];
            @foreach (var item in Model.JsonMonthlyPlan)
            {
                @:plan.push("@item".replace(',', '.')*1);
            }

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}"
                    },
                    data: plan
                },
            ]

            var data = [];
            @{
                foreach (var item in Model.JsonMonthlyActual)
                {
                    @:data = [];
                    foreach (var d in item.ActualValue)
                    {
                        @:data.push("@d".replace(',', '.') * 1);
                    }
                    @:series.push({type: "column", stack: true, overlay:{gradient: "none"}, name: "@item.AreaName", data: data});
                }
            }

            $("#chart-2").kendoChart({
                    chartArea: {
                        height: 500
                    },
                title: {
                        text: "(in Ton)",
                    font: "14px 'open-sans'",
                    align: "left"
                },
                legend: {
                        visible: true,
                    position: "top",
                    labels: {
                            font: "14px 'open sans'"
                    },
                    orientation: "horizontal"
                },
                seriesColors: ["#4e4141", "#95AD7E", "#7EAAAD", "#705B48", "#C77140"],
                series: series,
                categoryAxis: {
                        majorGridLines: {
                            visible: false
                        },
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                },
                valueAxis: {
                        majorGridLines: {
                            visible: false
                        },
                    line: {
                            visible: true
                    },
                    labels: {
                            format: "{0:n0}"
                    },
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                }
            });



            var planYearlyValue = [],
                planYearly = [];

            @foreach (var item in Model.JsonYearlyPlan)
            {
                @:planYearlyValue.push("@item.Value".replace(',', '.') * 1);
                @:planYearly.push("@item.Year");
            }

        var listYear = [];
           @if(Model.ListYear != null)
            {
                foreach (var item in Model.ListYear)
                {
                    @:listYear.push("@item");
                }
            }

            var seriesChartYear = [{
                type: "line",
                name: "Target",
                labels: {
                    visible: true,
                    format: "{0:n2}"
                },
                data: planYearlyValue
            }]

             @{

                foreach (var item in Model.JsonYearlyyActual)
                {
                     @:data = [];
                    foreach (var d in item.ActualValue)
                    {
                        @:data.push("@d".replace(',', '.') * 1);
                    }
                    @:seriesChartYear.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: "@item.AreaName", data: data});

                }
            }

            $("#chart-3").kendoChart({
                chartArea: {
                    height: 500
                },
                title: {
                    text: "(in Ton)",
                    font: "14px 'open-sans'",
                    align: "left"
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'"
                    },
                    orientation: "horizontal"
                },
                seriesColors: ["#4e4141", "#95AD7E", "#7EAAAD", "#705B48", "#C77140"],
                series: seriesChartYear,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: listYear
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    },
                },
                tooltip: {
                    format: "{0:n2}",
                    visible: true
                }
            });

            util = $productionUtilChart.value();
            console.log(util)
            if (util == "@Common.Enums.ProductionUtilization.STEAM")
                    title = "in Ton";
             else
                    title = "in GWh";

            var chartProgress = $("#chart-2").data("kendoChart");
            chartProgress.setOptions({
                title: {
                    text: title
                }
            });
            chartProgress.refresh();


            chartProgress = $("#chart-3").data("kendoChart");
            chartProgress.setOptions({
                title: {
                    text: title
                }
            });
            chartProgress.refresh();
        }
</script>
}