﻿@using Common.Enums
@using System.Reflection
@model WebUI.Models.DashboardOperationPresentationStub
@{
    ViewBag.Title = "Operation";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string date = Model.LastDateProduction.ToString("dd MMM yyyy");

    //if (currentAction == "Index")
    //{
    //    Layout = "~/Views/Shared/Inspinia/_LayoutDashboard.cshtml";
    //} else
    //{
    //   Layout = "~/Views/Shared/Inspinia/_Layout.cshtml";
    //}

}
@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal", id = "FormFilter" }))
{
@*<div class="my-box-clean my-box-title container">
    <div class="row">
        <div class="col-md-2 col-md-offset-10">@Html.TextBoxFor(model => model.Year, new { @class = "form-control" })</div>
    </div>
</div>
<hr>*@
<div class="my-box my-box-title container">
    <div class="row">
        <div class="col-md-2 col-md-offset-8">@Html.TextBoxFor(model => model.AreaId, new { @class = "form-control" })</div>
        <div class="col-md-2">@Html.TextBoxFor(model => model.Year, new { @class = "form-control" })</div>
    </div>
</div>
<div class="my-box container">
    <div class="row">     
        @if (Model.HasData)
        {
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">@date</span>
                    <h5>Produksi Setara Listrik Harian</h5>
                </div>
                <div class="ibox-content">
                    <table class="table-70 table-stripped m-t-md">
                        <tbody>
                            <tr>
                                <td class="no-borders">
                                    <i class="fa fa-square text-green"></i>
                                </td>
                                <td class="no-borders text-green text-uppercase text-bold">
                                    Plan
                                </td>
                                <td class="no-borders text-bold">
                                    @DisplayFormat.NumberFormatTwoDecimal(Model.PlanElectricBOEPD)<span class="sup"><small>BOEPD</small></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="no-borders">
                                    <i class="fa fa-square text-blue"></i>
                                </td>
                                <td class="no-borders text-blue text-uppercase text-bold">
                                    Actual
                                </td>
                                <td class="no-borders text-bold">
                                    @DisplayFormat.NumberFormatTwoDecimal(Model.ActualElectricBOEPD)<span class="sup"><small>BOEPD</small></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="align-right"><small>in MWh</small></div>
                    <div id="chart-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">@date</span>
                            <h5>Month To Date Production</h5>
                        </div>
                        <div class="ibox-content status custom-height-no-title">
                            <row>
                                <div class="col-md-6 padding-top-10">
                                    <h2>MTD</h2>
                                    <h1 class="big"><i class="fa fa-circle text-red small-icon"></i>@DisplayFormat.NumberFormatTwoDecimal(Model.PersenMonth)%</h1>
                                </div>
                                <div class="col-md-6 padding-top-5">
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-green text-uppercase text-bold">
                                            Plan
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        @DisplayFormat.NumberFormatTwoDecimal(Model.PlanMonthElectric) GWh
                                    </div>
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-blue text-uppercase text-bold">
                                            Actual
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        @DisplayFormat.NumberFormatTwoDecimal(Model.ActualMonthElectric) GWh
                                    </div>
                                </div>
                            </row>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">@date</span>
                            <h5>Year To Date Production</h5>
                        </div>
                        <div class="ibox-content status custom-height-no-title">
                            <row>
                                <div class="col-md-6 padding-top-10">
                                    <h2>YTD</h2>
                                    <h1 class="big"><i class="fa fa-circle text-red small-icon"></i>@DisplayFormat.NumberFormatTwoDecimal(Model.PersenYear)%</h1>
                                </div>
                                <div class="col-md-6 padding-top-5">
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-green text-uppercase text-bold">
                                            Plan
                                        </span>
                                        <div class="text-bold">
                                           @DisplayFormat.NumberFormatTwoDecimal(Model.PlanYearElectric) GWh
                                        </div>
                                    </div>
                                    <div class="box-status">
                                        <i class="fa fa-square text-blue"></i>
                                        <span class="text-blue text-uppercase text-bold">
                                            Actual
                                        </span>
                                        <div class="text-bold">
                                            @DisplayFormat.NumberFormatTwoDecimal(Model.ActualYearElectric) GWh
                                        </div>
                                    </div>
                                </div>
                            </row>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">@date</span>
                            <h5>Financial Production</h5>
                        </div>
                        <div class="ibox-content status custom-height-no-title">
                            <row>
                                <div class="col-md-6 padding-top-10">
                                    <h2>DTD</h2>
                                    <h1 class="big"><i class="fa fa-circle text-red small-icon"></i>80%</h1>
                                </div>
                                <div class="col-md-6 padding-top-5">
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-green text-uppercase text-bold">
                                            Plan
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        Rp 125.000.000,-
                                    </div>
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-blue text-uppercase text-bold">
                                            Actual
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        Rp 100.000.000,-
                                    </div>
                                </div>
                            </row>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">@date</span>
                            <h5>Financial Production</h5>
                        </div>
                        <div class="ibox-content status custom-height-no-title">
                            <row>
                                <div class="col-md-6 padding-top-10">
                                    <h2>YTD</h2>
                                    <h1 class="big"><i class="fa fa-circle text-red small-icon"></i>111%</h1>
                                </div>
                                <div class="col-md-6 padding-top-5">
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-green text-uppercase text-bold">
                                            Plan
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        Rp 225.000.000,-
                                    </div>
                                    <div class="box-status">
                                        <i class="fa fa-square text-green"></i>
                                        <span class="text-blue text-uppercase text-bold">
                                            Actual
                                        </span>
                                    </div>
                                    <div class="text-bold">
                                        Rp 250.000.000,-
                                    </div>
                                </div>
                            </row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No Data plan or actual, please input data.
            </div>
        }
    </div>
</div>

<div class="my-box my-box-title container">
    <div class="row">
        <div class="col-md-2 col-md-offset-10">@Html.TextBoxFor(model => model.RangeData, new { @class = "form-control" })</div>
    </div>
</div>
<div class="my-box container">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">      
                    @if (Model.HasData)
                    {
                    <div id="chart-2">
                    </div>
                    <div id="chart-3">
                    </div>
                    }
                    else
                    {
                    <div class="alert alert-warning" role="alert">
                        No Data plan or actual, please input data.
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

}
@section scripts{
    <script type="text/javascript">
        $(function () {
            initElement();
        });

        function filter(e) {
            $("#FormFilter").submit();
        }

        function initElement() {
            //init dropdown area
            $area = dropdownListGenerator($("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA", "@Field.Name", "@Component.OptionLabelAreaAll", true, null);
            $year = dropdownListGenerator($("#@Field.Year"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_TASK", "@Field.Name", "", false, null);

            $rangeData = dropdownListGenerator($("#@Field.RangeData"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.RANGE_DATA", "@Field.Name", "", false, null);

            $area.bind("change", filter);
            $year.bind("change", filter);

            $rangeData.bind("change", changeChart);

            function changeChart() {
                var value = this.value();
                var chart = $().data("kendoChart");
                if (value === "@RangeData.YEARLY") {
                    $("#chart-2").hide();
                    $("#chart-3").show();
                    chart = $("#chart-3").data("kendoChart");
                } else {
                    $("#chart-3").hide();
                    $("#chart-2").show();
                    chart = $("#chart-2").data("kendoChart");
                }

                chart.refresh();
            }

            $("#chart-1").kendoChart({
                chartArea: {
                    height: 234
                },
                series: [
                    {
                        overlay: {
                            gradient: "none"
                        },
                        labels: {
                            visible: true,
                            format: "{0:n2}"
                        },
                        colorField: "valueColor",
                        data: [
                            { value: "@Model.PlanElectric".replace(',', '.')*1, valueColor: "#95AD7E" },
                            { value: "@Model.ActualElectric".replace(',', '.')*1, valueColor: "#7EAAAD" }
                        ]
                    }
                ],
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: ["Plan", "Actual"]
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    }
                }
            });

            var plan = [];
            @foreach (var item in Model.JsonMonthlyPlan)
            {
                @:plan.push("@item".replace(',', '.')*1);
            }

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}"
                    },
                    data: plan
                },
                {
                    type: "column",
                    stack: true,
                    overlay: {
                        gradient: "none"
                    },
                    name: "Kamojang",
                    data: [0, 0, 0, 0, 32.2, 28.1, 20.3, 44.3, 17.69]
                },
                {
                    type: "column",
                    overlay: {
                        gradient: "none"
                    },
                    name: "Lahendong",
                    data: [0, 0, 0, 0, 0, 0, 0, 0, 0]
                },
                {
                    type: "column",
                    overlay: {
                        gradient: "none"
                    },
                    name: "Salak",
                    data: [0, 0, 0, 0, 0, 0, 0, 0, 0]
                },
                {
                    type: "column",
                    overlay: {
                        gradient: "none"
                    },
                    name: "Darajat",
                    data: [0, 0, 0, 0, 0, 0, 0, 0, 0]
                }
            ]

            $("#chart-2").kendoChart({
                chartArea: {
                    height: 500
                },
                title: {
                    text: "(in GWh)",
                    font: "14px 'open-sans'",
                    align: "left"
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'"
                    },
                    orientation: "horizontal"
                },
                seriesColors: ["#4e4141", "#95AD7E", "#7EAAAD", "#705B48", "#C77140"],
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    },
                },
                tooltip: {
                    visible: true,
                    format: "{0:n0}"
                }
            });

            var planYearlyValue = [],
                planYearly = [];

            @foreach (var item in Model.JsonYearlyPlan)
            {
                @:planYearlyValue.push("@item.Value".replace(',', '.') * 1);
                @:planYearly.push("@item.Year");
            }

            $("#chart-3").kendoChart({
                chartArea: {
                    height: 500
                },
                title: {
                    text: "(in GWh)",
                    font: "14px 'open-sans'",
                    align: "left"
                },
                legend: {
                    visible: true,
                    position: "top",
                    labels: {
                        font: "14px 'open sans'"
                    },
                    orientation: "horizontal"
                },
                seriesColors: ["#4e4141", "#95AD7E", "#7EAAAD", "#705B48", "#C77140"],
                series: [
                    {
                        type: "line",
                        name: "Target",
                        labels: {
                            visible: true,
                            format: "{0:n0}"
                        },
                        data: planYearlyValue
                    },
                    {
                        type: "column",
                        stack: true,
                        overlay: {
                            gradient: "none"
                        },
                        name: "Kamojang",
                        data: [172.10]
                    },
                    {
                        type: "column",
                        overlay: {
                            gradient: "none"
                        },
                        name: "Lahendong",
                        data: [0]
                    },
                    {
                        type: "column",
                        overlay: {
                            gradient: "none"
                        },
                        name: "Salak",
                        data: [0]
                    },
                    {
                        type: "column",
                        overlay: {
                            gradient: "none"
                        },
                        name: "Darajat",
                        data: [0]
                    }
                ],
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: planYearly
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    },
                },
                tooltip: {
                    visible: true
                }
            });
        }
    </script>
}