﻿@{
    ViewBag.Title = TitleSite.Operation;
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-2">
            <input class="form-control" id="areaOptions" style="width:100%" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="puOptions" style="width:100%" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="rangeOptions" style="width:100%" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="monthOptions" style="width:100%" />
        </div>
        <div class="col-xs-2">
            <input class="form-control" id="yearOptions" style="width:100%" />
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-4">
            <div class="ibox-title">
                Electricity Production Summary
            </div>
            <div id="electricLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="electricIbox" class="ibox-content" style="display:none;">
                <div class="row" style="position: relative;">
                    <div class="col-xs-12" style="padding-right: 20%;padding-left: 20%;">
                        <canvas id="electricCanvas" width="1" height="1"></canvas>
                        <div class="donut-inner">
                            <div style="font-size:1.5vw;color:black"><strong id="electricPercent"></strong></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:orange">Plan RKAP:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="electricPlan" style="font-size:1vw 7vh;color:orange"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:green">Actual:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="electricActual" style="font-size:1vw 7vh;color:green"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ibox-title">
                Steam Production Summary
            </div>
            <div id="steamLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="steamIbox" class="ibox-content" style="display:none;">
                <div class="row">
                    <div class="col-xs-12" style="padding-right: 20%;padding-left: 20%;">
                        <canvas id="steamCanvas" width="1" height="1"></canvas>
                        <div class="donut-inner">
                            <div style="font-size:1.5vw;color:black"><strong id="steamPercent"></strong></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:orange">Plan RKAP:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="steamPlan" style="font-size:1vw 7vh;color:orange"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:green">Actual:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="steamActual" style="font-size:1vw 7vh;color:green"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ibox-title">
                Persentage Prognosa
            </div>
            <div id="prognosaLoading" class="sk-spinner sk-spinner-three-bounce" @*style="display:none;*@ ">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="prognosaIbox" class="ibox-content" @*style="display:none;*@ ">
                <div class="row">
                    <div class="col-xs-12" style="padding-right: 20%;padding-left: 20%;">
                        <canvas id="prognosaCanvas" width="1" height="1"></canvas>
                        <div class="donut-inner">
                            <div style="font-size:1.5vw;color:black"><strong id="prognosaPercent"></strong></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:orange">Plan RKAP:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="prognosaPlan" style="font-size:1vw 7vh;color:orange"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 text-left">
                        <div style="font-size:1vw 7vh;color:green">Actual:</div>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div id="prognosaActual" style="font-size:1vw 7vh;color:green"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="row">
        <div class="col-xs-8">
            <div class="ibox-title">
                Produksi Terhadap Total Kapasitas
            </div>
            <div id="pttkLoading" class="sk-spinner sk-spinner-three-bounce" @*style="display:none;*@ ">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="pttkIbox" class="ibox-content" @*style="display:none;*@ ">
                <div class="row">
                    <div id="pttkChartColOne" class="col-xs-6">

                    </div>
                    <div id="pttkChartColTwo" class="col-xs-6" style="display:none;">

                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ibox-title">
                Barrel Of Oil Equivalent (BOE)
            </div>
            <div id="boepdLoading" class="sk-spinner sk-spinner-three-bounce" @*style="display:none;*@ ">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div id="boepdIbox" class="ibox-content" @*style="display:none;*@ ">
            </div>
            <div class="row">
                <div class="col-xs-12" id="boepdWarning" style="display:none;">
                    <div class="alert alert-warning text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 0px;">
                        <p id="message">No Data plan or actual, please input data.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox float-e-margins">
    <div class="ibox-title">
        Production Plan vs Actual
    </div>
    <div id="ppaLoading" class="sk-spinner sk-spinner-three-bounce" style="display:none;">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
    <div id="ppaIbox" class="ibox-content" style="display:none;">
    </div>
    <div class="row">
        <div class="col-xs-12" id="ppaWarning" style="display:none;">
            <div class="alert alert-warning text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 0px;">
                <p id="message">No Data plan or actual, please input data.</p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var areaOptions = $().data("kendoDropDownList"),
            rangeOptions = $().data("kendoDropDownList"),
            monthOptions = $().data("kendoDropDownList"),
            yearOptions = $().data("kendoDropDownList"),
            puOptions = $().data("kendoDropDownList");

        var isAreaOptionsBounded = false,
            isRangeOptionsBounded = false,
            isMonthOptionsBounded = false,
            isYearOptionsBounded = false,
            isPUOptionsBounded = false;

        var electricDoughnut,
            steamDoughnut,
            prognosaDoughnut;
        var isElectricDoughnutRedraw = false,
            isSteamDoughnutRedraw = false,
            isPrognosaDoughnutRedraw = false;

        var ppaChart = $().data("kendoChart");

        var boepdChart = $().data("kendoChart");

        var pttkChartOne = $().data("kendoChart"),
            pttkChartTwo = $().data("kendoChart");

        $(function () {
            $("#monthOptions").val((new Date().getMonth() + 1));

            $("#electricIbox").hide();
            $("#steamIbox").hide();
            $("#prognosaIbox").hide();
            $("#electricLoading").hide();
            $("#steamLoading").hide();
            $("#prognosaLoading").hide();

            $("#pttkIbox").hide();
            $("#boepdIbox").hide();
            $("#boepdWarning").hide();
            $("#ppaIbox").hide();
            $("#ppaWarning").hide();
            $("#pttkLoading").hide();
            $("#boepdLoading").hide();
            $("#ppaLoading").hide();

            initAreaOptions();
            initRangeOptions();
            initMonthOptions();
            initYearOptions();
            initPUOptions();
        });

        function initAreaOptions() {
            areaOptions = dropdownListGenerator($("#areaOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA_ZPGE", "@Field.Name", "@Component.OptionLabelAreaAll", false, null);

            areaOptions.bind("change", function (e) {
                setElectricSteamDoughnutData(
                    e.sender.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    yearOptions.value()
                );

                setPPAData(
                    e.sender.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    yearOptions.value(),
                    puOptions.value()
                );

                setPrognosaBOEPDData(
                    e.sender.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    yearOptions.value(),
                    puOptions.value()
                );

                setPTTKData(
                    e.sender.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    yearOptions.value()
                );
            });

            areaOptions.bind("dataBound", function (e) {
                isAreaOptionsBounded = true;

                if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                    setElectricSteamDoughnutData(
                        e.sender.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );

                    setPPAData(
                        e.sender.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );

                    setPrognosaBOEPDData(
                        e.sender.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );

                    setPTTKData(
                        e.sender.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );
                }
            });
        }

        function initRangeOptions() {
            rangeOptions = dropdownListGenerator($("#rangeOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.RANGE_DATA", "@Field.Name", "", false, null);

            rangeOptions.bind("change", function (e) {
                if (e.sender.value() === "@RangeData.DAILY") {
                    $("#monthOptions").parent().parent().show();
                    $("#yearOptions").parent().parent().show();
                } else if (e.sender.value() === "@RangeData.MONTHLY") {
                    $("#monthOptions").parent().parent().hide();
                    $("#yearOptions").parent().parent().show();
                } else {
                    $("#monthOptions").parent().parent().hide();
                    $("#yearOptions").parent().parent().hide();
                }

                setElectricSteamDoughnutData(
                    areaOptions.value(),
                    e.sender.value(),
                    monthOptions.value(),
                    yearOptions.value()
                );

                setPPAData(
                    areaOptions.value(),
                    e.sender.value(),
                    monthOptions.value(),
                    yearOptions.value(),
                    puOptions.value()
                );

                setPrognosaBOEPDData(
                    areaOptions.value(),
                    e.sender.value(),
                    monthOptions.value(),
                    yearOptions.value(),
                    puOptions.value()
                );

                setPTTKData(
                    areaOptions.value(),
                    e.sender.value(),
                    monthOptions.value(),
                    yearOptions.value()
                );
            });

            rangeOptions.bind("dataBound", function (e) {
                isRangeOptionsBounded = true;

                if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                    setElectricSteamDoughnutData(
                        areaOptions.value(),
                        e.sender.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );

                    setPPAData(
                        areaOptions.value(),
                        e.sender.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );

                    setPrognosaBOEPDData(
                        areaOptions.value(),
                        e.sender.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );

                    setPTTKData(
                        areaOptions.value(),
                        e.sender.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );
                }
            });
        }

        function initMonthOptions() {
            var monthOptionsDS =  new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post",
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.Value";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.Text"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.MONTH";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Value", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            monthOptions = $("#monthOptions").kendoDropDownList({
                dataSource: monthOptionsDS,
                dataBound: function (e) {
                    isMonthOptionsBounded = true;

                    if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                        setElectricSteamDoughnutData(
                            areaOptions.value(),
                            rangeOptions.value(),
                            e.sender.value(),
                            yearOptions.value()
                        );

                        setPPAData(
                            areaOptions.value(),
                            rangeOptions.value(),
                            e.sender.value(),
                            yearOptions.value(),
                            puOptions.value()
                        );

                        setPrognosaBOEPDData(
                            areaOptions.value(),
                            rangeOptions.value(),
                            e.sender.value(),
                            yearOptions.value(),
                            puOptions.value()
                        );

                        setPTTKData(
                            areaOptions.value(),
                            rangeOptions.value(),
                            e.sender.value(),
                            yearOptions.value()
                        );
                    }
                },
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                change: function (e) {
                    setElectricSteamDoughnutData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        e.sender.value(),
                        yearOptions.value()
                    );

                    setPPAData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        e.sender.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );

                    setPrognosaBOEPDData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        e.sender.value(),
                        yearOptions.value(),
                        puOptions.value()
                    );

                    setPTTKData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        e.sender.value(),
                        yearOptions.value()
                    );
                }
            }).data("kendoDropDownList");
        }

        function initYearOptions() {
            yearOptions = dropdownListGenerator($("#yearOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.YEAR_BY_TASK", "@Field.Name", "", false, null);

            yearOptions.bind("change", function (e) {
                setElectricSteamDoughnutData(
                    areaOptions.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    e.sender.value()
                );

                setPPAData(
                    areaOptions.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    e.sender.value(),
                    puOptions.value()
                );

                setPrognosaBOEPDData(
                    areaOptions.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    e.sender.value(),
                    puOptions.value()
                );

                setPTTKData(
                    reaOptions.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    e.sender.value()
                );
            });

            yearOptions.bind("dataBound", function (e) {
                isYearOptionsBounded = true;

                if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                    setElectricSteamDoughnutData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        e.sender.value()
                    );

                    setPPAData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        e.sender.value(),
                        puOptions.value()
                    );

                    setPrognosaBOEPDData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        e.sender.value(),
                        puOptions.value()
                    );

                    setPTTKData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        e.sender.value()
                    );
                }
            });
        }

        function initPUOptions() {
            puOptions = dropdownListGenerator($("#puOptions"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRODUCT_UTILIZATION", "@Field.Name", "", false, ["Days Effective"]);

            puOptions.bind("change", function (e) {
                if (e.sender.value() !== "@ProductionUtilization.ELECTRIC") {
                    $("#boepdIbox").parent().hide();
                    $("#pttkIbox").parent().removeClass("col-xs-8");
                    $("#pttkIbox").parent().addClass("col-xs-12");
                } else {
                    $("#pttkIbox").parent().removeClass("col-xs-12");
                    $("#pttkIbox").parent().addClass("col-xs-8");
                    $("#boepdIbox").parent().show();
                }

                setPPAData(
                    areaOptions.value(),
                    rangeOptions.value(),
                    monthOptions.value(),
                    yearOptions.value(),
                    e.sender.value()
                );
            });

            puOptions.bind("dataBound", function (e) {
                if (e.sender.value() !== "@ProductionUtilization.ELECTRIC") {
                    $("#boepdIbox").parent().hide();
                    $("#pttkIbox").parent().removeClass("col-xs-8");
                    $("#pttkIbox").parent().addClass("col-xs-12");
                } else {
                    $("#pttkIbox").parent().removeClass("col-xs-12");
                    $("#pttkIbox").parent().addClass("col-xs-8");
                    $("#boepdIbox").parent().show();
                }

                isPUOptionsBounded = true;

                if (isAreaOptionsBounded && isRangeOptionsBounded && isMonthOptionsBounded && isYearOptionsBounded && isPUOptionsBounded) {
                    setElectricSteamDoughnutData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );

                    setPPAData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        e.sender.value()
                    );

                    setPrognosaBOEPDData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value(),
                        e.sender.value()
                    );

                    setPTTKData(
                        areaOptions.value(),
                        rangeOptions.value(),
                        monthOptions.value(),
                        yearOptions.value()
                    );
                }
            });
        }

        function initElectricDoughnut(model) {
            $("#electricPercent").empty();
            $("#electricPercent").text((kendo.toString(model.EnergyActual === null ? 0 : model.EnergyActual, "n2")) + " %");

            $("#electricPlan").empty();
            $("#electricPlan").text((kendo.toString(model.SumEnergyPlan === null ? 0 : model.SumEnergyPlan, "n2")) + " MWH");

            $("#electricActual").empty();
            $("#electricActual").text((kendo.toString(model.SumEnergyNett === null ? 0 : model.SumEnergyNett, "n2")) + " MWH");

            var temp = 0;
            var data = [];
            var color;

            temp = parseFloat(model.EnergyActual.toString().replace(',', '.'));

            if (temp >= 0 && temp <= 50) {
                color = "#f44336"
            } else if (temp > 50 && temp <= 70) {
                color = "#FFEB3B";
            } else {
                color = "#4CAF50";
            }

            if (isElectricDoughnutRedraw) {
                electricDoughnut.destroy();
            } else {
                isElectricDoughnutRedraw = true;
            }

            //doughnut electric
            var ctx = document.getElementById("electricCanvas").getContext("2d");
            var gradientColors = [
                {
                    start: color,
                    end: color
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients = [];

            gradientColors.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients.push(gradient);
            });

            if (temp > 100) {
                data = [100, 0];
            } else {
                data = [temp, 100 - temp];
            }

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    }
                },
            };
            electricDoughnut = new Chart(ctx, config);
        }

        function initSteamDoughnut(model) {
            $("#steamPercent").empty();
            $("#steamPercent").text((kendo.toString(model.SteamActual === null ? 0 : model.SteamActual, "n2")) + " %");

            $("#steamPlan").empty();
            $("#steamPlan").text((kendo.toString(model.SumSteamPlan === null ? 0 : model.SumSteamPlan, "n2")) + " TON");

            $("#steamActual").empty();
            $("#steamActual").text((kendo.toString(model.SumSteamUtilization === null ? 0 : model.SumSteamUtilization, "n2")) + " TON");

            var temp = 0;
            var data = [];
            var color;

            temp = parseFloat(model.SteamActual.toString().replace(',', '.'));

            if (temp >= 0 && temp <= 50) {
                color = "#f44336"
            } else if (temp > 50 && temp <= 70) {
                color = "#FFEB3B";
            } else {
                color = "#4CAF50";
            }

            if (isSteamDoughnutRedraw) {
                steamDoughnut.destroy();
            } else {
                isSteamDoughnutRedraw = true;
            }

            //doughnut steam
            var ctx = document.getElementById("steamCanvas").getContext("2d");
            var gradientColors = [
                {
                    start: color,
                    end: color
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients = [];

            gradientColors.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients.push(gradient);
            });

            if (temp > 100) {
                data = [100, 0];
            } else {
                data = [temp, 100 - temp];
            }

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    }
                },
            };
            steamDoughnut = new Chart(ctx, config);
        }

        function setElectricSteamDoughnutData(area, range, month, year) {
            if (area === "") {
                area = 0;
            }

            $.ajax({
                url: "@Url.Action("GetTopDashboardExecutiveModel")",
                type: "POST",
                dataType: "json",
                data: { "areaId": area, "month": month, "endYear": year, "rangeData": range},
                beforeSend: function () {
                    $("#electricIbox").hide();
                    $("#electricLoading").show();
                    $("#steamIbox").hide();
                    $("#steamLoading").show();

                },
                success: function (model) {
                    $("#electricLoading").hide();
                    $("#electricIbox").show();
                    $("#steamLoading").hide();
                    $("#steamIbox").show();

                    initElectricDoughnut(model);
                    initSteamDoughnut(model);
                }
            });
        }

        function initPrognosaDoughnut(model) {
            $("#prognosaPercent").empty();
            $("#prognosaPlan").empty();
            $("#prognosaActual").empty();

            var temp = 0;
            var data = [];
            var color;

            if (rangeOptions.value() === "@RangeData.DAILY") {
                $("#prognosaPercent").text((kendo.toString(model.PersenMonthFinance === null ? 0 : model.PersenMonthFinance, "n2")) + " %");
                $("#prognosaPlan").text(("USD. " + kendo.toString(model.PlanMonthElectricFinance === null ? 0 : model.PlanMonthElectricFinance, "n2")));
                $("#prognosaActual").text(("USD. " + kendo.toString(model.ActualMonthElectricFinance === null ? 0 : model.ActualMonthElectricFinance, "n2")));
                temp = parseFloat(model.PersenMonthFinance.toString().replace(',', '.'));
            } else {
                $("#prognosaPercent").text((kendo.toString(model.PersenYearFinance === null ? 0 : model.PersenYearFinance, "n2")) + " %");
                $("#prognosaPlan").text(("USD. " + kendo.toString(model.PlanYearElectricFinance === null ? 0 : model.PlanYearElectricFinance, "n2")));
                $("#prognosaActual").text(("USD. " + kendo.toString(model.ActualYearElectricFinance === null ? 0 : model.ActualYearElectricFinance, "n2")));
                temp = parseFloat(model.PersenYearFinance.toString().replace(',', '.'));
            }

            if (temp >= 0 && temp <= 50) {
                color = "#f44336"
            } else if (temp > 50 && temp <= 70) {
                color = "#FFEB3B";
            } else {
                color = "#4CAF50";
            }

            if (isPrognosaDoughnutRedraw) {
                prognosaDoughnut.destroy();
            } else {
                isPrognosaDoughnutRedraw = true;
            }

            //doughnut prognosa
            var ctx = document.getElementById("prognosaCanvas").getContext("2d");
            var gradientColors = [
                {
                    start: color,
                    end: color
                },
                {
                    start: '#000',
                    end: '#000'
                }
            ];

            var gradients = [];

            gradientColors.forEach(function (item) {
                var gradient = ctx.createLinearGradient(150, 50, 150, 150);
                gradient.addColorStop(0, item.start);
                gradient.addColorStop(1, item.end);
                gradients.push(gradient);
            });

            if (temp > 100) {
                data = [100, 0];
            } else {
                data = [temp, 100 - temp];
            }

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: data,
                        backgroundColor: gradients,
                        borderWidth: 0
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                    tooltips: {
                        enabled: false
                    }
                },
            };
            prognosaDoughnut = new Chart(ctx, config);
        }

        function initBOEPDChart(model) {
            if (model.EnergyPlanPercentBoepd !== 0 && model.EnergyActualPercentBoepd !== 0) {
                $("#boepdIbox").show();

                var centerText = kendo.format('{0:N2}', model.EnergyActualPercentBoepd) + " %";
                var center;
                var radius;

                $("#boepdIbox").empty();
                $("#boepdIbox").append("<div id=\"boepdChart\"></div>");
                $("#boepdIbox").append("<div class=\"row\"><div class=\"col-xs-5 text-left\"><div style=\"font-size:1vw 7vh;color:#3f51b5\">Plan:</div></div><div class=\"col-xs-7 text-right\"><div style=\"font-size:1vw 7vh;color:#3f51b5\">" + kendo.format('{0:N2}', model.EnergyPlanNettBoepd) + " Barrel Oil</div></div></div >");
                $("#boepdIbox").append("<div class=\"row\"><div class=\"col-xs-5 text-left\"><div style=\"font-size:1vw 7vh;color:#03a9f4\">Actual:</div></div><div class=\"col-xs-7 text-right\"><div style=\"font-size:1vw 7vh;color:#03a9f4\">" + kendo.format('{0:N2}', model.EnergyActualNettBoepd) + " Barrel Oil</div></div></div >");

                boepdChart = $("#boepdChart").kendoChart({
                    theme: "material",
                    chartArea: {
                        height: "400px"
                    },                 
                    legend: {
                        position: "bottom"
                    },
                    seriesDefaults: {
                        labels: {
                            //template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                            //position: "outsideEnd",
                            template: "#= kendo.format('{0:N2}', value)#%",
                            visible: true,
                            background: "transparent",
                            color: "#F5F5F5",
                            font: "12px Verdana,Arial,sans-serif"

                        }
                    },
                    series: [{
                        type: "donut",
                        startAngle: 150,
                        visual: function (e) {
                            center = e.center;
                            radius = e.radius;

                            return e.createVisual();
                        },
                        data: [{
                            category: "Plan",
                            value: model.EnergyPlanPercentBoepd
                        }, {
                                category: "Actual",
                                value: model.EnergyActualPercentBoepd
                        }]
                    }],
                    tooltip: {
                        visible: true,
                        template: "#= category # - #= kendo.format('{0:N2}', value) #%"
                    },
                    render: function (e) {
                        var draw = kendo.drawing;
                        var geom = kendo.geometry;
                        var chart = e.sender;

                        var circleGeometry = new geom.Circle(center, radius);
                        var bbox = circleGeometry.bbox();
                        var text = new draw.Text(centerText, [0, 0], {
                            font: "15px Verdana,Arial,sans-serif"
                        });

                        draw.align([text], bbox, "center");
                        draw.vAlign([text], bbox, "center");

                        e.sender.surface.draw(text);
                    }
                });
            } else {
                $("#boepdWarning").show();
            }
        }

        function setPrognosaBOEPDData(area, range, month, year, pu) {
            if (area === "") {
                area = 0;
            }

            $.ajax({
                url: "@Url.Action("GetTopDashboardExecutiveModel")",
                type: "POST",
                dataType: "json",
                data: { "areaId": area, "month": month, "endYear": year, "rangeData": range},
                beforeSend: function () {
                      if (pu === "@ProductionUtilization.ELECTRIC") {
                        $("#boepdIbox").hide();
                        $("#boepdWarning").hide();
                        $("#boepdLoading").show();
                    }

                },
                success: function (model) {
                    console.log(model)
                    if (pu === "@ProductionUtilization.ELECTRIC") {
                        $("#boepdLoading").hide();
                        initBOEPDChart(model);
                    }
                }
            });

            $.ajax({
                url: "@Url.Action("GetTopDashboardModel")",
                type: "POST",
                dataType: "json",
                data: { "areaId":area, "puChart": pu, "rangeData": range, "monthChart": month, "yearChart": year },
                beforeSend: function () {
                    $("#prognosaIbox").hide();
                    $("#prognosaLoading").show();
                },
                success: function (model) {
                    $("#prognosaIbox").show();
                    $("#prognosaLoading").hide();
                    initPrognosaDoughnut(model);


                }
            });
        }

        function initPTTKChartOne(dataModel) {
            var sumNotAbsorbed = dataModel[1].Value + dataModel[2].Value;
            var sumNettNotAbsorbed = dataModel[1].Nett + dataModel[2].Nett;
            var data = [
                { category: dataModel[0].Category, value: dataModel[0].Value },
                { category: dataModel[1].Category, value: sumNotAbsorbed, explode: true }
            ];
            
            $("#pttkChartColOne").empty();
            $("#pttkChartColOne").append("<div id=\"pttkChartOne\"></div>");
            $("#pttkChartColOne").append("<div class=\"row\"><div class=\"col-xs-5 text-left\"><div style=\"font-size:1vw 7vh;color:#3f51b5\">Tidak Terserap:</div></div><div class=\"col-xs-7 text-right\"><div style=\"font-size:1vw 7vh;color:#3f51b5\">" + kendo.format('{0:N2}', sumNettNotAbsorbed) + " MWH</div></div></div >");
            $("#pttkChartColOne").append("<div class=\"row\"><div class=\"col-xs-5 text-left\"><div style=\"font-size:1vw 7vh;color:#03a9f4\">Realisasi:</div></div><div class=\"col-xs-7 text-right\"><div style=\"font-size:1vw 7vh;color:#03a9f4\">" + kendo.format('{0:N2}', dataModel[0].Nett) + " MWH</div></div></div >");

            pttkChartOne = $("#pttkChartOne").kendoChart({
                theme: "material",
                seriesColors: ["#03a9f4", "#3f51b5"],
                chartArea: {
                    height: "400px"
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    labels: {
                        position: "center",
                        template: "#= kendo.format('{0:P}', percentage)#",
                        visible: true,
                        background: "transparent",
                        color: "#F5F5F5",
                        font: "12px Verdana,Arial,sans-serif"

                    }
                },
                series: [{
                    type: "pie",
                    data: data
                }],
                tooltip: {
                    visible: true,
                    template: "#= category # - #= kendo.format('{0:P}', percentage) #"
                },
                seriesClick: function (e) {
                    if (e.dataItem.category !== "Realisasi") {
                        e.sender.options.transitions = true;
                        if (e.dataItem.explode) {
                            e.dataItem.explode = false;
                            $("#pttkChartColTwo").hide();
                        } else {
                            e.dataItem.explode = true;
                            $("#pttkChartColTwo").show();
                        }
                    } else {
                        e.sender.options.transitions = false;
                    }
                    e.sender.refresh();
                }
            });

            $("#pttkChartColTwo").show();
        }

        function initPTTKChartTwo(dataModel) {            

            var sumNettNotAbsorbed = dataModel[1].Nett + dataModel[2].Nett;
            var data = [
                { category: dataModel[1].SubCategory, value: dataModel[1].Value },
                { category: dataModel[2].SubCategory, value: dataModel[2].Value }
            ];

            $("#pttkChartColTwo").empty();
            $("#pttkChartColTwo").append("<div id=\"pttkChartTwo\"></div>");
            $("#pttkChartColTwo").append("<div class=\"row\"><div class=\"col-xs-5 text-left\"><div style=\"font-size:1vw 7vh;color:#3f51b5\">Faktor Internal:</div></div><div class=\"col-xs-7 text-right\"><div style=\"font-size:1vw 7vh;color:#3f51b5\">" + kendo.format('{0:N2}', dataModel[1].Nett) + " MWH</div></div></div >");
            $("#pttkChartColTwo").append("<div class=\"row\"><div class=\"col-xs-5 text-left\"><div style=\"font-size:1vw 7vh;color:#03a9f4\">Faktor Eksternal:</div></div><div class=\"col-xs-7 text-right\"><div style=\"font-size:1vw 7vh;color:#03a9f4\">" + kendo.format('{0:N2}', dataModel[2].Nett) + " MWH</div></div></div >");

            pttkChartTwo = $("#pttkChartTwo").kendoChart({
                theme: "material",
                chartArea: {
                    height: "400px",
                    width: "350px"
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    labels: {
                        position: "center",
                        template: "#= kendo.format('{0:P}', percentage)#",
                        visible: true,
                        background: "transparent",
                        color: "#F5F5F5",
                        font: "12px Verdana,Arial,sans-serif"
                    }
                },
                series: [{
                    type: "pie",
                    data: data
                }],
                tooltip: {
                    visible: true,
                    template: "#= category # - #= kendo.format('{0:P}', percentage) #"
                }
            });
        }

        function setPTTKData(area, range, month, year) {
            if (area === "") {
                area = 0;
            }

            $.ajax({
                url: "@Url.Action("GetReliabilityData")",
                type: "POST",
                dataType: "json",
                data: { "areaId":area, "rangeData": range, "month": month, "year": year },
                beforeSend: function () {
                    $("#pttkIbox").hide();
                    $("#pttkLoading").show();
                },
                success: function (model) {
                    $("#pttkIbox").show();
                    $("#pttkLoading").hide();

                    initPTTKChartOne(model.Chart.Rows);
                    initPTTKChartTwo(model.Chart.Rows);
                }
            });
        }

        function initPPADailyChart(jsonDailyPlanParam, jsonDailyActualParam, categoriesParam, puParam) {
            var plan = [];
            var listCategori = [];
            var title,flag = true;

            $.each(jsonDailyPlanParam, function (i, value) {
                plan.push((value.toString().replace(',', '.') * 1));
            });

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}",
                        rotation: -65
                    },
                    data: plan,
                    style: "smooth",
                    opacity: 0.5,
                    width: 1.5,
                    markers: {
                        visible: true,
                        background: "",
                        size: 5
                    }
                }
            ];

            $.each(jsonDailyActualParam, function (i, dailyActual) {
                var data = [];
                $.each(dailyActual.ActualValue, function (j, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                series.push({ type: "bar", stack: true, overlay: { gradient: "none" }, name: dailyActual.AreaName, data: data });
            });

            if (categoriesParam !== null) {
                $.each(categoriesParam, function (i, category) {
                    listCategori.push(category);
                });
            }

            if (puParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            $("#ppaIbox").empty();
            $("#ppaIbox").append("<div id=\"ppaChart\" style=\"width:100%;height:100%;\"></div>");

            ppaChart = $("#ppaChart").kendoChart({
                theme: "material",
                chartArea: {
                    height: "400px"
                },
                title: {
                    text: title
                },
                legend: {
                    visible: true,
                    position: "bottom",
                    labels: {
                        font: "14px 'open sans'",
                        color: "#000"
                    },
                    orientation: "horizontal"
                },
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: listCategori
                },
                seriesDefaults: {
                    type: "bar",
                    stack: true
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n3}"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                },
                dataBound: function () {
                    setTimeout(createSlave, 0);
                }
            }).data("kendoChart");
        }

        function initPPAMonthlyChart(jsonMonthlyPlanParam, jsonMonthlyActualParam, puParam) {
            var plan = [];
            var title, flag = true;

            $.each(jsonMonthlyPlanParam, function (i, monthlyPlan) {
                plan.push((monthlyPlan.toString().replace(',', '.') * 1));
            });

            var series = [
                {
                    type: "line",
                    name: "Target",
                    labels: {
                        visible: true,
                        format: "{0:n2}"
                    },
                    data: plan,
                    style: "smooth",
                    opacity: 0.5,
                    width: 1.5,
                    markers: {
                        visible: true,
                        background: "",
                        size: 5
                    }
                }
            ];

            $.each(jsonMonthlyActualParam, function (i, monthlyActual) {
                var data = [];
                $.each(monthlyActual.ActualValue, function (i, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                series.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: monthlyActual.AreaName, data: data });
            });

            if (puParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            $("#ppaIbox").empty();
            $("#ppaIbox").append("<div id=\"ppaChart\" style=\"width:100%;height:100%;\"></div>");

            ppaChart = $("#ppaChart").kendoChart({
                theme: "material",
                chartArea: {
                    height: "400px"
                },
                title: {
                    text: title
                },
                legend: {
                    visible: true,
                    position: "bottom",
                    labels: {
                        font: "14px 'open sans'"
                    },
                    orientation: "horizontal"
                },
                series: series,
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                },
                seriesDefaults: {
                    type: "column",
                    stack: true
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true,
                    },
                    labels: {
                        format: "{0:n0}"
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0:n2}"
                },
                dataBound: function () {
                    setTimeout(createSlave, 0);
                }
            }).data("kendoChart");
        }

        function initPPAYearlyChart(jsonYearlyPlanParam,listYearParam,jsonYearlyActualParam, puParam) {
            var planYearlyValue = [],
                planYearly = [],
                listYear = [],
                title,
                flag = true;

            $.each(jsonYearlyPlanParam, function (i, yearlyPlan) {
                planYearlyValue.push((yearlyPlan.Value.toString().replace(',', '.') * 1));
                planYearly.push(yearlyPlan.Year);
            });

            if (listYearParam !== null) {
                $.each(listYearParam, function (i, y) {
                    listYear.push(y);
                });
            }

            var seriesChartYear = [{
                type: "line",
                name: "Target",
                labels: {
                    visible: true,
                    format: "{0:n2}"
                },
                data: planYearlyValue,
                style: "smooth",
                opacity: 0.5,
                width: 1.5,
                markers: {
                    visible: true,
                    background: "",
                    size: 5
                }
            }];

            $.each(jsonYearlyActualParam, function (i, yearlyActual) {
                var data = [];
                $.each(yearlyActual.ActualValue, function (j, actualValue) {
                    data.push((actualValue.toString().replace(',', '.') * 1));
                });
                seriesChartYear.push({ type: "column", stack: true, overlay: { gradient: "none" }, name: yearlyActual.AreaName, data: data});
            });

            if (puParam === "@Common.Enums.ProductionUtilization.ELECTRIC")
                title = "in GWh";
            else
                title = "in Ton";

            $("#ppaIbox").empty();
            $("#ppaIbox").append("<div id=\"ppaChart\" style=\"width:100%;height:100%;\"></div>");

            ppaChart = $("#ppaChart").kendoChart({
                theme: "material",
                chartArea: {
                    height: "400px",
                    background: ""
                },
                legend: {
                    visible: true,
                    position: "bottom",
                    labels: {
                        font: "14px 'open sans'"
                    },
                    orientation: "horizontal"
                },
                title: {
                    text: title
                },
                series: seriesChartYear,
                seriesDefaults: {
                    type: "column",
                    stack: true
                },
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    categories: listYear
                },
                valueAxis: {
                    majorGridLines: {
                        visible: false
                    },
                    line: {
                        visible: true
                    },
                    labels: {
                        format: "{0:n0}"
                    }
                },
                tooltip: {
                    format: "{0:n2}",
                    visible: true,
                }
            }).data("kendoChart");
        }

        function setPPAData(area, range, month, year, pu) {
            if (area === "") {
                area = 0;
            }

            $.ajax({
                url: "@Url.Action("GetBottomDashboardModel")",
                type: "POST",
                dataType: "json",
                data: { "areaId":area, "puChart": pu, "rangeData": range, "monthChart": month, "yearChart": year },
                beforeSend: function () {
                    $("#ppaWarning").hide();
                    $("#ppaIbox").hide();
                    $("#ppaLoading").show();
                },
                success: function (model) {
                    $("#ppaLoading").hide();

                    if (model.ChartHasData) {
                        $("#ppaIbox").show();

                        if (range === "@RangeData.MONTHLY") {
                            initPPAMonthlyChart(model.JsonMonthlyPlan, model.JsonMonthlyActual, model.ProductionUtilizationChart);
                        } else if (range === "@RangeData.YEARLY") {
                            initPPAYearlyChart(model.JsonYearlyPlan, model.ListYear, model.JsonYearlyActual, model.ProductionUtilizationChart);
                        } else {
                            initPPADailyChart(model.JsonDailyPlan, model.JsonDailyActual, model.Categories, model.ProductionUtilizationChart);
                        }
                    } else {
                        $("#ppaWarning").show();
                    }
                }
            });
        }

    </script>
}