﻿@using Common.Enums
@using System.Reflection
@using System.Globalization
@{
    ViewBag.Title = "Operation";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    var absoluteUri = HttpContext.Current.Request.Url.AbsoluteUri;
    var absolutePath = HttpContext.Current.Request.Url.AbsolutePath;
    var aplicationPath = HttpContext.Current.Request.ApplicationPath;
    var queryPath = HttpContext.Current.Request.Url.PathAndQuery;
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
    Request.ApplicationPath.TrimEnd('/') + "/";

    string host = Request.Url.Host;

    Uri uri = new Uri(absoluteUri);
    string hostUri = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port;
    string removeQuery = uri.GetLeftPart(UriPartial.Path);
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <link href="~/logo.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/inspinia/css")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/sweet-alert/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="top-navigation dark-theme mobile">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Page wraper -->
        <div id="page-wrapper" class="bluegradient-bg">
            <div class="wrapper wrapper-content pt-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 box-button text-center">
                            <a id="luDate" class="btn btn-block btn-custom" href="#">
                                @*masukkan text Last Update Model.LastDateProduction.Value.ToString("dd MMMM yyyy")*@
                            </a>
                        </div>
                        <div class="col-md-12">
                            <div class="ibox float-e-margins">
                                <!-- Main view  -->

                                <div class="my-first-box-gradient box-shadow container">
                                    <div class="dropdown row">
                                        <div class="col-xs-6">
                                            <h5>SO Type</h5>
                                            @Html.TextBox("soType", new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-6">
                                            <h5>Material</h5>
                                            @Html.TextBox("productionUtilization", new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-6">
                                            <h5>Area</h5>
                                            @Html.TextBox("areaId", new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-6">
                                            <h5>Tahun</h5>
                                            @Html.TextBox("year", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div id="loadingSpinner1" class="sk-spinner sk-spinner-three-bounce">
                                        <div class="sk-bounce1"></div>
                                        <div class="sk-bounce2"></div>
                                        <div class="sk-bounce3"></div>
                                    </div>

                                    <div class="row chart">

                                        @*jika HasData == true tampilkan ini*@

                                        <div id="row1" class="col-md-4">
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-content custom-content bg-transparent p-0">

                                                    @*jika Model.ProductionUtilization == ProductionUtilization.ELECTRIC.ToString() tampilkan ini*@

                                                    <div id="pslhTitle" class="box-title-custom">
                                                        <h3 class="text-center">Produksi Setara Listrik Harian</h3>
                                                    </div>
                                                    <div id="pslhBorder" class="cont-status border">
                                                        <div class="row">
                                                            <div class="col-xs-5">
                                                                <i class="fa fa-square text-green"></i>
                                                                <span class="text-green text-bold text-uppercase">Plan</span>
                                                            </div>
                                                            <div id="peBOEPD" class="col-xs-7 text-bold">
                                                                @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PlanElectricBOEPD)*@
                                                                @*append <span class="sup"><small>BOEPD</small></span>*@
                                                            </div>

                                                            <div class="col-xs-5 ">
                                                                <i class="fa fa-square text-blue"></i>
                                                                <span class="text-blue text-bold text-uppercase ">Actual</span>
                                                            </div>
                                                            <div id="aeBOEPD" class="col-xs-7 text-bold">
                                                                @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.ActualElectricBOEPD)*@
                                                                @*append <span class="sup"><small>BOEPD</small></span>*@
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @*sampai sini*@

                                                    <div class="align-right">&nbsp;</div>
                                                    <div id="chart-1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="row2" class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-content custom-content bg-transparent p-0">
                                                            <div class="dropdown h3">
                                                                @Html.TextBox("proOrFin", new { @class = "form-control" })
                                                            </div>
                                                            <div id="productionPanel" class="row">
                                                                <div class="col-xs-6">
                                                                    <canvas id="canvas" width=100 height=100></canvas>
                                                                    <div class="donut-inner">
                                                                        <span>MTD</span>
                                                                        <h5 id="persenMonth">
                                                                            @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PersenMonth)%*@
                                                                        </h5>
                                                                    </div>
                                                                    <div style="height:20px;"></div>
                                                                    <canvas id="canvas2" width=100 height=100></canvas>
                                                                    <div class="donut-inner">
                                                                        <span>YTD</span>
                                                                        <h5 id="persenYear">
                                                                            @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PersenYear)%*@
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6 text-bold text-dark-blue">
                                                                    <div class="border">
                                                                        <div class="box-status box-status-narrow" style="margin-top:10px;">
                                                                            <i class="fa fa-square text-green"></i>
                                                                            <span class="text-green text-uppercase text-bold">
                                                                                Plan
                                                                            </span>
                                                                            <div id="pmElectric" class="text-bold">
                                                                                @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PlanMonthElectric)
                                                                                    jika Model.ProductionUtilization == ProductionUtilization.ELECTRIC.ToString() ? append <span> GWh</span> : <span> Ton</span>*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow">
                                                                            <i class="fa fa-square text-blue"></i>
                                                                            <span class="text-blue text-uppercase text-bold">
                                                                                Actual
                                                                            </span>
                                                                            <div id="amElectric" class="text-bold">
                                                                                @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.ActualMonthElectric)
                                                                                    jika Model.ProductionUtilization == ProductionUtilization.ELECTRIC.ToString() ? append <span> GWh</span> : <span> Ton</span>*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow" style="margin-bottom:60px;">
                                                                            <i class="fa fa-square text-red"></i>
                                                                            <span class="text-red text-uppercase text-bold">
                                                                                Prognosa
                                                                            </span>
                                                                            <div id="prognosaME" class="text-bold">
                                                                                @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PrognosaMonthElectric)
                                                                                    jika Model.ProductionUtilization == ProductionUtilization.ELECTRIC.ToString() ? append <span> GWh</span> : <span> Ton</span>*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow">
                                                                            <i class="fa fa-square text-green"></i>
                                                                            <span class="text-green text-uppercase text-bold">
                                                                                Plan
                                                                            </span>
                                                                            <div id="pyElectric" class="text-bold">
                                                                                @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PlanYearElectric)
                                                                                    jika Model.ProductionUtilization == ProductionUtilization.ELECTRIC.ToString() ? append <span> GWh</span> : <span> Ton</span>*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow">
                                                                            <i class="fa fa-square text-blue"></i>
                                                                            <span class="text-blue text-uppercase text-bold">
                                                                                Actual
                                                                            </span>
                                                                            <div id="ayElectric" class="text-bold">
                                                                                @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.ActualYearElectric)
                                                                                    jika Model.ProductionUtilization == ProductionUtilization.ELECTRIC.ToString() ? append <span> GWh</span> : <span> Ton</span>*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow">
                                                                            <i class="fa fa-square text-red"></i>
                                                                            <span class="text-red text-uppercase text-bold">
                                                                                Prognosa
                                                                            </span>
                                                                            <div id="prognosaYE" class="text-bold">
                                                                                @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PrognosaYearElectric)
                                                                                    jika Model.ProductionUtilization == ProductionUtilization.ELECTRIC.ToString() ? append <span> GWh</span> : <span> Ton</span>*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="financePanel" class="row">
                                                                <div class="col-xs-6">
                                                                    <canvas id="canvas3" width=100 height=100></canvas>
                                                                    <div class="donut-inner">
                                                                        <span>MTD</span>
                                                                        <h5 id="pmFinance">
                                                                            @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PersenMonthFinance)%*@
                                                                        </h5>
                                                                    </div>
                                                                    <div style="height:20px;"></div>
                                                                    <canvas id="canvas4" width=100 height=100></canvas>
                                                                    <div class="donut-inner">
                                                                        <span>YTD</span>
                                                                        <h5 id="pyFinance">
                                                                            @*masukkan text DisplayFormat.NumberFormatTwoDecimal(Model.PersenYearFinance)%*@
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6 text-bold text-dark-blue">
                                                                    <div class="border">
                                                                        <div class="box-status box-status-narrow" style="margin-top:10px;">
                                                                            <i class="fa fa-square text-green"></i>
                                                                            <span class="text-green text-uppercase text-bold">
                                                                                Plan
                                                                            </span>
                                                                            <div id="pmeFinance" class="text-bold">
                                                                                @*masukkan text Model.PlanMonthElectricFinance.ToString("C2", CultureInfo.CreateSpecificCulture("en-US"))*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow">
                                                                            <i class="fa fa-square text-blue"></i>
                                                                            <span class="text-blue text-uppercase text-bold">
                                                                                Actual
                                                                            </span>
                                                                            <div id="ameFinance" class="text-bold">
                                                                                @*masukkan text Model.ActualMonthElectricFinance.ToString("C2", CultureInfo.CreateSpecificCulture("en-US"))*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow" style="margin-bottom:60px;">
                                                                            <i class="fa fa-square text-red"></i>
                                                                            <span class="text-red text-uppercase text-bold">
                                                                                Prognosa
                                                                            </span>
                                                                            <div id="prognosaMEF" class="text-bold">
                                                                                @*masukkan text Model.PrognosaMonthElectricFinance.ToString("C2", CultureInfo.CreateSpecificCulture("en-US"))*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow">
                                                                            <i class="fa fa-square text-green"></i>
                                                                            <span class="text-green text-uppercase text-bold">
                                                                                Plan
                                                                            </span>
                                                                            <div id="pyeFinance" class="text-bold">
                                                                                @*masukkan text Model.PlanYearElectricFinance.ToString("C2", CultureInfo.CreateSpecificCulture("en-US"))*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow">
                                                                            <i class="fa fa-square text-blue"></i>
                                                                            <span class="text-blue text-uppercase text-bold">
                                                                                Actual
                                                                            </span>
                                                                            <div id="ayeFinance" class="text-bold">
                                                                                @*masukkan text Model.ActualYearElectricFinance.ToString("C2", CultureInfo.CreateSpecificCulture("en-US"))*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-status box-status-narrow">
                                                                            <i class="fa fa-square text-red"></i>
                                                                            <span class="text-red text-uppercase text-bold">
                                                                                Prognosa
                                                                            </span>
                                                                            <div id="prognosaYEF" class="text-bold">
                                                                                @*masukkan text Model.PrognosaYearElectricFinance.ToString("C2", CultureInfo.CreateSpecificCulture("en-US"))*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*jika HasData == false maka tampilkan ini*@
                                        <div id="row3" class="alert alert-warning" role="alert">
                                            No Data plan or actual, please input data.
                                        </div>
                                    </div>
                                </div>

                                <div class="my-second-box-gradient box-shadow container">
                                    <div class="dropdown row">
                                        <div class="col-xs-6">
                                            <h5>Material</h5>
                                            @Html.TextBox("puChart", new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-6">
                                            <h5>View</h5>
                                            @Html.TextBox("rangeData", new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-6">
                                            <h5>Bulan</h5>
                                            @Html.TextBox("monthChart", new { @class = "form-control" })
                                        </div>
                                        <div class="col-xs-6">
                                            <h5>Tahun</h5>
                                            @Html.TextBox("yearChart", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div id="loadingSpinner2" class="sk-spinner sk-spinner-three-bounce">
                                        <div class="sk-bounce1"></div>
                                        <div class="sk-bounce2"></div>
                                        <div class="sk-bounce3"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-8"></div>
                                        <div class="col-md-2"></div>
                                    </div>

                                    @*jika Model.ChartHasData == true tampilkan*@

                                    <div id="row4" class="row">
                                        <div class="col-md-12">
                                            <div class="ibox float-e-margins">
                                                <div class="chart">
                                                    <div id="chart-2" style="background: center no-repeat url('@Url.Content("~/Content/img/objectguide-10.png")'); background-size: contain;background-position-y: bottom;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*jika Model.ChartHasData == false tampilkan*@

                                    <div id="row5" class="alert alert-warning" role="alert">
                                        No Data plan or actual, please input data.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page wrapper-->
    </div>
    <!-- End wrapper-->

    @Html.Partial("_GlobalObjectJs")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymigrate")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/sweet-alert")
    @Scripts.Render("~/plugins/metsiMenu")
    @Scripts.Render("~/plugins/slimScroll")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/inspinia")

    @Scripts.Render("~/bundles/webapp")
    @Scripts.Render("~/bundles/chart-js")

    <script type="text/javascript">
        var luDate=$("#luDate"),soType=$("#soType"),productionUtilization=$("#productionUtilization"),areaId=$("#areaId"),year=$("#year"),loadingSpinner1=$("#loadingSpinner1"),row1=$("#row1"),pslhTitle=$("#pslhTitle"),pslhBorder=$("#pslhBorder"),peBOEPD=$("#peBOEPD"),aeBOEPD=$("#aeBOEPD"),chart1=$("#chart-1"),row2=$("#row2"),proOrFin=$("#proOrFin"),productionPanel=$("#productionPanel"),canvas=$("#canvas"),persenMonth=$("#persenMonth"),canvas2=$("#canvas2"),persenYear=$("#persenYear"),pmElectric=$("#pmElectric"),amElectric=$("#amElectric"),prognosaME=$("#prognosaME"),pyElectric=$("#pyElectric"),ayElectric=$("#ayElectric"),prognosaYE=$("#prognosaYE"),financePanel=$("#financePanel"),canvas3=$("#canvas3"),pmFinance=$("#pmFinance"),canvas4=$("#canvas4"),pyFinance=$("#pyFinance"),pmeFinance=$("#pmeFinance"),ameFinance=$("#ameFinance"),prognosaMEF=$("#prognosaMEF"),pyeFinance=$("#pyeFinance"),ayeFinance=$("#ayeFinance"),prognosaYEF=$("#prognosaYEF"),row3=$("#row3");var puChart=$("#puChart"),rangeData=$("#rangeData"),monthChart=$("#monthChart"),yearChart=$("#yearChart"),loadingSpinner2=$("#loadingSpinner2"),row4=$("#row4"),chart2=$("#chart-2"),row5=$("#row5");var isSoTypeBounded=!1,isPUBounded=!1,isAreaBounded=!1,isYearBounded=!1,isPUChartBounded=!1,isRangeDataBoudned=!1,isYearChartBounded=!1,isMonthChartBounded=!1,isTopDashboardRedraw=!1,isBottomDashboardRedraw=!1;var drawing=kendo.drawing;var geometry=kendo.geometry;var myChart,myChart2,myChart3,myChart4;$(function(){hideAllrows();initTopDropDown();initBottomDropDown()});function hideAllrows(){luDate.hide();loadingSpinner1.hide();row1.hide();row2.hide();row3.hide();loadingSpinner2.hide();row4.hide();row5.hide()}
function createColumn(rect,color){var origin=rect.origin;var center=rect.center();var bottomRight=rect.bottomRight();var radiusX=rect.width()/2;var radiusY=radiusX/3;var gradient=new drawing.LinearGradient({stops:[{offset:0,color:color},{offset:0.5,color:color,opacity:0.9},{offset:0.5,color:color,opacity:0.9},{offset:1,color:color}]});var path=new drawing.Path({fill:gradient,stroke:{color:"none"}}).moveTo(origin.x,origin.y).lineTo(origin.x,bottomRight.y).arc(180,0,radiusX,radiusY,!0).lineTo(bottomRight.x,origin.y).arc(0,180,radiusX,radiusY);var topArcGeometry=new geometry.Arc([center.x,origin.y],{startAngle:0,endAngle:360,radiusX:radiusX,radiusY:radiusY});var topArc=new drawing.Arc(topArcGeometry,{fill:{color:color},stroke:{color:"#ebebeb"}});var group=new drawing.Group();group.append(path,topArc);return group}
function initDoughnuts(persenMonthParam,persenYearParam,persenMonthFinanceParam,persenYearFinanceParam){if(isTopDashboardRedraw){myChart.destroy();myChart2.destroy();myChart3.destroy();myChart4.destroy()}
var ctx=document.getElementById("canvas").getContext("2d");var gradientColors=[{start:'#000',end:'#000'},{start:'#fcee21',end:'#0000ff'}];var gradients=[];gradientColors.forEach(function(item){var gradient=ctx.createLinearGradient(150,50,150,150);gradient.addColorStop(0,item.start);gradient.addColorStop(1,item.end);gradients.push(gradient)});var gradientColors2=[{start:'#000',end:'#000'},{start:'#3ddc9d',end:'#f01056'}];var gradients2=[];gradientColors2.forEach(function(item){var gradient=ctx.createLinearGradient(150,50,150,150);gradient.addColorStop(0,item.start);gradient.addColorStop(1,item.end);gradients2.push(gradient)});var config={type:'doughnut',data:{datasets:[{data:[100-persenMonthParam.replace(',','.'),persenMonthParam.replace(',','.')],backgroundColor:gradients,borderWidth:0}]},options:{responsive:!0,legend:{display:!1},cutoutPercentage:70,tooltips:{enabled:!1}}};myChart=new Chart(ctx,config);ctx=document.getElementById("canvas2").getContext("2d");config={type:'doughnut',data:{datasets:[{data:[100-persenYearParam.replace(',','.'),persenYearParam.replace(',','.')],backgroundColor:gradients,borderWidth:0}]},options:{responsive:!0,legend:{display:!1},cutoutPercentage:70,tooltips:{enabled:!1}}};myChart2=new Chart(ctx,config);ctx=document.getElementById("canvas3").getContext("2d");config={type:'doughnut',data:{datasets:[{data:[100-persenMonthFinanceParam.replace(',','.'),persenMonthFinanceParam.replace(',','.')],backgroundColor:gradients2,borderWidth:0}]},options:{responsive:!0,legend:{display:!1},cutoutPercentage:70,tooltips:{enabled:!1}}};myChart3=new Chart(ctx,config);ctx=document.getElementById("canvas4").getContext("2d");config={type:'doughnut',data:{datasets:[{data:[100-persenYearFinanceParam.replace(',','.'),persenYearFinanceParam.replace(',','.')],backgroundColor:gradients2,borderWidth:0}]},options:{responsive:!0,legend:{display:!1},cutoutPercentage:70,tooltips:{enabled:!1}}};myChart4=new Chart(ctx,config)}
function initAverageChart(planElectricParam,actualElectricParam){var plan=planElectricParam.replace(',','.')*1;var actual=actualElectricParam.replace(',','.')*1;var title;var flag=!0;if(productionUtilization.data("kendoDropDownList").value()==="@Common.Enums.ProductionUtilization.ELECTRIC"){title="in MWh"}else{title="in Ton"}
if(isTopDashboardRedraw){chart1.data("kendoChart").destroy()}
chart1.kendoChart({axisDefaults:{line:{color:"#fff"}},title:{text:title,color:"#d1e9fd"},chartArea:{height:300,background:"transparent",margin:{top:10}},seriesDefaults:{type:"column",stack:!0,highlight:{toggle:function(e){e.preventDefault();var visual=e.visual;var opacity=e.show?0.8:1;visual.opacity(opacity)}},visual:function(e){return createColumn(e.rect,e.options.color)}},series:[{data:[{value:plan},{value:actual}],labels:{visible:!0,format:"{0:n2}",background:"",color:"#d1e9fd",margin:{bottom:10}},color:function(point){if(point.index===0){return"#6abd76"}else{return"#6290dc"}}}],categoryAxis:{majorGridLines:{visible:!1},labels:{color:"#d1e9fd"},categories:["Plan","Actual"]},valueAxis:{majorGridLines:{visible:!1},line:{visible:!0},labels:{format:"{0:n0}",color:"#d1e9fd"}},render:function(e){if(flag){flag=!1;var max=getMaxSeriesValue(e.sender.options.series,"value");if(isNaN(max.value)){max=max}else{max=max.value}
e.sender.options.valueAxis.max=max+(max*0.2);e.sender.redraw()}}}).data("kendoChart")}
function initTopDashboard(model){kendo.culture("en-US");if(model.HasData){row1.show();row2.show();row3.hide();luDate.empty();luDate.text(model.LastDateProductionString);luDate.show();if(model.ProductionUtilization==="@ProductionUtilization.ELECTRIC.ToString()"){pslhTitle.show();pslhBorder.show();peBOEPD.empty();peBOEPD.text(kendo.toString(model.PlanElectricBOEPD,"n2"));$("<span class=\"sup\"><small>BOEPD</small></span>").appendTo(peBOEPD);aeBOEPD.empty();aeBOEPD.text(kendo.toString(model.ActualElectricBOEPD,"n2"));$("<span class=\"sup\"><small>BOEPD</small></span>").appendTo(aeBOEPD)}else{pslhTitle.hide();pslhBorder.hide()}
initAverageChart(model.PlanElectric.toString(),model.ActualElectric.toString());persenMonth.empty();persenMonth.text(kendo.toString(model.PersenMonth,"n2")+"%");persenYear.empty();persenYear.text(kendo.toString(model.PersenYear,"n2")+"%");pmElectric.empty();pmElectric.text(kendo.toString(model.PlanMonthElectric,"n2"));if(model.ProductionUtilization==="@ProductionUtilization.ELECTRIC.ToString()"){$("<span> GWh</span>").appendTo(pmElectric)}else{$("<span> Ton</span>").appendTo(pmElectric)}
amElectric.empty();amElectric.text(kendo.toString(model.ActualMonthElectric,"n2"));if(model.ProductionUtilization==="@ProductionUtilization.ELECTRIC.ToString()"){$("<span> GWh</span>").appendTo(amElectric)}else{$("<span> Ton</span>").appendTo(amElectric)}
prognosaME.empty();prognosaME.text(kendo.toString(model.PrognosaMonthElectric,"n2"));if(model.ProductionUtilization==="@ProductionUtilization.ELECTRIC.ToString()"){$("<span> GWh</span>").appendTo(prognosaME)}else{$("<span> Ton</span>").appendTo(prognosaME)}
pyElectric.empty();pyElectric.text(kendo.toString(model.PlanYearElectric,"n2"));if(model.ProductionUtilization==="@ProductionUtilization.ELECTRIC.ToString()"){$("<span> GWh</span>").appendTo(pyElectric)}else{$("<span> Ton</span>").appendTo(pyElectric)}
ayElectric.empty();ayElectric.text(kendo.toString(model.ActualYearElectric,"n2"));if(model.ProductionUtilization==="@ProductionUtilization.ELECTRIC.ToString()"){$("<span> GWh</span>").appendTo(ayElectric)}else{$("<span> Ton</span>").appendTo(ayElectric)}
prognosaYE.empty();prognosaYE.text(kendo.toString(model.PrognosaYearElectric,"n2"));if(model.ProductionUtilization==="@ProductionUtilization.ELECTRIC.ToString()"){$("<span> GWh</span>").appendTo(prognosaYE)}else{$("<span> Ton</span>").appendTo(prognosaYE)}
initDoughnuts(model.PersenMonth.toString(),model.PersenYear.toString(),model.PersenMonthFinance.toString(),model.PersenYearFinance.toString());pmFinance.empty();pmFinance.text(kendo.toString(model.PersenMonthFinance,"n2")+"%");pyFinance.empty();pyFinance.text(kendo.toString(model.PersenYearFinance,"n2")+"%");pmeFinance.empty();pmeFinance.text(kendo.toString(model.PlanMonthElectricFinance,"c2"));ameFinance.empty();ameFinance.text(kendo.toString(model.ActualMonthElectricFinance,"c2"));prognosaMEF.empty();prognosaMEF.text(kendo.toString(model.PrognosaMonthElectricFinance,"c2"));pyeFinance.empty();pyeFinance.text(kendo.toString(model.PlanYearElectricFinance,"c2"));ayeFinance.empty();ayeFinance.text(kendo.toString(model.ActualYearElectricFinance,"c2"));prognosaYEF.empty();prognosaYEF.text(kendo.toString(model.PrognosaYearElectricFinance,"c2"));if(!isTopDashboardRedraw){var $proOrFin=dropdownListGenerator(proOrFin,"@Url.Action(ActionSite.BindingOption)","@OptionType.DIAGRAM","@Field.Name","",!1,null);$proOrFin.bind("change",function(e){if(e.sender.value()==="@Diagram.PRODUCTION"){productionPanel.css("display","block");financePanel.hide()}else{productionPanel.hide();financePanel.css("display","block")}});$proOrFin.bind("dataBound",function(e){if(e.sender.value()==="@Diagram.PRODUCTION"){productionPanel.css("display","block");financePanel.hide()}else{productionPanel.hide();financePanel.css("display","block")}
$(this._arrow[0]).css("right","5%")})}
isTopDashboardRedraw=!0}else{luDate.hide();row1.hide();row2.hide();row3.show()}}
function getTopDashboardModel(soTypeParam,puParam,areaParam,yearParam){if(areaParam===""){areaParam=0}
$.ajax({url:"@Url.Action("GetTopDashboardModel")",type:"POST",dataType:"json",data:{"soType":soTypeParam,"pu":puParam,"areaId":areaParam,"year":yearParam},beforeSend:function(){row1.hide();row2.hide();row3.hide();loadingSpinner1.show()},success:function(model){loadingSpinner1.hide();initTopDashboard(model)}})}
function initTopDropDown(){var $soType=dropdownListGenerator(soType,"@Url.Action(ActionSite.BindingOption)","@OptionType.SO_TYPE","@Field.SOType","",!0,["Own Operation"]);var $productionUtilization=dropdownListGenerator(productionUtilization,"@Url.Action(ActionSite.BindingOption)","@OptionType.PRODUCT_UTILIZATION","@Field.Name","",!1,null);var $area=dropdownListGenerator(areaId,"@Url.Action(ActionSite.BindingOption)","@OptionType.AREA_ZPGE","@Field.Name","@Component.OptionLabelAreaAll",!0,null);var $year=dropdownListGenerator(year,"@Url.Action(ActionSite.BindingOption)","@OptionType.YEAR_BY_TASK","@Field.Name","",!1,null);$soType.bind("change",function(e){getTopDashboardModel(e.sender.value(),$productionUtilization.value(),$area.value(),$year.value())});$productionUtilization.bind("change",function(e){getTopDashboardModel($soType.value(),e.sender.value(),$area.value(),$year.value())});$area.bind("change",function(e){getTopDashboardModel($soType.value(),$productionUtilization.value(),e.sender.value(),$year.value())});$year.bind("change",function(e){getTopDashboardModel($soType.value(),$productionUtilization.value(),$area.value(),e.sender.value())});$soType.bind("dataBound",function(e){isSoTypeBounded=!0;if(isSoTypeBounded&&isPUBounded&&isAreaBounded&&isYearBounded){getTopDashboardModel(e.sender.value(),$productionUtilization.value(),$area.value(),$year.value())}});$productionUtilization.bind("dataBound",function(e){isPUBounded=!0;if(isSoTypeBounded&&isPUBounded&&isAreaBounded&&isYearBounded){getTopDashboardModel($soType.value(),e.sender.value(),$area.value(),$year.value())}});$area.bind("dataBound",function(e){isAreaBounded=!0;if(isSoTypeBounded&&isPUBounded&&isAreaBounded&&isYearBounded){getTopDashboardModel($soType.value(),$productionUtilization.value(),e.sender.value(),$year.value())}});$year.bind("dataBound",function(e){isYearBounded=!0;if(isSoTypeBounded&&isPUBounded&&isAreaBounded&&isYearBounded){getTopDashboardModel($soType.value(),$productionUtilization.value(),$area.value(),e.sender.value())}})}
function initDailyChart(jsonDailyPlanParam,jsonDailyActualParam,categoriesParam,puChartParam){var plan=[];var listCategori=[];var title,flag=!0;$.each(jsonDailyPlanParam,function(i,value){plan.push((value.toString().replace(',','.')*1))});var series=[{type:"line",name:"Target",labels:{visible:!0,format:"{0:n2}",background:"#000",color:"#aad3fe",rotation:-65},data:plan,style:"smooth",color:"#fff",opacity:0.5,width:1.5,markers:{visible:!0,background:"",size:5,border:{color:"#aad3fe"}}}];$.each(jsonDailyActualParam,function(i,dailyActual){var data=[];$.each(dailyActual.ActualValue,function(j,actualValue){data.push((actualValue.toString().replace(',','.')*1))});series.push({type:"column",stack:!0,overlay:{gradient:"none"},name:dailyActual.AreaName,data:data})});if(categoriesParam!==null){$.each(categoriesParam,function(i,category){listCategori.push(category)})}
if(puChartParam==="@Common.Enums.ProductionUtilization.ELECTRIC")
title="in GWh";else title="in Ton";if(isBottomDashboardRedraw){chart2.data("kendoChart").destroy()}
chart2.kendoChart({chartArea:{margin:{top:20},height:250,background:""},title:{text:title,color:"#d1e9fd"},legend:{visible:!0,position:"top",labels:{font:"14px 'open sans'",color:"#c6cace"},orientation:"horizontal"},seriesColors:["#ea6a42","#65b7e5","#f4c362","#838fff","#a9dd4e","#fc4f5c","#ead475"],series:series,categoryAxis:{majorGridLines:{visible:!1},labels:{color:"#d1e9fd"},categories:listCategori},seriesDefaults:{type:"column",stack:!0,highlight:{toggle:function(e){e.preventDefault();var visual=e.visual;var opacity=e.show?0.8:1;visual.opacity(opacity)}},visual:function(e){return createColumn(e.rect,e.options.color)}},valueAxis:{majorGridLines:{visible:!1},line:{visible:!0,color:"#fff"},labels:{format:"{0:n0}",color:"#d1e9fd"}},tooltip:{visible:!0,format:"{0:n2}"},dataBound:function(){setTimeout(createSlave,0)},render:function(e){if(flag){flag=!1;var max=getMaxSeriesMultiValue(e.sender.options.series,"value");if(isNaN(max.value)){max=max}else{max=max.value}
e.sender.options.valueAxis.max=max+max*0.2;e.sender.redraw()}}}).data("kendoChart");if(chart2.children().length!==0){$(chart2.children()[0]).css("height","120%")}}
function initMonthlyChart(jsonMonthlyPlanParam,jsonMonthlyActualParam,puChartParam){var plan=[];var title,flag=!0;$.each(jsonMonthlyPlanParam,function(i,monthlyPlan){plan.push((monthlyPlan.toString().replace(',','.')*1))});var series=[{type:"line",name:"Target",labels:{visible:!0,format:"{0:n2}",background:"#000",color:"#aad3fe"},data:plan,style:"smooth",color:"#fff",opacity:0.5,width:1.5,markers:{visible:!0,background:"",size:5,border:{color:"#aad3fe"}}}];$.each(jsonMonthlyActualParam,function(i,monthlyActual){var data=[];$.each(monthlyActual.ActualValue,function(i,actualValue){data.push((actualValue.toString().replace(',','.')*1))});series.push({type:"column",stack:!0,overlay:{gradient:"none"},name:monthlyActual.AreaName,data:data})});if(puChartParam==="@Common.Enums.ProductionUtilization.ELECTRIC")
title="in GWh";else title="in Ton";if(isBottomDashboardRedraw){chart2.data("kendoChart").destroy()}
chart2.kendoChart({chartArea:{height:250,background:""},title:{text:title,color:"#d1e9fd"},legend:{visible:!0,position:"top",labels:{font:"14px 'open sans'",color:"#c6cace"},orientation:"horizontal"},seriesColors:["#ea6a42","#65b7e5","#f4c362","#838fff","#a9dd4e","#fc4f5c","#ead475"],series:series,categoryAxis:{majorGridLines:{visible:!1},labels:{color:"#d1e9fd"},categories:["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]},seriesDefaults:{type:"column",stack:!0,highlight:{toggle:function(e){e.preventDefault();var visual=e.visual;var opacity=e.show?0.8:1;visual.opacity(opacity)}},visual:function(e){return createColumn(e.rect,e.options.color)}},valueAxis:{majorGridLines:{visible:!1},line:{visible:!0,color:"#fff"},labels:{format:"{0:n0}",color:"#d1e9fd"}},tooltip:{visible:!0,format:"{0:n2}"},dataBound:function(){setTimeout(createSlave,0)},render:function(e){if(flag){flag=!1;var max=getMaxSeriesMultiValue(e.sender.options.series,"value","multi");console.log(e.sender.options.series);if(isNaN(max.value)){max=max}else{max=max.value}
e.sender.options.valueAxis.max=max+(max*0.2);e.sender.redraw()}}}).data("kendoChart");if(chart2.children().length!==0){$(chart2.children()[0]).css("height","110%")}}
function initYearlyChart(jsonYearlyPlanParam,listYearParam,jsonYearlyActualParam,puChartParam){var planYearlyValue=[],planYearly=[],listYear=[],title,flag=!0;$.each(jsonYearlyPlanParam,function(i,yearlyPlan){planYearlyValue.push((yearlyPlan.Value.toString().replace(',','.')*1));planYearly.push(yearlyPlan.Year)});if(listYearParam!==null){$.each(listYearParam,function(i,y){listYear.push(y)})}
var seriesChartYear=[{type:"line",name:"Target",labels:{visible:!0,format:"{0:n2}",background:"#000",color:"#aad3fe"},data:planYearlyValue,style:"smooth",color:"#fff",opacity:0.5,width:1.5,markers:{visible:!0,background:"",size:5,border:{color:"#aad3fe"}}}];$.each(jsonYearlyActualParam,function(i,yearlyActual){var data=[];$.each(yearlyActual.ActualValue,function(j,actualValue){data.push((actualValue.toString().replace(',','.')*1))});seriesChartYear.push({type:"column",stack:!0,overlay:{gradient:"none"},name:yearlyActual.AreaName,data:data})});if(puChartParam==="@Common.Enums.ProductionUtilization.ELECTRIC")
title="in GWh";else title="in Ton";if(isBottomDashboardRedraw){chart2.data("kendoChart").destroy()}
chart2.kendoChart({chartArea:{height:250,background:""},legend:{visible:!0,position:"top",labels:{font:"14px 'open sans'",color:"#c6cace"},padding:{right:10},orientation:"horizontal"},title:{text:title,color:"#d1e9fd"},seriesColors:["#ea6a42","#65b7e5","#f4c362","#838fff","#a9dd4e","#fc4f5c","#ead475"],series:seriesChartYear,seriesDefaults:{type:"column",stack:!0,highlight:{toggle:function(e){e.preventDefault();var visual=e.visual;var opacity=e.show?0.8:1;visual.opacity(opacity)}},visual:function(e){return createColumn(e.rect,e.options.color)}},categoryAxis:{majorGridLines:{visible:!1},labels:{color:"#d1e9fd"},categories:listYear},valueAxis:{majorGridLines:{visible:!1},line:{visible:!0,color:"#fff"},labels:{color:"#d1e9fd",format:"{0:n0}"}},tooltip:{format:"{0:n2}",visible:!0},render:function(e){if(flag){flag=!1;var max=getMaxSeriesMultiValue(e.sender.options.series,"value");if(isNaN(max.value)){max=max}else{max=max.value}
e.sender.options.valueAxis.max=max+(max*0.4);e.sender.redraw()}}}).data("kendoChart");if(chart2.children().length!==0){$(chart2.children()[0]).css("height","110%")}}
function initBottomDashboard(model){if(model.ChartHasData){row4.show();row5.hide();if(rangeData.data("kendoDropDownList").value()==="@RangeData.MONTHLY"){initMonthlyChart(model.JsonMonthlyPlan,model.JsonMonthlyActual,model.ProductionUtilizationChart)}else if(rangeData.data("kendoDropDownList").value()==="@RangeData.YEARLY"){initYearlyChart(model.JsonYearlyPlan,model.ListYear,model.JsonYearlyActual,model.ProductionUtilizationChart)}else{initDailyChart(model.JsonDailyPlan,model.JsonDailyActual,model.Categories,model.ProductionUtilizationChart)}
isBottomDashboardRedraw=!0}else{row4.hide();row5.show()}}
function getBottomDashboardModel(puChartParam,rangeDataParam,monthChartParam,yearChartParam){$.ajax({url:"@Url.Action("GetBottomDashboardModel")",type:"POST",dataType:"json",data:{"puChart":puChartParam,"rangeData":rangeDataParam,"monthChart":monthChartParam,"yearChart":yearChartParam},beforeSend:function(){row4.hide();row5.hide();loadingSpinner2.show()},success:function(model){loadingSpinner2.hide();initBottomDashboard(model)}})}
function initBottomDropDown(){var $puChart=dropdownListGenerator(puChart,"@Url.Action(ActionSite.BindingOption)","@OptionType.PRODUCT_UTILIZATION","@Field.Name","",!1,["Days Effective"]);var $rangeData=dropdownListGenerator(rangeData,"@Url.Action(ActionSite.BindingOption)","@OptionType.RANGE_DATA_MOBILE","@Field.Name","",!1,null);var $yearChart=dropdownListGenerator(yearChart,"@Url.Action(ActionSite.BindingOption)","@OptionType.YEAR_BY_TASK","@Field.Name","",!1,null);var monthChartDs=new kendo.data.DataSource({transport:{read:{url:"@Url.Action(ActionSite.BindingOption)",dataType:"@DataSource.DataType.Json",type:"@DataSource.Type.Post"},parameterMap:function(options,operation){if(operation!=="@DataSource.Operation.Read"&&options.models){return kendo.stringify(options)}else{if(options.filter){var filters=options.filter.filters;for(var i in filters){var filter=filters[i];if(filter.field==="@Field.Value"){filter.field="@Field.Value"}}}
if(options.sort){var sorts=options.sort;for(i in sorts){var sort=sorts[i];if(sort.field==="@Field.Text"){sort.field="@Field.Text"}}}
options.optionType="@OptionType.MONTH";return options}}},schema:{model:{id:"@Field.Value",fields:{"@Field.Text":{type:"@DataSource.Schema.Type.String"},"@Field.Value":{type:"@DataSource.Schema.Type.String"}}}},serverPaging:!0,serverSorting:!0,sort:{field:"@Field.Value",dir:"@SortOrder.Ascending.ToDescription()"}});var $monthChart=monthChart.kendoDropDownList({dataSource:monthChartDs,dataBound:function(e){isMonthChartBounded=!0;if(isPUChartBounded&&isRangeDataBoudned&&isYearChartBounded&&isMonthChartBounded){getBottomDashboardModel(e.sender.value(),$rangeData.value(),$monthChart.value(),$yearChart.value())}},dataTextField:"@Field.Text",dataValueField:"@Field.Value",change:function(e){getBottomDashboardModel($puChart.value(),$rangeData.value(),e.sender.value(),$yearChart.value())},}).data("kendoDropDownList");$puChart.bind("change",function(e){getBottomDashboardModel(e.sender.value(),$rangeData.value(),$monthChart.value(),$yearChart.value())});$rangeData.bind("change",function(e){if(e.sender.value()==="@RangeData.DAILY"){monthChart.parent().parent().removeClass();monthChart.parent().parent().addClass("col-xs-6");yearChart.parent().parent().removeClass();yearChart.parent().parent().addClass("col-xs-6");monthChart.parent().parent().show();yearChart.parent().parent().show()}else if(e.sender.value()==="@RangeData.MONTHLY"){yearChart.parent().parent().removeClass();yearChart.parent().parent().addClass("col-xs-6");monthChart.parent().parent().hide();yearChart.parent().parent().show()}else{monthChart.parent().parent().hide();yearChart.parent().parent().hide()}
getBottomDashboardModel($puChart.value(),e.sender.value(),$monthChart.value(),$yearChart.value())});$yearChart.bind("change",function(e){getBottomDashboardModel($puChart.value(),$rangeData.value(),$monthChart.value(),e.sender.value())});$puChart.bind("dataBound",function(e){isPUChartBounded=!0;if(isPUChartBounded&&isRangeDataBoudned&&isYearChartBounded&&isMonthChartBounded){getBottomDashboardModel(e.sender.value(),$rangeData.value(),$monthChart.value(),$yearChart.value())}});$rangeData.bind("dataBound",function(e){if(e.sender.value()==="@RangeData.DAILY"){monthChart.parent().parent().removeClass();monthChart.parent().parent().addClass("col-xs-6");yearChart.parent().parent().removeClass();yearChart.parent().parent().addClass("col-xs-6");monthChart.parent().parent().show();yearChart.parent().parent().show()}else if(e.sender.value()==="@RangeData.MONTHLY"){yearChart.parent().parent().removeClass();yearChart.parent().parent().addClass("col-xs-6");monthChart.parent().parent().hide();yearChart.parent().parent().show()}else{monthChart.parent().parent().hide();yearChart.parent().parent().hide()}
isRangeDataBoudned=!0;if(isPUChartBounded&&isRangeDataBoudned&&isYearChartBounded&&isMonthChartBounded){getBottomDashboardModel($puChart.value(),e.sender.value(),$monthChart.value(),$yearChart.value())}});$yearChart.bind("dataBound",function(e){isYearChartBounded=!0;if(isPUChartBounded&&isRangeDataBoudned&&isYearChartBounded&&isMonthChartBounded){getBottomDashboardModel($puChart.value(),$rangeData.value(),$monthChart.value(),e.sender.value())}})}


    </script>

</body>
</html>