﻿@using Common.Enums
@using System.Reflection
@{
    ViewBag.Title = "Sales Order";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">My Tasks</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">All Sales Data</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <div class="tab-title">
                    <a href="@Url.Action("FormSalesOrder")" class="btn btn-primary">Create Sales Order</a>
                </div>

            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        
        $(document).ready(function () {
            
        });

    </script>
}