﻿@{
    ViewBag.Title = TitleSite.Crew;
    var currentController = (WebUI.Controllers.CrewController)ViewContext.Controller;
}

@Html.Raw(currentController.GetMessage())

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a href="@Url.Action(ActionSite.Create)" class="btn btn-primary">Tambah Crew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div id="grid"></div>
        </div>
    </div>
</div>


@section scripts
{
<script type="text/javascript">
        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    //parsing tanggal sudah ditangani di server,
                                    //tidak perlu melakukan penangan di sini lagi.
                                    //var dsOptions = $("#grid").data("kendoGrid").dataSource.options;
                                    //var type = dsOptions.schema.model.fields[filter.field].type;
                                    @*if (type === "date") {
                                        var date = filters[i].value;

                                        filters[i].value = kendo.toString(date, "@DisplayFormat.Iso8601DateTimeFormat");
                                    }*@

                                    //contoh untuk relasi * to 1
                                    @*if (filter.field === "@Field.AirportId") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.Airport, Field.AirportId)";
                                    }*@
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    //if (sorts[i].field == "PICSMCName") {
                                    //    sorts[i].field = "PicSmcName";
                                    //}
                                    //else if (sorts[i].field == "FirstApprovalDeptName") {
                                    //    sorts[i].field = "FirstApprovalDept";
                                    //}

                                    //contoh untuk relasi * to 1
                                    @*if (sort.field === "@Field.AirportId") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Airport, Field.AirportId)";
                                    }*@
                                }
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.CrewId",
                        fields: {
							"@Field.CrewId": { type: "@DataSource.Schema.Type.String" },
							"@Field.CrewName": { type: "@DataSource.Schema.Type.String" },
							"@Field.Status": { type: "@DataSource.Schema.Type.String" },
							"@Field.RegisterDate": { type: "@DataSource.Schema.Type.Date" },
							"@Field.CompanyId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.CompanyName": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				//filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
				sort: { field: "@Field.CrewId", dir: "@SortOrder.Descending.ToDescription()" }
            });

            $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                columns: [
					{
                        field: "@Field.CrewId",
                        title: "Barcode"
                    },
					{
                        field: "@Field.CrewName",
                        title: "Nama"
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        filterable: {
                            ui: statusOption,
                            operators: {
                                string: {
                                    eq: "Sama Dengan"
                                }
                            },
                            extra: false
                        }
                    },
                    {
                        field: "@Field.RegisterDate",
                        title: "Tanggal Registrasi",
                        format: "@DisplayFormat.JsCompactDateFormat"
                    },
                    {
                        field: "@Field.CompanyId",
                        title: "Maskapai",
                        template: "#=@Field.CompanyName#",
                        filterable: {
                            ui: companyOption,
                            operators: {
                                number: {
                                    eq: "Sama Dengan"
                                }
                            },
                            extra: false
                        }
                    },
                    {
                        command: [
                            {
                                name: "edit",
                                text: "@Component.Grid.Command.Edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "delete",
                                text: "@Component.Grid.Command.Delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "80px",
                        attributes: { "class": "command" }
                    }
                ],
            });
        }

        function statusOption(element) {
            element.kendoDropDownList({
                dataSource: { data: @Html.Raw(ViewBag.StatusOption) },
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel",
            });
        }

        function companyOption(element) {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.BindingOption)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Value") {
                                        filter.field = "@Field.CompanyId";
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Text") {
                                        sort.field = "@Field.CompanyName"
                                    }
                                }
                            }

                            options.optionType = "@OptionType.COMPANY";

                            return options;
                        }
                    }
                },
				schema: {
                    model: {
                        id: "@Field.Value",
                        fields: {
							"@Field.Text": { type: "@DataSource.Schema.Type.String" },
							"@Field.Value": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Text", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            element.kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel",
                filter: "@FilterOperator.Contains.ToDescription()"
            });
        }
</script>
}

