﻿@using WebUI.Models
@model WebUI.Areas.DataMaster.Models.MaintainPriceElectricFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.MaintainPriceElectricController)ViewContext.Controller;
    bool hasAccess = false;
    Principal user = User as Principal;

    ViewBag.Title = TitleSite.MaintainHargaListrik;

    string backLink = Url.Action(ActionSite.BackToIndex, new { powerPlantId = Model.PowerPlantId });

    WebUI.Models.WorkflowPresentationStub curWorkflow = new WebUI.Models.WorkflowPresentationStub();
    if (Model.Workflows.Count > 0) { curWorkflow = Model.Workflows.Where(x => x.Active == true).First(); }

    PopupFormStub popupForm = new PopupFormStub()
    {
        PopupTitle = "Revisi",
        FormMethod = "post",
        FormAction = Url.Action(ActionSite.Revise),

        FormFields = new List<PopupFormStub.FormElement>()
{
new PopupFormStub.FormElement()
{
Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
Name = "id",
Value = Model.Id.ToString()
},
new PopupFormStub.FormElement()
{
Type = PopupFormStub.FormElement.ElementType.TEXTAREA,
Label = "Pesan",
Name = "message",
}
},

        FormButtons = new List<PopupFormStub.FormElement>()
{
new PopupFormStub.FormElement()
{
Type = PopupFormStub.FormElement.ElementType.SUBMIT,
Class = "btn btn-primary",
Value = "Revisi"
}
}
    };
}

@if (Model.PowerPlant.SOType == SOType.ZPGE.ToString())
{
    Html.RenderPartial("App/_workflow", Model.Workflows);
}
@{Html.RenderPartial("App/_PopupForm", popupForm);}

<div class="row">
    <div class="form-group">
        @Html.Raw(thisController.GetMessage())
    </div>
</div>

@if ((Model.PowerPlant.SOType == SOType.ZPGE.ToString()) && (!Model.IsEditable) && !(Model.IsApprovable))
{
    <div class="alert alert-danger alert-normal m-b-n" role="alert">
        <h3 class="alert-heading">Warning</h3>
        Data tidak dapat diedit karena sudah digunakan
    </div>
}

@if ((Model.LastPpiApproval != null) && (Model.LastPpiApproval.Notes != ""))
{
    <div class="alert alert-warning alert-normal m-b-n" role="alert">
        <h3 class="alert-heading">Revisi</h3>
        @Html.Raw(Model.LastPpiApproval.Notes)
    </div>
}

<div class="ibox">
    <div class="ibox-title">
        <h5>Indeks Inflasi @Model.PowerPlant.Name</h5>
    </div>
    <div class="ibox-content">
        @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "CreateForm" }))
        {
            @Html.ValidationSummary(true)

            @Html.HiddenFor(x => x.Id);
            @Html.HiddenFor(x => x.PowerPlantId);
            @Html.HiddenFor(x => x.PowerPlant.BasePrice);
            @Html.HiddenFor(x => x.BasePPI);
            @Html.HiddenFor(x => x.IsDraft);
            @Html.HiddenFor(x => x.WorkflowId);

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Year, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.Year, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.Year)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.QuarterNum, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.QuarterNum, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.QuarterNum)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-right">
                    @if (Model.PowerPlant.SOType == SOType.ZTS.ToString())
                    {
                        <h5>Additional</h5>
                    }
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-xs-6">
                    @if (Model.PowerPlant.SOType == SOType.ZPGE.ToString())
                    {
                        <div class="form-group">
                            <label id="StrMonth1" class="col-xs-4 control-label">@Model.StrMonth1<span style="color:red" class="asterisk"> *</span></label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.ValueMonth1, new { @class = "form-control form-control-decimal-n4" })
                                @Html.ValidationMessageFor(model => model.ValueMonth1)
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="StrMonth2" class="col-xs-4 control-label">@Model.StrMonth2<span style="color:red" class="asterisk"> *</span></label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.ValueMonth2, new { @class = "form-control form-control-decimal-n4" })
                                @Html.ValidationMessageFor(model => model.ValueMonth2)
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="StrMonth3" class="col-xs-4 control-label">@Model.StrMonth3<span style="color:red" class="asterisk"> *</span></label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.ValueMonth3, new { @class = "form-control form-control-decimal-n4" })
                                @Html.ValidationMessageFor(model => model.ValueMonth3)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.InflationIndex, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.InflationIndex, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="StrNextPrice" class="col-xs-4 control-label">@Model.StrNextPrice</label>
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.NextPrice, new { @class = "form-control", @readonly = "readonly" })
                                <span class="small">Harga untuk Bulan @Model.StrNextMonths</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.ValueMonth1, new { @value = "0" })
                        @Html.HiddenFor(model => model.ValueMonth2, new { @value = "0" })
                        @Html.HiddenFor(model => model.ValueMonth3, new { @value = "0" })
                        @Html.HiddenFor(model => model.InflationIndex, new { @value = "0" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.NextPrice, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.NextPrice, new { @class = "form-control-decimal-n8" })
                                <span class="small">Harga untuk Bulan @Model.StrNextMonths</span>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-xs-6">
                    @if (Model.PowerPlant.SOType == SOType.ZTS.ToString())
                    {
                        @Html.HiddenFor(model => model.ValueMonth1Add, new { @value = "0" })
                        @Html.HiddenFor(model => model.ValueMonth2Add, new { @value = "0" })
                        @Html.HiddenFor(model => model.ValueMonth3Add, new { @value = "0" })
                        @Html.HiddenFor(model => model.InflationIndexAdd, new { @value = "0" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.NextPriceAdd, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.NextPriceAdd, new { @class = "form-control-decimal-n4" })
                                <span class="small">Harga untuk Bulan @Model.StrNextMonths</span>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <br />
            <div class="form-group">
                <div class="col-xs-10">
                    @if ((Model.IsEditable) && (Model.PowerPlant.SOType == SOType.ZPGE.ToString()))
                    {
                        <button id="btnSaveDraft" type="button" class="btn btn-warning">Save as Draft</button>
                    }
                    else if (Model.IsApprovable && (Model.PowerPlant.SOType == SOType.ZTS.ToString()))
                    {
                        <button id="btnApprove" type="button" class="btn btn-primary">Save</button>
                    }
                    else if (!Model.IsApprovable && (Model.PowerPlant.SOType == SOType.ZTS.ToString()))
                    {
                        <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                    }
                    @switch (Model.WorkflowId)
                    {
                        case 14:
                            hasAccess = user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.ASMEN });
                            break;
                        case 15:
                            hasAccess = user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.MANAGER_AREA });
                            break;
                        case 17:
                            hasAccess = user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.OE_VERIFICATION });
                            break;
                        case 19:
                            hasAccess = user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.MANAGER_OE });
                            break;
                        default:
                            break;
                    }
                    @if (Model.IsApprovable && hasAccess && (Model.PowerPlant.SOType == SOType.ZPGE.ToString()))
                    {
                        <button id="btnApprove" type="button" class="btn btn-primary">@curWorkflow.Approver</button>
                    }
                    @if (Model.IsRevisable && hasAccess && (Model.PowerPlant.SOType == SOType.ZPGE.ToString()))
                    {
                        <button id="btnRevise" type="button" class="btn btn-danger">Revise</button>
                    }
                    <a href="@backLink" class="btn btn-link">Kembali</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
                    {
    <script type="text/javascript">

		$(function () {
                            initElement();
                        });

                        function bindYear() {
			$("#Year").kendoNumericTextBox({
                            decimals: 0,
				format: "0",
				spinners: true

            });
		}

		function bindQuarterNum() {
			$("#QuarterNum").kendoNumericTextBox({
				min: 1,
				max: 4,
				decimals: 0,
				format: "0",
				spinners: true
			});
		}

        function bindYearQuarterNumChange() {

            $("#@Field.Year, #@Field.QuarterNum").on("change", function () {
                var year = $("#@Field.Year").val();
                var quarter = $("#@Field.QuarterNum").val();
                    if (year !== "" && quarter !== "") {
                        var href = urlAction("@AreaSite.DataMaster", "@ControllerSite.MaintainPriceElectric", "@ActionSite.Check");
                        href += "?powerPlantId=" + $("#@Field.PowerPlantId").val();
                        href += "&year=" + $("#@Field.Year").val();
                        href += "&quarterNum=" + $("#@Field.QuarterNum").val();
                        window.location.href = href;
                    }
                });
		}

		function bindBtnSaveDraft() {
			$("#btnSaveDraft").click(function (e) {
				e.preventDefault();
				$("#IsDraft").val(true);

				if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
					var inflationIndex = $("#InflationIndex").val();
					var nextPrice = $("#NextPrice").val();
					if (inflationIndex !== undefined && inflationIndex.indexOf(".") >= 0)
						inflationIndex = inflationIndex.replace('.', ',');
					if (nextPrice !== undefined && nextPrice.indexOf(".") >= 0)
						nextPrice = nextPrice.replace('.', ',');
					$("#InflationIndex").val(inflationIndex);
					$("#NextPrice").val(nextPrice);

					if ($("#ValueMonth1Add").val() !== undefined) {
						var inflationIndexAdd = $("#InflationIndexAdd").val();
						var nextPriceAdd = $("#NextPriceAdd").val();
						if (inflationIndexAdd !== undefined && inflationIndexAdd.indexOf(".") >= 0)
							inflationIndexAdd = inflationIndexAdd.replace('.', ',');
						if (nextPriceAdd !== undefined && nextPriceAdd.indexOf(".") >= 0)
							nextPriceAdd = nextPriceAdd.replace('.', ',');
						$("#InflationIndexAdd").val(inflationIndexAdd);
						$("#NextPriceAdd").val(nextPriceAdd);
					}
				}

				 if ($("#CreateForm").valid()) {
                    $("#CreateForm").submit();
                }
			})
		}

		function bindBtnSave() {
			$("#btnSave").click(function (e) {
				e.preventDefault();
				$("#IsDraft").val(false);

				if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
					var inflationIndex = $("#InflationIndex").val();
					var nextPrice = $("#NextPrice").val();
					if (inflationIndex !== undefined && inflationIndex.indexOf(".") >= 0)
						inflationIndex = inflationIndex.replace('.', ',');
					if (nextPrice !== undefined && nextPrice.indexOf(".") >= 0)
						nextPrice = nextPrice.replace('.', ',');
					$("#InflationIndex").val(inflationIndex);
					$("#NextPrice").val(nextPrice);

					if ($("#ValueMonth1Add").val() !== undefined) {
						var inflationIndexAdd = $("#InflationIndexAdd").val();
						var nextPriceAdd = $("#NextPriceAdd").val();
						if (inflationIndexAdd !== undefined && inflationIndexAdd.indexOf(".") >= 0)
							inflationIndexAdd = inflationIndexAdd.replace('.', ',');
						if (nextPriceAdd !== undefined && nextPriceAdd.indexOf(".") >= 0)
							nextPriceAdd = nextPriceAdd.replace('.', ',');
						$("#InflationIndexAdd").val(inflationIndexAdd);
						$("#NextPriceAdd").val(nextPriceAdd);
					}
				}

                if ($("#CreateForm").valid()) {
                    $("#CreateForm").submit();
                }
			})
		}

		function bindBtnApprove() {
			$("#btnApprove").click(function (e) {
				e.preventDefault();
				$("#IsDraft").val(false);

				if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
					var inflationIndex = $("#InflationIndex").val();
					var nextPrice = $("#NextPrice").val();
					if (inflationIndex !== undefined && inflationIndex.indexOf(".") >= 0)
						inflationIndex = inflationIndex.replace('.', ',');
					if (nextPrice !== undefined && nextPrice.indexOf(".") >= 0)
						nextPrice = nextPrice.replace('.', ',');

					$("#InflationIndex").val(inflationIndex);
					$("#NextPrice").val(nextPrice);

					if ($("#ValueMonth1Add").val() !== undefined) {
						var inflationIndexAdd = $("#InflationIndexAdd").val();
						var nextPriceAdd = $("#NextPriceAdd").val();
						if (inflationIndexAdd !== undefined && inflationIndexAdd.indexOf(".") >= 0)
							inflationIndexAdd = inflationIndexAdd.replace('.', ',');
						if (nextPriceAdd !== undefined && nextPriceAdd.indexOf(".") >= 0)
							nextPriceAdd = nextPriceAdd.replace('.', ',');

						$("#InflationIndexAdd").val(inflationIndexAdd);
						$("#NextPriceAdd").val(nextPriceAdd);
					}
				}
                if ($("#CreateForm").valid()) {
                    $("#CreateForm").submit();
                }
			})
		}

		function bindBtnRevise() {
			$("#btnRevise").click(function (e) {
				e.preventDefault();
				$("#@popupForm.PopupId").modal("show");
			})
		}

		function bindCalculate() {
			if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
				$("#ValueMonth1, #ValueMonth2, #ValueMonth3, #ValueMonth1Add, #ValueMonth2Add, #ValueMonth3Add").on("change", function () {
					var valueMonth1 = $("#ValueMonth1").val();
					var valueMonth2 = $("#ValueMonth2").val();
					var valueMonth3 = $("#ValueMonth3").val();
					var basePPI = $("#BasePPI").val();
                    var basePrice = $("#PowerPlant_BasePrice").val();
                    console.log(basePPI)
					if (valueMonth1 !== undefined && valueMonth1.indexOf(",") >= 0)
						valueMonth1 = valueMonth1.replace(',', '.');
					if (valueMonth2 !== undefined && valueMonth2.indexOf(",") >= 0)
						valueMonth2 = valueMonth2.replace(',', '.');
					if (valueMonth3 !== undefined && valueMonth3.indexOf(",") >= 0)
						valueMonth3 = valueMonth3.replace(',', '.');
					if (basePPI !== undefined && basePPI.indexOf(",") >= 0)
						basePPI = basePPI.replace(',', '.');
					if (basePrice !== undefined && basePrice.indexOf(",") >= 0)
						basePrice = basePrice.replace(',', '.');


					valueMonth1 = parseFloat(valueMonth1);
					valueMonth2 = parseFloat(valueMonth2);
					valueMonth3 = parseFloat(valueMonth3);
					basePPI = parseFloat(basePPI);
					basePrice = parseFloat(basePrice);


                    ///case beda rumus untuk kamojang 4
                    var inflationIndex = 0;
                    if ("@Model.PowerPlantId" == "1021")
                        inflationIndex = 0.46 + (0.54 * (valueMonth1 + valueMonth2 + valueMonth3) / 3 / basePPI);
                    else
                        inflationIndex = 0.6 + (0.4 * (valueMonth1 + valueMonth2 + valueMonth3) / 3 / basePPI);
                    inflationIndex = inflationIndex.toFixed(5);
					$("#InflationIndex").val(inflationIndex);
                    var nextPrice = basePrice * inflationIndex;
                    nextPrice = nextPrice.toFixed(8);
					$("#NextPrice").val(nextPrice);

					if ($("#ValueMonth1Add").val() !== undefined) {
						var valueMonth1Add = $("#ValueMonth1Add").val();
						var valueMonth2Add = $("#ValueMonth2Add").val();
						var valueMonth3Add = $("#ValueMonth3Add").val();

						if (valueMonth1Add !== undefined && valueMonth1Add.indexOf(",") >= 0)
							valueMonth1Add = valueMonth1Add.replace(',', '.');
						if (valueMonth2Add !== undefined && valueMonth2Add.indexOf(",") >= 0)
							valueMonth2Add = valueMonth2Add.replace(',', '.');
						if (valueMonth3Add !== undefined && valueMonth3Add.indexOf(",") >= 0)
							valueMonth3Add = valueMonth3Add.replace(',', '.');


						valueMonth1Add = parseFloat(valueMonth1Add);
						valueMonth2Add = parseFloat(valueMonth2Add);
						valueMonth3Add = parseFloat(valueMonth3Add);

                        var inflationIndexAdd = 0.6 + (0.4 * (valueMonth1Add + valueMonth2Add + valueMonth3Add) / 3 / basePPI);
                        inflationIndexAdd = inflationIndexAdd.toFixed(5);
						$("#InflationIndexAdd").val(inflationIndexAdd); console.log(inflationIndexAdd);
                        var nextPriceAdd = basePrice * inflationIndexAdd;
                        nextPriceAdd = nextPriceAdd.toFixed(8);
						$("#NextPriceAdd").val(nextPriceAdd);
					}
				});
			}
		}

		function initDisableEdit() {
			if ("@Model.IsEditable" == "False") {
				if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
					$("#Year").prop("readonly", true);
					$("#QuarterNum").prop("readonly", true);

					$("#ValueMonth1").prop("readonly", true);
					$("#ValueMonth2").prop("readonly", true);
					$("#ValueMonth3").prop("readonly", true);

					if ($("#ValueMonth1Add").val() !== undefined) {
						$("#ValueMonth1Add").prop("readonly", true);
						$("#ValueMonth2Add").prop("readonly", true);
						$("#ValueMonth3Add").prop("readonly", true);
					}
				} else {
					$("#NextPrice").data("kendoNumericTextBox").readonly(true);
				}
			}
		}

		function initElement() {
			bindYear();
			bindQuarterNum();
			bindYearQuarterNumChange();
			bindBtnSaveDraft();
			bindBtnSave();
			bindBtnApprove();
			bindBtnRevise();
			bindCalculate();
			initDisableEdit();
		}
    </script>
}