﻿@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.MaintainPriceElectricController)ViewContext.Controller;
    Principal user = User as Principal;

    ViewBag.Title = TitleSite.MaintainHargaListrik;
    int powerPlantId = ViewBag.powerPlantId ?? 0;
}

<div class="row">
    <div class="alert alert-info m-b-n" role="alert">
        <h3 class="alert-heading">Informasi</h3>
        PPI yang dimasukkan adalah perhitungan untuk harga TRIWULAN (3 bulan) berikutnya
    </div>
</div>
<div class="row">
    <div class="form-group">
        @Html.Raw(thisController.GetMessage())
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-md-8 form-horizontal">
                        <label class="col-sm-2 control-label">Power Plant</label>
                        <div class="col-sm-4">
                            <input id="PowerPlantId" value="@powerPlantId" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        @if (user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.ASMEN }))
                        {
                        <div class="text-right">
                            <button id="btnCreate" class="btn btn-primary" @(powerPlantId == 0 ? "disabled" : "") title="Pilih power plant terlebih dahulu">Tambah Data Indeks Inflasi</button>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div id="gridPPI"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

		var curSOType = "";

		$(function () {
			initElement();
		});

		function bindPowerPlantId() {
			dropdownListGenerator($("#@Field.PowerPlantId"), "@Url.Action(ActionSite.BindingPowerPlant)", "@Material.ELECTRIC_POWER", "@Field.Name", "@Component.OptionLabel");
		}

        function bindChangePowerPlantId() {
            var dropdownlist = $("#@Field.PowerPlantId").data("kendoDropDownList");

			dropdownlist.bind("change", function () {
				var powerPlantId = $("#@Field.PowerPlantId").val();
				if (powerPlantId != "") {
					checkSOType(powerPlantId);
					$("#btnCreate").prop("disabled", false);
				} else {
					$("#btnCreate").prop("disabled", true);
				}
			});
		}

		function checkSOType(powerPlantId) {
			$.ajax({
				url: "@Url.Action(ActionSite.CheckSOType, ControllerSite.ShipToParty, new { Area = AreaSite.DataMaster })",
				type: "POST",
				data: {
					powerPlantId: powerPlantId
				},
				success: function (data) {
					if (data.Success === true) {
						curSOType = data.Result;
						refreshGrid();
						if (data.Result == "@SOType.ZPGE.ToString()") {
							$("#btnCreate").html("Tambah Data Indeks Inflasi");
						} else {
							$("#btnCreate").html("Tambah Data Harga");
						}
					}
					else {
						swal("Error", data.Message, "error");
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					swal("Server Error. Harap hubungi administrator");
				}
			});
		}

		function bindBtnCreate() {
			$("#btnCreate").on("click", function () {
				window.location.href = "@Url.Action(ActionSite.Create)" + "?powerPlantId=" + $("#@Field.PowerPlantId").val();
			});
		}

		function bindGridPPI() {
			var powerPlantId = $("#@Field.PowerPlantId").val();
			if (powerPlantId != 0) checkSOType(powerPlantId);

			$("#gridPPI").kendoGrid({
				//dataSource: dataSourcePPI(powerPlantId),
				dataBound: dataBoundPPI,
				filterable: kendoGridFilterable,
				pageable: {
                    refresh: true,
                    pageSizes: true,                    
                },
				sortable: true,
				columns: [],
			});
		}

		function dataSourcePPI(powerPlantId) {
			if (powerPlantId == "") powerPlantId = 0;

			return new kendo.data.DataSource({
				transport: {
					read:
					{
						url: "@Url.Action(ActionSite.Binding)",
						dataType: "@DataSource.DataType.Json",
						type: "@DataSource.Type.Post"
					},
					parameterMap: function(options, operation) {
						if (operation !== "@DataSource.Operation.Read" && options.models)
						{
							return kendo.stringify(options);
						}
						else
						{
							if (options.filter)
							{
								var filters = options.filter.filters;

								for (var i in filters)
								{
									var filter = filters[i];
								}
							}

							if (options.sort)
							{
								var sorts = options.sort;

								for (var i in sorts)
								{
									var sort = sorts[i];
								}
							}

							options.args = [];

							return options;
						}
					}
				},
				schema:
				{
					data: "@DataSource.Schema.Property.Data",
					total: "@DataSource.Schema.Property.Total",
					model:
					{
						id: "@Field.Id",
						fields:
						{
							"@Field.Id": { type: "@DataSource.Schema.Type.Number" },
							"@Field.PowerPlantId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.Year": { type: "@DataSource.Schema.Type.Number" },
							"@Field.QuarterNum": { type: "@DataSource.Schema.Type.Number" },
							"@Field.ValueMonth1": { type: "@DataSource.Schema.Type.Number" },
							"@Field.ValueMonth2": { type: "@DataSource.Schema.Type.Number" },
							"@Field.ValueMonth3": { type: "@DataSource.Schema.Type.Number" },
							"@Field.ValueMonth1Add": { type: "@DataSource.Schema.Type.Number" },
							"@Field.ValueMonth2Add": { type: "@DataSource.Schema.Type.Number" },
							"@Field.ValueMonth3Add": { type: "@DataSource.Schema.Type.Number" },
							"@Field.StrQuarterNum": { type: "@DataSource.Schema.Type.String" },
							"@Field.StrMonth1": { type: "@DataSource.Schema.Type.String" },
							"@Field.StrMonth2": { type: "@DataSource.Schema.Type.String" },
							"@Field.StrMonth3": { type: "@DataSource.Schema.Type.String" },
							"@Field.StrWorkflow": { type: "@DataSource.Schema.Type.String" },
							"StrInflationIndex": { type: "@DataSource.Schema.Type.String" },
							"StrNextPrice": { type: "@DataSource.Schema.Type.String" },
						}
					}
				},
				pageSize: 10,
				serverFiltering: true,
				serverPaging: true,
				serverSorting: true,
				filter: { field: "@Field.PowerPlantId", operator: "eq", value: powerPlantId },
				sort: { field: "@Field.Id", dir: "@SortOrder.Descending.ToDescription()" }
			});
		}

		function dataBoundPPI(e) {
			var grid = $("#gridPPI").data("kendoGrid");

			grid.tbody.find("tr[role=\"row\"]").each(function (i) {
				var model = grid.dataItem(this);
                var isAccesss = false;

				if (!model.IsEditable && (model.SOType == "@SOType.ZPGE.ToString()")) {
					$(this).find(".k-grid-delete")
						.removeClass("k-grid-delete")
						.children().eq(0)
						.addClass("k-state-disabled")
						.attr("title", "Can't be deleted, data already used")
						.attr("data-html", true);
                }
                switch (model.WorkflowId) {
                    case 15:
                        if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.MANAGER_AREA, Common.Enums.UserRole.Superadmin }).ToString()" === "True")
                            isAccesss = true;
                        break;
                    case 17:
                        if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.OE_VERIFICATION, Common.Enums.UserRole.Superadmin })" === "@true")
                            isAccesss = true;
                        break;
                     case 19:
                        if ("@user.HasAccess(new Common.Enums.UserRole?[] { Common.Enums.UserRole.MANAGER_OE, Common.Enums.UserRole.Superadmin })" === "@true")
                            isAccesss = true;
                        break;
                    default:
                        break;
                }

                if (!model.IsApprovable || isAccesss == false) {
					$(this).find(".k-grid-approve")
						.removeClass("k-grid-approve")
						.children().eq(0)
						.addClass("k-state-disabled")
						.attr("title", "Approved")
						.attr("data-html", true);
                }

				if ((model.IsApprovable) || (model.SOType == "ZTS")) {
					$(this).find(".k-grid-download")
						.removeClass("k-grid-download")
						.children().eq(0)
						.addClass("k-state-disabled")
						.attr("title", (model.IsApprovable) ? "Not Finished" : "ZPGE Only")
						.attr("data-html", true);
				}
			});
		}

		function initElement() {
			bindPowerPlantId();
			bindChangePowerPlantId();
			bindBtnCreate();
			bindGridPPI();
		}

		function refreshGrid() {
			var powerPlantId = $("#PowerPlantId").val();

			var columns = [
				{
                    command: [
                        {
                            name: "detail",
                            text: "@Component.Grid.Command.Detail",
                            click: detailItem,
                            imageClass: "glyphicon glyphicon-list-alt",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "glyphicon glyphicon-trash",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "approve",
                            text: "@Component.Grid.Command.Approve",
							click: approveItem,
                            imageClass: "glyphicon glyphicon-thumbs-up",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "download",
                            text: "@Component.Grid.Command.Download",
							click: downloadItem,
                            imageClass: "glyphicon glyphicon-download",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
					width: "130px",
                    attributes: { "class": "command" }
				},
				{
					field: "@Field.Year",
					title: "Tahun",
					width: "100px",
				},
			];

			if (curSOType == "@SOType.ZPGE.ToString()") {
				columns = columns.concat([
					{
						field: "@Field.StrQuarterNum",
						title: "Triwulan",
						width: "100px",
					},
					{
						title: "Bulan",
						width: "100px",
						template: "#=@Field.StrMonth1#<br/>#=@Field.StrMonth2#<br/>#=@Field.StrMonth3#"
					},
					{
						title: "Nilai",
						width: "130px",
						template: $("#valueMonthTemplate").html()
					},
					{
						field: "StrInflationIndex",
						title: "Indeks Inflasi",
						width: "200px",
					}
				]);
			}

			columns = columns.concat([
				{
					field: "StrNextPrice",
					title: "Harga Triwulan Berikutnya (USD)",
					template: "#=StrNextQuarterYear#<br/>#=StrNextPrice#"
				},
				{
					field: "@Field.StrWorkflow",
					title: "Status",
					width: "100px",
				}
			]);


			var grid = $("#gridPPI").data("kendoGrid");
			var options = grid.getOptions();
			options.columns = columns;
			grid.setOptions(options);

			$("#gridPPI").data("kendoGrid").setDataSource(dataSourcePPI(powerPlantId));
			//$("#gridPPI").data("kendoGrid").dataSource.read();
		}

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        function detailItem(e) {
            e.preventDefault();
			var data = this.dataItem(getDataRowGrid(e));
			window.location.href = "@Url.Action(ActionSite.Edit)" + "?id=" + data.id;
        }

		function approveItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
			goToApprovePage("@Url.Action(ActionSite.Approve)" + "?id=" + data.id, this.dataSource);
		}

		function downloadItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
			window.location.href = "@Url.Action(ActionSite.Download)" + "?id=" + data.id, this.dataSource;
		}

		function goToApprovePage(url, datasource, callback = null) {
			if (callback !== null && typeof (callback) !== "function") {
				throw "callback must be function";
			}

			swal(
				{
					title: "Terima PPI",
					text: "Apakah anda yakin untuk menerima PPI ini?",
					type: "warning",
					cancelButtonText: "Batal",
					showCancelButton: true,
					confirmButtonClass: "btn btn-primary",
					confirmButtonText: "Ya",
					closeOnConfirm: false
				},
				function () {
					swal({
						title: "Loading",
						text: "Harap Menunggu...",
						imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
						closeOnConfirm: false,
						confirmButtonClass: "hidden",
						//imageSize: "80x80"
					});

					$.ajax({
						url: url,
						type: "POST",
						success: function (data) {
							if (data.Success === true) {
								if (datasource !== null) {
									datasource.read();
								}

								swal("Status", "PPI telah diterima", "success");
								//callback(data);
							}
							else {
								swal("Error", data.Message, "error");
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							swal("Server Error. Harap hubungi administrator");
						}
					});
				});
		}
    </script>

    <script id="valueMonthTemplate" type="text/x-kendo-template">
        #= ValueMonth1 #
        # if (ValueMonth1Add > 0) {
        #
        (Add. #= ValueMonth1Add #)
        #
        } #
        <br />
        #= ValueMonth2 #
        # if (ValueMonth2Add > 0) {
        #
        (Add. #= ValueMonth2Add #)
        #
        } #
        <br />
        #= ValueMonth3 #
        # if (ValueMonth3Add > 0) {
        #
        (Add. #= ValueMonth3Add #)
        #
        } #
    </script>
}