﻿
@{
    ViewBag.Title = "Daily";
}
<div class="ibox m-b">
    <div class="ibox-content">
        <h3><strong>I. PEMBANGKITAN ENERGI LISTRIK & PEMANFAATAN UAP</strong></h3>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pel">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#detailpel" aria-expanded="true" aria-controls="detailpel">
                        1. 1. PEMBANGKITAN ENERGI LISTRIK
                    </a>
                </h4>
            </div>
            <div id="detailpel" class="panel-collapse" role="tabpanel" aria-labelledby="pel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">PLTP</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">Kapasitas</th>
                                    <th colspan="4" style="text-align:center; vertical-align:middle;">Energi Listrik &#64;24 Jam</th>
                                    <th colspan="2" style="text-align:center; vertical-align:middle;">Month To Date (MTD)</th>
                                    <th colspan="2" style="text-align:center; vertical-align:middle;">Year To Date (YTD)</th>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">Keterangan</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">Gross</th>
                                    <th style="text-align:center; vertical-align:middle;">Rata-Rata Gross</th>
                                    <th style="text-align:center; vertical-align:middle;">Netto</th>
                                    <th style="text-align:center; vertical-align:middle;">Rata-Rata Netto</th>
                                    <th style="text-align:center; vertical-align:middle;">Gross</th>
                                    <th style="text-align:center; vertical-align:middle;">Netto</th>
                                    <th style="text-align:center; vertical-align:middle;">Gross</th>
                                    <th style="text-align:center; vertical-align:middle;">Netto</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">MW</th>
                                    <th style="text-align:center; vertical-align:middle;">MWh</th>
                                    <th style="text-align:center; vertical-align:middle;">MW</th>
                                    <th style="text-align:center; vertical-align:middle;">MWh</th>
                                    <th style="text-align:center; vertical-align:middle;">MW</th>
                                    <th style="text-align:center; vertical-align:middle;">MWh</th>
                                    <th style="text-align:center; vertical-align:middle;">MWh</th>
                                    <th style="text-align:center; vertical-align:middle;">MWh</th>
                                    <th style="text-align:center; vertical-align:middle;">MWh</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>KMJ - Unit 1 (IP)</th>
                                    <td style="text-align:right;">30.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">76,428.70</td>
                                    <td style="text-align:right;">73,539.64</td>
                                    <td>trip akibat unit terbakar (penyebab masih di investigasi) hari ke-101.</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 2 (IP)</th>
                                    <td style="text-align:right;">55.00</td>
                                    <td style="text-align:right;">1,340.22</td>
                                    <td style="text-align:right;">55.84</td>
                                    <td style="text-align:right;">1,291.10</td>
                                    <td style="text-align:right;">53.8</td>
                                    <td style="text-align:right;">41,377.27</td>
                                    <td style="text-align:right;">39,858.17</td>
                                    <td style="text-align:right;">273,548.14</td>
                                    <td style="text-align:right;">263,579.65</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 3 (IP)</th>
                                    <td style="text-align:right;">55.00</td>
                                    <td style="text-align:right;">1,338.00</td>
                                    <td style="text-align:right;">55.75</td>
                                    <td style="text-align:right;">1,291.54</td>
                                    <td style="text-align:right;">53.81/td>
                                    <td style="text-align:right;">40,652.91</td>
                                    <td style="text-align:right;">39,212.12</td>
                                    <td style="text-align:right;">125,801.64</td>
                                    <td style="text-align:right;">121,301.63</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 4 (PGE)</th>
                                    <td style="text-align:right;">60.00</td>
                                    <td style="text-align:right;">1,516.79</td>
                                    <td style="text-align:right;">63.2</td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;">46,465.89</td>
                                    <td style="text-align:right;">33,086.39</td>
                                    <td style="text-align:right;">313,753.58</td>
                                    <td style="text-align:right;">290,761.57</td>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th style="text-align:right;">200.00</th>
                                    <th style="text-align:right;">4,195.01</th>
                                    <th style="text-align:right;">174.79</th>
                                    <th style="text-align:right;">2,582.64</th>
                                    <th style="text-align:right;">107.61</th>
                                    <th style="text-align:right;">128,496.07</th>
                                    <th style="text-align:right;">112,156.68</th>
                                    <th style="text-align:right;">789,532.06</th>
                                    <th style="text-align:right;">749,182.49</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pu">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detailpu" aria-expanded="false" aria-controls="detailpu">
                        <h4>
                            1. 2. PEMANFAATAN UAP
                        </h4>
                    </a>
                </h4>
            </div>
            <div id="detailpu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pu" aria-expanded="false">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">PLTP</th>
                                    <th colspan="4" style="text-align:center; vertical-align:middle;">PRODUKSI UAP DARI SUMUR</th>
                                    <th colspan="4" style="text-align:center; vertical-align:middle;">PEMANFAATAN UAP OLEH PEMBANGKIT</th>
                                    <th colspan="4" style="text-align:center; vertical-align:middle;">BUANGAN KE ROCK MUFFLER</th>
                                    <th colspan="2" style="text-align:center; vertical-align:middle;">SSC</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">Rata-rata</th>
                                    <th style="text-align:center; vertical-align:middle;">&#64;24 Jam</th>
                                    <th style="text-align:center; vertical-align:middle;">MTD</th>
                                    <th style="text-align:center; vertical-align:middle;">YTD</th>
                                    <th style="text-align:center; vertical-align:middle;">Rata-rata</th>
                                    <th style="text-align:center; vertical-align:middle;">&#64;24 Jam</th>
                                    <th style="text-align:center; vertical-align:middle;">MTD</th>
                                    <th style="text-align:center; vertical-align:middle;">YTD</th>
                                    <th style="text-align:center; vertical-align:middle;">Rata-rata</th>
                                    <th style="text-align:center; vertical-align:middle;">&#64;24 Jam</th>
                                    <th style="text-align:center; vertical-align:middle;">MTD</th>
                                    <th style="text-align:center; vertical-align:middle;">YTD</th>
                                    <th style="text-align:center; vertical-align:middle;">Rata-rata</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">Ton/Jam</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ton/Jam</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ton/Jam</th>
                                    <th style="text-align:center; vertical-align:middle;">Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ton/MWh</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>KMJ - Unit 1 (IP)</th>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">613.58</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">611.48</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">2.09</td>
                                    <td style="text-align:right;"></td>
                                </tr>
                                <tr>
                                    <th style="text-align:right;">KMJ - Unit 2 (IP)</th>
                                    <td style="text-align:right;">431.00</td>
                                    <td style="text-align:right;">10.34</td>
                                    <td style="text-align:right;">319.72</td>
                                    <td style="text-align:right;">2,124.03</td>
                                    <td style="text-align:right;">429.99</td>
                                    <td style="text-align:right;">10.32</td>
                                    <td style="text-align:right;">318.60</td>
                                    <td style="text-align:right;">2,106.34</td>
                                    <td style="text-align:right;">1.01</td>
                                    <td style="text-align:right;">24.32</td>
                                    <td style="text-align:right;">1.11</td>
                                    <td style="text-align:right;">17.69</td>
                                    <td style="text-align:right;">7.70</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 3 (IP)</th>
                                    <td style="text-align:right;">424.71</td>
                                    <td style="text-align:right;">10.19</td>
                                    <td style="text-align:right;">310.07</td>
                                    <td style="text-align:right;">969.68</td>
                                    <td style="text-align:right;">423.70</td>
                                    <td style="text-align:right;">10.17</td>
                                    <td style="text-align:right;">308.96</td>
                                    <td style="text-align:right;">956.09</td>
                                    <td style="text-align:right;">1.01</td>
                                    <td style="text-align:right;">24.32</td>
                                    <td style="text-align:right;">1.11</td>
                                    <td style="text-align:right;">13.58</td>
                                    <td style="text-align:right;">7.60</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 4 (PGE)</th>
                                    <td style="text-align:right;">435.35</td>
                                    <td style="text-align:right;">10.45</td>
                                    <td style="text-align:right;">320.86</td>
                                    <td style="text-align:right;">2,167.25</td>
                                    <td style="text-align:right;">434.05</td>
                                    <td style="text-align:right;">10.42</td>
                                    <td style="text-align:right;">319.90</td>
                                    <td style="text-align:right;">2,160.77</td>
                                    <td style="text-align:right;">1.30</td>
                                    <td style="text-align:right;">31.25</td>
                                    <td style="text-align:right;">0.96</td>
                                    <td style="text-align:right;">6.48</td>
                                    <td style="text-align:right;">6.87</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total/Avg</th>
                                    <th style="text-align:right;">322.77</th>
                                    <th style="text-align:right;">30.99</th>
                                    <th style="text-align:right;">950.65</th>
                                    <th style="text-align:right;">5,874.53</th>
                                    <th style="text-align:right;">321.94</th>
                                    <th style="text-align:right;">30.91</th>
                                    <th style="text-align:right;">947.46</th>
                                    <th style="text-align:right;">5,834.68</th>
                                    <th style="text-align:right;">0.83</th>
                                    <th style="text-align:right;">79.89</th>
                                    <th style="text-align:right;">3.18</th>
                                    <th style="text-align:right;">39.84</th>
                                    <th style="text-align:right;"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="dkp">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detaildkp" aria-expanded="false" aria-controls="dkp">
                        <h4>
                            1. 3. DEKLARASI KONDISI PEMBANGKIT
                        </h4>
                    </a>
                </h4>
            </div>
            <div id="detaildkp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dkp" aria-expanded="false">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">PLTP</th>
                                    <th style="text-align:center; vertical-align:middle;">DMN (MW)</th>
                                    <th style="text-align:center; vertical-align:middle;">NCF (%)</th>
                                    <th style="text-align:center; vertical-align:middle;">GCF (%)</th>
                                    <th style="text-align:center; vertical-align:middle;">STATUS GANGGUAN</th>
                                    <th style="text-align:center; vertical-align:middle;">JAM AWAL GANGGUAN</th>
                                    <th style="text-align:center; vertical-align:middle;">JAM AKHIR GANGGUAN</th>
                                    <th style="text-align:center; vertical-align:middle;">DURASI GANGGUAN (HH:MM)</th>
                                    <th style="text-align:center; vertical-align:middle;">DERATING (MW)</th>
                                    <th style="text-align:center; vertical-align:middle;">ENERGI YANG HILANG (KWH)</th>
                                    <th style="text-align:center; vertical-align:middle;">LOKASI GANGGUAN</th>
                                    <th style="text-align:center; vertical-align:middle;">PENYEBAB GANGGUAN</th>
                                    <th style="text-align:center; vertical-align:middle;">KETERANGAN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>KMJ - Unit 1 (IP)</th>
                                    <td style="text-align:right;">30.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td>FO1</td>
                                    <td style="text-align:center;">00:01</td>
                                    <td style="text-align:center;">00:00</td>
                                    <td style="text-align:center;">0:-1</td>
                                    <td style="text-align:right;">30.0</td>
                                    <td style="text-align:right;">-0.50</td>
                                    <td>GPP</td>
                                    <td>Turbin</td>
                                    <td>trip akibat unit terbakar (penyebab masih di investigasi) hari ke-101.</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 2 (IP)</th>
                                    <td style="text-align:right;">55.00</td>
                                    <td style="text-align:right;">101.53</td>
                                    <td style="text-align:right;">101.53</td>
                                    <td>NORMAL</td>
                                    <td style="text-align:center;">-</td>
                                    <td style="text-align:center;">-</td>
                                    <td style="text-align:center;"></td>
                                    <td style="text-align:right;">0.0</td>
                                    <td style="text-align:right;"></td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 3 (IP)</th>
                                    <td style="text-align:right;">55.00</td>
                                    <td style="text-align:right;">101.36</td>
                                    <td style="text-align:right;">101.36</td>
                                    <td>NORMAL</td>
                                    <td style="text-align:center;">-</td>
                                    <td style="text-align:center;">-</td>
                                    <td style="text-align:center;"></td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;"></td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 4 (IP)</th>
                                    <td style="text-align:right;">60.00</td>
                                    <td style="text-align:right;">105.33</td>
                                    <td style="text-align:right;">105.33</td>
                                    <td>NORMAL</td>
                                    <td style="text-align:center;">-</td>
                                    <td style="text-align:center;">-</td>
                                    <td style="text-align:center;"></td>
                                    <td style="text-align:right;">0.0</td>
                                    <td style="text-align:right;"></td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ibox m-b">
    <div class="ibox-content">
        <h3><strong>II. SUMUR PRODUKSI, INJEKSI & MONITORING</strong></h3>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="sp">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detailsp" aria-expanded="false" aria-controls="detailsp">
                        <h4>
                            2. 1. SUMUR PRODUKSI
                        </h4>
                    </a>
                </h4>
            </div>
            <div id="detailsp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sp" aria-expanded="false">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">SUMUR PRODUKSI</th>
                                    <th style="text-align:center; vertical-align:middle;">TKS</th>
                                    <th style="text-align:center; vertical-align:middle;">TEKANAN JALUR</th>
                                    <th style="text-align:center; vertical-align:middle;">SUHU JALUR</th>
                                    <th style="text-align:center; vertical-align:middle;">THROTTLE VALVE</th>
                                    <th style="text-align:center; vertical-align:middle;">FLOW RATA-RATA</th>
                                    <th style="text-align:center; vertical-align:middle;">FLOW TOTAL &#64;24 JAM</th>
                                    <th style="text-align:center; vertical-align:middle;">YTD KUMULATIF</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">STATUS SUMUR</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">KETERANGAN</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">Bar</th>
                                    <th style="text-align:center; vertical-align:middle;">Bar</th>
                                    <th style="text-align:center; vertical-align:middle;">&#176;C</th>
                                    <th style="text-align:center; vertical-align:middle;">%</th>
                                    <th style="text-align:center; vertical-align:middle;">Ton/Hour</th>
                                    <th style="text-align:center; vertical-align:middle;">Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>KMJ.11</th>
                                    <td style="text-align:right;">24.61</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">652.40</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.14</th>
                                    <td style="text-align:right;">13.73</td>
                                    <td style="text-align:right;">7.65</td>
                                    <td style="text-align:right;">169.00</td>
                                    <td style="text-align:right;">100.00</td>
                                    <td style="text-align:right;">35.99</td>
                                    <td style="text-align:right;">863.76</td>
                                    <td style="text-align:right;">587.33</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.17</th>
                                    <td style="text-align:right;">11.47</td>
                                    <td style="text-align:right;">8.24</td>
                                    <td style="text-align:right;">182.00</td>
                                    <td style="text-align:right;">100.00</td>
                                    <td style="text-align:right;">46.68</td>
                                    <td style="text-align:right;">1,120.32</td>
                                    <td style="text-align:right;">967.81</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.18</th>
                                    <td style="text-align:right;">13.73</td>
                                    <td style="text-align:right;">13.44</td>
                                    <td style="text-align:right;">196.00</td>
                                    <td style="text-align:right;">30.00</td>
                                    <td style="text-align:right;">69.77</td>
                                    <td style="text-align:right;">1,674.48</td>
                                    <td style="text-align:right;">1,661.71</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.22</th>
                                    <td style="text-align:right;">12.65</td>
                                    <td style="text-align:right;">12.55</td>
                                    <td style="text-align:right;">193.00</td>
                                    <td style="text-align:right;">45.00</td>
                                    <td style="text-align:right;">53.99</td>
                                    <td style="text-align:right;">1,295.76</td>
                                    <td style="text-align:right;">1,549.52</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.24</th>
                                    <td style="text-align:right;">25.69</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">364.56</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.25</th>
                                    <td style="text-align:right;">21.67</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">213.46</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.26</th>
                                    <td style="text-align:right;">11.96</td>
                                    <td style="text-align:right;">7.06</td>
                                    <td style="text-align:right;">180.00</td>
                                    <td style="text-align:right;">100.00</td>
                                    <td style="text-align:right;">25.01</td>
                                    <td style="text-align:right;">600.24</td>
                                    <td style="text-align:right;">632.93</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.27</th>
                                    <td style="text-align:right;">12.75</td>
                                    <td style="text-align:right;">12.65</td>
                                    <td style="text-align:right;">195.00</td>
                                    <td style="text-align:right;">35.00</td>
                                    <td style="text-align:right;">22.24</td>
                                    <td style="text-align:right;">533.76</td>
                                    <td style="text-align:right;">662.42</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.28</th>
                                    <td style="text-align:right;">10.59</td>
                                    <td style="text-align:right;">7.65</td>
                                    <td style="text-align:right;">174.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">28.88</td>
                                    <td style="text-align:right;">693.12</td>
                                    <td style="text-align:right;">700.95</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.31</th>
                                    <td style="text-align:right;">12.06</td>
                                    <td style="text-align:right;">7.65</td>
                                    <td style="text-align:right;">170.00</td>
                                    <td style="text-align:right;">100.00</td>
                                    <td style="text-align:right;">26.22</td>
                                    <td style="text-align:right;">629.28</td>
                                    <td style="text-align:right;">717.51</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.33</th>
                                    <td style="text-align:right;">9.71</td>
                                    <td style="text-align:right;">7.65</td>
                                    <td style="text-align:right;">170.00</td>
                                    <td style="text-align:right;">100.00</td>
                                    <td style="text-align:right;">11.86</td>
                                    <td style="text-align:right;">284.64</td>
                                    <td style="text-align:right;">244.79</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.34</th>
                                    <td style="text-align:right;">18.63</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.000</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">298.87</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.36</th>
                                    <td style="text-align:right;">15.89</td>
                                    <td style="text-align:right;">15.59</td>
                                    <td style="text-align:right;">186.00</td>
                                    <td style="text-align:right;">40.00</td>
                                    <td style="text-align:right;">48.10</td>
                                    <td style="text-align:right;">1,154.40</td>
                                    <td style="text-align:right;">1,574.22</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.37</th>
                                    <td style="text-align:right;">14.22</td>
                                    <td style="text-align:right;">7.85</td>
                                    <td style="text-align:right;">181.00</td>
                                    <td style="text-align:right;">100.00</td>
                                    <td style="text-align:right;">48.24</td>
                                    <td style="text-align:right;">1,157.76</td>
                                    <td style="text-align:right;">1,241.94</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="si">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detailsi" aria-expanded="false" aria-controls="detailsi">
                        <h4>
                            2. 1. SUMUR INJEKSI
                        </h4>
                    </a>
                </h4>
            </div>
            <div id="detailsi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="si" aria-expanded="false">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">SUMUR INJEKSI</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">TKS</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">TEKANAN JALUR</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">SUHU JALUR</th>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">PH</th>
                                    <th colspan="2" style="text-align:center; vertical-align:middle;">LAJU ALUR FLUIDA</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">KUMULATIF SEJAK OPERASI</th>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">FLUIDA YANG DIINJEKSIKAN</th>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">STATUS</th>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">KETERANGAN</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">Rata-rata</th>
                                    <th style="text-align:center; vertical-align:middle;">&#64;24 Jam</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">Bar</th>
                                    <th style="text-align:center; vertical-align:middle;">Bar</th>
                                    <th style="text-align:center; vertical-align:middle;">&#176;C</th>
                                    <th style="text-align:center; vertical-align:middle;">Ton/Jam</th>
                                    <th style="text-align:center; vertical-align:middle;">Ton</th>
                                    <th style="text-align:center; vertical-align:middle;">Ribu Ton</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>KMJ.13</th>
                                    <td style="text-align:right;">17.85</td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;">0</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">2.30</td>
                                    <td>Cold Brine</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.15</th>
                                    <td style="text-align:right;">-0.76</td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;">0</td>
                                    <td style="text-align:right;">138.00</td>
                                    <td style="text-align:right;">3,312.00</td>
                                    <td style="text-align:right;">1,239.880</td>
                                    <td>Condensat</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.20</th>
                                    <td style="text-align:right;">21.38</td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;">0</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">220.21</td>
                                    <td>Cold Brine</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.21</th>
                                    <td style="text-align:right;">-0.75</td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;">0</td>
                                    <td style="text-align:right;">36.00</td>
                                    <td style="text-align:right;">864.00</td>
                                    <td style="text-align:right;">2,766.961</td>
                                    <td>Condensat</td>
                                    <td>Operation</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.30</th>
                                    <td style="text-align:right;">19.71</td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;"></td>
                                    <td style="text-align:right;">0</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">0.00</td>
                                    <td style="text-align:right;">2.30</td>
                                    <td>Cold Brine</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="sma">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detailsma" aria-expanded="false" aria-controls="sma">
                        <h4>
                            2. 3. SUMUR MONITORING & ABANDONED
                        </h4>
                    </a>
                </h4>
            </div>
            <div id="detailsma" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sma" aria-expanded="false">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">SUMUR MONITORING & ABANDONED</th>
                                    <th style="text-align:center; vertical-align:middle;">TKS</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">STATUS</th>
                                    <th rowspan="2" style="text-align:center; vertical-align:middle;">KETERANGAN</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center; vertical-align:middle;">Bar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>KMJ.01</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.02</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.03</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.04</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.05</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.06</th>
                                    <td>22.06</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.07</th>
                                    <td>0</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.08</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.09</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.10</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.12</th>
                                    <td>0</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.16</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.16</th>
                                    <td>0</td>
                                    <td>Shut-In</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>KMJ.19</th>
                                    <td>19.42</td>
                                    <td>Bleeding</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ibox m-b">
    <div class="ibox-content">
        <h3><strong>III. INTERFACE & SCRUBBER</strong></h3>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="is">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detailis" aria-expanded="false" aria-controls="detailis">
                        <h4>
                            3. 1. INTERFACE & SCRUBBER
                        </h4>
                    </a>
                </h4>
            </div>
            <div id="detailis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="is" aria-expanded="false">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="3" style="text-align:center; vertical-align:middle;">PLTP</th>
                                    <th colspan="2" style="text-align:center; vertical-align:middle;">INTERFACE</th>
                                </tr>
                                <tr>
                                    <th>TEKANAN</th>
                                    <th>SUHU</th>
                                </tr>
                                <tr>
                                    <th>Bar</th>
                                    <th>&#176;C</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>KMJ - Unit 1 (IP)</th>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 2 (IP)</th>
                                    <td>6.00</td>
                                    <td>159.00</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 3 (IP)</th>
                                    <td>5.80</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <th>KMJ - Unit 4 (PGE)</th>
                                    <td>10.79</td>
                                    <td>185.34</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align:center; vertical-align:middle;">SCRUBBER</th>
                                </tr>
                                <tr>
                                    <th>TEKANAN</th>
                                    <th>SUHU</th>
                                </tr>
                                <tr>
                                    <th>Bar</th>
                                    <th>&#176;C</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>10.10</td>
                                    <td>184.12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>