﻿
<div class="ibox">    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-1">
                <h5 class="panel-title">
                    <a role="button" class="btn btn-link" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                        <strong>Rencana Produksi Uap, Listrik, dan Pendapatan Unit 1 - 30 MW</strong>
                    </a>
                </h5>
            </div>
            @*collapse 1*@
            <div id="collapse-1" class="panel-collapse collapse in" aria-labelledby="heading-1">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">PEMAKAIAN UAP</th>
                                <th colspan="12">PRODUKSI LISTRIK / PENDAPATAN</th>
                            </tr>
                            <tr>
                                <th>BULAN</th>
                                <th>HARI</th>
                                <th>RENCANA</th>
                                <th colspan="2">REALISASI</th>
                                <th colspan="6">RENCANA</th>
                                <th colspan="6">REALISASI</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>OPS</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th>Harga Jual</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>

                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th>Harga Jual</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>(Ton)</th>
                                <th>(Ton)</th>
                                <th>Kumulatif</th>
                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>(Rp/Kwh)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>

                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>(Rp/Kwh)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Januari</td>
                            <td>31</td>
                            <td>169,632</td>
                            <td>174,752</td>
                            <td>174,752</td>
                            <td>21,204</td>
                            <td>21,204</td>
                            <td>630.00</td>
                            <td>1.27</td>
                            <td>13.36</td>
                            <td>13.36</td>
                            <td>21,837</td>
                            <td>21,837</td>
                            <td>630.00</td>
                            <td>1.31</td>
                            <td>14.31</td>
                            <td>14.31</td>
                        </tr>
                        <tr>
                            <td>Februari</td>
                            <td>28</td>
                            <td>153,216</td>
                            <td></td>
                            <td></td>
                            <td>19,152</td>
                            <td>40,356</td>
                            <td>630.00</td>
                            <td>1.15</td>
                            <td>12.07</td>
                            <td>25.42</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Maret</td>
                            <td>31</td>
                            <td>169,632</td>
                            <td></td>
                            <td></td>
                            <td>21,204</td>
                            <td>61,560</td>
                            <td>630.00</td>
                            <td>1.27</td>
                            <td>13.36</td>
                            <td>38.78</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td>30</td>
                            <td>169,632</td>
                            <td></td>
                            <td></td>
                            <td>20,520</td>
                            <td>82,080</td>
                            <td>630.00</td>
                            <td>1.23</td>
                            <td>12.93</td>
                            <td>51.71</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mei</td>
                            <td>31</td>
                            <td>169,632</td>
                            <td></td>
                            <td></td>
                            <td>21,204</td>
                            <td>103,284</td>
                            <td>630.00</td>
                            <td>1.27</td>
                            <td>13.36</td>
                            <td>65.07</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juni</td>
                            <td>30</td>
                            <td>164,160</td>
                            <td></td>
                            <td></td>
                            <td>20,520</td>
                            <td>123,804</td>
                            <td>630.00</td>
                            <td>1.23</td>
                            <td>12.93</td>
                            <td>78.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juli</td>
                            <td>31</td>
                            <td>169,632</td>
                            <td></td>
                            <td></td>
                            <td>21,204</td>
                            <td>145,008</td>
                            <td>630.00</td>
                            <td>1.27</td>
                            <td>13.36</td>
                            <td>91.36</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Agustus</td>
                            <td>31</td>
                            <td>169,632</td>
                            <td></td>
                            <td></td>
                            <td>21,204</td>
                            <td>166,212</td>
                            <td>630.00</td>
                            <td>1.27</td>
                            <td>13.36</td>
                            <td>104.71</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td>30</td>
                            <td>82,080</td>
                            <td></td>
                            <td></td>
                            <td>10,260</td>
                            <td>176,472</td>
                            <td>630.00</td>
                            <td>0.62</td>
                            <td>6.46</td>
                            <td>111.18</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Oktober</td>
                            <td>31</td>
                            <td>169,632</td>
                            <td></td>
                            <td></td>
                            <td>21,204</td>
                            <td>197,676</td>
                            <td>630.00</td>
                            <td>1.27</td>
                            <td>13.36</td>
                            <td>124.54</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>November</td>
                            <td>30</td>
                            <td>164,160</td>
                            <td></td>
                            <td></td>
                            <td>20,520</td>
                            <td>218,196</td>
                            <td>630.00</td>
                            <td>1.23</td>
                            <td>12.93</td>
                            <td>137.46</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Desember</td>
                            <td>31</td>
                            <td>169,632</td>
                            <td></td>
                            <td></td>
                            <td>21,204</td>
                            <td>239,400</td>
                            <td>630.00</td>
                            <td>1.27</td>
                            <td>13.36</td>
                            <td>150.82</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="sum">Jumlah</td>
                            <td></td>
                            <td class="sum">1,915,200</td>
                            <td class="sum">174,752</td>
                            <td class="sum">9.12%</td>
                            <td class="sum">239,400</td>
                            <td></td>
                            <td></td>
                            <td class="sum">14.36</td>
                            <td class="sum">150.82</td>
                            <td></td>
                            <td class="sum">21,837</td>
                            <td class="sum percent">9.12%</td>
                            <td></td>
                            <td class="sum">1.31</td>
                            <td></td>
                            <td class="sum percent">0.00%</td>
                        </tr>
                    </table>
                </div>
            </div>
            @*end of collapse 1*@

            @*collapse 2*@
            <div class="panel-heading" role="tab" id="heading-2">
                <h5 class="panel-title">
                    <a role="button" class="btn btn-link" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                        <strong>Rencana Produksi Uap, Listrik, dan Pendapatan Unit 2 - 55 MW</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse-2" class="panel-collapse collapse" aria-labelledby="heading-2" aria-expanded="false">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">PEMAKAIAN UAP</th>
                                <th colspan="12">PRODUKSI LISTRIK / PENDAPATAN</th>
                            </tr>
                            <tr>
                                <th>BULAN</th>
                                <th>HARI</th>
                                <th>RENCANA</th>
                                <th colspan="2">REALISASI</th>
                                <th colspan="6">RENCANA</th>
                                <th colspan="6">REALISASI</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>OPS</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th>Harga Jual</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>

                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th>Harga Jual</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>(Ton)</th>
                                <th>(Ton)</th>
                                <th>Kumulatif</th>
                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>(Rp/Kwh)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>

                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>(Rp/Kwh)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Januari</td>
                            <td>31</td>
                            <td>295,442</td>
                            <td>317,915</td>
                            <td>317,915</td>
                            <td>38,874</td>
                            <td>38,874</td>
                            <td>630.00</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>41,293</td>
                            <td>41,293</td>
                            <td></td>
                            <td>2.48</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Februari</td>
                            <td>28</td>
                            <td>266,851</td>
                            <td></td>
                            <td></td>
                            <td>35,112</td>
                            <td>73,986</td>
                            <td>630.00</td>
                            <td>22.12</td>
                            <td>22.12</td>
                            <td>46.61</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Maret</td>
                            <td>31</td>
                            <td>295,442</td>
                            <td></td>
                            <td></td>
                            <td>38,874</td>
                            <td>112,860</td>
                            <td>630.00</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>71.10</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td>30</td>
                            <td>285,912</td>
                            <td></td>
                            <td></td>
                            <td>37,620</td>
                            <td>150,480</td>
                            <td>630.00</td>
                            <td>23.70</td>
                            <td>23.70</td>
                            <td>94.80</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mei</td>
                            <td>31</td>
                            <td>295,442</td>
                            <td></td>
                            <td></td>
                            <td>38,874</td>
                            <td>189,354</td>
                            <td>630.00</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>119.29</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juni</td>
                            <td>30</td>
                            <td>142,956</td>
                            <td></td>
                            <td></td>
                            <td>18,810</td>
                            <td>208,164</td>
                            <td>630.00</td>
                            <td>11.85</td>
                            <td>11.85</td>
                            <td>131.14</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juli</td>
                            <td>31</td>
                            <td>295,442</td>
                            <td></td>
                            <td></td>
                            <td>38,874</td>
                            <td>247,038</td>
                            <td>630.00</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>155.63</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Agustus</td>
                            <td>31</td>
                            <td>295,442</td>
                            <td></td>
                            <td></td>
                            <td>38,874</td>
                            <td>285,912</td>
                            <td>630.00</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>180.12</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td>30</td>
                            <td>285,912</td>
                            <td></td>
                            <td></td>
                            <td>37,620</td>
                            <td>323,532</td>
                            <td>630.00</td>
                            <td>23.70</td>
                            <td>23.70</td>
                            <td>203.83</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Oktober</td>
                            <td>31</td>
                            <td>295,442</td>
                            <td></td>
                            <td></td>
                            <td>38,874</td>
                            <td>362,406</td>
                            <td>630.00</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>228.32</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>November</td>
                            <td>30</td>
                            <td>285,912</td>
                            <td></td>
                            <td></td>
                            <td>37,620</td>
                            <td>400,026</td>
                            <td>630.00</td>
                            <td>23.70</td>
                            <td>23.70</td>
                            <td>252.02</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Desember</td>
                            <td>31</td>
                            <td>295,442</td>
                            <td></td>
                            <td></td>
                            <td>38,874</td>
                            <td>438,900</td>
                            <td>630.00</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>276.51</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="sum">Jumlah</td>
                            <td></td>
                            <td class="sum">3,335,640</td>
                            <td class="sum">317,915</td>
                            <td class="sum percent">9.53%</td>
                            <td class="sum">438,900</td>
                            <td></td>
                            <td></td>
                            <td class="sum">276.51</td>
                            <td class="sum">276.51</td>
                            <td></td>
                            <td class="sum">41,293</td>
                            <td class="sum percent">9.41%</td>
                            <td></td>
                            <td class="sum">2.48</td>
                            <td></td>
                            <td class="sum percent">0.00%</td>
                        </tr>
                    </table>
                </div>
            </div>
            @*end of collapse 2*@

            @*collapse 3*@
            <div class="panel-heading" role="tab" id="heading-3">
                <h5 class="panel-title">
                    <a role="button" class="btn btn-link" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                        <strong>Rencana Produksi Uap, Listrik, dan Pendapatan Unit 3 - 55 MW</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse-3" class="panel-collapse collapse" aria-labelledby="heading-3" aria-expanded="false">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">PEMAKAIAN UAP</th>
                                <th colspan="12">PRODUKSI LISTRIK / PENDAPATAN</th>
                            </tr>
                            <tr>
                                <th>BULAN</th>
                                <th>HARI</th>
                                <th>RENCANA</th>
                                <th colspan="2">REALISASI</th>
                                <th colspan="6">RENCANA</th>
                                <th colspan="6">REALISASI</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>OPS</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th>Harga Jual</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>

                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th>Harga Jual</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>(Ton)</th>
                                <th>(Ton)</th>
                                <th>Kumulatif</th>
                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>(Rp/Kwh)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>

                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>(Rp/Kwh)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Januari</td>
                            <td>31</td>
                            <td>299,330</td>
                            <td>0</td>
                            <td>0</td>
                            <td>38,874</td>
                            <td>38,874</td>
                            <td>630.00</td>
                            <td>2.33</td>
                            <td>24.49</td>
                            <td>24.49</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Februari</td>
                            <td>28</td>
                            <td>270,362</td>
                            <td>0</td>
                            <td>0</td>
                            <td>35,112</td>
                            <td>73,986</td>
                            <td>630.00</td>
                            <td>2.11</td>
                            <td>22.12</td>
                            <td>46.61</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Maret</td>
                            <td>31</td>
                            <td>299,330</td>
                            <td>0</td>
                            <td>0</td>
                            <td>38,874</td>
                            <td>112,860</td>
                            <td>630.00</td>
                            <td>2.33</td>
                            <td>24.49</td>
                            <td>71.10</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td>30</td>
                            <td>289,674</td>
                            <td>0</td>
                            <td>0</td>
                            <td>37,620</td>
                            <td>150,480</td>
                            <td>630.00</td>
                            <td>2.26</td>
                            <td>23.70</td>
                            <td>94.80</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mei</td>
                            <td>31</td>
                            <td>299,330</td>
                            <td>0</td>
                            <td>0</td>
                            <td>38,874</td>
                            <td>189,354</td>
                            <td>630.00</td>
                            <td>2.33</td>
                            <td>24.49</td>
                            <td>119.29</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juni</td>
                            <td>30</td>
                            <td>289,674</td>
                            <td>0</td>
                            <td>0</td>
                            <td>37,620</td>
                            <td>226,974</td>
                            <td>630.00</td>
                            <td>2.26</td>
                            <td>23.70</td>
                            <td>142.99</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juli</td>
                            <td>31</td>
                            <td>299,330</td>
                            <td>0</td>
                            <td>0</td>
                            <td>38,874</td>
                            <td>265,848</td>
                            <td>630.00</td>
                            <td>2.33</td>
                            <td>24.49</td>
                            <td>167.48</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Agustus</td>
                            <td>31</td>
                            <td>299,330</td>
                            <td>0</td>
                            <td>0</td>
                            <td>38,874</td>
                            <td>304,722</td>
                            <td>630.00</td>
                            <td>2.33</td>
                            <td>24.49</td>
                            <td>191.97</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td>30</td>
                            <td>144,837</td>
                            <td></td>
                            <td></td>
                            <td>18,810</td>
                            <td>323,532</td>
                            <td>630.00</td>
                            <td>1.13</td>
                            <td>11.85</td>
                            <td>203.83</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Oktober</td>
                            <td>31</td>
                            <td>299,330</td>
                            <td>0</td>
                            <td>0</td>
                            <td>38,874</td>
                            <td>362,406</td>
                            <td>630.00</td>
                            <td>2.33</td>
                            <td>24.49</td>
                            <td>228.32</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>November</td>
                            <td>30</td>
                            <td>289,674</td>
                            <td>0</td>
                            <td>0</td>
                            <td>37,620</td>
                            <td>400,026</td>
                            <td>630.00</td>
                            <td>2.26</td>
                            <td>23.70</td>
                            <td>252.02</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Desember</td>
                            <td>31</td>
                            <td>299,330</td>
                            <td>0</td>
                            <td>0</td>
                            <td>38,874</td>
                            <td>438,900</td>
                            <td>630.00</td>
                            <td>2.33</td>
                            <td>24.49</td>
                            <td>276.51</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td>0.00</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="sum">Jumlah</td>
                            <td></td>
                            <td class="sum">3,379,530</td>
                            <td class="sum">0</td>
                            <td class="sum percent">0.00%</td>
                            <td class="sum">438,900</td>
                            <td></td>
                            <td></td>
                            <td class="sum">26.33</td>
                            <td class="sum">276.51</td>
                            <td></td>
                            <td class="sum">0</td>
                            <td class="sum percent">0.00%</td>
                            <td></td>
                            <td class="sum">0.00</td>
                            <td></td>
                            <td class="sum percent">0.00%</td>
                        </tr>
                    </table>
                </div>
            </div>
            @*end of collapse 3*@

            @*collapse 4*@
            <div class="panel-heading" role="tab" id="heading-4">
                <h5 class="panel-title">
                    <a role="button" class="btn btn-link collapsed" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                        <strong>Rencana Produksi Uap, Listrik, dan Pendapatan Unit 4 - 60 MW</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse-4" class="panel-collapse collapse" aria-labelledby="heading-4" aria-expanded="false">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">PEMAKAIAN UAP</th>
                                <th colspan="12">PRODUKSI LISTRIK / PENDAPATAN</th>
                            </tr>
                            <tr>
                                <th>BULAN</th>
                                <th>HARI</th>
                                <th>RENCANA</th>
                                <th colspan="2">REALISASI</th>
                                <th colspan="6">RENCANA</th>
                                <th colspan="6">REALISASI</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>OPS</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th>Harga Jual</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>

                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th>Harga Jual</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>(Ton)</th>
                                <th>(Ton)</th>
                                <th>Kumulatif</th>
                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>(Rp/Kwh)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>

                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>(Rp/Kwh)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Januari</td>
                            <td>31</td>
                            <td>322,941</td>
                            <td>305,816</td>
                            <td>305,816</td>
                            <td>44,667</td>
                            <td>44,667</td>
                            <td>630.00</td>
                            <td>2.68</td>
                            <td>28.14</td>
                            <td>28.14</td>
                            <td>42,704</td>
                            <td>42,704</td>
                            <td></td>
                            <td>2.99</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Februari</td>
                            <td>28</td>
                            <td>291,689</td>
                            <td></td>
                            <td></td>
                            <td>40,285</td>
                            <td>84,952</td>
                            <td>630.00</td>
                            <td>2.42</td>
                            <td>25.38</td>
                            <td>53.52</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Maret</td>
                            <td>31</td>
                            <td>322,941</td>
                            <td></td>
                            <td></td>
                            <td>44,667</td>
                            <td>129,619</td>
                            <td>630.00</td>
                            <td>2.68</td>
                            <td>28.14</td>
                            <td>81.66</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td>30</td>
                            <td>312,524</td>
                            <td></td>
                            <td></td>
                            <td>43,206</td>
                            <td>172,825</td>
                            <td>630.00</td>
                            <td>2.59</td>
                            <td>27.22</td>
                            <td>108.88</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mei</td>
                            <td>31</td>
                            <td>322,941</td>
                            <td></td>
                            <td></td>
                            <td>44,667</td>
                            <td>217,492</td>
                            <td>630.00</td>
                            <td>2.68</td>
                            <td>28.14</td>
                            <td>137.02</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juni</td>
                            <td>30</td>
                            <td>312,524</td>
                            <td></td>
                            <td></td>
                            <td>43,206</td>
                            <td>260,699</td>
                            <td>630.00</td>
                            <td>2.59</td>
                            <td>27.22</td>
                            <td>164.24</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juli</td>
                            <td>31</td>
                            <td>322,941</td>
                            <td></td>
                            <td></td>
                            <td>44,667</td>
                            <td>305,3655</td>
                            <td>630.00</td>
                            <td>2.68</td>
                            <td>28.14</td>
                            <td>192.38</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Agustus</td>
                            <td>31</td>
                            <td>322,941</td>
                            <td></td>
                            <td></td>
                            <td>44,667</td>
                            <td>350,032</td>
                            <td>630.00</td>
                            <td>2.68</td>
                            <td>28.14</td>
                            <td>220.52</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td>30</td>
                            <td>312,524</td>
                            <td></td>
                            <td></td>
                            <td>43,206</td>
                            <td>393,239</td>
                            <td>630.00</td>
                            <td>2.59</td>
                            <td>27.22</td>
                            <td>247.74</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Oktober</td>
                            <td>31</td>
                            <td>281,271</td>
                            <td></td>
                            <td></td>
                            <td>39,190</td>
                            <td>432,429</td>
                            <td>630.00</td>
                            <td>2.35</td>
                            <td>24.49</td>
                            <td>272.43</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>November</td>
                            <td>30</td>
                            <td>281,271</td>
                            <td></td>
                            <td></td>
                            <td>39,677</td>
                            <td>472,105</td>
                            <td>630.00</td>
                            <td>2.38</td>
                            <td>25.00</td>
                            <td>297.43</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Desember</td>
                            <td>31</td>
                            <td>322,941</td>
                            <td></td>
                            <td></td>
                            <td>44,667</td>
                            <td>516,772</td>
                            <td>630.00</td>
                            <td>2.68</td>
                            <td>28.14</td>
                            <td>325.57</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="sum">Jumlah</td>
                            <td></td>
                            <td class="sum">3,729,450</td>
                            <td class="sum">305,816</td>
                            <td class="sum percent">8.20%</td>
                            <td class="sum">516,772</td>
                            <td></td>
                            <td></td>
                            <td class="sum">31.01</td>
                            <td class="sum">325.57</td>
                            <td></td>
                            <td class="sum">42,704</td>
                            <td class="sum percent">8.26%</td>
                            <td></td>
                            <td class="sum">2.99</td>
                            <td></td>
                            <td class="sum percent">0.00%</td>
                        </tr>
                    </table>
                </div>
            </div>
            @*end of collapse 4*@

            @*collapse 5*@
            <div class="panel-heading" role="tab" id="heading-5">
                <h5 class="panel-title">
                    <a role="button" class="btn btn-link collapsed" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                        <strong>Rencana Produksi Uap, Listrik, dan Pendapatan Kumulatif 1, 2, 3, & - 200 MW</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse-5" class="panel-collapse collapse" aria-labelledby="heading-5" aria-expanded="false">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">PEMAKAIAN UAP</th>
                                <th colspan="10">PRODUKSI LISTRIK / PENDAPATAN</th>
                            </tr>
                            <tr>
                                <th>BULAN</th>
                                <th>RENCANA</th>
                                <th colspan="2">REALISASI</th>
                                <th colspan="5">RENCANA</th>
                                <th colspan="5">REALISASI</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>

                                <th>Pemb.</th>
                                <th>Kum. Pemb.</th>
                                <th colspan="2">Pendapatan</th>
                                <th>Kumulatif</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>(Ton)</th>
                                <th>(Ton)</th>
                                <th>Kumulatif</th>
                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>

                                <th>(MWH)</th>
                                <th>(MWH)</th>
                                <th>Juta US $</th>
                                <th>Eq Rp(Milyar)</th>
                                <th>Rp(Milyar)</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Januari</td>
                            <td>1,087,345</td>
                            <td>798,483</td>
                            <td>798,483</td>
                            <td>143,619</td>
                            <td>143,619</td>
                            <td>8.62</td>
                            <td>90.48</td>
                            <td>90.48</td>
                            <td>105,835</td>
                            <td>105,835</td>
                            <td>6.78</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Februari</td>
                            <td>982,118</td>
                            <td></td>
                            <td></td>
                            <td>129,661</td>
                            <td>273,280</td>
                            <td>7.78</td>
                            <td>81.69</td>
                            <td>172.17</td>
                            <td></td>
                            <td></td>
                            <td>7.45</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Maret</td>
                            <td>1,087,345</td>
                            <td></td>
                            <td></td>
                            <td>143,619</td>
                            <td>416,899</td>
                            <td>8.62</td>
                            <td>90.48</td>
                            <td>262.65</td>
                            <td></td>
                            <td></td>
                            <td>8.22</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>April</td>
                            <td>1,052,270</td>
                            <td></td>
                            <td></td>
                            <td>138,966</td>
                            <td>555,865</td>
                            <td>8.34</td>
                            <td>87.55</td>
                            <td>350.20</td>
                            <td></td>
                            <td></td>
                            <td>7.46</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mei</td>
                            <td>1,087,345</td>
                            <td></td>
                            <td></td>
                            <td>143,619</td>
                            <td>699,484</td>
                            <td>8.62</td>
                            <td>90.48</td>
                            <td>440.68</td>
                            <td></td>
                            <td></td>
                            <td>9.32</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juni</td>
                            <td>909,314</td>
                            <td></td>
                            <td></td>
                            <td>120,156</td>
                            <td>819,641</td>
                            <td>7.21</td>
                            <td>75.70</td>
                            <td>516.37</td>
                            <td>9.18</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Juli</td>
                            <td>1,087,345</td>
                            <td></td>
                            <td></td>
                            <td>143,619</td>
                            <td>963,259</td>
                            <td>8.62</td>
                            <td>90.48</td>
                            <td>606.85</td>
                            <td>9.40</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Agustus</td>
                            <td>1,087,345</td>
                            <td></td>
                            <td></td>
                            <td>143,619</td>
                            <td>1,106,878</td>
                            <td>8.62</td>
                            <td>90.48</td>
                            <td>697.33</td>
                            <td>9.24</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>September</td>
                            <td>825,353</td>
                            <td></td>
                            <td></td>
                            <td>109,896</td>
                            <td>1,216,775</td>
                            <td>6.59</td>
                            <td>69.23</td>
                            <td>766.57</td>
                            <td>9.16</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Oktober</td>
                            <td>1,045,676</td>
                            <td></td>
                            <td></td>
                            <td>138,142</td>
                            <td>1,354,917</td>
                            <td>8.29</td>
                            <td>87.03</td>
                            <td>853.60</td>
                            <td>9.39</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>November</td>
                            <td>1,021,017</td>
                            <td></td>
                            <td></td>
                            <td>135,437</td>
                            <td>1,490,353</td>
                            <td>8.13</td>
                            <td>85.33</td>
                            <td>938.92</td>
                            <td>9.04</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Desember</td>
                            <td>1,087,345</td>
                            <td></td>
                            <td></td>
                            <td>143,619</td>
                            <td>1,633,972</td>
                            <td>8.62</td>
                            <td>90.48</td>
                            <td>1,029.40</td>
                            <td>8.71</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="sum">Jumlah</td>
                            <td class="sum">12,359,820</td>
                            <td class="sum">798,483</td>
                            <td class="sum percent">6.46%</td>
                            <td class="sum">1,633,972</td>
                            <td></td>
                            <td class="sum">98.04</td>
                            <td class="sum">1,029.40</td>
                            <td></td>
                            <td class="sum">105,835</td>
                            <td class="sum percent">6.48%</td>
                            <td class="sum">103.34</td>
                            <td></td>
                            <td class="sum percent">0.00%</td>
                        </tr>
                    </table>
                </div>
            </div>
            @*end of collapse 5*@
        </div>
    </div>
</div>

@section styles{
    <style>
        th {
            font-weight: bold;
            text-align: center;
            font-size: 10px;
        }

        td {
            font-size: 9.5px;
            text-align: center;
        }

        .percent {
            background-color: yellow;
        }

        .sum {
            font-weight: bold;
            text-align: center;
        }
    </style>
}