﻿
@{
    ViewBag.Title = "Daily Monthly Report";
    DateTime now = DateTime.Now.Date;
}

<div class="ibox">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">Parameter</h5>
        </div>
        <div class="panel-body">
            <div class="form-group row">
                <label for="reportTypeOption" class="col-xs-2 col-form-label">Report Type</label>
                <div class="col-xs-pull-1 col-xs-4">
                    <select id="type" class="form-control">
                        <option value="">Select Report Type</option>
                        <option value="Daily" selected>Daily</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="area" class="col-xs-2 col-form-label">Area</label>
                <div class="col-xs-pull-1 col-xs-4">
                    <select id="areaOption" class="form-control">
                        <option value="">Select Area</option>
                        <option value="Kamojang" selected>Kamojang</option>
                        <option value="Lahendong">Lahendong</option>
                        <option value="Ulubelu">Ulubelu</option>
                        <option value="Karaha">Karaha</option>
                        <option value="Sibayak">Sibayak</option>
                    </select>
                </div>
            </div>

            <div class="form-group row monthly">
                <label class="col-xs-2 col-form-label">Periode</label>
                <div class="col-xs-pull-1 col-xs-2">
                    <select id="month" class="form-control">
                        <option value="Januari">Januari</option>
                        <option value="Februari">Februari</option>
                        <option value="Maret">Maret</option>
                        <option value="April">April</option>
                        <option value="Mei">Mei</option>
                        <option value="Juni">Juni</option>
                        <option value="Juli" selected>Juli</option>
                        <option value="Agustus">Agustus</option>
                        <option value="September">September</option>
                        <option value="Oktober">Oktober</option>
                        <option value="November">November</option>
                        <option value="Desember">Desember</option>
                    </select>
                </div>
                <div class="col-xs-pull-1 col-xs-2">
                    <select id="year" class="form-control">
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018" selected>2018</option>
                    </select>
                </div>
            </div>
            <div class="form-group row daily">
                <label class="col-xs-2 col-form-label">Periode</label>
                <div class="col-xs-pull-1 col-xs-6">
                    @Html.TextBox("date", now.ToString(DisplayFormat.ShortDateFormat), new { @class = "form-control-datepicker"})
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-offset-1 col-xs-4">
                    <button type="button" id="btn-search" class="btn btn-warning">Cari</button>
                </div>
            </div>
        </div>
    </div>        
</div>
<div id="container">
    
</div>

@section scripts{
    <script type="text/javascript">
        var type, area, month, year, url;
        $(function () {
            initElement();
        });

        function initReport() {
            type = $("#type").val();
            area = $("#area").val();
            month = $("#month").val();
            year = $("#year").val();
            var $daily = $(".daily"),
                $monthly = $(".monthly");

            if (type === "Daily") {
                url = "@Url.Action("Daily", "ReportM", new { area=""})";
                $daily.show();
                $monthly.hide();
            }
            else if (type === "Monthly") {
                url = "@Url.Action("Monthly","ReportM", new { area=""})";
                $daily.hide();
                $monthly.show();
            } else {
                $daily.hide();
                $monthly.hide();
            }

            $.ajax({
                url: url,
                type: "POST",
                success: function (data) {
                    $("#container").html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("Server Error. Harap hubungi administrator");
                }
            });
        }
        function initElement() {
            initReport();

            $("#btn-search").click(function () {
               initReport();
            });
        }

        //function reportTypeOnChange() {
        //    if ($reportType.val() === "Daily") {
        //        $daily.show();
        //        $monthly.hide();
        //    } else if ($reportType.val() === "Monthly") {
        //        $daily.hide();
        //        $monthly.show();
        //    } else {
        //        $daily.hide();
        //        $monthly.hide();
        //    }
        //}
    </script>
}


@section styles{
    <style>
        th {
            font-weight: bold;
            text-align: center;
            font-size: 10px;
        }

        td {
            font-size: 9.5px;
            text-align: center;
        }

        .percent {
            background-color: yellow;
        }

        .sum {
            font-weight: bold;
            text-align: center;
        }
    </style>
}