﻿
@{
    ViewBag.Title = "Geoscience Report";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Parameter</h5>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label for="type" class="col-xs-2">Report Type</label>
                    <div class="col-xs-pull-1 col-xs-5">
                        <select id="type" class="form-control">
                            <option value="">Select Area</option>
                            <option value="PT MD" selected>PT MD</option>
                            <option value="PT TVD">PT TVD</option>
                            <option value="PT Elevation">PT Elevation</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="area" class="col-xs-2">Area</label>
                    <div class="col-xs-pull-1 col-xs-5">
                        <select id="area" class="form-control">
                            <option value="">Select Area</option>
                            <option value="KMJ" selected>Kamojang</option>
                            <option value="LHD">Lahendong</option>
                            <option value="UBL">Ulubelu</option>
                            <option value="KRH">Karaha</option>
                            <option value="SBY">Sibayak</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row" id="dailyType">
                    <label class="col-xs-2">Periode</label>
                    <div class="col-xs-pull-1 col-xs-2">
                        <input id="start" style="width:100%" />
                    </div>
                    <div class="col-xs-pull-1 col-xs-1 text-center">
                        <label class="text-center">s.d.</label>
                    </div>
                    <div class="col-xs-pull-1 col-xs-2">
                        <input id="finish" style="width:100%" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-offset-1 col-xs-4">
                        <button type="button" id="btn-search" class="btn btn-warning">Cari</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title" id="panel-chart-title"></h5>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <center>
                        <h3>
                            <strong id="chart-title" style="color:black"></strong>
                        </h3>
                        <img id="chart-img" />
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var start, finish, area, type;
        $(function () {
            initElement();
        });

        function initElement() {
            $("#start").kendoDatePicker({
                value: new Date()
            });
            $("#finish").kendoDatePicker({
                value: $("#start").val()
            });

            initReport();

            $("#btn-search").click(function () {
                initReport();
            });
        }

        function initReport() {
            type = $("#type").val();
            area = $("#area").val();
            start = $("#start").val();
            finish = $("#finish").val();

            $("#chart-title").html("PRESSURE & TEMPERATURE " + area);
            $("#panel-chart-title").html("Grafik " + type);

            if (type == "PT MD")
                $("#chart-img").attr("src", "@Url.Content("~/Images/report/md.png")");
            else if (type == "PT TVD")
                $("#chart-img").attr("src", "@Url.Content("~/Images/report/tvd.png")");
            else if (type == "PT Elevation")
                $("#chart-img").attr("src", "@Url.Content("~/Images/report/elevation.png")");
        }
    </script>
}
