﻿@{
    ViewBag.Title = "Management Report";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Parameter</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Area</label>
                    </div>
                    <div class="col-lg-2">
                        <input id="area">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">           
            <div class="panel-body">
                
                    <h5>Keterangan</h5>
                    <div class="row m-b-md">
                        <div class="col-xs-6">
                            <div class="col-xs-12">
                                <div class="rectangle col-xs-1" style="background-color:green;height:20px;"></div>
                                <div class="col-xs-6">Realisasi >= target</div>
                            </div>
                            <div class="col-xs-12">
                                <div class="rectangle col-xs-1" style="background-color:yellow;height:20px;"></div>
                                <div class="col-xs-6">Realisasi antara 95%  - 99.99%</div>
                            </div>
                            <div class="col-xs-12">
                                <div class="rectangle col-xs-1" style="background-color:red;height:20px;"></div>
                                <div class="col-xs-6">Realisasi < 95% target</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-12">
                                <div class="rectangle col-xs-1" style="background-color:green;height:20px;"></div>
                                <div class="col-xs-6">CF > 90%</div>
                            </div>
                            <div class="col-xs-12">
                                <div class="rectangle col-xs-1" style="background-color:yellow;height:20px;"></div>
                                <div class="col-xs-6">CF antara 80% - 90%</div>
                            </div>
                            <div class="col-xs-12">
                                <div class="rectangle col-xs-1" style="background-color:red;height:20px;"></div>
                                <div class="col-xs-6">CF < 80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="gridManagementReport"></div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var grid = null;
        $(function () {
            initElement();
        });

        function initElement() {
            var data = [
                { text: "All", value: "1" },
                { text: "Kamojang", value: "2" },
                { text: "Lahendong", value: "3" },
                { text: "Ulubelu", value: "3" },
                { text: "Karaha", value: "4" },
                { text: "Sibayak", value: "5" }
            ];

            $("#area").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: data,
                change: function (e) {
                    if (grid !== null) {
                        if (this.text() === "All") {
                            grid.dataSource.filter({});
                            grid.dataSource.read();
                        } else {
                            grid.dataSource.filter({ field: "Area", operator: "eq", value: this.text() });
                            grid.dataSource.read();
                        }
                    }
                }
            }).data("kendoDropDownList");

            var data = [
                {
                    "id": 1,
                    "Area": "Kamojang",
                    "PLTP": "KMJ-1",
                    "Kapasitas": 30,
                    "TargetBulananPemanfaatanUap": 155520,
                    "TargetHarianPemanfaatanUap": 5184,
                    "RealisasiPemanfaatanUap": 5938.208,
                    "TargetBulananPemanfaatanListrik": 19440,
                    "TargetHarianPemanfaatanListrik": 648,
                    "RealisasiPemanfaatanListrik": 742.276,
                    "Keterangan": "Operasi Normal",
                    "Pencapaian": 114.5,
                    "CapacityFactor": 103.1,
                    "Avg": 30.9
                },
                {
                    "id": 2,
                    "Area": "Kamojang",
                    "PLTP": "KMJ-2",
                    "Kapasitas": 55,
                    "TargetBulananPemanfaatanUap": 274428,
                    "TargetHarianPemanfaatanUap": 9147.6,
                    "RealisasiPemanfaatanUap": 7070.6944,
                    "TargetBulananPemanfaatanListrik": 35.640,
                    "TargetHarianPemanfaatanListrik": 1188,
                    "RealisasiPemanfaatanListrik": 918.272,
                    "Keterangan": "Eksternal : Pengaturan beban oleh PLN",
                    "Pencapaian": 77.3,
                    "CapacityFactor": 69.6,
                    "Avg": 38.3
                },
                {
                    "id": 3,
                    "Area": "Kamojang",
                    "PLTP": "KMJ-3",
                    "Kapasitas": 55,
                    "TargetBulananPemanfaatanUap": 274428,
                    "TargetHarianPemanfaatanUap": 9147.6,
                    "RealisasiPemanfaatanUap": 9576.8208,
                    "TargetBulananPemanfaatanListrik": 35640,
                    "TargetHarianPemanfaatanListrik": 1188,
                    "RealisasiPemanfaatanListrik": 1260.108,
                    "Keterangan": "Operasi Normal",
                    "Pencapaian": 106.1,
                    "CapacityFactor": 95.5,
                    "Avg": 52.5
                },
                {
                    "id": 4,
                    "Area": "Kamojang",
                    "PLTP": "KMJ-4",
                    "Kapasitas": 60,
                    "TargetBulananPemanfaatanUap": 281102.4,
                    "TargetHarianPemanfaatanUap": 9370.08,
                    "RealisasiPemanfaatanUap": 9812.28080536913,
                    "TargetBulananPemanfaatanListrik": 38880,
                    "TargetHarianPemanfaatanListrik": 1296,
                    "RealisasiPemanfaatanListrik": 1305.519642581,
                    "Keterangan": "Eksternal : Pengaturan beban oleh PLN",
                    "Pencapaian": 100.7,
                    "CapacityFactor": 90.7,
                    "Avg": 54.4
                },
                {
                    "id": 5,
                    "Area": "Kamojang",
                    "PLTP": "KMJ-5",
                    "Kapasitas": 33,
                    "TargetBulananPemanfaatanUap": 171072,
                    "TargetHarianPemanfaatanUap": 5702.4,
                    "RealisasiPemanfaatanUap": 5560.4,
                    "TargetBulananPemanfaatanListrik": 21384,
                    "TargetHarianPemanfaatanListrik": 712.8,
                    "RealisasiPemanfaatanListrik": 703.219174806,
                    "Keterangan": "Eksternal : Pengaturan beban oleh PLN",
                    "Pencapaian": 98.7,
                    "CapacityFactor": 88.8,
                    "Avg": 29.3
                },
                {
                    "id": 6,
                    "Area": "Lahendong",
                    "PLTP": "LHD-1",
                    "Kapasitas": 20,
                    "TargetBulananPemanfaatanUap": 78840,
                    "TargetHarianPemanfaatanUap": 2628,
                    "RealisasiPemanfaatanUap": 2716.33351307935,
                    "TargetBulananPemanfaatanListrik": 10800,
                    "TargetHarianPemanfaatanListrik": 360,
                    "RealisasiPemanfaatanListrik": 367.688,
                    "Keterangan": "'GPP : Derating akibat Sistem kontrol T/G dioperasikan secara manual",
                    "Pencapaian": 102.1,
                    "CapacityFactor": 76.6,
                    "Avg": 15.3
                },
				{
					"id" : 7,
					"Area" : "Lahendong",
					"PLTP": "LHD-2",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 89352,
					"TargetHarianPemanfaatanUap": 2978.4,
					"RealisasiPemanfaatanUap": 2822.36611071319,
					"TargetBulananPemanfaatanListrik": 12240,
					"TargetHarianPemanfaatanListrik": 408,
					"RealisasiPemanfaatanListrik": 376.376,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN",
					"Pencapaian": 92.2,
                    "CapacityFactor": 78.4,
                    "Avg": 15.7
				},
				{
					"id" : 8,
					"Area" : "Lahendong",
					"PLTP": "LHD-3",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 89352,
					"TargetHarianPemanfaatanUap": 2978.4,
					"RealisasiPemanfaatanUap": 3052.90819541916,
					"TargetBulananPemanfaatanListrik": 12240,
					"TargetHarianPemanfaatanListrik": 408,
					"RealisasiPemanfaatanListrik": 376.376,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN",
					"Pencapaian": 89.0,
                    "CapacityFactor": 75.7,
                    "Avg": 15.1
				},
				{
					"id" : 9,
					"Area" : "Lahendong",
					"PLTP": "LHD-4",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 94608,
					"TargetHarianPemanfaatanUap": 3153.6,
					"RealisasiPemanfaatanUap": "-",
					"TargetBulananPemanfaatanListrik": 12960,
					"TargetHarianPemanfaatanListrik": 432,
					"RealisasiPemanfaatanListrik": "-",
					"Keterangan": "GPP :Kerusakan turbin dan tidak beroperasi sejak tgl 11 Oktober 2017",
					"Pencapaian": 0.0,
                    "CapacityFactor": 0.0,
                    "Avg": 0.0
				},
				{
					"id" : 10,
					"Area" : "Lahendong",
					"PLTP": "LHD-5",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 94608,
					"TargetHarianPemanfaatanUap": 3153.6,
					"RealisasiPemanfaatanUap": 2788.02805602217,
					"TargetBulananPemanfaatanListrik": 12960,
					"TargetHarianPemanfaatanListrik": 432,
					"RealisasiPemanfaatanListrik": 402.99472,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN",
					"Pencapaian": 93.3,
                    "CapacityFactor": 84.0,
                    "Avg": 16.8
				},
				{
					"id" : 11,
					"Area" : "Lahendong",
					"PLTP": "LHD-6",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 94608,
					"TargetHarianPemanfaatanUap": 3153.6,
					"RealisasiPemanfaatanUap": 3203.46005814515,
					"TargetBulananPemanfaatanListrik": 12960,
					"TargetHarianPemanfaatanListrik": 432,
					"RealisasiPemanfaatanListrik": 465.245721,
					"Keterangan": "Operasi Normal",
					"Pencapaian": 107.7,
                    "CapacityFactor": 19.4,
                    "Avg": 96.9
				},
				{
					"id" : 12,
					"Area" : "Sibayak",
					"PLTP": "SBY-1",
					"Kapasitas": 5,
					"TargetBulananPemanfaatanUap": "-",
					"TargetHarianPemanfaatanUap": "-",
					"RealisasiPemanfaatanUap": "-",
					"TargetBulananPemanfaatanListrik": "-",
					"TargetHarianPemanfaatanListrik": "-",
					"RealisasiPemanfaatanListrik": "-",
					"Keterangan": "GPP-Dizamatra, tidak beroperasi akibat kerusakan peralatan pembangkit",
					"Pencapaian": "-",
                    "CapacityFactor": "-",
                    "Avg": "-"
				},
				{
					"id" : 13,
					"Area" : "Sibayak",
					"PLTP": "SBY-2",
					"Kapasitas": 5,
					"TargetBulananPemanfaatanUap": "-",
					"TargetHarianPemanfaatanUap": "-",
					"RealisasiPemanfaatanUap": "-",
					"TargetBulananPemanfaatanListrik": "-",
					"TargetHarianPemanfaatanListrik": "-",
					"RealisasiPemanfaatanListrik": "-",
					"Keterangan": "GPP-Dizamatra, tidak beroperasi akibat kerusakan peralatan pembangkit",
					"Pencapaian": "-",
                    "CapacityFactor": "-",
                    "Avg": "-"
				},
				{
					"id" : 14,
					"Area" : "Ulubelu",
					"PLTP": "UBL-1",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 242352,
					"TargetHarianPemanfaatanUap": 8078.4,
					"RealisasiPemanfaatanUap": 7486.08,
					"TargetBulananPemanfaatanListrik": 33660,
					"TargetHarianPemanfaatanListrik": 1122,
					"RealisasiPemanfaatanListrik": 1177.85,
					"Keterangan": "'FCRS : Derating akibat kekurangan suplai uap",
					"Pencapaian": 105.0,
                    "CapacityFactor": 89.2,
                    "Avg": 49.1
				},
				{
					"id" : 15,
					"Area" : "Ulubelu",
					"PLTP": "UBL-2",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 242352,
					"TargetHarianPemanfaatanUap": 8078.4,
					"RealisasiPemanfaatanUap": 8361.66,
					"TargetBulananPemanfaatanListrik": 33660,
					"TargetHarianPemanfaatanListrik": 1122,
					"RealisasiPemanfaatanListrik": 1177.85,
					"Keterangan": "'FCRS : Derating akibat kekurangan suplai uap",
					"Pencapaian": 105.0,
                    "CapacityFactor": 89.2,
                    "Avg": 49.1
				},
				{
					"id" : 16,
					"Area" : "Ulubelu",
					"PLTP": "UBL-3",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 227063.088,
					"TargetHarianPemanfaatanUap": 7568.76959999999,
					"RealisasiPemanfaatanUap": 7096.35,
					"TargetBulananPemanfaatanListrik": 32437.584,
					"TargetHarianPemanfaatanListrik": 1081.2528,
					"RealisasiPemanfaatanListrik": 1005.79667,
					"Keterangan": "'FCRS : Derating akibat kekurangan suplai uap",
					"Pencapaian": 93.02,
                    "CapacityFactor": 76.2,
                    "Avg": 41.9
				},
				{
					"id" : 17,
					"Area" : "Ulubelu",
					"PLTP": "UBL-4",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 185086.944,
					"TargetHarianPemanfaatanUap": 6169.5648,
					"RealisasiPemanfaatanUap": 6654,
					"TargetBulananPemanfaatanListrik": 26440.992,
					"TargetHarianPemanfaatanListrik": 881.3664,
					"RealisasiPemanfaatanListrik": 894.16345,
					"Keterangan": "'FCRS : Derating akibat kekurangan suplai uap",
					"Pencapaian": 101.5,
                    "CapacityFactor": 67.7,
                    "Avg": 37.3
				},
				{
					"id" : 18,
					"Area" : "Karaha",
					"PLTP": "KRH-1",
					"Kapasitas": 30,
					"TargetBulananPemanfaatanUap": 155520,
					"TargetHarianPemanfaatanUap": 5184,
					"RealisasiPemanfaatanUap": 5154.99,
					"TargetBulananPemanfaatanListrik": 19440,
					"TargetHarianPemanfaatanListrik": 648,
					"RealisasiPemanfaatanListrik": 695.7616,
					"Keterangan": "'Operasi normal",
					"Pencapaian": 107.4,
                    "CapacityFactor": 96.6,
                    "Avg": 29.0
				},
            ];

            var dataSource = new kendo.data.DataSource({
                data: data,
                aggregate: [
                    { field: "Kapasitas", aggregate: "sum" },
                    { field: "TargetBulananPemanfaatanUap", aggregate: "sum" },
                    { field: "TargetHarianPemanfaatanUap", aggregate: "sum" },
                    { field: "RealisasiPemanfaatanUap", aggregate: "sum" },
                    { field: "TargetBulananPemanfaatanListrik", aggregate: "sum" },
                    { field: "TargetHarianPemanfaatanListrik", aggregate: "sum" },
                    { field: "RealisasiPemanfaatanListrik", aggregate: "sum" },
                    { field: "Pencapaian", aggregate: "average" },
                    { field: "Pencapaian", aggregate: "sum" },
                    { field: "Pencapaian", aggregate: "count" },
                    { field: "Avg", aggregate: "sum" },
                    { field: "CapacityFactor", aggregate: "average" },
                    { field: "CapacityFactor", aggregate: "sum" },
                    { field: "CapacityFactor", aggregate: "count" },
                ]
            });

            grid = $("#gridManagementReport").kendoGrid({
                scrollable: true,
                dataSource: dataSource,
                pageable: false,
                columns: [
                    {
                        field: "PLTP",
                        title: "PLTP",
                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                        template: function (e) {
                            return "<p class='text-center'>" + kendo.toString(e.PLTP) + "</p>";
                        },
                        footerTemplate: function (e) {
                            return "<p class='text-right'>Total / AVG</p>";
                        }
                    },
                    {
                        title: "Kapasitas",
                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                        columns: [
                            {
                                field: "Kapasitas",
                                headerAttributes: { "style": "text-align:center;" },
                                attributes: { "class": "text-right" },
                                title: "MW",
                                template: function (e) {
                                    return "<p class='text-right'>" + kendo.toString(e.Kapasitas, "n0") + "</p>";
                                },
                                aggregates: ["sum"],
                                footerTemplate: function (e) {
                                    return "<p class='text-right'>" + kendo.toString(e.Kapasitas.sum, "n0") + "</p>";
                                }
                            }
                        ]
                    },
                    {
                        title: "Pemanfaatan Uap",
                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                        columns: [
                            {
                                title: "Target Bulanan",
                                headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                columns: [
                                    {
                                        field: "TargetBulananPemanfaatanUap",
                                        title: "Ton",
                                        attributes: { "class": "text-right" },
                                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                        format: "{0:N0}",
                                        template: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.TargetBulananPemanfaatanUap, "n0") + "</p>";
                                        },
                                        aggregates: ["sum"],
                                        footerTemplate: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.TargetBulananPemanfaatanUap.sum, "n0") + "</p>";
                                        }
                                    }
                                ]
                            },
                            {
                                title: "Target Harian",
                                headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                columns: [
                                    {
                                        field: "TargetHarianPemanfaatanUap",
                                        title: "Ton",
                                        attributes: { "class": "text-right" },
                                        headerAttributes: { "style": "text-align:center;" },
                                        format: "{0:N0}",
                                        template: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.TargetHarianPemanfaatanUap, "n0") + "</p>";
                                        },
                                        aggregates: ["sum"],
                                        footerTemplate: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.TargetHarianPemanfaatanUap.sum, "n0") + "</p>";
                                        }
                                    }
                                ]
                            },
                            {
                                title: "Realisasi",
                                headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                columns: [
                                    {
                                        field: "RealisasiPemanfaatanUap",
                                        headerAttributes: { "style": "text-align:center;" },
                                        attributes: { "class": "text-right" },
                                        title: "Ton",
                                        format: "{0:N0}",
                                        template: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.RealisasiPemanfaatanUap, "n0") + "</p>";
                                        },
                                        aggregates: ["sum"],
                                        footerTemplate: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.RealisasiPemanfaatanUap.sum, "n0") + "</p>";
                                        }
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        title: "Pemanfaatan Listrik",
                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                        columns: [
                            {
                                title: "Target Bulanan",
                                headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                columns: [
                                    {
                                        field: "TargetBulananPemanfaatanListrik",
                                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                        attributes: { "class": "text-right" },
                                        title: "MWh",
                                        format: "{0:N0}",
                                        template: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.TargetBulananPemanfaatanListrik, "n0") + "</p>";
                                        },
                                        aggregates: ["sum"],
                                        footerTemplate: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.TargetBulananPemanfaatanListrik.sum, "n0") + "</p>";
                                        }
                                    }
                                ]
                            },
                            {
                                title: "Target Harian",
                                headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                columns: [
                                    {
                                        field: "TargetHarianPemanfaatanListrik",
                                        headerAttributes: { "style": "text-align:center;" },
                                        attributes: { "class": "text-right" },
                                        title: "MWh",
                                        format: "{0:N0}",
                                        template: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.TargetHarianPemanfaatanListrik, "n0") + "</p>";
                                        },
                                        aggregates: ["sum"],
                                        footerTemplate: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.TargetHarianPemanfaatanListrik.sum, "n0") + "</p>";
                                        }
                                    }
                                ]
                            },
                            {
                                title: "Realisasi",
                                headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                columns: [
                                    {
                                        field: "RealisasiPemanfaatanListrik",
                                        headerAttributes: { "style": "text-align:center;" },
                                        attributes: { "class": "text-right" },
                                        title: "MWh",
                                        format: "{0:N0}",
                                        template: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.RealisasiPemanfaatanListrik, "n0") + "</p>";
                                        },
                                        aggregates: ["sum"],
                                        footerTemplate: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.RealisasiPemanfaatanListrik.sum, "n0") + "</p>";
                                        }
                                    }
                                ]
                            },
                            {
                                title: "Pencapaian",
                                headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                                columns: [
                                    {
                                        headerAttributes: { "style": "text-align:center;" },
                                        title: "%",
                                        field: "Pencapaian",
                                        template: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.Pencapaian, "n1") + "</p>";
                                        },
                                        aggregates: ["count"],
                                        footerTemplate: function (e) {
                                            return "<p class='text-right'>" + kendo.toString(e.Pencapaian.average, "n1") + "</p>";
                                        }
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        title: "Rata-rata Pembangkitan",
                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                        columns: [
                            {
                                headerAttributes: { "style": "text-align:center;width:90px;" },
                                title: "MW",
                                field: "Avg",
                                template: function (e) {
                                    return "<p class='text-right'>" + kendo.toString(e.Avg, "n1") + "</p>";
                                },
                                format: "{0:N0}",
                                aggregates: ["sum"],
                                footerTemplate: function (e) {
                                    return "<p class='text-right'>" + kendo.toString(e.Avg.sum, "n1") + "</p>";
                                },
                                width: "110px"
                            }
                        ]
                    },
                    {
                        title: "Capacity Factor",
                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                        columns: [
                            {
                                field: "CapacityFactor",
                                headerAttributes: { "style": "text-align:center;" },
                                title: "%",
                                template: function (e) {
                                    return "<p class='text-right'>" + kendo.toString(e.CapacityFactor, "n1") + "</p>";
                                },
                                format: "{0:N0}",
                                aggregates: ["average"],
                                footerTemplate: function (e) {
                                    return "<p class='text-right' >" + kendo.toString(e.CapacityFactor.average, "n1") + "</p>";
                                }
                            }
                        ]
                    },
                    {
                        title: "Keterangan",
                        headerAttributes: { "style": "text-align:center;overflow:visible !important;height:auto;white-space:normal;" },
                        columns: [
                            {
                                field: "Keterangan",
                                headerAttributes: { "style": "text-align:center;" },
                                title: "Operasi Normal / Gangguan / Derating",
                                format: "{0:N0}"
                            },
                        ]
                    }
                ],
                dataBound: function (e) {

                    // iterate the table rows and apply custom row and cell styling
                    var rows = e.sender.tbody.children();
                    var total = 0, totalCf = 0, avg = 0, avgCf = 0;
                    console.log(e);
                    console.log(rows)
                    for (var j = 0; j < rows.length; j++) {
                        var row = $(rows[j]);
                        var dataItem = e.sender.dataItem(row);

                        var pencapaian = dataItem.get("Pencapaian");
                        var cf = dataItem.get("CapacityFactor");

                        var cell = row.children().eq(8);
                        cell.attr("style", "background-color:" + getStatus(pencapaian));

                        cell = row.children().eq(10);
                        cell.attr("style", "background-color:" + getStatusCF(cf));

                        total += pencapaian;
                        totalCf += cf;
                    }
                    avg = total / rows.length;
                    avgCf = totalCf / rows.length;

                    cell = e.sender.footer.find("td");
                    cell = cell[8];
                    $(cell).attr("style", "background-color:" + getStatus(avg));

                    cell = e.sender.footer.find("td");
                    cell = cell[10];
                    $(cell).attr("style", "background-color:" + getStatusCF(avgCf));
                }
            }).data("kendoGrid");
        }

        function getStatus(data) {
            if (data >= 100) {
                return "green";
            } else if (data > 95 && data <= 99.99) {
                return "yellow";
            } else if (data < 95) {
                return "red";
            }
        }

        function getStatusCF(data) {
            if (data > 90) {
                return "green";
            } else if (data >= 80 && data <= 90) {
                return "yellow";
            } else if (data < 80) {
                return "red";
            }
        }
    </script>
}
