﻿@{
    ViewBag.Title = "Management Report";
}

<div class="wrapper wrapper-content">
	<div class="ibox m-b">
		<div class="ibox-title">
			Area: <input id="area">
		</div>
		<div class="ibox-content">
			<h5>Keterangan</h5>
			<div class="row m-b">
				<div class="col-xs-5">
					<div class="col-xs-12">
						<div class="rectangle col-xs-1" style="background-color:green;height:10px;"></div>
						<div class="col-xs-11">Realisasi >= target</div>
					</div>
					<div class="col-xs-12">
						<div class="rectangle col-xs-1" style="background-color:yellow;height:10px;"></div>
						<div class="col-xs-11">Realisasi antara 95%-99.99%</div>
					</div>
					<div class="col-xs-12">
						<div class="rectangle col-xs-1" style="background-color:red;height:10px;"></div>
						<div class="col-xs-11">Realisasi < 95% target</div>
					</div>
				</div>
				<div class="col-xs-5">
					<div class="col-xs-12">
						<div class="rectangle col-xs-1" style="background-color:green;height:10px;"></div>
						<div class="col-xs-11">CF > 90%</div>
					</div>
					<div class="col-xs-12">
						<div class="rectangle col-xs-1" style="background-color:yellow;height:10px;"></div>
						<div class="col-xs-11">CF antara 80% - 90%</div>
					</div>
					<div class="col-xs-12">
						<div class="rectangle col-xs-1" style="background-color:red;height:10px;"></div>
						<div class="col-xs-11">CF < 80%</div>
					</div>
				</div>
			</div>
			<div class="row">		
				<div class="col-xs-12">
					<div id="gridManagementReport"></div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var grid = null;
		$(function () {
			initElement();
		});

		function initElement(){
			var data = [
                { text: "All", value: "1" },
                { text: "Kamojang", value: "2" },
                { text: "Lahendong", value: "3" },
				{ text: "Ulubelu", value: "3" },
				{ text: "Karaha", value: "4" },
				{ text: "Sibayak", value: "5" }
            ];
			
			var areaDropdown = $("#area").kendoDropDownList({
				dataTextField: "text",
                dataValueField: "value",
                dataSource: data,
				change: function(e){
					if(grid !== null){
						if(this.text() === "All"){
							grid.dataSource.filter({});
							grid.dataSource.read();
							setSumAVG();
							setColor();
							setFormat();
						}else{
							grid.dataSource.filter( { field: "Area", operator: "eq", value: this.text() });
							grid.dataSource.read();
							setSumAVG();
							setColor();
							setFormat();
						}
					}
				}
			}).data("kendoDropDownList");

			var data = [
                {
					"id" : 1,
					"Area" : "Kamojang",
					"PLTP": "KMJ-1",
					"Kapasitas": 30,
					"TargetBulananPemanfaatanUap": 155520,
					"TargetHarianPemanfaatanUap": 5184,
					"RealisasiPemanfaatanUap": 5938.208,
					"TargetBulananPemanfaatanListrik": 19440,
					"TargetHarianPemanfaatanListrik": 648,
					"RealisasiPemanfaatanListrik": 742.276,
					"Keterangan": "Operasi Normal"
				},
				{
					"id" : 2,
					"Area" : "Kamojang",
					"PLTP": "KMJ-2",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 274428,
					"TargetHarianPemanfaatanUap": 9147.6,
					"RealisasiPemanfaatanUap": 7070.6944,
					"TargetBulananPemanfaatanListrik": 35.640,
					"TargetHarianPemanfaatanListrik": 1188,
					"RealisasiPemanfaatanListrik": 918.272,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN"
				},
				{
					"id" : 3,
					"Area" : "Kamojang",
					"PLTP": "KMJ-3",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 274428,
					"TargetHarianPemanfaatanUap": 9147.6,
					"RealisasiPemanfaatanUap": 9576.8208,
					"TargetBulananPemanfaatanListrik": 35640,
					"TargetHarianPemanfaatanListrik": 1188,
					"RealisasiPemanfaatanListrik": 1260.108,
					"Keterangan": "Operasi Normal"
				},
				{
					"id" : 4,
					"Area" : "Kamojang",
					"PLTP": "KMJ-4",
					"Kapasitas": 60,
					"TargetBulananPemanfaatanUap": 281102.4,
					"TargetHarianPemanfaatanUap": 9370.08,
					"RealisasiPemanfaatanUap": 9812.28080536913,
					"TargetBulananPemanfaatanListrik": 38880,
					"TargetHarianPemanfaatanListrik": 1296,
					"RealisasiPemanfaatanListrik": 1305.519642581,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN"
				},
				{
					"id" : 5,
					"Area" : "Kamojang",
					"PLTP": "KMJ-5",
					"Kapasitas": 33,
					"TargetBulananPemanfaatanUap": 171072,
					"TargetHarianPemanfaatanUap": 5702.4,
					"RealisasiPemanfaatanUap": 5560.4,
					"TargetBulananPemanfaatanListrik": 21384,
					"TargetHarianPemanfaatanListrik": 712.8,
					"RealisasiPemanfaatanListrik": 703.219174806,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN"
				},
				{
					"id" : 6,
					"Area" : "Lahendong",
					"PLTP": "LHD-1",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 78840,
					"TargetHarianPemanfaatanUap": 2628,
					"RealisasiPemanfaatanUap": 2716.33351307935,
					"TargetBulananPemanfaatanListrik": 10800,
					"TargetHarianPemanfaatanListrik": 360,
					"RealisasiPemanfaatanListrik": 367.688,
					"Keterangan": "'GPP : Derating akibat Sistem kontrol T/G dioperasikan secara manual"
				},
				{
					"id" : 7,
					"Area" : "Lahendong",
					"PLTP": "LHD-2",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 89352,
					"TargetHarianPemanfaatanUap": 2978.4,
					"RealisasiPemanfaatanUap": 2822.36611071319,
					"TargetBulananPemanfaatanListrik": 12240,
					"TargetHarianPemanfaatanListrik": 408,
					"RealisasiPemanfaatanListrik": 376.376,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN"
				},
				{
					"id" : 8,
					"Area" : "Lahendong",
					"PLTP": "LHD-3",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 89352,
					"TargetHarianPemanfaatanUap": 2978.4,
					"RealisasiPemanfaatanUap": 3052.90819541916,
					"TargetBulananPemanfaatanListrik": 12240,
					"TargetHarianPemanfaatanListrik": 408,
					"RealisasiPemanfaatanListrik": 376.376,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN"
				},
				{
					"id" : 9,
					"Area" : "Lahendong",
					"PLTP": "LHD-4",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 94608,
					"TargetHarianPemanfaatanUap": 3153.6,
					"RealisasiPemanfaatanUap": "-",
					"TargetBulananPemanfaatanListrik": 12960,
					"TargetHarianPemanfaatanListrik": 432,
					"RealisasiPemanfaatanListrik": "-",
					"Keterangan": "GPP :Kerusakan turbin dan tidak beroperasi sejak tgl 11 Oktober 2017"
				},
				{
					"id" : 10,
					"Area" : "Lahendong",
					"PLTP": "LHD-5",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 94608,
					"TargetHarianPemanfaatanUap": 3153.6,
					"RealisasiPemanfaatanUap": 2788.02805602217,
					"TargetBulananPemanfaatanListrik": 12960,
					"TargetHarianPemanfaatanListrik": 432,
					"RealisasiPemanfaatanListrik": 402.99472,
					"Keterangan": "Eksternal : Pengaturan beban oleh PLN"
				},
				{
					"id" : 11,
					"Area" : "Lahendong",
					"PLTP": "LHD-6",
					"Kapasitas": 20,
					"TargetBulananPemanfaatanUap": 94608,
					"TargetHarianPemanfaatanUap": 3153.6,
					"RealisasiPemanfaatanUap": 3203.46005814515,
					"TargetBulananPemanfaatanListrik": 12960,
					"TargetHarianPemanfaatanListrik": 432,
					"RealisasiPemanfaatanListrik": 465.245721,
					"Keterangan": "Operasi Normal"
				},
				{
					"id" : 12,
					"Area" : "Sibayak",
					"PLTP": "SBY-1",
					"Kapasitas": 5,
					"TargetBulananPemanfaatanUap": "-",
					"TargetHarianPemanfaatanUap": "-",
					"RealisasiPemanfaatanUap": "-",
					"TargetBulananPemanfaatanListrik": "-",
					"TargetHarianPemanfaatanListrik": "-",
					"RealisasiPemanfaatanListrik": "-",
					"Keterangan": "GPP-Dizamatra, tidak beroperasi akibat kerusakan peralatan pembangkit"
				},
				{
					"id" : 13,
					"Area" : "Sibayak",
					"PLTP": "SBY-2",
					"Kapasitas": 5,
					"TargetBulananPemanfaatanUap": "-",
					"TargetHarianPemanfaatanUap": "-",
					"RealisasiPemanfaatanUap": "-",
					"TargetBulananPemanfaatanListrik": "-",
					"TargetHarianPemanfaatanListrik": "-",
					"RealisasiPemanfaatanListrik": "-",
					"Keterangan": "GPP-Dizamatra, tidak beroperasi akibat kerusakan peralatan pembangkit"
				},
				{
					"id" : 14,
					"Area" : "Ulubelu",
					"PLTP": "UBL-1",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 242352,
					"TargetHarianPemanfaatanUap": 8078.4,
					"RealisasiPemanfaatanUap": 7486.08,
					"TargetBulananPemanfaatanListrik": 33660,
					"TargetHarianPemanfaatanListrik": 1122,
					"RealisasiPemanfaatanListrik": 1177.85,
					"Keterangan": "'FCRS : Derating akibat kekurangan suplai uap"
				},
				{
					"id" : 15,
					"Area" : "Ulubelu",
					"PLTP": "UBL-2",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 242352,
					"TargetHarianPemanfaatanUap": 8078.4,
					"RealisasiPemanfaatanUap": 8361.66,
					"TargetBulananPemanfaatanListrik": 33660,
					"TargetHarianPemanfaatanListrik": 1122,
					"RealisasiPemanfaatanListrik": 1177.85,
					"Keterangan": "'FCRS : Derating akibat kekurangan suplai uap"
				},
				{
					"id" : 16,
					"Area" : "Ulubelu",
					"PLTP": "UBL-3",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 227063.088,
					"TargetHarianPemanfaatanUap": 7568.76959999999,
					"RealisasiPemanfaatanUap": 7096.35,
					"TargetBulananPemanfaatanListrik": 32437.584,
					"TargetHarianPemanfaatanListrik": 1081.2528,
					"RealisasiPemanfaatanListrik": 1005.79667,
					"Keterangan": "'FCRS : Derating akibat kekurangan suplai uap"
				},
				{
					"id" : 17,
					"Area" : "Ulubelu",
					"PLTP": "UBL-4",
					"Kapasitas": 55,
					"TargetBulananPemanfaatanUap": 185086.944,
					"TargetHarianPemanfaatanUap": 6169.5648,
					"RealisasiPemanfaatanUap": 6654,
					"TargetBulananPemanfaatanListrik": 26440.992,
					"TargetHarianPemanfaatanListrik": 881.3664,
					"RealisasiPemanfaatanListrik": 894.16345,
					"Keterangan": "'FCRS : Derating akibat kekurangan suplai uap"
				},
				{
					"id" : 18,
					"Area" : "Karaha",
					"PLTP": "KRH-1",
					"Kapasitas": 30,
					"TargetBulananPemanfaatanUap": 155520,
					"TargetHarianPemanfaatanUap": 5184,
					"RealisasiPemanfaatanUap": 5154.99,
					"TargetBulananPemanfaatanListrik": 19440,
					"TargetHarianPemanfaatanListrik": 648,
					"RealisasiPemanfaatanListrik": 695.7616,
					"Keterangan": "'Operasi normal"
				},
            ];
			
			var dataSource = new kendo.data.DataSource({
				data: data
            });

			grid = $("#gridManagementReport").kendoGrid({
				scrollable: true,
                dataSource: dataSource,
                columns: [
                    {
                        field: "PLTP",
                        title: "PLTP",
						headerAttributes: { "style": "text-align:center;" },
						footerTemplate: "Total/AVG"
                    },
                    {
                        title: "Kapasitas",
						headerAttributes: { "style": "text-align:center;" },
						columns:[
							{
								field: "Kapasitas",
								headerAttributes: { "style": "text-align:center;" },
								attributes: { "class": "text-right" },
								title: "MW",
							}
						]
                    },
					{
                        title: "Pemanfaatan Uap",
						headerAttributes: { "style": "text-align:center;" },
						columns:[
							{
								title: "Target Bulanan",
								headerAttributes: { "style": "text-align:center;" },
								columns:[
									{
										field: "TargetBulananPemanfaatanUap",
										title: "Ton",
										attributes: { "class": "text-right" },
										headerAttributes: { "style": "text-align:center;" }
									}
								]
							},
							{
								title: "Target Harian",
								headerAttributes: { "style": "text-align:center;" },
								columns:[
									{
										field: "TargetHarianPemanfaatanUap",
										title: "Ton",
										attributes: { "class": "text-right" },
										headerAttributes: { "style": "text-align:center;" }
									}
								]
							},
							{
								title: "Realisasi",
								headerAttributes: { "style": "text-align:center;" },
								columns:[
									{
										field: "RealisasiPemanfaatanUap",
										headerAttributes: { "style": "text-align:center;" },
										attributes: { "class": "text-right" },
										title: "Ton"
									}
								]
							}
						]
                    },
					{
                        title: "Pemanfaatan Listrik",
						headerAttributes: { "style": "text-align:center;" },
						columns:[
							{
								title: "Target Bulanan",
								headerAttributes: { "style": "text-align:center;" },
								columns:[
									{
										field: "TargetBulananPemanfaatanListrik",
										headerAttributes: { "style": "text-align:center;" },
										attributes: { "class": "text-right" },
										title: "MWh"
									}
								]
							},
							{
								title: "Target Harian",
								headerAttributes: { "style": "text-align:center;" },
								columns:[
									{
										field: "TargetHarianPemanfaatanListrik",
										headerAttributes: { "style": "text-align:center;" },
										attributes: { "class": "text-right" },
										title: "MWh"
									}
								]
							},
							{
								title: "Realisasi",
								headerAttributes: { "style": "text-align:center;" },
								columns:[
									{
										field: "RealisasiPemanfaatanListrik",
										headerAttributes: { "style": "text-align:center;" },
										attributes: { "class": "text-right" },
										title: "MWh"
									}
								]
							},
							{
								title: "Pencapaian",
								headerAttributes: { "style": "text-align:center;" },
								columns:[
									{
										headerAttributes: { "style": "text-align:center;" },
										title: "%",
										template: function(e){
											if(!isNaN(e.RealisasiPemanfaatanListrik) && !isNaN(e.TargetHarianPemanfaatanListrik)){
												var val = e.RealisasiPemanfaatanListrik/e.TargetHarianPemanfaatanListrik;
												return "<p class='text-right'>" + val*100 + "</p>";
											}else{
												return "<p class='text-right'>-</p>";
											}
										}
									}
								]
							}
						]
                    },
					{
                        title: "Rata-rata Pembangkitan",
						headerAttributes: { "style": "text-align:center;" },
						columns:[
							{
								headerAttributes: { "style": "text-align:center;" },
								title: "MW",
								template: function(e){
									if(!isNaN(e.RealisasiPemanfaatanListrik)){
										var val = e.RealisasiPemanfaatanListrik/24;
										return "<p class='text-right'>" + val + "</p>";
									}else{
										return "<p class='text-right'>-</p>";
									}
								}
							}
						]
                    },
					{
                        title: "Capacity Factor",
						headerAttributes: { "style": "text-align:center;" },
						columns:[
							{
								field: "CapacityFactor",
								headerAttributes: { "style": "text-align:center;" },
								title: "%",
								template: function(e){
									if(!isNaN(e.RealisasiPemanfaatanListrik) && !isNaN(e.Kapasitas)){
										var val = e.RealisasiPemanfaatanListrik/(24*e.Kapasitas);
										return "<p class='text-right'>" + val*100 + "</p>";
									}else{
										return "<p class='text-right'>-</p>";
									}
								}
							}
						]
                    },
					{
                        title: "Keterangan",
						headerAttributes: { "style": "text-align:center;" },
						columns:[
							{
								field: "Keterangan",
								headerAttributes: { "style": "text-align:center;" },
								title: "Operasi Normal / Gangguan / Derating"
							}
						]
                    }
                ]
            }).data("kendoGrid");

			if(areaDropdown.text() === "All"){
				grid.dataSource.filter({});
				grid.dataSource.read();
				setSumAVG();
				setColor();
				setFormat();
			}else{
				grid.dataSource.filter( { field: "Area", operator: "eq", value: areaDropdown.text() });
				grid.dataSource.read();
				setSumAVG();
				setColor();
				setFormat();
			}
		}

		function setSumAVG(){
			var gridChildren = grid.tbody.children();

			var sumKapasitas = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[1].textContent)){
					sumKapasitas = sumKapasitas+parseFloat(value.children[1].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[1].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[1].textContent = sumKapasitas;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[1].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[1].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[1].textContent = "-";
			}

			var sumTargetBulananPemanfaatanUap = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[2].textContent)){
					sumTargetBulananPemanfaatanUap = sumTargetBulananPemanfaatanUap+parseFloat(value.children[2].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[2].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[2].textContent = sumTargetBulananPemanfaatanUap;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[2].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[2].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[2].textContent = "-";
			}

			var sumTargetHarianPemanfaatanUap = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[3].textContent)){
					sumTargetHarianPemanfaatanUap = sumTargetHarianPemanfaatanUap+parseFloat(value.children[3].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[3].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[3].textContent = sumTargetHarianPemanfaatanUap;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[3].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[3].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[3].textContent = "-";
			}

			var sumRealisasiPemanfaatanUap = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[4].textContent)){
					sumRealisasiPemanfaatanUap = sumRealisasiPemanfaatanUap+parseFloat(value.children[4].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[4].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[4].textContent = sumRealisasiPemanfaatanUap;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[4].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[4].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[4].textContent = "-";
			}

			var sumTargetBulananPemanfaatanListrik = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[5].textContent)){
					sumTargetBulananPemanfaatanListrik = sumTargetBulananPemanfaatanListrik+parseFloat(value.children[5].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[5].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[5].textContent = sumTargetBulananPemanfaatanListrik;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[5].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[5].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[5].textContent = "-";
			}

			var sumTargetHarianPemanfaatanListrik = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[6].textContent)){
					sumTargetHarianPemanfaatanListrik = sumTargetHarianPemanfaatanListrik+parseFloat(value.children[6].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[6].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[6].textContent = sumTargetHarianPemanfaatanListrik;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[6].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[6].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[6].textContent = "-";
			}

			var sumRealisasiPemanfaatanListrik = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[7].textContent)){
					sumRealisasiPemanfaatanListrik = sumRealisasiPemanfaatanListrik+parseFloat(value.children[7].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[7].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[7].textContent = sumRealisasiPemanfaatanListrik;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[7].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[7].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[7].textContent = "-";
			}

			grid.footer.children()[0].children[0].children[1].children[0].children[8].setAttribute("style","text-align:right;");
			if(!isNaN(grid.footer.children()[0].children[0].children[1].children[0].children[6].textContent) &&
				!isNaN(grid.footer.children()[0].children[0].children[1].children[0].children[7].textContent)){
				var a = parseFloat(grid.footer.children()[0].children[0].children[1].children[0].children[7].textContent);
				var b = parseFloat(grid.footer.children()[0].children[0].children[1].children[0].children[6].textContent);
				grid.footer.children()[0].children[0].children[1].children[0].children[8].textContent = (a/b)*100;
			}else{
				grid.footer.children()[0].children[0].children[1].children[0].children[8].textContent = "-";
			}
			if(grid.footer.children()[0].children[0].children[1].children[0].children[8].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[8].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[8].textContent = "-";
			}

			var sumRataRataPembangkitan = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[9].textContent)){
					sumRataRataPembangkitan = sumRataRataPembangkitan+parseFloat(value.children[9].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[9].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[9].textContent = sumRataRataPembangkitan;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[9].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[9].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[9].textContent = "-";
			}

			var avgCapacityFactor=0;
			var count = 0;
			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[10].textContent)){
					count = count + 1;
					avgCapacityFactor = avgCapacityFactor+parseFloat(value.children[10].textContent);
				}
			});
			grid.footer.children()[0].children[0].children[1].children[0].children[10].setAttribute("style","text-align:right;");
			grid.footer.children()[0].children[0].children[1].children[0].children[10].textContent = avgCapacityFactor/count;
			if(grid.footer.children()[0].children[0].children[1].children[0].children[10].textContent === "0" ||
				grid.footer.children()[0].children[0].children[1].children[0].children[10].textContent === "NaN"){
				grid.footer.children()[0].children[0].children[1].children[0].children[10].textContent = "-";
			}
		}

		function setColor(){
			var gridChildren = grid.tbody.children();

			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[8].textContent)){
					var a = parseFloat(value.children[8].textContent);
					if(a >= 100){
						value.children[8].setAttribute("style","background-color:green;");
					}
					if(a >= 95 && a <= 99.99){
						value.children[8].setAttribute("style","background-color:yellow;");
					}
					if(a < 95){
						value.children[8].setAttribute("style","background-color:red;");
					}
				}
			});

			$.each( gridChildren, function( key, value ) {
				if(!isNaN(value.children[10].children[0].textContent)){
					var a = parseFloat(value.children[10].children[0].textContent);
					if(a > 90){
						value.children[10].setAttribute("style","background-color:green;");
					}
					if(a >= 80 && a <= 90){
						value.children[10].setAttribute("style","background-color:yellow;");
					}
					if(a < 80){
						value.children[10].setAttribute("style","background-color:red;");
					}
				}
			});

			if(!isNaN(grid.footer.children()[0].children[0].children[1].children[0].children[8].textContent)){
				var a = parseFloat(grid.footer.children()[0].children[0].children[1].children[0].children[8].textContent);
				if(a >= 100){
					grid.footer.children()[0].children[0].children[1].children[0].children[8].setAttribute("style","background-color:green;");
				}
				if(a >= 95 && a <= 99.99){
					grid.footer.children()[0].children[0].children[1].children[0].children[8].setAttribute("style","background-color:yellow;");
				}
				if(a < 95){
					grid.footer.children()[0].children[0].children[1].children[0].children[8].setAttribute("style","background-color:red;");
				}
			}

			if(!isNaN(grid.footer.children()[0].children[0].children[1].children[0].children[10].textContent)){
				var a = parseFloat(grid.footer.children()[0].children[0].children[1].children[0].children[10].textContent);
				if(a > 90){
					grid.footer.children()[0].children[0].children[1].children[0].children[10].setAttribute("style","background-color:green;");
				}
				if(a >= 80 && a <= 90){
					grid.footer.children()[0].children[0].children[1].children[0].children[10].setAttribute("style","background-color:yellow;");
				}
				if(a < 80){
					grid.footer.children()[0].children[0].children[1].children[0].children[10].setAttribute("style","background-color:red;");
				}
			}
		}

		function setFormat(){
			var gridChildren = grid.tbody.children();
			$.each( gridChildren, function( key, value ) {
				var child = value.children;
				$.each( child, function( i, val ) {
					if(!isNaN(val.textContent)){
						val.textContent = kendo.toString(parseFloat(val.textContent), "n2");
					}
				});
			});

			var footerChildren = grid.footer.children()[0].children[0].children[1].children[0].children;
			$.each( footerChildren, function( key, value ) {
				if(!isNaN(value.textContent)){
					value.textContent = kendo.toString(parseFloat(value.textContent), "n2");
				}
			});
			footerChildren[footerChildren.length-1].textContent = "";
		}
	</script>
}