﻿
@{
    ViewBag.Title = "Reliability Report";
}
<div class="row" style="margin-top:-20px; padding:0 5px">
    <div class="alert alert-info" role="alert">
        <p>
            EAF (Equivalent Availability Factor) adalah faktor kesiapan berproduksi uap dan atau listrik di masing masing area yang dihitung berdasarkan jumlah jam siap dengan besaran energy tertimbang.
            EAF dihitung dengan persamaan sebagai berikut:
        </p>
        <table class="m-t-xs">
            <tr>
                <td><strong>EAF </strong></td>
                <td>&nbsp;=&nbsp;</td>
                <td>
                    <strong> 100 % x </strong>
                </td>
                <td>
                    <center><strong>&nbsp;&nbsp;<u>[AH-(EPDH+EFDH+EMDH)] </u></strong></center>
                    <center><strong>PH</strong></center>
                </td>
            </tr>
        </table>
        <p>
            Dimana  :
        </p>
        <table>
            <tr>
                <td><i>AH	 : Available Hour</i></td>
                <td width="20px"></td>
                <td><i>PH	 : Period Hour</i></td>
            </tr>
            <tr>
                <td><i>EFDH  : Equivalent Forced Derating Hour</i></td>
                <td width="20px"></td>
                <td><i>EMDH  : Equivalent Maintenance Derating Hour</i></td>
            </tr>
            <tr>
                <td><i>EPDH  : Equivalent Planned Derating Hour</i></td>
            </tr>
        </table>
        <p class="m-t-md">
            EFOR (Equivalent Forced Outage Rate) digunakan untuk mengetahui tingkat unscheduled shutdown dari fasilitas produksi dan pembangkit, yang dihitung dengan menggunakan persamaan sebagai berikut:
        </p>
        <table class="m-t-xs">
            <tr>
                <td><strong>EFOR </strong></td>
                <td>&nbsp;=&nbsp;</td>
                <td>
                    <strong> 100 % x </strong>
                </td>
                <td>
                    <center><strong>&nbsp;&nbsp;<u>FOH + EFDH</u></strong></center>
                    <center><strong>FOH + SH</strong></center>
                </td>
            </tr>
        </table>
        <p>
            Dimana :
        </p>
        <table>
            <tr>
                <td><i>FOH	 : Force Outage Hour</i></td>
                <td width="20px"></td>
                <td><i>SH    : Service Hour</i></td>
            </tr>
            <tr>
                <td><i>EFDH  : Equivalent Force Derating Hour</i></td>
            </tr>
        </table>
    </div>
</div>
<div class="row m-t-md">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Periode</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <select id="month" class="form-control">
                            <option value="Januari">Januari</option>
                            <option value="Februari">Februari</option>
                            <option value="Maret">Maret</option>
                            <option value="April">April</option>
                            <option value="Mei">Mei</option>
                            <option value="Juni">Juni</option>
                            <option value="Juli">Juli</option>
                            <option value="Agustus">Agustus</option>
                            <option value="September">September</option>
                            <option value="Oktober">Oktober</option>
                            <option value="November">November</option>
                            <option value="Desember">Desember</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select id="year" class="form-control">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <input type="button" id="search-btn" class="btn btn-warning" value="Cari" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Reliability and Operational Excellence</a>
                </h5>
            </div>
            <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>
                            <strong id="table-title"></strong>
                        </h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center">Unit</th>
                                    <th rowspan="2" class="text-center">DMN (MW)</th>
                                    <th colspan="2" class="text-center">REN</th>
                                    <th colspan="2" class="text-center">REL</th>
                                </tr>
                                <tr>
                                    <th class="text-center">EFOR</th>
                                    <th class="text-center">EAF</th>
                                    <th class="text-center">EFOR</th>
                                    <th class="text-center">EAF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kamojang Unit 1</td>
                                    <td>30</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Kamojang Unit 2</td>
                                    <td>55</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Kamojang Unit 3</td>
                                    <td>55</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Kamojang Unit 4</td>
                                    <td>60</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Kamojang Unit 5</td>
                                    <td>33</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr class="active">
                                    <td>Total Kamojang</td>
                                    <td>233</td>
                                    <td>2.00 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Lahendong Unit 1</td>
                                    <td>20</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Lahendong Unit 2</td>
                                    <td>20</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Lahendong Unit 3</td>
                                    <td>20</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Lahendong Unit 4</td>
                                    <td>20</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Lahendong Unit 5</td>
                                    <td>20</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Lahendong Unit 6</td>
                                    <td>20</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr class="active">
                                    <td>Total Lahendong</td>
                                    <td>120</td>
                                    <td>2.00 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Ulubelu Unit 1</td>
                                    <td>55</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Ulubelu Unit 2</td>
                                    <td>55</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Ulubelu Unit 3</td>
                                    <td>55</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Ulubelu Unit 4</td>
                                    <td>55</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>98.63 %</td>
                                </tr>
                                <tr class="active">
                                    <td>Total Ulubelu</td>
                                    <td>220</td>
                                    <td>2.00 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>99.66 %</td>
                                </tr>
                                <tr>
                                    <td>Sibayak Unit 1</td>
                                    <td>5.65</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Sibayak Unit 2</td>
                                    <td>5.65</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>98.63 %</td>
                                </tr>
                                <tr class="active">
                                    <td>Total Sibayak</td>
                                    <td>220</td>
                                    <td>2.00 %</td>
                                    <td>91.2 %</td>
                                    <td>0.0 %</td>
                                    <td>100.00 %</td>
                                </tr>
                                <tr>
                                    <td>Karaha Unit 1</td>
                                    <td>30</td>
                                    <td>1.96 %</td>
                                    <td>91.2 %</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="active">
                                    <td>Total Karaha</td>
                                    <td>220</td>
                                    <td>2.00 %</td>
                                    <td>91.2 %</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="success">
                                    <td>Total PGE</td>
                                    <td>614.3</td>
                                    <td>2.00 %</td>
                                    <td>91.23 %</td>
                                    <td>0.00 %</td>
                                    <td>99.84 %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Realisasi EAF PGE</a>
                </h5>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>
                            <strong id="chart-title"></strong>
                        </h3>
                        <img src="@Url.Content("~/Images/report/chart reliability.png")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var month, year;
        $(function () {
            $("#month").val("Juli");
            $("#year").val("2018");

            month = $("#month").val();
            year = $("#year").val();

            $("#table-title").html("Realisasi Faktor Kesiapan Produksi (EAF) dan Tingkat Unschedule Shutdown (EFOR) sampai dengan " + month + " " + year);
            $("#chart-title").html("Realisasi EAF PGE s.d. " + month + " " + year + " adalah sebesar 99.84 % (109,44 % terhadap target sebesar 91.23 %)");
            $("#search-btn").click(function () {
                month = $("#month").val();
                year = $("#year").val();
                $("#table-title").html("Realisasi Faktor Kesiapan Produksi (EAF) dan Tingkat Unschedule Shutdown (EFOR) sampai dengan " + month + " " + year);
                $("#chart-title").html("Realisasi EAF PGE s.d. " + month + " " + year + " adalah sebesar 99.84 % (109,44 % terhadap target sebesar 91.23 %)");
            });
        });
    </script>
}
