﻿@model WebUI.Areas.DataMaster.Models.ShipToParties.ShipToPartyFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.ShipToParty);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", ViewBag.Breadcrumb, TitleSite.Edit);
    }

    string backLink = Url.Action(ActionSite.Index);

}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AreaId)
            @Html.HiddenFor(model => model.CurrentCode)

            <div class="form-group">
                @Html.LabelFor(model => model.Code, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.ShipToPartyName, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextBoxFor(model => model.ShipToPartyName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShipToPartyName, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.SalesGroup, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextBoxFor(model => model.SalesGroup, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SalesGroup, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.ShippingPoint, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextBoxFor(model => model.ShippingPoint, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShippingPoint, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.SoldToPartyId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.SoldToPartyId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.SoldToPartyId, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Material, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.Material, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.Material, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.URC, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.URC, new { @class = "form-control-numeric" })
                    @*@Html.ValidationMessageFor(model => model.URC, "", new { @class = "text-danger" })*@
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.SOType, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.SOType, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.SOType, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.AgreementName, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextBoxFor(model => model.AgreementName, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.AgreementName, "", new { @class = "text-danger" })*@
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.AgreementDate, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.AgreementDate, DisplayFormat.JsSqlDateFormat, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.AgreementDate, "", new { @class = "text-danger" })*@
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.MeterName, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextBoxFor(model => model.MeterName, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.AgreementName, "", new { @class = "text-danger" })*@
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.MeterType, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextBoxFor(model => model.MeterType, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.AgreementName, "", new { @class = "text-danger" })*@
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.BasePrice, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.BasePrice, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.BasePrice, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.BasePricePPI, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.BasePricePPI, new { @class = "form-control-decimal-n8" })
                    @*@Html.ValidationMessageFor(model => model.BasePrice, "", new { @class = "text-danger" })*@
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.TransmitionPrice, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.TransmitionPrice, new { @class = "form-control-decimal-n4" })
                    @*@Html.ValidationMessageFor(model => model.BasePrice, "", new { @class = "text-danger" })*@
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.InvoiceGroup, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.InvoiceGroup, new { @class = "form-control-numeric" })
                    @Html.ValidationMessageFor(model => model.InvoiceGroup, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-8">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var editState = "@currentAction.ToLower()" === "@ActionSite.Edit.ToLower()";
        var soldToPartyOption = $().data("kendoDropDownList"),
            materialOption = $().data("kendoDropDownList"),
            soTypeOption = $().data("kendoDropDownList");

        var agreemenDate = $().data("kendoDatePicker");

        $(function () {
            initElement();
        });

        function initElement() {
            if (editState) {
                $("#@Field.Code").attr("readonly", true);
            }

            soldToPartyOption = dropdownListGenerator(
                                $("#@Field.SoldToPartyId"),
                                "@Url.Action(ActionSite.BindingOption)",
                                "@OptionType.SOLD_TO_PARTY", "@Field.Description",
                                "@Component.OptionLabel", false, null);

            materialOption = dropdownListGenerator(
                                $("#@Field.Material"),
                                "@Url.Action(ActionSite.BindingOption)",
                                "@OptionType.MATERIAL", "@Field.Text",
                                "@Component.OptionLabel", false, null);

            soTypeOption = dropdownListGenerator(
                                $("#@Field.SOType"),
                                "@Url.Action(ActionSite.BindingOption)",
                                "@OptionType.SO_TYPE", "@Field.Text",
                                "@Component.OptionLabel", false, null);

            //soldToPartyOption.bind("dataBound", validateElementForm);
            soldToPartyOption.bind("change", validateElementForm);

            //materialOption.bind("dataBound", validateElementForm);
            materialOption.bind("change", validateElementForm);

            //soTypeOption.bind("dataBound", validateElementForm);
            soTypeOption.bind("change", validateElementForm);

            agreemenDate = $("#@Field.AgreementDate").kendoDatePicker({
                format: "@DisplayFormat.SqlDateFormat",
                dateInput: true
            }).data("kendoDatePicker");
        }

        function validateElementForm(e) {
            validateForm();
        }
    </script>
}
