﻿@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.ShipToPartyController)ViewContext.Controller;

    ViewBag.Title = TitleSite.ShipToParty;

    string message = thisController.GetMessage();
    var user = User as Principal;
}

<div class="row">
    <div class="form-group">
        @if (message.IndexOf(ActionSite.Upload) == -1) //if message  does not contains Upload word, then display message
        {
            @Html.Raw(thisController.GetMessage())
        }
        @*@Html.Raw(thisController.GetMessage())*@
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-md-8 form-horizontal">
                        <label class="col-sm-2 control-label">Area</label>
                        <div class="col-sm-4">
                            <input id="AreaId" />
                        </div>
                    </div>
                    <div class="col-md-4 form-horizontal">
                        <div class="col-sm-12 text-right" style="padding-right: 5px;">
                            <button id="btnCreate" class="btn btn-primary">Tambah Ship to Party</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var grid;
        var isHidden = false;

        var areaOption = $().data("kendoDropDownList");

        $(function () {
            initElement();
        });

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function initElement() {
            var optionLabel = "@Component.OptionLabel";
            @if (!user.AreaId.HasValue || user.AreaId == 0)
            {
                @:optionLabel = "@Component.OptionLabelAreaAll";
            }

             areaOption = dropdownListGenerator(
                $("#@Field.AreaId"),
                "@Url.Action(ActionSite.BindingOption)",
                 "@OptionType.AREA", "@Field.Name",
                 optionLabel, false, null);

            initGrid();

            $("#btnCreate").on("click", function () {
                window.location.href = kendo.format("{0}?areaId={1}", "@Url.Action(ActionSite.Create)", areaOption.value());
            });
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;
                                var removeFilter = null;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.AreaId" && (filter.value === "" || filter.value === null)) {
                                        removeFilter = filter;
                                    }
                                }

                                if (removeFilter !== null) {
                                    var index = options.filter.filters.indexOf(removeFilter);
                                    options.filter.filters.splice(index, 1);
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            //put data source options into session
                            if (grid !== undefined) {
                                putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                            }

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
							"@Field.AreaId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.Code": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ShipToPartyName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.SOType": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Material": { type: "@DataSource.Schema.Type.String" },
                            "@Field.URC": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.AgreementName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.AgreementDate": { type: "@DataSource.Schema.Type.Date" },
                            "@Field.MeterName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.MeterType": { type: "@DataSource.Schema.Type.String" },
                            "@Field.BasePrice": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.BasePricePPI": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.TransmitionPrice": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.HasRelation": { type: "@DataSource.Schema.Type.Boolean" },
                            "@Field.AreaName": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Code", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                {
                    command: [
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "fa fa-lg fa-pencil-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "fa fa-lg fa-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "60px",
                    attributes: { "class": "command" }
                },
                {
                    field: "@Field.AreaName",
                    title: "Area",
                    width: "100px",
                    hidden: isHidden
                },
                {
                    field: "@Field.Code",
                    title: "Code",
                    width: "100px"
                },
                {
                    field: "@Field.ShipToPartyName",
                    title: "Ship To Party",
                    width: "220px"
                },
                {
                    field: "@Field.Name",
                    title: "Name",
                    width: "200px"
                },
                {
                    field: "@Field.SOType",
                    title: "So Type",
                    filterable: dropDownListFilterable(soTypeOptionFilter),
                    width: "100px"
                },
                {
                    field: "@Field.Material",
                    title: "Material",
                    filterable: dropDownListFilterable(materialOptionFilter),
                    width: "250px"
                },
                {
                    field: "@Field.URC",
                    title: "URC",
                    attributes: { "class": "text-right" },
                    width: "80px"
                },
                {
                    field: "@Field.AgreementName",
                    title: "Agreement Name",
                    width: "200px"
                },
                {
                    field: "@Field.AgreementDate",
                    title: "Agreement Date",
                    format: "@DisplayFormat.JsCompactDateFormat",
                    attributes: { "class": "text-center" },
                    filterable: rangeDateFilterable,
                    width: "150px"
                },
                {
                    field: "@Field.MeterName",
                    title: "Meter Name",
                    width: "150px"
                },
                {
                    field: "@Field.MeterType",
                    title: "Meter Type",
                    width: "150px"
                },
                {
                    field: "@Field.BasePrice",
                    title: "Base Price (USD)",
                    format: "{0:n4}",
                    attributes: { "class": "text-right"},
                    width: "150px"
                },
                {
                    field: "@Field.BasePricePPI",
                    title: "Base Price PPI (YB)",
                    format: "{0:n4}",
                    attributes: { "class": "text-right"},
                    width: "175px"
                },
                {
                    field: "@Field.TransmitionPrice",
                    title: "Transmition Price",
                    format: "{0:n4}",
                    attributes: { "class": "text-right"},
                    width: "175px"
                }
            ];

            grid = $("#grid").kendoGrid({
                autoBind: false,
                dataSource: ds,
                dataBound: gridOnDataBound,
                filterable: kendoGridFilterable,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                sortable: true,
                columns: columns
            }).data("kendoGrid");

            areaOption.bind("dataBound", areaOptionsOnDataBound);
            areaOption.bind("change", changeFilter);
        }

        function disabledButton(labelOption) {
            if ($("#AreaId").val() === "") {
                $("#btnCreate").attr("disabled", "disabled");
                isHidden = false;
            } else {
                $("#btnCreate").removeAttr("disabled");
                isHidden = true;
            }

            console.log(grid);
        }

        function changeFilter(e) {
            disabledButton(this.text());
            setFilter(this.value());
        }

        function setFilter(value) {
            grid = $("#grid").data("kendoGrid");

            grid.dataSource.filter({
                "field": "@Field.AreaId",
                "operator": "@FilterOperator.Equals",
                "value": value
            });
        }

        function areaOptionsOnDataBound(e) {
            //get datasource option from session
            if (stateOptions !== null) {
                //set selected value dropdownlist industry options
                $.each(stateOptions.Filter.filters, function (i, item) {
                    if (item.field === "@Field.AreaId") {
                        e.sender.value(item.value);
                    }
                });

                disabledButton(this.text());

                var options = grid.getOptions();

                mapDataSourceOption(stateOptions, options.dataSource);

                grid.setOptions(options);
                grid.dataSource.read();
            } else {
                disabledButton(this.text());
                setFilter(this.value());
            }
        }

        function gridOnDataBound(e) {
            grid.tbody.find("tr[role=\"row\"]").each(function (i) {
                var model = grid.dataItem(this);

                if (model.HasRelation) {
                    $(this).find(".k-grid-delete")
                        .removeClass("k-grid-delete")
                        .children().eq(0)
                        .addClass("k-state-disabled")
                        .attr("title", "Data tidak dapat dihapus.\nKarena sudah digunakan oleh data lainnya.");
                }
            });

            dataBoundTooltip(e);
        }

        function soTypeOptionFilter(element) {
            var dataSource = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.SO_TYPE",
                "@Field.Text",
                [null]
            );

            element.kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel"
            });
        }

        function materialOptionFilter(element) {
            var dataSource = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.MATERIAL",
                "@Field.Text",
                [null]
            );

            element.kendoDropDownList({
                dataSource: dataSource,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel"
            });
        }
    </script>    
}