@using WebUI.Extension;
@using MvcSiteMapProvider.Web.Html;
@{
    ViewBag.Title = "Dummy";
    var currentController = (WebUI.Controllers.DummyController)ViewContext.Controller;
}

@Html.Raw(currentController.GetMessage())

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Basic form <small>Simple login form example</small></h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="m-b-md">
                <a href="@Url.Action("Create")" class="btn btn-default">Example Form</a>
                <a id="toggleFilter" href="javascript:void(0)" class="btn btn-default">Toggle Filter</a>
            </div>
            <div id="grid"></div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        var customFilter = "0";

        $(function () {
            initElement();
        });

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage('@Url.Action("Delete")' + "?id=" + data.Id,this.dataSource);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            window.location.href = "@Url.Action("Edit")" + "?id=" + data.Id;
        }
		
		function initElement() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action("Binding")",
                        dataType: "json",
                        type:"POST",
                    },
                    parameterMap: function (options, operation) {
                        var dsOptions = $("#grid").data("kendoGrid").dataSource.options;

                        if (operation !== "read" && options !== "") {
                            return kendo.stringify(options);
                        } else {
                            if (operation === "read") {
                                var filter = options.filter;

                                if (filter != undefined && filter !== "undefined" && filter !== null) {
                                    var filters = filter.filters;

                                    for (var i in filters) {
                                        var field = dsOptions.schema.model.fields[filters[i].field];

                                        if (field !== undefined && field.type === "date") {
                                            var date = filters[i].value;

                                            filters[i].value = kendo.toString(date, "d/M/yyyy");
                                            if (field.name === "Name")
                                                filters[i].field = "Crew.Name";
                                        }
                                    }
                                }
                            }

                            if (options.sort) {
                                var sort = options.sort;

                                for (var i in sort) {
                                    //if (sort[i].field == "PICSMCName") {
                                    //    sort[i].field = "PicSmcName";
                                    //}
                                    //else if (sort[i].field == "FirstApprovalDeptName") {
                                    //    sort[i].field = "FirstApprovalDept";
                                    //}
                                }
                            }

                            options.customFilter = customFilter;

                            return options;
                        }
                    }
                },
				schema: {
                    data: "data",
                    total: "total",
                    model: {
                        fields: {
							"Id": { type: "number" },
							"Name": { type: "string" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				//filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
				sort: { field: "Id", dir: "desc" },
            });

            $("#grid").kendoGrid({
                dataSource: ds,
                filterable: kendoGridFilterable,
                pageable: true,
                sortable: true,
                columns: [
					{
                        field: "Id",
                        title: "Id",
                    },
					{
                        field: "Name",
                        title: "Name",
                    },
                    {
                        command: [
                            {
                                name: "edit",
                                text: "edit",
                                click: editItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: KENDO_GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "delete",
                                text: "delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-remove",
                                template: KENDO_GRID_COMMAND_TEMPLATE
                            }
                        ],
                        width: "90px"
                    }
                ],
            });

            $("#toggleFilter").click(function (e) {
                if (customFilter === "0") {
                    customFilter = "1";
                } else {
                    customFilter = "0";
                }

                $("#grid").data("kendoGrid").dataSource.read();
            });
		}
    </script>
}

