﻿@model WebUI.Areas.DataMaster.Models.Wells.WellFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];

    if (currentAction.ToLower() == ActionSite.Create.ToLower())
    {
        ViewBag.Title = string.Format("{0} {1}", TitleSite.Create, TitleSite.Well);
    }
    else
    {
        ViewBag.Title = string.Format("{0} | {1}", ViewBag.Breadcrumb, TitleSite.Edit);
    }

    string backLink = Url.Action(ActionSite.Index);

}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AreaId)
            
            <div class="form-group">
                @Html.LabelFor(model => model.ClusterId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.ClusterId, new { @class = "form-control w-100  always-validate" })
                    @Html.ValidationMessageFor(model => model.ClusterId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Code, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var editState = "@currentAction.ToLower()" === "@ActionSite.Edit.ToLower()";
        var clusterOption = $().data("kendoDropDownList");

        $(function () {
            initElement();
        });

        function initElement() {
            initCluster();

            if (editState) {
                $("#@Field.Code").attr("readonly", true);
            } 
            
        }
        function initCluster() {
            clusterOption = dropdownListGenerator(
                $("#@Field.ClusterId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.CLUSTER", "@Field.Name",
                "@Component.OptionLabelClusterAll");
            clusterOption.bind("change", validateElementForm);

            clusterOption.value("@Model.ClusterId");
        }
        function validateElementForm(e) {
            validateForm();
        }

       function initCluster() {
            clusterOption = dropdownListGenerator(
                $("#@Field.ClusterId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.CLUSTER", "@Field.Name",
                "@Component.OptionLabelClusterAll",null, "@Model.AreaId");
            clusterOption.bind("change", validateElementForm);
   
            clusterOption.value("@Model.ClusterId");
         }

    </script>
}
