﻿@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.WellController)ViewContext.Controller;

    ViewBag.Title = TitleSite.Well;

    string message = thisController.GetMessage();
    var user = User as Principal;
}


<div class="row">
    <div class="form-group">
        @Html.Raw(thisController.GetMessage())
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-md-8 form-horizontal">
                        <label class="col-sm-2 control-label">Area</label>
                        <div class="col-sm-4">
                            <input id="AreaId" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:15px">
                    <div class="col-md-8 form-horizontal">
                        <label class="col-sm-2 control-label">Cluster</label>
                        <div class="col-sm-4">
                            <input id="ClusterId" />
                        </div>
                    </div>
                    <div class="col-md-4 form-horizontal">
                        <div class="col-sm-12 text-right" style="padding-right: 5px;">
                            <button id="btnCreate" class="btn btn-primary">Tambah Well</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div id="grid"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var grid;
        var isHidden = false;

        var areaOption = $().data("kendoDropDownList"),
            clusterOption = $().data("kendoDropDownList");

        $(function () {
            initElement();
        });

         function historyItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            window.location.href = kendo.format("{0}?wellId={1}", "@Url.Action(ActionSite.History, ControllerSite.WellHistory)", data.id);
        }

        function editItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            window.location.href = kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Edit)", data.id);
        }

        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            goToDeletePage(kendo.format("{0}?id={1}", "@Url.Action(ActionSite.Delete)", data.id), this.dataSource);
        }

        function initElement() {
            initArea();
            initGrid();
            $("#btnCreate").on("click", function () {
                window.location.href = kendo.format("{0}?areaId={1}&clusterId={2}", "@Url.Action(ActionSite.Create)", areaOption.value(), clusterOption.value());
            });

            $("#AreaId, #CLusterId ").on("change", function () {
                area = $("#AreaId").val();
                cluster = $("#ClusterId").val();
                disabledButton(area, cluster);
            });            
        }

        function initArea() {
            var optionLabel = "@Component.OptionLabel";
            @if (!user.AreaId.HasValue || user.AreaId == 0)
            {
                @:optionLabel = "@Component.OptionLabelAreaAll";
            }

             areaOption = dropdownListGenerator(
                $("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA",
                 "@Field.Name",
                 optionLabel, true, null);

             areaOption.bind("dataBound", areaOptionsOnDataBound);
             areaOption.bind("change", changeFilter);

        }

        function initCluster() {
            clusterOption = dropdownListGenerator(
                $("#@Field.ClusterId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.CLUSTER", "@Field.Name",
                "@Component.OptionLabelClusterAll", false, [areaOption.value(), null, null, null]);

            clusterOption.bind("dataBound", clusterOptionsOnDataBound);
            clusterOption.bind("change", changeFilterCluster);


        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;
                                @*var removeFilter = null;
                                var removeFilterC = null;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.AreaId" && (filter.value === "" || filter.value === null)) {
                                        removeFilter = filter;
                                    }
                                   if (filter.field === "@Field.ClusterId" && (filter.value === "" || filter.value === null)) {
                                       removeFilterC = filter;
                                    }
                                }

                                if (removeFilter !== null) {
                                    var index = options.filter.filters.indexOf(removeFilter);
                                    options.filter.filters.splice(index, 1);
                                }
                                if (removeFilterC !== null) {
                                    var indexC = options.filter.filters.indexOf(removeFilterC);
                                    options.filter.filters.splice(indexC, 1);
                                }*@
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var j in sorts) {
                                    var sort = sorts[j];
                                }
                            }

                            @*//put data source options into session
                            if (grid !== undefined) {
                                putDataSourceOption("@Url.Action(ActionSite.PutOption)", grid.dataSource);
                            }*@

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
                            "@Field.Id": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.AreaId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.AreaName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ClusterId": { type: "@DataSource.Schema.Type.Number" },
                            "@Field.ClusterName": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Code": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Name": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Description": { type: "@DataSource.Schema.Type.String" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Code", dir: "@SortOrder.Ascending.ToDescription()" }
            });

            var columns = [
                {
                    command: [
                        {
                            name: "history",
                            text: "@Component.Grid.Command.History",
                            click: historyItem,
                            imageClass: "fa fa-lg fa-book",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "edit",
                            text: "@Component.Grid.Command.Edit",
                            click: editItem,
                            imageClass: "fa fa-lg fa-pencil-square",
                            template: GRID_COMMAND_TEMPLATE
                        },
                        {
                            name: "delete",
                            text: "@Component.Grid.Command.Delete",
                            click: deleteItem,
                            imageClass: "fa fa-lg fa-trash",
                            template: GRID_COMMAND_TEMPLATE
                        }
                    ],
                    width: "100px",
                    attributes: { "class": "command" }
                },
                {
                    field: "@Field.AreaName",
                    title: "Area",
                    width: "100px",
                    hidden: isHidden
                },
                  {
                    field: "@Field.ClusterName",
                    title: "Cluster",
                    width: "150px",
                    hidden: isHidden
                },
                {
                    field: "@Field.Code",
                    title: "Code",
                    width: "100px"
                },
                {
                    field: "@Field.Name",
                    title: "Name",
                    width: "220px"
                },
                {
                    field: "@Field.Description",
                    title: "Description",
                    width: "220px"
                },
                 {
                    field: "@Field.Status",
                    title: "Status",
                    width: "180px"
                }
            ];

            grid = $("#grid").kendoGrid({
                autoBind: false,
                dataSource: ds,
                dataBound: gridOnDataBound,
                filterable: kendoGridFilterable,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                sortable: true,
                columns: columns
            }).data("kendoGrid");


        }

        function disabledButton(areaValue, clusterValue) {
            if ($("#AreaId").val() !== "@Component.OptionLabelAreaAll" && clusterValue !== "@Component.OptionLabelClusterAll") {            
                $("#btnCreate").removeAttr("disabled");
                isHidden = true;
            } else {
                $("#btnCreate").attr("disabled", "disabled");
                isHidden = false;
            }

        }

        function changeFilter(e) {
            initCluster();
        }

        function changeFilterCluster(e) {
            disabledButton(this.text(), clusterOption.text());
            setFilter(((areaOption.value() === "") ? 0 : areaOption.value()), this.value());
        }

        function setFilter(valueArea, valueCluster) {
            grid = $("#grid").data("kendoGrid");
            grid.dataSource.filter(
                [
                    {
                        "field": "@Field.AreaId",
                        "operator": "@FilterOperator.Equals",
                        "value": valueArea
                    },
                    {
                        "field": "@Field.ClusterId",
                        "operator": "@FilterOperator.Equals",
                        "value": valueCluster
                    }
                ]
            );
            grid.dataSource.read();
        }

        function areaOptionsOnDataBound(e) {
            initCluster();
        }

        function clusterOptionsOnDataBound(e) {
            disabledButton(areaOption.text(), this.text());
            setFilter(areaOption.value(), this.value());
        }

        function gridOnDataBound(e) {
            grid.tbody.find("tr[role=\"row\"]").each(function (i) {
                var model = grid.dataItem(this);

                if (model.HasRelation) {
                    $(this).find(".k-grid-delete")
                        .removeClass("k-grid-delete")
                        .children().eq(0)
                        .addClass("k-state-disabled")
                        .attr("title", "Data tidak dapat dihapus.\nKarena sudah digunakan oleh data lainnya.");
                }
            });

            dataBoundTooltip(e);
        }


    </script>
}