﻿@model WebUI.Models.TaskReportFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}

@using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Periode)
    
    <div class="form-group">
        @Html.LabelFor(model => model.AreaId, new { @class = "col-xs-3 control-label" })
        <div class="col-xs-6">
            @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control always-validate" })
            @Html.ValidationMessageFor(model => model.AreaId)
        </div>
    </div>
}
