﻿@model WebUI.Areas.OperationData.Models.InputData.DownloadDataFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var user = User as Principal;
    ViewBag.Title = "Download Data";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">        
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.AreaId, new { @class = "control-label col-xs-2" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-xs-2" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-xs-2" })
                <div class="col-xs-4">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-6">
                    <button onclick="download()" class="btn btn-primary"> Download </button>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
      
        var area = $().data("kendoDropDownList"),
            start = $().data("kendoDatePicker"),
            end = $().data("kendoDatePicker");

        $(function () {
            initElement();
        });

    function initElement() {

            area = dropdownListGenerator(
                $("#@Field.AreaId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA", "@Field.Name",
                false, null);

            $("#@Field.StartDate").tooltip("disable");
            $("#@Field.EndDate").tooltip("disable");

            start = $("#@Field.StartDate").kendoDatePicker({
                value: new Date(),
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

        end = $("#@Field.EndDate").kendoDatePicker({
            value: new Date(),
                format: "@DisplayFormat.IdDateFormat",
                parseFormats: ["@DisplayFormat.Iso8601DateTimeFormat", "@DisplayFormat.SqlDateFormat"],
                change: changeDate,
            }).data("kendoDatePicker");

          
            start.trigger("change");

            area.bind("dataBound", areaOnChange);
            area.bind("change", areaOnChange);
            area.trigger("change");
        }

        function areaOnChange(e) {
            //clear grid filter when event change was trigger
           
        }

        function changeDate(e) {
            if ($(this.element).is(start.element)) {
                start.max(end.value());
                end.min(this.value());
                startDate = start.value();
            } else {
                start.max(this.value());
                end.min(start.value());
                endDate = end.value();
            }

            area.trigger("change");
        }

        function download() {
            var startDateParam = start.value().getFullYear() + "-" + (parseInt(start.value().getMonth()) + 1) + "-" + start.value().getDate();
            var endDateParam = end.value().getFullYear() + "-" + (parseInt(end.value().getMonth()) + 1) + "-" + end.value().getDate();
             swal({
                    title: "Loading",
                    text: "Please wait...",
                    imageUrl: "/Content/sweet-alert/ajax-loader.gif",
                    closeOnConfirm: false,
                    confirmButtonClass: "hidden"
             });

            $.ajax({                
                url: "@Url.Action("GetData", ControllerSite.InputData)",
                 data: {
                     "areaId": area.value(),
                     "startDate": startDateParam,
                     "endDate": endDateParam
                },
                type: "@DataSource.Type.Post",
                success: function (data) {
                    if (data.Success) {
                        $(".sweet-alert").hide()
                            .prev().hide();

                        window.location.href = "@Url.Action("DownloadDataOperation")";
                    } else {
                        swal("Warning", data.Message, "warning");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("Error", "Server Error. Contact administrator", "error");
                }
            });

            
        }

        
    </script>
}