﻿@model WebUI.Areas.OperationData.Models.SeparatorFormStub
@{

    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action(ActionSite.Detail) + "?id=" + Model.TaskReportId +
                      "&&tab=" + TargetTab.TAB_SEPARATOR.ToDescription();

    ViewBag.Title = "Separator";
}

<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TaskReportId)
            @Html.HiddenFor(model => model.AreaId)
            @Html.HiddenFor(model => model.Periode)

            <div class="form-group">
                @Html.LabelFor(model => model.SeparatorId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.SeparatorId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.SeparatorId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Pressure, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.Pressure, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.Pressure, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.PressureUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.PressureUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PressureUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Temperature, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.Temperature, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.Temperature, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.TemperatureUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.TemperatureUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TemperatureUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.LevelBrine, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.LevelBrine, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.LevelBrine, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.LevelBrineUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.LevelBrineUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LevelBrineUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.ThrottleValveBrine, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ThrottleValveBrine, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.ThrottleValveBrine, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.ThrottleValveBrineUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ThrottleValveBrineUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ThrottleValveBrineUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.ThrottleValveSteam, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ThrottleValveSteam, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.ThrottleValveSteam, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.ThrottleValveSteamUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ThrottleValveSteamUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ThrottleValveSteamUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.SteamFlowRate, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.SteamFlowRate, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.SteamFlowRate, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.SteamFlowRateUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.SteamFlowRateUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SteamFlowRateUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.BrineFlowRate, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.BrineFlowRate, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.BrineFlowRate, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.BrineFlowRateUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.BrineFlowRateUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BrineFlowRateUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var separator = $().data("kendoDropDownList"),
            pressureUnit = $().data("kendoDropDownList"),
            temperatureUnit = $().data("kendoDropDownList"),
            levelBrineUnit = $().data("kendoDropDownList"),
            throttleValveBrineUnit = $().data("kendoDropDownList"),
            throttleValveSteamUnit = $().data("kendoDropDownList"),
            steamFlowRateUnit = $().data("kendoDropDownList"),
            brineFlowRateUnit = $().data("kendoDropDownList");

        var periode,
            editState = "@currentAction.ToLower()" === "@ActionSite.EditSeparator.ToLower()";

        $(function () {
            initElemetn();
        });

        function elementOnChange(e) {
            $(".form-control-decimal-n4").addClass("always-validate");
            validateForm();
        }

        function elementOnBound(e) {
            validateForm();
        }

        function initElemetn() {
            periode = "@Model.Periode";

            //init dropdown power plan
            separator = dropdownListGenerator(
                $("#@Field.SeparatorId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.SEPARATOR", "@Field.Name",
                "@Component.OptionLabel", true,
                [
                    "@Model.AreaId",
                    kendo.toString(periode, "@DisplayFormat.SqlDateFormat"),
                    "@ViewBag.SelectedSeparatorId"
                ]
            );
            separator.bind("dataBound", elementOnBound);
            separator.bind("change", elementOnChange);

            if (editState) {
                separator.readonly(true);
                separator.element.prev().removeClass("k-state-default");
                separator.element.prev().addClass("k-state-disabled");
            }

            pressureUnit = dropdownListGenerator(
                $("#@Field.PressureUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );

            temperatureUnit = dropdownListGenerator(
                $("#@Field.TemperatureUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.TEMPERATURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );

            levelBrineUnit = dropdownListGenerator(
                $("#@Field.LevelBrineUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.OTHER_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );
            levelBrineUnit.value("@OtherUnit.PERCENT.ToString()");

            throttleValveBrineUnit = dropdownListGenerator(
                $("#@Field.ThrottleValveBrineUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.OTHER_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );
            throttleValveBrineUnit.value("@OtherUnit.PERCENT.ToString()");

            throttleValveSteamUnit = dropdownListGenerator(
                $("#@Field.ThrottleValveSteamUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.OTHER_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );
            throttleValveSteamUnit.value("@OtherUnit.PERCENT.ToString()");

            steamFlowRateUnit = dropdownListGenerator(
                $("#@Field.SteamFlowRateUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.FLOW_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );

            brineFlowRateUnit = dropdownListGenerator(
                $("#@Field.BrineFlowRateUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.FLOW_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );

            levelBrineUnit.readonly(true);
            levelBrineUnit.element.prev().removeClass("k-state-default");
            levelBrineUnit.element.prev().addClass("k-state-disabled");

            throttleValveBrineUnit.readonly(true);
            throttleValveBrineUnit.element.prev().removeClass("k-state-default");
            throttleValveBrineUnit.element.prev().addClass("k-state-disabled");

            throttleValveSteamUnit.readonly(true);
            throttleValveSteamUnit.element.prev().removeClass("k-state-default");
            throttleValveSteamUnit.element.prev().addClass("k-state-disabled");
        }
    </script>
}