﻿@model WebUI.Areas.OperationData.Models.InterfaceScrubberFormStub
@{

    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action(ActionSite.Detail) + "?id=" + Model.TaskReportId +
                      "&&tab=" + TargetTab.TAB_INTERFACE_SCRUBBER.ToDescription();

    ViewBag.Title = "Interface Scrubber";
}

<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TaskReportId)
            @Html.HiddenFor(model => model.AreaId)
            @Html.HiddenFor(model => model.Periode)

            <div class="form-group">
                @Html.LabelFor(model => model.InterfaceId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.InterfaceId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.InterfaceId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.InterfacePressure, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.InterfacePressure, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.InterfacePressure, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.InterfacePressureUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.InterfacePressureUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InterfacePressureUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.InterfaceTemperature, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.InterfaceTemperature, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.InterfaceTemperature, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.InterfaceTemperatureUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.InterfaceTemperatureUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InterfaceTemperatureUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.ScrubberId, new { @class = "col-xs-2 control-label always validate" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.ScrubberId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.ScrubberId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.ScrubberPressure, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ScrubberPressure, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.ScrubberPressure, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.ScrubberPressureUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ScrubberPressureUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ScrubberPressureUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.ScrubberTemperature, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ScrubberTemperature, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.ScrubberTemperature, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.ScrubberTemperatureUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ScrubberTemperatureUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ScrubberTemperatureUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
<script type="text/javascript">
    var interfacePoint = $().data("kendoDropDownList"),
        scrubber = $().data("kendoDropDownList"),
        interfacePressureUnit = $().data("kendoDropDownList"),
        interfaceTemperatureUnit = $().data("kendoDropDownList"),
        scrubberPressureUnit = $().data("kendoDropDownList"),
        scrubberTemperatureUnit = $().data("kendoDropDownList");

    var periode,
        editState = "@currentAction.ToLower()" === "@ActionSite.EditInterface.ToLower()";

    $(function () {
        initElemetn();
    });

    function elementOnChange(e) {
        $(".form-control-decimal-n4").addClass("always-validate");
        validateForm();
    }

    function elementOnBound(e) {
        validateForm();
    }

    function initElemetn() {
        periode = "@Model.Periode";

        //init dropdown power plan
        interfacePoint = dropdownListGenerator(
            $("#@Field.InterfaceId"),
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.INTERFACE_POINT", "@Field.Name",
            "@Component.OptionLabel", true,
            [
                "@Model.AreaId",
                kendo.toString(periode, "@DisplayFormat.SqlDateFormat"),
                "@ViewBag.SelectedInterfaceId"
            ]
        );
        interfacePoint.bind("dataBound", elementOnBound);
        interfacePoint.bind("change", elementOnChange);

        //init dropdown status
        scrubber = dropdownListGenerator(
            $("#@Field.ScrubberId"),
            "@Url.Action(ActionSite.BindingOption)",
            "@OptionType.SCRUBBER",
            "@Field.Name",
            "@Component.OptionLabel", true,
            [
                "@Model.AreaId",
                kendo.toString(periode, "@DisplayFormat.SqlDateFormat"),
                "@ViewBag.SelectedScrubberId"
            ]
        );
        scrubber.bind("dataBound", elementOnBound);
        scrubber.bind("change", elementOnChange);

        if (editState) {
            interfacePoint.readonly(true);
            interfacePoint.element.prev().removeClass("k-state-default");
            interfacePoint.element.prev().addClass("k-state-disabled");

            scrubber.readonly(true);
            scrubber.element.prev().removeClass("k-state-default");
            scrubber.element.prev().addClass("k-state-disabled");
        }

        interfacePressureUnit = dropdownListGenerator(
                $("#@Field.InterfacePressureUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
        );

        interfaceTemperatureUnit = dropdownListGenerator(
                $("#@Field.InterfaceTemperatureUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.TEMPERATURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
        );

        scrubberPressureUnit = dropdownListGenerator(
                $("#@Field.ScrubberPressureUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
        );

        scrubberTemperatureUnit = dropdownListGenerator(
                $("#@Field.ScrubberTemperatureUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.TEMPERATURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
        );
    }
</script>
}