﻿@model WebUI.Areas.OperationData.Models.ReinjectionFormStub
@{

    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action(ActionSite.Detail) + "?id=" + Model.TaskReportId +
                      "&&tab=" + TargetTab.TAB_REINJECTION.ToDescription();

    ViewBag.Title = "Reinjeksi";
}

<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TaskReportId)
            @Html.HiddenFor(model => model.AreaId)
            @Html.HiddenFor(model => model.Periode)

            <div class="form-group">
                @Html.LabelFor(model => model.WellId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.WellId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.WellId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.Status, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.Tks, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.Tks, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.Tks, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.TksUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.TksUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TksUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.PressureLine, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.PressureLine, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.PressureLine, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.PressureLineUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.PressureLineUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PressureLineUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Temperature, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.Temperature, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.Temperature)
                </div>
                @Html.LabelFor(model => model.TemperatureUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.TemperatureUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TemperatureUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Ph, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.Ph, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.Ph, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.FlowRate, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.FlowRate, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.FlowRate, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.FlowRateUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.FlowRateUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FlowRateUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.FlowTotal, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.FlowTotal, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.FlowTotal, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.FlowTotalUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.FlowTotalUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FlowTotalUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fluida, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(model => model.Fluida, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Fluida, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Notes, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-5">
                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Notes)
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var drawWell = $().data("kendoDropDownList"),
            drawWellStatus = $().data("kendoDropDownList"),
            tksUnit = $().data("kendoDropDownList"),
            pressureLineUnit = $().data("kendoDropDownList"),
            temperatureUnit = $().data("kendoDropDownList"),
            flowRateUnit = $().data("kendoDropDownList"),
            flowTotalUnit = $().data("kendoDropDownList");

        var periode,
            editState = "@currentAction.ToLower()" === "@ActionSite.EditReinjection.ToLower()";

        $(function () {
            initElemetn();
        });

        function elementOnChange(e) {
            $(".form-control-decimal-n4").addClass("always-validate");
            validateForm();
        }

        function elementOnBound(e) {
            validateForm();
        }

        function initElemetn() {
            periode = "@Model.Periode";

            //init dropdown power plan
             if (editState) {
                drawWell = dropdownListGenerator(
                $("#@Field.WellId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.DRAWWELL", "@Field.WellName",
                "@Component.OptionLabel", true,
                [
                    "@Model.AreaId"                    
                ]
            );
                drawWell.readonly(true);
                drawWell.element.prev().removeClass("k-state-default");
                drawWell.element.prev().addClass("k-state-disabled");
            } else {
                drawWell = dropdownListGenerator(
                    $("#@Field.WellId"),
                    "@Url.Action(ActionSite.BindingOption)",
                    "@OptionType.DRAWWELL", "@Field.WellName",
                    "@Component.OptionLabel", true,
                    [
                        "@Model.AreaId",
                        kendo.toString(periode, "@DisplayFormat.SqlDateFormat"),
                        "@ViewBag.SelectedWell",
                        "@TargetTab.TAB_PRODUCTION.ToDescription()",
                        "@DrawWellStatus.INJECTION"
                    ]
                );
            }
            
            drawWell.bind("dataBound", elementOnBound);
            drawWell.bind("change", elementOnChange);

            @*if (editState) {
                drawWell.readonly(true);
                drawWell.element.prev().removeClass("k-state-default");
                drawWell.element.prev().addClass("k-state-disabled");
            }

            //init dropdown status
            drawWellStatus = dropdownListGenerator($("#@Field.Status"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.DRAWWELL_STATUS", "@Field.Name", "@Component.OptionLabel", true, null);
            drawWellStatus.bind("dataBound", elementOnBound);
            drawWellStatus.bind("change", elementOnChange);*@

            tksUnit = dropdownListGenerator(
                $("#@Field.TksUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );

            pressureLineUnit = dropdownListGenerator(
                $("#@Field.PressureLineUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );

            temperatureUnit = dropdownListGenerator(
                $("#@Field.TemperatureUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.TEMPERATURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );

            flowRateUnit = dropdownListGenerator(
                $("#@Field.FlowRateUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.FLOW_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );

            flowTotalUnit = dropdownListGenerator(
                $("#@Field.FlowTotalUnit"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.MUFFLER_UNIT", "@Field.Text",
                "@Component.OptionLabel", true,null
            );
            flowTotalUnit.value("@RockMufflerUnit.T.ToString()");

            flowTotalUnit.readonly(true);
            flowTotalUnit.element.prev().removeClass("k-state-default");
            flowTotalUnit.element.prev().addClass("k-state-disabled");
        }
    </script>
}