﻿@model WebUI.Areas.OperationData.Models.ProductionFormStub
@{

    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action(ActionSite.Detail) + "?id=" + Model.TaskReportId +
                      "&&tab=" + TargetTab.TAB_PRODUCTION.ToDescription();

    ViewBag.Title = "Produksi";
}

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">

        <div class="ibox-title">
            <h5><small>Mohon isi semua input yang berbintang *</small></h5>
        </div>

        <div class="ibox-content">
            @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.TaskReportId)
                @Html.HiddenFor(model => model.AreaId)
                @Html.HiddenFor(model => model.Periode)
                @Html.HiddenFor(model => model.Status)

                <div class="form-group">
                    @Html.LabelFor(model => model.WellId, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextBoxFor(model => model.WellId, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.WellId, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(model => model.Status, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>*@
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Tks, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.Tks, new { @class = "form-control-decimal-n4 always-validate" })
                        @Html.ValidationMessageFor(model => model.Tks, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.TksUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.TksUnit, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.TksUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PressureLine, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.PressureLine, new { @class = "form-control-decimal-n4 always-validate" })
                        @Html.ValidationMessageFor(model => model.PressureLine, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.PressureLineUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.PressureLineUnit, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.PressureLineUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Temperature, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.Temperature, new { @class = "form-control-decimal-n4 always-validate" })
                        @Html.ValidationMessageFor(model => model.Temperature)
                    </div>
                    @Html.LabelFor(model => model.TemperatureUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.TemperatureUnit, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.TemperatureUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ThrottleValve, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.ThrottleValve, new { @class = "form-control-decimal-n4 always-validate" })
                        @Html.ValidationMessageFor(model => model.ThrottleValve, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ThrottleValveUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.ThrottleValveUnit, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.ThrottleValveUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FlowRate, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.FlowRate, new { @class = "form-control-decimal-n4 always-validate" })
                        @Html.ValidationMessageFor(model => model.FlowRate, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.FlowRateUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.FlowRateUnit, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.FlowRateUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FlowTotal, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.FlowTotal, new { @class = "form-control-decimal-n4 always-validate" })
                        @Html.ValidationMessageFor(model => model.FlowTotal, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.FlowTotalUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.FlowTotalUnit, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.FlowTotalUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PressureUpstream, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.PressureUpstream, new { @class = "form-control-decimal-n4 always-validate" })
                        @Html.ValidationMessageFor(model => model.PressureUpstream, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.PressureUpstreamUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.PressureUpstreamUnit, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.PressureUpstreamUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DifferentialPressure, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.DifferentialPressure, new { @class = "form-control-decimal-n4 always-validate" })
                        @Html.ValidationMessageFor(model => model.DifferentialPressure, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.DifferentialPressureUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.DifferentialPressureUnit, new { @class = "form-control always-validate" })
                        @Html.ValidationMessageFor(model => model.DifferentialPressureUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Notes, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-5">
                        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Notes)
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@backLink" class="btn btn-link">Batal</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var drawWell = $().data("kendoDropDownList"),
            drawWellStatus = $().data("kendoDropDownList"),
            tksUnit = $().data("kendoDropDownList"),
            pressureLineUnit = $().data("kendoDropDownList"),
            temperatureUnit = $().data("kendoDropDownList"),
            throttleUnit = $().data("kendoDropDownList"),
            flowRateUnit = $().data("kendoDropDownList"),
            flowTotalUnit = $().data("kendoDropDownList"),
            pressureUpstreamUnit = $().data("kendoDropDownList"),
            differentialUnit = $().data("kendoDropDownList");

        var periode,
            editState = "@currentAction.ToLower()" === "@ActionSite.EditProduction.ToLower()";

        $(function () {
            initElemetn();
        });

        function elementOnChange(e) {
            //$(".form-control-decimal-n4").addClass("always-validate");
            validateForm();
        }

        function elementOnBound(e) {
            validateForm();
        }

        function initElemetn() {
            periode = "@Model.Periode";

            //init dropdown power plan
            

            //init dropdown status
            @*drawWellStatus = dropdownListGenerator($("#@Field.Status"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.DRAWWELL_STATUS", "@Field.Text",
                "@Component.OptionLabel", true, null);

            drawWellStatus.bind("dataBound", elementOnBound);
            drawWellStatus.bind("change", elementOnChange);*@

            

            if (editState) {
                drawWell = dropdownListGenerator(
                $("#@Field.WellId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.DRAWWELL", "@Field.WellName",
                "@Component.OptionLabel", true,
                [
                    "@Model.AreaId"                    
                ]
            );
                drawWell.readonly(true);
                drawWell.element.prev().removeClass("k-state-default");
                drawWell.element.prev().addClass("k-state-disabled");
            } else {
                drawWell = dropdownListGenerator(
                    $("#@Field.WellId"),
                    "@Url.Action(ActionSite.BindingOption)",
                    "@OptionType.DRAWWELL_CATEGORY", "@Field.WellName",
                    "@Component.OptionLabel", true,
                    [
                        "@Model.AreaId",
                        kendo.toString(periode, "@DisplayFormat.SqlDateFormat"),
                        "@ViewBag.SelectedWell",
                        "@TargetTab.TAB_PRODUCTION.ToDescription()",
                        "@DrawWellStatus.PRODUCTION"
                    ]
                );
            }

            //drawWell.bind("dataBound", elementOnBound);
            drawWell.bind("change", elementOnChange);

            tksUnit = dropdownListGenerator($("#@Field.TksUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            tksUnit.bind("change", elementOnChange);

            pressureLineUnit = dropdownListGenerator($("#@Field.PressureLineUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            pressureLineUnit.bind("change", elementOnChange);

            temperatureUnit = dropdownListGenerator($("#@Field.TemperatureUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.TEMPERATURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            temperatureUnit.bind("change", elementOnChange);

            throttleUnit = dropdownListGenerator($("#@Field.ThrottleValveUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.OTHER_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            throttleUnit.value("@OtherUnit.PERCENT.ToString()");
            throttleUnit.bind("change", elementOnChange);

            flowRateUnit = dropdownListGenerator($("#@Field.FlowRateUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.FLOW_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            flowRateUnit.bind("change", elementOnChange);

            flowTotalUnit = dropdownListGenerator($("#@Field.FlowTotalUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.MUFFLER_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            flowTotalUnit.value("@RockMufflerUnit.T.ToString()");
            flowTotalUnit.bind("change", elementOnChange);

            pressureUpstreamUnit = dropdownListGenerator($("#@Field.PressureUpstreamUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            pressureUpstreamUnit.bind("change", elementOnChange);

            differentialUnit = dropdownListGenerator($("#@Field.DifferentialPressureUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.PRESSURE_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            differentialUnit.bind("change", elementOnChange);

            throttleUnit.readonly(true);
            throttleUnit.element.prev().removeClass("k-state-default");
            throttleUnit.element.prev().addClass("k-state-disabled");

            flowTotalUnit.readonly(true);
            flowTotalUnit.element.prev().removeClass("k-state-default");
            flowTotalUnit.element.prev().addClass("k-state-disabled");
        }
    </script>
}