﻿@model WebUI.Areas.OperationData.Models.DkpFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action(ActionSite.Detail) + "?id=" + Model.TaskReportId +
                      "&&tab=" + TargetTab.TAB_DKP.ToDescription();

    ViewBag.Title = "Data Kondisi Pembangkit";
}

<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TaskReportId)
            @Html.HiddenFor(model => model.AreaId)
            @Html.HiddenFor(model => model.Periode)

            <div class="form-group">
                @Html.LabelFor(model => model.PowerPlantId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.PowerPlantId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.PowerPlantId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.Status, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.StartHour, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.StartHour, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.StartHour, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.EndHour, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.EndHour, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.EndHour, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Derating, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.Derating, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.Derating, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Location, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cause, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextAreaFor(model => model.Cause, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cause, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Notes, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Notes)
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    var powerPlan = $().data("kendoDropDownList"),
        InterruptionStatus = $().data("kendoDropDownList"),
        interruptionLocation = $().data("kendoDropDownList");

        var periode,
            editState = "@currentAction.ToLower()" === "@ActionSite.EditDkp.ToLower()",
            startHour, endHour;

        $(function () {
            initElemetn();
        });

    function elementOnChange(e) {
            $(".form-control-decimal-n4").addClass("always-validate");
            validateForm();
        }

        function elementOnBound(e) {
            validateForm();
        }

        function initElemetn() {
            periode = "@Model.Periode";

            //init dropdown power plan
            powerPlan = dropdownListGenerator(
                $("#@Field.PowerPlantId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.POWERPLANT", "@Field.Name",
                "@Component.OptionLabel", false,
                [
                    "@Model.AreaId",
                    kendo.toString(periode, "@DisplayFormat.SqlDateFormat"),
                    "@ViewBag.SelectedPowerPlanId",
                    "@TargetTab.TAB_DKP.ToDescription()"
                ]
            );

            powerPlan.bind("dataBound", elementOnBound);
            powerPlan.bind("change", elementOnChange);
            $("#Status").bind("change", onStatusChange);

            if (editState) {
                powerPlan.readonly(true);
                powerPlan.element.prev().removeClass("k-state-default");
                powerPlan.element.prev().addClass("k-state-disabled");
            }

            InterruptionStatus = dropdownListGenerator($("#@Field.Status"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.INTERRUPTION_STATUS", "@Field.Text", "@Component.OptionLabel", true, null);
            InterruptionStatus.bind("dataBound", elementOnBound);
            InterruptionStatus.bind("change", elementOnChange);

            interruptionLocation = dropdownListGenerator(
                $("#@Field.Location"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.INTERRUPTION_LOCATION", "@Field.Text",
                "@Component.OptionLabel", false, null
            );
            interruptionLocation.bind("dataBound", elementOnBound);
            interruptionLocation.bind("change", elementOnChange);

            @*$("#@Field.StartHour").kendoTimePicker({
                format: "HH:mm",
                dateInput: true,
                interval: 1
            });
            $("#@Field.EndHour").kendoTimePicker({
                format: "HH:mm",
                dateInput: true,
                interval: 1
            });*@

			startHour = $("#@Field.StartHour").kendoTimePicker({
				interval: 1
            }).data("kendoTimePicker");

			endHour = $("#@Field.EndHour").kendoTimePicker({
				interval: 1
            }).data("kendoTimePicker");

            //$("#StartHour").trigger("change");
        }

        function onStatusChange(e) {
            //$(".form-horizontal").find("input[type=text], input[type=hidden], textarea, select, input[type=password]").each(function () {
            //    var req = $(this).attr("data-val-required") || $(this).attr("data-val-requiredif");
            //    var id = $(this).attr("id");
            //    var label = $(this).parentsUntil("form").find("label[for=\"" + $(this).attr("id") + "\"]");
            //    var reqAttr = $(this).attr("data-val-required");
            //    var reqIfAttr = $(this).attr("data-val-requiredif");               
            //        var text = label.text();
            //        if (text.length > 0) {
            //            if (reqAttr !== undefined && reqIfAttr !== undefined)
            //                label.append("<span style=\"color:red\" class=\"asterisk\"> *</span>");
            //            else {
            //                $(id).removeAttr("required");
            //                $(id + "_label span").remove();                            
            //            }
            //        }
            //});
        }

        //change kendo Timpicker option
        function onStartDateChange(e) {
            //e.preventDefault();

            var startHour = $('#StartHour').data('kendoTimePicker');
            var endHour = $('#EndHour').data('kendoTimePicker');
            var startValue = this.value();
            var endValue = endHour.value();

            if (startValue) {
                startValue = new Date(startValue);
                maxValue = new Date(startValue);
                startValue.setMinutes(startValue.getMinutes() + this.options.interval);
                maxValue.setMinutes(maxValue.getMinutes() - this.options.interval);
                console.log(maxValue);
                endHour.max(maxValue);
                endHour.min(startValue);
                endHour.value(startValue);
            }

            validateForm();
        }
    </script>
}