﻿@model WebUI.Areas.OperationData.Models.PltpFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action(ActionSite.Detail) + "?id=" + Model.TaskReportId + "&&tab=tab1";
    ViewBag.Title = "Pltp";
}

<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TaskReportId)
            @Html.HiddenFor(model => model.AreaId)
            @Html.HiddenFor(model => model.Periode)

            <div class="form-group">
                @Html.LabelFor(model => model.PowerPlantId, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextBoxFor(model => model.PowerPlantId, new { @class = "form-control always-validate" })
                    @Html.ValidationMessageFor(model => model.PowerPlantId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.EnergyGross, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.EnergyGross, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.EnergyGross, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.EnergyGrossUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.EnergyGrossUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EnergyGrossUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.EnergyNett, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.EnergyNett, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.EnergyNett, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.EnergyNettUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.EnergyNettUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EnergyNettUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.SteamUtilization, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.SteamUtilization, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.SteamUtilization, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.SteamUtilizationUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.SteamUtilizationUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SteamUtilizationUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.WasteRockMufller, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.WasteRockMufller, new { @class = "form-control-decimal-n5" })
                    @Html.ValidationMessageFor(model => model.WasteRockMufller)
                </div>
                @Html.LabelFor(model => model.WasteRockMufllerUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.WasteRockMufllerUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WasteRockMufllerUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Ssc, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.Ssc, new { @class = "form-control-decimal-n4", @readonly="readonly" })
                    @Html.ValidationMessageFor(model => model.Ssc, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.SscUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.SscUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SscUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.GppsShutdown, new { @class = "col-xs-3 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.GppsShutdown, new { @class = "form-control-decimal-n4" })
                        @Html.ValidationMessageFor(model => model.GppsShutdown)
                    </div>
                    @Html.LabelFor(model => model.GppsShutdownUnit, new { @class = "col-xs-1 control-label" })
                    <div class="col-xs-2">
                        @Html.TextBoxFor(model => model.GppsShutdownUnit, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GppsShutdownUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImportEnergy, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ImportEnergy, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.ImportEnergy, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.ImportEnergyUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.ImportEnergyUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ImportEnergyUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.SgssShutdown, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.SgssShutdown, new { @class = "form-control-decimal-n4" })
                    @Html.ValidationMessageFor(model => model.SgssShutdown, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.SgssShutdownUnit, new { @class = "col-xs-1 control-label" })
                <div class="col-xs-2">
                    @Html.TextBoxFor(model => model.SgssShutdownUnit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SgssShutdownUnit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Notes, new { @class = "col-xs-3 control-label" })
                <div class="col-xs-5">
                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var powerPlan = $().data("kendoDropDownList"),
            energyGrossUnit = $().data("kendoDropDownList"),
            energyNettUnit = $().data("kendoDropDownList"),
            steamUtilizationUnit = $().data("kendoDropDownList"),
            wasteRockMufflerUnit = $().data("kendoDropDownList"),
            sscUnit = $().data("kendoDropDownList"),
            gppsUnit = $().data("kendoDropDownList"),
            importEnergyUnit = $().data("kendoDropDownList"),
            sgssUnit = $().data("kendoDropDownList"),
            energyGross = $("#EnergyGross").data("kendoNumericTextBox"),
            steamUtilization = $("#SteamUtilization").data("kendoNumericTextBox"),
            ssc = $("#Ssc").data("kendoNumericTextBox");

        var periode,
            editState = "@currentAction.ToLower()" === "@ActionSite.EditPltp.ToLower()";

        $(function () {
            initElemetn();
        });

        function calculateSsc() {
            var result = parseFloat(steamUtilization.value()) / parseFloat(energyGross.value() / 1000);
            result = isNaN(result) || energyGross.value() == 0 ? 0 : result; 
            ssc.value(result);
        }

        function powerPlanOnChange(e) {
            $(".form-control-decimal-n4").addClass("always-validate");
            validateForm();
        }

        function powerPlanOnDataBound(e) {            
            validateForm();
        }

        function initElemetn() {
            periode = "@Model.Periode";

            //init dropdown power plan
            powerPlan = dropdownListGenerator(
                $("#@Field.PowerPlantId"),
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.POWERPLANT", "@Field.Name",
                "@Component.OptionLabel", false,
                [
                    "@Model.AreaId",
                    kendo.toString(periode, "@DisplayFormat.SqlDateFormat"),
                    "@ViewBag.SelectedPowerPlanId", "@TargetTab.TAB_PLTP.ToDescription()"]
            );

            powerPlan.bind("dataBound", powerPlanOnDataBound);
            powerPlan.bind("change", powerPlanOnChange);

            energyGross.bind("change", calculateSsc);
            steamUtilization.bind("change", calculateSsc);

            if (editState)
            {
                powerPlan.readonly(true);
                powerPlan.element.prev().removeClass("k-state-default");
                powerPlan.element.prev().addClass("k-state-disabled");
            }

            energyGrossUnit = dropdownListGenerator($("#@Field.EnergyGrossUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.ENERGY_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            energyGrossUnit.value("@EnergyUnit.KW_HR.ToString()");

            energyNettUnit = dropdownListGenerator($("#@Field.EnergyNettUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.ENERGY_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            energyNettUnit.value("@EnergyUnit.KW_HR.ToString()");

            steamUtilizationUnit = dropdownListGenerator($("#@Field.SteamUtilizationUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.MUFFLER_UNIT", "@Field.Text",
                "@Component.OptionLabel", true, null);
            steamUtilizationUnit.value("@RockMufflerUnit.T.ToString()");

            wasteRockMufflerUnit = dropdownListGenerator($("#@Field.WasteRockMufllerUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.MUFFLER_UNIT", "@Field.Name",
                "@Component.OptionLabel", true, null);

            sscUnit = dropdownListGenerator($("#@Field.SscUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.OTHER_UNIT", "@Field.Name",
                "@Component.OptionLabel", true, null);
            sscUnit.value("@OtherUnit.TON_MW_HR.ToString()");

            gppsUnit = dropdownListGenerator($("#@Field.GppsShutdownUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.OTHER_UNIT", "@Field.Name",
                "@Component.OptionLabel", true, null);
            gppsUnit.value("@OtherUnit.HR.ToString()");

            importEnergyUnit = dropdownListGenerator($("#@Field.ImportEnergyUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.ENERGY_UNIT", "@Field.Name",
                "@Component.OptionLabel", true, null);
            importEnergyUnit.value("@EnergyUnit.KW_HR.ToString()");

            sgssUnit = dropdownListGenerator($("#@Field.SgssShutdownUnit"),
                "@Url.Action(ActionSite.BindingOption)", "@OptionType.OTHER_UNIT", "@Field.Name",
                "@Component.OptionLabel", true, null);
            sgssUnit.value("@OtherUnit.HR.ToString()");

            steamUtilizationUnit.readonly(true);
            steamUtilizationUnit.element.prev().removeClass("k-state-default");
            steamUtilizationUnit.element.prev().addClass("k-state-disabled");

            importEnergyUnit.readonly(true);
            importEnergyUnit.element.prev().removeClass("k-state-default");
            importEnergyUnit.element.prev().addClass("k-state-disabled");

            energyGrossUnit.readonly(true);
            energyGrossUnit.element.prev().removeClass("k-state-default");
            energyGrossUnit.element.prev().addClass("k-state-disabled");

            energyNettUnit.readonly(true);
            energyNettUnit.element.prev().removeClass("k-state-default");
            energyNettUnit.element.prev().addClass("k-state-disabled");

            sscUnit.readonly(true);
            sscUnit.element.prev().removeClass("k-state-default");
            sscUnit.element.prev().addClass("k-state-disabled");

            gppsUnit.readonly(true);
            gppsUnit.element.prev().removeClass("k-state-default");
            gppsUnit.element.prev().addClass("k-state-disabled");

            sgssUnit.readonly(true);
            sgssUnit.element.prev().removeClass("k-state-default");
            sgssUnit.element.prev().addClass("k-state-disabled");
        }
    </script>    
}