﻿@model WebUI.Areas.OperationData.Models.ActualPlanFormStub
@{

    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    string backLink = Url.Action(ActionSite.Detail) + "?id=" + Model.TaskReportId +
                      "&&tab=" + TargetTab.TAB_ACTUAL_PLAN.ToDescription();

    ViewBag.Title = "Rencana Realisasi";
}

<div class="ibox float-e-margins">

    <div class="ibox-title">
        <h5><small>Mohon isi semua input yang berbintang *</small></h5>
    </div>

    <div class="ibox-content">
        @using (Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TaskReportId)
            @*@Html.HiddenFor(model => model.CurrentPlanning)*@

            <div class="form-group">
                @Html.LabelFor(model => model.AreaId, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-3">
                    @Html.TextBoxFor(model => model.AreaId, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Planning, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextAreaFor(model => model.Planning, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Planning, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Actual, new { @class = "col-xs-2 control-label always-validate" })
                <div class="col-xs-6">
                    @Html.TextAreaFor(model => model.Actual, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Actual, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.ActualCase, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-6">
                    @Html.TextAreaFor(model => model.ActualCase, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ActualCase)
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="@backLink" class="btn btn-link">Batal</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var area = $().data("kendoDropDownList");

        $(function () {
            initElemetn();
        });

        function elementOnChange(e) {
            validateForm();
        }

        function elementOnBound(e) {
            validateForm();
        }

        function initElemetn() {
            //init dropdown power plan
            area = dropdownListGenerator($("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA", "@Field.Name", "@Component.OptionLabel", false, null);
            area.value("@Model.AreaId");
        }
    </script>
}