﻿@using Common.Enums
@using System.Reflection

@{
    Layout = "~/Views/Shared/Inspinia/_Layout.cshtml";
    ViewBag.Title = "Input Data";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.OperationData.Controllers.InputDataController)ViewContext.Controller;
    var user = User as Principal;
}

<div class="row">
    <div class="form-group ">
        <div id="alert-msg" class="alert alert-danger hide"><a class="close" data-dismiss="alert">×</a><p id="msg"></p></div>
    </div>
</div>
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">My Tasks</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Approved Data</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <div class="tab-title">
                    <button id="btnCreate" class="btn btn-primary">Input Manual</button>
                    <input id="files" name="files" type="file" style="display:none" accept=".xlsx">
                    <input id="filesMultiple" name="files" type="file" style="display:none" accept=".xlsx">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Excel Template <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @if (User.IsInRole(UserRole.Superadmin.ToString()))
                            {
                                <li><a href="#" id="btnUploadAll">Multiple Upload</a></li>
                            }
                            <li><a href="#" id="btnUpload">Upload</a></li>
                            <li><a href="javascript:download()">Download</a></li>
                        </ul>
                    </div>
                    <button id="btnApprove" class="btn btn-primary pull-right" disabled>Approve</button>
                </div>
                <div id="grid"></div>
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body">
                <div id="grid-approve"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Form -->
<div id="modalForm" class="modal" role="dialog" style="vertical-align: middle;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Modal Title</h4>
            </div>
            <div class="modal-body" style="min-height: 80px;"></div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">Cancel</button>
                <button id="btnSave" type="button" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Task Report Form -->
<div id="modalFormTaskReport" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Modal Title</h4>
            </div>
            <div class="modal-body" style="min-height: 150px;"></div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">Batal</button>
                <button id="btnSave" type="button" class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Upload Form -->
<div id="modalUploadForm" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: white">Modal Title</h4>
            </div>
            <div class="modal-body" style="min-height: 80px;"></div>
            <div class="modal-footer">
                <button id="btnCancel" type="button" class="btn btn-default">Batal</button>
                <button id="btnImport" type="button" class="btn btn-primary">Upload Template</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var $btnUpload = $("#btnUpload"),
            $btnUploadAll = $("#btnUploadAll");
        var grid = $().data("kendoGrid"),
            gridApproved = $().data("kendoGrid");
        var statusWaiting = "@DataStatus.WAITING.ToString()",
            statusApproved = "@DataStatus.APPROVED.ToString()";
        var now = new Date();
        var per;

        $(function () {
            initElement();
        });


        function deleteItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            goToDeletePage("@Url.Action(ActionSite.Delete)" + "?id=" + data.id, this.dataSource);
        }

        //function detailItem(e) {
        //    e.preventDefault();
        //    $("#content").empty();
        //    var data = this.dataItem(getDataRowGrid(e));

        //    $('#myModal').modal({ show: 'true', backdrop: 'true', keyboard: 'true' });
        //}

        function rejectItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));
            console.log(data)
            swal(
                {
                    title: "Reject Data",
                    text: "Apakah anda yakin untuk mereject data ini?",
                    type: "warning",
                    cancelButtonText: "Batal",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-primary",
                    confirmButtonText: "Ya",
                    closeOnConfirm: false
                },
                function () {
                    swal({
                        title: "Loading",
                        text: "Harap Menunggu...",
                        imageUrl: APP_NAME + "Content/sweet-alert/ajax-loader.gif",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden",
                        //imageSize: "80x80"
                    });

                    $.ajax({
                        url: "@Url.Action("Reject")" + "?id=" + data.id,
                        type: "POST",
                        success: function (data) {
                            if (data.Success === true) {
                                if (datasource !== null) {
                                    datasource.read();
                                }

                                swal("Status", "Data berhasil direject", "success");
                                //callback(data);
                            }
                            else {
                                swal("Error", data.Message, "error");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Server Error. Harap hubungi administrator");
                        }
                    });
                });
        }

        function approvedItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            swal(
                {
                    title: "Approve Data",
                    text: "Apakah anda yakin untuk mengapprove data ini?",
                    type: "warning",
                    cancelButtonText: "Batal",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-primary",
                    confirmButtonText: "Ya",
                    closeOnConfirm: false
                },
                function () {
                    swal({
                        title: "Loading",
                        text: "Harap Menunggu...",
                        imageUrl: "/Content/sweet-alert/ajax-loader.gif",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden"
                    });

                    $.ajax({
                        url: "@Url.Action(ActionSite.EdiTaskReport)" + "?id=" + data.Id,
                        type: "@DataSource.Type.Post",
                        success: function (data) {
                            if (data.Success === true) {
                                if (grid.dataSource !== null) {
                                    grid.dataSource.read();
                                    gridApproved.dataSource.read();
                                }
                                swal("Status", data.Message, "success");
                            }
                            else {
                                swal(data.Message);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Server Error. Harap hubungi administrator");
                        }
                    });
                });
        }

        $btnUpload.on("click", function (e) {
            @*showModalUpload("Upload Template", "@Url.Action("UploadPopUp", ControllerSite.InputData, new { area = AreaSite.OperationData })");*@
            var i = 0;
            $("#files").kendoUpload({
                async: {
                    saveUrl: "@Url.Action(ActionSite.UploadMultiple, ControllerSite.InputData, new { area = AreaSite.OperationData })",
                    batch: true,
                    autoUpload: true,
                    multiple: false,
                },
                multiple: false,
                allowedExtensions: [".xlsx"],
                success: function (e) {
                    
                    var title = "",
                        text = "",
                        type = "",
                        msg = "";
                    //initGrid();
                    if (!e.response.Success) {
                        msg = "Upload excel failed";
                        title = "Warning";
                        text = e.response.Message;
                        type = "warning";
                        $("#msg").html(text);
                        $("#alert-msg").removeClass("hide").addClass("show");
                    } else {
                        msg = "Upload excel success";
                        title = "Success";
                        text = e.response.Message;
                        type = "success";
                        $("#msg").html(text);
                        $("#alert-msg").removeClass("alert-danger").addClass("alert-success");
                        $("#alert-msg").removeClass("hide").addClass("show");
                    }

                    grid.dataSource.read();;

                    if (i < 1) {
                        swal(
                            {
                                title: title,
                                text: msg,
                                type: type,
                                confirmButtonClass: "btn btn-primary",
                                confirmButtonText: "OK",
                                closeOnConfirm: true
                            },
                        );
                    }
                    i++;
                },
                upload: function () {
                    $(".sweet-alert").show()
                        .prev().show();

                    swal({
                        title: "Uploading",
                        text: "Please wait...",
                        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden"
                    });
            },
            showFileList: false,
            error: function (e) {
                swal("Error", "Server Error. Contact administrator", "error");
            }
            }).closest(".k-upload").hide();
            $("#files").trigger("click");

        });

        $btnUploadAll.on("click", function (e) {
            var i = 0;
            $("#filesMultiple").kendoUpload({
                async: {
                    saveUrl: "@Url.Action(ActionSite.UploadMultiple, ControllerSite.InputData, new { area = AreaSite.OperationData })",
                    batch: true,
                    autoUpload: true,
                    multiple: true,
                },
                multiple: true,
                allowedExtensions: [".xlsx"],
                success: function (e) {
                    
                    var title = "",
                        text = "",
                        type = "",
                        msg = "";
                    //initGrid();
                    if (!e.response.Success) {
                        msg = "Upload excel failed";
                        title = "Warning";
                        text = e.response.Message;
                        type = "warning";
                        $("#msg").html(text);
                        $("#alert-msg").removeClass("hide").addClass("show");
                    } else {
                        msg = "Upload excel success";
                        title = "Success";
                        text = e.response.Message;
                        type = "success";
                        $("#msg").html(text);
                        $("#alert-msg").removeClass("alert-danger").addClass("alert-success");
                        $("#alert-msg").removeClass("hide").addClass("show");
                    }

                    grid.dataSource.read();

                    if (i < 1) {
                        swal(
                            {
                                title: title,
                                text: msg,
                                type: type,
                                confirmButtonClass: "btn btn-primary",
                                confirmButtonText: "OK",
                                closeOnConfirm: true
                            },
                        );
                    }
                    i++;
                },
                upload: function () {
                    $(".sweet-alert").show()
                        .prev().show();

                    swal({
                        title: "Uploading",
                        text: "Please wait...",
                        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden"
                    });
            },
            showFileList: false,
            error: function (e) {
                swal("Error", "Server Error. Contact administrator", "error");
            }
            }).closest(".k-upload").hide();
            $("#filesMultiple").trigger("click");

            //return false;
        });


        function download() {
            showModal("Download Template", "@Url.Action(ActionSite.Download, ControllerSite.InputData, new { area = AreaSite.OperationData })");
        }

       // /**
       //    * Generate modal form
       //*/
        function showModal(title, url) {
            var $modal = $("#modalForm").clone(),
                $modalBody = $modal.find(".modal-body"),
                $modalFooter = $modal.find(".modal-footer"),
                $btnCancel = $modal.find("#btnCancel"),
                $btnSave = $modal.find("#btnSave");

            $modal.find(".modal-title").text(title);

            //show loading progress
            kendo.ui.progress($modalBody, true);

            //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var $form = $modalBody.find(".form-horizontal");
                    var $btnSave = $modalFooter.find("#btnSave");

                    $btnSave.prop("disabled", "disabled");

                    initAreaOptions($("#AreaId"));

                    $("#AreaId").on("change", function () {
                        area = $("#AreaId").val();
                        if (area !== "")
                            $btnSave.prop("disabled", false);
                        else
                            $btnSave.prop("disabled", "disabled");
                    });

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);

                    //set asterisk sign
                    requiredSign();

                    //set validator
                    $.validator.unobtrusive.parse($form);
                    validateForm();

                    $form.find("input").on("keyup blur", function (e) {
                        if ($form.valid()) {
                            $btnSave.prop("disabled", false);
                        } else {
                            $btnSave.prop("disabled", "disabled");
                        }
                    });



                    //set btn save click event
                    $btnSave.on("click", function (e) {
                        var id = $("#AreaId").val();

                        window.location.href = kendo.format("{0}{1}", "@Url.Action(ActionSite.GetTemplate, ControllerSite.InputData, new { area=AreaSite.OperationData})?id=", id);
                        $modal.modal("hide");
                    });
                });

                //set btn cancel click event
                $btnCancel.on("click", function (e) {
                    $modal.modal("hide");
                });
            });

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                e.target.remove();
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
        }

        /**
           * Generate modal form upload popup
       */
        function showModalUpload(title, url) {
            var $modal = $("#modalUploadForm").clone(),
                $modalBody = $modal.find(".modal-body"),
                $btnCancel = $modal.find("#btnCancel"),
                $btnImport = $modal.find("#btnImport");

            $modal.find(".modal-title").text(title);

            //show loading progress
            kendo.ui.progress($modalBody, true);

            //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var $form = $modalBody.find(".form-horizontal");
                    var $periode = $form.find("#@Field.Periode");
                    var periode;

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);

                    //set asterisk sign
                    requiredSign();

                    //set validator
                    $.validator.unobtrusive.parse($form);
                    var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');
                    periode = $periode.kendoDatePicker({
                        format: "@DisplayFormat.SqlDateFormat",
                        dateInput: true,
                        max: new Date(todayDate)
                    }).data("kendoDatePicker");

                    $form.find("input").on("keyup blur", function (e) {
                        if ($form.valid()) {
                            $btnImport.prop("disabled", false);
                        } else {
                            $btnImport.prop("disabled", "disabled");
                        }
                    });

                    //set submit event
                    $form.submit(function (e) {
                        $modal.modal("hide");
                        e.preventDefault();
                        $("#files").trigger("click");

                        if (!$form.find("input").hasClass("input-validation-error")) {
                            kendo.ui.progress($modalBody, true);

                            per = kendo.toString(periode.value(), "@DisplayFormat.SqlDateFormat");

                            $("#files").kendoUpload({
                                async: {
                                    saveUrl: "@Url.Action(ActionSite.Upload, ControllerSite.InputData, new { area = AreaSite.OperationData })?periode=" + per
                                },
                                multiple: false,
                                allowedExtensions: [".xlsx"],
                                success: function (e) {
                                    var title = "",
                                        text = "",
                                        type = "",
                                        msg = "";
                                    initGrid();
                                    if (!e.response.Success) {
                                        msg = "Upload excel failed";
                                        title = "Warning";
                                        text = e.response.Message;
                                        type = "warning";
                                        $("#alert-msg").html(text);
                                        $("#alert-msg").removeClass("hide").addClass("show");
                                    } else {
                                        msg = "Upload excel success";
                                        title = "Success";
                                        text = e.response.Message;
                                        type = "success";
                                        $("#alert-msg").html(text);
                                        $("#alert-msg").removeClass("alert-danger").addClass("alert-success");
                                        $("#alert-msg").removeClass("hide").addClass("show");
                                    }

                                    swal(
                                        {
                                            title: title,
                                            text: msg,
                                            type: type,
                                            confirmButtonClass: "btn btn-primary",
                                            confirmButtonText: "OK",
                                            closeOnConfirm: true
                                        },
                                        @*function () {
                                            window.location.href = "@Url.Action(ActionSite.Index)";
                                        }*@
                                    );


                                },
                                upload: function () {
                                    $(".sweet-alert").show()
                                        .prev().show();

                                    swal({
                                        title: "Uploading",
                                        text: "Please wait...",
                                        imageUrl: "@Url.Content("~/Content/sweet-alert/ajax-loader.gif")",
                                        closeOnConfirm: false,
                                        confirmButtonClass: "hidden"
                                    });
                                },
                                showFileList: false,
                                error: function (e) {
                                    swal("Error", "Server Error. Contact administrator", "error");
                                }
                            }).closest(".k-upload").hide();
                        } else {
                            $btnImport.prop("disabled", "disabled");
                        }

                        return false;
                    });

                    //set btn save click event
                    $btnImport.on("click", function (e) {
                        $form.submit();
                    });
                });

                //set btn cancel click event
                $btnCancel.on("click", function (e) {
                    $modal.modal("hide");
                });
            });

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                e.target.remove();
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
        }

        /**
           * Generate modal form task report
       */
        function taskReportShowModal(title, url) {
            var $modal = $("#modalFormTaskReport").clone(),
                $modalBody = $modal.find(".modal-body"),
                $btnCancel = $modal.find("#btnCancel"),
                $btnSave = $modal.find("#btnSave");

            $modal.find(".modal-title").text(title);

            //show loading progress
            kendo.ui.progress($modalBody, true);

            //modal on show event
            $modal.on("shown.bs.modal", function (e) {
                $modalBody.load(url, function (response, status, xhr) {
                    var $form = $modalBody.find(".form-horizontal");
                    var $area = $form.find("#@Field.AreaId"),
                        $periode = $form.find("#@Field.Periode");
                    var periode;
                    var optionLabel = "@Component.OptionLabel";

                    $btnSave.prop("disabled", "disabled");

                    @if (!user.AreaId.HasValue || user.AreaId == 0)
                    {
                        @:optionLabel = "@Component.OptionLabelAreaAll";
                    }

                    //hide loading progress
                    kendo.ui.progress($modalBody, false);

                    //set asterisk sign
                    requiredSign();

                    //set validator
                    $.validator.unobtrusive.parse($form);
                    initClientSideValidation($form, $modal);


                    //remove default submit event
                    $form.off("submit");

                    //init dropdown area
                    $area = dropdownListGenerator($("#@Field.AreaId"), "@Url.Action(ActionSite.BindingOption)", "@OptionType.AREA", "@Field.Name", optionLabel, true, null);

                    $area.bind("dataBound", elementOnDataBound);
                    $area.bind("change", elementOnChange);
                    var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');
                    $periode.kendoDatePicker({
                        format: "@DisplayFormat.SqlDateFormat",
                        dateInput: true,
                        max: new Date(todayDate)
                    }).data("kendoDatePicker");

                    periode = $periode.data("kendoDatePicker");
                    periode.value(now);

                    $form.find("input").on("change", function (e) {
                        if ($form.valid()) {
                            $btnSave.prop("disabled", false);
                        } else {
                            $btnSave.prop("disabled", "disabled");
                        }
                    });

                    //set submit event
                    $form.submit(function (e) {
                        $modal.modal("hide");
                        e.preventDefault();

                        if (!$form.find("input").hasClass("input-validation-error")) {
                            kendo.ui.progress($modalBody, true);

                            $.ajax({
                                type: $(this).attr("method"),
                                url: $(this).attr("action"),
                                data: $(this).serialize(),
                                success: function (data) {
                                    if (data.Success) {
                                        swal("Success", data.Message, "success");
                                        $modal.modal("hide");
                                        grid.dataSource.read();
                                    }
                                    else {
                                        swal(data.Message);
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    swal("Error", "Server Error. Contact administrator", "error");
                                }
                            });
                        } else {
                            $btnSave.prop("disabled", "disabled");
                        }

                        return false;
                    });

                    //set btn save click event
                    $btnSave.on("click", function (e) {
                        $form.submit();
                    });
                });

                //set btn cancel click event
                $btnCancel.on("click", function (e) {
                    $modal.modal("hide");
                });
            });

            //modal on hide event
            $modal.on("hide.bs.modal", function (e) {
                e.target.remove();
            });

            //show modal
            $modal.modal({
                backdrop: "static"
            });
        }

        function elementOnDataBound(e) {
            validateForm();
        }

        function elementOnChange(e) {
            validateForm();
        }

        function initGrid() {
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Name") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.Area, Field.Name)";
                                        filter.operator = "@FilterOperator.Contains.ToDescription()";
                                        filter.value = filter.value;
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Name") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Area, Field.Name)";
                                    }
                                }
                            }

                            options.args = [statusWaiting];

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.AreaId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.Name": { type: "@DataSource.Schema.Type.String" },
							"@Field.Periode": { type: "@DataSource.Schema.Type.Date" },
							"@Field.SourceInput": { type: "@DataSource.Schema.Type.String" },
							"@Field.Status": { type: "@DataSource.Schema.Type.String" },
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				//filter: { field: "Status", operator: "contains", value: "RETRIEVED" }
				sort: { field: "@Field.Periode", dir: "@SortOrder.Descending.ToDescription()" }
            });

            grid = $("#grid").kendoGrid({
                dataSource: ds,
                autoBind: false,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                change: function (e) {
                    var checkedBox = $(e.sender.element).find("input.k-checkbox[aria-checked=\"true\"]");
                    if (checkedBox.length === 0) {
                        $("#btnApprove").attr("disabled", "disabled");
                    } else {
                        $("#btnApprove").removeAttr("disabled");
                    }
                },
                columns: [
                    {
                        selectable: true,
                        width: "15%"

                    },
                    {
                        command: [
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "delete",
                                text: "@Component.Grid.Command.Delete",
                                click: deleteItem,
                                imageClass: "glyphicon glyphicon-trash",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            {
                                name: "approve",
                                text: "@Component.Grid.Command.Approve",
                                click: approvedItem,
                                imageClass: "glyphicon glyphicon-thumbs-up",
                                template: GRID_COMMAND_TEMPLATE,
                                visible: function (data) {
                                    @if (User.IsInRole(UserRole.Superadmin.ToString()) || User.IsInRole(UserRole.OPERATION_SUPERVISOR.ToString()) || User.IsInRole(UserRole.OPERATION_ADMIN.ToString()))
                                    {
                                        @:return true;
                                    }
                                    else
                                    {
                                        @:return false;
                                    }
                                }
                            }
                        ],
                        width: "40%",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.Periode",
                        title: "Date",
                        width: "100%",
                        format: "@DisplayFormat.JsCompactDateFormat",
                        filterable: rangeDateFilterable
                    },
                    {
                        field: "@Field.Name",
                        title: "Area",
                        width: "100%",
                    },
                    {
                        field: "@Field.SourceInput",
                        title: "Source Input",
                        width: "100%",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "100%",
                        filterable: {
                            ui: statusOption,
                            operators: {
                                string: {
                                    eq: "Sama Dengan"
                                }
                            },
                            extra: false
                        }
                    }
                ]
            }).data("kendoGrid");
            grid.dataSource.read();

            @if (User.IsInRole(UserRole.Superadmin.ToString()) || User.IsInRole(UserRole.OPERATION_SUPERVISOR.ToString()) || User.IsInRole(UserRole.OPERATION_ADMIN.ToString()))
            {
                 @:console.log("app");
                @:grid.showColumn(0);
                @:$("#btnApprove").show();

            }
            else
            {
                @:console.log("ada");
                @:grid.hideColumn(0);
                @:$("#btnApprove").hide();
            }
        }

        function initGridApproved() {
            var ds2 = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "@Url.Action(ActionSite.Binding)",
                        dataType: "@DataSource.DataType.Json",
                        type: "@DataSource.Type.Post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "@DataSource.Operation.Read" && options.models) {
                            return kendo.stringify(options);
                        } else {
                            if (options.filter) {
                                var filters = options.filter.filters;

                                for (var i in filters) {
                                    var filter = filters[i];

                                    if (filter.field === "@Field.Name") {
                                        filter.field = "@FieldHelper.ParseRelationField(Table.Area, Field.Name)";
                                        filter.operator = "@FilterOperator.Contains.ToDescription()";
                                        filter.value = filter.value;
                                    }
                                }
                            }

                            if (options.sort) {
                                var sorts = options.sort;

                                for (var i in sorts) {
                                    var sort = sorts[i];

                                    if (sort.field === "@Field.Name") {
                                        sort.field = "@FieldHelper.ParseRelationField(Table.Area, Field.Name)";
                                    }
                                }
                            }

                            options.args = [statusApproved];

                            return options;
                        }
                    }
                },
				schema: {
                    data: "@DataSource.Schema.Property.Data",
                    total: "@DataSource.Schema.Property.Total",
                    model: {
                        id: "@Field.Id",
                        fields: {
							"@Field.AreaId": { type: "@DataSource.Schema.Type.Number" },
							"@Field.Name": { type: "@DataSource.Schema.Type.String" },
							"@Field.Periode": { type: "@DataSource.Schema.Type.Date" },
							"@Field.SourceInput": { type: "@DataSource.Schema.Type.String" },
                            "@Field.Status": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ApprovedBy": { type: "@DataSource.Schema.Type.String" },
                            "@Field.ModifiedDateTimeUtc": { type: "@DataSource.Schema.Type.Date" }
                        }
                    }
                },
                pageSize: 10,
                serverFiltering: true,
                serverPaging: true,
                serverSorting: true,
				sort: { field: "@Field.Periode", dir: "@SortOrder.Descending.ToDescription()" }
            });

            gridApproved = $("#grid-approve").kendoGrid({
                dataSource: ds2,
                autoBind: false,
                filterable: kendoGridFilterable,
                pageable: { refresh: true,  pageSizes: true,  },
                sortable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "edit",
                                text: "@Component.Grid.Command.Edit",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-edit",
                                template: GRID_COMMAND_TEMPLATE,
                                visible: function (dataItem) {
                                    if ("@User.IsInRole(UserRole.Superadmin.ToString())" == "@true" || "@User.IsInRole(UserRole.OPERATION_SUPERVISOR.ToString())" == "@true") {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            },
                            {
                                name: "detail",
                                text: "@Component.Grid.Command.Detail",
                                click: detailItem,
                                imageClass: "glyphicon glyphicon-list-alt",
                                template: GRID_COMMAND_TEMPLATE
                            },
                            @*{
                                name: "reject",
                                text: "Reject",
                                click: rejectItem,
                                imageClass: "glyphicon glyphicon-remove",
                                template: GRID_COMMAND_TEMPLATE,
                                visible: function (dataItem) {
                                    if (!dataItem && ("@User.IsInRole(UserRole.Superadmin.ToString())" == "@true" || "@User.IsInRole(UserRole.OPERATION_SUPERVISOR.ToString())" == "@true")) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                            },*@
                        ],
                        width: "100px",
                        attributes: { "class": "command" }
                    },
                    {
                        field: "@Field.Periode",
                        title: "Date",
                        width: "100px",
                        format: "@DisplayFormat.JsCompactDateFormat",
                        filterable: rangeDateFilterable
                    },
                    {
                        field: "@Field.Name",
                        title: "Area",
                        width: "100px"
                    },
                    {
                        field: "@Field.SourceInput",
                        title: "Source Input",
                        width: "100px",
                    },
                    {
                        field: "@Field.Status",
                        title: "Status",
                        width: "100px",
                        filterable: {
                            ui: statusOption,
                            operators: {
                                string: {
                                    eq: "Sama Dengan"
                                }
                            },
                            extra: false
                        }
                    },
                    {
                        field: "@Field.ModifiedBy",
                        title: "Approved By",
                        width: "100px",
                    },
                    {
                        field: "@Field.ModifiedDateTimeUtc",
                        title: "Approved Date",
                        format: "@DisplayFormat.JsCompactDateTimeFormat",
                        width: "100px"
                    },
                ],
            }).data("kendoGrid");

            gridApproved.dataSource.read();
        }

        function initElement() {
            $("#btnCreate").on("click", function (e) {
                taskReportShowModal(
                    "Tambah Task Report",
                    "@Url.Action(ActionSite.Create)"
                );
            });
            $("#btnApprove").on("click", btnApproveOnClick);
            initGrid();
            initGridApproved();


        }

        function btnApproveOnClick(e) {
            var listId = [];
            var gridData = grid;

            var $selected = gridData.tbody.find("tr.k-state-selected[role=\"row\"]");
            if ($selected.length === 0) {
                swal("Warning", "Select min. 1 data!", "warning");
            } else {
                $selected.each(function (i) {
                    console.log(grid.dataItem(this).Id);
                    listId.push(grid.dataItem(this).Id);
                });

                console.log(listId);

                swal(
                {
                    title: "Approve Data",
                    text: "Apakah anda yakin untuk mengapprove data ini?",
                    type: "warning",
                    cancelButtonText: "Batal",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-primary",
                    confirmButtonText: "Ya",
                    closeOnConfirm: false
                },
                function () {
                    swal({
                        title: "Loading",
                        text: "Harap Menunggu...",
                        imageUrl: "/Content/sweet-alert/ajax-loader.gif",
                        closeOnConfirm: false,
                        confirmButtonClass: "hidden"
                    });

                    $.ajax({
                         url: "@Url.Action(ActionSite.EdiTaskReportSelected)",
                        type: "@DataSource.Type.Post",
                        dataType: "@DataSource.DataType.Json",
                        data: {
                            "listId": listId
                        },
                        success: function (data) {
                            if (data.Success === true) {
                                if (grid.dataSource !== null) {
                                    grid.dataSource.read();
                                    gridApproved.dataSource.read();
                                }
                                swal("Status", data.Message, "success");
                            }
                            else {
                                swal(data.Message);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("Server Error. Harap hubungi administrator");
                        }
                    });
                });
            }
        }

        function gridOnDataBound(e) {
            grid.tbody.find("tr[role=\"row\"]").each(function (i) {
                var model = grid.dataItem(this);

                if (model.HasApproved) {
                    $(this).find(".k-grid-approve")
                        .removeClass("k-grid-approve")
                        .children().eq(0)
                        .addClass("k-state-disabled")
                        .attr("title", "Data tidak dapat diapprove.\nKarena sudah diapprove.");

                    $(this).find(".k-grid-delete")
                        .removeClass("k-grid-delete")
                        .children().eq(0)
                        .addClass("k-state-disabled")
                        .attr("title", "Data tidak dapat dihapus.\nKarena sudah diapprove.");
                }
            });

            dataBoundTooltip(e);
        }

        function detailItem(e) {
            e.preventDefault();
            var data = this.dataItem(getDataRowGrid(e));

            window.location.href = "@Url.Action(ActionSite.Detail)" + "?id=" + data.Id +
                "&&tab=" + "@TargetTab.TAB_PLTP.ToDescription()";
        }

        //init Status Data Option
        function statusOption(element) {
            var ds = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.DATASTATUS",
                "@Field.Text",
                null
            );

            element.kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel",
                filter: "@FilterOperator.Contains.ToDescription()"
            });
        }

        function initAreaOptions(element) {
            var ds = generateOptionDataSource(
                "@Url.Action(ActionSite.BindingOption)",
                "@OptionType.AREA",
                "@Field.Name",
                null
            );

            element.kendoDropDownList({
                dataSource: ds,
                dataTextField: "@Field.Text",
                dataValueField: "@Field.Value",
                optionLabel: "@Component.OptionLabel",
                filter: "@FilterOperator.Contains.ToDescription()"
            });
        }
    </script>
}