﻿@using Common.Enums
@using System.Reflection
@{
    ViewBag.Title = "Dashboard";
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
}
<div class="wrapper wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                       
                    </div>
                    <div class="ibox-content">                       
                        
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            initElement();
        });        

        function initElement() {            
           
        }
    </script>
}