﻿@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.OperationData.Controllers.MonitoringController)ViewContext.Controller;

    ViewBag.Title = TitleSite.Monitoring;
}

<div class="row m-b">
    <div class="col-xs-12">
        <div class="alert alert-info" style="margin-left: 0px;margin-right: 0px;">
            <strong>Monitoring Task Report Color Status:</strong>
            <div class="row">
                <div class="col-xs-4">
                    <div class="alert alert-success" style="color:#F5F5F5;background-color:#33b679;">
                        <strong>Approved</strong> Task Report
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="alert alert-warning" style="color:#F5F5F5;background-color:#f6bf26;">
                        <strong>Waiting</strong> Task Report
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="alert alert-danger" style="color:#F5F5F5;background-color:#e67c73;">
                        <strong>No Data</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="panelScheduler">
</div>

@section scripts
{
    <script type="text/javascript">

        var areas, schedulerData = [];

        $(function () {
            getListArea();
        });

        function getListArea() {
            $.ajax({
                url: "@Url.Action("GetListArea")",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    areas = data;
                    $.each(areas, function (i, area) {
                        schedulerData.push({
                            "area": parseInt(area.Value),
                            "models": null
                        });
                    });
                    initAreaBox();
                }
            });
        }

        function initAreaBox() {
            $.each(areas, function (i, area) {
                console.log(area.Text.replace(/\s+/g, ''))
                var areaBox =
                    "<div class=\"ibox\">" +
                    "<div class=\"ibox-title\"><h2>" + area.Text + "</h2></div>" +
                    "<div class=\"ibox-content\">" +
                    "<div class=\"row\"><div class=\"col-xs-8\"><div id=\"" + area.Text.replace(/\s+/g, '') + "-scheduler" + "\"></div></div></div>" +
                    "</div>" +
                    "</div>";
                $(areaBox).appendTo($("#panelScheduler"));
            });
            initAllScheduler();
        }

        function initAllScheduler() {            
            $.each(areas, function (i, area) {

                initScheduler(area.Text.replace(/\s+/g, '') + "-scheduler", parseInt(area.Value));
            });
        }

        function invokeEvent(e) {
            e.preventDefault();
        }

        function initScheduler(elementId, areaId) {            
            var scheduler = $("#"+elementId).kendoScheduler({
                //width: 500,
                //height: 500,
                date: new Date(),
                add: function (e) {
                    e.preventDefault();
                    //console.log(e.event.start);
                },
                cancel: invokeEvent,
                edit: invokeEvent,
                move: invokeEvent,
                moveStart: invokeEvent,
                moveEnd: invokeEvent,
                remove: invokeEvent,
                resize: invokeEvent,
                resizeStart: invokeEvent,
                resizeEnd: invokeEvent,
                views: [{ type: "month" }],
                navigate: function (e) {
                    setTimeout(function () {
                        var startDate = e.sender._selectedView._startDate;
                        var endDate = e.sender._selectedView._endDate;

                        $(scheduler.element).find("div.k-scheduler-header").find("th").addClass("text-center");

                        $.each($(scheduler.element).find("td[role=\"gridcell\"]"), function (i, element) {
                            //$(element).css("background-color", "#d32f2f"); //set to red d32f2f no data || yellow FBC02D draft || green 00796B approve
                            var c = $(element).children()[0];
                            var cText = $(c).text();
                            $(c).empty();
                            $(c).removeClass();
                            $(c).addClass("text-center");
                            if ($(element).hasClass("k-other-month")) {
                                $(c).css("color", "#757575");
                            } else {
                                $(c).css("color", "#F5F5F5");
                            }
                            $("<h3 style=\"margin-top:33px;\"><strong>" + cText + "</strong></h3>").appendTo(c);
                        });

                        startDate = startDate.getFullYear() + "-" + (parseInt(startDate.getMonth()) + 1) + "-" + startDate.getDate();
                        endDate = endDate.getFullYear() + "-" + (parseInt(endDate.getMonth()) + 1) + "-" + endDate.getDate();

                        $.ajax({
                            url: "@Url.Action("GetTaskReportByParam")",
                            type: "POST",
                            async: true,
                            dataType: "json",
                            data: { "areaId": areaId, "startDate": startDate, "endDate": endDate },
                            success: function (models) {
                                $.each(schedulerData, function (i, objek) {
                                    if (objek.area === areaId) {
                                        objek.models = models;
                                    }
                                });
                                console.log(models)
                                var schedulerDay = $(scheduler.element).find("td[role=\"gridcell\"]");           
                                for (var i = 0; i < schedulerDay.length; i++) {
                                    if (models[i].Status !== null) {
                                        if (models[i].Status === "@DataStatus.APPROVED") {
                                            $(schedulerDay[i]).css("background-color", "#33b679"); //green
                                            $(schedulerDay[i]).css("cursor", "pointer");
                                        } else if (models[i].Status === "@DataStatus.WAITING") {
                                            $(schedulerDay[i]).css("background-color", "#f6bf26"); //yellow
                                            $(schedulerDay[i]).css("cursor", "pointer");
                                        } else {
                                            $(schedulerDay[i]).css("background-color", "#e67c73"); // red
                                        }
                                    } else {
                                        $(schedulerDay[i]).css("background-color", "#e67c73"); //red
                                    }
                                    //$(schedulerDay[i]).css("cursor", "pointer");
                                }

                                for (var i = 0; i < schedulerDay.length; i++) {
                                    $(schedulerDay[i]).dblclick(function (e) {
                                        for (var j = 0; j < schedulerDay.length; j++) {
                                            if (e.currentTarget === schedulerDay[j]) {
                                                schedulerDayOnDoubleClick(areaId, j);
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    }, 0);
                }
            }).data("kendoScheduler");

            if (scheduler !== undefined)
                scheduler.trigger("navigate");
        }

        function schedulerDayOnDoubleClick(areaId, indexModel) {
            $.each(schedulerData, function (i, model) {
                if (model.area === areaId) {
                    var url = null;
                    if (model.models[indexModel].Id !== 0) {
                        url =  kendo.format("{0}?id={1}&&tab=tab1", "@Url.Action(ActionSite.Detail, ControllerSite.InputData, new { area = AreaSite.OperationData })", model.models[indexModel].Id);
                    } else {
                        @*url = kendo.format("{0}", "@Url.Action(ActionSite.Index, ControllerSite.InputData, new { area = AreaSite.OperationData })");*@
                    }
                    //window.open(url, '_blank');
                    if (url !== null) {
                        window.open(url, '_blank');
                    }
                }
            });
        }
    </script>
}