﻿@using WebUI.Models
@model WebUI.Areas.DataMaster.Models.MaintainPriceSteamFormStub
@{
    string currentController = (string)ViewContext.RouteData.Values["controller"];
    string currentAction = (string)ViewContext.RouteData.Values["action"];
    var thisController = (WebUI.Areas.DataMaster.Controllers.MaintainPriceSteamController)ViewContext.Controller;

    bool hasAccess = false;
    Principal user = User as Principal;

    ViewBag.Title = TitleSite.MaintainHargaUap;

    string backLink = Url.Action(ActionSite.BackToIndex, new { powerPlantId = Model.PowerPlantId });

    WebUI.Models.WorkflowPresentationStub curWorkflow = new WebUI.Models.WorkflowPresentationStub();
    if (Model.Workflows.Count > 0) { curWorkflow = Model.Workflows.Where(x => x.Active == true).First(); }

    PopupFormStub popupForm = new PopupFormStub()
    {
        PopupTitle = "Revisi",
        FormMethod = "post",
        FormAction = Url.Action(ActionSite.Revise),

        FormFields = new List<PopupFormStub.FormElement>()
{
    new PopupFormStub.FormElement()
    {
        Type = PopupFormStub.FormElement.ElementType.INPUT_HIDDEN,
        Name = "id",
        Value = Model.Id.ToString()
    },
    new PopupFormStub.FormElement()
    {
        Type = PopupFormStub.FormElement.ElementType.TEXTAREA,
        Label = "Pesan",
        Name = "message"
    }
},

        FormButtons = new List<PopupFormStub.FormElement>()
{
    new PopupFormStub.FormElement()
    {
        Type = PopupFormStub.FormElement.ElementType.SUBMIT,
        Class = "btn btn-primary",
        Value = "Revisi"
    }
}
    };
}

@if (Model.PowerPlant.SOType == SOType.ZPGE.ToString())
{
    Html.RenderPartial("App/_workflow", Model.Workflows);
}
@{Html.RenderPartial("App/_PopupForm", popupForm);}

<div class="row">
    <div class="form-group">
        @Html.Raw(thisController.GetMessage())
    </div>
</div>

@if ((Model.PowerPlant.SOType == SOType.ZPGE.ToString()) && (!Model.IsEditable) && !(Model.IsApprovable))
{
    <div class="alert alert-danger alert-normal m-b-n" role="alert">
        <h3 class="alert-heading">Warning</h3>
        Data tidak dapat diedit karena sudah digunakan
    </div>
}

@if ((Model.LastSteamPowerPlantPriceApproval != null) && (Model.LastSteamPowerPlantPriceApproval.Notes != ""))
{
    <div class="alert alert-warning alert-normal m-b-n" role="alert">
        <h3 class="alert-heading">Revisi</h3>
        @Html.Raw(Model.LastSteamPowerPlantPriceApproval.Notes)
    </div>
}

<div class="ibox">
    <div class="ibox-title">
        <h5>Indeks Inflasi @Model.PowerPlant.Name</h5>
    </div>
    <div class="ibox-content">
        @using (@Html.BeginForm(currentAction, currentController, FormMethod.Post, new { @class = "form-horizontal not-track-change", id = "CreateForm" }))
        {
            @Html.ValidationSummary(true)

            @Html.HiddenFor(x => x.Id);
            @Html.HiddenFor(x => x.PowerPlantId);
            @Html.HiddenFor(x => x.IsDraft);
            @Html.HiddenFor(x => x.WorkflowId);
            @Html.HiddenFor(x => x.Year);

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control always-validate" })
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-right">
                    @if (Model.PowerPlant.SOType == SOType.ZTS.ToString())
                    {
                        <h5>Additional</h5>
                    }
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PrevPrice, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.PrevPrice, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>


                    @if (Model.PowerPlant.SOType == SOType.ZPGE.ToString())
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.IncreasePercentage, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.IncreasePercentage, new { @class = "form-control form-control-decimal-n4 always-validate" })
                                @Html.ValidationMessageFor(model => model.IncreasePercentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.IncreasePercentage, new { @value = "0" })
                    }

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, new { @class = "col-xs-4 control-label" })
                        <div class="col-xs-8">
                            @if (Model.PowerPlant.SOType == SOType.ZPGE.ToString())
                            {
                                @Html.TextBoxFor(model => model.Price, new { @class = "form-control"})
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Price, new { @class = "form-control-decimal-n4" })
                            }
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    @if (Model.PowerPlant.SOType == SOType.ZTS.ToString())
                    {
                        @Html.HiddenFor(model => model.IncreasePercentageAdd, new { @value = "0" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.PrevPriceAdd, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.PrevPriceAdd, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PriceAdd, new { @class = "col-xs-4 control-label" })
                            <div class="col-xs-8">
                                @Html.TextBoxFor(model => model.PriceAdd, new { @class = "form-control form-control-decimal-n4" })
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-xs-10">
                    @if ((Model.IsEditable) && (Model.IsApprovable) && (Model.PowerPlant.SOType == SOType.ZPGE.ToString()))
                    {
                        <button id="btnSaveDraft" type="button" class="btn btn-warning">Save as Draft</button>
                    }
                    @if ((Model.IsEditable) && (!Model.IsApprovable) && (Model.PowerPlant.SOType == SOType.ZPGE.ToString()))
                    {
                        <button id="btnSave" type="button" class="btn btn-primary">Simpan</button>
                    }
                    @if (Model.IsApprovable && (Model.PowerPlant.SOType == SOType.ZTS.ToString()))
                    {
                        <button id="btnApprove" type="button" class="btn btn-primary">Save</button>
                    }
                    @if (!Model.IsApprovable && (Model.PowerPlant.SOType == SOType.ZTS.ToString()))
                    {
                        <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                    }

                    @switch (Model.WorkflowId)
                    {
                        case 14:
                            hasAccess = user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.ASMEN });
                            break;
                        case 15:
                            hasAccess = user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.MANAGER_AREA });
                            break;
                        case 17:
                            hasAccess = user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.OE_VERIFICATION });
                            break;
                        case 19:
                            hasAccess = user.HasAccess(new UserRole?[] { UserRole.Superadmin, UserRole.MANAGER_OE });
                            break;
                        default:
                            break;
                    }

                    @if (Model.IsApprovable && hasAccess && (Model.PowerPlant.SOType == SOType.ZPGE.ToString()))
                    {
                        <button id="btnApprove" type="button" class="btn btn-primary">@curWorkflow.Approver</button>
                    }
                    @if (Model.IsRevisable && hasAccess && (Model.PowerPlant.SOType == SOType.ZPGE.ToString()))
                    {
                        <button id="btnRevise" type="button" class="btn btn-danger">Revise</button>
                    }
                    <a href="@backLink" class="btn btn-link">Kembali</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var start, end;

		$(function () {
            initElement();
            var initDateStart = kendo.toString(kendo.parseDate("@Model.StartDate"), 'yyyy-MM-dd');
            start.val(initDateStart);
            var initDateEnd = kendo.toString(kendo.parseDate("@Model.EndDate"), 'yyyy-MM-dd');
            end.val(initDateEnd);
		});

        function bindDate() {
            var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');          
            start =$("#@Field.StartDate").kendoDateTimePicker({
                format: "@DisplayFormat.SqlDateFormat",
                //min: new Date(todayDate),
                change: function (e) {
                    todayDate = kendo.toString(start.val(), 'MM/dd/yyyy');
                    var endDate = new Date(todayDate);
                    endDate = new Date(endDate.getFullYear()+1, endDate.getMonth(), endDate.getDate());
                    var datetimepicker = $("#@Field.EndDate").data("kendoDateTimePicker");
                    datetimepicker.min(new Date(todayDate));
                    datetimepicker.value(endDate);

                    if (start.val() != null && end.val() != null) {
                         var href = urlAction("@AreaSite.DataMaster", "@ControllerSite.MaintainPriceSteam", "@ActionSite.Check");
                        href += "?powerPlantId=" + $("#@Field.PowerPlantId").val();
                        href += "&startDate=" + kendo.toString(start.val(), "@DisplayFormat.SqlDateFormat");
                        href += "&endDate=" + kendo.toString(endDate, "@DisplayFormat.SqlDateFormat");
                        window.location.href = href;
                    }
                }
            });
             end = $("#@Field.EndDate").kendoDateTimePicker({
                format: "@DisplayFormat.SqlDateFormat",
                 //min: new Date(todayDate),
                change: function (e) {
                    todayDate = kendo.toString(end.val(), 'MM/dd/yyyy');                   
                    console.log("end"+todayDate);
                    var datetimepicker = $("#@Field.StartDate").data("kendoDateTimePicker");
                    datetimepicker.max(new Date(todayDate));

                    if (start.val() != null && end.val() != null) {
                         var href = urlAction("@AreaSite.DataMaster", "@ControllerSite.MaintainPriceSteam", "@ActionSite.Check");
                        href += "?powerPlantId=" + $("#@Field.PowerPlantId").val();
                        href += "&startDate=" + kendo.toString(start.val(), "@DisplayFormat.SqlDateFormat");
                        href += "&endDate=" + kendo.toString(end.val(), "@DisplayFormat.SqlDateFormat");
                        window.location.href = href;
                    }
                   
                }
            });
        }

        function bindDateChange() {

        }

		function bindYear() {
			$("#Year").kendoNumericTextBox({
				decimals: 0,
				format: "0",
				spinners: true
			});
		}

        function bindYearChange() {

            $("#@Field.Year").on("change", function () {
                var year = $("#@Field.Year").val();
                    if (year !== "") {
                        var href = urlAction("@AreaSite.DataMaster", "@ControllerSite.MaintainPriceSteam", "@ActionSite.Check");
                        href += "?powerPlantId=" + $("#@Field.PowerPlantId").val();
                        href += "&year=" + $("#@Field.Year").val();
                        window.location.href = href;
                    }
                });
		}

		function bindBtnSaveDraft() {
			$("#btnSaveDraft").click(function (e) {
				e.preventDefault();
				$("#IsDraft").val(true);

				if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
					var increasePercentage = $("#IncreasePercentage").val();
					var price = $("#Price").val();

					if (increasePercentage !== undefined && increasePercentage.indexOf(".") >= 0)
						increasePercentage = increasePercentage.replace('.', ',');
					if (price !== undefined && price.indexOf(".") >= 0)
						price = price.replace('.', ',');

					$("#IncreasePercentage").val(increasePercentage);
					$("#Price").val(price);

					if ($("#PriceAdd").val() !== undefined) {
						var increasePercentageAdd = $("#IncreasePercentageAdd").val();
						var priceAdd = $("#PriceAdd").val();

						if (increasePercentageAdd !== undefined && increasePercentageAdd.indexOf(".") >= 0)
							increasePercentageAdd = increasePercentageAdd.replace('.', ',');
						if (priceAdd !== undefined && priceAdd.indexOf(".") >= 0)
							priceAdd = priceAdd.replace('.', ',');

						$("#IncreasePercentageAdd").val(increasePercentageAdd);
						$("#PriceAdd").val(priceAdd);
					}

					console.log($("#CreateForm").valid())
				}

                if ($("#CreateForm").valid()) {
                    $("#CreateForm").submit();
                }
			})
		}

		function bindBtnSave() {
			$("#btnSave").click(function (e) {
				e.preventDefault();
				$("#IsDraft").val(false);

				if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
					var increasePercentage = $("#IncreasePercentage").val();
					var price = $("#Price").val();

					if (increasePercentage !== undefined && increasePercentage.indexOf(".") >= 0)
						increasePercentage = increasePercentage.replace('.', ',');
					if (price !== undefined && price.indexOf(".") >= 0)
						price = price.replace('.', ',');

					$("#IncreasePercentage").val(increasePercentage);
					$("#Price").val(price);

					if ($("#PriceAdd").val() !== undefined) {
						var increasePercentageAdd = $("#IncreasePercentageAdd").val();
						var priceAdd = $("#PriceAdd").val();

						if (increasePercentageAdd !== undefined && increasePercentageAdd.indexOf(".") >= 0)
							increasePercentageAdd = increasePercentageAdd.replace('.', ',');
						if (priceAdd !== undefined && priceAdd.indexOf(".") >= 0)
							priceAdd = priceAdd.replace('.', ',');


						$("#IncreasePercentageAdd").val(increasePercentageAdd);
						$("#PriceAdd").val(priceAdd);
					}
				}

                console.log($("#CreateForm").valid())
                if ($("#CreateForm").valid()) {
                    $("#CreateForm").submit();
                }
			})
		}

		function bindBtnApprove() {
			$("#btnApprove").click(function (e) {
				e.preventDefault();
				$("#IsDraft").val(false);

				if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
					var increasePercentage = $("#IncreasePercentage").val();
					var price = $("#Price").val();

					if (increasePercentage !== undefined && increasePercentage.indexOf(".") >= 0)
						increasePercentage = increasePercentage.replace('.', ',');
					if (price !== undefined && price.indexOf(".") >= 0)
						price = price.replace('.', ',');

					$("#IncreasePercentage").val(increasePercentage);
					$("#Price").val(price);

					if ($("#PriceAdd").val() !== undefined) {
						var increasePercentageAdd = $("#IncreasePercentageAdd").val();
						var priceAdd = $("#PriceAdd").val();

						if (increasePercentageAdd !== undefined && increasePercentageAdd.indexOf(".") >= 0)
							increasePercentageAdd = increasePercentageAdd.replace('.', ',');
						if (priceAdd !== undefined && priceAdd.indexOf(".") >= 0)
							priceAdd = priceAdd.replace('.', ',');

						$("#IncreasePercentageAdd").val(increasePercentageAdd);
						$("#PriceAdd").val(priceAdd);
					}
				}
				$("#CreateForm").submit();
			})
		}

		function bindBtnRevise() {
			$("#btnRevise").click(function (e) {
				e.preventDefault();
				$("#@popupForm.PopupId").modal("show");
			})
		}

		function bindCalculate() {
			if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
				$("#IncreasePercentage").on("change", function () {
					var prevPrice = $("#PrevPrice").val();
					var increasePercentage = $("#IncreasePercentage").val();

					if (prevPrice !== undefined && prevPrice.indexOf(",") >= 0)
						prevPrice = prevPrice.replace(',', '.');
					if (increasePercentage !== undefined && increasePercentage.indexOf(",") >= 0)
						increasePercentage = increasePercentage.replace(',', '.');


					prevPrice = parseFloat(prevPrice);
					increasePercentage = parseFloat(increasePercentage);

					var price = prevPrice * (1 + (increasePercentage / 100));
					$("#Price").val(price);
                });

                $("#Price").on("change", function () {
                    console.log("ca");
                    var prevPrice = $("#PrevPrice").val();
                    var price = $("#Price").val();

                    if (prevPrice !== undefined && prevPrice.indexOf(",") >= 0)
                        prevPrice = prevPrice.replace(',', '.');
                    if (price !== undefined && price.indexOf(",") >= 0)
                        price = price.replace(',', '.');


                    prevPrice = parseFloat(prevPrice);
                    price = parseFloat(price);

                    var percentage = ((price * 100) / prevPrice) - 100;
                    $("#IncreasePercentage").data("kendoNumericTextBox").value(percentage);
                });

				if ($("#PriceAdd").val() !== undefined) {
					$("#IncreasePercentageAdd").on("change", function () {
						var prevPriceAdd = $("#PrevPriceAdd").val();
						var increasePercentageAdd = $("#IncreasePercentageAdd").val();

						if (prevPriceAdd !== undefined && prevPriceAdd.indexOf(",") >= 0)
							prevPriceAdd = prevPriceAdd.replace(',', '.');
						if (increasePercentageAdd !== undefined && increasePercentageAdd.indexOf(",") >= 0)
							increasePercentageAdd = increasePercentageAdd.replace(',', '.');


						prevPriceAdd = parseFloat(prevPriceAdd);
						increasePercentageAdd = parseFloat(increasePercentageAdd);

						var priceAdd = prevPriceAdd * (1 + (increasePercentageAdd / 100));
						$("#PriceAdd").val(priceAdd);
					});
				}
			}
		}

		function initDisableEdit() {
			if ("@Model.IsEditable" == "False") {
				$("#Year").prop("readonly", true);
				if ("@Model.PowerPlant.SOType" == "@SOType.ZPGE.ToString()") {
					$("#IncreasePercentage").prop("readonly", true);
				} else {
					$("#Price").data("kendoNumericTextBox").readonly(true);
					$("#PriceAdd").data("kendoNumericTextBox").readonly(true);
				}
			}
		}

		function initElement() {
			//bindYear();
            //bindYearChange();            
            bindDate();
			bindBtnSaveDraft();
			bindBtnSave();
			bindBtnApprove();
			bindBtnRevise();
			bindCalculate();
			initDisableEdit();
		}
    </script>
}
